[2021-01-06 16:24] lalitpagaria commented on #716
On Linux and Mac, by default Transformers download model on `~/.cache/torch/transformers/` location.
Not sure about Windows. More information you can get from https://stackoverflow.com/questions/61798573/where-does-hugging-faces-transformers-save-models

[2021-01-06 16:34] Timoeller commented on #715
Awesome, thanks for the pointers @lalitpagaria
I will look into it in this sprint

[2021-01-06 17:00] tholor commented on #664
Not finally decided yet, but as it's quite deeply integrated in Haystack Hub, we will at least start with a closed source version...

[2021-01-06 17:19] lalitpagaria commented on #709
@Victor7095 Regarding your issue can I see that you are using write mode `zip_archive = zipfile.ZipFile(temp_file.name, mode="w")`. But latest haystack code not passing any file mode (https://github.com/deepset-ai/haystack/blob/master/haystack/preprocessor/utils.py#L263) and it that case `zipfile` util use read mode by default (https://github.com/python/cpython/blob/master/Lib/zipfile.py#L1207).

[2021-01-06 18:13] Victor7095 commented on #709
I tried opening VS Code as well WIndows Terminal as admin it still gives the Permission Denied  error when running the code. I was passing write mode while trying to figure out the problem, I removed it but didn't change nothing.

I also created a fresh new python enviroment and tried to install lastest code by following the tutorial command `pip install git+https://github.com/deepset-ai/haystack.

[2021-01-06 20:36] lalitpagaria commented on #709
Not sure about this error. Can you please following snippet (directly downloading and extracting) as suggested here https://stackoverflow.com/questions/9419162/download-returned-zip-file-from-url -
[code]

[2021-01-07 08:17] tholor commented on #709
On the previous code I sucessfully installed haystack with pip install farm-haystack -f https://download.pytorch.org/whl/torch_stable.html

Yes, this is an annoying torch-specific thing on Windows: you need to add the `-f https://download.pytorch.org/whl/torch_stable.html` to your pip command (see https://pytorch.org/get-started/locally/)

[2021-01-07 14:34] Petitbonzai31 commented on #716
Ok thanks.
So can i copy the content of this cache directory (~/.cache/huggingface/transformers) and use in this in docker-Compose file ?
They is a variable called : READER_MODEL_PATH=home/user/models/roberta-base-squad2

[2021-01-07 16:00] Victor7095 commented on #709
The problem when fetching the file was resolved with this code 👍

But I'm having another problem. I'm going to explain now but it might be better to create antoher issue for that.

1. I created a new enviroment and installed haystack with `pip install git+https://github.com/deepset-ai/haystack.git -f https://download.pytorch.org/whl/torch_stable.html`

2. Downloaded elasticsearch zip file for wind

[2021-01-07 20:56] lalitpagaria opened #719 "Support Google SMITH algorithm for long docs matching"
Currently all BERT based models support searching/matching upto 512 chars long docs. Upcoming [SMITH algorithm/encoder](https://research.google/pubs/pub49617) looks promising and perform better for long docs (2048 chars long).

I think this would go in FARM but not sure. I am happy to work on it if supported.

[2021-01-08 09:25] Timoeller commented on #719
Hey @lalitpagaria thanks for pointing out this paper, seems like a useful resource. As you said, new model types preferably go into FARM through HF transformers integration.

This particular approach is good for semantically matching two long documents, which is not really QA but still might be a useful use case for haystack: when a user finds an answer inside a document, the user might be interes

[2021-01-08 09:27] lalitpagaria commented on #719
@Timoeller yes it make sense to wait for implementation in Transformers

[2021-01-08 11:50] Rob192 commented on #709
Hello,

I am having the same issue here concerning this RuntimeError with freeze_support(). It seems to me that for some reason the tutorial file is read again when the reader is initiated. Also does the same error with the FARMreader.

I am running haystack on Windows 10, with farm==0.5.0
-e git+https://github.com/deepset-ai/haystack.git@74b0868d28bd773bd47f35c6b698991355ae0883#egg=farm_haystack

[2021-01-08 13:30] tholor commented on #651
Implemented via #698

[2021-01-08 13:30] #651 closed

[2021-01-08 13:42] vdandenault opened #720 "ElasticsearchDocumentStore connection to"
**Question**
Is it possible to connect to an Elasticsearch cluster requiring an SSL connection ?

**Additional context**
Add any other context or screenshots about the question (optional).
I'm currently trying to set up a POC with HayStack to test new features from V0.6.0, and I'm having trouble using the _ElasticsearchDocumentStore_. In in fact, I currently have an Elasticsearch cluster that I wa

[2021-01-08 14:49] adithyaan-creator opened #721 "Issue with PDFToTextConverter"
**Describe the bug**
Having issues with the pdf2text converter. seems its some issues with the modeul pdftotext

**Error message**
pdftotext is not installed. It is part of xpdf or poppler-utils software suite.

**System:**
 - OS: Linux(colab)
 - GPU/CPU:CPU

[2021-01-08 15:07] tholor commented on #721
Hey @adithyaan-creator ,

What error message did you get? If xpdf is not installed on your OS, you should actually see this error message with instructions for the installation: https://github.com/deepset-ai/haystack/blob/75d0ebd076f0ddc80c061f925f568c64cd0aaadc/haystack/file_converter/pdf.py#L27-L38

[2021-01-08 16:04] antoniolanza1996 commented on #720
Hey @vdandenault ,
have you tried with:
[code]
?

[2021-01-08 16:24] adithyaan-creator commented on #721
Thanks @tholor for your quick response.
Missed that.

[2021-01-08 16:27] psorianom commented on #705
Hi @ngoel17,

You may  check my script over [here](https://github.com/psorianom/DPR/blob/master/dpr2hf/squad2dpr.py) to do what you want. You may need to adapt the context characteristics (notably the length) to your needs. Also, it is not quite optimal in terms of memory usage :)

[2021-01-08 16:52] tholor commented on #721
Ok no problem. Happy to help :)
Feel free to re-open if you face any further problems during the installation...

[2021-01-08 16:52] #721 closed

[2021-01-09 05:04] mainadwitiya commented on #657
Yes, sorry.
lately I have been very busy with work.

[2021-01-09 08:19] tholor commented on #657
Sure, no worries. Take your time. Just wanted to understand if that's still your plan :)

[2021-01-09 17:33] lalitpagaria commented on #716
I think you need to copy these files either to `$HOME/.cache/huggingface/transformers` folder with same naming convention (ie they have some UUID or s3 bucket names) or set some env variable to point to your custom location. Refer this  https://github.com/huggingface/transformers/blob/master/docs/source/installation.md#caching-models

[2021-01-10 07:16] tholor commented on #716
Yep, @lalitpagaria is correct. You can copy your local cache folder to the containers cache dir. By doing that, your models will be resolved from cache instead of triggering a download.
However, I would rather advise to load a model outside of a container and save it to a local dir explicitly (e.g. by calling FARMReader.save("some-dir/roberta-squad2") ). You can then mount "some-dir" into the cont

[2021-01-11 08:17] Timoeller commented on #719
There does not seem to be an issue open in transformers. Do you prefer to open it there yourself or should I?
If you do please reference this issue, so we can track the progress better.

I will close this issue for now, feel free to add things or reopen.

[2021-01-11 09:00] Timoeller commented on #719
Sorry for changing states. This is a good idea for improvements to haystack and we should keep it in our icebox - potentially we might need to integrate it ourselves if it does not come to transformers.

[2021-01-11 13:49] brandenchan opened #725 "File Magic Numbers"
There are certain points in Haystack where we perform file type checks based on their extensions (e.g. .txt .pdf). As pointed out in #708 by @lalitpagaria, it would be better to do this using file magic numbers. We could implement this in 2 places:

- When performing file conversion
- When downloading a file using fetch_archive_from_http

TODO:
- [ ] implement double check for docx (e.g. `if file_

[2021-01-11 13:52] brandenchan commented on #725
Here is a file containing the results from my tests. My impression so far is that the python magic library seems to be better than filetype. However, it treats docx files as xml files (can be solved by a hierarchical system where any file classified by python magic library as xml is checked for .docx extension). Also I haven't full understood how it interacts with compressed files like .tar.gz, .t

[2021-01-11 14:06] lalitpagaria commented on #719
@Timoeller transformers is very big now and people there quite busy. So I am not sure when they will implement it if at all.

I see FARM bit independent from transformers so if this encoder bring good value to it, then why not to implement it inside FARM itself.

What I understood from this paper it is dual encoder model. And good for long documents matching. So I see it's value in Haystack retrie

[2021-01-11 14:24] julian-risch commented on #709
Thank you for reporting this problem. I was able to reproduce it. It seems that it is caused by the squad processor’s multiprocessing code. It is specific to running the code on Windows. If I am not mistaken, right now the multiprocessing imports the calling module (your tutorial code) and tries to execute it for every subprocess. As you reported, consequently it tries to start elasticsearch multi

[2021-01-11 14:59] brandenchan commented on #705
Hi @psorianom, thanks a lot for that suggestion! The script looks great and it would definitely be great to have it in Haystack.

Two things:
1) I see you use a character based length limit to split documents. I'm wondering if there's some way we can use Haystack's [PreProcessor object](https://github.com/deepset-ai/haystack/blob/281f9ff9709342bebd0f5b0e47bbab5a266b89e1/haystack/preprocessor/prepr

[2021-01-11 15:29] Timoeller commented on #719
Hey @lalitpagaria totally agreed with your points.

Putting the issue from "closed" into our icebox means we prioritizing it higher : )

And you are right, FARM is independent of transformers, integration of model architectures through transformers is just easier.

--------------------

Currently there are no immediate plans to incorporate SMITH in FARM though since it is not about retrieving long

[2021-01-11 15:29] ngoel17 commented on #705
Amazing. If it's integrated in Haystack with Branden's suggestions
included. that will be super useful. For the moment, We did a homegrown
version that seems to be working well but not quality enough for a PR.

On Fri, Jan 8, 2021 at 11:28 AM Pavel Soriano <notifications@github.com>
wrote:

[2021-01-11 17:33] julian-risch commented on #709
You need to encapsulate your code/the tutorial code in a function, e.g., `your_code()`. Then you can call this function from within a guard that ensures the code is executed only once and not by every spawned subprocess during the multiprocessing:

[code]
[code]
@Rob192 @Victor7095 Please let me know, if it works for you with this small change. Thank you.

[2021-01-11 18:46] Victor7095 commented on #709
It worked perfectly!
Both the problem if the fetch archive function and this multiprocessing issue are solved to me. I think the issue can be closed now, but I suggest updating the tutorial with notes for Windows users of these issues.
Thanks for the help. 👍

[2021-01-11 19:11] julian-risch commented on #709
Great to hear that. 👍 Yes, I will update the tutorials accordingly and close the issue afterwards.

[2021-01-11 20:28] Rob192 commented on #709
Thank you very much for your help !

[2021-01-11 20:40] Petitbonzai31 commented on #356
Hello @BNkosi, i’ve got the same error. How have you fixed it ? (Allocating more memory to Docker ?)
Thanks

[2021-01-11 21:23] lalitpagaria commented on #719
I created https://github.com/huggingface/transformers/issues/9526 in transformers. Hopefully they will pick it. 🤞🏼

[2021-01-11 21:56] lalitpagaria commented on #725
Actually docx is nothing but compressed collection of xml files. https://docs.fileformat.com/word-processing/docx/

Regarding compressed files [filetype](https://github.com/h2non/filetype.py#archive) lib claimed that it works perfectly.

I tested filetype on MacOS and it detected compressed files (tar, zip, gz, xz, tar.gz, pdf) correctly but failed in other files types (docx, txt, json, doc).

Not

[2021-01-11 22:07] lalitpagaria commented on #704
@Utomo88 it is nice paper. I think this paper and translation node both will add value.

@tholor please suggest

[2021-01-11 22:23] lalitpagaria opened #726 "Adding hydra for all configuration need (First rest APIs and later lib)"
[Hydra](https://github.com/facebookresearch/hydra) is very good framework to configure applications.

It remove lot of boilerplate required to configuration application like done here https://github.com/deepset-ai/haystack/commit/fcc052b554fb0220f0965971be11c9444d7c155f, with simple yaml.
I have been using it in my personal project for both rest api ([config file](https://github.com/lalitpagaria/o

[2021-01-12 11:10] Timoeller commented on #356
Normally docker allocates all of an instance's memory by default - you can only specify to restrict the memory usage.

Please try using a larger instance or maybe try using the --ipc="host" [docker option](https://docs.docker.com/engine/reference/run/#ipc-settings---ipc) - this solved some docker and memory related issues on our side (for python multiprocessing, not for ES).

[2021-01-12 11:32] vdandenault commented on #720
Hi @antoniolanza1996,

I did try to add this, but it doesn't seem to work.

The method _certifi.where()_ returns the reference to the installed certificate authority (CA) bundle.  (https://pypi.org/project/certifi/)

However, in the constructor of _ElasticsearchDocumentStore_, this parameter is a boolean value:
`analyzer: str = "standard",
  scheme: str = "http",
  ca_certs: bool = False,
  verify

[2021-01-12 11:40] psorianom commented on #705
Hello @brandenchan,

Yes! This seems interesting to work on.

indeed it is cleaner to use the PreProcessor object. I decided to deal with chars because I personally have some doubts on the quality of the nltk tokenizer (punkt) (specially for non English text). Still, I guess it is good enough for this use case.

About the Retriever, yes, I am currently using the ElasticSearchRetriever. I would do

[2021-01-12 12:00] brandenchan commented on #725
Ahhh good to know! Thanks

I ran the above experiment again using this python magic object with some new params and actually got much better and more interpretable results.

[code]

I think it would be worth going ahead with incorporating this package! @lalitpagaria  would you be interested in opening a PR?

[2021-01-12 15:36] antoniolanza1996 commented on #720
Here https://github.com/deepset-ai/haystack/blob/e9b5439b00690a92b9e385cae341d47a803f20d5/haystack/document_store/elasticsearch.py#L92
Haystack feeds `ca_certs` to this Elasticsearch Python Client and, as you can see [here](https://github.com/elastic/elasticsearch-py/blob/383d6a401a4a015e9cefc84a50063524baf4266b/elasticsearch/client/__init__.py#L113-L121), this parameter is not handled as a boolea

[2021-01-12 15:49] antoniolanza1996 commented on #720
And another thing: how do you configure `host` variable? There you have to write only the host, without HTTPS protocol at the beginning.

[2021-01-12 15:50] tholor commented on #720
Yes, I totally agree. The signature of the `ElasticsearchDocumentStore` seems wrong here - `ca_certs` should be a string rather than a boolean.

[2021-01-12 15:55] antoniolanza1996 commented on #720
@tholor probably you can mention it as a comment in the code. Otherwise you can set `ca_certs` as a string and put `None` as a default value.

[2021-01-12 15:58] tholor commented on #720
Yep, absolutely. Let's change the signature + docstring. Are you interested in creating a PR here? If not, I can take care of it...

[2021-01-12 16:15] brandenchan commented on #705
One alternative to abstract away this if/else switching would be to create a class that can be used to initialise any type of retriever

[code]
This class should eventually be able to handle the different initialization requirements of each type of document_store but here I think we should only need to implement basic initialization for each.

In the worst case, FAISS should return the exact same

[2021-01-12 16:18] brandenchan commented on #705
Great! Feel free to open a PR. And just ask if you need any pointers!

[2021-01-13 05:42] lalitpagaria commented on #725
@brandenchan Thanks for the update. Unfortunately I will not have time next 1-2 weeks. So if this is not urgent then you can assign to me so I will work on it when I will find free time.

[2021-01-13 05:46] dg4271 opened #732 "Evaluation of TransformersReader"
**Question**
What is best way to evaluate TransformersReader (I'm working on other language, korean)
I've tried referring [tutorial 5](https://haystack.deepset.ai/docs/latest/tutorial5md). But I can't evaluate using TransformersReader cause there is no eval() function.
There is any plan to implement it? or should i use FarmReader to do the evaluation?

[2021-01-13 07:05] 205g0 commented on #701
@tholor I'm also looing for T5 support because even an untrained T5 gave me outstanding results in question answering when a context was giving. No other model came close. However, I couldn't try RAG yet, was just looking to find a quick way to try it before I setup a proper pipeline but there wasn't any online demo avail.

Did you guys tested T5 against RAG re qa with given context already and ho

[2021-01-13 08:36] Timoeller commented on #701
No we havent tested T5 vs RAG yet, but we will do so, especially before we start implementing a `T5Generator` in haystack.

If you should benchmark both methods yourself in the meantime, please post your results here.

[2021-01-13 09:57] psorianom commented on #705
ok, perfect. Will do.
Regarding FAISS, well it's been a long time that I used it, so frankly I do not remember well the reason for the issues I found (it ended up crashing). In any case, we used both ES and FAISS at that time so maybe there was some problems with my Retriever's config. I'm gonna try test again with FAISS.

[2021-01-13 14:07] brandenchan commented on #725
That's no problem. It's not urgent but a nice to have. I'll assign us both to the task and we can queue it up in our backlogs

[2021-01-13 14:11] Timoeller commented on #732
Hey @dg4271 thanks for using haystack.

Indeed, please use the FARMReader for the evaluation for now. It should be able to load all QA models from the Huggingface modelhub - also a korean model like https://huggingface.co/monologg/koelectra-base-v3-finetuned-korquad. Or which model do you intend to use?

[2021-01-13 17:16] BNkosi commented on #356
Hi @Petitbonzai31, you just need an instance with more than 1GB of RAM. If I remember correctly I had the issue with a t2.micro, but a t2.small sorted it out. If not, the one above that.

[2021-01-13 17:17] #709 closed

[2021-01-14 10:51] brandenchan opened #735 "Ram Issue in Tutorial 9 (DPR Training) Colab"
When running the DPR Training tutorial in Colab, the download of the training dataset seems to run fine, but the program crashes before starting to download the dev file due to running out of RAM.
[code]
We need to find some way to reduce this RAM consumption. It likely has something to do with the way the files are being uncompressed
[code]

[2021-01-14 11:04] Timoeller commented on #735
How about our tutorial just uses small files so people can quickly go through the code + execution, and we have the links for the large datafiles for interested users as comments?

[2021-01-14 11:29] dg4271 commented on #732
Thanks, @Timoeller

I am using exactly that model (https://huggingface.co/monologg/koelectra-base-v3-finetuned-korquad)

As a related question, if implemented as follows,
[code]

I found warning message below.

Could not automatically detect from language it is.
         We guess it's an *ENGLISH* model ...         If not: Init the language model by supplying the 'language' param.

1. There seems

[2021-01-14 12:27] lalitpagaria commented on #714
@tholor There are steady increase of downloads from Windows users. I think I would be good idea setup CI on Windows platform as well.
![image](https://user-images.githubusercontent.com/19303690/104590889-3f192000-566c-11eb-94ed-686b91bd8d07.png)

[2021-01-14 12:32] lalitpagaria commented on #714
Same also true for downloads for different python versions as well.
![image](https://user-images.githubusercontent.com/19303690/104591381-e007db00-566c-11eb-9c89-032fcc42eef3.png)

[2021-01-14 12:51] Timoeller commented on #732
Exactly, it was an artifact that is now removed from farm. Please ignore the warning.

Does haystack (and I guess an ElastisSearch retriever) work with the korean model? If you run benchmarks please report back here some results, would be highly interested in non/english QA / ODQA results.

[2021-01-14 13:54] #593 closed

[2021-01-14 14:32] lalitpagaria commented on #735
Actually following line read whole file in memory also decompress it in memory as well.
[code]
Python 3 support buffered reading automatically so if change it to as follows memory utilization will improve -
[code]
I have not tested above snippet, I will do tonight. If this not work fine there is another solution to read file in [chunks](https://stackoverflow.com/questions/34632521/downloading-a-la

[2021-01-14 14:51] brandenchan commented on #735
Hey @lalitpagaria thanks so much for the suggestion! I actually tested it and it solved the problem. I haven't removed the tempfile code but I did integrate your snippet in #737.

[2021-01-14 15:09] lalitpagaria commented on #735
@brandenchan glad to know it. Thanks for testing it. 🙂

[2021-01-14 16:37] brandenchan commented on #601
Hi @vinchg, the new PR #733 should significantly improve the memory efficiency of update embeddings. Could you give this a try and let us know if it helps?

[2021-01-14 16:40] brandenchan commented on #666
Hi @gabinguo, the PR #733 should significantly reduce memory consumption by introducing a buffer. Could you try this out and let us know if it helps?

[2021-01-14 16:44] Timoeller commented on #719
transformers 4.2.0 has integrated Longformer https://huggingface.co/allenai/led-large-16384
that could be used for QA on long documents. Lets test this out soon.

[2021-01-14 23:37] vinchg commented on #601
Thank you guys! I'm a bit busy with other things atm so I'm not sure when I'll get around to testing, but when I do, I'll post my results

[2021-01-15 09:49] Rob192 opened #738 "Pipeline retriever cannot find documents in custom index"
Hello !
I run into an issue for which I am not sure what to do. maybe you guys can help !
Many thanks,

**Describe the bug**
When using a pipeline to retrieve docs that are stored in a different index than the index used for the instanciation of the document_store : pipeline.run throws a elasticsearch.exceptions.NotFoundError exception.
Currently my workaround is to search with the same index as t

[2021-01-15 10:17] dg4271 commented on #732
Of course. I'll share the results.

Thank you for your confirmation.

[2021-01-15 10:59] tanaysoni commented on #720
It should be now resolved with #730. Please feel free to update here if you face any issues.

[2021-01-15 10:59] #720 closed

[2021-01-15 11:00] PiffPaffM opened #739 "Proper Probabilities for Answers"
At the moment, we have pseudo probabilities in Haystack. Proper probabilities would be helpful to decide if it makes sense to show an answer to the user. If an answer has nothing to do with the question, the users are confused or even doubt that the technology is working.

[2021-01-15 11:15] Timoeller commented on #739
Totally, we need better and more reliable scores or even probabilities.

@julian-risch and me will be working on model confidence, that then results in better scores, the coming weeks. I think we will  tackle this in FARM, since it is a QA Modelling related task.

[2021-01-15 15:10] tanaysoni commented on #738
Hi @Rob192, thank you for raising the issue. I can reproduce this bug and will update here when it is resovled.

[2021-01-15 15:42] lalitpagaria commented on #719
I think it's already being tried and it do not performed well. Refer https://github.com/deepset-ai/haystack/issues/61

[2021-01-16 08:01] dg4271 opened #740 "finder.eval() for open-domain QA"
**Question**
Wouldn't the open_domain parameter be needed in the finder.eval() function to evaluate the common open-domain environment?
It applies to [retireval.eval()](https://haystack.deepset.ai/docs/latest/apiretrievermd#eval), but finder.eval() does not.

**Additional context**
I know [finder](https://github.com/deepset-ai/haystack/blob/master/haystack/finder.py) is being replaced by pipeline.

[2021-01-17 14:09] SasikiranJ opened #741 "Saving Pipeline to YAML"
**Question**
Hello everyone , I am looking for a way to save entire pipeline (retriever, reader) so that i can use that later . Like saving deep learning models into h5 is there anyway we can do this to the pipeline?
**Additional context**
Add any other context or screenshots about the question (optional).

[2021-01-17 14:53] chaozy opened #742 "Cannot import name 'windows_support'"
**Question**
Hi there, I am trying to apply haystack into a school project. i came up with an error when I tried `pip intall farm-haystack`

The error message is posted below.

Could you please give some instructions about how to debug it?  I am using pycharm on mac osx with python 3.6.
**Additional context**
[code]

[2021-01-17 15:35] lalitpagaria commented on #742
Can you try to `pip install setuptools` and then try.
Refer: https://nomodulenamed.com/m/setuptools.windows_support

[2021-01-17 15:38] lalitpagaria commented on #739
Hey @Timoeller I would like to learn this so I am happy to contribute if given direction.

[2021-01-17 15:53] chaozy commented on #742
@lalitpagaria It works! It seems that I have the wrong version of setuptools. Many thanks to your suggestion!

[2021-01-17 15:53] #742 closed

[2021-01-18 08:49] tanaysoni commented on #741
Hi @SasikiranJ, thank you for raising the issue. It's indeed a feature that would be helpful in many cases and we have it in the backlog with #599. I'll update here when it is implemented.

[2021-01-18 21:51] tgalery opened #743 "QA Context Management"
Hi there, thanks for the awesome library. I'm new to haystack and would like to understand a bit more of its internals. I'm working with some data in which a second query could only be answered by the documents retrieved by the first query. Suppose I have a document store comprised of e-commerce items and the following scenario.

Q1. Which Bluetooth speakers  are compatible with the 5.0 standard ?

[2021-01-19 07:46] SasikiranJ opened #744 "Question about generalization of QA models to out of domain data"
**Question**
Hi, I am little bit unclear about how reader producing answer from given documents? I am using a model which was trained on squad2 dataset. I want to know how model is producing answer from custom documents for different question without even being trained on my data? I am just passing my own documents and passing question to the model. Please let me know how transfer learning helping

[2021-01-19 09:19] Timoeller commented on #744
Hey @SasikiranJ that is indeed a good question (I reformulated the issue title accordingly). The ability of Question Answering Models to generalize to out of domain data (your custom documents) is an ongoing research topic.
For an up to date reference please have a look at the [EMNLP 20202 paper](https://www.aclweb.org/anthology/2020.emnlp-main.190/)

To give you some condensed guidance:
- In gene

[2021-01-19 10:52] AMChierici opened #747 "Question on FAQ Retrieval Tutorial -- with FAISS I get different performance"
**Question**
Hi, I went through the [FAQ tutorial](https://haystack.deepset.ai/docs/latest/tutorial4md), and I applied it to a dataset I am working on (it's public and can be downloaded [here](https://drive.google.com/drive/folders/1KfPgHZ5NXjKPYAZToYExL6e8DHAxPfC8?usp=sharing) for reproducibility of the issue). I want to use FAISS because I will mainly do dense similarity retrieval. However, the

[2021-01-19 10:55] tholor commented on #738
Hey @Rob192, could you please explain a bit your use case for running the pipeline against a different index than the one used for initializing the `DocumentStore`? I am currently not sure if passing an `index` param to the pipeline is the most elegant solution here and understanding your use case would help us to brainstorm a few different design choices ...

[2021-01-19 11:03] tholor commented on #611
@stefanondisponibile would you mind uploading the dataset and describing very roughly what you already tried? Thanks :)

[2021-01-19 11:04] tholor commented on #707
Seems resolved. @KVSAkhilesh Feel free to re-open if the problem persists or you have any further questions :)

[2021-01-19 11:04] #707 closed

[2021-01-19 11:04] tholor commented on #716
Seems resolved. @Petitbonzai31 Feel free to reopen if you have further questions on this :)

[2021-01-19 11:04] #716 closed

[2021-01-19 11:29] Timoeller commented on #739
Hey Lalit, thanks for the kind offer. This is actually a bigger topic that we started to plan and will tackle in the coming weeks.

We could definitely use your support and feedback on related the code we will write.
Once we have laid out our detailed plan in the linked FARM issue we can also discuss if there are smaller tasks for you to work on.
We can also have a call where we discuss the soluti

[2021-01-19 11:36] Rob192 commented on #738
Hello @tholor,
This behavior basically occured when I tried to launch something similar to the Evaluation Tutorial (number 5) which is also using different indexes for testing the `DocumentStore`. That's why I though it was good practice to evaluate the performances of our Pipelines on a different index.
Honeslty in practice I am not sure what would be the use case. My initial though was that it c

[2021-01-19 11:54] stefanondisponibile commented on #611
I'm very sorry for being late @tholor, but at the moment I don't have too much time to wrap my mind around this.

## Dataset.
However, I've uploaded the dataset(s) [here](https://www.kaggle.com/stefanondisponibile/quora-question-keyword-pairs) (will update the meta as soon as possible, but it should be pretty straight forward: `target` is `1` for `questions`, `0` for `keywords`.)

## Tests.
I've b

[2021-01-19 13:25] SasikiranJ opened #748 "About top_k_retrievers and top_k_reader"
**Question**
Hi, can anybody explain what is actually those two parameters doing?

**Additional context**
Add any other context or screenshots about the question (optional).

[2021-01-19 13:59] AMChierici opened #749 "Help with connecting SQL database for FAISS document store"
**Question**
Hi, if I want to build an FAQ retrieval system in the same fashion as you demonstrated in Tutorial 4. I initialized a FAISS document store without specifying any SQL DB. So, I have a few questions:
1. Do I need to use a SQL DB at all?
2. Do columns need to have certain names in the SQL DB?
3. Shall the SQL DB have defined a column for storing the embedding, or would I store the embedd

[2021-01-19 14:11] tholor commented on #726
Thanks for the suggestion @lalitpagaria . I actually like the idea and I think it would be worth exploring it when we work on #599. I had a deeper look at Hydra in the early days of FARM - back then it seemed that it was wonderful for "power users" but the entry barrier for new users seemed rather high. Things might have changed since then. Happy to have a second look at it ...

[2021-01-19 14:26] tholor commented on #704
I think cross-lingual QA will be an important feature for haystack in the future and it would be great to write queries in your native language -> find answers in docs of different language -> show / summarize results in native language again. So far, I have seen both approaches (translation-based and end-to-end multilingual models), but haven't derived yet a clear picture what would be best to ha

[2021-01-19 14:29] tholor commented on #748
Hey @SasikiranJ,

Please see https://haystack.deepset.ai/docs/latest/optimizationmd#Choosing-the-Right-top-k-Values and let me know if you have further questions on it :)

[2021-01-19 15:32] tholor commented on #658
@Timoeller @julian-risch please give this some quick thoughts when working on #739. If it cannot be tackled together with reader confidence, it would be great to at least plan a rough concept for generative models.

[2021-01-19 15:51] tholor commented on #747
@AMChierici Thanks for reporting. We will have a look. @julian-risch Can you please try to replicate and understand the root cause? Might be related to #672 .

[2021-01-19 16:23] tholor commented on #611
@stefanondisponibile Awesome! Thanks for the update :+1:

I can totally understand that you are limited on time and we really appreciate any help and contributions - also unfinished ones :)

We will do some experiments on our end and post an update here. If you have at some point more time and want to jump in again, just let us know.

[2021-01-19 16:41] tholor opened #750 "Create eval metrics from user feedback"
We already have an option to collect user feedback (via :+1: / :-1:  ) and store it as labels in the document store(see [docs](https://haystack.deepset.ai/docs/latest/domain_adaptationmd#User-Feedback)).

These labels can serve two purposes:
i) training data (already implemented)
ii) eval data (not really possible yet)

Let's add a simple API Endpoint that tells eval scores based on the user feedb

[2021-01-19 18:15] gabinguo commented on #666
Thanks a lot for your great work. I will test on this and post the result when possible.

[2021-01-19 19:04] lalitpagaria commented on #739
Sure make sense. Ping me when you start working on this topic.

Excited to work with @julian-risch, his number of publications in his PhD are beyond imagination. Specially topic related to abusive language detection.

[2021-01-19 20:07] nliu86 opened #752 "Support for DPRReader"
Is there a plan to support DPRReader soon?

From DPR paper:
"the reader assigns a passage selection score to each passage"
"The passage selection model serves as a reranker through cross attention between the question and the passage"

So this DPRReader can be very useful by serving as a reranker on top of k retrieved passages.

[2021-01-20 09:59] gauthamn-vuram opened #753 "How to get the training loss and accuracy into a variable after training the reader?"
![image](https://user-images.githubusercontent.com/76140177/105158245-c74b6980-5b33-11eb-8f4b-cb43204ddbda.png)

The reader.train() function logs the training loss occurred in each epoch as shown in the above screenshot. Is there a way to fetch the final training loss and accuracy into a variable after training?

[2021-01-21 08:12] antoniolanza1996 commented on #752
Related issue: https://github.com/deepset-ai/haystack/issues/440

[2021-01-21 08:43] sowmiya-jagan opened #756 "Adding the custom_query in ElasticSearch Retriever throwing error"
I am trying to add a sample dictionary in the ElasticSearch Retriever - custom_query parameter. When I try to retrieve using the filters in retriever.run() it's throwing an error.

Haystack version `farm-haystack==0.5.0`

`from haystack.retriever.sparse import ElasticsearchRetriever`

_Using ElasticsearchRetriever retriever_
`retriever = ElasticsearchRetriever(document_store=document_store, custom

[2021-01-21 08:47] tanaysoni commented on #756
Hi @sowmiya-jagan, the custom query should be of the `str` type. Could you try again putting quotes around the custom_query dictionary?

[2021-01-21 08:57] sowmiya-jagan commented on #756
Hi, @tanaysoni  thanks for the quick response.

I have tried,

`retriever= ElasticsearchRetriever(document_store=document_store,custom_query= '{"size": 10, "query": {"bool": {"should": [{"multi_match": {"query": "${query}", "type": "most_fields", "fields": ["text", "title"]}}],"filter": [{"terms": {"year": "${years}"}}]}}})')`

`retriever.run(query= "What are the types of data?",filters = {"years"

[2021-01-21 15:00] #601 closed

[2021-01-21 19:43] lalitpagaria commented on #735
@tholor This can be closed now

[2021-01-21 19:50] lalitpagaria commented on #704
What do you suggest?

For short term I contribute a translator node, which user can plugged to pipeline, if you think it will add value.

[2021-01-21 21:08] julian-risch commented on #753
Hi @gauthamn-vuram , thanks for reaching out. Fetching the final training loss should be feasible, yes. However, when it comes to accuracy or any other evaluation metrics, I think you might want to use the Evaluator. Let me have a look. I will report back here. In the mean time:
Have you tried using the Evaluator for your purposes with the **training** dataset?
`data_loader = data_silo.get_data_lo

[2021-01-21 22:29] krishanudb opened #758 "SQLite OperationalError in SQLDocumentStore"
In the following lines, I get errors:
[code]

The error message:
[code]

[2021-01-21 22:34] krishanudb opened #759 "Using custom retrieved data for running RAG"
Hi,
I am interested in using RAG for Question Answering but using a custom set of contexts retrieved by another program.

Can someone tell me how to do this?

Thanks

[2021-01-21 22:37] lalitpagaria opened #760 "[SQLDocumentStore] delete_all_documents() method is missing commit statement"
**Describe the bug**
`SQLDocumentStore`'s  `delete_all_documents()` method not calling `session.commit()`. This may cause unintended behaviour. This is pointed out by @tholor at https://github.com/deepset-ai/haystack/pull/620#pullrequestreview-560301182

**Expected behavior**
Add `session.commit()` to `delete_all_documents()` along with exception handling and `session.rollback()` incase of failure

[2021-01-21 22:48] lalitpagaria commented on #759
Could you please elaborate your use case more.

If you don't want to use retriever and pass your own data then it is possible with Haystack RAG, as follows :) -
[code]

[2021-01-21 22:56] krishanudb commented on #759
@lalitpagaria Thanks a lot for your reply.
I think this is what I want.

I am basically looking at different retrieval models and seeing how they perform with the RAG QA system without the DPR retriever.

So basically, I have a set of questions and corresponding contexts/ documents stored in a file.
I want to see how RAG performs when these documents are provided as the context.

[2021-01-21 22:58] lalitpagaria commented on #758
Can you please check the SQLite version?

Error is coming from windowing query and it's support was introduced since [`3.25` version](https://sqlite.org/windowfunctions.html#history). So I am suspecting your colab have lower version of SQLite install. Try upgrading to latest version and try again.

@tanaysoni I think we might need to disable windowing queries by default.

[2021-01-21 23:11] lalitpagaria commented on #749
Yes

Document store will need three tables: `document`, `meta` and `label` with schema mentioned in https://github.com/deepset-ai/haystack/blob/master/haystack/document_store/sql.py
So if SQL DB already have it then document store will not create it otherwise it will create automatically.

FAISS document store do not store embedding in SQL DB. It kept in FAISS index usually in memory (refer https:

[2021-01-21 23:22] krishanudb commented on #758
(3, 22, 0)

[2021-01-21 23:36] lalitpagaria commented on #758
Try this https://stackoverflow.com/questions/59427642/upgrading-sqlite-in-colab

[2021-01-22 00:03] krishanudb commented on #759
Hi I was trying out what you suggested.

It worked!!
I had to change one bit though. So for anyone looking for something similar, here is what you can do

[code]

Output
[code]

[2021-01-22 09:06] #735 closed

[2021-01-22 09:24] tanaysoni commented on #666
Hi @gabinguo, this should now be resolved with #733. Please feel free to reopen this thread if you still face any issues.

[2021-01-22 09:24] #666 closed

[2021-01-22 09:27] lalitpagaria commented on #759
@krishanudb you don't need retriever and also no need to pass it to generator. It would be great if you can contribute this as tutorial in haystack: RAG without using retriever.
@tholor WDYT?

[2021-01-22 09:39] tholor commented on #759
Great to see the community helping each other here :heart: !

Would be great to add a section in the existing RAG Tutorial (rather than creating a separate one). @krishanudb Would you be interested in contributing here?

[2021-01-22 10:05] tholor commented on #704
Yep, I think for short-term a translator node would be helpful! It will increase the search request latency a bit, but can be used as a  quite flexible element together with existing QA / Retriever models...

[2021-01-22 10:10] krishanudb commented on #759
I tried without the retriever. This was the code I used:

[code]

But I got this error:
[code]

I also went through the code. So apparently in this
https://github.com/deepset-ai/haystack/blob/aee90c5df9c9403fd218a5c13f2066f2a20d14b5/haystack/generator/transformers.py#L231
DPR embeddings are required. So we need to pass a retriever as well so that it can compute its embeddings or its score.

It is

[2021-01-22 10:33] tholor commented on #759
Yep, I agree that the DPR retriever is actually needed to encode the docs (unless you pass the embeddings already together with your docs, but I don't see a use case there).

Regarding the tutorial: No hurry. Focus on your paper deadline and then we can tackle this afterwards. Adding a section to the existing tutorial would be my preferred choice here.

[2021-01-22 13:34] tanaysoni commented on #756
Hi @sowmiya-jagan, I see two issues here:

- the `custom_query` JSON string has an invalid trailing `)` that should be removed
- there should be no quotes around the placeholder terms

So, the updated custom_query would look like:

[code]

Let me know if it works.

[2021-01-22 13:48] tholor commented on #668
Seems resolved for now. I don't see the urgent need for a separate `Converter` class for now. Feel free to reopen if there's still some need for it or anybody wants to contribute one here :)

[2021-01-22 13:48] #668 closed

[2021-01-22 13:54] tholor commented on #738
Ok got your use case. In most of our deployments, we do indeed have different stages (production, staging ...). We sometimes also configure different indices for them. However, we would normally do this by 1) configuring an environment variable for the chosen index name, 2) passing the environment variable to the init of the `DocumentStore`. This will require a restart of the API or at least reloa

[2021-01-22 13:55] tanaysoni commented on #760
Hi @lalitpagaria, thanks for bringing this up. It should now be resolved with #761.

[2021-01-22 13:55] #760 closed

[2021-01-22 14:03] Rob192 commented on #738
Yes perfectly fine. I will try that.

[2021-01-22 14:03] #738 closed

[2021-01-22 15:04] tholor commented on #752
As described in #440, an integration would be a "nice-to-have" but it seems that we would actually need to adjust the modeling a bit in FARM (e.g separate prediction head or similar) as the DPR reader is modelled a bit differently than the regular "readers".   We currently don't have a big priority on it but would of course really appreciate community contributions.

[2021-01-22 16:42] Timoeller opened #763 "PreProcessor produces empty Document during splitting"
**Describe the bug**
If you use a PreProcessor with
1. small split_length
2. split_respect_sentence_boundary=True
3. a very long first sentence

then the first document is just empty text, resulting in errors further down the processing.

Lets remove empty documents inside the preprocessor.

[2021-01-23 09:31] sowmiya-jagan commented on #756
Hi  @tanaysoni,

yes, it's working as expected. Thanks for your quick response and for pointing out the mistake.

[2021-01-23 09:31] #756 closed

[2021-01-23 12:21] AMChierici commented on #749
Thank you for your answers.

As a follow up on a few points:

In production, I need to index different tables for different sets of FAQs. Would you suggest creating one separate db for each set of FAQs, or can I use my own table names so that I will only create different tables? E.g., I would create `document_1`, `meta_1`; `document_2`, `meta_2`; `document_3`, `meta_3`, etc.

What file format shal

[2021-01-23 15:51] lalitpagaria commented on #749
Yes as of now dynamic table naming is not possible with current design. So you have to use different db. Adding @tanaysoni and @tholor they might have some other idea.

FAISS itself have some internal format to same index data to file. You may check FAISS library.

I think this is not primary use case of haystack. Currently few methods are available like get_by_id, update, delete etc. You may refe

[2021-01-24 13:14] ScottishFold007 opened #764 "ValueError: too many values to unpack (expected 3) when I use DensePassageRetriever"
![image](https://user-images.githubusercontent.com/36957508/105631330-04dc2980-5e89-11eb-8294-ccd960059378.png)
![image](https://user-images.githubusercontent.com/36957508/105631350-11f91880-5e89-11eb-8f8f-23191a7eb83c.png)
BUT...
![image](https://user-images.githubusercontent.com/36957508/105631356-18879000-5e89-11eb-8d4f-ff732358dae7.png)
Why is this? Or does DensePassageRetriever only work in c

[2021-01-24 18:10] Timoeller commented on #764
Hey @ScottishFold007 thanks for reporting. Though I believe this should be a version mismatch.
On current master (and haystack version 0.7.0) there are actually 4 return parameters:
[code]

So I guess you are using an old haystack version with updated requirements.
Could you make sure you installed haystack==0.7.0 (which installs FARM==0.6.2) correctly?

[2021-01-25 04:50] ScottishFold007 opened #766 "RequestError when use the trained DPR model"
when I use the trained DRP model and reader model to search the answer,The system reports the following error：

![image](https://user-images.githubusercontent.com/36957508/105662874-c20f6580-5f0b-11eb-8e0a-6ce17e92f727.png)

[code]
May I ask what exactly is the cause of this?
I hope your enthusiastic answer！

[2021-01-25 07:33] SasikiranJ opened #767 "Passing_Fine tuned model_ as READER_MODEL_PATH in rest api config.py"
**Question**
 I am unable to pass fine tuned model to rest api . it is producing errors like no file name [pytorch_model.bin, tf_model.h5]

**Additional context**
Add any other context or screenshots about the question (optional).

[2021-01-25 10:02] Timoeller commented on #766
Hey @ScottishFold007 did you update to current haystack version with all related requirements, as suggested in your issue #764 ?
If you are using current versions, @tanaysoni please have a look at this.

[2021-01-25 10:55] Timoeller opened #769 "Add license info to all our models on HF modelzoo"
Some of our popular models deepset/roberta-base-squad2 do not have license information.
We should add those, to avoid unnecessary questions. I propose, for simplicity, to take over the least permissive license (e.g. Roberta is MIT, SQuAD is cc-by-4.0, so we take cc-by-4.0).

[2021-01-25 10:59] DIVYA-19 opened #770 "retrieving content from website url"
There is a feature to download zip file from url, but there is no feature for directly using content from url. I thought I would be nice if **haystack** has this feature too.

Content should be extracted from url and use as input data.

[2021-01-25 11:17] julian-risch commented on #747
@AMChierici Thank you for providing code and data to replicate this issue. Much appreciated. You are right that we would expect the same performance form the different document stores (FAISS and ElasticSearch) because they use the same document similarity measure. Let me have a look into it.

[2021-01-25 11:54] #758 closed

[2021-01-25 11:56] tanaysoni commented on #758
@krishanudb thank you for raising the issue. With #768, the use of window functions is disabled for older versions of SQLite. Could you try the tutorial again after pulling in the latest master branch?

[2021-01-25 15:40] tanaysoni commented on #767
Hi @SasikiranJ, can you provide more details on what model are you trying to load and what exact error messages do you get?

If you want to load a remote model from the model-hub, you can set the model name as the `READER_MODEL_PATH`, e.g., `deepset/roberta-base-squad2`.

[2021-01-25 15:48] SasikiranJ commented on #767
I have fine tuned Roberta base squad2 model on custom data. I want that fine tuned model to be served using RestAPI. So I set model path in rest api config as path of my custom model which has files like language_model_config.json and others. It turns out that Reader_model_path only taking hugging face model hub models only not fine tuned models.
If I pass custom model path it is giving error like

[2021-01-25 15:48] tanaysoni commented on #605
Hi @Arunast2812, with #733, batching was introduced for the `update_embeddings()`, which should likely resolve this issue. Please feel free to re-open the thread if you face any similar errors.

[2021-01-25 15:48] #605 closed

[2021-01-25 15:51] tanaysoni commented on #767
Thanks for the information @SasikiranJ. Could you copy-paste the error stack trace here to help reproduce the issue?

[2021-01-25 17:41] tholor commented on #770
Hey @DIVYA-19 ,

I totally agree. That would be a nice feature to simplify "website search"!
From the top of my head I could imagine a few smaller features that would be helpful here:
1) A crawler that (periodically) scans a website including all/some subpages
2) A `HTMLConverter` class that converts the HTML to clean text (+ meta data) so that we can index them as documents. We might even get alo

[2021-01-25 17:48] lalitpagaria commented on #770
It will be super helpful to crawl Confluence as well. We might also need to add `MarkdownConverter` which will extend `HTMLConverter`.

How you like to handle update/remove to existing pages/documents?

[2021-01-26 02:10] SasikiranJ commented on #767
Hi, thank you for reply. It is working now. do not know why it has thrown errors yesterday. I will reopen this issue if i face similar error in future.

[2021-01-26 02:11] SasikiranJ commented on #767
Hi, thank you for reply. It is working now. do not know why it has thrown errors yesterday. I will reopen this issue if i face similar error in future.

[2021-01-26 02:11] #767 closed

[2021-01-26 05:30] DIVYA-19 commented on #770
@tholor
I haven't contributed to any open source project before. I would definitely like to give it a try. If that's okay. This would be my first one. I need some clarifications
Is using any library ok? (I would like to use selenium)
steps:
read data from url
find any links exists (exclude in page navigation links)
read the content from all extracted links
store the cleaned data in files (.txt)
ar

[2021-01-26 05:39] DIVYA-19 commented on #770
I think ### HTMLConverter is not needed. If we store cleaned data in text files. we can use implemented functions while storing files in db

[2021-01-26 06:50] tholor commented on #770
Absolutely! We will support you along the way. Just let us know if any questions regarding the process come up (either here or in our slack channel).

Using selenium is fine. We are careful with extra dependencies, but here it seems useful.

The proposed steps make sense. Some additional thoughts:
- there should be an option to manually supply a list of URLs
- exclude links to external websites
-

[2021-01-26 09:39] lalitpagaria commented on #714
Adding article about how @jina-ai done it.

https://hanxiao.io/2021/01/24/Speedup-CI-Workflow-in-Github-Actions-via-Strategy-Matrix/

[2021-01-26 10:35] chaozy opened #772 "Can file converter directly handle python io.BufferReader?"
**Question**
Hi there, I am trying to add `Haystack` into my python school project, which is expected to receive a file (PDF or txt) from a http request and then process it with `Haystack`. But it seems that the `fileConverter` has to receive the path of the file as the parameter.  Is there any way that the converter can directly take the `io.BufferReader` as input?
I am new to cloud-based solutio

[2021-01-26 10:55] DIVYA-19 commented on #770
Hi @tholor I couldn't create pull request. It's showing `permission denied`.

[2021-01-26 11:04] brandenchan opened #774 "Answer Text and Answer Position mismatch during retriever query bencharmking"
When running the retriever query benchmarks, we get the following warning

[code]

We should investigate how many samples trigger this warning, whether this has an impact on the benchmarking and whether there is a simple way to fix it.

[2021-01-26 11:28] tholor commented on #770
Please fork the original project first, then push your code changes there and then create a Pull request from that Fork into the original repository. You can see the details of this common workflow here: https://opensource.com/article/19/7/create-pull-request-github

[2021-01-26 11:48] Timoeller commented on #710
Updated FARM to 0.6.2. The RAG adjustments are still open but handled in another issue.

[2021-01-26 11:48] #710 closed

[2021-01-26 12:10] DIVYA-19 commented on #770
okay! it worked. Thanks @tholor

[2021-01-26 13:27] #772 closed

[2021-01-27 07:58] Timoeller commented on #774
Hey @brandenchan
I have implemented a check if the answer string corresponds to the answer offsets, see [here](https://github.com/deepset-ai/haystack/blob/master/haystack/preprocessor/utils.py#L141). (This check is similar to what is in FARM QA preprocessing). I need this check at this position because there are bugs later on in the pipeline when answer text and position do not match.

I see a cou

[2021-01-27 09:13] brandenchan commented on #774
I think a more informative error messaging would be great. I imagine both having statistics and IDs would be really useful. I would imagine it being something like this:

[code]

[2021-01-27 14:04] tholor opened #777 "Documenting Usage of MilvusDocumentstore"
After merging #771 , we should add the `MilvusDocumentStore` to our "usage section" in the docs. For example here: https://haystack.deepset.ai/docs/latest/documentstoremd

I don't think an extra tutorial is meaningful just showing the "initialization of milvus". However, it might make sense to either integrate milvus as an alternative in one of the existing tutorials (e.g. No 6 -> DPR) OR replace

[2021-01-27 14:06] tholor opened #778 "Add Benchmarks for Milvus"
**Benchmarking**

After merging #771, we should add a benchmark run to see how the metrics compare (especially query speed) compare to FAISS and elasticsearch.

- [ ] Isolate SQL issue
- [ ] Fix SQL issue
- [ ] Ensure that fix does not impact other code
- [ ] Run benchmarks

**Documentation**

After merging #771 , we should add the `MilvusDocumentStore` to our "usage section" in the docs. For exam

[2021-01-27 14:08] tholor opened #779 "Allow filtered Queries in Milvus + FAISS DocumentStores"
Let's allow filters in the search queries for Milvus. They are quite important for many use cases out there.

See https://github.com/deepset-ai/haystack/blob/9ff88250fe15820930fc8fdff0faf5a367937899/haystack/document_store/faiss.py#L306-L307

[2021-01-27 14:48] lalitpagaria commented on #779
Title could be `Allow filtered Queries in MilvusDocumentStore and FaissDocumentStore` :)

[2021-01-27 14:53] lalitpagaria commented on #714
After adding MilvusDocumentStore number of tests and test run time increased significantly. We would need fast feedback CI pipeline -
![image](https://user-images.githubusercontent.com/19303690/106008676-d6906100-60b7-11eb-96a1-11c35f87cb87.png)

[2021-01-27 15:50] #715 closed

[2021-01-27 16:49] brandenchan commented on #769
This is what I could find out regarding dataset and model licenses
[code]
I have updated the following, with most of them being cc-by-4.0
[code]
Not sure what to do regarding GBERT and GELECTRA. Any thoughts @Timoeller?

[2021-01-27 17:01] Timoeller commented on #769
Nice thanks for adding.

I thought we realeased GBERT and GELECTRA under MIT (it says so in the model card)?
Do you mean MIT is in contrast to the Creative Commons CC0 license from the OSCAR dataset? As far as I understand this license we can use the licensed stuff and derivative work for anything under any license, so we can also change the license.
I think MIT is rather common for OSS models, so

[2021-01-27 17:21] brandenchan commented on #769
Ok sounds good then let's keep it this way!

[2021-01-28 09:15] psorianom opened #783 "Allow for a custom `tokenizer_class` while loading DPR models"
Hi all!

I just recently re-started my DPR testing with the newest version of haystack (v0.7.0). I use a custom made model which is based on camemBERT (French Roberta). Before, the Tokenizer was working thanks to the nice `farm` tokenizer loading which allows for several types of tokenizers, among them camemBERT tokenizer.

Unfortunately this is no longer possible because now we fix `tokenizer_cla

[2021-01-28 09:46] #769 closed

[2021-01-28 10:04] tholor commented on #783
Yes, absolutely. We didn't think about the use case of CamemBERT tokenizers. I like the suggestion of using `Tokenizer._infer_tokenizer_class`. It would be great if you can raise a PR for it!

[2021-01-28 10:59] psorianom commented on #783
Great! Actually, maybe it would be easier just to go back, as it was in haystack v0.6.0 ?

That is, not fixing `tokenizer_class` to `DPRQuestionEncoderTokenizer` (or context tokenizer) and letting the tokenizer infer with `_infer_tokenizer_class` in https://github.com/deepset-ai/FARM/blob/8adc097ffe3f675ba67abba3ab60d730dad0193a/farm/modeling/tokenization.py#L79.

In short, go back from this:

[co

[2021-01-28 22:09] thenewera-ru commented on #763
Quick fix:
[code]

[2021-01-29 05:31] SasikiranJ opened #786 "working of feedback"
**Question**
I am unable to understand how feedback works for model improvement. I think it is better if there is separate tutorial to demonstrate feedback working. can anyone help me with that?

**Additional context**
Add any other context or screenshots about the question (optional).

[2021-01-29 08:30] tholor commented on #783
Good point. I am trying to recall why we actually started to hardcode `tokenizer_class`  here https://github.com/deepset-ai/haystack/pull/708/commits/cb0a988db36f1f070287d6053ed90edf1fe4bede

I believe it was related to fine-tuning a DPR model, saving it locally, and loading it back again. @brandenchan Do you remember why you introduced this?

[2021-01-29 09:07] Petitbonzai31 opened #787 "Is it possible to train the QA system ?"
Is it possible to train the QA system ?

I've tried QA system on a corpus that i had, i set top_retriever to 5 and to_reader to 2.
Sometimes the second answer found by the QA system is better than the first one, i was wondering if it is possible to train de QA system by suggesting the right anwser ?

[2021-01-29 09:14] tholor commented on #787
Yes, absolutely. There are two ways for generating the required training data: i) dedicated human labeling process  ii) leveraging user feedback

See the docs for some more explanation of both methods https://haystack.deepset.ai/docs/latest/domain_adaptationmd

If there are any further questions, just let me know :)

[2021-01-29 09:17] Petitbonzai31 commented on #787
Ok thanks a lot for your quick answer :)

[2021-01-29 10:07] Timoeller commented on #763
thanks for the suggestion, we have implemented something similar in #780

[2021-01-29 10:56] Petitbonzai31 commented on #787
When i initialize my reader component i do :
reader = FARMReader("etalab-ia/camembert-base-squadFR-fquad-piaf", use_gpu=False)

With annotation tool i can export labels into squad format ==> How can i use both  a global model (sush as ""etalab-ia/camembert-base-squadFR-fquad-piaf") and export of human label process in my reader object ?

[2021-01-29 11:07] tholor commented on #787
If I understand you correctly, you want to use `etalab-ia/camembert-base-squadFR-fquad-piaf` as a "base model" and then adapt it to your training data (i.e. "fine-tuning")? If that's what you are after you can find the example code in this tutorial:
- Docs: https://haystack.deepset.ai/docs/latest/tutorial2md
- Colab: https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorial

[2021-01-29 11:12] Petitbonzai31 commented on #787
Yes that's what i was looking for.

In the tutorial there is :
reader = FARMReader(model_name_or_path="distilbert-base-uncased-distilled-squad", use_gpu=True)
train_data = "data/squad20"
# train_data = "PATH/TO_YOUR/TRAIN_DATA"
reader.train(data_dir=train_data, train_filename="dev-v2.0.json", use_gpu=True, n_epochs=1, save_dir="my_model")

So i can use in "train_filename" the Squad export i get fr

[2021-01-29 11:19] tholor commented on #787
Yep, exactly.

Change `model_name_or_path` to your camembert model, `data_dir` to your folder and `train_filename` to your file from the annotation tool

[2021-01-29 12:57] Petitbonzai31 commented on #787
Ok thanks a lot :)

[2021-01-29 16:21] Petitbonzai31 commented on #787
I've exported a SQUAD json file from annotation tool with 59 questions and answers.
i've tried the train reader function with this file but unfortunately the process failed (i tried with 25 question and then 13)..
But the process stopped :

01/29/2021 17:13:33 - INFO - farm.infer -   Got ya 3 parallel workers to do inference ...
01/29/2021 17:13:33 - INFO - farm.infer -    0    0    0
01/29/2021 1

[2021-01-30 04:13] datalee commented on #268
retriever.train also face the same error

[2021-01-31 07:57] chaozy opened #789 "Connection error rasied from elastic search"
**Question**
Hi there, I was trying to ran the demo code but came across with an connection error (here is part of the message as the full error message is too long):
[code]
I think this error is raised from the connection to `elasticsearch`(Correct me if i am wrong). I have been searching online but find nothing useful. I am new to elastic search. Could you please have a look on this error and gi

[2021-01-31 09:18] tholor commented on #789
Hey @chaozy ,

happy to help. Let's try to narrow it down a bit:
- Are you running elasticsearch locally on your machine? - - From the logs, I suppose via docker?
- what exact demo script are you running?
- do you wait ~ 30s after starting elasticsearch before running any haystack code (elasticsearch needs some ramp up time)?
- is the elasticsearch start successful (you can see that via `docker lo

[2021-01-31 09:50] chaozy commented on #789
@tholor Thank you so much for such quick response.  Also apologize for not making things clear in the question.

 I ran  the `Tutorial1_Basic_QA_Pipeline.py` without any modification to it.

Yes I did ran via docker.

I did, as this is set as default in the tutorial code. I even extended the waiting to 60 seconds but it still returns that error.

I don't see any logs from the docker. So I would sa

[2021-01-31 09:58] chaozy commented on #789
@tholor I extended the waiting time to 90 seconds and now it works... I guess the reason is that the speed of my machine is too slow?

[2021-01-31 20:08] TPLinux opened #790 "Faiss faild to build"
Hi, i tried to install this library on virtual env, and got errors while installing it in **faiss-cpu**

`ERROR: Command errored out with exit status 1: /home/tj/Desktop/python-works/env/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-yi292v6v/faiss-cpu_18792086eb074d2eaff883e927f8f814/setup.py'"'"'; __file__='"'"'/tmp/pip-install-yi292v6v/faiss-cpu_18792086

[2021-01-31 20:31] TPLinux commented on #790
Fixed buy working with python version 3.8

[2021-01-31 20:31] #790 closed

[2021-02-01 06:25] tholor commented on #789
Great!
Yes, the slower elasticsearch ramp up is then likely due to the speed of your machine

[2021-02-01 06:25] #789 closed

[2021-02-01 08:32] julian-risch commented on #747
Hello @AMChierici and first of all sorry for taking so long to get back to you. I think the problem is about different settings for the similarity metric. With elasticsearch you need to use `similarity = "cosine"` and with the other document stores you need to use `similarity = "dot_product"` to have a fair comparison with the same settings. Sorry for the confusion.
Please try to use `FAISSDocumen

[2021-02-01 09:37] sophgit opened #791 "Annotation tool: unanswerable questions"
**Question**
Hi,
I am wondering, if it's possible to create unanswerable questions with the annotation tool like the ones in SQuAD 2.0.

**Additional context**
In SQuAD 2.0 the crowd workers were asked to create unanswerable questions in addition to answerable ones.
I couldn't find the option to do so with the annotation tool. In your opinion, does it make sense to have unanswerable questions in t

[2021-02-01 09:41] Timoeller commented on #268
Hey @datalee thanks for bringing this problem up.

Could you create another issue with more detailed descriptions of what you do and what the respective error is, please? That way we can help you better.

[2021-02-01 10:04] Timoeller commented on #791
hey @sophgit thanks for using the annotation tool.

You are right, we do not have the option to contruct squad 2.0 style unanserable questions. Only if you have predefined questions you can choose the option "answer not given".
For predefined question chosse the annotation mode "Answer category". Then there is an import option for questions via CSVs.

Currently we do not actively develop the annot

[2021-02-01 10:18] sophgit commented on #791
Thanks @Timoeller for your fast reply. :)
Currently I am only using the custom questions, thus I didn't know about the no_answer feature for predefined questions.
My QA system is supposed to work for CRM data and company/product specific data.
I have not yet worked with no_answer questions. I just thought, in order for people to trust my QA system it would be better, if the system replies with "no

[2021-02-01 10:27] tholor commented on #791
You could also try a short-term hack:
Add a "special token" at the start of every of your doc that you upload (.e.g "<No Answer>"). If annotators don't find an answer they mark this token. Later you can easily convert those labels to proper "no answers" in the exported SQuAD file.

[2021-02-01 10:30] sophgit commented on #791
that's a cool idea, thanks @tholor!

[2021-02-01 11:08] Timoeller commented on #791
Nice @tholor, that would be an option to create unanswerable questions. I would propose to create a special token at the end of the text, so you can remove it afterwards and not mess up answer offsets.

Am I right that for your CRM data you already have predefined questions? If so, uploading them to the tool and marking them as unanswerable would be the easiest. Though be aware that especially for

[2021-02-01 11:40] brandenchan commented on #783
@tholor Yeah I think that's right, this change was made while I was working on the DPR training tutorial. After training, we save the DPR model, but its not possible to auto-infer from the saved model what tokenizer_class it is.

[2021-02-01 11:46] brandenchan opened #793 "Haystack Documentation Backlog"
Let's update the usage and API documentation for the following new components:

Summarizer
Translator
Squad to DPR script (Tutorial 9)
Knowledge Graph
Confidence
Evaluation

Website API and Usage for KG
Eval Nodes
Pipeline Config
Confidence Scores
Web Crawler

Add Import statements
Create snippets page

[2021-02-01 12:52] sophgit commented on #791
Okay, got it.
No, I don't have predefined questions yet, but could create some.
Thanks for the tip, I will keep it in mind.

[2021-02-01 15:17] julian-risch commented on #753
Hi @gauthamn-vuram did you try the `Evaluator`? It is imported from FARM `from farm.eval import Evaluator`. I suggest using it for your purposes. You can have a look at the implementation here: https://github.com/deepset-ai/FARM/blob/b9dbd7de1720463fb22e0ab295db8ead28ede44e/farm/eval.py

[2021-02-01 16:08] #763 closed

[2021-02-01 16:08] #774 closed

[2021-02-01 16:44] brandenchan commented on #774
The new implementation #780 works. However, with the data used for retriever query benchmarking, it doesn't since IDs are assigned per passage instead of per question. This can be solved by populating the question_id field in the nq2squad-dev.json dataset. If there are answer span alignment issues, this can be fixed with a script @Timoeller mentioned.

[2021-02-01 21:30] lalitpagaria opened #797 "Rest API to add (also delete) List[Document] to document store"
I have workflow where [Obsei](https://github.com/lalitpagaria/obsei/issues/22), will continuously send texts data to haystack for indexing. Which later user can use it for search or other analysis.

Currently I am planning to prepare a demo where Reddit's subreddits data will be pushed to SQL via haystack.
So user can use haystack for search and SQL data for analytics purpose.

Ideally having foll

[2021-02-02 00:28] gauthamn-vuram commented on #753
Hi @julian-risch. Is it possible to use Evaluator with Haystack's reader?

[2021-02-02 14:46] tholor commented on #786
Hey @SasikiranJ ,

Let me try to help. Have you already seen our docs around the user feedback (https://haystack.deepset.ai/docs/latest/domain_adaptationmd#User-Feedback)?

The idea is basically:
- collect user feedback via :+1: / :-1: in your UI
- send this feedback to the Haystack REST API
- store it automatically in your document stores
- export a SQuAD-style training file from it
- fine-tune a

[2021-02-02 14:48] tholor commented on #749
Agree, with the comments of @lalitpagaria.

@AMChierici Are there any open questions here where I could help?

[2021-02-02 15:04] tholor opened #798 "Add Pipeline Tutorial"
Let's add a Tutorial about our new `Pipeline` class in Haystack

[2021-02-02 16:22] Timoeller commented on #732
Issue seems fixed. Please still post your Korean results once you get them here or reopen the issue if more problems occur.

[2021-02-02 16:22] #732 closed

[2021-02-02 16:23] Timoeller commented on #744
Question seems answered, closing now. Feel free to reopen if there are more questions coming up.

[2021-02-02 16:23] #744 closed

[2021-02-02 16:24] Timoeller commented on #696
Hey @su2twtbridge just checking in here, were the issues resolved on your end?

[2021-02-02 16:25] Timoeller commented on #764
Hey @ScottishFold007 did you resolve the error by updating the versions?

[2021-02-02 16:26] Timoeller commented on #766
Any updates here @ScottishFold007 ? Are you using current haystack and farm versions?

[2021-02-02 20:03] MathiasKrill opened #799 "file_upload Rest call always fails"
Hi, i run into the problem that the upload curl commands always fail on language for me:

[code]

I used the "try out" of Swagger and also this curl command:

`curl -X POST "http://localhost:8000/file-upload" -H "accept: application/json" -H "Content-Type: multipart/form-data" -F "remove_numeric_tables=true" -F "remove_whitespace=true" -F "remove_empty_lines=true" -F "remove_header_footer=true" -F

[2021-02-02 23:40] Utomo88 commented on #743
can REALM help ?
https://ai.googleblog.com/2020/08/realm-integrating-retrieval-into.html
https://levelup.gitconnected.com/googles-realm-a-knowledge-base-augmented-language-model-bc1a9c9b3d09

and it is better if we can combine the information from different documents too. not only from single documents

[2021-02-02 23:41] ScottishFold007 commented on #764
yes，I upgrade es

---Original---
From: "Timo Moeller"<notifications@github.com&gt;
Date: Wed, Feb 3, 2021 00:25 AM
To: "deepset-ai/haystack"<haystack@noreply.github.com&gt;;
Cc: "Scottish_Fold007"<gaochangkuan01@foxmail.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [deepset-ai/haystack] ValueError: too many values to unpack (expected 3) when I use DensePassageRetriever (#764)

Hey

[2021-02-03 08:35] julian-risch commented on #753
Yes, it's possible to use the Evaluator with Haystack's reader. As you can see in the reader.train() function https://github.com/deepset-ai/haystack/blob/master/haystack/reader/farm.py#L238 the trained model is stored `self.inferencer.model = trainer.train()` and it is this model that you can put into the Evaluator. I recommend to run the Evaluator on the training set after the final epoch if you

[2021-02-03 09:31] crossoveranx commented on #799
I am also having a similar problem, as an addition - it looks like it's a problem with the remove_whitespace command:

`haystack-api_1   |   File "/usr/local/lib/python3.7/site-packages/starlette/routing.py", line 227, in handle
haystack-api_1   |     await self.app(scope, receive, send)
haystack-api_1   |   File "/usr/local/lib/python3.7/site-packages/starlette/routing.py", line 41, in app
haysta

[2021-02-03 10:48] brandenchan opened #801 "Improve Benchmarks Page"
Here are a few improvements that would improve maintainability and interpretability of the benchmarks page
- [ ] Merging maP of DPR/Elastic and DPR/FAISS(Flat) (We need a script to do this so its not manual each time)
- [ ] Adjust scale of speed and performance so their trade off is clearer
- [ ] Change colours in graphs so they are better contrasted
- [ ] Give some interpretation of results

[2021-02-03 12:59] renanyudimt opened #802 "Server with status N/A - Connection Refused (Elasticsearch)"
Hello,
Im following this tutorial https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial1_Basic_QA_Pipeline.ipynb but i when i call ElasticsearchDocumentStore() i got connection refused error, it looks like the server is not starting properly with incorrect status.

### Full Error Message:

02/02/2021 15:17:02 - INFO - faiss -   Loading faiss.
<subprocess.Popen

[2021-02-03 13:41] brandenchan commented on #705
This has now been solved by the new script introduced in #765!

[2021-02-03 13:41] #705 closed

[2021-02-03 13:44] #653 closed

[2021-02-03 13:59] tholor commented on #726
We evaluated Hydra and don't think that it will be very useful at the current stage. We like the overloading of configs with ENV variables, but rather implemented it ourselves now.

[2021-02-03 13:59] #726 closed

[2021-02-03 17:20] brandenchan opened #804 "Make Data Loading in Tutorial 1 Trivial"
Let's give some very clear very easy data loading options in tutorial 1. Some people who are not so familiar with Python might still want to try Haystack and this is the entry point. Let's make sure we find a way to accommodate them!

This issue was based off some interactions that both me and @PiffPaffM had with first time users.

[2021-02-03 19:17] m1kol opened #805 "PDF Converter on Russian language"
**Question**
Hello! I have a question about PDF converter. As I understand, for now it supports only languages provided by the ISO 639-1 standard. As it says in the documentation, trying to convert PDF file with Russian language, which is not listed in the standard, results in some garbage data in the text field of the returned result with the exception of English fragments, of course. Do I unders

[2021-02-04 02:14] datalee opened #806 "document_store.update_embeddings can only update the new add docs"
**Question**
document_store.update_embeddings can only update the new add docs

**Additional context**
every time i write_documents, the `document_store.update_embeddings(retriever)` update the all docs

[2021-02-04 09:52] tholor commented on #743
Hey @tgalery ,

Super sorry for my late reply here! Your question somehow slipped through as I thought I already posted an answer here.

Interesting scenario that you have in mind. Limiting the QA Reader to a certain set of documents is definitely possible in Haystack. Here's one way of implementing it:

[code]

Alternatively, if you want to bypass the retriever in the second query, you could also

[2021-02-04 10:19] tholor commented on #805
Hey @m1kol ,

Our `PDFToTextConverter` is build upon xpdf, which from my understanding also works for Russian.
I gave it a quick try and the results did not seem complete gibberish. However, I am able to speak / read Russian. So maybe you want to have a look? If you have an example pdf where the conversion failed, it would be very helpful if you could share this so that we can dig deeper

Code use

[2021-02-04 10:34] tholor commented on #802
Hey @renanyudimt ,

I just tried the Colab Tutorial and could not replicate this issue, but from the logs you posted I assume you are running this locally in a jupyter notebook?

As you already mentioned, the error most likely occurs when Elasticsearch is not available (yet) when we try to connect from Haystack via the ElasticsearchDocumentstore.  Usually, this is just due to a slow startup of Ela

[2021-02-04 11:06] tholor commented on #748
Hey @SasikiranJ ,

Do you still have further questions about the params?
If yes: I'd be glad to explain :)
If not: Please close the issue.

Thanks

[2021-02-04 11:09] tholor commented on #635
Hey @mlnlpenthusiast ,

Did you manage to resolve your speed issues? If not, happy to dig deeper together. We could not really replicate your problem but also implemented many optimizations recently to FAISS that improve speed / memory consumption.

[2021-02-04 11:12] tholor commented on #787
Hey @Petitbonzai31 ,

That seems very odd. Haven't seen this case of a process stopping in the middle of training.
Could you maybe share the training file with me? Either here or via our [slack channel](https://haystack.deepset.ai/community/join) ? It would help me to reproduce this bug

[2021-02-04 11:39] SasikiranJ commented on #748
No thank you

On Thu, 4 Feb, 2021, 4:36 PM Malte Pietsch, <notifications@github.com>
wrote:

[2021-02-04 11:40] m1kol commented on #805
Hello @tholor, thanks for the quick reply!

I've just tried to convert files again and got same gibberish results. I could not attach the files here because of their size so here are links to them:
* [File 1](https://download.schneider-electric.com/files?p_enDocType=Catalog&p_File_Name=%D0%9A%D0%B0%D[…]%BE%D0%B3_Trihal_2016.pdf&p_Doc_Ref=MKP-CAT-TRIHAL-16)
* [File 2](https://download.schneider-ele

[2021-02-04 12:21] Timoeller opened #807 "Query Interpreter: Who was the father of "Arya Stark"?"
**Is your feature request related to a problem? Please describe.**
When searching I want to make sure that certain keywords must be included in the search results.
So when searfching for: Who was the father of "Arya Stark"? I want to make sure retrieved docs contain "Arya Stark" exactly.
This would be a similar feature as in the google search bar.

**Describe the solution you'd like**
We could sen

[2021-02-04 12:24] Timoeller commented on #791
Glad we could help. Could you close the issue or do you want to report back here with your approach - and hopefully some results already? : )

[2021-02-04 12:24] #748 closed

[2021-02-04 12:34] sophgit commented on #791
Will close this issue, but in case I come up with useful results I'll be happy to reopen and report.

[2021-02-04 12:34] #791 closed

[2021-02-04 13:05] renanyudimt commented on #802
Hello Tholor, i agree that the tutorial is working fine, another friend tried and its working correctly but not on my computer, maybe its something more deep.. Im not using docker i downloaded the ElasticSearch source using

`! wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.6.2-linux-x86_64.tar.gz -q
! tar -xzf elasticsearch-7.6.2-linux-x86_64.tar.gz
! chown -R daemon:da

[2021-02-04 13:49] tholor commented on #802
Ok, can you try to start elasticsearch from your terminal? Just go into the directory with the extracted folder and run `./elasticsearch-7.6.2/bin/elasticsearch` (you might need to change the ownership from the daemon to your user). You should then see the logs of elasticsearch .
After a while no further logs get produced and you should see a message similar to this one to signal that the startup

[2021-02-04 13:50] tholor commented on #802
Alternatively, you might try installing via brew: https://www.elastic.co/guide/en/elasticsearch/reference/current/brew.html

[2021-02-04 14:26] renanyudimt commented on #802
got this:

$ elasticsearch-7.6.2/bin/elasticsearch
could not find java in bundled jdk at /Users/renanyudi/www/wise-chat/elasticsearch-7.6.2/jdk.app/Contents/Home/bin/java

[2021-02-04 14:29] tholor opened #809 "Rasa Integration"
**Is your feature request related to a problem? Please describe.**

One of the typical use cases that we saw in the community is using Haystack to boost conversational assistants / chat bots on the long tail of queries. As you can't think of all possible intents beforehand, a QA model is a powerful option to cover unforeseen "information queries".

The integration of Haystack with the existing con

[2021-02-04 14:37] tholor commented on #802
Ok then please make sure that Java is installed and JAVA_HOME is set on your system. See https://stackoverflow.com/questions/64069739/elasticsearch-could-not-find-java-in-bundled-jdk-at-jdk-bin-java

If you want to avoid this kind of trouble, maybe also consider running it via docker :)

[2021-02-04 15:41] renanyudimt commented on #802
That`s weird, because i do have setup my JAVA_HOME, i`ll give a shot to docker

[2021-02-04 15:51] Rishabhraghwendra18 commented on #809
Hey!!! May I help you ?

[2021-02-04 17:03] tholor commented on #809
Yep, absolutely. We would love to see a PR here from the community! Do you have any experience with rasa already?

[2021-02-04 22:03] lalitpagaria commented on #807
Very useful feature.
Just curious - Wouldn't it will leads to creation of search DSL which Query Interpreter will understand?

[2021-02-05 05:53] Rishabhraghwendra18 commented on #809
@tholor no..I haven't used Rasa before

[2021-02-05 06:32] tholor commented on #809
Ok nevermind! If you are interested, give this a try and let us know if any problem or questions come up. We are happy to support you all along the way of creating the PR. I think it would be helpful to setup a small Rasa Demo on your machine, then try to setup an "dummy" action server and eventually replace it with a proper Haystack Action Server.

[2021-02-05 11:19] tanaysoni commented on #799
Hi @MathiasKrill @crossoveranx, thank you for raising the issue.

It should now be resolved with #808. The [Preprocessor](https://haystack.deepset.ai/docs/latest/preprocessingmd) is now also added for the file upload API.

Please feel free to update here if you still face any issues.

[2021-02-05 11:19] #799 closed

[2021-02-05 11:21] MathiasKrill commented on #799
@tanaysoni thank you very much for taking a look, i fixed it also locally for me . Ill try your solution out and  report back

[2021-02-05 11:26] Timoeller commented on #807
Thanks for the props.

With search DSL you mean https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html?
I think this DSL could be used mainly for filtering by metadata in ES.

But I had in mind to combine ES keyword results together with DPR whole-query results. To reformulate: I want to combine dense and sparse results in a way that users are already familiar with (google

[2021-02-05 13:03] MathiasKrill commented on #799
Thank you for fixing so fast, it works well know - thats the spirit !

[2021-02-05 15:14] sophgit commented on #805
-using pdftotext version 4.02 and haystack 07.0-
I'm facing a similar issue with German characters in pdf files. German Umlaute such as "ü", "ß" etc, are missing after running `convert_files_to_dicts` and the `PDFToTextConverter()`.
However, when running `pdftotext -enc UTF-8 path_to_my_file.pdf` the resulting txt-file looked good. So is there a way to set the encoding in the file_converter?

[2021-02-05 22:10] lalitpagaria commented on #807
Yes I understood it in beginning itself. It simplify lot of things.

But I had following scenarios in my mind for this query `Who was the father of Arya Stark?`
- Retrieved docs contain "Arya Stark" exactly together
- Retrieved docs contain "Arya" and "Stark" but may not be together (assuming "Arya" and "Stark" as sibling)
- Retrieved docs contain "Arya" or "Stark", some may contains "Arya" and so

[2021-02-06 14:14] #802 closed

[2021-02-07 03:18] sharonbubz opened #810 "ElasticSearch Login Support with API_KEY and API_ID"
**Is your feature request related to a problem? Please describe.**
ElasticSearch DocumentStore currently does not allow login with API_KEY and API_ID

**Describe the solution you'd like**
Add the option to login to elasticsearch with api_key and api_id in addition to username and password. For security purposes, our production system does not have a username and password for login.

**Describe alt

[2021-02-07 17:19] Rishabhraghwendra18 commented on #809
@tholor sure..I will give it a try

[2021-02-08 07:57] tholor commented on #810
Hey @sharonbubz ,

Ok, makes sense. Let's also allow API key authentication.
Seems pretty straightforward in the Python client: https://elasticsearch-py.readthedocs.io/en/master/#api-key-authentication

We already had plans to also allow `sniff_on_start` and supplying a list of multiple hosts, so that load balancing improves across a cluster (see https://elasticsearch-py.readthedocs.io/en/master/#

[2021-02-08 07:59] tholor commented on #805
Ok, I will have another look. Might be related to the encoding used when storing the text ...

[2021-02-08 10:30] tholor commented on #764
Seems resolved. Feel free to re-open if not.

[2021-02-08 10:30] #764 closed

[2021-02-08 12:22] tholor commented on #625
A few requirements:

1) Allow other types
-- dates
-- integer / floats
-- bool

2) Comparison (<, >, >= ...)

3) Negation

4) Value Existence (e.g. embedding == null to get all elements where we don't have embeddings yet)

5) AND / OR (with grouping)

[2021-02-08 18:07] m1kol commented on #805
Wow! Thanks for looking into it! Indeed, I didn't try to run it on my local machine.

And here I am, thought that I used some different library and it turns out that that's exactly what you are using!

[2021-02-09 02:17] bluetek opened #815 "AssertionError: Found no NVIDIA driver on your system"
**Describe the bug**
Getting an AssertionError.

**Error message**
02/09/2021 01:55:48 - INFO - faiss -   Loading faiss with AVX2 support.
02/09/2021 01:55:48 - INFO - faiss -   Loading faiss.
02/09/2021 01:55:50 - INFO - elasticsearch -   HEAD http://elasticsearch:9200/document [status:200 request:0.022s]
02/09/2021 01:55:50 - INFO - elasticsearch -   GET http://elasticsearch:9200/document [statu

[2021-02-09 07:51] tholor commented on #482
There's a new kid on the block. Let's give `pdfstructure` a try:

- github: https://github.com/ChrizH/pdfstructure
- blog: https://medium.com/@_chriz_/development-of-a-structure-aware-pdf-parser-7285f3fe41a9

[2021-02-09 09:31] sophgit commented on #805
@tholor Cool, thanks! Your fix in the pdf converter solved the encoding issue for me :)

[2021-02-09 12:42] #805 closed

[2021-02-09 12:45] tholor commented on #805
Great, happy to hear that this fixed your issues @sophgit + @m1kol .
I just merged #813 into the master branch. Be aware that I had to go back to "Latin-1" as the default encoding, but you can still pass a custom `encoding` (e.g. "UTF-8") when calling `convert()` . Feel free to re-open if you still face any problems here...

[2021-02-09 12:47] tholor commented on #815
Hey @bluetek ,

Thanks for raising the issue. Please provide some more details about your environment (most importantly GPU/CPU + CUDA version) and what you executed before running into this error. Otherwise, it will be difficult for us to reproduce + fix this.

[2021-02-09 14:52] Rob192 opened #817 "Importing Haystack with Windows Fails due to FAISS"
I cannot import haystack on Windows

[code]

I think this is due to the PR #800 where the __init__ file for Document_Store was modified. At least, the error disappears when i checkout to commit f3a3b73d9b7a0446a17f48dd398449677521eeb9

**System:**
 - OS: Window
 - GPU/CPU: GPU
 - Haystack version (commit or version number): e91518ee00f2cab0fc10c4741c775d2fb5a4a1cf
 - DocumentStore: ElasticSearch

[2021-02-09 15:22] bluetek commented on #815
Hello @tholor ,

I don't have GPU installed and tried to suppress using GPU by setting "use_gpu" flag in transformers.py to less than zero (-1).  It seems like it is still to check for GPU down the line. Is there a way to suppress using GPU?

[2021-02-09 16:59] tanaysoni commented on #817
Hi @Rob192, can you share the output of the following code on your Python shell?

[code]

The check [here](https://github.com/deepset-ai/haystack/blob/e91518ee00f2cab0fc10c4741c775d2fb5a4a1cf/haystack/document_store/faiss.py#L14) should not have raised an exception on Windows.

[2021-02-09 20:01] Rob192 commented on #817
Hi, it prints :
[code]

[2021-02-09 20:25] #806 closed

[2021-02-09 21:20] lalitpagaria commented on #817
@tanaysoni I think @Rob192 is talking about change in __init.py file. https://github.com/deepset-ai/haystack/blob/e91518ee00f2cab0fc10c4741c775d2fb5a4a1cf/haystack/document_store/__init__.py

As this file have following import -
[code]
So even though user don't want to use FAISSDocumentStore this import will trigger ModuleNotFound exception on windows platform due to this https://github.com/deepse

[2021-02-09 21:28] Rob192 commented on #817
Thanks @lalitpagaria for making my point clearer

[2021-02-10 12:18] erikinfo opened #818 "Installation Issue: Command errored out with exit status 1: python setup.py egg_info"
It is probably more a question, than a bug. But any help would be appreciated - especially since the official Google Colab Tutorials of Haystack also seem to be broken (atleast for me with several restarts and factory resets), as i tested.

**Describe the bug**
While trying to !pip install git+https://github.com/deepset-ai/haystack.git (the latest version) i get an error saying: "ERROR: Command er

[2021-02-10 12:35] erikinfo commented on #818
!sudo pip3 install --upgrade pip setuptools wheel

[2021-02-10 12:42] Timoeller commented on #818
Hey I can reproduce the issue. Our colab noteboosk should run as is.

Sometimes the underlying colab environment changes and we have to adjust our colab scripts accordingly. @brandenchan you are possibly the deepest into our colab setup. Could you have a look please.

[2021-02-10 17:37] #598 closed

[2021-02-10 17:37] #712 closed

[2021-02-10 18:20] brandenchan commented on #818
Hi @erikinfo, thanks for reporting this. It should be fixed by this commit (https://github.com/deepset-ai/haystack/commit/db0364c7288e6a756bb12b4c521f25f8bc3504e6). Could you try again in colab?

The reason it was failing is because uvloop released a new version today which requires Python >= 3.7 while Python on the colab is 3.6.9. I have now fixed our uvloop==0.14 so that it runs on Python<3.7

[2021-02-10 18:32] erikinfo commented on #818
Hi, it works @brandenchan ! Thanks for the fast responses and help :)

[2021-02-10 22:25] lalitpagaria opened #821 "standardise return type of pipelines and nodes"
**Is your feature request related to a problem? Please describe.**

Currently most of nodes (retriever, reader, generator, summerizer, translator, document_store, preprocessor etc) and pipelines (qa, faq, doc_search, generator, etc) return type is generic `dict`. Also they have non-standard return type (missing strict type checking) means some return list of docs, some list of docs in dict, and so

[2021-02-11 07:06] voidful opened #822 "Getting stuck during DPR training"
**Describe the bug**
I follow the DPR training example with all the default settings. (Training DPR from Scratch)
However, when Preprocessing Dataset data/dpr_training/train/biencoder-nq-train.json, it will get stuck and no response.

**Error message**
Preprocessing Dataset data/dpr_training/train/biencoder-nq-train.json:  11% 6288/58880 [00:19<00:29, 1799.01 Dicts/s]

**Additional context**
I hav

[2021-02-11 07:57] Timoeller commented on #822
Hey @voidful did you check your RAM usage? Getting stuck during preprocessing without warning indicates you are swapping or are just OOM.

Please do not use latest FARM master when running haystack DPR, we have made some changes in FARM to DPR preprocessing that are not tested in haystack yet. Please use FARM==0.6.2 as specified in the haystack requirements.

[2021-02-11 08:17] voidful commented on #822
My ram usage is 40.5/126G, it seems fine. I have rollback to FARM==0.6.2, and the problem still exists.

Nevertheless, when I try to s set DataSilo max_processes=1 in DensePassageRetriever.train, it works. Maybe it's some multi-processing problem ?? NVM, it finally works！

[2021-02-11 08:43] #822 closed

[2021-02-11 08:48] Timoeller commented on #822
Ah nice, you seem to have a beefy machine : ) and also found a proper workaround.

Do you have a dockerized environment? There we often observe mp issues. If so did you try setting --ipc="host" when running the docker?

[2021-02-11 09:06] #818 closed

[2021-02-11 09:48] voidful commented on #822
I have tried setting --ipc="host", and it works like a charm.
Never see that coming...

[2021-02-11 09:48] tholor commented on #821
Yep, already on our roadmap. Will be part of #600. I will post a comment there and close this issue so that we have everything in one place...

[2021-02-11 09:50] tholor commented on #600
In order for a proper pipeline validation, we need to first define standardized output types of the nodes and accepted input types (as mentioned also in #821)

[2021-02-11 09:50] #821 closed

[2021-02-11 09:53] tholor commented on #822
@Timoeller How about we add a check in FARM and log an info if we are running in a container + multiprocessing is enabled. We can check via something like this https://stackoverflow.com/questions/20010199/how-to-determine-if-a-process-runs-inside-lxc-docker

[2021-02-11 10:19] AMChierici commented on #747
Thank you, @julian-risch . If I understand correctly, `similarity="dot_product"` is the default in `FAISSDocumentStore` and I can't use `similarity="cosine"` in `FAISSDocumentStore`.

I realized the error was another one. When I used the doc store, it connected automatically to another MySQL DB that was already available with some repeated questions and answers. Therefore the metric was giving me

[2021-02-11 10:26] AMChierici commented on #749
Hi @lalitpagaria , thank you for your answer. No worries about the last question as it is related to the first.

@tholor and @tanaysoni -- what would you suggest for the SQL db structure if I have different sets of documents to search? Is the only solution to create a separate DB for each knowledge base?

And one more question: if I update a database with a new entry (say I add one more document),

[2021-02-11 11:12] Timoeller opened #1511 "Add warning message when running inside docker"
We have seen quite some related issues in FARM or haystack related to multiprocessing getting stuck when run inside docker containers.

We should check weather the code is run inside a docker and then issue a warning message, pointing to ipc=host settings.

Check like [here](https://stackoverflow.com/questions/20010199/how-to-determine-if-a-process-runs-inside-lxc-docker) but from within python

[2021-02-11 11:12] Timoeller commented on #822
Nice one @tholor since we have seen these problems quite often.
Added https://github.com/deepset-ai/FARM/issues/717 in FARM

[2021-02-11 12:31] julian-risch commented on #747
Your understanding of the FAISSDocumentStore is correct: `similarity="dot_product"` is the default and other similarity metrics are currently not supported.
Happy to hear that you were able to resolve the issue @AMChierici . Thanks for letting us know. I will close this issue then.

[2021-02-11 12:31] #747 closed

[2021-02-11 15:26] Petitbonzai31 commented on #787
Hello,
my virtual machine was busy.. I had to increase Gunicorn timeout to fix it, that's ok for me now, it works fine !

[2021-02-11 15:26] #787 closed

[2021-02-11 15:27] Petitbonzai31 opened #824 "French Datasets for DPR ?"
Hello,

Would you know if french dataset can be found for Dense passage retrieval ?

Thanks

[2021-02-11 15:33] Timoeller commented on #824
Even better: there are already trained french DPR query and context encoders out there from the friendly people of the etalab:

https://huggingface.co/etalab-ia/dpr-question_encoder-fr_qa-camembert
https://huggingface.co/etalab-ia/dpr-ctx_encoder-fr_qa-camembert

[2021-02-11 15:41] thenewera-ru commented on #822
I've tried running the training DPR notebook in Colab having and also got stuck.
The problem is that `calc_chunk_size` that is being used to calculate default `max_chunk_size` doesn't take into account available `RAM`.
[code]

I'm assuming not everyone has an opportunity to fine-tune DPR on their own machine with `40+` gb of RAMS. So I suggest to

1. Improve `calc_chunksize` by taking the `RAM` in

[2021-02-11 15:46] Petitbonzai31 commented on #824
Thanks a lot for this :)

[2021-02-11 15:46] #824 closed

[2021-02-11 18:07] voidful commented on #822
In my case, lower down max_multiprocessing_chunksize got no effect, but I do agree to reduce max_multiprocessing_chunksize to fit more cases.

A straightaway solution maybe making both multiprocessing_chunk_size and num_processes to be an argument.

btw, using `xlm-roberta-base` will cause vocabulary mismatch in the haystack version, it may led to issue https://github.com/deepset-ai/haystack/issue

[2021-02-11 19:06] thenewera-ru commented on #822
@voidful, you're right about pointing out to the error related to fixed tokenizer to `DPRTokenizer`.
For that reason I cloned the `farm` repo and not `haystack` where the tokenizer is fixed.
Could you plz share the error you're getting? In my case using the PRO version of colab with `25` gb of RAM solved the issue of RAM overflow. Maybe you could try to lower it down to, say, `100`?

[2021-02-11 19:56] Timoeller commented on #822
nice @thenewera-ru  !
Any plans on putting these multilingual DPR models on the HF modelzoo? We are also looking into multilingual DPR and would love to base our work on those models.

Did you already try any evaluation on it on non-english data? e.g. by transforming the MLQA SQuAD style dataset into DPR with our script?

---------------

About the RAM usage, I see that your colab has 3 or I guess

[2021-02-12 09:23] tanaysoni commented on #749
Hi @AMChierici,

Do you want to make queries across multiple knowledge bases? If the queries are always made to a single knowledge base, then you can use the `index` parameter when writing to the `SQLDocumentStore`. Each knowledge base must be assigned a different `index`. With the changes from #812, now a new FAISS instance will be created for each `index`(knowledge base).

If you want to have th

[2021-02-12 11:15] #817 closed

[2021-02-12 15:52] oryx1729 commented on #714
resolved by #825

[2021-02-12 15:52] #714 closed

[2021-02-12 17:16] voidful commented on #822
Either setting --ipc="host" on docker run or  max_processes=1 can solve my problem.
Lower down max_multiprocessing_chunksize does not affect in my case, even reduce to 1.

[2021-02-12 17:22] voidful commented on #822
That's what I trying to accomplish, I already merged MLQA and all DPR data for training and evaluation. (30GB Train, 3GB Eval). I will update here when I have a further result.

[2021-02-12 21:35] thenewera-ru commented on #822
@Timoeller yes, my diploma work is dedicated to research the best combination of DPR `query` - `passage` encoders in multilingual tasks.
For now I can assure that at least in _Russian_ language - using `xlm-roberta-base` version of RoBERTa outperforms `bert-base-multilingual-cased` in terms of `top-k` retrieval passages on [this](https://github.com/sberbank-ai/data-science-journey-2017) data (Russ

[2021-02-15 10:59] tholor opened #827 "Unintuitive behavior of reader's top_k"
**Describe the bug**
We have various params to control the number of answers returned from the reader:
- `top_k_per_sample` => max answers coming from one sample (i.e. lowest level; one snipped of max_seq_len)
- `top_k_per_candidate` => max answers from one doc
- `top_k` => total max answers (highest level; results returned to the user)

Problem 1:
If you have short indexed documents (e.g. when us

[2021-02-15 11:18] azeemhusain811 opened #829 "Unable to extract text from PDFs"
**Describe the bug**
I am using this file conversion code snippet [here](https://github.com/deepset-ai/haystack/blob/master/README.md#1-file-conversion). It is showing "File not found",  but the file is there in the same folder.

**Error message**
![image](https://user-images.githubusercontent.com/32011670/107939851-5883f380-6fad-11eb-9c7e-9d27efec37ac.png)

**Expected behavior**
It should work sm

[2021-02-15 12:50] azeemhusain811 commented on #829
It just worked after installing **pdftotext**.

[2021-02-15 19:46] aantti opened #830 "Add an option to upload files in Streamlit UI"
**Is your feature request related to a problem? Please describe.**

To follow up on https://github.com/deepset-ai/haystack/issues/664 ("Build simple Streamlit UI #664"): it would be great to have an option to upload files to the DocumentStore using the UI.

**Describe the solution you'd like**

Current UI allows the user to do a query against "some indexed Game of Thrones articles." The original i

[2021-02-16 11:29] thenewera-ru commented on #829
Hi, @azeemhusain811!
Is uses [xpdfreader](https://www.xpdfreader.com) under the hood.
[code]
Are you sure you have `pdftotext` installed correctly? Could you confirm that running directly from the terminal gives you result you expect?

[2021-02-16 12:11] azeemhusain811 commented on #829
Hi @thenewera-ru
Thank you for your response.
I have just checked but no luck. It is not working from the terminal also.

**I am on windows**

![image](https://user-images.githubusercontent.com/32011670/108061265-11196800-707e-11eb-8294-371424f384ea.png)

[2021-02-16 13:48] Timoeller commented on #696
Seems resolved, closing now. Feel free to reopen.

[2021-02-16 13:48] #696 closed

[2021-02-16 14:58] Timoeller commented on #827
Agreed, this behavior is quite confusing : ) What is uncommon is to have more reader answers than retrieved candidate passages.

So I quickly ran tests with:
[code]
which makes sense again.

I see two points for improvement:
- [quick fix] give a warning if top_k_retriever < top_k_reader
- use the new FARM QAPredictionHead parameter `duplicate_filtering` to filter out similar answers and increase v

[2021-02-16 19:40] Ierezell opened #833 "Cannot install (pip) with python3.9"
**Describe the bug**
While runnung with `pip install farm-haystack` an error

**Error message**
`ERROR: Command errored out with exit status 1` is raised.
<details closed>
<summary>All error log</summary>
<br>
<pre>
<code>
Defaulting to user installation because normal site-packages is not writeable
Collecting farm-haystack
  Using cached farm_haystack-0.7.0-py3-none-any.whl (114 kB)
Requirement a

[2021-02-17 07:04] tholor commented on #833
Thanks for reporting @Ierezell . We will investigate it...

[2021-02-17 08:06] thenewera-ru commented on #829
It looks like you don't have `pdftotext` installed. Please install it first [here](https://www.xpdfreader.com/download.html). Then reload your machine in order for Windows to be able to see `pdftotext` in `PATH` system variable.

[2021-02-17 08:23] julian-risch commented on #833
Hi @Ierezell I was able to reproduce your issue. There seem to be compatibility issues with your python version 3.9 and the faiss-cpu version 1.6.3. The latter is currently required by haystack. I would suggest trying python 3.8 or 3.7 (works for me).

[2021-02-17 09:00] #833 closed

[2021-02-17 09:01] tholor commented on #833
Hey @Ierezell ,

Just relaxed the version requirements for FAISS in #834.
Can you please confirm that this solves your problem?

[2021-02-17 10:04] Viveka-S opened #835 "Unable to see the training loss"
Hi,
I using the following code,
`reader.train(data_dir=train_data, train_filename="Train.json", use_gpu=True, n_epochs=2, save_dir="model_location")`

Last time when I use it I was able to see the training loss. But currently, it is not logging the training loss.
Is there a way to get the training loss for every epoch I train?

[2021-02-17 14:39] azeemhusain811 commented on #829
Hi @thenewera-ru,
It seems like there is some issue with **pdftotext** only.
![image](https://user-images.githubusercontent.com/32011670/108219767-092ff580-715c-11eb-9e01-4cc3af70be09.png)

[2021-02-17 14:51] Ierezell commented on #833
Hi @tholor @julian-risch, thanks a lot for the fast reply !

I indeed confirm that faiss-cpu version 1.6.3 was the problem, I have the 1.7.0

I also confirm that with the relaxed pip requirements I was able to install it from the master branch.

Thanks for the support, have a great day.

[2021-02-17 15:16] azeemhusain811 opened #839 "How to use only Retrievers to get the complete passage or page?"
**Question**
I am a bit confused about how to use Retrievers without Readers.

For example:
If we have thousands of PDFs and I enter a query so I want to get the PDF file with a particular page that has relevant information.

Any supporting tutorial or document would also be fine. :-)

**Additional context**
We can do the same thing using Retriever, Reader, and Finder. But I feel it is a bit slow

[2021-02-17 15:30] tholor commented on #839
You can use our `DocumentSearchPipeline` for only using a retriever to find docs. See https://haystack.deepset.ai/docs/latest/pipelinesmd#Default-Pipelines-replacing-the-Finder and let me know if you have further questions :)

[2021-02-17 16:57] Ierezell opened #840 "Cannot use other DPR model (French CamemBERT)"
**Describe the bug**
A clear and concise description of what the bug is.

**Error message**
- On gpu : `RuntimeError: CUDA error: CUBLAS_STATUS_ALLOC_FAILED when calling 'cublasCreate(handle)'`

<details closed>
<summary>GPU error log</summary>
<br>
<pre>
<code>
02/17/2021 11:53:44 - INFO - faiss.loader -   Loading faiss.
02/17/2021 11:53:44 - INFO - farm.modeling.prediction_head -   Better speed

[2021-02-17 17:30] tholor commented on #840
Hey @Ierezell ,

The camembert model uses a different tokenizer than the original DPR model. Can you please set `infer_tokenizer_classes=True` when loading the model and see if this already solves your problem?

[code]

On another note: If you want to use the titles of your docs during training / inference, you will need to rename the field in your documents from `meta["title"] -> meta["name"]`. I

[2021-02-17 17:50] Ierezell commented on #840
@tholor Thanks a lot, I should've RTFM a bit deeper before asking... Everything is working great !

I can confirm that the problem came from the tokenizer and setting `infer_tokenizer_classes` to `True` resolved the issue.

It's a really nice piece of software that wraps tons of thing I did on my own.

Have a great day

[2021-02-17 17:50] #840 closed

[2021-02-17 18:04] Ierezell opened #841 "Add synonyms to elasticsearch"
**Is your feature request related to a problem? Please describe.**
Adding synonyms to improve accuracy in Elasticsearch Analyser

**Describe the solution you'd like**
If a list of synonyms or a file is given when creating the ElasticSearchRetriever instance, create an analyser that include them.

**Describe alternatives you've considered**
Make custom queries to include many words in the request

[2021-02-17 18:17] tholor commented on #840
No worries, glad that we could help.

[2021-02-17 18:20] mrtunguyen opened #842 "Preprocessor doesn't work without internet connexion"
**Describe the bug**
The PreProcessor class need internet connexion to download nltk dataset which creates bug when we are working offline.
https://github.com/deepset-ai/haystack/blob/d700592c9abcf7e06d3edbf089297b16b4251b06/haystack/preprocessor/preprocessor.py#L47

**Expected behavior**
It should be working even in the case of mode offline

we could do something like this:
[code]

[2021-02-17 19:39] lalitpagaria commented on #809
@Rishabhraghwendra18 just checking if you are working on it?
If not then I can work on it.

I looking to learn about conversation chat bots so this will give good starting point.

[2021-02-17 19:42] lalitpagaria commented on #797
@tholor what do you think about having this (also we can make Milvus store as default for API interface).
I could work on it but now a days not getting much time, we can add good first use label.

[2021-02-17 19:58] azeemhusain811 commented on #839
It looks great!!!
Let me give it a try and Thanks for the quick response. : )

[2021-02-17 19:58] #839 closed

[2021-02-18 07:10] datalee commented on #806
thks

[2021-02-18 07:53] azeemhusain811 commented on #829
There was something wrong with `pdftotext`. After going through `pdftotext's` documentation, I found some dependency.

Install Poppler first: `conda install -c conda-forge poppler`
then Install pdftotext: `pip install pdftotext`

It worked for me.

**The solution is for Windows users only.**

[2021-02-18 07:53] #829 closed

[2021-02-18 08:27] tholor commented on #842
Good point @mrtunguyen. Let's change it!
Your solution looks reasonable. Do you want to create a pull request for it?

[2021-02-18 08:56] tholor commented on #829
Thanks for reporting your solution here @azeemhusain811 .
We could add this in the error message [here](https://github.com/deepset-ai/haystack/blob/d700592c9abcf7e06d3edbf089297b16b4251b06/haystack/file_converter/pdf.py#L27). We already have advice for Linux + MacOs. We could add one line for Windows.
Are you maybe interested in creating a pull request with these changes?

[2021-02-18 09:18] mrtunguyen commented on #842
yes, sure!

[2021-02-18 09:53] tholor commented on #815
From the logs, it seems that you are running Haystack with the REST API. Can you please verify that you are really passing `use_gpu=-1` to the TransformersReader? Adjusting it directly in `transformers.py` is not the best approach here. It's better to set `USE_GPU=False` in [config.py](https://github.com/deepset-ai/haystack/blob/master/rest_api/config.py#L8)  or hardcode it in the [REST API module

[2021-02-18 09:54] tholor commented on #786
Seems to be resolved. Feel free to re-open @SasikiranJ if you have any further question s on this!

[2021-02-18 09:54] #786 closed

[2021-02-18 09:55] tholor commented on #743
Did this help @tgalery ?

[2021-02-18 09:56] tholor commented on #635
Seems resolved. Feel free to reopen @mlnlpenthusiast if your problem is still remaining.

[2021-02-18 09:56] #635 closed

[2021-02-18 10:18] prathameshk opened #844 "Import labelled data in squad format in Deepset Annotator"
**Question**
I want to import already labelled data in squad format in Deepset annotator. But there is no option in UI for that. I see only the txt and csv documents for import.
![image](https://user-images.githubusercontent.com/4078857/108342416-cb38dd00-7200-11eb-85cb-f033eab0c99f.png)

[2021-02-18 10:23] Timoeller commented on #844
Hey @prathameshk thanks for using the annotator.
Unfortunately it is not possible to load squad data into the tool (e.g. for checking the labels), only csv and txt files. It is of course possible to export the annotations as squad file.

[2021-02-18 11:05] tgalery commented on #743
Yes, thank you, happy for the issue to be closed!

On Thu, Feb 18, 2021 at 9:55 AM Malte Pietsch <notifications@github.com>
wrote:

[2021-02-18 11:48] Rishabhraghwendra18 commented on #809
@lalitpagaria You can take  . I can't contribute right now because of my university exams . You can take it

[2021-02-18 12:02] prathameshk commented on #844
ok thanks a lot.

[2021-02-18 12:02] #844 closed

[2021-02-18 16:02] adjouama opened #846 "Proxy for model download"
**Question**
Is it possible to add a proxy parameter in `FARMReader` or `TransformersReader` in order to be able to download the models while behind a proxy ?

something like:

`reader = FARMReader(model_name_or_path="deepset/roberta-base-squad2", use_gpu=True,` **proxies=proxies**)

Thank you a lot in advance

[2021-02-18 17:28] tholor commented on #846
Yep, good idea. Sounds reasonable. Are you interested in creating a pull request for it? Sounds like you have a good environment for testing it directly :)

[2021-02-19 02:10] ngoel17 opened #847 "Computing top_n_accuracy for retreiver"
**Question**
I want to retrieve the facebook DPR Natural Questions Model from huggingface, and then calculate the top_n_accuracy for N=5 and N=20. However I am unable to set the metric correctly. Can someone please provide a template?

[2021-02-19 03:14] tomgun132 commented on #809
Hello,

I have experience developing in Rasa but just stumbled on Haystack few days ago. I can help with the Rasa's side, but there are some things that I want to confirm.

You will still need to define the "intent" as the only way to trigger the newly created "Haystack Action Server" is to have the correct intent to trigger it. Here are my ideas on how to integrate Haystack with Rasa:
1. Assuming

[2021-02-19 05:22] harikc456 commented on #135
In Google Colab I have used the below code to update the embedding and save the document_store and the retriever.
[code]
Later in my local machine, I have the following snippet which loads the document store and the saved retriever
[code]
But This returns 0 candidates by the retriever. Even though the same was answered in Google Colab

Am I loading the files wrong?

[2021-02-19 07:06] Akash2021 opened #848 "FARMReader not working in kaggle due to TqdmDeprecation"
reader = FARMRe
![tqdm](https://user-images.githubusercontent.com/36585127/108469892-1d383c00-72af-11eb-97b0-ffbf59ef5eb9.PNG)
ader(model_name_or_path="deepset/roberta-base-squad2-covid", use_gpu=True)

[2021-02-19 08:09] tholor commented on #809
Hey @tomgun132,
Thanks a lot for the offer! That is really kind and helpful. I am sure @lalitpagaria will have a few Rasa-related questions when working on it. Joining community forces here would be amazing.

2. If creating a new intent is not good, the other way to trigger is to let Fallbacks trigger the action server.

Both sound very reasonable and fit exactly with our earlier idea of solving t

[2021-02-19 08:13] tholor commented on #797
@lalitpagaria Yes, I think having additional endpoints to interact with documents would be helpful.
We already have the endpoint for file uploads, but in some cases, user's might prefer creating the doc + metadata on the client side and only send over the resulting `Document` object / dict.

I would rename the endpoints from `data/add` to `document/add` etc. but this is just a small implementation

[2021-02-19 08:23] tholor commented on #848
Hey @Akash2021,
Can you please share the full error logs (ideally in text format)?
Seems odd to me that a deprecation warning triggers an exception. Would be great to see the actual exception in the lower stack trace.

[2021-02-19 08:24] tholor commented on #835
Hey @Viveka-S ,

Can you please share some basic info about your environment (Local vs. Colab, Python version, tqdm version, haystack version, FARM version) so that we can reproduce? Thanks!

[2021-02-19 08:43] ScottishFold007 opened #849 "Error when installing the Annotation Tool"
Hello! I tried to install qa annotation tool on docke in win10, but an error was reported at startup, as shown below：
![image](https://user-images.githubusercontent.com/36957508/108479958-51bcef80-72d1-11eb-9035-e1fdefbf8105.png)
Please, what is the reason for this? Looking forward to your answer~

[2021-02-19 10:19] brandenchan commented on #847
Hi @ngoel17 , could you tell me a bit more about you use case? I'm assuming that you want to use the DPR Retriever model to retrieve relevant documents and then use a Reader model to highlight the answer. If so, you will want to set `top_k_reader=5` or `top_k_reader=20`. Where this param is depends on which object / method you are using. Here are a few examples

[code]
Is this what you were lookin

[2021-02-19 10:30] Timoeller commented on #849
There are, by design, differences between docker run on linux and windows based system.

Your error points to the underlying database failed to launch. We are using postgres. So I would assume that the postgres inside the image and windows does not work well together. Could you check the logs for other postgres errors?

Could you try running the image on a linux based instance?

[2021-02-19 13:31] tholor commented on #810
Hey @sharonbubz ,

Just implemented a new signature for ElasticsearchDocumentStore in #845 which also allows authentication via API keys.
Could you please test and verify that this works for your cluster, too?

[2021-02-20 03:57] ngoel17 commented on #847
Hi Branden,
   I am actually interested in verifying the DPR top-n accuracies on NQ. So
here is the code I had. But It doesn't work.

def evaluate_question_answering():
    ##########################
    ########## Settings
    ##########################
    device, n_gpu = initialize_device_settings(use_cuda=True)
#    lang_model = "deepset/roberta-base-squad2"
#    do_lower_case = True
    quest

[2021-02-20 09:42] yadavpp opened #851 "Unable to retrieve documents from FAISSDocumentStore"
I've created FAISSDocumentStore Instance, I dumped my data using write_documents(), I created EmbeddingRetriever passed the faiss document store as document store. Everything is good till here but when I'm retrieving the documents, I'm getting an error regarding MISIGIN KEY 'vector_ids'. Can you please tell me what went wrong? Please refer to the below SS for reference:
![image](https://user-image

[2021-02-20 10:00] tholor commented on #851
Hey @yadavpp ,

Seems your docs don't have embeddings yet. Have you called `document_store.update_embeddings(retriever)` or passed the embeddings directly with your docs when calling `write_documents()`?
Also see https://haystack.deepset.ai/docs/latest/tutorial6md

[2021-02-20 11:36] yadavpp commented on #851
Hello @tholor , I've passed embedding directly with **write_documents()**.

[2021-02-20 14:15] Akash2021 commented on #848
Hey @tholor this is the error log

TqdmDeprecationWarning                    Traceback (most recent call last)
<ipython-input-6-f8dbd1ef402c> in <module>
----> 1 reader = FARMReader(model_name_or_path="deepset/roberta-base-squad2-covid", use_gpu=True)

/opt/conda/lib/python3.7/site-packages/haystack/reader/farm.py in __init__(self, model_name_or_path, model_version, context_window_size, batch_size

[2021-02-20 16:10] rvenu-gop commented on #779
Hi @tholor, I can take this up if no one is working on this currently. 'll try to figure out and share the logic with you first before trying a PR. please advise.

[2021-02-20 16:13] venuraja79 commented on #779
Hello @tholor I can assist here if no one is currently looking into this. I'll try to figure out and share the logic first before raising a PR. Please advise.

[2021-02-21 05:43] venuraja79 opened #853 "Annotation Tool: data is not persisted when using local version"
**Describe the bug**
 wasn't sure if this is really a defect, still thought may be useful if someone comes across this.

The PGDATA env variable in the postgresql docker image refers to "/var/lib/postgresql/data" whereas in docker-compose.yml the mount volume points to "/var/lib/psql/data". Noticed that the data is not persisted.

**Error message**
no error message, Annotation data is not persiste

[2021-02-21 08:15] tholor commented on #853
Thanks for reporting @venuraja79! Would you mind creating a pull request with the fix?

[2021-02-21 09:19] voidful commented on #822
I have uploaded my training result on huggingface.

https://huggingface.co/voidful/dpr-question_encoder-bert-base-multilingual
https://huggingface.co/voidful/dpr-ctx_encoder-bert-base-multilingual

[2021-02-21 10:32] gevezex opened #854 "Semantic search only tutorial"
**Question**
I saw that the tutorials are more for QA systems. Is there also a semantic search tutorial for finding documents based on semantic search (and even better with the aid of sentence transformers)?

[2021-02-21 12:20] venuraja79 commented on #853
sure, I'll raise a pull request. Thank you!

[2021-02-21 14:36] tholor commented on #853
Fixed by #855

[2021-02-21 14:36] #853 closed

[2021-02-21 14:36] tholor commented on #842
Fixed by #852

[2021-02-21 14:36] #842 closed

[2021-02-22 03:42] Viveka-S commented on #835
Hi tholor,
Thanks for replying. I am using Colab, the latest version of Haystacks,  Python - 3.6.9, Farm Haystack - 0.7.0.

Then when used the previous version of Haystacks(i.e, 0.6.0), it logs the training loss. Is there a way to get training loss in the latest version?

[2021-02-22 04:31] yadavpp commented on #851
It's working now,  but this time I've tried to create embedding with update_documents()  💯

[2021-02-22 06:09] tholor commented on #851
Can you share an example of how you passed them before (i.e. which field you used for the embedding)?
Could still be a bug there that we should resolve...

[2021-02-22 10:48] Timoeller commented on #822
Hey @voidful thanks for checking in with the mBert models.

Did you evaluate those embedders already? I see you used 73,710 QA pairs for dev. I guess without a full evaluation with many negative passages, but still, could you post dev results here?

[2021-02-22 11:47] tholor commented on #854
Hey @gevezex ,

We don't have a dedicated Tutorial for semantic document search. However, it's quite similar to the QA Tutorials with the difference of not using the Reader component. You can use different retrievers (Elasticsearch, DPR, Embedding). In the `EmbeddingRetriever` you can also use sentence-transformers

Here's a small "recipe" (adjusted from [Tutorial 6](https://haystack.deepset.ai/do

[2021-02-22 12:32] tholor commented on #810
Fixed by #845

[2021-02-22 12:32] #810 closed

[2021-02-22 13:26] gevezex commented on #854
This is enough info to give it a spin from here on.
Thnx for the prompt and quick reply by the way @tholor. Appreciated a lot!

I will close this issue (question) now.

[2021-02-22 13:26] #854 closed

[2021-02-22 16:06] voidful commented on #822
Here is the evaluation result, it should be better to fine-tune further on specific dataset.
[code]

[2021-02-22 23:19] lalitpagaria commented on #809
Thanks @tomgun132. You feedback will be very valuable.
I will keep you suggestions in mind when I start working on it.

[2021-02-23 07:55] dg4271 commented on #822
I've tried DPR training with [kobert](https://huggingface.co/monologg/kobert) and korquad QA dataset.

1. I also had the hang problem, and I solved it through "--ipc=host".

2. But "kobert" transfomers model cause vocabulary mismatch.

(@voidful seems to have the same issue.)

[code]

This is probably because when learning DPR from scratch in the Farm code below, it is fixed to the default transfo

[2021-02-23 08:02] tholor commented on #783
Fixed by #811

[2021-02-23 08:02] #783 closed

[2021-02-23 08:04] tholor commented on #822
@dg4271 Please see https://github.com/deepset-ai/haystack/issues/840#issuecomment-780720829 and set `infer_tokenizer_classes=True` when initializing DPR

[2021-02-23 09:30] chaozy opened #856 "Context is not getting full sentences"
**Question**
Hi there, I tried to apply haystack to a python api for a school project, which receives a file and then list of queries from users in a loop.

The contexts in the result returned from the query are not full sentences. Below is an example:

[code]

Is it a problem that can be solved by somehow modifying the configuration? Or I should extract the sentence by myself.

BTW, as you can se

[2021-02-23 10:03] brandenchan commented on #847
Ah so I see you are using a lot of code from the FARM repository to work with the DPR model. A lot of that code is now encapsulated in the Haystack Classes and I would recommend using that instead. For example, if you're only interested in the Retrieval step, without the Reader (i.e. QA model), you could do everything using the [`DensePassageRetriever` Class]([url](https://github.com/deepset-ai/ha

[2021-02-23 14:20] adjouama commented on #846
Thank you for the quick reply :-)
I actually fixed this by adding my proxy config directly in the huggingface function

[2021-02-23 14:20] #846 closed

[2021-02-23 21:43] ankh6 commented on #797
@tholor Does someone work on that ? I'd like to make my first contribution to the project

[2021-02-23 22:27] lalitpagaria commented on #704
Closed with #782

[2021-02-23 22:27] #704 closed

[2021-02-24 05:58] Utomo88 opened #857 "Please support eBooks format: ePub, Azw, and Mobi"
Haystack already support PDF, Docx and also website content.
Please also support Major eBooks Format such as Epub, Azw and mobi please
There are plenty of information available in ebooks format such as ePub, Azw and mobi

https://en.wikipedia.org/wiki/EPUB
http://idpf.org/epub/31/
https://www.howtogeek.com/362592/what-is-an-epub-file-and-how-do-i-open-one/

we can get many ebooks from https://www.

[2021-02-24 08:18] tholor commented on #797
@ankh6 No, it's all yours :)
We would be very happy to see your first contribution here!

[2021-02-25 09:35] ynusinovich opened #858 "FARMReader Is Unable to Load xlm-roberta-large-squad2 from My Computer"
**Describe the bug**
When I run `reader = FARMReader(model_name_or_path="deepset/xlm-roberta-large-squad2")`, the reader correctly loads.
When I run `reader = FARMReader(model_name_or_path="./xlm-roberta-large-squad2/")`, where `./xlm-roberta-large-squad2/` is the path to a cloned version of the `xlm-roberta-large-squad2` model from Huggingface, the reader crashes instead of loading.
I'm trying to

[2021-02-25 10:44] Timoeller commented on #858
Hey @ynusinovich did you try saving the FARMReadermodel with its save() method?

FARMReader can currently only load huggingface models from HF modelzoo (or local cache dir) not a "normal" local folder.

[2021-02-25 15:26] tholor commented on #856
Hey @chaozy

There's currently no configuration for that. If you want to trim the context to full sentences, you'll need to do that with some custom code after retrieving the answer. This is relatively easy to achieve with a sentence segmenter from spaCy or nltk.
However, we already have an feature request for the integration into Haystack in our backlog (https://github.com/deepset-ai/haystack/iss

[2021-02-25 16:59] Timoeller opened #859 "Implement automated vulnerability checks and license compliance checks"
We can integrate https://snyk.io/
Unfortunately the license compliance is not free for OSS.
Only vulnerability checks.

[2021-02-25 20:44] ljak opened #861 "Dockerfile from elasticsearch-game-of-throne docker image"
**Question**
Hi Deepset ! I discover Haystack today, really impressive work, congrats !

I was looking at tutorials, and jupyter notebooks. I saw the docker image from Elasticsearch, containing prebuild indices. I'm really intrigued how you have done that. Could you share the Dockerfile ? Thanks!

[2021-02-25 22:24] Ierezell opened #862 "Bart models supports"
**Is your feature request related to a problem? Please describe.**
For now there is no support for Bart type models so we cannot use bart models or it derivatives in haystack.

**Describe the solution you'd like**
It would be nice to be able to load bart models from huggingface. Like bart, barthez, mbart, mbarthez etc...

**Describe alternatives you've considered**
Use other models based on other

[2021-02-26 07:45] tholor commented on #862
Hey @Ierezell ,

For which component do you want to use BART? The reader?
Adding support for BART as an encoder is relatively straight-forward and you pointed already to the right locations.
However, if you want to use it as encoder-decoder (e.g. for generating answers) it might involve some more work.

[2021-02-26 07:48] tholor commented on #861
Hey @ljak ,

Glad that you discovered Haystack :)

The example image was created by starting a plain elasticsearch container (`docker run -d -p 9200:9200 -e "discovery.type=single-node" elasticsearch:7.9.2`), then running the first part of Tutorial 1 that adds the game of thrones documents to elastic. To "package" it into a new docker image we simply did a `docker commit`.
For production use cases

[2021-02-26 07:52] tholor commented on #857
Hey @Utomo88 ,

What's your use case for eBook content? I think having `Converters` for eBooks would be nice, but I don't see the highest priority for it right now as I haven't come across any use case in the industry yet :thinking: . We would be open to community contributions here, of course, and can support during the implementation. Would you be interested in creating a pull request here?

[2021-02-26 07:54] tholor commented on #750
Implemented in #803

[2021-02-26 07:54] #750 closed

[2021-02-26 07:55] #743 closed

[2021-02-26 09:40] tholor commented on #835
Hey @Viveka-S ,

I could replicate it and found the underlying root cause. Implemented a fix for it in #863 which should be soon available in master. If you already want a quick fix in your current code: Please try to set `progress_bar=False` when initializing the `FARMReader()`.

[2021-02-26 09:51] tholor commented on #835
It's now merged in master. Could you please try to install Haystack from the latest master branch and verify that you see the training loss again?

[2021-02-26 10:04] tholor opened #864 "Add user feedback buttons to UI to collect domain-specifc training data"
**Is your feature request related to a problem? Please describe.**
If you work on domain corpora, collecting additional training data to improve your reader or retriever models is very helpful.
For collecting training data, there are two main options:
a) Manual Labelling
b) User feedback for "live predictions"

b) is particularly promising if you don't have enough time or resources for a) OR if yo

[2021-02-26 10:42] tholor commented on #848
Hey @Akash2021 ,

Looking at the error log it doesn't seem to be related to tqdm, but rather the (remote) model loading from huggingface's modelhub.
[code]
Might be related to the local cache or internet connection :thinking:.
Do you have internet access in the environment where you are running this?
Does this work:
[code]
(Also see https://github.com/huggingface/transformers/issues/7412)

[2021-02-26 10:58] Timoeller commented on #848
My two cents on Kaggle environments:

The restrictions depend on the type of competition. Some competitions are very restrictive and do not allow internet access during running the notebook. Then you have to pre package your models into the kaggle environment before letting it run.

[2021-02-26 14:38] Ierezell commented on #862
Hi @tholor, thanks again for the fast support, much appreciated.

Sorry I didn't specify the goal, yes for now it would be for a reader, but perhaps using it as a generator in the GenerativeQAPipeline would be nice too.

Are you planning on adding the other kinds of models or do you prefer me to make a PR ?

Have a great day.

[2021-02-26 14:57] tholor commented on #862
Ok got it and makes totally sense. Would be awesome if you can create a PR for supporting BART in the `FARMReader`! Happy to support, of course, if any questions come up.

For the generator: RAG is already using BART under the hood. So I would probably rather deprioritize a "dedicated" BARTGenerator for now and maybe come back to it sometime in the future if we see a need...

[2021-02-26 15:00] Ierezell commented on #862
@tholor seems a good plan, I can use Rag with a custom Bart model, it will do what I want for now.

I will start a PR but I don't know how much time I can but it in. I will tag you in it when I will have some advancements.

[2021-02-26 15:32] ljak commented on #861
Thanks a lot, it really helps. I wasn't aware of the `docker commit` command, so I learn something :)

[2021-02-26 15:32] #861 closed

[2021-02-26 21:09] flozi00 opened #865 "Model pruning"
https://github.com/huggingface/nn_pruning/blob/main/documentation/notebooks/Using%20pruned%20transformers%20for%20inference.ipynb

@tholor in our call you said you are on search for efficient models, did you checked out this amazing new library ?
What do you think about ?

[2021-02-27 02:33] chaozy commented on #856
Hey @tholor

Thank you so much for the explanation.

I am trying to trim the context to full sentences using spacy but it turns out it is harder than what I thought.
In my previous example. the context is : `or P2). Information security\nHow do I protect my information if it leaves the organization? Company data that can be accessed remotely or sent remotel`,

only `Information security\nHow do I

[2021-02-27 09:53] Timoeller commented on #865
Nice notebook and method @flozi00
[Here](https://github.com/huggingface/nn_pruning#results) we can find speedup results from block movment pruning. Simple "random" pruning doesnt really improve inference speed but pruning away whole attention heads or other whole components inside the LM seem to do the trick.

[2021-02-28 00:48] ynusinovich commented on #858
@Timoeller Thank you so much, that solves the problem!
`reader.save("./saved_model/")` in the notebook where I'm using the reader, followed by `reader = FARMReader(model_name_or_path="./saved_model/")` in the notebook where I'm loading the reader makes it work correctly!

[2021-02-28 00:48] #858 closed

[2021-02-28 11:53] Timoeller commented on #858
Nice, glad I could help : )

[2021-02-28 12:32] tholor commented on #865
@flozi00 yep, we have seen this and think this could be really cool! We will need to to run some tests, train a model on squad2 and possibly experiment with a few larger architectures.

[2021-03-01 10:14] tholor commented on #856
Just to make sure: you are aware that the `context` is always just a specified number of characters around the predicted answer, right?
I suppose what you want is a predefined number of sentences around the answer?
In that case, I would not worry too much if the first sentence is complete or not. What you could do is returning the full document/passage by setting a very high value for `context_win

[2021-03-01 14:37] chaozy commented on #856
I got what you mean. Thank you so much for that!

[2021-03-01 14:37] #856 closed

[2021-03-01 21:09] ankh6 commented on #797
Thanks @tholor I am a bit confused with the API routes design described above. If I understand correctly we would add endpoints to
- write documents into a database (POST /documents)
- retrieve resources from the database (GET /documents/{documentId})
- update existing resources from the database (PUT /documents/{documentId})
- delete resources from the database (DELETE /documents/{documentId})

I

[2021-03-02 07:58] voidful opened #867 "SQuAD style document processing error"
**Describe the bug**
There are many SQuAD like style dataset which follows SQuAD v1.1 format, such as [MLQA](https://github.com/facebookresearch/MLQA), [MRQA](https://github.com/facebookresearch/MLQA),  [MultiQA](https://github.com/alontalmor/MultiQA)

There will have two problem when using haystack on those datas:
1.  It don't have 'is_impossible' field, it will cause error on json reading https:

[2021-03-02 08:16] Timoeller commented on #867
Agreed.
Would you like to create a PR?

I guess a simple .get("is_impossible",False) would be enough to cover the first part.
Adding encoding info seems like a good idea, our txt [fileconverter](https://github.com/deepset-ai/haystack/blob/6c3ec540a49fd7dd0114c5c2bba4ae78ed04c9be/haystack/file_converter/txt.py#L33) uses it by default as well. The default encoding of open() is platform dependent (wh

[2021-03-02 09:58] voidful commented on #867
I found the encoding problem when I using squad_to_dpr script to converting the multi-lang file into DPR format. It returns the file with \u escape sequence, which is not human readable. Setting utf-8 and ensure_ascii=False should solve this problem.

[2021-03-02 11:15] tholor commented on #797
Hey @ankh6 ,

retrieve resources from the database (GET /documents/{documentId})
update existing resources from the database (PUT /documents/{documentId})
delete resources from the database (DELETE /documents/{documentId})

Yep, all of those make sense to me. @lalitpagaria was there any reason why you initially proposed 4x POST endpoints? Distinguishing into POST/GET/PUT/DELETE feels more common a

[2021-03-02 11:39] lalitpagaria commented on #797
Yes I agree about PUT/DELETE etc. These is.good api design.

Why I suggested about post?
Because of bulk docs update and delete.
Ideally along with single docs, it would be good if we support bulk operations as well.

[2021-03-02 14:23] tholor commented on #779
Hey @venuraja79,
Sorry, I somehow forgot to reply here. We would definitely welcome a PR here! As you suggested, it would make a lot of sense to share a first rough concept and discuss it together before diving too deep into the implementation. We are happy to support you also along the way of the implementation.

[2021-03-02 15:08] tholor commented on #841
Hey @Ierezell ,

I agree that adding a custom analyzer / stopword list can boost BM25 performance significantly.
Would be nice to simplify this index configuration by implementing something in Haystack. However, I did not fully get how your suggested implementation would look like in Haystack? Would it by an argument `synonyms` in `ElasticsearchDocumentStore` where you pass a list of synonyms?

[2021-03-02 15:41] Ierezell commented on #841
Hi @tholor,

### Creating the index
As I understood ([from the ES docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-synonym-tokenfilter.html)) you can give either an array or a path to a formated file.

[This french blog post](https://www.elastic.co/fr/blog/boosting-the-power-of-elasticsearch-with-synonyms)(the code snippets should explain it, sorry it's in french)

Wi

[2021-03-02 17:31] Timoeller commented on #849
Any updates here?

[2021-03-02 19:15] azeemhusain811 commented on #829
Hi @tholor,
I am pretty much occupied nowadays with some other stuff.
I will definitely fix it whenever I will be available.

Thanks for your quick response, and sorry for responding late. 😄

[2021-03-03 02:54] Viveka-S commented on #835
Hey @tholor ,
 I have installed the Haystack from the latest branch and now I am able to see the training loss. Thanks.

[2021-03-03 02:56] #835 closed

[2021-03-03 03:46] gbennett71 commented on #779
Hello: I'm a newcomer to this thread.

What if both the vector search, and filtering by a search condition, could form a cascade? (Applying one, then the other, in turn, progressively expanding and contracting the search space.) PoC needed.

[2021-03-03 03:49] gbennett71 commented on #779
Hello: I'm a newcomer to this thread.

What if both the vector search, and filtering by a search condition, could form a cascade? (Applying one, then the other, in turn, progressively building and contracting/filtering the search space.)

see also: Combining the results from several searches

[2021-03-03 10:55] MathiasKrill opened #872 "German Model ?"
**Question**
Is there a german model for question answering you can recomment?

**Additional context**
I already asked per formular on the webside-  but it showas an error message/invalid messagen when sending.
Can you recomment a model for german language?

I tried:
deepset/xlm-roberta-large-squad2  and  Sahajtomar/GBERTQnA
Both work sometimes and somtimes i get in the very beginning the error:

[2021-03-03 11:51] MathiasKrill commented on #872
I tried:
deepset/xlm-roberta-large-squad2  and  Sahajtomar/GBERTQnA
Both work sometimes and somtimes i get in the very beginning the error:

`{"detail":"There was an error parsing the body"}`
Question was:
`curl --request POST --url 'http://127.0.0.1:8000/models/1/doc-qa' --data '{"questions": ["Nenne mir Beispiele für einen"]}'`

[2021-03-03 14:41] MathiasKrill opened #874 "Upload file bug for pdf's"
**Describe the bug**
when uploading a pdf document the error of "valid_languages" is there like it was with text files before you fixed it on txt files.

**Error message**
[code]

**Expected behavior**
PDF should have been uploaded

**Additional context**
Problem maybe close to:  https://github.com/deepset-ai/haystack/issues/799#issuecomment-774020388

**To Reproduce**
upload a pdf document with a

[2021-03-03 15:17] Timoeller commented on #872
Hey thanks for reaching out about German QA. You already found the two bests methods that can be used for German QA currently.

We are working on a German QA dataset that improves performance of these methods significatnly and will open source it latest by April 15th.
For what use case do you need the model and where were the xlm-r and GBERTQnA failing?
-----------
about the api call: I am wonderi

[2021-03-03 16:17] MathiasKrill commented on #872
Hallo for the quick response.

### First the problem i mentioned on the webside: "undefined"
![errormessage](https://user-images.githubusercontent.com/7436517/109834604-aa31ac80-7c42-11eb-80be-f9df6479c67c.png)

### For what use case do you need the model and where were the xlm-r and GBERTQnA failing?
I want to extract a passage from a bigger text like a pdf with 20 pages or a much bigger document

[2021-03-03 16:40] Timoeller commented on #872
Hey about the "text" field. Sorry I mistook your request for another API. Of course you index documents into haystacks document store and against these documents you can just ask questions. So there should not be a "text" field in the body.

------------------

About the website, do you use another Browser than Chrome?

----------------

This is a good idea. Maybe you have empty questions in your

[2021-03-03 18:01] MathiasKrill commented on #872
### "We are working on a German QA dataset that improves performance of these methods significatnly and will open source it latest by April 15th."
- super cool .

### This is a good idea. Maybe you have empty questions in your data?
Actually no. When iam building the request by "postman" insteadt with curl its all fine.  For unknown reason in english the problem never happend once with curl. Never

[2021-03-04 15:27] voidful commented on #867
About is_impossible not exist, It still have two more place to change in order to make it work.  I am sorry for missing that.

[2021-03-04 16:49] Timoeller commented on #867
No prob, just open another PR.

[2021-03-04 16:57] voidful commented on #867
Thx, PR is Right here: https://github.com/deepset-ai/haystack/pull/870#issue-583047521

[2021-03-05 04:48] chingfhen opened #876 "Do no-answer samples get automatically created during reader training?"
We know that having negative QA pairs i.e no-answer pairs improve model performance significantly. In the Haystack annotation tool, unfortunately does not have the function to make no-answer QA pairs. Thus, i am seeking a way to make no-answer pairs.

During reader training (in Haystack), i know that contexts gets split into smaller passages automatically. It is not clear how it is actually done.

[2021-03-05 05:17] venuraja79 commented on #779
Sure @tholor, I'll start looking into this. Thank you!

[2021-03-05 08:13] tholor commented on #841
Hey @lerezell,

In general, I see the tradeoff between
a) Creating an index outside of Haystack (more work, but very powerful since you can use all available Elasticsearch configs)
b) Creating an index automatically from Haystack (convenient, but only most command useful configs)

Even today you can create an index with a synonym file outside of Haystack. Not a problem, but it might require some d

[2021-03-05 08:39] Timoeller commented on #876
Hey @chingfhen thanks for looking into the annotation tool in combination with Haystack. Are you using it to create positive examples then?

----------------

About negative examples in the annotation tool:
Explicitly creating questions that do not have an answer is not a feature we currently have, but we might be interested in including it.
Though you can create no_answers if you upload pre-defin

[2021-03-05 14:19] Ierezell commented on #841
I agree that for complex use cases creating the index "on the side" is really relevant (and the best tradeoff).

For b) :
    - List of synonyms yes it's simple but not modifiable. It's the best tradeoff between complexity/works out of the box.
    - File path, you're right, it need to be written in the elasticsearch config folder... I used a function to copy it from my work directory to the elast

[2021-03-06 02:08] chingfhen commented on #876
Yeah, I am interested in making negative examples because they can improve model performance greatly. Since it's not a feature in your annotation tool, it's fine

We can close this issue

Thank you for your guidance!

[2021-03-06 02:08] #876 closed

[2021-03-06 17:38] ankh6 commented on #797
@tholor I am wondering:
- DELETE request. Currently there's only one function : delete_all_documents(self, index: Optional[str] = None, filters: Optional[Dict[str, List[str]]] = None). The problem is that it only accepts an index as an argument. Should we add **kwargs as parameter or should we create another function to delete a document given its id ? Adding it as a filter is not good space-wise

[2021-03-07 00:21] antelligent-ninja commented on #809
Rasa with cdQA is implemented here: https://www.fortech.ro/how-to-make-an-ai-chatbot/
This can be used as well

[2021-03-07 04:45] prasunanand commented on #809
Hi @tholor  I got rasa and haystack working together. I have setup the communication.
https://github.com/prasunanand/haystack-action-server
The instructions to test  are in README.md.

Next working on a tighter integration.

[2021-03-08 08:33] oryx1729 commented on #874
Hi @MathiasKrill, thank you for raising the issue.  Did installing pdftotext resolve it? With #877, the PDF converter will get added to the Docker images.

[2021-03-08 08:53] oryx1729 commented on #797
Hi @ankh6,

For the delete request, I think we can add a `delete_documents_by_id()` that accepts a list of document IDs and the index. In a future release, it'd be nice to merge it with `delete_all_documents()` and call it `delete_documents()`, but that's a breaking change and beyond the scope of this issue.

For the update request, in my opinion,  it might be more user-friendly to use PUT to repl

[2021-03-08 10:07] MathiasKrill commented on #874
@oryx1729 yes installing it to the docker container solved the issue "pdftotext-issue" . Haven't tried with your master build yet. There was one problem with "valid_languages" before this issue - haven't checkt this again.

[2021-03-08 11:54] tholor commented on #809
@prasunanand This looks great! Thanks for working on it :)

I only had a quick look into our code so far, but from my preliminary understanding, most of the files in the repo are related to rasa, while "the interface" is really happing in action-server.yml and the haystack endpoint is implemented in app.py. Is that correct?

For further steps:
- We will need to parse the question from the rasa req

[2021-03-08 12:01] prasunanand commented on #809
Hi @tholor ,

Thanks for your response and the pointers. I can take it forward from here :) .

@tomgun132 @lalitpagaria  The two main changes to get the action server going are:
1. https://github.com/prasunanand/haystack-action-server/blob/master/app.py
2. https://github.com/prasunanand/haystack-action-server/blob/master/data/nlu.yml#L94

I will move rasa files into a separate directory now.

[2021-03-08 12:53] tomgun132 commented on #809
Hello, I want to comment on some things here.

First, what @prasunanand do is to replace the endpoint of supposedly action server to be the endpoint created by `app.py`. There might be problem when you want to create other custom action other than Haystack since all output from Rasa will be sent to the custom `app.py` instead of custom Rasa action server which can handle the output data from `rasa

[2021-03-08 13:25] #867 closed

[2021-03-08 13:43] Petitbonzai31 opened #878 "Answer given duplicated by QA module ?"
**Question**
I've connected QA function to 500 documents indexer in elasticSearch server

I set parameters : RETRIEVER to 5 / READER to 5 also.

I've noticed among these 5 answers returned by QA, some answer are given are duplicated ? is that normal ?
exemple  :
- the first 2 answer are the same (same score, same document, same context, same probability)
- the thrird / foruth are the same
- the fi

[2021-03-08 15:52] tholor commented on #82
Let's reconsider a jina documentstore again. Possibly even a "JinaRetriever" later on top.

Some rough steps:

1) Checkout Jina CRUD REST API endpoints: https://api.jina.ai/rest/#operation/search_api_search_post
2) Implement a `JinaDocumentStore` with the basic methods:
- write_documents()
- get_document_by_id()
- query()
- query_by_embedding()
- get_all_documents()
- delete_all_documents()
(see a

[2021-03-08 18:21] Timoeller commented on #872
Hey, issue seems fixed, using postman seemed to resolve the problems.

I will update you about the German Model once we have our paper out.

Closing now, feel free to reopen any time.

[2021-03-08 18:21] #872 closed

[2021-03-08 18:22] Timoeller commented on #849
Issue seems resolved, closing now. Feel free to reopen.

[2021-03-08 18:22] #849 closed

[2021-03-08 21:31] giuliodz opened #879 "Support for bulk operations?"
**Question**
I was wondering whether it is possible to do bulk updates in an ElasticSearchStore instance.

**Additional context**
Can we insert multiple documents at the same index in a ES Store?
What is the default behaviour when we do `store.write_documents(index)` to an index which already exists in the store?

[2021-03-08 22:03] lalitpagaria commented on #809
As I have very low knowledge about RASA, I will go by @tomgun132 suggestion :)

Also can we make use of [RASA's SDK](https://github.com/RasaHQ/rasa-sdk) which will simplify our design as `action-server.yml` to me nothing but OpenAPI swagger spec.

@tholor Regarding RASA integration with Haystack, I thought we could have decoupled integration in rasa folder like [UI](https://github.com/deepset-ai/h

[2021-03-09 00:22] hanxiao commented on #82
perfect, let me create a mirror ticket in our repo as well: https://github.com/jina-ai/jina/issues/2128

[2021-03-09 08:42] predoctech opened #881 "Support for Paraphrase Identification Models?"
**Describe the bug**
Sentence transformers has a new class of Paraphrase Identification Models that can be used in place of STS models:
- paraphrase-distilroberta-base-v1
- paraphrase-xlm-r-multilingual-v1

When passed this as the model argument to EmbeddingRetriever() it looks fine with the object instantiated.  However on emebedding the ES Index it gave error as below:

**Error message**
03/09/2

[2021-03-09 10:42] oryx1729 commented on #879
Hi @giuliodz,

yes, you can call `document_store.write_documents()` with a list of documents you want to add in the index.

The documents would get added to the Elasticsearch index. If there's a clash of document ID with an existing document, it should get overwritten.

-------
Could you elaborate more about your use case? Are you adding new documents to an index or you're looking to update the ex

[2021-03-09 11:02] giuliodz commented on #879
Wow, @oryx1729  thank you so much for your quick reply.

**Context Info**
At the moment I am updating an ES Store via some API calls.
The API is built using Flask.
There is an endpoint ('/insert_document') that takes a document and an index (representing a userID).
- It initiates an ES Store
`document_store = ElasticsearchDocumentStore(host=app.config["host"],

[2021-03-09 11:53] tholor opened #882 "Export of feedback as SQuAD labels is broken"
**Describe the bug**
Calling the API endpoint `export-doc-qa-feedback` should return a file with valid SQuAD format.

However, the request returns something like this:

[code]

This bug was probably introduced when we changed the format of the `Label`object.

Further things I noticed:
- Offsets are also not adjusted for the returned context
-  Returning also "no_answer" labels for the samples wher

[2021-03-09 15:46] oryx1729 commented on #879
Hi @giuliodz, with this approach, you're creating a new index for every `userid`. This means that a new index gets created in Elasticsearch and might not scale if you've more than a few users.

An alternate approach could be to add all documents in the same index with an additional meta field called `userid`. You can use this to filter queries per user.

-----

Is it possible that the documents yo

[2021-03-09 15:47] oryx1729 commented on #874
Hi @MathiasKrill, can you try again with the latest master build and post the error stack trace if you still face the issue?

[2021-03-09 18:58] giuliodz commented on #879
I didn't specify the id for each content, so I read that by default a UUID gets assigned to them.
It is really weird as only the last document get actually inserted...

[2021-03-09 22:40] nmstoker opened #883 "Advice regarding normalisation of source texts"
**Question**
Do you have any advice / recommendations regarding normalisation of source texts?

**Additional context**
This came up when I was evaluating the QA capabilities recently - I tried pulling in a bunch of Wikipedia text on the Royal Family and testing it on different kings and queens.  The issue I noticed was that often if the question wasn't made to match the way the monarch's regnal nu

[2021-03-10 14:27] oryx1729 opened #885 "Update Embeddings in FAISS"
In the `FAISSDocumentStore`, the `update_embeddings()` has a parameter `update_existing_embeddings` to decide if existing embeddings get overwritten. Since the current implementation of FAISS do not allow updating existing embeddings, we should ensure that the FAISS index must get reset when `update_existing_embeddings` is set to `True`.

Additionally, ensure that `filters` must only select docume

[2021-03-10 19:27] brandenchan opened #886 "Create a suite of tools to easily manipulate SQuAD format data"
Create a suite of tools to easily manipulate SQuAD format data. It would be useful to have tools to do things such as:
- merging annotations
- converting SQuAD format to Pandas data frame and vice versa
- easier functions to remove samples / paragraphs / annotations
- easier functions to count
- easier functions to return all questions, documents or answers
- incorporate squad to dpr functionality

[2021-03-10 23:21] giuliodz commented on #879
This turned out to be an error on my side. My app was accidently causing that behaviour.

[2021-03-10 23:21] #879 closed

[2021-03-12 14:36] giuliodz opened #889 "WARNING - haystack.preprocessor.preprocessor - A sentence found with word count higher than the split length."
**Question**
I am trying to preprocess some documents using the Preprocessor object. However, when I `.process(document)` a document, which is a long plain text, I get the following Warning:
**WARNING** - haystack.preprocessor.preprocessor -   A sentence found with word count higher than the split length.

**Additional context**
The document can be quite long... even in the order of 3000 words.
Th

[2021-03-12 19:33] lalitpagaria commented on #859
I used this for my project. Do not recommend this for vulnerabilities check either. Auto raising PR to fix vulnerabilities seems not working. It says not able to find the fix, but github simple scan suggested fix to me.

Also getting lot of emails about buying their commercial product.

[2021-03-13 13:54] sadakmed commented on #670
@tholor  it been a while, I did try as @lalitpagaria  said, to pass a `DensePassageRetrieval` object as retriever, However it failed due to an `assert` assuring the type of retrieval to be `RagRetriever`.

Another solution I think is to pass faiss document as a dataset,

[code]

[2021-03-14 14:22] Petitbonzai31 commented on #809
![image](https://user-images.githubusercontent.com/52320144/111071900-930f7c00-84d8-11eb-9105-b06ee4a4735b.png)
I could ask Haystack Q/A into RASA Chatbot using NLU Fallback threshold. When RASA NLU finds an intent with a confidence score < the fallback threshold defined in the config file, it triggers action-custom fallback which can call Q/A API using the question asked to RASA.
Then in this act

[2021-03-15 11:54] chingfhen opened #891 "Retriever and reader weights"
Can the retriever and reader weights be adjusted in haystack?

I believe it is currently 50:50. But how can i adjust the weight?

[2021-03-15 12:23] chingfhen opened #892 "Does ExtractiveQAPipeline split long documents into passages automatically?"
pipe = ExtractiveQAPipeline(reader, retriever)
prediction = pipe.run(query="Who is the father of Arya Stark?", top_k_retriever=10, top_k_reader=5)

My documents are very long - too long to fit into the reader. So, they have to be split. The above code is found in the 'Build your first QA system' tutorial.

Are the documents retrieved split into short passages and each passage is fed into the reade

[2021-03-15 13:18] julian-risch commented on #892
Hi @chingfhen the reader will take care of splitting long documents into shorter passages.
Each passages is of (approximately) max_seq_length number of tokens and these passages are offset by doc_stride number of tokens.
You can find some more information here in the last paragraph: https://haystack.deepset.ai/docs/latest/readermd#Deeper-Dive-From-Language-Model-to-Haystack-Reader

[2021-03-15 13:18] #892 closed

[2021-03-15 14:20] julian-risch commented on #889
Hi @giuliodz the preprocessor handles these long documents properly. In fact, the problem here is not the length of the document but the length of one of the sentences, which is longer than 100 words. Maybe the sentence boundaries are not recognized correctly. The warning message tells you that you cannot rely on the output of the preprocessor being shorter than 100 words (your split_length). This

[2021-03-15 14:20] #889 closed

[2021-03-15 14:31] julian-risch commented on #891
Hi @chingfhen could please explain what weights you are referring to so that I can help you? Reader and retriever work sequentially in a [pipeline](https://haystack.deepset.ai/docs/latest/intromd). I am not sure whether I understand what you mean by 50:50.
https://haystack.deepset.ai/static/7cbd0592b7e0de24ec3f5b3628ca24ae/c83ae/retriever_reader.png

[2021-03-15 16:07] chingfhen commented on #892
Understood!

Appreciate the guidance!

From: Malte ***@***.***>
Sent: Monday, March 15, 2021 9:57 PM
To: ***@***.***>
Cc: #TAN CHING ***@***.***>; ***@***.***>
Subject: Re: [deepset-ai/haystack] Does ExtractiveQAPipeline split long documents into passages automatically? (#892)

@chingfhen<https://github.com/chingfhen> One additional note: The reader will take care of automatically splitting your d

[2021-03-16 07:30] Timoeller commented on #859
Hey Lalit, thanks for the insights. I also get a lot of inbound mail for their product...

Can you recommend other tools for vulnerability checks or license compliance?

[2021-03-16 11:22] clotildemiura opened #893 "Question on ExtractiveQAPipeline output"
**Question**
What's the signification of all the outputs of the ExtractiveQAPipeline?

**Additional context**
Hello, I'm using Haystack to perform Q&A on long documents . Therefore, I'm only passing one document through the document store. The performances are quite good but I have trouble to exploit the results.
I couldn"t find in the documentation the signification of all the outputs of the Extr

[2021-03-16 11:41] Timoeller commented on #893
Hey @clotildemiura thanks for using haystack for doing QA.
The score is currently rather random. We are working on a better "model confidence". In a basic version this is already inside FARM, our framework for doing the QA heavy lifting. See https://github.com/deepset-ai/FARM/pull/720
We will integrate the model confidence + calibration in the coming weeks into haystack.

About your use-case: Do y

[2021-03-16 13:31] clotildemiura commented on #893
Hello @Timoeller ,
Thank you for responding so quickly! :)

Ok I understand thank you,  looking forward for the update !!
Regarding my use case, I tried to split it using the class **Preprocessor.** It's true it speeds up the computation but the performances were not as good as when passing the whole document. Considering some seconds is very acceptable for us, I chose not to split the document. I

[2021-03-16 17:17] DanielGlickmanTAU opened #894 "Retriever training reports wrong evaluation results"
After training a report with precision, recall and f1-score is printed out.

Looks like this is based on the evaluation retrieval of a passage from within a single batch and not the whole passage corpus.
To Illustrate, when training with batch_size=1 you would always get 1. precision.

Is implementing recall over the whole corpus possible? that would require updating the embeddings which is expens

[2021-03-17 11:40] lewtun opened #895 "Enable logging level to be set globally in Jupyter notebooks with a single command"
**Is your feature request related to a problem? Please describe.**
I am currently using `haystack` in Jupyter notebooks and there are some cases where I do not want to see all the logging outputs from `farm`, `elasticsearch` etc (e.g. when presenting results to a colleague).

**Describe the solution you'd like**
It would be useful if one could configure the logging globally in a notebook environme

[2021-03-17 11:50] DanielGlickmanTAU opened #896 "Wrong batch size in the training DPR tutorial"
in this tutorial: https://github.com/deepset-ai/haystack/blob/master/docs/_src/tutorials/tutorials/9.md

You state: "On a V100 GPU, you can fit up to batch size 4 so we set gradient accumulation steps to 4 in order to simulate the batch size 16 of the original DPR experiment."

But the batch size they used is 128. 16 is for the reader.

[2021-03-17 16:28] clotildemiura opened #897 "Meaning of "no_ans_gap""
**Question**
Hello what's the meaning of no_ans_gap in the output of the DensePassage Retrieval model?
**Additional context**
I have trouble to identify wether or not my algorithm should not output an answer, i.e because the answer doesn't exist in the text.
Thank you for your time,

Best Regards,

Clotilde

[2021-03-17 16:44] LivingDeadCloud opened #899 "Question answering bot: yes/no answers"
Hello everybody

I'm kinda new to the NLP world and definitely new to Haystack, so I apologize if my question is out of place.

Thanks a lot!

**Questions**
- How to train a QAbot to be able to answer yes/no to specific questions?
- is there a pre-trained model that I can use as a starting point so that I only have to fine-tune it?

**Additional context**
I'm in the process of  fine-tuning a model

[2021-03-17 16:45] brandenchan commented on #896
Thanks very much for pointing this out. This will be fixed by #898

[2021-03-17 17:55] Timoeller commented on #881
Hey @predoctech I think you instantiate the sentence transformers EmbeddingRetriever in a wrong way, because it loads a FARM data processor. Please make sure to include the model_format="sentence_transformers" like in:

[code]

[2021-03-17 18:02] Timoeller commented on #894
Hey @DanielGlickmanTAU I presume you are talking about DPR training and evaluation?

We have already started a PR in FARM to include better DPR eval during training. See https://github.com/deepset-ai/FARM/pull/715 for details. We will need some time though to get this into FARM and then haystack.

[2021-03-17 19:24] lalitpagaria commented on #859
I am also searching for license compliance tool. Thinking for writing one which will fetch license information from pypi for each dependencies and analyse against OSS approved license. Obviously it very hard to check if someone using non compliant code in PR. For that better to add code commit guideline along with mechanism for people to report violation.

For vulnerability so far I found these tw

[2021-03-17 23:02] thenewera-ru commented on #894
@Timoeller
Is it possible right now using FARM functionality to add `top-k` accuracy metric for diferent `k=5, 10, 15, 20` over the whole dataset?
If I'm not mistaken I could pass the custom list of functions (metrics) to the processor? In the context of DPR taken from [this](https://github.com/deepset-ai/FARM/blob/a11ea46a71d708aa48947a640daa30283dd7289c/examples/dpr_encoder.py) example this coul

[2021-03-17 23:21] aqsa27 opened #900 "FAQ model"
I have a use case in which I have a existing training data-set in the form of the question and Answer(csv file ) and I have a test file containing similar questions. I need to use my  train data-set to find answers for the test file. I believe this falls under FAQ Style tutorial 4.
I have been using document_store = InMemoryDocumentStore(similarity="cosine") , model_path = "deepset/sentence_bert"

[2021-03-18 06:38] DanielGlickmanTAU commented on #894
There is the dataset(questions + positive contexts) and there is the corpus. The trainer does not necessarily have the corpus when training, so you will need to handle that. Also it will require calling update_embedding before evaluation, which can make it slow(might be slower than actual training)

[2021-03-18 08:06] Timoeller commented on #895
Hey Lewis, thanks for this issue, I think it would be a great feature. I have also been following the discussion on slack.

Would you like to contribute this feature yourself? We can also give you guidance and early feedback if you need sparring. Otherwise we will incorporate it in one of our next sprints.

[2021-03-18 08:08] Timoeller commented on #859
Perfect, thanks for the insights. @PiffPaffM this might be useful for you as well.
We will work on this in the coming sprint and give updates here.

[2021-03-18 08:14] Timoeller commented on #893
Nice.

The issue for model confidence is #739 and we will mention updates there.

About the split_paragraphs, it is a very simple function that splits a text based on two consecutive newline characters "\n\n".
If there are none it also does not split. This might be the case for your document I guess?

[2021-03-18 08:15] Timoeller commented on #848
Hey @Akash2021 any progress here? If you solved the issue with connection errors please report back here and/or close this issue. Thanks

[2021-03-18 08:18] Timoeller commented on #657
Hey, lets close this issue for now. Please feel free to reopen. We would highly appreciate a PR for this feature.

[2021-03-18 08:18] #657 closed

[2021-03-18 08:19] Timoeller commented on #766
I think the issue might have been resolved by updating to the current versions. IF not, feel free to reopen this issue and we will help you out.

[2021-03-18 08:19] #766 closed

[2021-03-18 08:49] Timoeller commented on #900
Hey @aqsa27 thanks for raising this issue.

Performance for paraphrase identification can vary depending on the domain. We think @nreimers https://github.com/UKPLab/sentence-transformers has some very nice functionality and good models for this.
They have release new [paraphrase models](https://www.sbert.net/docs/pretrained_models.html#paraphrase-identification). If you could test them and report

[2021-03-18 09:00] nreimers commented on #900
Hi,
on SBERT there are also models trained on duplicate questions from Quora, that work well for finding similar questions:
https://www.sbert.net/docs/pretrained_models.html#duplicate-questions-detection

There is also a multilingual version of that model.

It should work fine for 'given a question, find similar questions' as long as you don't have a super specific domain (like technical questions

[2021-03-18 09:27] julian-risch commented on #878
Hi @Petitbonzai31 could you please check whether you have indexed the same documents multiple times? Maybe you ran the indexing function multiple times and the document store now contains the same documents multiple times (only with different document IDs but same text). I would suggest that you empty the document store, run the indexing once, and check whether you still get duplicate answers. Ple

[2021-03-18 09:28] Timoeller commented on #900
Even better, thanks for the additional info Nils.

[2021-03-18 10:51] brandenchan commented on #899
Hi @LivingDeadCloud , thanks for the question. To give a rough overview, we can classify questions into a few different categories:
- `extractive` (the model is expected to return a span of text that answers the question)
- `no_answer` (the model is expected to say that no answer to the question can be found)
- `yes / no` (the model is expected to answer yes or no to a question)

Most QA models ar

[2021-03-18 11:20] brandenchan commented on #883
Hi @nmstoker, what you raise is actually generally quite a tricky issue within NLP but there are different methods of coping with it.

Yes as you mentioned, I would certainly recommend trying DPR for retrieval! Since it is Transformer based, it relies on its representation of meaning rather than exact string matching. This means that it is more robust to this kind of variation  (e.g. `eighth` vs `

[2021-03-18 11:48] F95GIT opened #902 "Combine FAQ and extractive QA Pipelines"
Hi,

I understand from your docs, that it's possible to combine several retrievers and join their results.
Is it also possible to combine the extractive QA pipeline and the FAQ pipeline?
I would like to achieve something similar to this: if a certain term "XY" is included in the query use the FAQ pipeline, if not use the extractive QA pipeline.
Or even better: run the query in both pipelines, join

[2021-03-18 12:01] ilbagov commented on #448
Sorry for reviving an older question, but I was wondering if the supervised training approach mentioned here

can be implemented without much overhead using the Haystack API directly or would one need more of a custom training routine.

Thanks in advance!

[2021-03-18 12:03] ilbagov commented on #448
Sorry for reviving an older question, but I was wondering if the supervised training approach mentioned here

can be implemented without much overhead using the Haystack API directly or would one need more of a custom training routine.

Thanks in advance!

[2021-03-18 13:59] nmstoker commented on #883
Thanks for getting back on my question @brandenchan - it's very helpful.

I'll give DPR a go and report back.

And thank you for the pointer on that keywords idea: I'm fairly new to Elasticsearch so wasn't aware of that possibility. I'll give it a go and if it's effective I'll look into how I can streamline that part.

[2021-03-18 14:00] #883 closed

[2021-03-18 14:17] aaronbriel commented on #448
I don't recall seeing a train option in the API, but setting up your own `FARMReader` and invoking its `train` method is pretty painless. Haystack's tutorials provide straightforward examples to start off of, for example: https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial2_Finetune_a_model_on_your_data.py

[2021-03-18 14:53] Timoeller commented on #448
Hey @aaronbriel thanks for jumping in. You are right, currently it is not possible to trigger training through the API.

You also pointed to a very easy tutorial on how to fine tune a model. But this Tutorial_2 is about finetuning a Reader model for Question Answering only.

I think @ilbagov wants to finetune a question matching model.
Currently this is only possible in other frameworks, e.g. thro

[2021-03-18 14:57] pervrosen opened #903 "Hi."
**Describe the bug**
ValueError: too many values to unpack (expected 2)

**Error message**
/opt/anaconda/envs/haystack/lib/python3.7/site-packages/sqlalchemy/orm/relationships.py:3454: SAWarning: relationship 'DocumentORM.Meta' will copy column document.id to column meta.document_id, which conflicts with relationship(s): 'MetaORM.Document' (copies document.id to meta.document_id), 'DocumentORM.met

[2021-03-18 14:57] aqsa27 commented on #900
@Timoeller I have already tried the https://github.com/UKPLab/sentence-transformers, but not very happy with the result. Thank you, I will use the paraphase model of haystack and report back.

[2021-03-18 14:58] aqsa27 commented on #900
@nreimers Thank you for the information, i will try and get back to you.

[2021-03-18 15:00] Timoeller commented on #900
Thanks for giving us a try : )

We actually just integrate the paraphrase model of sentence-transformers. So all the kudos goes to their effort, if the model should perform well. We might do a better job at integrating this model with other components though, like document stores.

[2021-03-18 15:11] brandenchan opened #905 "Create Tutorial on how to generate labels"
Create a tutorial that guides users on different ways to generate their own annotations using the annotation tool, and also in evaluation mode in the streamlit.ui. This might take the form of a blog post or video that should be linked to from the repository.

[2021-03-18 15:48] bogdankostic commented on #897
Hi Clotilde!
`no_ans_gap` is not an output of the retriever but an output of a `FARMReader`.  `no_ans_gap` tells you the difference between the score of the top answer prediction and the score of the no-answer prediction. You could use `no_ans_gap` values to find a good value for the `no_ans_boost` argument of a `FARMReader`model, which configures the model's sensitivity to return a no-answer pred

[2021-03-18 15:54] Timoeller commented on #903
Hey @pervrosen thanks for bringing up the top_k instead of top_k_answers parameter. I created a quick fix for the param usage in our tutorials, see https://github.com/deepset-ai/haystack/pull/906

About the valuerror. I cannot reproduce it on colab. Could you try installing haystack master branch like `pip install git+https://github.com/deepset-ai/haystack.git`

[2021-03-18 16:54] lewtun commented on #895
Hey @Timoeller, sure I would be happy to tackle this in the first week of April (I have some deadlines to meet before then). If that's fine with you, I'll come back to this issue with a sketch for how I'd implement it

[2021-03-18 16:59] clotildemiura commented on #897
Thank you very much for your answer it helps me a lot.

Best regards,
Clotilde

[2021-03-18 16:59] #897 closed

[2021-03-18 18:06] Timoeller commented on #894
Hey @thenewera-ru thanks for tuning in here : ) You should be able to supply a list of metrics but they have to be one of those defined in [here](https://github.com/deepset-ai/FARM/blob/master/farm/evaluation/metrics.py).
The top_k values are used during eval but are no eval metric per se. But I see your point, running the eval multiple times for different top k values seems like a waste of good c

[2021-03-18 18:09] Timoeller commented on #895
Totally, take your time. We are currently rather packed with tasked and would not start working on this soon.

If you start working on it, please report back here. Also creating Work In Progress PRs is very welcomed so we can give early feedback or suggestions.

[2021-03-18 20:39] pervrosen commented on #903
On that I agree, I could not produce it myself in Colab. However I also, did try in Colab; pip freeze > Colab_requirements.txt and tried that in a fresh env, but no luck then either. However, I saw plenty of conflicts when restoring the Colab_requirements.txt env on my computer. That said, I would be cautious using Colab as a reference of a working and reproducible environment. And yes, I did try

[2021-03-18 21:35] pervrosen commented on #903
Found the bad library. Pls note SQLAlchemy==1.3.23 and not >=1.4.0 since there is something that breaks the env. Br, PvR

[2021-03-18 21:56] pervrosen opened #907 "FAISS document_store.update_embeddings error when SQLAlchemy>=1.4.0"
Found the bad library. Pls note SQLAlchemy==1.3.23 and not >=1.4.0 since there is something that breaks the env. Br, PvR

[2021-03-19 07:06] tholor commented on #883
Hey @nmstoker, one additional note: if you decide to go with the more "manual" elasticsearch approach, there's also the option of providing a list of synonyms. See discussion and resources in https://github.com/deepset-ai/haystack/issues/841 .

[2021-03-19 07:22] tholor commented on #841
Hey @Ierezell ,

Sorry for the delay here.

Yeah in theory this would be ideal. However, not all users have access to the filesystem of ES (e.g. when using a remotely hosted elastic service). That's why I would go for the simple list and write a comment in the docs with an explanation of the file based approach (and how to configure it outside of Haystack).

Would you be interested in creating a P

[2021-03-19 08:23] predoctech commented on #881
Hi Tim I tried your suggestion in defining EmbeddingRetriever using sentence transformer format and it works.  I think in the first instance I was defining it in FARM format by downloading from Huggingace:
https://huggingface.co/sentence-transformers/paraphrase-distilroberta-base-v1
The FARM processor works for other sentence transformer models on Huggingface, is there any reason why this paraphra

[2021-03-19 09:20] julian-risch commented on #891
Hi @chingfhen could you please point me to the lines of code that you are referring to? Especially, regarding "the dot product of these 2 scores"? Maybe it's a misunderstanding.
After the document retrieval step, the document scores are not used anymore. As of now, I think there is no way to combine document scores and answer span scores. Do you have a particular use case in mind where you think t

[2021-03-19 10:27] leobaumgardt opened #908 "Retriever: Why does "Creating Embeddings" take so long?"
I'm running a search using DensePassageRetriever.

It takes 10+ seconds to run each query. The message I'm shown is "Creating Embeddings".

I'm confused because the embeddings for my documents are already stored in the database (I ran `embeddings_update(dpr)`).

So which embeddings are being created here?

I thought it might be the query that is being transformed into a vector. But the query is ju

[2021-03-19 11:32] chingfhen commented on #891
Ahh I understand now. So there the document scores and answer scores are not merged in anyway.

For instance, after 10 relevant documents are retrieved, their document scores are no longer used. The final ranking of the answers will only depend on the answer score given by the reader.

Thank you very much!

We can close this thread.

From: Julian ***@***.***>
Sent: Friday, March 19, 2021 5:21 PM
T

[2021-03-19 12:32] Timoeller commented on #903
Hey @pervrosen thanks for the deep dive and good that you found the problematic lib.

So you are saying the newer versions of SQLAlchemy break the code? We use it only through sqlalchemy_utils that requires SQLAlchemy>=1.0

[2021-03-19 12:36] Timoeller commented on #907
Hey @pervrosen thanks for raising an own issue on this topic. The detailed error message is in #903

So lets work on this in this issue.
You are saying the newer versions of SQLAlchemy break the code? Is that correct? We use it only through sqlalchemy_utils that requires SQLAlchemy>=1.0

[2021-03-19 12:41] Timoeller commented on #881
Hey normally the sentence-transformers models uploaded to the HF modelhub do not work out of the box but require some mean pooling after the forward pass. Please have a look at "Usage (HuggingFace Models Repository)" in the modelcard.

The deepset/sentence-transformer was converted to explicitly work with HF transformers or FARM.

[2021-03-19 12:49] Timoeller commented on #908
Hey @leobaumgardt
your understanding of the processing times is correct. The bulk of processing should be spent on creating the embeddings for the index through `embeddings_update(dpr)`.

Judging from the code you posted everything seems alright as well.

Converting only one little question with a dpr question encoder should be fast but it is still one full forward pass through a BERT-base model w

[2021-03-19 13:03] pervrosen commented on #907
That is correct. I also stated the last working version. Now everything works for me.

Sent from my iPhone

[2021-03-19 13:26] Timoeller commented on #907
Nice, I can confirm the issue with SQLAlchemy>=1.4.0:
[code]

I will change the title of the issue to be a bit more informative and we will work on a solution for the python dependency hell.
Thanks for being persistent and bringing this up again in a separate issue @pervrosen !

[2021-03-19 13:36] Timoeller commented on #815
Issue seems fixed, closing now, feel free to reopen if the problem persist.

[2021-03-19 13:36] #815 closed

[2021-03-19 13:43] Timoeller commented on #862
Nicens. I think using BART in our RAGGenerator is a good starting point to get a feeling for how it works.
I believe this issue is fixed, closing now. Feel free to contribute with BART support in the FARMReader any time you want.

[2021-03-19 13:43] #862 closed

[2021-03-19 13:45] Timoeller commented on #770
Solved by #775 closing now

[2021-03-19 13:45] #770 closed

[2021-03-19 14:04] Timoeller commented on #369
I think the issue should be resolved by now? Haven't heard about this in a long time :D
Feel free to reopen if it still is.

[2021-03-19 14:04] #369 closed

[2021-03-19 14:05] benscottie commented on #135
@tholor I am experiencing the same problem as above. Is there a solution? I'm wondering if setting index to None has anything to do with it.

[2021-03-19 14:10] Timoeller opened #909 "Increase FARM version to 0.7.0"

[2021-03-19 15:42] leobaumgardt commented on #908
Thank you, @Timoeller !

The server I'm running it on is a $5 DigitalOcean droplet. Shared CPU, and 1 GB RAM.

It is much faster on my local iMac, even without a GPU. So it's probably this passing through a 110 Million parameter model that makes it slow without proper CPU power.

Do you see any opportunities to make things faster without upgrading the hardware? For instance, could I set query_embe

[2021-03-19 16:08] tholor commented on #908
From your logs + script it seems that you are also using elasticsearch + dpr retriever in parallel in your pipeline. On your small server even elastic seems to take a significant time. So one way of speeding it up would also be to remove the elasticsearch retriever or running it on another machine.

[2021-03-19 16:39] thenewera-ru commented on #894
@Timoeller , thank you for you response. Works perfectly if supplied with any metric defined [here](https://github.com/deepset-ai/FARM/blob/master/farm/evaluation/metrics.py).
I've also tried to register custom metric via
[code]
defined on lines `24-25` and supplying after that.

Could you please check if I'm right about my understanding regarding `top-k`  hyper param evaluation.
As far as I under

[2021-03-19 16:45] leobaumgardt commented on #908
👍 Good point. I'll try that. Thank you, @tholor

[2021-03-19 17:05] lalitpagaria commented on #907
It is always good not to try first major version :)
Looks like 1.4.0 introduced many regressions hence they release 1.4.1 with fixes. https://github.com/sqlalchemy/sqlalchemy/releases/tag/rel_1_4_1

[2021-03-20 08:28] #908 closed

[2021-03-20 11:12] #848 closed

[2021-03-22 08:08] #891 closed

[2021-03-22 11:51] UmerTariq1 commented on #878
Ok, so I faced this same issue. But found a workaround.
**Short version answer:**
Use Elastic search v7.9.2 instead of latest version (v7.11.2)

**Long version answer:**
I tested this on colab hosted environment(**linux**) and my local machine(**windows**). I tested both versions on both machines (hosted and local) and here is what happened. Note that when I say working it means retriever returns

[2021-03-22 16:00] Petitbonzai31 commented on #878
@UmerTariq1 thanks for your feedback.

I was using ES 7.6.1, thenI've tried with ES 7.9.2 as you advise, there is still the same behaviour :(

[2021-03-22 16:57] Timoeller commented on #894
So, I can train via retriever.train(...) and after that the accuracy | recall | precision | f1 printed after will be desired top-k metrics?

This is exactly how it runs. If you need to do eval for different top k values it is very inefficient - but it at least works out of the box.

[2021-03-22 17:51] Timoeller commented on #908
You could also try our EmbeddingRetriever with sentence-transformers models, they typically come as distilled models, which should be faster.
You can load EmbeddingRetriever like:
[code]
And check out other pretrained models at: https://www.sbert.net/docs/pretrained_models.html# (especially the QA retrieval models could be helpful).

I would also be curious to see [I-BERT](https://arxiv.org/abs/21

[2021-03-22 18:06] Timoeller commented on #135
Hey @benscottie thanks for bringing this up here. Could you open a separate issue with a more detailed explanation of your setup? I could imaging that different faiss versions for saving and loading might complicate it.
Or do you save and load in one colab environment?

[2021-03-22 18:23] Armbruj opened #911 "post("/models/{model_id}/doc-qa"...) not working for any model Id's other than 1"
I have 2 custom models in ./models folder.
When I'm sending a post request to 'http://localhost:8000/models/1/doc-qa'it always works fine, but it seems not possible to choose between my 2 models.
It always returns http error 404 for address 'http://localhost:8000/models/2/doc-qa'.

Tried all kind of adjustments for the model path in docker-compose.yml
Currently I tried it like this:
      - READER

[2021-03-22 18:33] Timoeller commented on #911
Hey @Armbruj there currently is no support for two simultaneous models in one docker setup.

How about you run two separate images with each loaded one model? OF course there is some overhead for spawning the docker image but loading the models into RAM and the computations you would have to do separately anyways.

[2021-03-22 19:11] julian-risch commented on #878
@UmerTariq1 Yes, it would really help if you can share a colab notebook. There is no need to share the data if you think it's not data-specific. I would just like to see the code.
Maybe you have thought about that already: Which haystack version are you using? Is it the latest version?

[2021-03-22 21:22] peteradorjan opened #912 "Query filters are not implemented for the FAISSDocumentStore"
**Describe the bug**
I have created a branching ES+DPR pipeline, where ES uses "filters". Unfortunatelly the filters are passed to the DPR retriever and this brings an exception.

**Error message**
"Query filters are not implemented for the FAISSDocumentStore"

**Expected behavior**
FAISS should ignore the "filters" for now (as a quick solution).
De luxe: It would be brilliant if FAISS could handl

[2021-03-23 07:39] Armbruj commented on #911
Alright thanks for the information @Timoeller : )

[2021-03-23 10:25] tholor commented on #912
Hey @peteradorjan ,

We will work on filters for faiss and milvus in #779. However, this won't be trivial and might take some time. I would be okay with replacing the current exception with a logged warning as a temporary fix. Do you want to create a PR for this?

[2021-03-23 11:28] peteradorjan commented on #912
Hi @tholor ,
great to hear! Yes, the temporary fix would be terrific. Will create a PR.
Thanks a lot,
Peter

[2021-03-23 13:28] UmerTariq1 commented on #878
I dont understand what happened but I am having this issue again even with 7.9.2.

https://colab.research.google.com/drive/1hsZhmJpT0AaagyA3-QOdkGXfFPewy2u-?usp=sharing

**0.7.0** I installed it using pip3 install farm-haystack (in both colab hosted and local)

The problem is definitely with ElasticsearchDocumentStore. Its storing each document multiple times with different indexes so documents wh

[2021-03-23 15:33] lalitpagaria commented on #907
This will be resolved by https://github.com/deepset-ai/haystack/pull/875
Thanks for fix @oryx1729

[2021-03-23 15:42] oryx1729 commented on #907
Thank you for the quick update, @lalitpagaria! Appreciate it! 🙂

@pervrosen, please update SQLAlchemy to v1.4.2. If the still persists, please feel free to reopen the issue.

[2021-03-23 15:42] #907 closed

[2021-03-23 18:04] Timoeller commented on #911
Cool, did it work? If so can we close this issue then?

[2021-03-23 19:18] lalitpagaria opened #914 "Integrate LFQA with Haystack"
Creating placeholder issue to integrate Open-domain long-form question answering (LFQA) with Haystack.
I feel it is very relevant with Haystack.

Hopefully soon we will see good implementation in the regards.
Or if someone is existed about experimenting on it then refer following paper which suggest two ways to achieve this -
Article: https://ai.googleblog.com/2021/03/progress-and-challenges-in-lo

[2021-03-23 21:06] lalitpagaria commented on #859
@PiffPaffM Facebook also released static code analyser [Pysa](https://engineering.fb.com/2020/08/07/security/pysa/). It is also worth to tryout. I have not tried it yet but soon I will check this out.

[2021-03-24 00:38] gabinguo opened #915 "About FARMReader method predict_batch"
**Question**
About method
`FARMReader.predict_batch(query_doc_list: List[dict], top_k: int = None, batch_size: int = None)`

My Code:
[code]

I try to boost this call by increasing the batch_size[8 -> 12 -> 50 -> 100], but no matter how I modify this argument, the speed remains the same and the memory used in GPU remains the same. Seems like this argument wasn't taken into account.

Could you plea

[2021-03-24 07:09] Viveka-S opened #916 "Accuracy degradation in production environment"
**Question**
I have used Haystacks and elastic search for training my model. The model was trained well and we have documented some inferred answers with score/probability. After deploying the model in the AWS fargate, over some time we found some degradation in the answers it returns. For the same question, two months back the model returns an answer of score 16.xx but after three months it retur

[2021-03-24 08:32] Timoeller opened #917 "Implement Knowledge Graph database"
Adjust and move code from branch knowledge-graph into main.

[2021-03-24 08:33] Timoeller opened #918 "Implement Knowledge Graph retriever"
Adjust and move code from branch knowledge-graph into main.
For now we focus on simplicity by implementing a end2end question to SPARQL encoder.

[2021-03-24 08:35] Timoeller opened #919 "Create minimal Knowledge Graph example script"
Based on existing KGs. Import (parts of) Wikidata triples and apply a model trained on LC_QuAD 2.0 for query retrieval.

[2021-03-24 08:41] julian-risch commented on #878
@UmerTariq1 Thank you for your detailed description of the problem and the notebook. You mention that the result is perfect when you run the code for the first time but duplicates show up when you run it a second time. I think the reason is the following: Although you initialize the ElasticsearchDocumentStore (rerun first 2 lines), the underlying elasticsearch instance is the same. This instance s

[2021-03-24 08:50] julian-risch commented on #878
The same holds for your local setup. If you initialize the ElasticsearchDocumentStore and would like to work with an empty document store, you would need to run:
[code]
Note that this deletes all documents in your local elasticsearch instance in the index called "document".
Please let me know if this solves your problem. Thank you.

[2021-03-24 08:52] julian-risch commented on #878
It also explains why changing the elasticsearch version seemed to solve the problem at first. By changing the version you used a fresh elasticsearch instance, which does not contain any documents.

[2021-03-24 08:56] Timoeller commented on #916
Hey @Viveka-S cool to hear you are using haystack in prod environments. Could you elaborate more on the use-case, we are always eager to see how people use our framework, especially if it made it into production :D

Did you update the haystack version? There might have been slight changes on how to compute predictions.
Also if you use models from the HF modelehub those might have changed. They hav

[2021-03-24 09:42] UmerTariq1 commented on #878
you are right. its working correctly in all versions and in both environments now. I dont know how I missed this function when going through the documentation.
Thank you.

[2021-03-24 10:56] Timoeller commented on #919
I trained a Bart model on LCQuAD question to wikidata and uploaded it as a zip file to: https://s3.eu-central-1.amazonaws.com/deepset.ai-farm-models/research/lcquad_wikidata.zip
Please use this to create the example script. When the model performs well we should upload it to the HF modelhub.

Additional Info:
I used transformers==4.4.0 to train the model but it should work with earlier versions as

[2021-03-24 11:42] peteradorjan commented on #912
Exception is replaced with warning

[2021-03-24 11:42] #912 closed

[2021-03-24 12:01] #878 closed

[2021-03-24 14:05] Petitbonzai31 commented on #878
Thanks a lot also, your advice helps me to fix the problem !

I close the issue

[2021-03-24 14:10] Timoeller commented on #859
It might be worth looking into gitlab documentation and what tooling they use for license compliance mgmt.

[2021-03-24 14:18] LivingDeadCloud commented on #899
Dear @brandenchan

Thanks for your answer.
I wasn't able to look at your tutorial yet, but I plan to do it in the next weeks.

In the meanwhile, I would like to ask a specific question about the annotation tool: is it possible to mark different part of a text, not subsequent, as answer to a specific question?

Let me show you an example:
**Context** = _"The patient has fever, headache and pain in

[2021-03-24 17:39] lalitpagaria commented on #859
For python they are checking requirements.txt and piplock file. I think we can use their tool via docker image (not tried it yet). Repo source code - https://gitlab.com/gitlab-org/security-products/analyzers/license-finder

[2021-03-24 17:48] #911 closed

[2021-03-25 07:58] ilbagov commented on #448
Thanks for the feedback @Timoeller and @aaronbriel .

In that case, I'll try using FARM for the fine-tuning task and applying the tuned model on my problem (FAQ answering).

[2021-03-25 14:13] Graduo commented on #588
`03/25/2021 10:20:17 - INFO - haystack.document_store.faiss -   Updating embeddings for 782 docs...
Creating Embeddings: 100%|████████████████████████████████████████████████████████████████████████| 391/391 [00:05<00:00, 67.73 Batches/s]
  0%|                                                                                                             | 0/782 [00:07<?, ?it/s]
Traceback (most recent

[2021-03-25 15:42] Timoeller commented on #899
Hey @LivingDeadCloud

So currently you cannot mark two answer spans for a single question, you would have to create a new question (same wording) to mark multiple possible answers.
For the yes/no case you should select the text needed for answering the question and then select "yes" or "no" in the popup window. So it is quite similar to extractive QA but with the additional interpretation...

[2021-03-25 15:47] Timoeller commented on #448
Nice, closing this now, feel free to open an issue in FARM if necessary.

[2021-03-25 15:47] #448 closed

[2021-03-25 15:51] Timoeller commented on #588
Hey maybe the newer version makes problems?
Could you try the proposed solution of updating to sqllite 3.32?

If that doesnt help please give some more details on how you are updating the embeddings.

[2021-03-25 15:52] dsvrsec opened #921 "How to use Haystack QA on domain specific documents"
**Question**
How to use Haystack QA on domain specific documents.
I would like to build a search capability based on the domain specific documents and also html content.Is there any way to do this with Haystack with faster response.Thank you.

**Additional context**
Add any other context or screenshots about the question (optional).

[2021-03-25 16:14] LivingDeadCloud commented on #899
Hi @Timoeller , thanks for your answer.

So if I'm not mistaken, if a question has N answers (corresponding to N different spans), the thing to do would be to create N identical questions, and answer to each of them with the different spans?

[2021-03-25 17:27] Timoeller commented on #921
Hey @dsvrsec thanks for using haystack. We have a couple of tutorials, I guess the one you are looking for is a basic QA pipeline. [Here](https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial1_Basic_QA_Pipeline.ipynb) you find the colab tutorial. You would need to upload your custom text there.

We do have converters for pdf and docx and also a [crawler](https

[2021-03-25 18:00] #915 closed

[2021-03-25 18:00] Timoeller commented on #915
Hey sorry for the late reply. I could reproduce your issue.

We had a strange default value for `multiprocessing_chunksize` parameter preventing batching for short documents.
Should be better with the linked PR.

Anyways, the batching is really just starting to make sense when you have a lot of data, e.g. during evaluation.

[2021-03-25 18:08] gabinguo commented on #915
No worries : )

Wow, exactly : ) I am using this for evaluation. Thanks for the quick fix 👍

[2021-03-25 19:50] PiffPaffM commented on #859
@lalitpagaria: Thanks for the input. I started to try the various options. Here a quick summary of my initial findings:

Vulnerability Checks:

- **Bandit** is a very cool tool and we should test it in more detail in the future, but it is not really the solution we are looking for. It analysis the code regarding common security issues. We want to scan for CVEs (Common Vulnerabilities and Exposures

[2021-03-26 03:02] Graduo commented on #588
`03/26/2021 02:50:33 - INFO - haystack.preprocessor.utils -   Converting /search/odin/guozc/haystack/data/article_txt_got/wiki_gameofthrones_txt/37_Joffrey_Baratheon.txt
03/26/2021 02:50:33 - INFO - haystack.preprocessor.utils -   Converting /search/odin/guozc/haystack/data/article_txt_got/wiki_gameofthrones_txt/371_Cersei_Lannister.txt
03/26/2021 02:50:33 - INFO - haystack.preprocessor.utils -

[2021-03-26 03:09] Graduo commented on #588
[code]

[2021-03-26 09:35] Timoeller commented on #588
Hey @Graduo
I cannot reproduce your issue neither locally nor on [colab](https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb).

Your code also looks fine.
Do you use the data that we ship with the tutorial or custom data? Please redownload the data that is in the tutorial and try it once more.

[2021-03-26 09:39] Graduo opened #924 "QA System based on dataset NQ"
Hi ,thanks for your awesome work! I want to build a QA system and use dataset like "nq_dev_subset_v2.json". I try to use existing tutorials to build one, but there are always some problems like I failed to write ".json" into Document Store .Could we get a new tutorial that use Elasticsearch/FAISS + DPR Retriever? Thanks!

[2021-03-26 09:53] Graduo commented on #588
I use the data that you ship with the tutorial. The code will work when I reduce the amount of data. Maybe I need to increasing SQLITE_MAX_VARIABLE_NUMBER. And could I set the  SQLITE_MAX_VARIABLE_NUMBER in code ? Thx

[2021-03-26 11:10] Graduo commented on #766
There may be a BUG in finder.get_answers().  When I use tutorial 5,
`finder_eval_results = finder.eval(top_k_retriever=1, top_k_reader=10, label_index=label_index, doc_index=doc_index)
finder.print_eval_results(finder_eval_results)
` it work,but
`if eval_both:
        # finder_eval_results = finder.eval(top_k_retriever=1, top_k_reader=10, label_index=label_index, doc_index=doc_index)
        # fin