[2022-01-14 09:21] kingafy commented on #1993
Thanks a lot for your help. The python version was the culprit. I reinstalled on a new python env and it worked. Thanks a ton!!!!

[2022-01-14 09:31] #1993 closed

[2022-01-14 11:31] julian-risch opened #2007 "Store pipeline configuration (or reference to it) in eval result"
**Is your feature request related to a problem? Please describe.**
When we create an evaluation report based on an EvaluationResult, we currently don't have access anymore to the pipeline configuration, including for example the `top_k` parameter value that was used for the retriever or reader when the pipeline was executed. However, the report should list for each metric what `top_k` value was us

[2022-01-14 12:48] #1835 closed

[2022-01-14 13:37] #1848 closed

[2022-01-14 15:29] #1849 closed

[2022-01-14 16:19] tstadel opened #2009 "Support custom metrics in `EvaluationResult.calculate_metrics()`"
**Is your feature request related to a problem? Please describe.**
Metrics from pipeline.eval() are hard-coded and cannot be extended currently.

**Describe the solution you'd like**
To make the usage of custom metrics easier, custom metrics should be passed to `EvaluationResult.calculate_metrics()`.

**Describe alternatives you've considered**
You would be able to calculate your metric from the r

[2022-01-15 04:29] lalitpagaria commented on #1897
Nice, I like the idea.

How we going to solve dependencies conflict. In Obsei, I am using `pip-compile` to resolve conflict and always pinning dependencies.

I think most of the time people going to use Haystack as a service (instead of SDK or sub dependency in another package). It is fine to pin dependencies.

[2022-01-15 13:51] lalitpagaria commented on #1950
Oh okay. Thanks for clarifying it 🙂

[2022-01-16 23:03] arater commented on #1977
I converted the tika converter but when I run docker run for tika it says it runs and gives output below.
<img width="694" alt="Screen Shot 2022-01-17 at 00 02 00" src="https://user-images.githubusercontent.com/12005291/149681740-1e50ac2f-d692-4f26-aaea-96987dc8d78c.png">

From the ui when I want to upload a file I could not choose ppt. Why this is happened? And also could you give postman request

[2022-01-17 01:49] nishad-kv opened #2010 "KeyError: 'content'"
I am using an excel sheet to find the answer  for some questions.
I put those sheet datas into a dictionary
dict :{'text': 'What is the minimum loan amount acquire in New Car Loan?',  'response': '1 Lakh'}
When I pre-process the dict data by using following code,

from haystack.preprocessor import PreProcessor
processor = PreProcessor(split_by='word',
   split_length=100,
   split_respect_sentence

[2022-01-17 08:06] mumtazcem commented on #1952
Thanks for the insight @MichelBartels. I am following this issue, and I will be glad to help, please let me know.

[2022-01-17 08:54] ZanSara commented on #1897
That's a good question indeed. I still have to collect some feedback from the rest of the team about dependency pinning, I've heard different opinions on the topic. I personally lean for "weak" pinning, so to fix only a minimum version or a range of versions to allow for some flexibility; but that's still up to debate right now

[2022-01-17 08:55] julian-risch commented on #2010
Hi @nishad-kv with the latest Haystack version, we renamed the `text` field to `content` . We made that decision because Haystack now not only supports text but also tables as documents. Please have a look at this example: https://haystack.deepset.ai/docs/latest/tutorial8md
Renaming `text` to `content` in your dictionary should do the trick. :slightly_smiling_face: Feel free to reopen this issue i

[2022-01-17 08:55] #2010 closed

[2022-01-17 10:53] julian-risch commented on #1719
Documentation was updated as the final step of addressing this issue https://haystack.deepset.ai/guides/evaluation in PR https://github.com/deepset-ai/haystack-website/pull/228

[2022-01-17 10:53] #1719 closed

[2022-01-17 10:53] julian-risch commented on #1589
Documentation was updated as the final step of addressing this issue https://haystack.deepset.ai/guides/evaluation in PR deepset-ai/haystack-website#228

[2022-01-17 10:53] #1589 closed

[2022-01-17 11:39] MichelBartels commented on #1977
The output you are getting for Tika is actually right. It is just returning an identifier for your container.

The demo is pretty so the accepted file types are hard coded. It should be enough just to add the new file types in [this file](https://github.com/deepset-ai/haystack/blob/0cca2b97cd63d61a2f50696b3ddb7f92fd677fdd/ui/webapp.py#L87).
For example, to accept .ppt in the UI, the line would loo

[2022-01-17 12:05] MichelBartels commented on #1947
With the upload of [deepset/tinybert-6l-768d-squad2](https://huggingface.co/deepset/tinybert-6l-768d-squad2), the first step of this issue has been completed.
A rough estimate of the remaning steps:
1) Pretraining a German TinyBERT. To implement this, we have two options:
- Training using [original implementation](https://github.com/huawei-noah/Pretrained-Language-Model/tree/master/TinyBERT): Then

[2022-01-17 12:09] oryx1729 opened #2011 "Handle unsupported Unicode Sequences in Indexing Pipelines"
## Describe the bug

Some databases do not support all available unique sequences. For instance, [Postgres does not support `\u0000` Unicode](https://stackoverflow.com/questions/31671634/handling-unicode-sequences-in-postgresql).

It creates problems when storing search results in a Postgres database.

## Error message
[code]

## Expected behavior
We should provide a cleaning functionality to sani

[2022-01-17 16:33] ArzelaAscoIi opened #2012 "pipeline.save_to_yaml failes for OpenSearchDocumentStore"
**Describe the bug**
The method [Pipeline.save_to_yaml](https://github.com/deepset-ai/haystack/blob/0cca2b97cd63d61a2f50696b3ddb7f92fd677fdd/haystack/pipelines/base.py#L700) will raise an exception if the pipeline contains a document store `OpenSearchDocumentStore`.

**Error message**
[code]

**Expected behavior**
[This line](https://github.com/deepset-ai/haystack/blob/0cca2b97cd63d61a2f50696b3ddb

[2022-01-17 16:38] dmigo commented on #2011
Just to illustrate. The first approach will look something like:

[code]

The second something like this:

[code]

[2022-01-18 12:39] oryx1729 opened #2016 "Create different Docker Image with Reader Model"
## Issue

We currently add a RoBERTa model in the Docker Image we build. This increases the size of the Images & in some cases users may want to use a different model.

## Proposed Solution

We create two flavors of the Docker Images -- `haystack-gpu:<commit-hash>-demo` with the model & `haystack-gpu:<commit-hash>` without the model.

[2022-01-18 17:36] MichelBartels opened #2019 "Distilling BERT-Large"
As a next step to distilling better language models, we want to explore the difference between a distilling from a base model and a large model.

For this, we would need to decide on a dataset:
- English Wikipedia: We could probably use the version from SimplifiedTinyBERT: https://github.com/cxa-unique/Simplified-TinyBERT#resources Advantages: No conversion necessary; good comparability with origi

[2022-01-19 02:41] jhyuklee commented on #1721
Hi, here is a new release of DensePhrases for `transformers==4.13.0` and `torch==1.10.1`.
https://github.com/princeton-nlp/DensePhrases/tree/v1.1.0
https://github.com/princeton-nlp/DensePhrases/releases
It took some time since I had to reproduce the previous numbers.

Which version or branch of haystack should I use for the porting?

[2022-01-19 06:55] baregawi commented on #1753
Some of the tutorials are now broken. For anyone wondering
`haystack.document_stores` is now `haystack.document_store`
The retrievers are no longer under `haystack.nodes` but under `haystack.retriever`.
In general "`import haystack; dir(haystack)" is a decent way to figure out the new structure when in question.

[2022-01-19 08:52] MichelBartels opened #2021 "Distilling new student models from scratch"

[2022-01-19 09:11] #2012 closed

[2022-01-19 09:17] tholor opened #2022 "Add black formatting and pylint"
Let's standardize our code a bit more without adding too much hassle for external collaborators.
We can start with adding the configuration to the new `pyproject.toml` and document the guidelines + short manual to set it up in VS Code + Pycharm to our contributing guidelines.

- [x] Add black formatting with line length 120   #1994
- [x] Add pylint (it's okay to add quite many ignore rules for now

[2022-01-19 09:49] sasaadi commented on #1779
Hi @AhmedIdr, are there any updates about my last question (adding a license text file)?
I also noticed that the license in the paper is different from the license in the model card on huggingface. Will you keep the respective licenses?

Thanks.

[2022-01-19 09:54] AhmedIdr commented on #1779
Hi @sasaadi, sorry I am not a part of the deepsetai team, I just saw your question at the time and tried to point you to the paper of the models.

[2022-01-19 09:56] MichelBartels opened #2023 "Distilling BERT-Large. The published TinyBERT is based on BERT-Base. It would be interesting to see if using a better teacher would result in performance improvements. In case it does, we should consider using large models as teachers in later distillations"

[2022-01-19 10:04] MichelBartels commented on #2023
Closing this issue as its an accidentally created duplicate with #2019.

[2022-01-19 10:04] #2023 closed

[2022-01-19 10:04] ZanSara commented on #1903
Hello @Taekyoon, it seems your issue was solved. Do you still have doubts about how FAISS and the SQL document store work together? If so, feel free to ask. Otherwise I'll close this issue in a few days :slightly_smiling_face:

[2022-01-19 10:10] sasaadi commented on #1779
oh sorry, thanks for the reply.

[2022-01-19 10:16] MichelBartels opened #2024 "Adding UnlabeledTextPreprocessor"
To be able to utilize the existing `distil_intermediate_layers_from` method implemented in the `FARMReader` class for pretraining and not only for fine tuning, we need to have a processor that can read a dataset without labels. For this, it is necessary to implement a new `Processor`.

[2022-01-19 10:44] julian-risch commented on #1721
🎉 Hi @jhyuklee you can use haystack's master branch. We will make a new haystack release tomorrow or the day after tomorrow from that branch.

[2022-01-19 12:26] ZanSara commented on #1892
Hello @timpal0l, do you think we can close this issue for now? Or are you interested in contributing a PR?

[2022-01-19 13:58] tstadel commented on #1986
Pushed to https://github.com/deepset-ai/haystack/issues/1982 and https://github.com/deepset-ai/haystack/issues/1985

[2022-01-19 13:58] #1986 closed

[2022-01-19 14:11] tholor commented on #1947
Main work is done here. Let's continue the work and discussion about  pretraining further student models in #2021

[2022-01-19 14:11] #1947 closed

[2022-01-19 14:49] tholor commented on #1070
Kicked off the work with #1979. Let's move work description & conversations there and close this one.

[2022-01-19 14:49] #1070 closed

[2022-01-19 16:51] Cazual opened #2026 "Getting scores on docs using TfidfRetriever"
**Question**
When I push docs to an InMemoryDocumentStore using the Document.from_dict() method. Then perform a retrieve using the tfidf I get no document score values back. I know how to manually update these for the DensePassageRetriever using update_embeddings() but not for tfidf. I need to have these score values. How do I ask the retriever to return the score values also?

**Additional contex

[2022-01-19 17:10] ju-gu opened #2027 "Multilabel Objects look like empty dictionaries"
**Description**
If a Multilabel or a list of Multilabels is printed, it appears as empty dictionary or list of empty dictionaries.
This can be irritating, as in fact information is stored in these objects.

**Describe the solution you'd like**
It would be nice to display here that content is available

**To Reproduce**
Just do document_store.get_all_labels_aggregated and check the list.

[2022-01-19 17:28] bogdankostic opened #2028 "Define supported data types for meta data fields"
In order to extend the filter functionality for metadata, we need to define what datatypes can be used as values for metadata fields. For this, we should explore what are the datatypes supported in the different databases that can be utilised within haystack and assess which of them we want to support.

[2022-01-19 17:29] tholor commented on #2027
Looks similar to #1972. Can you confirm, @ju-gu ?
If yes, let's close this one and track work with #1972. I agree that this should definitely be fixed.

[2022-01-19 17:31] bogdankostic opened #2029 "Extend filter functionality for `ElasticsearchDocumentStore`"
We want to allow users to filter their documents inside an `ElasticsearchDocumentStore` based on a combination of logical and comparison operators. Filters can be set in Elasticsearch within a [`boolean`](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-bool-query.html) query. It seems that the `must` occurrence type corresponds to the logical `AND` operator, `must_not` to

[2022-01-19 17:33] bogdankostic opened #2030 "Extend filter functionality for InMemoryDocumentStore"
We want to allow users to filter their documents inside an `InMemoryDocumentStore` based on a combination of logical and comparison operators.

[2022-01-19 17:34] bogdankostic opened #2031 "Extend filter functionality for `WeaviateDocumentStore`"
We want to allow users to filter their documents inside a `WeaviateDocumentStore` based on a combination of logical and comparison operators. Weaviate’s filter structure is described [here](https://www.semi.technology/developers/weaviate/current/graphql-references/filters.html).

[2022-01-19 17:35] ju-gu commented on #2027
Indeed, thanks, the problem probably will be fixed by finishing #1972. Will close this issue.

[2022-01-19 17:35] #2027 closed

[2022-01-19 17:40] bogdankostic opened #2032 "Extend filter functionality for `MilvusDocumentStore` and `FAISSDocumentStore` via `SQLDocumentStore`"
We want to allow users to filter their documents inside a `MilvusDocumentStore` or `FAISSDocumentStore` based on a combination of logical and comparison operators. Milvus 1 and FAISS don't allow filtering for while querying. However, we allow to filters for the `get_documents` and `delete_documents` methods via their parent class `SQLDocumentStore`, so we should support extended filtering for thes

[2022-01-19 17:42] bogdankostic opened #2033 "Extend filter functionality for `Milvus2DocumentStore`"
We want to allow users to filter their documents inside a `Milvus2DocumentStore` based on a combination of logical and comparison operators. It seems that they don’t support anymore the domain specific language we are currently using for filtering. Instead, it is needed to define the filter expression via a string whose rules can be found [here](https://milvus.io/docs/v2.0.0/boolean.md#Boolean-Exp

[2022-01-19 18:21] Cazual opened #2034 "Leaking of InMemoryDocumentStore"
**Question**
What is the protocol for creating a new instance of the InMemoryDocumentStore for each request to an API and completely deleting it after? I am currently loading my retriever before a request is made and fitting a new document store to it (by creating a brand new pipeline) each time I get a request. I then call doc_store.delete_documents() when the request is completed. I am seeing IN

[2022-01-20 08:48] ZanSara opened #2035 "How to read in parsed dictionary of document text without getting `Duplicate Documents` warning?"
### Discussed in https://github.com/deepset-ai/haystack/discussions/2014

<div type='discussions-op-text'>

<sup>Originally posted by **asharm0662** January 18, 2022</sup>
Hi,

I am separating document parsing and question/answer prediction for the following the in-memory [tutorial](https://haystack.deepset.ai/tutorials/v0.9.0/without-elasticsearch) into separate scripts, so I can simply read in a

[2022-01-20 08:51] ZanSara commented on #2034
Hello @Cazual, your procedure seems correct from your description. I think this might be related to #2035. I suspect is not a leak of documents, it's rather `InMemoryDocumentStore` throwing spurious duplicate ID warnings for some reason. I'm going to look into this issue today and let you know.

[2022-01-20 08:53] ZanSara commented on #2035
Another issue just came up with a description that look strikingly similar: #2034

[2022-01-20 10:06] ZanSara commented on #2035
Ok so I got some more insights on this issue. First of all I wanted to make sure whether the documents triggering this error are really duplicates or not: apparently, they are.

The data we use in the tutorials comes from Wikipedia and similar sources, and the pre-processing function `convert_files_to_dicts` tends to split out paragraph titles as if they were sentences. In my test, this has been t

[2022-01-20 10:14] PhilipMay opened #2036 "ElasticsearchDocumentStore for OpenSearch"
I plan to use Haystack with OpenSearch. Do you:

1. plan to provide an `OpenSearchDocumentStore`?
2. know if the `ElasticsearchDocumentStore` is compatible with OpenSearch?

PS: I love opensource and hate elastic for that reason. :-)

[2022-01-20 10:14] ZanSara commented on #2034
Following the outcomes of issue #2035, I should ask you if you made sure that you really don't have duplicate documents in your dataset. Have a look at the linked issue: during the pre-processing, documents are split into small chunks and if the source is something like Wikipedia, that has identical paragraph titles in all pages, those paragraph titles might cause the duplicate errors you see in y

[2022-01-20 10:17] ZanSara commented on #2036
Hello @PhilipMay, sure! Here is it in the docs: https://haystack.deepset.ai/reference/document-store#user-content-opensearchdocumentstore

If you have some specific question, please open a new issue :slightly_smiling_face:

[2022-01-20 10:17] #2036 closed

[2022-01-20 10:26] PhilipMay commented on #2036
Ahh ok. Thank you very much. :-)
How could I have missed that? Probably because this sneaky class is hidden in the elasticsearch module.

[2022-01-20 11:01] d-e-h-i-o opened #2037 "Generalize <sep> token of QuestionGenerator node"
**Issue**
Right now the docstring of the QuestionGenerator says the class supports [any Seq2SeqLM model](https://github.com/deepset-ai/haystack/blob/cb881b6fa9c73639440c86f2645ba778d0a93b81/haystack/nodes/question_generator/question_generator.py#L38-L39). However, it [assumes](https://github.com/deepset-ai/haystack/blob/cb881b6fa9c73639440c86f2645ba778d0a93b81/haystack/nodes/question_generator/que

[2022-01-20 12:40] lalitpagaria opened #2040 "Add support for Object storage"
Currently, Haystack supports storing data into ElasticSearch, InMemory, and RDBMS.
It would be nice to add support of Object storage like S3, which is very cheap and have less hassle to maintain.

In the first step, AWS s3 can be supported as they recently added [s3 select](https://aws.amazon.com/blogs/aws/s3-glacier-select/) option which can help retrieve only a subset of data from an object (cur

[2022-01-20 12:50] lalitpagaria opened #2041 "Add Haystack CLI utility"
Carry forwarding this issue from https://github.com/deepset-ai/haystack/issues/1981

Not sure whether the CLI utility code would be part of this repo or separate. But adding points here so we can later migrate to another place.

Listing few features CLI utility can have -
- Performs pipeline validation
- install or list required dependencies based on pipeline YAML (It will only install required de

[2022-01-20 12:51] ZanSara commented on #2037
Hello @d-e-h-i-o, thank you for the proposal! Right now I can't see problems or downsides with your idea, so feel free to go ahead and draft a PR. Please tag me or @julian-risch early on, so we can give you feedback before you invest too much time on it :slightly_smiling_face: Looking forward to your contribution!

[2022-01-20 13:02] tstadel opened #2042 "Make version of pipeline config/YAML configurable"
**Is your feature request related to a problem? Please describe.**
If we call `pipeline.save_to_yaml()` a YAML is stored having a version attribute that takes the fixed value `0.8`.
If I get the purpose of the version attribute correctly, this should be made configurable as it depicts the version of the pipeline config.

**Describe the solution you'd like**
- add `version` param to `save_to_yaml`

[2022-01-20 13:19] ZanSara commented on #2040
Hello @lalitpagaria! Now I'm not entirely sure, but I think we already had this discussion previously (I'll link the issue if I find it back) and we came to the conclusion that Object stores like S3 simply did not have the features required to implement an Haystack document store. The addition of s3 select might change things, but I imagine that's not the only feature that was missing, unfortunate

[2022-01-20 13:22] ZanSara commented on #2026
Hello @Cazual, could you share a snippet that reproduces the issue? I'm going to try to recreate your situation here, but the script would help me a lot making sure I understand the setup correctly.

[2022-01-20 13:35] ZanSara commented on #1753
Hello @baregawi, something must be wrong with your setup: just have a look at the folder structure in the master branch of this repo... `haystack.document_stores` and `haystack.nodes` are still there. What you see are the old imports, pre-v1.0.0. Did you install an older version, or checked out a very old branch?

In addition, this issue is a couple of months old already, older than our latest rel

[2022-01-20 13:35] #1753 closed

[2022-01-20 13:45] ZanSara commented on #2042
Versioning of the YAML files right now is just a stub.

We also met with this topic in #2020 and informally with @tholor decided to postpone this issue a bit, until we decide which versioning structure we want for the YAML files. There are still some open questions, for example: the YAML version should match Haystack version, or not? Should the version number be stored into the YAML itself or in t

[2022-01-20 13:52] ZanSara commented on #1977
Hello @arater, just checking if @MichelBartels's suggestion helped, or if you have more questions :slightly_smiling_face: If not I'll close the issue in a few days

[2022-01-20 13:57] ZanSara commented on #1801
Hello @sumanthp, I assume this issue is solved, so I'm going to close this. Feel free to re-open if I was mistaken :slightly_smiling_face:

[2022-01-20 14:00] ZanSara commented on #1804
Hello @Threepointone4, I'm going to close this issue for now. If you want to bring up the topic again, feel free to open a new issue or PR and we can resume the discussion :slightly_smiling_face:

[2022-01-20 14:00] #1804 closed

[2022-01-20 14:03] #1800 closed

[2022-01-20 14:04] ZanSara commented on #1799
Hello @doh10002, I'm going to close this issue for now because since you asked there has been several upgrades to the evaluation procedure again :smile: Feel free to open a new issue if you have more questions!

[2022-01-20 14:04] #1799 closed

[2022-01-20 14:06] #1767 closed

[2022-01-20 14:07] #1583 closed

[2022-01-20 14:14] ZanSara commented on #1720
Closing for now as it's impossible to reproduce on our side. If anybody else comes across a similar problem please open a new issue.

[2022-01-20 14:14] #1720 closed

[2022-01-20 16:21] bogdankostic commented on #2028
I would suggest to support the following data types:

- `bool`
    - Elasticsearch: corresponds to `boolean`
    - Weaviate: corresponds to `boolean`
    - Milvus: corresponds to `BOOL`
- `float`
    - Elasticsearch: corresponds to `float`
    - Weaviate: corresponds to `number`
    - Milvus: corresponds to `FLOAT`
- `int`
    - Elasticsearch: corresponds to  `integer`
    - Weaviate: corresponds

[2022-01-20 16:27] lalitpagaria commented on #2040
@tstadel agree with you on the performance aspect. But there are few use cases where s3 can be a good alternative -
- Very low infra cost
- Very less operation overhead
- Good candidate for searching in archives (cold documents which are rarely searched)
- Now it is strongly consistent
- Cross-region replication is very smooth in comparison to RDBMS, hence easily reducing network latency and avail

[2022-01-20 16:40] Cazual commented on #2034
I haven't been able to confirm or deny that the data is duplicate. I am not passing it through a pre-processor, only directly into a Document object and then writing it to the document store. Each call is only processing a single document at a time, but there is often repeated language within the documents. I am unable to share the data because of governance issues unfortunately.

It seems likely

[2022-01-20 18:42] Cazual commented on #2034
Here is our problem:

    def _get_id(self, id_hash_keys):
        final_hash_key = ":".join(id_hash_keys) if id_hash_keys else str(self.content)
        return '{:02x}'.format(mmh3.hash128(final_hash_key, signed=False))`

The content of the Document is hashed to generate the id. So you are exactly right @ZanSara ! Anything with identical content is going to have the same id. I understand the reas

[2022-01-20 18:42] #2034 closed

[2022-01-20 21:31] arater commented on #1977
After adding the code you wrote and even running the tika as docker I am getting the error below while uploading pptx or ppt file.

<img width="850" alt="Screen Shot 2022-01-20 at 21 55 26" src="https://user-images.githubusercontent.com/12005291/150420769-6526c22b-4de0-4acc-a2dc-0074dc23a248.png">

[2022-01-20 22:35] RizoanunNasa opened #2043 "Crawler function"
**Question**
I want Crawler text form a web site and save this file as txt dataset. Haysack have any complete tutorial for webCrawler

**Additional context**
Add any other context or screenshots about the question (optional).

**FAQ Check**
- [ ] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?

[2022-01-21 09:01] ZanSara commented on #2043
Hello @RizoanunNasa,unfortunately we don't really have a tutorial on the crawler, but you can find the API documentation here: https://haystack.deepset.ai/reference/crawler. If you have some specific question, please feel free to open a new issue :slightly_smiling_face:

[2022-01-21 09:27] ZanSara commented on #1977
Hello @arater, thank you for the stacktrace. Indeed it seems that there are some hardcoded extensions in the `FileTypeClassifier` class, which I believe is wrong. I'm going to make a small PR to convert this exception into a warning and see if it works.

[2022-01-21 09:48] RizoanunNasa commented on #2043
Dear Zan,
Thank you for your reply.
I want to create a Q&A ML App.
Would you please suggest to me who can use this API on my project.
Actually, I want to extract text from a website (
https://www.industrial-iot.it/) for create a Data set. After that I use
it With Haystack and Elasticsearch .

Thank you.

If it is possible please create a tutorial on it.

On Fri, Jan 21, 2022 at 10:02 AM Sara Zan *

[2022-01-21 09:52] hugoperrin commented on #1979
Hello, It would make sense to me that one of the optional dependencies would be transformers and torch, as one could want to use their own code for testing certain embeddings with incompatible versions of torch and still respect the fact you need to give numpy arrays to the document store query for instance.

[2022-01-21 11:10] tholor commented on #2022
@ZanSara Not sure if you synced already with @ArzelaAscoIi but let's use pylint instead of flake8 so that it's consistent across projects and teams.

[2022-01-22 02:18] Taekyoon commented on #1903
Sorry, I couldn't get message from the comment above.
@tstadel I was thinking about the function or option to remove sql file while remove FAISSDocumentStore object, so that we don't have to consider about "Is the db file exist?" before recreate FAISSDocumentStore again.

[2022-01-23 20:39] manupomax opened #2052 "add metadata to summarizer response"
currently the "summarizer" node provides context only inside the json of the response

would be nice to have metadata of original document too in the json response, similarly to the response provided by other nodes like "retriever" and "reader"

[2022-01-24 09:35] ZanSara commented on #2052
Hello @manupomax, thanks for the issue! At a first glance it sounds easy to add to Haystack: would you mind taking the time to implement it? If you decide to contribute, please tag me in your PR and I'll handle the review process. Otherwise just stay tuned, soon enough somebody else will pick this one up :slightly_smiling_face:

[2022-01-24 13:34] SAIVENKATARAJU opened #2055 "Unable to make connection with existing Elasticstore with data."
**Describe the bug**
Unable to make connection with ES store, when there is already have some data. This data just uploaded prior to one step. initially i have indexed some data later on trying to access same index getting the error.

**Error message**
  raise Exception(f"The search_field '{search_field}' of index '{index_name}' with type '{mapping['properties'][search_field]['type']}' "
Exception

[2022-01-24 13:43] ZanSara commented on #2055
Hello @SAIVENKATARAJU, could you test the following: delete all documents from the document store, remove the `search_fields` parameter from the `ElasticsearchDocumentStore` init function and try again. Does it show the same error?

[2022-01-24 13:53] SAIVENKATARAJU commented on #2055
@ZanSara  its working without search fields.
1) why its working when there is no data . but not working with data.
2) in my case files are coming from fronted.and what if we want to accumulate and create indexes with future timelines?

[2022-01-24 13:55] mathislucka opened #2056 "ElasticSearchDocumentStore create_index param: Why is this useful?"
**Question**
While working with the ElasticSearchDocumentStore and trying out different analyzers, I realized that there is no way to re-create an existing elasticsearch index (which would be needed to update the mapping). I found the `create_index` param but when looking at the source code, I realized that it does not re-create an existing index and instead skips creation when the index already e

[2022-01-24 14:11] adri1wald opened #2057 "DPR embedding is not "invalidated" after calling DocumentStore.update_document_meta"
**Is your feature request related to a problem? Please describe.**

DocumentStore has a method `update_document_meta` which allows you to update the `meta` on a document by id.

If the `embed_title` flag is set on the `DensePassageRetriever`, document `meta["name"]` is concatenated with `content` before computing the embedding.

When changing `meta["name"]` using `update_document_meta`, the embedd

[2022-01-24 14:35] ZanSara commented on #2055
For question one, you can see why it works only when there's data (or better, when the index exists) in the ElasticsearchDocumentStore implementation:

https://github.com/deepset-ai/haystack/blob/c6f23dce8897ab00fcb15e272282d459dcfa564a/haystack/document_stores/elasticsearch.py#L251-L261

If there's no index (i.e. if the document store is empty) that check on `search_fields` is simply not performe

[2022-01-24 14:47] SAIVENKATARAJU commented on #2055
@ZanSara My second question is. I have a file today, and i have created a index and stored in ES. After one hour if I want to again create index and store in ES for another file, i cannot simply do. that means I cannot accumulate files over the time.

[2022-01-24 15:40] jacoby149 opened #2058 "Population based training for fine tuning?"
### Discussed in https://github.com/deepset-ai/haystack/discussions/2000

<div type='discussions-op-text'>

<sup>Originally posted by **jacoby149** January 12, 2022</sup>
Hi, I would like to do population based training to train my farm reader.
I know haystack uses ray which has it, I would love if it were a feature of haystack.
is there a way to easily wrap the function farmreader.train so i can

[2022-01-24 15:45] ZanSara commented on #2057
Hello @adri1wald, thanks a lot for this bug report! We're going to take care of this soon :slightly_smiling_face:

[2022-01-24 15:57] ZanSara commented on #2058
Hello @jacoby149, thanks for the issue :slightly_smiling_face: Right now it's not in the roadmap to add this feature, but we're gonna keep it open not to forget about it. In the meantime, if you want to contribute, you could consider opening a PR that implements it as well.

[2022-01-24 16:42] tstadel commented on #2055
@SAIVENKATARAJU, because you're also setting the embedding params, `search_fields` param only affects sparse retrieval using `ElasticsearchRetriever`. Dense retrieval will not be affected, however the type checks are made anyway. So if you're not using `ElasticsearchRetriever`, you can simply omit the `search_fields` param.

[2022-01-24 18:19] adri1wald opened #2059 "Make `top_k_join` overridable when calling `JoinDocuments.run`"
**Is your feature request related to a problem? Please describe.**

Retrievers allow you to set `top_k` on instantiation and override it when calling `retrieve` or `run` in a pipeline. `JoinDocuments` allows you to set `top_k_join` on instantiation but **does not** provide a way of overriding it when calling `run`.

Since retriever `top_k`s can be adjusted when running a pipeline, it make sense fo

[2022-01-25 03:56] zhangwenzhuo opened #2060 "What is the basic machine requirement for deploying ?"
**Question**
What is the basic machine requirement for deploying ?
if I am using CPU base vm , what is the CPU and memory ,disk requirement ?

**Additional context**
Add any other context or screenshots about the question (optional).

**FAQ Check**
- [x] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?
yes

[2022-01-25 08:58] ZanSara commented on #1903
@Taekyoon if you don't want the SQLite database to be persisted on disk, you can create it in memory. Just instantiate the document store with the `sql_url` parameter set to `sqlite://` like `FAISSDocumentStore(sql_url="sqlite://")`. The database will not be created on disk, but FAISSDocumentStore will work as usual.

[2022-01-25 09:14] ZanSara commented on #1979
Unfortunately I don't think it is an option. This doesn't have to do with your idea (in principle it's not bad), but with the way pip and Python's dependency management works right now.

The issue here is that, currently, there is no way to specify "opt-out" dependencies in a `setup.py` or `setup.cfg` file. This implies that every optional dependency has to be explicitly opt-in, and I believe that

[2022-01-25 12:53] AhmedIdr opened #2062 "Batch_size is not being passed from faiss documentstore to sql documentstore"
Hey, I noticed that batch_size in `write_documents`  in FAISSDocumentStore() is not being passed to SQLDocumentStore.

[code]
This can be fixed with #2061 .

[2022-01-25 13:54] #2024 closed

[2022-01-25 15:18] ZanSara commented on #2060
Hello @zhangwenzhuo, it all depends on what you want to do exactly. Which document store, retriever, reader etc.. do you plan to use? Small models with lightweight nodes can easily run on relatively small machines with CPU only. If you share some more details about your usecase I can help you out better.

In addition, this might be good information to add to the Haystack documentation...

[2022-01-25 15:22] ZanSara commented on #2059
Hello @adri1wald, right away I don't see any problem with your proposal! Please feel free to create a PR for this feature and tag me as a reviewer. Please don't wait for a full implementation before opening the PR: set it as a draft, so we can review it early and iterate quickly if necessary :slightly_smiling_face: Looking forward to it!

[2022-01-25 15:29] ZanSara commented on #2056
Hello @mathislucka, I think your analysis is correct: I can't see what this need this parameter for either :sweat_smile: I would open a PR to either remove it or make it behave properly (that is, to re-create the index regardless whether it exists or not, and default it to `False` in the init function) and ask @tstadel for a review :slightly_smiling_face:

[2022-01-25 18:20] mathislucka commented on #2056
thanks for looking it it @ZanSara . In the spirit of backwards compatibility I think it could be dangerous to just change the behaviour of the parameter, especially if we will be deleting an existing elasticsearch index. People might have set this parameter to True and forgot about it and after the next haystack update, their indices start to get deleted.

I'd propose adding a deprecation warning

[2022-01-25 19:36] #1982 closed

[2022-01-26 08:53] ZanSara commented on #2043
Hello @RizoanunNasa, there is no tutorial on the topic unfortunately, but you can see an example of how to use it in the docs I linked above:
[code]

[2022-01-26 09:37] ZanSara opened #2067 "Update tutorials, utilities, tests and dependencies to run on Milvus2"
Even though Haystack supports Milvus2, right now all tutorials and utilities are somehow hardcoded to use Milvus1. Given the recent release of Milvus2, we should make sure they work properly with it, ensure the correct tests are run in the CI and default users on Milvus2.

[2022-01-26 16:30] #2059 closed

[2022-01-26 16:35] #1872 closed

[2022-01-26 17:12] #1806 closed

[2022-01-26 17:12] #1979 closed

[2022-01-26 17:20] #1815 closed

[2022-01-27 02:32] doh10002 opened #2073 "question about DPR model saving"
Hi,
I have a question about ability to save DPR retriever model.
I am trying to use the haystack where i cant use the internet, so i dont have the ability to go grab
[code]
is there a way to save the model like you can save the reader model, so i can just copy and paste the model itself to use it?
or i see similar model in hugging face, can i just download that one and use it?
Thank you

[2022-01-27 06:22] kingafy opened #2074 "Error with Pipeline"
While trying pipeline for the below piece of code I am getting error:-
from haystack.pipelines import JoinDocuments
p_ensemble = Pipeline()
p_ensemble.add_node(component=es_retriever, name="ESRetriever", inputs=["Query"])
p_ensemble.add_node(component=dpr_retriever, name="DPRRetriever", inputs=["Query"])
p_ensemble.add_node(component=JoinDocuments(join_mode="concatenate"), name="JoinResults", inpu

[2022-01-27 08:47] ZanSara commented on #2073
Hello @doh10002, sure, it's possible. Have a look at the API documentiation: https://haystack.deepset.ai/reference/retriever#densepassageretriever

This means you can just replace the HF model name with the path where your model is stored, and DPR will load it :slightly_smiling_face:  Feel free to close the issue if this is all you needed to know.

[2022-01-27 09:54] TobiasFutureLabs opened #2076 "FARMreader killed while finetuning"
Hello,
while tryting to finetune my model with data from the haystack annotation tool, my FARMreader gets killed.

**finetuning.py** (tried to keep the finetuning as close as possible to the haystack tutorial)
[code]
**output and error messages**
[code]

[2022-01-27 09:58] ZanSara commented on #2074
Hello @kingafy, unfortunately I can't reproduce your error with the information you provide. For me, the following snippet works fine to the end:

[code]

Do you have the same issue executing this script? If so, please share:
- Haystack version
- How did you install it (from github, from pipy) and **when**
- Python version
- OS and environment details

[2022-01-27 10:18] ZanSara commented on #2076
Hello @TobiasFutureLabs, it's really hard to tell what might be going wrong here. Processes get killed by the OS, so without any information about it I can't help. A common reason for OSes to kill processes this way is lack of RAM, for example. Try keeping `top` open in a terminal while the fine-tuning is running to make sure it's not the case.

Anyway, could you share:
- some details of your mach

[2022-01-27 10:25] kingafy commented on #2074
Can't I use this way of referring two docstore:-
document_store_es = ElasticsearchDocumentStore(host="localhost", username="", password="", index="document")
es_retriever = ElasticsearchRetriever(document_store=document_store_es)

# Initialize dense retriever
#document_store = FAISSDocumentStore.load("my_faiss_index.faiss")
document_store_dpr = FAISSDocumentStore.load("my_faiss_index_eli5.faiss")

[2022-01-27 11:29] ZanSara commented on #1892
I'm closing for now. If you later want to pick up this issue, feel free to re-open :slightly_smiling_face:

[2022-01-27 11:29] #1892 closed

[2022-01-27 11:35] ZanSara commented on #2035
Closing as the issue is clear and no bug was found. The linked discussion will be kept open until OP finds the source of their duplicates.

[2022-01-27 11:35] #2035 closed

[2022-01-27 11:41] ZanSara commented on #1917
Hello @apohllo, may I ask if you will have the time to contribute this feature? If you don't, no problem: I will simply mark it as a good issue for contributors to pick up and keep it in the backlog until somebody starts working on it :slightly_smiling_face:

[2022-01-27 11:48] ZanSara commented on #2056
Sounds perfect to me! Right now we don't have a very clear procedure for deprecations, I assume we're gonna drop deprecated features at the next major release (which is not on the horizon yet), so take into consideration that the two params will have to live together for a while. Otherwise feel free to proceed :+1:

[2022-01-27 12:07] SjSnowball commented on #2029
@bogdankostic It will be great if we have the above feature included. It adds lots of flexibility and avoids the postprocessing steps. I would love to work on this issue. Please let me know.

[2022-01-27 13:44] SAIVENKATARAJU commented on #2055
Hi @tstadel ,
I still getting another error while using this custom mapping. while uploading new file(one file after another file).

[code]

I don't think I can fix that issue. Can you do that?

[2022-01-27 14:03] SjSnowball commented on #2055
@tstadel I followed the conversation from the start. I am clear with what has to be done. Shall I create a PR

[2022-01-27 14:32] TobiasFutureLabs commented on #2076
Hi ZanSara,
thanks for the reply.

**Machine details:**
VM on Ubuntu 20.04.2, Python 3.8
CPU: AMD EPYC 7402P 24-Core Processor 2,8Ghz
RAM: 12GB
GPU: None installed.
Haystack is installed via Docker

As you already noticed, the version is currently 0.X. I will try to update asap, but this may take a while.

´´´top´´´ command showed me that the finetuning stresses the CPU to 190% before the OS kills

[2022-01-27 16:01] Krak91 opened #2079 "QA inference - question about Farm implementation"
Hi all. In short, the end goal is inference using a language model loaded in Nvidia's Triton Inference Server (preferably in ONNX format), but producing the answers and scores that haystack does. Triton accept various model formats like ONNX, pytorch etc along with descriptions of the input (shapes, types etc) and returns the raw outputs which need to be converted into meaningful predictions.

Apo

[2022-01-27 17:59] tstadel commented on #2055
Sure, you're welcome :-)

[2022-01-27 19:13] doh10002 commented on #2073
yeah gotcha.
i read it after i post this question.
Thank you

[2022-01-27 19:43] doh10002 commented on #2073
Hey thank you for the reply.
I just wanted to know how i can save those models.
i know it can be load from the local. but my question is how can i save it to local?

[2022-01-27 20:03] HAIXteam opened #2081 "Issue with Milvus"
**Describe the bug**
We installed farm_reader.

**Error message**
1)we installled farm-haystack==0.9.0
2) We installed pip3 install pymilvus==1.1.2

File "/app/main.py", line 6, in
from haystack import document_store
File "/usr/local/lib/python3.7/site-packages/haystack/init.py", line 5, in
from haystack.finder import Finder
File "/usr/local/lib/python3.7/site-packages/haystack/finder.py", line 8,

[2022-01-27 20:32] baregawi commented on #2081
TL;DR: I fixed the issue by running `pip install pymilvus==1.1.2`.

Hello there. I just ran into the same issue when I rebuilt a docker container today. The problem is that the `pymilvus` package had a major version upgrade on January 25th: https://pypi.org/project/pymilvus/#history
And now 2.0.0 is install by default. Among other potentially breaking changes, it is no longer possible to `import m

[2022-01-27 21:52] baregawi commented on #1753
Thank you @ZanSara, you were right. Sorry to not follow up with my comment. Once I started reading the repo it became obvious to me I got an old version in my docker container.

[2022-01-28 06:13] jhyuklee commented on #1721
Hi @julian-risch , I've been checking and using the Haystack code (it's awesome!), but it seems like implementing phrase retrieval here is nontrivial and would take a lot of time. I would love to get some feedback on this. Specifically I was checking the following possibilities:
* Create `PhraseRetriever` similar to `DensePassageRetriever` in [dense.py](https://github.com/deepset-ai/haystack/blob/

[2022-01-28 06:44] AbhiPawar5 commented on #2081
I am facing a similar issue.

**Environment:**
fastapi==0.70.1
uvicorn==0.16.0
psycopg2==2.9.3
SQLAlchemy==1.4.29
farm-haystack==1.0.0

**Error Log:**
app_1  | Traceback (most recent call last):
app_1  |   File "/code/app.py", line 8, in <module>
app_1  |     from haystack.document_stores.faiss import FAISSDocumentStore
app_1  |   File "/usr/local/lib/python3.9/site-packages/haystack/__init__.py",

[2022-01-28 07:36] afiqmuzaffar commented on #2081
Same goes to me for deepset-ai/rasa-haystack by using docker-compose.

`2022-01-28 07:27:02 INFO     rasa_sdk.endpoint  - Starting action endpoint server...
2022-01-28 07:27:04 DEBUG    ray  - [ray] Forcing OMP_NUM_THREADS=1 to avoid performance degradation with many workers (issue #6998). You can override this by explicitly setting OMP_NUM_THREADS.
/opt/venv/lib/python3.8/site-packages/ray/autosc

[2022-01-28 07:44] Krak91 commented on #2081
Having the same issue now after re-installing farm-haystack==1.0.0.

Setting this environment variable MILVUS2_ENABLED=False solved it.
(https://github.com/deepset-ai/haystack/blob/713771095b3e88b0d05c705382d4fae29250fee9/haystack/document_stores/__init__.py#L12)

Why were older releases affected by this?

[2022-01-28 07:48] baregawi commented on #2081
PyMilvus updated to version 2.0.0 on January 25th and that is now what gets installed from PyPI by default so recent recent farm-haystack installations have been breaking. I fixed this issue by installing `pymilvus==1.1.2`. I am certain that the error comes from trying to use `pymilvus==2.0.0`. It is easy to confirm by reading the code, doing the imports and checking versions yourself. So my guess

[2022-01-28 07:54] baregawi commented on #2081
For those who have tried `pip install pymilvus==1.1.2` and have not found success you can try uninstalling haystack and reinstalling it again with a constraints file:
`pip install -c constraints.txt farm-haystack`
With the contents of constraints.txt as:
`pymilvus==1.1.2`

Or for short:
[code]

[2022-01-28 08:31] baregawi commented on #2067
Hello there. It seems that haystack imports are broken at the moment. A simple `import haystack` leads to a `from milvus import ...` in `document_stores/milvus.py` or a `from pymilvus import ...` in `document_stores/milvus2x.py`. At least one of which would raise an import exception from `import_utils.py`.

A simple fix would be to only print a warning, rather than raising an exception, so that `i

[2022-01-28 08:51] Taekyoon commented on #1903
Sounds good! let me try :)
Thanks!

[2022-01-28 09:25] ZanSara commented on #2081
Hey @baregawi, thank you so much for the comments above! The issue was really the latest release of Milvus and pinning its version to the latest 1.x release (in this case, 1.1.2) should fix it.

@Krak91 Haystack has partial Milvus2 support since a few releases, it was just hidden behind that environment variable. Setting it to any value should enable Milvus 2.0 support, which on one hand fixes the

[2022-01-28 09:43] Krak91 commented on #2081
@ZanSara thanks for the clarification. If I don't intent to use milvus at all, is the env variable sufficient or is it still recommended to downgrade the version?

[2022-01-28 09:48] ZanSara commented on #2079
Hello @Krak9, I'm not very familiar with the details of FARM so I'm going to ask @julian-risch for help with your questions :slightly_smiling_face:

In the meantime, sorry for the silly answer as well, but if you're interested in the FARMReader here, have you considered using TransformersReader instead? Right now Haystack does not depend on FARM anymore and there's been a good deal of refactoring

[2022-01-28 10:06] ZanSara commented on #2076
Hello @TobiasFutureLabs, if you're using Docker is possible that the container has some constraints on the amount of memory or CPU it can request from the host. If those limits are reached you might observe failures like this. I don't think you machine is underpowered for the task: at most it would take longer, while I see your process gets killed almost immediately.

I'm casting a wide net here,

[2022-01-28 10:10] ZanSara commented on #2073
That's in the docs as well :wink: DPR has a `save` method.

[2022-01-28 12:46] SjSnowball commented on #1958
@tholor Extending metadata mapping and filtering support will bring great flexibility for keyword search.
Currently the list of fields passed in search_fields, content_fields are indexed as the "text" field. The rest of the fields are forcefully set to "Keyword".
Similarly, a new parameter will be introduced which will take the data_type and list of fields belonging to that ??
[code]

[2022-01-28 12:50] AbhiPawar5 commented on #1932
Hi Team, I am facing an issue while saving a FAISS Document Store after updating the embeddings.
**System:**
OS: Ubuntu 14.04 LTS
GPU/CPU: CPU
DocumentStore: FAISS

**Environment:**
fastapi==0.70.1
uvicorn==0.16.0
psycopg2==2.9.3
SQLAlchemy==1.4.29
farm-haystack==1.0.0

**Sample Code:**
[code]

**Error:**
TypeError: Object of type IndexFlat is not JSON serializable

**System:**
OS: Ubuntu 14.04 LT

[2022-01-28 15:13] ZanSara commented on #1932
Hey @AbhiPawar5, unfortunately with the information you provide it's impossible to tell. However it's likely unrelated to the Milvus issue we've had recently, because that one causes Haystack to fail on import. Which version of pymilvus you have installed?

Please consider opening a new issue with the complete stacktrace, so we can track it properly.

In addition, I see you're running Haystack on

[2022-01-28 15:16] ZanSara commented on #2081
@Krak91 I recommend to downgrade. The code that is enabled by setting the env var is experimental and contains some bugs, so it might always cause unforeseen issues later. Downgrading pymilvus is safer and way better tested :slightly_smiling_face:

[2022-01-28 16:32] #2002 closed

[2022-01-28 17:07] mathislucka commented on #2056
alright, I took a first shot at implementing this here: https://github.com/deepset-ai/haystack/pull/2084/files

[2022-01-28 22:38] arater commented on #1977
Is there any progress about this?

[2022-01-29 04:48] AbhiPawar5 commented on #1932
Hi @ZanSara, my bad. The code fails on the Docker container running on python:3.9.7

My **requirements.txt** contains:
fastapi==0.70.1
uvicorn==0.16.0
psycopg2==2.9.3
SQLAlchemy==1.4.29
farm-haystack==1.0.0
pymilvus==1.1.2
boto3==1.20.44

**Error:**
(base) apawar@aapl2:~/abhishek_work/gitlab/news_retriever_app$ docker-compose up
Starting news_retriever_app_app_1 ... done
Attaching to news_retrieve

[2022-01-30 13:53] arater opened #2085 "File Upload Indexing Pipeline Error"
**File Upload Request**
I was using file-upload request successfully but somehow I am getting the error below.

<img width="456" alt="Screen Shot 2022-01-30 at 14 50 33" src="https://user-images.githubusercontent.com/12005291/151702532-5ea56b05-484e-4061-b1cf-a4f9b8ba2c80.png">

I am using TikaConverter as file converter and I saw this error happens due to INDEXING_PIPELINE_NAME lackness but I did

[2022-01-30 14:33] SjSnowball commented on #2052
@ZanSara I would like to work on this. Currently "context" field is passed to the result from the _summarizer_ node. Along with that, we need to pass the fields retrieved from the _retriever_ node. Did I understand correctly?

[2022-01-30 15:16] arater opened #2086 "Requirements.txt mssing so cannot run docker-compose build"
**requirements.txt is missing**
I did docker-compose up but then I have changed some code and I run docker-compose build and it gives

<img width="927" alt="Screen Shot 2022-01-30 at 16 14 47" src="https://user-images.githubusercontent.com/12005291/151705549-75901c0a-d235-445f-b7f9-7e75625ce4c3.png">

Because there is no requirements.txt file. I do not understand how it works the first time when I

[2022-01-30 21:52] baregawi commented on #2085
Hi @arater, please fill in the Bug Report template available when clicking "New issue" to the best you can. It is not possible to address this issue without that.

[2022-01-30 22:04] baregawi commented on #1932
Hi @AbhiPawar5 , the above issue is fixed in the newest release as of January 20. Make sure your farm-haystack version is 1.1.0. I see that it is 1.0.0 in your requirements.txt file.

[2022-01-30 23:52] baregawi commented on #2079
Hi @Krak91 , I just started using FARM but I'm familiar with its dependencies and have been reading the code. If someone can double check what my responses that would be nice. To try to answer your questions:

**"First question is, does farm tokenize text differently from transformers?"**

- The readers and retrievers delegate tokenization to huggingface's `transformers` package when you pass in t

[2022-01-31 05:44] AbhiPawar5 commented on #1932
Hi @baregawi, Thanks for your sugguestion. I changed my farm-haystack version to 1.1.0 however, now I face a different error altogether.

**Error Stack:**
(base) apawar@aapl2:~/abhishek_work/gitlab/news_retriever_app$ docker-compose up
Starting news_retriever_app_app_1 ... done
Attaching to news_retriever_app_app_1
app_1  | INFO - haystack.modeling.utils -  Using devices: CPU
app_1  | INFO - hayst

[2022-01-31 06:01] baregawi commented on #1932
Hi @AbhiPawar5 , please open a new issue for this with the steps to reproduce.

[2022-01-31 08:47] AbhiPawar5 opened #2089 "sqlalchemy.exc.OperationalError with FAISS and DP Retriever"
**Describe the bug**
Upon calling ```document_store.write_documents()``` I am getting an OperationalError from the SQLite instance.

**Error message**
(base) apawar@aapl2:~/abhishek_work/gitlab/news_retriever_app$ docker-compose up
Starting news_retriever_app_app_1 ... done
Attaching to news_retriever_app_app_1
app_1  | INFO - haystack.modeling.utils -  Using devices: CPU
app_1  | INFO - haystack.

[2022-01-31 08:49] AbhiPawar5 commented on #1932
Hi @baregawi, I have opened a new issue for this.

For others, please let us know if this can be solved irrespective of the haystack version. Thanks.

[2022-01-31 09:47] julian-risch commented on #2086
Hi @arater you're right that there is a problem when the ui docker image is built. It's because one of our most recent PRs #1994 deleted the `requirements.txt` file that would be copied here and changed the dependency management. I'll need to make some changes to https://github.com/deepset-ai/haystack/blob/master/ui/Dockerfile and will let you know once it is fixed.

[2022-01-31 09:50] julian-risch commented on #2086
@arater as a quick fix you can add the following file to your folder `haystack/ui/`: https://github.com/deepset-ai/haystack/blob/4cc37548e3bedbb375ab0cb76aa1c80ee5a5430f/ui/requirements.txt

[2022-01-31 09:56] julian-risch commented on #2086
@ZanSara did we want to reorganize the dependency management for the UI as well or could we just re-add the `requirements.txt` in `haystack/ui` to solve this problem?

[2022-01-31 09:59] julian-risch commented on #2086
@ZanSara did we want to reorganize the dependency management for the UI as well or could we just re-add the `requirements.txt` in `haystack/ui` to solve this problem?

[2022-01-31 10:54] julian-risch commented on #2089
Hi @AbhiPawar5 could you please tell me what sqlalchemy version you are using? I couldn't reproduce your issue. Can you run [Tutorial 6](https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial6_Better_Retrieval_via_DPR.py) successfully or do you also get an error there?

[2022-01-31 11:35] AbhiPawar5 commented on #2089
Hi @julian-risch, For Tutorial 6 - I get a Segmentation Fault (core dumped) on my machine.
**LOG:**
INFO - haystack.utils.import_utils -  Found data stored in `data/article_txt_got`. Delete this first if you really want to fetch new data.
INFO - haystack.utils.preprocessing -  Converting data/article_txt_got/442_Game_of_Thrones__season_1_.txt
INFO - haystack.utils.preprocessing -  Converting data/

[2022-01-31 22:54] arater commented on #2086
Thanks for quick solution

[2022-01-31 23:46] ozyurtf opened #2092 "Showing multiple answers/documents in MultiLabel()"
Hello,

I am currently creating a Evaluation part of a Question Answering pipeline. Can you clarify how we should use the MultiLabel() in different scenarios (e.g. multiple answers in different documents for a single question, multiple answers in one document for a single question, etc.) ?

Let's say that we have 2 documents: A and B and one question. And document A includes two answers of this qu

[2022-01-31 23:55] ozyurtf opened #2093 "The effect of origin in Label() function"
Hello,

Can you explain how the origin in the Label() function affects the evaluation process ? I mean what changes when we change origin from "gold-label" to "user-feedback" ?

[2022-02-01 07:28] TobiasFutureLabs commented on #2076
Hi ZanSara,
I checked the docker container, but it seems its not limited at all. I doubled up the CPU and RAM on my virtual machine and started the script again, and now it seems to run (even tho learning takes around 9 hours). I used the same script on a machine with a dedicaded GPU and could finish the task in under 30 mins. So it seems that my data from the annotation tool is pretty large and c

[2022-02-01 08:56] ZanSara commented on #2086
Hello @arater, I'll implement a fix today and let you know once it's done. I'm going to modify the UI's Dockerfile not to look for a `requirements.txt` (after the dependency management refactoring it's no more needed).

[2022-02-01 09:09] julian-risch commented on #1721
Hi @jhyuklee I like that plan and if we can make it work I think that's a better integration than installing and using `densephrases` package. Let's break that plan down into smaller work packages. For example, I'd be happy to implement the `MultiGranularitySearchPipeline` as I'm quite familiar with haystack's pipeline concept. ;) The tutorial itself is also something I can do in the end. Could yo

[2022-02-01 10:08] AybarsManav opened #2094 "Evaluating GenerativeQAPipeline"
**Question**
How can i evaluate a Long Form Question Answering model? I have been trying to do it similar to tutorial 5 and i get errors at pipe.eval() part.

![image](https://user-images.githubusercontent.com/63296692/151949232-41072ea9-860b-4880-95b3-655c2c46a0b6.png)

and pipe looks like this:
![image](https://user-images.githubusercontent.com/63296692/151949312-30f9ec5b-9534-4129-a54b-a7e6a304

[2022-02-01 10:41] baregawi commented on #2094
Hi @AybarsManav , could you post the full stack trace?

[2022-02-01 11:28] AbhiPawar5 commented on #2060
Hi @ZanSara, what if we want to deploy the search with FAISS Document Store and Dense Passage Retriever on CPU?
And,
Query embeddings model as - ```facebook/dpr-question_encoder-single-nq-base```
Passage embeddings model  as - ```facebook/dpr-ctx_encoder-single-nq-base```

Can you please share the CPU and RAM requirements based on your experience?

And yes, it would be great information to be pres

[2022-02-01 12:26] AybarsManav commented on #2094
Is this okay?

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/internals/managers.py", line 1671, in create_block_manager_from_blocks
    make_block(values=blocks[0], placement=slice(0, len(axes[0])))
  File "/usr/local/lib/python3.7/dist-packages/pandas/core/internals/blocks.py", line 2744, in make_block
    return klass(values, ndim=ndim, placement=p

[2022-02-01 13:11] ZanSara commented on #2073
@doh10002 Don't forget to close the issue when you think your question was answered :slightly_smiling_face:

[2022-02-01 13:25] julian-risch commented on #2089
In the log messages, I see `sqlite3.OperationalError: no such column: meta_document_1.document_index`. Are some of the documents that who would like to write to the document store already included in the faiss index so that they need to be updated? @ZanSara do you have any idea how this problem is caused when executing the SQL command?

[2022-02-01 13:47] ZanSara commented on #2052
Hi @SjSnowball, thanks for taking this! I understood the proposal slightly different: I think Summarizer nodes do not contain the metadata of the document they summarized into the response. Other nodes, like Retrievers and Readers, *do* include the original document's metadata in their results, and I think @manupomax would simply like the original document's metadata to show up in the results of t

[2022-02-01 13:58] ZanSara commented on #2089
@AbhiPawar5 this error looks very much like a schema mismatch to me. Could you delete your document store (both FAISS and SQLite components) and try re-indexing from scratch? I have the impression this document store was saved with an older version of Haystack, specifically any version before the 1st of December, when this PR was merged: #1776. Unfortunately that change made saved SQLite-FAISS doc

[2022-02-01 14:01] ju-gu opened #2096 "Favor Embedding Retriever not DPR"
## Description

In most of our experiments we observe that the EmbeddingRetriever outperforms DPR. Therefore, we should communicate that better by changing the recommendation on the [website ](https://haystack.deepset.ai/components/retriever) and also changing the Tutorial 6 "Better Retrieval via DPR" in "Better Retrieval via the Embedding Retriever"

[2022-02-01 14:04] baregawi commented on #2094
Can you post an example of what your `eval_labels` looks like?

[2022-02-01 14:16] julian-risch commented on #2094
@tstadel we need to look into that. :)

[2022-02-01 14:31] ZanSara commented on #2076
Hello @TobiasFutureLabs, glad it's now working! Unfortunately that's an expected problem: machines are rarely so limited that the training doesn't start at all, but it takes extremely long without a GPU even with decent specs. Taking 9h versus 30mins sounds totally normal, sadly.

Out of curiosity, could you share how much RAM and CPU did you allocate to your VM to make it work? There are other pe

[2022-02-01 14:39] TobiasFutureLabs commented on #2076
Hi, I doubled the specs which I used previously, so to make it work I needed:
2x AMD EPYC 7402P 24-Core Processor 2,8Ghz
24 GB RAM.

[2022-02-01 14:39] #2076 closed

[2022-02-01 14:40] ZanSara commented on #2060
Hello @AbhiPawar5, DPR will probably introduce a sensible lag when run on a CPU-only system. FAISS is less of an issue there, but if you plan to have dense retrieval, I would really recommend a GPU. Lighter retrievers like `ElasticsearchRetriever` would be much faster on CPU, but of course the quality of the results will be different. On the other hand, I don't think RAM will become an issue. I be

[2022-02-01 14:42] AybarsManav commented on #2094
Hello @baregawi!
When i go through the tutorial 5, and add a `eval_labels = document_store.get_all_labels_aggregated(drop_negative_labels=True, drop_no_answers=False)`  just before initializing retriever and just after using `add_eval_data()` to add the evaluation data to the document store, I get such `eval_labels` = [{}, {}, {},{},...]
Though the evaluation in tutorial 5 works even though evalua

[2022-02-01 14:55] ZanSara commented on #2093
Hello @ozyurtf, I believe the `origin` parameter is only used to distinguish the origin of the labels, to allow users to run separate evaluations on the two types of labels. You can get the hint from the docs: https://haystack.deepset.ai/reference/primitives#label, even though I agree it could be more detailed. @tstadel is that correct?

[2022-02-01 14:58] tstadel commented on #2092
Hey @ozyurtf,
you're example looks good. To specify, that the answer does not exist, set `answer=None`, or more explicitly set `no_answer=True`.

[2022-02-01 15:01] ZanSara commented on #2096
Hello @ju-gu, that's a fair recommendation: we also observed many cases in which EmbeddingRetriever outperforms DPR. However, that's not necessarily a general statement: EmbeddingRetriever generally works best when question and answer share many similarities (sentence structure, choice of words, etc), while DPR is less sensitive to such similarities. That's why we tend to recommend DPR over Embedd

[2022-02-01 15:04] tstadel commented on #2093
Yes, exactly. Most often you want to distinguish manually labeled data from user feedback. Both label types are stored inside the label_index. To filter for one of these types you would do something like that:
[code]

[2022-02-01 15:04] SasikiranJ commented on #1081
Hi @tholor , Would you please help me with complete code for my use case using Docs2Answers node by creating tutorial kind of thing for combining multiple pieplines especially FAQ and ExtractiveQA Pipelines?

[2022-02-01 15:33] baregawi commented on #2094
@AybarsManav Oh interesting. I just went through that code. It looks like that might just be an artifact of how the MultiLabel class is printing its objects. If you do the following:

[code]

You'll see all the labels there. May I ask you for the data that caused the exception?

@julian-risch @ZanSara Is there already a proposed fix for this? Is it as simple as fixing the `__str__` method of `Mult

[2022-02-01 15:39] julian-risch commented on #2094
@baregawi yes, you're right that the MultiLabel has no nice way implemented to print itself. @AybarsManav The output `[{}, {}, {},{},...]` that you describe is correct for that reason. We need to improve that.

[2022-02-01 15:53] baregawi commented on #2094
Is the concern that simple printing out the labels would be extremely verbose for large documents?

[2022-02-01 15:56] AybarsManav commented on #2094
Thank you @julian-risch and @baregawi. I believe the problem stems from the data i use as @baregawi suggests.  What kind of data should i use while evaluating Generative QA pipeline such as this one? Can CoQA be used?

[2022-02-01 16:49] tstadel commented on #2094
@baregawi: which pandas version are you using?

[2022-02-01 16:53] baregawi commented on #2094
[code]

[2022-02-01 19:14] ozyurtf opened #2100 "Fine tuning model on user feedbacks"
Hello,

I have a question answering system in which the user can ask a question and give feedback about the answers with thumbs up/down buttons. But note that the user can only give feedbacks to the answers and not to documents specifically.

I am planning to use these feedbacks for fine-tuning my current QA model and I don't want to include only positively rated answers. I want to include negativ

[2022-02-01 19:18] ozyurtf commented on #2093
I have read that source @ZanSara but wanted to be sure if there is any other effect of that argument. Now it makes more sense. Thank you for your answers!

[2022-02-01 19:18] #2093 closed

[2022-02-02 04:16] AbhiPawar5 commented on #2060
Hi @ZanSara, thank you for sharing your experience. I'll take a look at #2076.

[2022-02-02 08:17] AbhiPawar5 commented on #1932
Hi @ZanSara, yes you are right! I tried creating a document store and updating the embeddings with haystack version 1.1.0 and it worked! Thanks for your help and time. Take care.

[2022-02-02 08:19] AbhiPawar5 commented on #2089
Hi @ZanSara and @julian-risch, creating a new document store and updating the embeddings with the newer version of haystack 1.1.0 solved this issue. Thank you for your help and time! Take care.

[2022-02-02 09:28] ZanSara commented on #1977
Hello @arater, sorry for the delay. Yes, there's been some developments and I believe I might have a fix ready today. Keep an eye on the linked PR :slightly_smiling_face:

[2022-02-02 09:31] julian-risch commented on #2089
Great to hear that. You're welcome!

[2022-02-02 09:31] #2089 closed

[2022-02-02 11:42] mathislucka commented on #2100
Hi @ozyurtf,

I think your intuition to use user feedback to improve your models is very good and it will allow you to continually improve the quality of your predictions.

Regarding your questions:
- I'd ask the users to give feedback both on the document and on the answer (like we do in our demo in evaluation mode https://haystack-demo.deepset.ai/)
- if you are using a dense retriever, you can d

[2022-02-02 11:42] bogdankostic commented on #1722
Resolved in #1997

[2022-02-02 11:42] #1722 closed

[2022-02-02 11:46] bogdankostic commented on #2029
Hi @SjSnowball! Thanks for your interest in this issue. I already created a PR (#2108) that extends the metadata filtering support in the `ElasticsearchDocumentStore`.

[2022-02-02 13:03] tholor commented on #2056
Closed by #2084

[2022-02-02 13:03] #2056 closed

[2022-02-02 13:10] tholor commented on #2028
Sounds all good to me :+1:
Let's agree on this set and move forward.

Just to clarify, will we support a list of those types, as well?
For example, a document might have multiple `topic` tags as a list[str], e.g. ["news", "sports"]. At query time we want to filter for all `topics = news` where the above would match.

Not sure if there are cases for lists of the other data types (and it might get q

[2022-02-02 13:52] #1983 closed

[2022-02-02 13:54] tholor opened #2110 "Publish yaml schema in schemastore"
After we created a YAML schema in #2020, we need to do the next step and publish it to the schema store so that it is easily accessible for everyone.

From the PR:

Define the URL that should store the JSON Schemas, probably something like: https://haystack.deepset.ai/json-schemas/haystack-pipeline.0.7.schema.json
Make the PR(s) to JSON Schema Store including the definition for Haystack's pipeline

[2022-02-02 13:55] tstadel opened #2111 "pipeline.list_pipelines_from_deepset_cloud()"

[2022-02-02 13:57] tstadel opened #2112 "Try ingest and extraction APIs of experiment tracking tools in notebook"

[2022-02-02 14:01] julian-risch opened #2113 "Missing embeddings not skipped if filters are used"
**Describe the bug**
In the ElasticSearchDocumentStore, the filter that skips missing embeddings is overwritten if other filters are passed to the `query_by_embedding`function. Documents without embeddings are thus never skipped.

**Expected behavior**
We should combine the user-defined filters with the filter that skips missing embeddings.

[2022-02-02 16:51] #1977 closed

[2022-02-02 16:51] julian-risch commented on #1081
Hi @SasikiranJ I think our pipelines tutorial will be helpful for you: https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial11_Pipelines.ipynb
There you can see that you can create a custom node for the classification you would like to do. You need to make some changes to the code in the tutorial though. Something along the following lines should work:
[code]

[2022-02-02 16:53] ZanSara commented on #1977
Hey @arater, I merged a PR that should solve your issue. Now `FileTypeClassifier` has a parameter called `supported_types` which you can use to specify the types you want to allow. Have a look at the updated docs (https://haystack.deepset.ai/reference/file-classifier, might take a while for the new version to show up though) and let me know if it works for you :slightly_smiling_face:

If not of co

[2022-02-02 17:23] mathislucka opened #2116 "Preprocessor has problematic default behaviour for passage splits"
**Describe the bug**
I wanted to split a file by passages and ran into an issue with the default behaviour of the PreProcessor. If you set the PreProcessor to `split_by='passage'`, the PreProcessor will split at `\n\n`. See:

https://github.com/deepset-ai/haystack/blob/3a6e64b2a3b3c5b54f4f79b51b2b988465f8b6a3/haystack/nodes/preprocessor/preprocessor.py#L288

However, the cleaning is performed befo

[2022-02-02 22:18] ozyurtf commented on #2100
Thank you @mathislucka. Yes that was helpful!

As you said, we can currently be able to use the negatively rated answers in dense retriever.  And as you know we can also be able to specify if the answer and document is correct during the evaluation process with the parameters 'is_correct_document' and 'is_correct_answer'.

I don't have in-depth knowledge about the backend process and that's why I

[2022-02-02 23:20] #2094 closed

[2022-02-03 00:13] yunyu opened #2118 "get_language_model_class does not work when huggingface.co is offline, even if model is locally cached"
**Describe the bug**
Huggingface.co is currently offline. I am running Haystack with the models cached in ~/.cache/huggingface, but my program still fails.

**Error message**
Error that was thrown (if available)
[code]

**Expected behavior**
If huggingface.co is down and models are locally cached, the locally cached versions of the models should be used

**Additional context**
https://status.huggi

[2022-02-03 00:41] arater commented on #1977
Thanks for your concern I will fetch changes from master and run docker from scratch and I will set my converter as tika

<img width="816" alt="Screen Shot 2022-02-03 at 01 30 20" src="https://user-images.githubusercontent.com/12005291/152260881-64aa4f74-aa73-454a-a4ca-0a9ec3357867.png">

I believe only changing these will be adequate to use Tika as converter.
But when I also try to upload file 'd

[2022-02-03 03:48] ozyurtf opened #2119 "Fine tuning LM in haystack"
Hello,

I have a language model that was not fine-tuned on any of the downstream tasks. I am planning to fine-tune this language model on my question-answer data.

I am currently following the tutorial in here: https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial2_Finetune_a_model_on_your_data.ipynb#scrollTo=DDZ7bAj8lTbc and I see "We recommend using a base m

[2022-02-03 10:42] #2116 closed

[2022-02-03 10:59] mathislucka commented on #2100
You're welcome @ozyurtf :)

Just to add some pointers:
- here is our tutorial on how to fine-tune the DPR model https://haystack.deepset.ai/tutorials/train-dpr
- the train methode also accepts a num_hard_negatives parameter https://github.com/deepset-ai/haystack/blob/9974593c5eb0d682cbd9ddb48f0693594b667509/haystack/nodes/retriever/dense.py#L315

As for the integration of negative answers to train

[2022-02-03 13:18] mathislucka commented on #2119
Hey @ozyurtf,

we recommend that you use a model which is already fine-tuned on a qa dataset because the results are usually much better. Still, you can also use a model which was never fine-tuned on QA.

However, if you could fine-tune on some other QA-data first or if there is an existing model (like the SQuAD models), then your results will likely be better. Why do you think continuing fine-tun

[2022-02-03 14:00] mathislucka commented on #2026
Hey @Cazual,

does your issue persist? Would you be able to post a code snippet so that we can investigate further?

I'll close this issue during the next few days if you can't add any information but you can of course reopen it if you need to :)

[2022-02-04 12:43] #2029 closed

[2022-02-04 15:55] julian-risch commented on #2081
@ZanSara @MichelBartels is that problem resolved now?

[2022-02-04 23:58] xloem commented on #2118
Hi, I just happened to bump into this issue.  Have you tried setting TRANSFORMERS_OFFLINE=1 in the environment? https://github.com/huggingface/transformers/blob/8ce133063120683018b214fe10d1449e4c2401da/src/transformers/file_utils.py#L328

[2022-02-06 09:22] Threepointone4 opened #2131 "Embedding Issue in Sbert"
**Cosine similarity doesn't match with the score which if we calculate offline.**

When I indexed data with ElasticSearch as doc store and  embedding retrieval with **sentence-transformers/all-mpnet-base-v2** as model. One issue I saw was, if a indexed data contains "Thanks" and if the query is "Thanks" the score was 0.5 , this happened also for the words like "female" and "male". I created a offi

[2022-02-06 09:26] Threepointone4 commented on #2131
The passed params other then default value in haystack are :
In doc_store : ""similarity" : cosine
In retrieval :     "embedding_model": "sentence-transformers/all-mpnet-base-v2",
                        "model_format": "sentence_transformers",

[2022-02-07 08:30] julian-risch commented on #2131
Hi @Threepointone4 I think we discussed that difference in the following issue before: https://github.com/deepset-ai/haystack/issues/1236#issuecomment-872288276 Let me know, if you think it's a different topic. Otherwise I guess we can close this issue here?

[2022-02-07 10:25] mathislucka commented on #2026
Hey @Cazual,

I'm closing this now. Feel free to re-open if you want to discuss this further.

[2022-02-07 10:25] #2026 closed

[2022-02-07 10:28] mathislucka commented on #2055
Hi @SAIVENKATARAJU,

did this resolve your problems?

I'll close this issue in the coming days if there are no more questions from your part.

[2022-02-07 10:45] SAIVENKATARAJU commented on #2055
I didn't follow this thread actually from last couple of week. So for quick resolution I have downgraded to 1.0.0. closing the issue.

[2022-02-07 10:45] #2055 closed

[2022-02-07 10:48] Threepointone4 commented on #2131
Its related to that, but in this I was not comparing the score. One of the record during indexing had text = "Thanks".(which i am using to create embedding) I have created the pipeline using Elastic as docstore and Embedding retriever. Now when the query is "Thanks", the expectation was that record to come with the high match as its exact same word. But it was not coming as the score was 0.5.

I u

[2022-02-07 11:04] Threepointone4 commented on #2131
I understood the issue and I was about to reproduce same through sbert as well. But how to resolve using haystack was my question.
Eg:
index_title = "Thanks"
query = "Thanks"
**Now the score is 1.**

**Replication of how haystack does through sbert**
index_title = [["", "Thanks"]]
query = "Thanks"
**Now the score is 0.5** which is same as haystack is giving. But its not idea right ?
Should there b

[2022-02-07 17:17] ju-gu opened #2134 "get pipeline info, after load_from_deepset_cloud"
If you use pipeline.load_from_deepset_cloud, you can get an overview by using pipeline.draw(). Though, .draw() just shows component names. To get detailed information about the components and therefore understand the pipeline fully, it would be nice if you could retrieve them as well, e.g. as a printout, or in addition to pipeline names using .draw().

[2022-02-07 21:04] tstadel opened #2136 "Add section on OpenSearch to our DocumentStore documentation"
- Add a section in our documentation around the opensearch documentstore (https://haystack.deepset.ai/components/document-store) that explains the similarity metrics and KNN options

[2022-02-07 21:08] tstadel opened #2137 "Add OpenSearch to CI and tests"
- Add OpenSearch in our CI so that we can add dedicated tests
- install OpenSearch docker image in CI
- ensure it's exposed on a different port than elasticsearch
- add it to document store fixtures
- ensure appropriate tests are run with OpenSearchDocumentStore

[2022-02-07 21:20] tstadel opened #2138 "OpenSearchDocumentStore: Support exact vector search with prefiltering"
OpenSearch's knn plugin only support postfiltering in association with approximate nearest neighbour search. Prefiltering is supported with exact script scoring. According to knn docs, script scoring is more efficient in most cases if no more than 20k docs are left after prefiltering.

- Introduce a param (e.g. `enforce_exact_vector_similarity=True/False`) that allows to do exact script scoring ev

[2022-02-07 22:27] tstadel commented on #2138
Looks like dot_product is already supported in script scoring according to https://github.com/opendistro-for-elasticsearch/k-NN/pull/324/commits/2d25abf0fc4a31a1b62e8f0f10aca1af388c532e
However the knn docs report otherwise. So we should make a little test here.

[2022-02-08 00:20] adri1wald opened #2139 "`top_k` in `ElasticsearchFilterOnlyRetriever` has no effect when using `ElasticsearchDocumentStore`"
**Describe the bug**
Using `top_k` with `ElasticsearchFilterOnlyRetriever` has no effect because `ElasticsearchDocumentStore.query` does not consider `top_k` if `query is None`. It seems the default number returned is `10`, which happens to be the default `top_k`.

**Expected behavior**
If there are more than `top_k` documents after applying filters, then `ElasticsearchFilterOnlyRetriever.retrieve

[2022-02-08 08:59] julian-risch commented on #2139
Hi @adri1wald thanks for pointing out this issue and great to see that you already suggest a fix. 👍 I think the reason why the "Naive retrieval without BM25, only filtering" part of the code doesn't use the `top_k` parameter is that the returned documents have no relevance scores and thus cannot be sorted. Therefore, it is not well defined which of the relevant documents are returned if there are

[2022-02-08 11:46] mathislucka commented on #2139
Just to add to this. I think we recently had a similar case for `get_documents_by_id` and I'd agree with @julian-risch that we shouldn't use top_k here because it is not meaningful. For the case of `get_documents_by_id` we had to adjust the query like this:
https://github.com/deepset-ai/haystack/blob/692cde11e736884cbd1a5f99416cee94c4f0921b/haystack/document_stores/elasticsearch.py#L472

Happy if

[2022-02-08 12:42] julian-risch commented on #2139
Ah, thanks for the reminder @mathislucka . Yes, the limitation to 10 documents most likely comes from Elasticsearch. @adri1wald A quick fix could be to add `"size"` to the query body, setting it to the maximum that Elasticsearch allows by default for example:
[code]
A better solution would be to use the `scan` functionality as used in the `get_all_documents` method:
https://github.com/deepset-ai/h

[2022-02-08 13:46] adri1wald commented on #2139
Hey @julian-risch @mathislucka!

Thanks for taking a look at this.

My usecase is definitely met by getting all the filtered documents. I really like the idea of using `get_all_documents` in `ElasticsearchFilterOnlyRetriever.retrieve`. I will implement that for our project now.

Happy to make the same change in haystack and submit a PR once I've made it work for us! Also, if the semantics of `top_

[2022-02-08 14:41] scibite-oliverg opened #2142 "Some documents do not have embeddings"
I have tried to set up the tutorial 6 pipeline using both an elasticsearch document store and the FAISS document store. In both cases I get variations of the same error noting that some of my documents do not have embeddings. Exact errors are included below. Am I missing some preprocessing step to ensure that my documents are embeddable? Is there some simple flag to run this step in haystack?

ES

[2022-02-08 18:53] mathislucka commented on #2142
Hey @scibite-oliverg ,

thanks for opening up this issue. Have you tried the suggested fix in the error message? Maybe calling `update_embeddings` prior to the retrieval will help.

[2022-02-08 19:32] mathislucka commented on #2139
I think the storage backends do not support random samples. I think what I'd do when implementing this as a custom node:

- have a separate index where you store all ids as metadata in a single document
- retrieve all ids from that index
- take a random sample of the id list
- query the actual document index with the sampled ids and `get_documents_by_id`

[2022-02-08 23:48] adri1wald commented on #2139
At least for elasticsearch, could this be used for random sampling? https://www.elastic.co/guide/en/elasticsearch/guide/current/random-scoring.html

[2022-02-09 08:00] jaehyeongAN opened #2146 "How is `duplicate_documents` judged in `write_documents()`?"
**Question**
Hi, I am using `ElasticsearchDocumentStore`. I'm confused about the 'duplicate_documents' parameter in `write_documents()`.
When using `write_documents()`, even if the 'meta' information is different, if only the 'text' content is the same, it is recognized as a duplicate document.

below is my inputs for `write_documents()`.
[code]
If I insert the second example after indexing the f

[2022-02-09 09:10] julian-risch commented on #2146
Hi @jaehyeongAN the lines of code that check for duplicate documents can be found here: https://github.com/deepset-ai/haystack/blob/4b0ff830ca64a00e95019959ae7716b36b2175de/haystack/document_stores/base.py#L482 Two documents are duplicates if they have the same id. If you don't give IDs to your documents explicitly, they will get an auto-generated ID. In your case, you could add two different IDs

[2022-02-09 09:16] scibite-oliverg commented on #2142
Hi. Thanks for responding. Yes, the code that errors is executed immediately after running update_embeddings (which completes successfully).

[2022-02-09 09:54] ZanSara opened #2149 "Installing Haystack before `mypy` changes its outcome"
On the CI (and probably locally too) running mypy with the `haystack` package installed raises a lot more errors than when the package is not installed. Currently the CI does not install the package before running mypy checks.

The error raised after installation seems to be mostly related with the interaction of our code with some dependencies like `transformers` or `pytorch`. While some are look

[2022-02-09 10:42] jaehyeongAN commented on #2146
@julian-risch Oh thanks! It works!
However, if an "id" value is given, two documents with completely identical text and meta tags are not recognized as duplicate documents. Is there another way?

[code]
Does this code work in v0.10.0 as well?

[2022-02-09 11:10] bogdankostic opened #2150 "Extend filter functionality for `DeepsetCloudDocumentStore`"
Like in #2108, we want to have the extended filter functionality also available in `DeepsetCloudDocumentStore`.

[2022-02-09 11:22] julian-risch commented on #2146
If the values of content and meta fields of two documents are the same and you are using `id_hash_keys=["content", "meta"]`, they should automatically get the same id. I just confirmed that by running:
[code]
after installing haystack from the master branch via `!pip install git+https://github.com/deepset-ai/haystack.git#egg=farm-haystack[colab]`
Haystack version v.0.10.0 does not have that featur

[2022-02-09 11:24] jaehyeongAN commented on #2146
Thanks! I will try!

[2022-02-09 16:27] #2150 closed

[2022-02-09 16:27] alioz1967 opened #2153 "question about non asci characters problem"
**Question**
I've run the tutorial 1 for Turkish. However I'm getting some strange characters. Is it possible to display and use the Turkish characters correctly? Could you please advise what I should do? Many thanks.

I've used the changes below.

[code]

**Additional context**

Query: fransa yılda kac turist gidiyor?
Answers:
[   {   'answer': '82 milyon',
        'context': 'en az kalanlar hari

[2022-02-10 08:59] mathislucka commented on #2153
Hey @alioz1967 ,

my first guess is that this is an encoding problem, but I'd have to look at some of the data to test that out. Can you provide me with some of the data you use?

Also, what you might try is to call `string.encode('utf-8')` on your questions and text before indexing them in haystack.

[2022-02-10 11:04] alioz1967 commented on #2153
Yes that is what I'm doing. This is the output below. Characters appear okay when I run your commands. >

[code]

[2022-02-10 11:15] mathislucka commented on #2153
Ah, I just realized that you are passing `encoding="Latin5"` to `convert_files_to_dicts`. What if you change it to `"utf-8"`?

[2022-02-10 11:23] alioz1967 commented on #2153
Thank you very much. Much Appreciated!! That fixed the problem. I changed that also I stopped elastic services and when I retried. I got this >

[code]

[2022-02-10 11:25] mathislucka commented on #2153
Glad I could help. Remember to close the issue if you have no further questions :)

[2022-02-10 11:25] #2153 closed

[2022-02-10 12:35] jaehyeongAN commented on #2146
@julian-risch
In v0.10.0, when an `id` value is given, the problem of being recognized as a duplicate document has been resolved.

However, since I'm using `Preprocessor(split_length=100)`, the document is split when `write_documents()` is executed.
Since the same 'id' value is included in the divided documents, only the last divided document is stored in ElasticSearch.

Is there any way to solve

[2022-02-10 14:33] mathislucka commented on #2092
Hey @ozyurtf ,

I'll close this issue in the coming days if you don't have any additional questions. You can re-open it if anything remains unclear of course.

[2022-02-10 15:00] mathislucka commented on #2142
Hi @scibite-oliverg ,

Tutorial 6 runs fine for me in Colab. What environment are you running this in?

[2022-02-10 15:15] scibite-oliverg commented on #2142
I'm running this on an AWS Linux AMI. (One other issue that came up for me was an issue with pymilvus - I had to manually install pymilvus==1.1.0 to get the code to run).

I am using different data, which I suspect is the source of the issue, but I'm not sure how to assess why some documents are not being embedded to get some criteria on which to filter them out.

[2022-02-10 18:20] mathislucka commented on #2142
Hm, weird.

Some things that might help:

- filter out all documents with no content (either empty string "", or None, or basically anything that is not a string or is a string but has len < 1)
- make sure that the index is created with the right embedding dimensions
- for the ElasticSearchDocument store you could use the `recreate_index=True` param. Careful, this will delete your existing documen

[2022-02-10 19:28] tstadel opened #2166 "Recall metrics for answer returning nodes"
**Is your feature request related to a problem? Please describe.**
For use-cases like named entity extraction (using QA) the currently supported metrics for answer returning nodes are not sufficient. Currently we assume that it is sufficient that one answer per MultiLabel matches (according to exact_match, f1 or sas). So we simply take the maximum of those metrics over all predictions.
In these us

[2022-02-11 08:34] mathislucka commented on #2073
Closing this now, you can reopen if there are more questions.

[2022-02-11 08:34] #2073 closed

[2022-02-11 09:19] julian-risch commented on #2146
Hi @jaehyeongAN The only other option I see in the older version is to set the IDs in the document manually. You could copy the functionality that we implemented in a more recent version here: https://github.com/deepset-ai/haystack/blob/53decdcefbd7c8eb21642fad3e9258d9c2838450/haystack/schema.py#L115
Before you execute `write_documents()` you could set the IDs manually with the help of the above c

[2022-02-11 09:39] PiffPaffM commented on #1171
Not relevant anymore, will be handled in a freelancer project (see SOW)

[2022-02-11 09:39] #1171 closed

[2022-02-11 09:39] PiffPaffM commented on #1170
@brandenchan Is this still relevant?

[2022-02-11 09:40] jaehyeongAN commented on #2146
Thank you so much for your detailed reply.
I solved the problem thanks to @julian-risch 👍

[2022-02-11 09:40] #2146 closed

[2022-02-11 10:50] karndeepsingh opened #2167 "How to prepare dataset for Question Answering task with multiple answers for a single question?"
**Question**
I have to prepare dataset for training question answering task and I have questions that have multiple answers to them and present at a different locations. So, How could I prepare the dataset? Like in Squadv2.0 dataset has almost single answer for each question but in my case I have multiple answers to a single question.

[2022-02-11 11:00] ZanSara commented on #2081
I'd say Milvus support is not ready for use yet, but a lot of progress has been done. See this PR: #2126

[2022-02-11 12:36] karndeepsingh commented on #2167
Thanks for this great answer!
Just few more quick  questions:
1. In my understanding the grammar of questions can be different but it answer should be present in context. Correct me if my understanding is wrong, For example:
Context : Borrower is xyz ...{some text in between}.. Lender is abc.. {some text in between}.... Trustee is pqr.
Question : Who all are parties?
Answer: ["Borrower","Lender","

[2022-02-11 14:07] brandenchan commented on #1170
I think its not necessary anymore since we have code snippets that are syntax highlighted and have a copy button

[2022-02-11 14:07] #1170 closed

[2022-02-11 14:17] #2004 closed

[2022-02-11 14:17] #2112 closed

[2022-02-11 14:23] tstadel commented on #2134
@ju-gu: `Pipeline` now has a `get_config()` method. It basically returns all the information of a pipeline YAML in form of a dictionary. Does that solve the case?

[2022-02-12 04:05] RockMiin opened #2173 "Question about tutorial 6 DPR"
**Question**
Hello, I have a question about tutorial 6 DPR.
As far as I know, DPR trains in a way that lowering the loss value using cosine similiarity between the query and the embedding vector of passage.
When you use DPR in the tutorial, you update the embedding vector using document store without query information, and I wonder how this process happens!
If I misunderstood, I would appreciate i

[2022-02-12 04:33] RockMiin commented on #2173
Ask and answer own questions.
This seems to be simply a task of converting passages into an embedding vector in advance.
Training process is included in tutorial 9.

[2022-02-12 04:33] #2173 closed

[2022-02-12 07:36] shuaichengli0428 opened #2174 "Querying from multiple indexes in the same document store at the same time?"
As far as I know, one specify an index when dealing with the document_store object (for example, initialization, querying etc.).

The "index" field is a single string represents the name of the index.

Now if I have multiple indexes in ElasticSearch (and thus the generated ES DocumentStore object), is it possible that the DS object looks over multiple indexes for answers?

**Possible Solution**
Th

[2022-02-13 07:47] karndeepsingh opened #2177 "How to train Question Answering model for Long sequence Context?"
**Question**
Hi,
I have been trying to train a Question answering model and I have a dataset which has a long sequence context like more than 512 token sizes. How I can train the Question answering model on such long sequence? Also, please tell if any extra setting or parameter is involved while training with long sentence training?
I have kept max_seq_len = 512 and doc_stride = 128. But as soon a

[2022-02-13 09:05] karndeepsingh opened #2178 "FARMReader Unable to Free up GPU space after training or Predicting?"
I have been training the model and I can see when the model has stopped training my GPU space is still occupied and after prediction the GPU space is still occupied. Space in GPU in not getting automatically flushed. I have to manually kill the kernel of my notebook and restart the kernel everytime to clean the GPU memory and reload the model again to do the other tasks.

Please, provide a help, h

[2022-02-14 09:39] julian-risch commented on #2178
@karndeepsingh loading the model back into GPU memory takes quite some time, which is why we wouldn't want to free the memory automatically after a prediction. Deleting the reader model manually does not free up the memory?
[code]
As we are using transformers under the hood, this discussion might also be helpful for you: https://github.com/huggingface/transformers/issues/1742
Please let me know if

[2022-02-14 09:57] julian-risch commented on #2167
Hi @karndeepsingh once you have a trained model, I would recommend to use it within Haystack's pipelines. There are two tutorials that I think will be very helpful for you: [Tutorial 1](https://haystack.deepset.ai/tutorials/first-qa-system) and [Tutorial 11](https://haystack.deepset.ai/tutorials/pipelines).
In your posted example, you can try out different settings for the parameter `top_k` in the

[2022-02-14 10:19] julian-risch commented on #2174
Hi @shuaichengli0428 with the current features of Haystack it's not possible to use multiple indices within the same document store. One reason for that is that Haystack supports different kinds of document stores (elasticsearch, faiss, weaviate, ...) and would be practically impossible to support a consistent set of features across all the document stores when allowing multiple indices per docume

[2022-02-14 10:43] #1825 closed

[2022-02-14 10:44] rubanrajdavidwl opened #2183 "Cant Upload a TXT file with REST API"
**Describe the bug**
Cant Upload a TXT file with REST API, Receiving the following error

**Error message**
TyperError : 'NoneType' object does not support item assignment

**Expected behavior**
File gets uploaded to the ElasticSearch server and will return answers when asked a query through API

**Additional context**
I am using a TXT file with  the /file-upload endpoint
installed the REST API se

[2022-02-14 12:37] karndeepsingh commented on #2178
I tr

I tried torch.cuda.empty_cache() but model weights in the memory.

[2022-02-14 12:59] karndeepsingh commented on #2178
I just a tried to train a Question Answering model and it throws CUDA Error and Memory it is still occupied even though I delete reader or do torch.cuda.empty_cache(). Any help, how to clean up the memory. I have been killing the kernel and restarting the notebook again to flush the memory. Following images are for the reference:

1. Deleted the reader and ran torch.cuda.empty_cache():
![image](ht

[2022-02-14 13:47] julian-risch commented on #2178
Could you please share a notebook as an example where we can reproduce the problem. For example, using on of our tutorials on google colab: https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial1_Basic_QA_Pipeline.ipynb

[2022-02-14 14:05] ZanSara commented on #2183
Hey @rubanrajdavidwl could you try out #2184 and see if it fixes your issue?

[2022-02-14 14:45] mathislucka commented on #2178
On a side note, I frequently had the issue of memory not being freed with huggingface transformers if I've got a CUDA out-of-memory error. For me, if the kernel crashed once, it will not free the memory but if the training process completed successfully, memory was freed afterwards.

[2022-02-14 14:46] mathislucka commented on #2177
Hey @karndeepsingh,

could you provide a notebook or a code snippet so that I can understand what your training process currently looks like?

[2022-02-14 14:57] karndeepsingh commented on #2178
@julian-risch @mathislucka  Same issue persists for me as well only thing different is, for me even after training is completed it is still holding GPU memory and not freeing up the space.

[2022-02-14 15:36] julian-risch opened #2186 "Improve Document Relevance Scores in ElasticSearch"
**Is your feature request related to a problem? Please describe.**
Out of the box, document relevance scores returned by ElasticSearch are unbound. However, we would like to convert these scores to probabilities in a meaningful way. The score should estimate how likely the document satisfies the information need of the user given the query.

The current implementation is here: https://github.com/d

[2022-02-14 16:01] Timoeller commented on #2186
I like the idea of normalizing with a max score but are unsure about your suggestion. So you are saying that the score varies (a lot) depending on query length? This means we would need to normalize the score for each query separately. Is this computationally fast?

@mathislucka also proposed a min-max scaling based on a couple of QA/IR datasets out there to see what are good default values. Would

[2022-02-14 16:13] karndeepsingh commented on #2177
https://colab.research.google.com/drive/1MGR9FCKeaiO-Zq-RWeP0SQrDxbEQ9CuR?usp=sharing

[2022-02-14 16:26] rubanrajdavidwl commented on #2183
Hi @ZanSara it works now...! Thanks for the fix 👍

[2022-02-14 16:40] ZanSara commented on #2183
Great to hear! :slightly_smiling_face: It will be merged to master today or tomorrow then.

[2022-02-14 23:57] shuaichengli0428 commented on #2174
Thanks Julian. That helps a lot!

[2022-02-14 23:57] #2174 closed

[2022-02-15 07:14] karndeepsingh commented on #2178
https://colab.research.google.com/drive/1MGR9FCKeaiO-Zq-RWeP0SQrDxbEQ9CuR?usp=sharing

[2022-02-15 07:25] karndeepsingh opened #2187 "Question and Answering Annotation Tool text file upload problem!"
**Question**
I am trying to annotate the set of text for question answering task and I have these 200 text stored in a text in a text file. When I upload the text file to the annotation tool, It doesn't show all text with different document instead it just accumulate into one document. Do I need to prepare seperate text file for each and upload all those 200 text file? Because right now, I have al

[2022-02-15 08:33] julian-risch commented on #2187
Hi @karndeepsingh you can upload your single file via the csv batch upload: Click or drag csv file to this area to upload documents. You will need to make sure that each line in your txt file is one document and that you have escaped " and , symbols. So you will need make some small changes to your txt file yourself before uploading.
<img width="578" alt="image" src="https://user-images.githubuser

[2022-02-15 08:59] tstadel opened #2188 "Logging to MLflow in pipeline.eval()"

[2022-02-15 10:32] karndeepsingh commented on #2167
So, in my dataset have one question and 3 different answers at a different location in the document and after I train a model on such question with multiple answer, will it be able to predict all the 3 answers for a particular single question?
Because, I have trained a model with same approach but it predict only one answer from doc and not all 3 answers. Any suggestions? top_k just gives random a

[2022-02-15 14:42] mathislucka commented on #2178
Hey @karndeepsingh ,

from the output of your notebook it seems like everything is running fine. Where is the error?

[2022-02-15 18:46] karndeepsingh commented on #2178
@mathislucka thanks for answering.
I meant, memory remains occupied when training has stopped, it doesn’t get flush automatically once the training has been finished.

[2022-02-15 19:35] RobinVds opened #2190 "Incompatible with current Weaviate python SDK"
**Describe the bug**
My project relies on a package that uses the Weaviate Python SDK of version 3 >.
This is not compatible with HayStack for the moment.

**Error message**
`ImportError: cannot import name 'ObjectsBatchRequest' from 'weaviate'
`

The way batches are handled has changed in the python client.

[2022-02-15 21:00] OmniscienceAcademy opened #2191 "Is there a way to remove the quadratic complexity of write_documents?"
**Question**
I want to use the faissDocumentStore but write_documents is way too slow at the end of my script, which suggests that the complexity of this method is quadratic.

I thought that by using the duplicate_documents="skip" option, the complexity would become linear again, but it seems that it is not that simple.

Because of the number of documents I process, I can't afford these slowness.

[2022-02-16 08:00] tholor commented on #2019
@MichelBartels Can you please post the results here and close the issue?

[2022-02-16 08:48] bogdankostic commented on #2190
Hey @RobinVds! In our requirements (which can be found in `setup.cfg`), we specify the version of `weaviate-client` to 2.5.0. Is there a specific reason why you are using a version greater than 3?

[2022-02-16 09:32] #2183 closed

[2022-02-16 09:37] #2187 closed

[2022-02-16 09:50] mathislucka commented on #2178
Hey, sorry for taking a bit to reply.
As far as I know, if the training runs through smoothly and you don't have a CUDA out of memory crash, the `nvidia-smi` will still show the memory as occupied but when you try to use that memory from the same process, it will be freed. I still don't really see the issue. If you can provide a clean reproduction example where I can see what is not working for yo

[2022-02-16 09:51] #2119 closed

[2022-02-16 09:51] #2100 closed

[2022-02-16 09:51] #2092 closed

[2022-02-16 09:59] bogdankostic commented on #2191
Hi @OmniscienceAcademy! AFAIK, the `write_documents` method of the `FAISSDocumentStore` is by itself not quadratic in complexity. Are you referring to the quadratic complexity of transformer-based language models?

How many documents are you trying to index into FAISS? How are you creating the embeddings for each document? It would also be helpful if you could share the code you are using for inde

[2022-02-16 10:05] julian-risch commented on #2167
The models will always predict a ranked list of answers. `top_k` let's you choose how many of those you would like to see.

[2022-02-16 10:11] #1863 closed

[2022-02-16 10:12] MichelBartels commented on #2019
Yes, here are the results:
Distillation with BERT-base as teacher: EM: 71.6% F1: 76.2%
Distillation with BERT-large as teacher: EM: 71.2% F1: 76.4%
Because of those results, it does not seem promising to use large teachers. However, there is also the upside that the distillation process seems to be very stable considering the prediction quality is very similar.

[2022-02-16 10:12] #2019 closed

[2022-02-16 10:38] julian-risch commented on #2131
Hi @Threepointone4 what you could do is to try out the following. Before this line in the code: https://github.com/deepset-ai/haystack/blob/e4fd09e92a353b667f4850235c7b3c318b25e408/haystack/nodes/retriever/_embedding_encoder.py#L117
You could add something like
`texts = [s[-1] if isinstance(s, list) and s[0]=="" else s for s in texts]`
This way, `[["", "Thanks"]]` would be transformed to `["Thanks

[2022-02-16 13:04] arater opened #2194 "File Upload issue"
**File Upload is not working**
I cannot upload file from your swagger or postman without changing anything. I guess some commit of your side cause this crash.

**Error Image**
[code]

Thanks for your effort

[2022-02-16 13:11] ZanSara commented on #2194
Hey @arater, good timing! Another user reported the same issue a couple of days ago, and this morning I merged the fix for it: https://github.com/deepset-ai/haystack/pull/2184

Please clone master again and let us know if it fixes your issue :slightly_smiling_face:

[2022-02-16 13:18] ZanSara commented on #2190
FYI: there's a cold PR where I tried to upgrade our Weaviate requirements to fix a bug: https://github.com/deepset-ai/haystack/pull/1895. @RobinVds have a look there if you want to see what changes are required for this transition, and feel free to open a PR or contribute to that one if you can.

[2022-02-16 13:38] #2111 closed

[2022-02-16 13:38] arater commented on #2194
Yes, it works thanks

Sara Zan ***@***.***>, 16 Şub 2022 Çar, 14:11 tarihinde şunu
yazdı:

[2022-02-16 13:38] #2194 closed

[2022-02-16 13:39] tstadel opened #2195 "pipeline.to_code()"
**What?**
As a user I want to be able to manipulate a pipeline besides isomorphic changes that are already possible through `pipeline.set_node()`.

**How?**
To add, change or delete one or multiple nodes of a pipeline other parts of the pipeline will be affected (e.g. different input, output). So the best and most transparent way is to generate the code from the existing pipeline, enabling the use

[2022-02-16 13:58] MichelBartels opened #2197 "Distilling RoBERTa-base"
Distilling RoBERTa using the approach described in the TinyBERT paper. The results of #2019 suggest that it makes more sense to proceed with a base model of RoBERTa. The Pile dataset can be used for the first distillation step.

[2022-02-16 14:02] MichelBartels commented on #2197
These are the results:
RoBERTa base:
EM: 78.4%
F1: 82.6%
Distilled model:
EM: 76.6%
EM: 81.0%

[2022-02-16 18:06] edrozenberg opened #2201 "mlflow <=1.13.1 still required?"
haystack currently pins `mlflow` to old version (more than 1 yr old). Still required to use this very old version?

[code]

[2022-02-16 22:47] OmniscienceAcademy commented on #2191
I'm trying to index 10M documents, but I will soon have to index 100M docs.
For me, the complexity comes from the fact that there is a duplicate check even with the duplicate_documents="skip" option. I am not sure that the complexity is 'quadratic' (it could be n*log(n) ?) but I am pretty sure that when we use a SQLite database with faiss, write_documents is slower when the SQLite database is full

[2022-02-17 00:35] RobinVds commented on #2190
Thanks for the responses! The reason is that Weaviate is already integrated in our codebase. For this reason, our code is using the most recent version and we are not able to use it with Haystack.

I'll have a look at the PR. One vote up from me to merge it :)

[2022-02-17 00:51] OmniscienceAcademy commented on #2191
Here is a capture of my terminal running this script:

<img width="531" alt="image" src="https://user-images.githubusercontent.com/87243928/154382084-38676a23-e542-4828-9a07-46976df6b036.png">

You can see that the writing is more and more slow (from 2000 doc by sec to only 600, and then it keeps getting slower)

[2022-02-17 07:28] AhmedIdr commented on #2191
Hey, I had the same problem and it is more of an SQLDocumentstore problem than FAISS itself, you will probably get the same results when running SQLDocumentstore directly instead of FAISS. This is probably related to this issue #1123. I think some changes to SQLAlchemy from ORM to Core are needed to improve the speed. I also discussed this in slack and it was suggested to try Postgres instead of S

[2022-02-17 09:14] bogdankostic commented on #2191
Thanks @AhmedIdr for your answer :)

@OmniscienceAcademy Thanks for providing your script and the output. If the indexing slowdown is due to the way how duplicate documents are handled, you might try to set `duplicate_documents` to `"overwrite"`; like this, we don't check whether a document already exists in the document store but index it right away (which might overwrite an existing document in

[2022-02-17 09:28] bogdankostic commented on #1903
Hey @Taekyoon, I hope your questions have been answered. If not, feel free to reopen this issue. :)

[2022-02-17 09:28] #1903 closed

[2022-02-17 09:57] tstadel opened #2203 "Create a simple, clean helm chart"
We need a simple helm chart to be deployed on AWS EKS. Generated charts via kompose from our docker-compose.yaml are not sufficient as they lack k8s and helm best practices like deployment resources, ingress, etc.

To-do:
- [x] create helm chart that is deployable in AWS EKS
- [x] conform to k8s and helm best practices
- [x] test deployment of simple QA-Pipeline

[2022-02-17 09:57] tstadel opened #2204 "Deliver helm chart"
For deployment we need to publish our helm chart in some way that users can use it for AWS EKS and other cloud providers.

To-do:
- [x] publish helm chart

[2022-02-17 09:57] tstadel opened #2206 "Write deployment guide"

[2022-02-17 09:59] tstadel opened #2208 "Extend helm chart and deployment guide for more cloud providers"
Helm chart and guide should cover all major public cloud providers:
- AWS
- Azure
- Google Cloud

To-do:
- [ ] change helm chart if needed
- [ ] extend deployment documentation

[2022-02-17 10:23] bogdankostic commented on #2060
Hi @AbhiPawar5, I hope your questions have been answered. If not, feel free to re-open this issue. :)

[2022-02-17 10:23] #2060 closed

[2022-02-17 10:28] bogdankostic commented on #2074
Hey @kingafy, did you manage to solve your problem? Looking at the error trace from your initial comment, it seems that there is a mismatch in dimensionality (the assertion `assert d = self.d`) fails. What model are you using for embedding your documents and what value did you set for `embedding_dim` when initialixing your `FAISSDocumentStore`?

[2022-02-17 10:37] bogdankostic commented on #2085
Hi @arater, did you manage to solve your problem in the meantime? Without your `pipelines.yaml` file, we are not able to reproduce your issue.

[2022-02-17 10:42] bogdankostic commented on #2118
Hi @yunyu, did the above suggestions work for you?

[2022-02-17 14:22] ZanSara commented on #2110
Ok, let's keep it manual for now (not like it's a complex task anyway :smile:) I'll add this step to the release checklist.

I'd love to see how the release is carried out, so count me in for next week's!

[2022-02-17 14:37] ZanSara commented on #2110
PR on Schemastore: https://github.com/SchemaStore/schemastore/pull/2090

[2022-02-17 15:37] #1972 closed, assigned to ZanSara

[2022-02-17 16:24] #1779 closed

[2022-02-17 16:49] tstadel commented on #2134
@ju-gu: Also checkout https://github.com/deepset-ai/haystack/pull/2214

[2022-02-17 17:30] brandenchan opened #2216 "Discrepancy between two forms of isolated evaluation"
The results of an isolated evaluation using `pipeline.eval(add_isolated_node_eval=True)` and `retriever.eval()` or `reader.eval()` should be the same. However, currently they diverge. I did experiments using Tutorial 5.

**`pipeline.eval()` | Retriever | top_k=5**
recall_single_hit:  0.42
recall_single_hit_top_1:  0.42

**`pipeline.eval()` | Reader | top_k=5**
exact_match upper bound:  0.72
exact_

[2022-02-17 19:17] julian-risch commented on #2216
I just found out that the pipeline eval uses 50 queries, whereas `retriever.eval()` reports only 25 queries.
`eval_result_with_upper_bounds["Retriever"]["query"].value_counts()`
In contrast to:
[code]
I'll continue to explore.

[2022-02-17 20:59] bogdankostic opened #2217 "Return sentences instead of lines as surrounding context in `ParsrConverter` and `AzureConverter`"
When converting tables to haystack Documents, `ParsrConverter` and `AzureCovnerter` extract the following and preceding context of the tables. Currently, the user can specify how many __lines__ of preceding/following context shall be returned. We want to change this to __sentences__.

[2022-02-18 00:23] GerryFerdinandus commented on #2110
More [info](https://github.com/SchemaStore/schemastore/pull/2057#issuecomment-1024470105) about versioning on SchemaStore. You can handle it on your side. You already have `version: ""` build in your yaml file.

[2022-02-18 07:55] #2031 closed

[2022-02-18 13:51] GOURAVSUMAN opened #2219 "Why we dont use reader module in FAQ style QA"
FAQPipeline(retriever=retriever) in other cases we use reader along with retriever thing.

[2022-02-18 21:32] CircArgs opened #2221 "Text and table combined pipeline"
**Question**
I think the task is pretty straightforward - PDFs with both lots of text and tables all often relevant to queries. In the tutorials  of the [Table QA](https://haystack.deepset.ai/tutorials/table-qa) the pipeline seems exclusive to tables. Is there a way to combine pipelines or is the advised way to just query tables and text separately and combine the results?

**Additional context**

[2022-02-19 05:30] tesla-cat opened #2222 "how to `create` and `update` a document?"
### how to `create`, ~read~, `update `and ~delete~ a document?

<img width="1034" alt="image" src="https://user-images.githubusercontent.com/28215638/154787688-429d0da0-2933-41dc-b2d5-9a22980f4af7.png">

[2022-02-19 15:22] OmniscienceAcademy commented on #2191
yes! Using the Core SQLAlchemy instead of the ORM would be a huge performance boost for bulk insert

[2022-02-21 04:18] jaehyeongAN commented on #538
ㄴㅇㅇㅈ

[2022-02-21 04:36] jaehyeongAN opened #2223 "How can I use the analyzer installed as an additional plugin?"
**Question**
Hi!
I found out that the standard analyzer can be changed through that [PR](https://github.com/deepset-ai/haystack/pull/554).
But the language I use is not included in the [built-in language analyzers](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/analysis-lang-analyzer.html). (I use **Korean**.)

However, from that [link](https://www.elastic.co/guide/en/elasticsearch/pl

[2022-02-21 08:55] karndeepsingh commented on #2167
Hi @julian-risch,
I have following queries:
1. How to mark multiple answers for a single question using the Haystack tool?
2. I have multiple answers for a particular question and answers are present are different lines of paragraphs will the model be able to identify in such cases? I am asking this question because in Squad2.0 dataset it has multiple answers for a particular query but all answer

[2022-02-21 09:19] jaehyeongAN commented on #2223
I resolve the issuse. (v.0.10.0)
[code]

[2022-02-21 09:19] #2223 closed

[2022-02-21 09:24] ZanSara commented on #2222
Hey @tesla-cat, you can create documents through the `POST /file-upload` endpoint, but you can't update with the current API. You should delete and re-create them, or extend the API to your needs.

[2022-02-21 09:26] ZanSara commented on #2219
Hello @GOURAVSUMAN, does the documentation help? https://haystack.deepset.ai/components/ready-made-pipelines#faqpipeline

[2022-02-21 09:29] bogdankostic commented on #2219
Hi @GOURAVSUMAN! In FAQ-style QA, we try to map a user query to a database of existing, curated questions. For this approach, only retrieval is needed, as we don't extract any answer string, but return the semantically most similar question to the user query along with its curated answer. Hope that answers question :)

[2022-02-21 09:52] julian-risch commented on #2216
In the same context, this comment in `EvalAnswers` should explain how results might differ or, even better, align the results: https://github.com/deepset-ai/haystack/blob/a59bca366174d9c692fa19750c24d65f47660ef7/haystack/nodes/evaluator/evaluator.py#L174

[2022-02-21 11:22] #2042 closed

[2022-02-21 13:12] ZanSara commented on #1897
Related: #2224

[2022-02-21 14:40] ju-gu commented on #2134
@tstadel  yes thanks, that solves it for me. Especially together with #2214, where you can get the specific code of the pipeline, here `get_config()` allows for a quick overview.

Am closing this issue

[2022-02-21 14:41] #2134 closed

[2022-02-21 15:05] julian-risch commented on #2110
@ZanSara that would be awesome! 🤩

[2022-02-21 15:26] julian-risch commented on #2167
Hi @karndeepsingh have you seen our documentation for the annotation tool here: https://drive.google.com/file/d/1Wv3OIC0Z7ibHIzOm9Xw_r0gjTFmpl-33/view ? It's linked from the [docs](https://haystack.deepset.ai/guides/annotation) but easy to miss. If you can't manage to have multiple answers for a single question with a single user, you could have multiple annotators. It's definitely possible with t

[2022-02-21 23:02] alankashkash commented on #2081
Hey. I've been trying to list Haystack in the requirements.txt file with the constraint like proposed above but it doesn't work. Any idea how to list haystack in requirements.txt and bypass this issue?

[2022-02-22 08:04] ilseva commented on #1194
Hi @julian-risch ,
I reopen this issue to ask some clarification about the pre-trained model you used in example.
I looked at the model and the [seq2seq example for summarization with BART in transformers](https://github.com/huggingface/transformers/tree/master/examples/legacy/seq2seq), but I didn't understand the process you followed to create your model.
Could you give me more details about it?

[2022-02-22 09:01] bogdankostic commented on #1903
Hi @fpservant! It is possible to have two different FAISS indices. Could you please raise a new issue providing the code you used and the error message you get?

[2022-02-22 09:36] scibite-oliverg commented on #2142
As far as I could tell there were no empty documents. I deleted all documents with less than 25 characters (some had as few as 2 characters) and subsequently managed to run the entire script. It might be nice to enforce a minimum length to be added to document stores in future. Thanks for the advice!

[2022-02-22 09:36] #2142 closed

[2022-02-22 10:49] brandenchan commented on #2216
Thanks for the code snippets above. I have updated the tutorials to show there is no retriever discrepancy in #2212. Do we have any idea what might be causing the discrepancy in the Reader eval?

[2022-02-22 10:51] brandenchan commented on #2216
As for `EvalAnswers` since this node is deprecated, I think we don't have to update it since we'll be removing it in an upcoming release.

[2022-02-22 13:32] julian-risch commented on #2216
No idea right away. It could make a difference if you remove the no_answer labels before or after aggregating the labels.

[2022-02-22 16:40] ZanSara commented on #2081
Hey @alankashkash, could you give us more details? For example, which version of Haystack, pip and Python are you using? The answer is likely to differ depending on whether you installed Haystack from PyPI or from GitHub.

[2022-02-22 17:07] julian-risch commented on #1194
Hi @ilseva we didn't publish these files. For training your own seq2seq model you would need to create training, validation and test data yourself with data from your domain. Essentially the format of a training sample is the input sequence you give to the model (natural language question) and the output sequence that you would like to get from the model (SPARQL query).
So the input could be `What

[2022-02-22 17:13] #2032 closed

[2022-02-22 17:14] bogdankostic commented on #2030
Resolved by #2120

[2022-02-22 17:14] bogdankostic commented on #2032
Resolved by #2199

[2022-02-22 17:40] #2113 closed

[2022-02-22 19:58] #1621 closed

[2022-02-22 19:58] #1959 closed

[2022-02-22 20:57] alankashkash commented on #2081
Hey @ZanSara absolutely. Thank you for the response!
Python 3.8
Pip 21.3.1
Installing from PyPI

I'm using AWS Elasticbeanstalk to deploy API and did a little PoC endpoint using Haystack. However, since AWS EB installs all packages using requirements.txt I'm not able to provide additional commands for setting up a constraint. Appreciate any suggestions :)

[2022-02-22 23:33] fpservant commented on #1903
Hi @bogdankostic
sorry, inaccurate report from me. Yes you can have 2 faiss indices in a FAISSDocumentStore. But as far as I can tell, the embedding length must be the same in both (embedding_dim is an argument at the creation of FAISSDocumentStore).

Error in update_embeddings when retriever uses embeddings with a different dimension (trace below).

[code]

[2022-02-23 10:08] #2195 closed

[2022-02-23 11:15] brandenchan commented on #2216
I have had a first look and haven't gotten to the bottom of it yet but there are a couple things to point out.

Because `pipeline.eval()` is being run with `add_isolated_node_eval=True` I suspect that we might need to provide `DocumentStore.get_all_labels_aggregated()` with `open_domain=False`.

Since `Reader.eval()` relies on the `Evaluator` class, it is a position based closed domain eval. I am

[2022-02-23 12:32] ArzelaAscoIi opened #2235 "Replace node of type documentstore by DeepsetCloudDocumentstore on pipeline.save_to_deepset_cloud"
Since the `DeepsetCloudDocumentStore` currently requires that the namespace (= `pipeline.yaml["name"]`) exists before connecting to the Deepset Cloud, we cannot create a pipeline locally and transfer it to DC after running experiments/testing parameters/training. The current solution is to create a pipeline in DC and use a `DeepsetCloudDocumentStore` (read-only) that reuses the documents in that p

[2022-02-23 14:32] bogdankostic commented on #1903
It's true that you can set only one embedding_dim per DocumentStore, in this case it would probably make sense to have two separate FAISSDocumentStore instances.

[2022-02-23 15:19] Elfilali-Taoufiq opened #2238 "DPR fine tuning with my own dataset"
**Question**
Hello , and thanks for this great work,

I'm trying to fine tune the DPR model with mt own dataset, i'm using your tutorial "https://haystack.deepset.ai/docs/latest/tutorial9md" for that.

my dataset contain:
INFO - haystack.modeling.data_handler.data_silo -  Examples in train: 135
INFO - haystack.modeling.data_handler.data_silo -  Examples in dev  : 45
INFO - haystack.modeling.data_h

[2022-02-23 15:51] bogdankostic commented on #2238
Hey @Elfilali-Taoufiq! It's true that the evaluation report might be a bit confusing. For training DPR models, we make use of in-batch negatives. This means that for each question, we don't only use the hard negative context as negative label but also all the other contexts that are inside the same batch (i.e. positive and hard-negative contexts of other questions). This makes training computation

[2022-02-23 15:57] Krak91 commented on #2079
Hi @ZanSara, @baregawi. Thanks for your responses. This is helpful. I think I haven't been entirely clear on why I'm asking this. It's not as much of a comparison between haystack's readers, as it's determining why a transformer model trained by deepset, for example, would produce different predictions/scores depending on whether it's loaded with haystack (AdaptiveModel), or with the transformers'

[2022-02-23 15:57] #2079 closed

[2022-02-23 16:25] Elfilali-Taoufiq commented on #2238
Hi @bogdankostic, thanks for the reply, i'm still confusing a bit about the usefulness of evaluating the model using the trainig examples also.

[2022-02-23 16:31] bogdankostic commented on #2238
The model is not evaluated on the training examples, but on the examples in the dev set. Compare this line
[code]
to the number of positive labels in the evaluation report. Both say 45 (you have 45 questions with 45 positive contexts in your dev set).

[2022-02-23 16:41] Elfilali-Taoufiq commented on #2238
Yes I see, but i'm talking about hard_negatives,
in my dev set i have 45 examples with 45 negative contexts, however i see 1317 in the report !!

[2022-02-23 17:29] ju-gu opened #2241 "preceeding and following context not working for parsr"
**Describe the bug**
The parsr converter returns always empty preceding and following context fields.

**Code**
[code]
To try it out just use any example pdf.

[2022-02-24 01:00] fpservant commented on #1903
@bogdankostic how do you do that? When creating faiss document store, a 'faiss_document_store.db' file is created - how can I create a different one?

[2022-02-24 02:33] edrozenberg opened #2242 "OK to use latest pytorch (1.11+/1.12+) ?"
**Question**
I find it impossible to build older pytorch releases. That project moves so fast and breaks so many things daily that I can't build their older realeases/tags - I tried hard. I can build the latest (1.11/1.12). But v1.10 or older fails to build for me, maybe newer gcc isn't supported by those older tags, no idea so far.

Is it fine to use latest pytorch with haystack?

from `pipdeptre

[2022-02-24 08:39] bogdankostic commented on #2241
Hey @ju-gu, there is already an open PR to solve this issue (#2162), I just need @Timoeller's approval in order to be able to merge it. :)

[2022-02-24 08:53] ju-gu commented on #2241
ah, perfect, haven't seen it. Thanks!

[2022-02-24 09:01] bogdankostic commented on #2238
We are using in-batch negatives also for the evaluation during training. I assume you are using a batch_size of 16. As you have 45 examples in your dev set, this would result ion two batches of size 16 and one batch of size 13. You get to 1317 like this:

- 2 * (16 [batch_size] * (1 [hard-negative] + (15 * 2) [in-batch negatives])) = 992
- 1 * (13 [batch_size] * (1 [hard-negative] + (12 * 2) [in-b

[2022-02-24 09:24] bogdankostic commented on #2242
Hi @edrozenberg! As the latest stable release of Pytorch is v1.10.2, we did not test later releases yet. Therefore, we cannot say for sure whether haystack will run smoothly with these PyTorch version, but you can try this of course.

Would be curious to hear if this will work for you. :)

[2022-02-24 09:42] Elfilali-Taoufiq commented on #2238
OK, thank you @bogdankostic  for the explanation

[2022-02-24 09:47] ZanSara commented on #2081
@alankashkash ok, you can probably upgrade then! We release version 1.2.0 just yesterday, and it comes with improved dependency management. Two ways to go with it:

1. If you can upgrade pip to `pip>=22.0.0`, then try to install haystack as `pip install farm-haystack[milvus]==1.2.0`. This will install the new Milvus2 support properly, but I still have to verify if the env var (`MILVUS2_ENABLED=1`)

[2022-02-24 10:32] bogdankostic commented on #2238
Closing this issue now, feel free to re-open it if you need further explanations.

[2022-02-24 10:32] #2238 closed

[2022-02-24 11:21] bogdankostic opened #2244 "MLFlowLogging always disabled for training `FARMReader` models"
**Describe the bug**
When training a Reader model, a user might want to log training statistics and metrics to MLFlow. However, when initializing a `FARMReader`, we initialize an `Inferencer`. There, we call `MLFlowLogger.disable()` on [this line](https://github.com/deepset-ai/haystack/blob/15c70bdb9f8cd16511d1eb9ed9b2e9466de65cbf/haystack/modeling/infer.py#L77), which disables all logging to MLFl

[2022-02-24 11:41] ZanSara opened #2246 "Stricter Pipeline validation"
**Problem**
A discussion recently started on https://github.com/deepset-ai/haystack/pull/2214 about how to handle malformed and/or malicious pipelines. We realized pipelines do not do much validation on the configuration they're given: as long as a graph can be built, they are going to accept it.

**Solution**
This situation can be improved on several levels:
- [ ] Ensure that pipeline graphs are

[2022-02-24 13:58] #2241 closed

[2022-02-24 14:54] brandenchan opened #2247 "Pycharm IDE doesn't show DocumentStore initialization signature"
I recently noticed that when initializing an `OpenSearchDocumentStore` my IDE won't show the method signature anymore and when clicking on the class, I get directed to document_stores/__init__.py instead of the method definition. Within the __init__ file there is nothing I can click to get to the class itself. I suspect this is due to the fact that there is now a `safe_import` method for all the d

[2022-02-24 16:43] #2067 closed

[2022-02-24 19:07] fvanlitsenburg opened #2249 "Cannot get filtering through API to work"
**Question**
Currently I am running Haystack on an EC2 instance. It works just fine, except that the query **filters** do not apply. What am I doing wrong? I run this on the port :8000/docs. I can share the EC2 instance, but would rather do so on a private channel. I am running Haystack on top of ElasticSearch.

[code]

The return output I get is below. I have **bolded** the relevant filter which

[2022-02-24 19:32] fvanlitsenburg commented on #2249
Screenshot:

![image](https://user-images.githubusercontent.com/68997090/155594184-cc18d57d-9d0e-40fe-8970-282acc79334f.png)

[2022-02-25 05:43] racheltlw opened #2250 "Is there a way to implement Early Stopping when training a FARMReader?"
I have annotated my own data using the annotation tool and am now training a FARMReader. Thanks to the verbose output I can see the evaluation metrics during my training which is really useful! However is there a way to implement early stopping during training? FARM allows for early stopping, just wondering how we can implement it through haystack?

Also is there a way to output the training evalu

[2022-02-25 08:51] racheltlw commented on #2177
I am doing reader.train() and get the tip:
[Haystack Tip] 96.4% of your samples got cut down to 512 tokens. Consider increasing max_seq_len. This will lead to higher memory consumption but is likely to improve your model performance

However if I increase the max_seq_len I get the same error something like:
RuntimeError: CUDA error: device-side assert triggered
CUDA kernel errors might be asynchro

[2022-02-25 08:54] ilseva commented on #1194
Thanks @julian-risch for the hints.
We will work on our data!

[2022-02-25 08:58] bogdankostic opened #2251 "Add support for early stopping in `train` methods"
When migrating FARM to haystack, we also migrated the `EarlyStopping` class. However, we currently don't make use of it in the `train` methods of `FARMReader`, `DensePassageRetriever` and `TableTextRetriever`. We should add some parameters to the `train` method that allows the users to optionally make use of early stoping.

[2022-02-25 09:06] bogdankostic commented on #2250
Hi @racheltw! Currently, we don't support early stopping in the `train` method. I just raised an [issue](https://github.com/deepset-ai/haystack/issues/2251)  to add this feature, however, I cannot say when this will be implemented.

About logging your training evaluation metrics: you can use MLFlow. To do so, just add the following code:
[code]

Then, due to [this issue](https://github.com/deepset

[2022-02-25 09:09] racheltlw commented on #2177
Oops read this helpful article https://medium.com/deepset-ai/modern-question-answering-systems-explained-4d0913744097 and realised that FARM actually does split documents into passages matching the models' max_seq_length. In that case, can I clarify what this haystack tip is referring to?

[Haystack Tip] 96.4% of your samples got cut down to 512 tokens. Consider increasing max_seq_len. This will l

[2022-02-25 09:18] karndeepsingh commented on #2177
That's exactly the question I had! @racheltlw
@mathislucka Do we need to change the transformer model and if so which one to prefer as we have long sequence text which is more than 512 token size?
It could be great help, if we can set the token size more than 512 for the transformer models. But using deepset/roberta-model we are unable to set the token size more than 512. Any new transformer model

[2022-02-25 09:25] ZanSara commented on #2081
In addition, we recently merged full support for Milvus2! :tada:  #2126

`master` now defaults to Milvus2. So if you were using Milvus2 and you pull the latest `master`, please reinstall with `pip install .[milvus]` (pip>=22) or `pip install .[sql,only-milvus]` (pip<22). Env vars and other hacks can be safely removed now.

[2022-02-25 09:37] tstadel commented on #2235
@ArzelaAscoIi to get the details about this straight: We need to create a Pipeline (with DeepsetCloudDocumentStore) first in order to make it accessable via DeepsetCloudDocumentStore?

So todo:
- if pipeline does not exist yet check document store
- if document store is not `DeepsetCloudDocumentStore` exchange current document store in pipeline config with `DeepsetCloudDocumentStore`
- call `clien

[2022-02-25 11:02] bogdankostic commented on #2249
Hey @fvanlitsenburg! I just tried replicating your problem with our current master version, where it seems to be working just fine. We recently refactored filtering in haystack, so upgrading to the latest version (1.2) might solve your problem.

[2022-02-25 16:21] ZanSara opened #2252 "Simplify YAML exportability of nodes"
**Problem**
Right now new nodes must always remember to call `self.set_config` with all their parameters explicitly copied over in order to be YAML exportable.

**Solution**
For the YAML validation tests, I realized that a simple wrapper over `BaseComponent.__init__()` would do the job automatically for all `BaseComponent` subclasses, as long as they call `super().__init__()` (which they should to

[2022-02-26 13:15] OmniscienceAcademy commented on #2191
This is really crucial for me, I will try to do the PR myself if you cannot do it.

[2022-02-28 09:10] fvanlitsenburg commented on #2249
Thanks Bogdan. I was in fact using version 1.2 already (sorry, my bad), at least according to the version.txt file and pip.
However, on the :8000/docs Swagger page it says version 0.1 and if I look at application.py in the rest_api folder, I think that should not be the case.

So I suspect something may have gone wrong migrating from <1.0 to 1.2. In particular as I do not encounter this problem wh

[2022-02-28 10:02] bogdankostic commented on #2033
Resolved in #2126

[2022-02-28 10:02] #2033 closed

[2022-02-28 10:02] #2028 closed

[2022-02-28 15:06] ZanSara opened #2255 "Normalize `component` and `node` usage across the codebase"
In many places of the code, `component` and `node` are synonyms. We might want to normalize the usage by choosing only one of them (probably `node`, as it's used in the documentation too) and keeping it consistent across the codebase.

[2022-02-28 19:40] PiffPaffM opened #2258 "Pipeline.deploy_on_deepset_cloud() and Pipeline.undeploy_on_deepset_cloud()"
In order to enable smooth experimentation with pipelines, we want to enable the deployment and unemployment of pipelines so that indexed pipelines can be updated.

Save YAML to DC
Deploy pipeline to DC
API exists in DC

[2022-03-01 10:18] racheltlw commented on #2250
Thanks so much this was incredibly helpful MLFlowLogger works now to log metrics, however I realised it does not log an artifact (hence causing errors in MLFlow UI?)

Also wondering if you are able to help me out with Issue #2177 ?

[2022-03-01 17:13] ozyurtf opened #2261 "Topic based text generation pipeline"
Hello,

I am currently dealing with a project about topic based text generation. I want to create a system in which the user can create texts based on two inputs: the keywords and the starting words of the text that will be generated.

For example, let's say that the user specified the keywords as **'education, usa, university, boston'** and wants the text to start with **'The number of...'**. I w

[2022-03-02 03:08] leeivan commented on #2142
Please try to find and delete the faiss_document_store.db file in the tutorial directory.

[2022-03-02 07:48] #2197 closed

[2022-03-02 07:55] julian-risch commented on #2096
@brandenchan you and Miriam are working on this issue right?

[2022-03-02 13:39] tstadel opened #2265 "Implement Context matching"
In order to reuse labels with different preprocessing and conversion logics arbitrary text parts of a file or a document (called context) must be matched to the full file or preprocessed `Document` text.

As input we get the context string and multiple `Document` candidates the context might be from and a threshold parameter to calibrate matching.
As output we get the `Document` candidates that ma

[2022-03-02 14:17] #1958 closed

[2022-03-02 14:45] julian-risch commented on #1908
@vblagoje Here is the issue on adding GPL to Haystack. I'll assign it to you now already but we know that you won't start working on it in the next days. @bogdankostic can support if you would like to discuss ideas or like to get feedback on a draft PR.

[2022-03-02 15:50] TuanaCelik opened #2266 "Allow a single node pipeline (e.g. summarizer) to be created as a YAML file - which would allow for Document input."
I can imagine a use-case where for example you want to create a single node pipeline with just a Summarizer.

The problem I see here is that the Summarizer expects a list of Documents. Which makes creating a pipeline less intuitive as a pipeline expects 'File' or 'Query' as input.

The code below currently works:

[code]
But given the Summarizer actually expects a list of documents, the second lin

[2022-03-02 21:08] TuanaCelik commented on #2266
Note: When trying to load this pipeline from YAML I get the following error:
`The node None is not in the graph.`

I checked the pipeline by looking at `pipeline.graph.nodes` which turns up empty:
[code]
Result:
`Loaded pipeline nodes: []`

We looked at this with @ZanSara and it seems like this might be resolved with her [PR that's coming up](https://github.com/deepset-ai/haystack/pull/2226)

[2022-03-03 07:13] mkkuemmel commented on #2261
Hi @ozyurtf!

This is not a usecase I have worked on before, but these would ideas off the top of my head:

The first step can be implemented via Haystack's `Retriever`. As your queries will be keywords (i.e. words that will reoccur in your retrieved documents), the `ElasticsearchRetriever` might do the trick for you! The query would be all keywords as one string (just as you put it above: 'educat

[2022-03-03 10:08] brandenchan commented on #2096
Yes that's right

[2022-03-03 12:40] bpquestion opened #2269 "Table encoder name"
Hello,

I'm using the tri-encoder architecture (query, passage, table)  as TableTextRetriever. I would like to try Tapas-small instead of Bert-small.
I can't find the embedding model in hugging-face.
What is the table_embedding_model to load for Tapas?

Thanks in advance

[2022-03-03 12:46] bogdankostic commented on #2269
Hi @bpquestion! As the encoders trained on BERT performed much better than the ones trained on Tapas, we decided to publish only the ones trained on BERT.

[2022-03-03 13:21] tstadel commented on #2250
@racheltlw what exactly do you mean by "does not log an artifact"? What exactly is missing?

[2022-03-03 13:38] tstadel commented on #2255
I think we wouldn't get around a distinction between those two: In the config we first create components and in the second step we define the pipeline by specifying nodes (component + inputs (connections to other components)) within the pipeline graph.
Additionally there are nodes that are not visible components to the user: The `RootNode` is an artificial component, the user should not need to sp

[2022-03-03 13:50] tstadel commented on #2249
@fvanlitsenburg what you could try in addition is to compare the index mappings between a working (from scratch) index and a non working index. Simply type `localhost:9200/INDEX_NAME` into your browser on the machine you're running haystack.

[2022-03-03 14:05] tstadel commented on #2118
@yunu: as this issue seems to have an appropriate solution I'm closing this now. You can reopen it at any time if the solution does not work for you.

[2022-03-03 14:05] #2118 closed

[2022-03-03 14:07] tstadel commented on #2085
@arater as you haven't answer in a while I assume you found a solution and close this issue. Feel free to open it at any time if there's still an issue.

[2022-03-03 14:07] #2085 closed

[2022-03-03 14:11] tstadel commented on #2074
@kingafy as you haven't answered in a while, I assume you found a solution and close this issue. Feel free to reopen it at any time if the problem still exists.

[2022-03-03 14:11] #2074 closed

[2022-03-03 14:16] tstadel commented on #2131
@Threepointone4 please let me know whether this didn't work for you? Otherwise we will close this issue.

[2022-03-03 14:17] tstadel commented on #2178
@karndeepsingh as you haven't answered in a while, I assume this issue can be closed. Feel free to reopen it at any time if the problem still exists.

[2022-03-03 14:20] tstadel commented on #2037
@d-e-h-i-o any updates on this? Please let me know if you're still working on this :-)

[2022-03-03 14:24] d-e-h-i-o commented on #2037
@tstadel Hey, sorry for silence. Thank your for your reply @ZanSara! I'm planning to implement it in the next few weeks.

[2022-03-03 17:24] xloem commented on #2118
my closing thoughts here are that this is really a poor choice on huggingface's part, revealing to every user's network that they access a model every time it is loaded. it would seem more normal to rely on the cache until a timeout expires, and to fail gracefully if the network is offline. this can be done by wrapping code, too.

[2022-03-03 17:36] ju-gu opened #2272 "Azure Table extraction performance different in haystack and AzureGUI"
**Describe the bug**
It seems that the performance differes, when I use the azure converter with the model "prebuilt-layout" and when I use the [Azure GUI](https://fott-2-1.azurewebsites.net) using "Layout to get text.." for the [Example file](https://github.com/deepset-ai/haystack/files/8179647/Beispiel_tabellen.pdf).  I am getting all 26 tables when using the gui, but only 4 when using haystack.

[2022-03-03 21:23] thimo72 opened #2273 "UnboundLocalError when running eval with isolated_node and filters"
**Describe the bug**
When running pipe.eval with add_isolated_node_eval=True, an UnboundLocalError occurs.

**Error message**
UnboundLocalError: local variable 'predict' referenced before assignment. In haystack/nodes/reader/base.py at line 95.

**Expected behavior**
I assume the reader should take the input from the context given in the label for isolated evaluation.

**Additional context**
The e

[2022-03-04 09:50] tstadel commented on #2273
Hey @thimo72,
thanks for reaching out. Yes, the predict assignment should have happened before the if block.
In your case the retriever seems not to return any documents, thus choosing the else block and `predict` remains unknown. Later on in add_isolated_node_eval the call of `predict` fails.

The cleanest solution would be to move the predict assignment from line 82 to line 81 (before the if blo

[2022-03-04 10:00] thimo72 commented on #2273
Hi @tstadel,
thank you for the quick response. I can fix this an open a PR, probably this afternoon.

[2022-03-04 15:15] ozyurtf commented on #2261
Thank you for your answer @mkkuemmel. Yes it was helpful

[2022-03-04 15:29] ozyurtf opened #2276 "Low performance in retriever"
Hello,

I created a QA pipeline. And I am following this tutorial https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial5_Evaluation.ipynb#scrollTo=JtiZZPVuEQ5V to evaluate the performance of the model.

saved_eval_result = EvaluationResult.load("../")
metrics = saved_eval_result.calculate_metrics()
print(f'Retriever - Recall (single relevant document): {metric

[2022-03-04 15:51] mkkuemmel commented on #2261
Perfect! You're welcome to close this issue if your question is answered. Have a nice weekend!

[2022-03-04 18:23] ozyurtf commented on #2100
Sorry for my late response @mathislucka. I couldn't have a chance to turn back to this project in this month.

I just read the last response you wrote and thank you for your suggestion. It was useful!

There is one thing I didn't understand though. You wrote that I can add the passages with the no answer label if both question and context are rated negatively by the user. Although I can do this, i

[2022-03-04 22:13] ozyurtf commented on #2119
Thank you for your answer @mathislucka and sorry for the late response. I couldn't have a chance to turn back to this project in this month. The code you wrote works but can you explain what is is_impossible ? Does it mean that the answer is impossible to find in the retrieved documents or something ?

[2022-03-05 03:25] GOURAVSUMAN opened #2277 "In case of Question generation model the question generated consist of more of "What" case do we have way to manage output questions generated in terms of "Why" and "Who" type questions?"
**Is your feature request related to a problem? Please describe.**
"Question Generation model output related-
**Describe the solution you'd like**
Output question in balanced manner which includes all type of questions with "Why", "What", "How", "Does"...... ect.

[2022-03-07 08:05] tstadel opened #2280 "pip install farm-haystack[all] gets lost during backtracking"
**Describe the bug**
pip install farm-haystack[all] gets lost during backtracking. For no apparent reason pip backtracks heavily and finally crashes due to trying to build older packages. CI builds are affected as `linter` job uses pip install farm-haystack[all]. build-cache also seems to never finish. I tried a few shots and a hint of `databind==1.5.1` seems to solve it short term. But it seems l

[2022-03-07 08:19] mkkuemmel commented on #2276
Hi @ozyurtf,

can you tell us more about the pipeline you built? Which Retriever and Reader did you use and which parameters did you put in?

It seems odd that the Reader would get high results if the Retriever performance is 0 - Question is: how does the Reader extract a correct answer (and therefore shows high performance), if all the documents it's being handed, are incorrect (performance 0)? Y

[2022-03-07 09:25] mkkuemmel commented on #2277
Hi @GOURAVSUMAN,

the type of the output questions depends on the generation model you are using, you can't influence it via Haystack currently.

By default, the model `valhalla/t5-base-e2e-qg` is being used (see [code](https://github.com/deepset-ai/haystack/blob/master/haystack/nodes/question_generator/question_generator.py#L27)), you could try out [other models](https://huggingface.co/models?pip

[2022-03-07 14:25] ozyurtf commented on #2276
I fine tuned deepset/roberta-base-squad2 model on my own quesiton answer data and then I used that model for reader. Then I used ElasticsearchDocumentStore and ElasticsearchRetriever. In the end, I used both the reader and retriever in ExtractiveQAPipeline. I used default parameters in all of these. After this, I followed the instructions in the link I sent to obtain the performance metrics for re

[2022-03-07 16:15] tstadel commented on #2258
We add two methods `deploy_on_deepset_cloud()` and `undeploy_on_deepset_cloud` to `BasePipeline`.
Handling would be:

[code]
Output:
`INFO: pipeline 'pipeline-to-deploy' successfully deployed.`

The we live happy with pipeline until we want to change it:

[code]
Output:
`INFO: pipeline 'pipeline-to-deploy' successfully undeployed.`

@PiffPaffM is that the intended behavior?

[2022-03-07 16:18] tstadel commented on #2258
We should also add a hint to `save_to_deepset_cloud`'s case of an existing deployed pipeline.
Current error message: `Deployed pipeline configs are not allowed to be updated. Please undeploy pipeline config '{pipeline_config_name}' first.`

New error message: `Deployed pipeline configs are not allowed to be updated. Please undeploy pipeline config '{pipeline_config_name}' first. See Pipeline.undep

[2022-03-07 17:14] tstadel commented on #2258
@PiffPaffM @ArzelaAscoIi  Just found that the api calls are non-blocking. So if the pipeline is in status "UNDEPLOYED" and we call deploy_on_deepset_cloud() we should ensure that it's in state "DEPLOYED" afterwards. So we have to poll the pipeline status for a while. Are my assumptions about the status flow correct?
`UNDEPLOYED`-> deploy() -> `DEPLOYEMENT_SCHEDULED` -> `DEPLOYMENT_IN_PROGRESS` ->

[2022-03-07 19:45] #2280 closed

[2022-03-07 21:35] #2235 closed

[2022-03-08 09:02] ArzelaAscoIi commented on #2258
Both flows are correct :)
`DEPLOYED_UNHEALTHY` is an additional state of a pipeline that is set when the pipeline has been successfully deployed but at runtime there is an error, there are scaling issues or the cluster is unavailable for some reason.

[2022-03-08 09:20] ajay-sreeram commented on #1921
requesting for updating ray to 1.10.0 (as they have updated the log4j to 1.17.1)

[2022-03-08 09:24] mkkuemmel commented on #2276
The Recall being 1 made me suspicious - this happens if the False Negatives produced by the model are 0 (False negatives: data points labeled as negative by the model that are actually positive in the annotation).

![Screenshot 2022-03-08 at 09 14 46](https://user-images.githubusercontent.com/45412072/157194871-195829dd-1129-43fb-9473-9a324ad3ab5b.png)
If you look at this screenshot of how the rec

[2022-03-08 15:40] devendrapal5755 opened #2288 "How I save my answer value into text formate ?"
**Question**
I want to save my answer in to text formate ?

![Screenshot from 2022-03-08 21-05-46](https://user-images.githubusercontent.com/58802107/157272132-bd0ee4d4-9f95-4206-aead-f450d06733cb.png)

**Additional context**
Add any other context or screenshots about the question (optional).

**FAQ Check**
- [ ] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?

[2022-03-08 16:21] tstadel commented on #2288
Hey @devendrapal5755,

could you please describe what you mean by saving the answer in text format exactly (e.g. give an example what you expect)?
The answer you get is already a text/string inside the Answer object's answer field as you can see in your screenshot above.

[2022-03-08 18:14] thimo72 commented on #2273
Yeah, sure. Thank you

[2022-03-08 18:14] #2273 closed

[2022-03-09 07:53] mkkuemmel commented on #2288
Hi @devendrapal5755,

you can access the `Answer` object using the [dot notation](https://www.askpython.com/python/built-in-methods/dot-notation). This way you can pick the value you want to save to txt.

Here is how I would do it:

[code]

[2022-03-09 08:59] tstadel commented on #2280
Just in case someone also runs into this issue with the current 1.2.0 release, a workaround is:
[code]

This might also be needed for other non-default dependencies (e.g. `farm-haystack[dev] 'azure-core<1.23'`).

[2022-03-09 10:22] tstadel commented on #2280
Depending on your environment the error message might look different or might never occur. Some backtracked dependencies need protoc or CMAKE to install. If you don't have them installed the install process will end with a similar error message as above. If you have them installed however backtacking might take hours...

[2022-03-09 16:11] ZanSara opened #2291 "Validation of Ray pipelines"
**Problem**
Ray pipelines do not conform fully to the JSON schema we defined for regular Pipelines. Therefore they will often fail validation, even though they are completely valid.

**Solution**
Define a new schema for Ray pipelines and validate them against it. We could heavily leverage the existing JSON schema generation code to do so.

**Alternatives**
Relaxing the schema to allow bot regular

[2022-03-09 16:12] ZanSara commented on #2252
Mostly fixed as a side-product of #1763

[2022-03-09 16:13] #2022 closed

[2022-03-09 16:13] #2110 closed

[2022-03-09 16:26] ZanSara opened #2292 "Make `PreProcessor` support `Document` objects"
**Problem**
Right now PreProcessor (as many other "indexing" nodes) do not really support `Document` objects, I don't see a reason why that should be the case other than legacy. In addition, the current error message is highly misleading because, given a Document, PreProcessor will complain that the given value is "neither a list nor a Document", when it should say "neither a list nor a dictionary

[2022-03-10 08:30] mumtazcem commented on #1952
Hello,
Quick update. I managed to deploy a simple Retriever-Reader-Pipeline fastapi application with docker-compose to AWS. I have used elasticsearch and selenium images and made some changes in Crawler. It consumes around 3gb memory.

Given urls and questions list, it returns question and answers.

If this is the way to go for 'Simpler deployment', I can work on PR to convert my docker-compose.ya

[2022-03-10 08:49] #2258 closed

[2022-03-10 10:25] tstadel commented on #1952
Hey @mumtazcem,
good to here that you managed to deploy your pipeline :-)
We already started on creating a simple helm chart, but it's still a draft. It works on a local cluster, but we didn't try to use it on a public cloud provider. E.g. AWS EKS. Checkout https://github.com/deepset-ai/haystack/pull/2295.
We planned to make progress on this by next week. Next steps will be to make it work with AW

[2022-03-10 10:39] mumtazcem commented on #1952
That's awesome. I would love to work on "Crawler Add-on". I will keep you updated.

[2022-03-11 08:23] mpangrazzi opened #2301 "Wrong encoder instance for a sbert-based retriever?"
**Question**
Hi! When I instance a retriever in this way:

[code]

I've noticed that the `model_format` property of the `EmbeddingRetriever` instance is always set to `farm`. So an instance of `_DefaultEmbeddingEncoder` is created instead of an instance of `_SentenceTransformersEmbeddingEncoder`.

This implies that `inference_from_dicts` is called when calling `document_store.update_embeddings()`

[2022-03-11 12:34] ZanSara opened #2302 "Re-evaluate `BasePipeline`"
**Problem**
During the YAML validation PR, I realized that the distinction between `BasePipeline` and `Pipeline` is rather blurry and probably unnecessary. See this comments for more context: https://github.com/deepset-ai/haystack/pull/2226#discussion_r823793025

**Solution**
We should probably have a single, non-abstract `Pipeline` base class which can be used as-is or subclassed by others, like

[2022-03-11 12:41] ZanSara opened #2303 "Merge validation logic in `Pipeline.add_node` and `validate_config`"
**Problem**
Currently pipelines are validate in several ways at different stages: especially in `validate_config` when loading the config, and in `add_node` when actually adding the nodes to the pipeline. Context: https://github.com/deepset-ai/haystack/pull/2226#discussion_r823838127

**Solution**
It would be nice to abstract the validation into a separate method, so that there will be no need for

[2022-03-11 13:32] tstadel commented on #1921
@ajay-sreeram could you please open up a new issue instead and describe briefly why log4j 1.17.1 is required? Otherwise it get's pretty confusing to track the exact reasons for changes.

[2022-03-11 13:33] #1921 closed

[2022-03-11 13:33] mkkuemmel commented on #2301
Hi @mpangrazzi,

this is a very valid feature idea. One thing to consider: it's not always possible to infer the `model_format` from the model name, e.g. if it is a local path. So automatic inference would not work. But, in a lot of cases, sentence transformers models are named `sentence_transformers/ ...` .
We'd suggest to implement a **warning** if the param `embedding_model` starts with "senten

[2022-03-11 13:40] #2131 closed

[2022-03-11 13:44] tstadel commented on #2269
@bpquestion feel free to close the issue once your question has been solved :-)

[2022-03-11 13:46] tstadel commented on #2191
@OmniscienceAcademy has this issue been solved with your PR? If so, feel free to close it :-)

[2022-03-11 13:51] tstadel commented on #2177
@karndeepsingh is this question still open as I realized that you also raised some questions in the discussion section? If not, feel free to close this issue.

[2022-03-11 13:52] tstadel commented on #2216
@brandenchan @julian-risch is this still open?

[2022-03-11 13:53] tstadel commented on #2167
@karndeepsingh this question seems to be solved. I'm closing it now. Feel free to open it up at any time.

[2022-03-11 13:53] #2167 closed

[2022-03-11 13:56] tstadel commented on #2219
@GOURAVSUMAN I'm closing this issue now as your question seems to be answered. Feel free to reopen it if that's not the case.

[2022-03-11 13:56] #2219 closed

[2022-03-11 13:57] tstadel commented on #2222
@tesla-cat I'm closing this issue as it seems to be answered. If not feel free to reopen it again.

[2022-03-11 13:57] #2222 closed

[2022-03-11 14:15] #2269 closed

[2022-03-11 14:31] racheltlw commented on #2177
@tstadel dont think my question on the haystack tip above has been answered - am not really sure what is being cut down.. is it context?

[2022-03-11 14:31] mpangrazzi commented on #2301
Thanks @mkkuemmel. Sure, will do in the next few days :)

[2022-03-11 14:45] racheltlw commented on #2250
@tstadel i did the above and save the MLflow files into a local mlruns folder. I can see that the “artifact”, “parameters” and “metrics” folders are created and I see the parameters and metrics files, however artifact folder is empty

[2022-03-11 15:20] ArzelaAscoIi opened #2304 "File classification based on content"
The current FileClassifier calculates the file type based on the file extensions by using the `guess_type` method. If this method does not return a match, we should guess the file type based on the content.
[Python-magic](https://github.com/ahupp/python-magic) provides this kind of functionality.

[2022-03-12 14:14] GOURAVSUMAN commented on #2277
Hi can i try other QG model with haystack if yes can you please guide me in that.

[2022-03-13 07:34] xiaofan-luan commented on #2081
Thanks for the hardworking to support milvus 2.0 @ZanSara
Would you mind if I add deepset-ai into milvus adopted list so if any user of milvus are intersted in NLP models they could learn deeply about deepset-ai

[2022-03-13 07:35] xiaofan-luan commented on #2081
Milvus will soon support embedded model so user could play with a simply a pip install~

[2022-03-13 10:48] arater opened #2305 "Haystack Query with Params"
**How to set params to Query endpoints in rest api**

I am using haystack API and in general I am sending query request in this way. I only change query string. But I wanted to get response or context part as whole sentence. Is there any configuration to get context in this way?
And also which parameters can I set to the params dictionary I could not see any examples of it?

``
{
  "query": "strin

[2022-03-13 22:44] thimo72 opened #2306 "CUDA out of memory error when calculating SAS"
**Describe the bug**
When trying to calculate SAS score for eval results I encounter an CUDA OutOfMemoryError.

**Additional context**
Only about 1.6 GiB of GPU memory available. I tried to reduce batch size to 16 and 8 but it still failed.

**FAQ Check**
- [x] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?

**Possible Solution**
It worked for me when setting

[2022-03-14 08:26] mkkuemmel commented on #2305
Hi @arater,

 about your first question:

The way the context is being extracted works by character index - therefore possibly cutting into sentences/words.
You can see the context creation [here](https://github.com/deepset-ai/haystack/blob/fd46a421301db03b6fc56f2fb72ba024ae5333ca/haystack/nodes/reader/transformers.py#L146).

What you could do to obtain full sentences: While initialising the `Read

[2022-03-14 09:07] julian-risch commented on #2216
Yes, still not entirely sure what causes the eval to give different results.

[2022-03-14 09:18] arater commented on #2305
I too this code snippet from haystack api/docs query endpoint. But also in haystack source code I looked at controller/search.py and you are sending QueryRequest as request and it is exactly in this form below.
``
class QueryRequest(BaseModel):
    query: str
    params: Optional[dict] = None
    debug: Optional[bool] = False
``

But also in your source code I could not see any place how to config

[2022-03-14 09:31] mkkuemmel commented on #2305
If you take a look at [this](https://haystack.deepset.ai/guides/rest-api#querying-the-haystack-rest-api) section of the documentation, you see there's a little hint on the bottom pointing to the [pipeline arguments section](https://haystack.deepset.ai/components/pipelines#arguments).
This can help you decide which arguments you want to use in your pipeline.

[2022-03-14 09:51] tstadel commented on #2306
@thimo72 a quick workaround would be to set the environment variable "CUDA_VISIBLE_DEVICES" to "-1". But this will disable the GPU for anything (e.g. during inference too).

On the other hand I agree that it would be nice to control the batch size during SAS.
SAS currently has no batching implemented. Where exactly did you set the batch_size?
How much CUDA mem do you have available?

[2022-03-14 10:23] arater commented on #2305
I got it thanks, but instead of figuring out from these may be you can put some documentation part for querying and which params are used for which purpose.

[2022-03-14 10:23] #2305 closed

[2022-03-14 12:28] thimo72 commented on #2306
I set the batch size in the predict function of the cross encoder in the SAS function.
The problem with CUDA mem is that I run the eval on a shared server where I have about 1.6 GB available.

[2022-03-14 13:12] Threepointone4 commented on #2131
Sorry, got caught up in other things, this worked for me. Thanks @julian-risch.
I can see advantage of both approaches. Maybe a parameter to chose whether to embed in his way and if this : [["title","passage"]] then passing which keys to chose for title and passage would be helpful in my opinion.

[2022-03-14 14:50] ozyurtf commented on #2276
Thank you for your answer @mkkuemmel!

[2022-03-14 18:48] tstadel commented on #2306
I see. Although this is very little CUDA memory, adding params `batch_size` and `use_gpu` to `semantic_answer_similarity` makes perfect sense. Additionally extending `Pipeline.eval` for these params prefixed by `sas_` should solve it. Do you want to tackle this in a PR?

[2022-03-14 19:59] thimo72 commented on #2306
@tstadel I'll try to get some more memory to do a few more tests on memory and batch size.
Sure, I can address these points in a PR.

[2022-03-14 20:39] thimo72 commented on #2306
Opened PR #2308

[2022-03-15 05:30] Threepointone4 commented on #2131
@julian-risch if there is a key in indexing config called "name" ,  then that will be used for embedding. As its not mentioned anywhere , will it cause issues in scores. Maybe a warning if the name is present would be good ?
Eg:
    **query: who is the author of the book?**

![image](https://user-images.githubusercontent.com/22583613/158312677-ee465e74-17d0-48f2-b8ca-8b7acfdbec03.png)

In the abov

[2022-03-15 05:48] Threepointone4 commented on #2131
`        texts = [s[-1] if isinstance(s, list) and s[0] == "" else s for s in texts]
`
Does this require PR ?

[2022-03-15 10:17] #600 closed

[2022-03-15 10:17] #1981 closed

[2022-03-15 10:17] #2246 closed

[2022-03-15 11:04] tstadel opened #2310 "Cannot load ElasticsearchRetriever with YAML validation"
**Describe the bug**
Cannot load Pipeline with ElasticsearchRetriever. YAML validation fails with message
[code]

 See reproduction info below.

**Error message**
[code]

**Expected behavior**
We can load pipelines with ElasticsearchRetrievers

**To Reproduce**
YAML:
[code]

Code:
[code]

[2022-03-15 12:33] ZanSara commented on #2310
Woah, I was sure I had a test case for this?! Must have happened when I disabled the accessory classes loading. I'm on it, I should have a fix soon

[2022-03-15 12:35] AI-Ahmed opened #2312 "Where is `convert_files_to_dicts` after the update?"
I was doing some experimentation then I find out that the library is giving me an error on Google Colab although I ran the same notebook from 2 hours ago. Then, I found that there was an update without any announcements that `convert_files_to_dicts` removed!!!

What is the solution now?

[2022-03-15 13:00] ZanSara commented on #2310
As a side note, please remove pipeline types and the top-level name parameter when testing, so we're sure they don't interfere. I have the hint this might be a misleading error message.

[2022-03-15 13:39] julian-risch commented on #2312
Hi @AI-Ahmed to me it looks like the function `convert_files_to_dicts` is still where it belongs https://github.com/deepset-ai/haystack/blob/06497da748afa3ba7a9f4af98ce199ba22762405/haystack/utils/preprocessing.py#L13
My best guess is that your notebook on Google Colab was inactive for some time and after 2 hours you did not run the full notebook again (including installation of Haystack) but only

[2022-03-15 13:40] julian-risch commented on #2312
Or maybe the installation of Haystack failed for some reason?

[2022-03-15 13:51] AI-Ahmed commented on #2312
Simply, what I did to check if my Colab has an issue is that I pulled your pipeline notebook and run it. It gives me the same error of not finding the package after thinking that the issue is with this function, only.

Now the whole model isn't active (Just run it now).
![image](https://user-images.githubusercontent.com/72295771/158392385-7818e2cb-b5c6-4cc8-b63b-4afdab9137d3.png)

[2022-03-15 13:52] AI-Ahmed commented on #2312
Also, all the packages are installed

![image](https://user-images.githubusercontent.com/72295771/158392579-9d10f146-8a20-45c9-86a8-4d3891837a48.png)

[2022-03-15 13:54] julian-risch commented on #2312
Hi @AI-Ahmed thanks for the update from your side! We started investigating this and it seems the installation of Haystack fails because of the PR we merged today. As a workaround, you can run the installation of Haystack in your notebook via this command based on the last working commit:
`!pip install git+https://github.com/deepset-ai/haystack.git@a1040a17b2697bbaea2585dbcbf7cd175ce8cb75#egg=farm

[2022-03-15 13:56] AI-Ahmed commented on #2312
@julian-risch is this hash `a1040a17b2697bbaea2585dbcbf7cd175ce8cb75` is the new tag?

[2022-03-15 14:01] #2312 closed

[2022-03-15 14:04] AI-Ahmed commented on #2312
I think I shouldn't close this thread until I test everything. The metadata store now is not working, too. I think the module can't find the `faiss` module.

![image](https://user-images.githubusercontent.com/72295771/158395248-06f4ab05-ad4a-428d-a575-8fdde5eb67ed.png)

[2022-03-15 14:42] julian-risch commented on #2312
Did you run `pip install` with `[colab,faiss]` as suggested in the error message? Like: `!pip install git+https://github.com/deepset-ai/haystack.git@a1040a17b2697bbaea2585dbcbf7cd175ce8cb75#egg=farm-haystack[colab,faiss]`?

[2022-03-15 15:21] AI-Ahmed commented on #2312
after adding `faiss` to the command line it worked although I was not doing that in the past, it was just `!pip install git+https://github.com/deepset-ai/haystack.git#egg=farm-haystack[colab]`

Thank you!

[2022-03-15 17:02] bpquestion opened #2317 "OpenDistroElasticsearchDocumentStore"
Hello,

I Would like to use Open Distro for Elasticsearch as a document store but I got this error when initialising the DocumentStore:

`TypeError: _prepare_hosts() missing 1 required positional argument: 'port'`

[2022-03-15 17:05] julian-risch commented on #2312
The problem is indeed resolved now and you can run colab notebooks with the standard way of installing Haystack via:
`!pip install git+https://github.com/deepset-ai/haystack.git#egg=farm-haystack[colab]`

[2022-03-15 17:32] tstadel commented on #2250
If you're looking for the model there we don't copy it there, as the model is already saved to the directory specified by the `save_dir` param. The save_dir should also be logged to mlflow within the parameters section. Storing the model to mlflow would basically mean to store a copy in the artifact folder, too. This would double your required disk space and probably have no advantages. So we curr

[2022-03-16 00:52] racheltlw commented on #2250
Ah I see ok thanks! Would it still then be possible to visualize the results using mlflow ui and how would you do so? The issue I faced was that running mlflow ui inside the mlruns directory did not work because there was nothing in the artifact folder. Even after copying the files from save_dir into a folder inside the artifacts folder the error is that “run not found”.

[2022-03-16 08:57] ZanSara commented on #2310
Wrong indentation of `top_k` was the issue :smile: Closing

[2022-03-16 08:57] #2310 closed

[2022-03-16 09:23] ZanSara commented on #2242
Hey @edrozenberg, did you eventually managed to either build pytorch 1.10, or make Haystack run on pytorch 1.12? We're quite interested in your outcomes. If we can help further please reach out again!

[2022-03-16 09:45] ZanSara commented on #2191
I believe this was solved by the PR, so I'll close. Feel free to reopen in case of issues :)

[2022-03-16 09:45] #2191 closed

[2022-03-16 09:51] ZanSara commented on #2261
Hey @ozyurtf, I'll close this for now. Please re-open if you have further questions (or create a new issue) :slightly_smiling_face:

[2022-03-16 09:51] #2261 closed

[2022-03-16 10:52] ZanSara commented on #2177
Hello @karndeepsingh and @racheltlw. To answer your questions:

Yes, you need to change model. 512 is currently the maximum number of tokens that the model can take. `max_seq_length` is designed for users that need to reduce that length below 512 for GPU memory issues. I agree, though, that the error message does not mention what the maximum number of token allowed is. We could totally improve tha

[2022-03-16 10:54] ZanSara commented on #2081
Hello @xiaofan-luan, sure, feel free to add us to the list! :slightly_smiling_face:

Many thanks for the heads up about the embedded model feature! We'll look into it :+1:

[2022-03-16 11:01] devendrapal5755 commented on #2288
yes please close it . @mkkuemmel Thank you so much .

[2022-03-16 11:01] ZanSara opened #2318 "Embedded Milvus"
Seems like Milvus will introduce an Embedded version:

- https://github.com/deepset-ai/haystack/issues/2081#issuecomment-1066044687
- https://wiki.lfaidata.foundation/display/MIL/MEP+26+--+Embedded+Milvus
- https://github.com/milvus-io/milvus/issues/15711

It's probably worth keeping an eye on it to see if it can simplify drastically our current document store implementation and the required setup

[2022-03-16 11:13] ZanSara opened #2319 "Validate `max_seq_length`"
**Problem**
Currently `FARMReader` will ask users to raise `max_seq_length` every time some samples are longer than the value set to it. However, this can be confusing if `max_seq_length` is already set to the maximum value allowed by the model, because raising it further will cause hard-to-read CUDA errors.

See #2177.

**Solution**
We should find a way to query the model for the maximum value `m

[2022-03-16 11:58] julian-risch commented on #2291
@ZanSara could you please briefly explain why ray pipelines need a special treatment when it comes to the validation? What's the difference in the schemas? ( @oryx1729 is also interested) 🙂

[2022-03-16 12:55] ZanSara commented on #2291
I decided to separate the validation of Ray pipelines when I noticed that they have an extra parameter in the pipelines attributes: `replicas` https://github.com/deepset-ai/haystack/blob/6fb58d09a9ac0f6895bbbb9e617d459b5f27f155/test/samples/pipeline/test_ray_pipeline.yaml#L38-L44

The fact is that I am not sure how many of these additional params there are, whether they are mandatory, etc. So I th

[2022-03-16 12:56] #2288 closed

[2022-03-16 13:00] TuanaCelik commented on #2317
Hey @bpquestion thanks for reporting this. I was also able to reproduce this bug on my side. I'll have a look at fixing it. But in the meantime, if OpenSearch supports the features you need (which I would think it does) I would recommend trying that out too.

[2022-03-16 13:38] AI-Ahmed commented on #2312
Thank you @julian-risch . Google Colab was also soooo slow yesterday when I was running `QuestionAnswersPipeline`

I added `top_k=2` to the `Seq2Seq` Generator – every time I run the `pipeline.run`, It keeps restarting the kernel although I was using 25Gbs of Ram and P100 GPU.

[2022-03-17 08:26] julian-risch commented on #2304
@GiannisKitsos the issue has not been resolved yet. You're very much welcome to work on it. 🙂 When you start working on this issue, please open a draft pull request early on so that we can support by giving feedback. Our guidelines for community contributions contain more detailed information: https://github.com/deepset-ai/haystack/blob/master/CONTRIBUTING.md
Looking forward to your pull request!

[2022-03-17 10:12] pcollege opened #2324 "Can't get quick demo to run"
Trying to install quick demo locally for past few days with no success. OS: ubuntu 20.04, I followed these tutorials:
- https://haystack.deepset.ai/docs_hub/conf_modelmd
Both simple install with pip and docker. Nothing works.

With docker:

$ docker-compose up

Starting haystack_ui_1            ... done
Starting haystack_elasticsearch_1 ... done
Starting haystack_haystack-api_1  ... done
Attaching

[2022-03-17 12:36] GiannisKitsos commented on #2304
I am looking into this but I cannot find where the guess_type method is used in the source code. Am i missing something ?

[2022-03-17 13:35] ArzelaAscoIi commented on #2304
Hello @GiannisKitsos! Unfortunately I made a mistake there. I just saw that we don't use `guess_type` to calculate the file type. The current implementation just uses the suffix of a file path [here] (https://github.com/deepset-ai/haystack/blob/b8a3c930f01f26239897582dc9606a594b4d1735/haystack/nodes/file_classifier/file_type.py#L46).

So we need to improve the [_get_extension](https://github.com/d

[2022-03-18 04:19] HighDeFing commented on #2060
I'm using a VM with `ubuntu 20.04` using Elasticsearch as my document store and dense passage retrieval, it took like 3 hours to upload 198 pdf files (something like 2.8GB) in Elasticsearch and update the embeddings, my machine specs are:

1. Intel(R) Core(TM) i7-12700K   3.61 GHz

2. 32 GB RAM
3. 2TB of storage SSD
4. NVIDIA rtx 3070ti

But of course you **CAN'T** run GPU in a virtual machine, I

[2022-03-18 08:32] ZanSara commented on #2060
(First of all: please open a new issue next time, I almost missed this message.)

If you don't have a GPU then unfortunately you have to fallback to a simpler pipeline. One easy solution would be to swap `DensePassageRetriever` with `ElasticsearchRetriever`. However, 30 mins to answer queries seems a lot even without a GPU, so I'm afraid something else is misconfigured in your setup.

I'd recommen

[2022-03-18 09:29] #2306 closed

[2022-03-18 16:17] HighDeFing opened #2331 "Query time takes too long inferencing samples"
This a reference to an issue I raised yesterday and got a response _Originally posted by @ZanSara in https://github.com/deepset-ai/haystack/issues/2060#issuecomment-1072164793_ .
### Behavior:
When doing an extractive QA with dense passage retrieval it takes up to **15** minutes to give an answer.

I expected to take only some seconds or a couple of minutes.

### Context

I'm using a python class

[2022-03-19 02:28] cdpwest commented on #2324
I also have the same issue.

My system is MacOSX and has 16GB RAM, no resource limits. The error prior to this was:

haystack-haystack-api-1   | [2022-03-19 02:25:57 +0000] [18] [INFO] Worker exiting (pid: 18)
haystack-haystack-api-1   | [2022-03-19 02:25:57 +0000] [12] [ERROR] Exception in worker process
haystack-haystack-api-1   | Traceback (most recent call last):
haystack-haystack-api-1   |

[2022-03-19 23:38] OmniscienceAcademy commented on #2191
Yeah, thanks for merging! I think the speed is now acceptable, even if it's still possible to go further, but we will see later

[2022-03-21 08:04] ZanSara commented on #2324
Thanks a lot @cdpwest for the stacktrace! I confirm this is a bug on our side. We recently renamed the pipeline YAML files used in the demo, but  forgot to update the `docker-compose.yml`.

Really sorry you wasted so much time on this! I'm going to release a fix within a few hours at most. I'll let you know when to try again.

[2022-03-21 09:35] #2265 closed

[2022-03-21 10:24] ZanSara commented on #2277
Hello @GOURAVSUMAN, do you still need help here? If so let us know. Otherwise I'll soon close this issue.

[2022-03-21 10:29] ZanSara commented on #2255
Good points! I'll note down other occurrences of name mismatches in the codebase. Maybe even worth documenting, even though I have no idea where this could be written down...

[2022-03-21 10:34] ZanSara commented on #2249
Hey @fvanlitsenburg, did you manage to get the filters to work eventually? if you can share some insights on how you debugged this, I believe it could help a lot other people migrating from 1.0!

[2022-03-21 10:37] fvanlitsenburg commented on #2249
Hi Sara,

Thanks! To be honest, I opted for the path of least resistance and
installed Haystack from scratch...

Best,
Felix

On Mon, Mar 21, 2022 at 11:35 AM Sara Zan ***@***.***> wrote:

[2022-03-21 10:39] tstadel commented on #2250
Hey @racheltlw,
the artifacts folder shouldn't be the reason for that. Most likely mlflow ui isn't finding the run as you started it from within the `mlruns` folder. Please run mlflow ui from the parent folder of `mlruns`. Then you should see your runs.

[2022-03-21 10:43] GOURAVSUMAN commented on #2277
U may close it.

[2022-03-21 10:43] #2277 closed

[2022-03-21 12:21] #2317 closed

[2022-03-21 12:22] TuanaCelik commented on #2317
Hey @bpquestion, the PR above should have fixed the issue 👍🏽

[2022-03-21 13:19] Riya-lalwani commented on #2324
Tried installing haystack local demo but was not able to install due to these errors:
![image](https://user-images.githubusercontent.com/86097578/159268943-b281c0ab-e114-461a-9c9c-4a7f7f4b8837.png)

haystack-api_1   |     raise HaltServer(reason, self.WORKER_BOOT_ERROR)
haystack-api_1   | gunicorn.errors.HaltServer: <HaltServer 'Worker failed to boot.' 3>

It was running perfectly 3 days ago i.e.

[2022-03-21 13:39] ZanSara commented on #2324
Hello @Riya-lalwani, that's because the fix I mentioned above is not in master yet. Hold on :smile:

[2022-03-21 13:49] ZanSara commented on #2324
Ok, the fix is out. Please let me know if you still see the issue and, if so, don't hesitate to reopen :+1:

[2022-03-21 14:26] ArzelaAscoIi opened #2338 "Validate that the component node names match the referenced nodes in the pipeline definition (yaml)"
If we run `validate_config` and `generate_code` (`from haystack.pipelines.config`) on the following yaml which contains a typo in the FARMReader name, `validate_config` will not find any errors. `generate_code` will complain about a key error. Therefore, `generate_code` can be used to verify that the variables used inside the pipeline definition actually exist in the yaml.

It would be helpful to

[2022-03-21 15:05] pcollege commented on #2324
Thanks Sara, I'll try it now and let you know.

[2022-03-21 16:12] LukasFides opened #2339 "How to batch upload question, answer pairs to the annotation tool?"
**Question**
How to batch upload question, answer pairs to the annotation tool? I created .csv files which I labelled with first row "question" and second row "answer". Currently there is no way to import questions with answers or am I wrong?

Also, there is no api in order to directly send question answer pairs to the annotation tool right?

[2022-03-21 16:54] julian-risch commented on #2096
Miriam opened a PR about this for tutorial 14: https://github.com/deepset-ai/haystack/pull/2336
Please check whether this issue here should remain open until tutorial 6 and the documentation page are updated as well.

[2022-03-21 18:50] pcollege commented on #2324
It works. Thanks for the fix.

[2022-03-21 21:48] cdpwest commented on #2324
I still have a bit of an issue. Different from before just that it wont start because the workers timeout. I get the following:

haystack-api_1   | 03/21/2022 09:43:19 PM =============
haystack-api_1   | 03/21/2022 09:43:19 PM Could not find deepset/roberta-base-squad2 locally.
haystack-api_1   | 03/21/2022 09:43:19 PM Looking on Transformers Model Hub (in local cache and online)...
haystack-api_1

[2022-03-22 09:31] TuanaCelik commented on #2331
Hi @HighDeFing - thank you for sending these over. I am going to have a look and try to help you out here. First off, thank you for the code snippets above but if you can could you send over a fully reproducible  example?  Maybe as a single file and if possible a link to the documents you're writing to the docstore or some specs about them?

[2022-03-22 10:27] julian-risch commented on #1920
@bogdankostic @ArzelaAscoIi As of now we don't need `Document` to store `id_hash_keys` as an attribute. I can't come up with a potential use case that requires that. In case we need a `Document` to tell how its id was generated in future, we can add that functionality later. Until then, I'd say we remove `id_hash_keys` as an attribute of `Document` and just use `id_hash_keys` as a parameter to dec

[2022-03-22 12:00] jacksbox opened #2344 "Feature request: Use gpt-3 (or other services) as Reader"
It would be cool if gpt-3/openai or other services could be used as reader.
Instead of running a local modal, a request to the service could be made (containing the preselection).

If this feature has demand, I would volunteer to integrate it :)

[2022-03-22 13:48] ZanSara commented on #2344
Hello @jacksbox I'm glad you want to contribute to Haystack! However it's not too evident to me how you imagine this GTP3-based Reader to work. Can you flesh out your idea a bit more? Once we have a clear idea of the effort required it's going to be easier to see if it's worth it or not :wink:

[2022-03-22 13:54] TuanaCelik commented on #2339
Hi @LukasFides, you are right that there is no way to upload question answer pairs like that on the annotation tool. There is a way to upload CSV files which you can see if you go to Import->Documents->CSV Batch Upload where you can also see what the tool expects the CSV to look like. But I don't think this is what you're looking for. The purpose of the annotation tool is not really to just create

[2022-03-22 14:27] ZanSara commented on #2331
Hey @HighDeFing, sorry but that's way too much code for us to parse. What @TuanaCelik was asking was a *Minimal Reproducible Example*: please read this great description of it by the StackOverflow people to understand a bit better what it is exactly https://stackoverflow.com/help/minimal-reproducible-example

We understand that it takes time to put together such an example, but the advantage is th

[2022-03-22 14:40] jacksbox commented on #2344
The idea as a rough outline:

### Flow

* Preselect documents via the receiver (e.g.)
* Reader
  * send this documents along with the question to the GPT-3 QA Endpoint (or a custom prompt - only works well with top_k=1)
  * GPT-3 response with a natural language answer

we do something like this in my company and it works quite nicely for question answering in natural language.

### Downsides

* i

[2022-03-22 16:35] LukasFides commented on #2339
Hi, @TuanaCelik. Thank you for the clarification. Maybe something like importing question, answer, and context as a .csv file is something worth looking into in the future. Anyways thank you very much for the help.

[2022-03-22 16:36] #2339 closed, assigned to TuanaCelik

[2022-03-22 17:51] TuanaCelik opened #2346 "Weaviate DocumentStore write_documents Issue"
I’m getting som errors when writing documents to weaviate document store. See below.

[code]
I get the following:
[code]

 The dicts are a list ofJSON objects (document style) with a “content” and “meta” field each.

[2022-03-22 17:59] ZanSara commented on #2344
Ok, thanks for the description! I see where this is going. We call this approach "Long Form Question Answering" and we have a node called `RAGenerator` (https://haystack.deepset.ai/components/generator) that does something similar to what you propose, with the difference that it works locally with a Retrieval-Augmented generation model (https://arxiv.org/abs/2005.11401).

I propose you read a bit

[2022-03-22 22:06] TuanaCelik opened #2348 "WeaviateDocumentStore launch issue"
When trying to initialize a WwaviateDocumentStore I get the following ConnectionError even while the cluster is running on docker

`document_store = WeaviateDocumentStore(host="localhost", port=8080, username="", password="", index="document"))`

I get ConnectionError: Initial connection to Weaviate failed. Make sure you run Weaviate instance at `localhost:8080` and that it has finished the initia

[2022-03-22 22:07] TuanaCelik commented on #2346
I have moved the launch issue: https://github.com/deepset-ai/haystack/issues/2348

[2022-03-22 22:11] #2346 closed

[2022-03-23 08:16] ZanSara commented on #2324
Hey @cdpwest thanks for letting me know! I'm going to try to reproduce this. You have any special configuration on your system I should be aware of? (limited connectivity, low CPU/RAM, virtualizations, etc...). Are you on which OS?

[2022-03-23 08:21] cdpwest commented on #2324
Hi @ZanSara nothing special about my set up. I am using and intel MacBook Pro on OSX. No limits on cpu or RAM.

[2022-03-23 08:48] tstadel commented on #2348
@TuanaCelik please recheck if leaving out the host or setting it to "http://localhost" solves this or if there is somenthing else/additional not working.

[2022-03-23 08:59] ZanSara opened #2349 "`test_cosine_similarity` for Milvus is flaky"
**Problem**
`test_cosine_similarity` for Milvus 2 seems to be flaky. It will occasionally fail for no reason

**Solution**
We should find a way to make the computations on Milvus side trivial enough that the flakyness/randomness factor is removed from the test. In addition, it's arguable whether we should test cosine similarity at all: it's Milvus' own tests that should check the math. We should j

[2022-03-23 11:08] #1973 closed

[2022-03-23 11:12] tstadel opened #2351 "CI: mypy currently doesn't check numpy types"
**Describe the bug**
As we do not install numpy during our `type-check` CI step, numpy types like `ndarray` are not checked. If we install it however, several findings are shown:

[code]

**Expected behavior**
numpy types are checked too and there are no mypy issues.

**Additional context**
Just checked the linux ci but windows ci should have the same issue.

**To Reproduce**
[code]

[2022-03-23 12:17] Schokomensch opened #2353 "Filter ElasticSearch results by min_score"
**Problem:**
I want to retrieve all relevant (similar) documents from the `ElasticsearchDocumentStore` based on the `_score` using the `EmbeddingRetriever` (I am not using the Reader). Prior to the search, I don't know how many relevant Documents exist. To make sure, that I retrieve all relevant entries from the `ElasticsearchDocumentStore` I need to set `top_k=10000` or higher and filter the resu

[2022-03-23 14:43] SjSnowball commented on #2249
@fvanlitsenburg  Just a suggestion, make sure "_areaLevel2_"  field is indexed as "**keyword**" type in Elasticsearch. As @tstadel  told, you shall check your mapping with this `localhost:9200/INDEX_NAME/_mapping`

[2022-03-24 11:03] TuanaCelik commented on #2331
@HighDeFing  In the meantime we've released [a new version of Haystack (1.3.0](https://github.com/deepset-ai/haystack/releases/tag/v1.3.0)). So you could try upgrade your Haystack package and see if this helps.

[2022-03-24 11:19] TuanaCelik commented on #2353
Hi @Schokomensch - do I understand correctly that you have already made these changes? Would you like to create a PR and we can have a look?

I can imagine this being a useful optional addition. So if you provide the parameter `min_score` it uses it, if not it defaults to the `top_k`. Does that make sense?

[2022-03-24 12:03] TuanaCelik commented on #2348
@tstadel  - This seems to solve the issue indeed

[2022-03-24 14:39] Timoeller opened #2356 "Docker Compose setup for Annotation Tool broken"
When running docker compose for our annotation tool I get
postgres   | 2022-03-24 14:17:18.919 UTC [99] ERROR:  relation "users" does not exist at character 232

I get the error on both a linux as well as on my macbook m1 setup.

[2022-03-24 17:59] TuanaCelik opened #2357 "Weaviate Version 3.3.0"
I'm unsure what the consequences (if any) would be to change the version of Weaviate but while building a demo colab notebook with the folks at Semi Technologies they pointed out that they are on v 3.3.0 and Haystack requires 2.5.0
Would it be a good idea to upgrade?

[2022-03-25 09:03] ZanSara commented on #2357
In short, no.

I tried to upgrade our Weaviate requirements a while ago (https://github.com/deepset-ai/haystack/pull/1895), got stuck on a bug and asked them for help. After a few interactions, the PR got stale with one specific test failing: unless I can safely rule out that the test is faulty, or fix it, we can't proceed with the merge.

Later they also tried to contribute a quick PR to just upg

[2022-03-25 09:18] ZanSara commented on #2351
This happens for many other dependencies, `pytorch` being the worst offender along with `transformers`. We should find a way to tackle these issues progressively and clean up the repo of these errors.

[2022-03-25 09:50] ZanSara commented on #2331
Thanks, I'll look into it.

First off I noticed that you're using a rather large model. Have you tried using https://huggingface.co/mrm8488/distill-bert-base-spanish-wwm-cased-finetuned-spa-squad2-es instead? Does the query time go down, and by how much?

[2022-03-25 09:59] ZanSara commented on #2331
You also don't seem to reuse the pipeline in your test. Have you made sure that in your bigger project the pipeline is reused?

Another thing you could try is to check how long the documents are in the document store. Use `document_store.get_documents()` with a filter to retrieve just a few and make sure they contain only a few sentences each.

I hope these suggestions can help you nail down the b

[2022-03-25 16:35] ZanSara opened #2360 "Remove support for old-style imports"
Haystack's main `__init__.py` still include the aliases we introduced with the package refactoring in release 1.0 (https://github.com/deepset-ai/haystack/issues/1541).

I believe it's due time to remove support for that import style and simplify `__init__.py` once again. This implies removing its content from line 33 to the bottom.

[2022-03-25 16:58] CircArgs commented on #2221
thanks for your help. looks like the most recent version has usable table scores

[2022-03-25 16:58] #2221 closed

[2022-03-25 17:02] CircArgs commented on #1801
@ZanSara I am trying to do the same - load an mlm model as an embedding retriever. I simply used the Sentence Transformer's recommended script https://github.com/UKPLab/sentence-transformers/blob/master/examples/unsupervised_learning/MLM/train_mlm.py. I try to load with the output path to my model:

[code]

I get `FileNotFoundError: ... processor_config.json`

[2022-03-25 18:28] HighDeFing commented on #2331
Okay I stared using Ubuntu as dual boot instead of a virtual machine so I can take advantage of all my CPU cores, I managed with 19 workers to get it to **10 mins** with my initial models instead of **15 mins**

With the changes you proposed to the models (and also running with the full hardware instead of VM) I managed to get and indexing time of 185 documents from **1.5 hours** to **1 hour**. An

[2022-03-25 20:18] ArzelaAscoIi commented on #2338
Hi @ZanSara , sorry for confusion. The yaml is indeed valid. The case I am talking about can be tested with this script:

[code]

[2022-03-26 15:39] Schokomensch commented on #2353
Hi, @TuanaCelik, so far I implemented these changes by creating my own custom class that overwrites some class methods from the ElasticsearchDocumentStore and EmbeddingRetriever. I will create a proper PR in the beginning of next week.

Within Elasticsearch the `min_score` filter is applied only after the `top_k (size)` filter already reduces the results.
Therefore, I would suggest that whenever t

[2022-03-26 19:04] bobvanluijt commented on #2357
Additionally - we are also working on an automation script to automatically create a PR when the Python client and / Weaviate updates.

[2022-03-27 03:17] HighDeFing commented on #2331
I applied the [processor (https://github.com/deepset-ai/haystack/blob/master/haystack/nodes/preprocessor/preprocessor.py) function with this parameters:
[code]
Before indexing the documents in ES.
And now queries times with 185 thesis (1427 documents in total in ES) takes **1:30** minutes. Looks a lot better now.

Embedding time took more than 5+ hours though, went to work and was only finished wh

[2022-03-28 08:11] ZanSara commented on #2081
Since release 1.3.0 includes all Milvus fixes, I will close this issue. If you still experience similar problems with Milvus, please open a new issue :slightly_smiling_face:

[2022-03-28 08:11] #2081 closed

[2022-03-28 08:18] ZanSara commented on #2331
Hey @HighDeFing, great to hear that the query time looks reasonable now! :tada: 1-2 minutes is well within what I consider normal for a pipeline like yours, on your hardware. Unfortunately the same is true for the indexing part: with the amount of documents you have, there's no surprise it takes several hours.

If you manage to get the GPU going, your query time could go down to seconds and the in

[2022-03-28 08:18] vblagoje commented on #1908
Hi @julian-risch, @bogdankostic and @MichelBartels - I'll be implementing GPL this week. From the outset, I wanted to run three design questions/approaches by you.

1) Document input format. As @MichelBartels suggested - it makes a lot of sense to have DocumentStore as input, but I would also add BEIR format. So we'll support those two formats as input. If users require more input formats, we can

[2022-03-28 09:46] laura-ham commented on #2357
Ah okay, thanks for your explanation @ZanSara.

@StefanBogdan can update the python client, for that @bobvanluijt can you add Stefan to your project? (you made the PR with your personal account, not with SeMI's account so he has no access to edit the code and contribute to the PR). Please contact @StefanBogdan if it's not clear ;)

[2022-03-28 10:13] TuanaCelik commented on #2331
@HighDeFing great to see that the preprocessor step helped you so much. I had a problem with a demo this week which ended up being solved exactly like this too! I think we both ended up learning about the same problem with large documents during the same week 😄

[2022-03-28 10:21] #2331 closed

[2022-03-28 12:25] StefanBogdan commented on #2357
I left them a review on one of the PRs, I hope it solves their issue.

[2022-03-28 14:24] TuanaCelik opened #2364 "Tutorial 14 is quite complicated to follow"
As discussed with @mkkuemmel - Tutorial 14 is quite complicated to follow and explains a few things in parallel that could possibly be made simpler by splitting the tutorial into a few:
 - one to show Keyword vs Question/Statement classifier
 -  Another to show Question vs Statement classifier

Or another idea would be to extend the markdown explanations in the current tutorial.

[2022-03-28 15:25] NeuroinformaticaFBF opened #2365 "Prevent users to delete projects"
**Project deletion is relatively easy**
In the near future, I will have to make some users annotate several documents. Most of them are not used to use tools like this, so I'm very concerned that someone could unintentionally delete a project, since it is a relatively easy procedure (2 clicks)

**Users should not be able to delete projects**
The most simple solution would be to prevent single user

[2022-03-28 16:08] bogdankostic commented on #1908
Hi @vblagoje, looking very much forward to your implementation! Regarding your questions:

1. I like the idea of being able to provide data in BEIR format, this goes well with #2333 where we integrated BEIR to evaluate a certain pipeline.
2. I agree that it would be better to add GPL to haystack without adding another dependency.
3. I think that splitting GPL into **Label Generation** (including q

[2022-03-29 09:57] OriAlpha opened #2367 "gelectra-base model defination for distillation"
### Discussed in https://github.com/deepset-ai/haystack/discussions/2366

<div type='discussions-op-text'>

<sup>Originally posted by **OriAlpha** March 29, 2022</sup>
Hi all,
I am trying to create a distill version of gelectra-base model, as known we need model defination. I could not find in paper not at least full?  So is there any way i could achieve this?? or can i import from transformers as

[2022-03-29 11:50] NeuroinformaticaFBF commented on #2365
Thanks @ZanSara for your reply. I understand that.

I have an idea/question, that could help mitigate a lot this issue. Is there a way to automatically/programmatically export all annotations, and how can it be done? If this would be the case, I could export them once per day, thus deletion of a problem would do much less harm.

Thanks for your time

[2022-03-29 11:53] #1859 closed

[2022-03-29 11:53] #1920 closed

[2022-03-29 12:56] TuanaCelik commented on #2353
@Schokomensch This sounds good to me. Once you have the PR we can have a proper look at your implementation too. When you're ready, link the PR to this Issue so that we have a nice timeline of the discussions. Looking forward to it 👍🏾

[2022-03-29 14:34] tstadel commented on #2348
@TuanaCelik can we close that issue then?

[2022-03-29 14:59] TuanaCelik commented on #2348
@tstadel  Yes I think we can :)

[2022-03-29 14:59] #2348 closed

[2022-03-29 17:28] jtibshirani opened #2368 "Update to Elasticsearch 8.x?"
I noticed that the tutorials mention Elasticsearch 7.9 (for example https://haystack.deepset.ai/tutorials/first-qa-system). I was wondering if you had plans to update compatibility to ES 8.1 or later. Elasticsearch 8.x includes a built-in [ANN search feature](https://www.elastic.co/guide/en/elasticsearch/reference/8.0/knn-search.html) that will improve performance over the older `script_score` app