[2022-09-24 13:23] Timoeller opened #3275 "Failed to add isolated node eval when running pipeline.eval_batch with a GenerativeQAPipeline"
**Describe the bug**
When running pipeline.eval_batch with a GenerativeQAPipeline the isolated node eval options seems to be ignored.

**Additional context**
1. When running the same pipeline without batching it adds the isolated node eval. Only in eval_batch it dissmisses the parameter.
2. Running eval_batch with an ExtractiveQAPipeline does not ignore the isolated eval param.

**To Reproduce**
p

[2022-09-26 08:05] FabianHertwig commented on #193
Hi, in our case, the score is often around 0.5 and I would like to understand what that means.

So I found out the the Reader puts out vectors with logits for each token, predicting if that token is the start or end of the answer. The best and valid ones are then summed and put through the `expit` function like explained above. But what was the training target for the reader? Is it 1.0 for "this t

[2022-09-26 11:22] #3153 closed

[2022-09-26 13:18] #3210 closed

[2022-09-26 14:48] TuanaCelik opened #3279 "☕️ Contributor Cafe 2"
## ☕️Contributor Cafe 2 - 6 October 2022
<img width="847" alt="image" src="https://user-images.githubusercontent.com/15802862/192307514-87f24501-fee6-47b3-b4f8-9a042e056fad.png">

We're hosting our second **Contributor Cafe** on [Discord](https://discord.com/invite/VBpFzsgRVF). Use this issue to submit an agenda item as a comment.

This can be anything from a **PR** or **Issue** you would like to

[2022-09-26 14:57] #3279 closed

[2022-09-26 15:27] ugm2 commented on #586
Hi! 😃
Is this still impossible to implement? What if we are not using readers?
Thanks!

[2022-09-26 17:28] masci commented on #3009
Fixed in https://github.com/deepset-ai/haystack-tutorials/pull/31

[2022-09-26 17:28] #3009 closed

[2022-09-26 17:28] ugm2 opened #3281 "BaseRetriever checks `query` is passed using `not query` instead of `query is not None`"
I am using the [FilterRetriever](https://github.com/deepset-ai/haystack/blob/9582a423a2f4826a4a15529b72fea45da611b81c/haystack/nodes/retriever/sparse.py#L344) node which doesn't use the query that the user has to pass at all, just the filters to get filtered documents from the document store.

So I was following the advice in the [docstring of the class](https://github.com/deepset-ai/haystack/blob

[2022-09-26 17:30] #2096 closed

[2022-09-27 07:22] vblagoje commented on #3272
Confirming performance speedup when using FARMReader `predict` API and MP turned off, see colab [notebook](https://colab.research.google.com/drive/129-VEBDzBc0RF3D0dg8b2wWumSw8RhkU)

[2022-09-27 07:54] vblagoje commented on #3087
Here it is https://github.com/deepset-ai/haystack/issues/3272 @sjrl

[2022-09-27 09:46] vblagoje commented on #1077
Yes @tholor we got rid of it in preprocessing via https://github.com/deepset-ai/haystack/pull/3089 and now pending for inferencing via https://github.com/deepset-ai/haystack/pull/3283

[2022-09-27 15:50] robpasternak opened #3285 "Preprocessing: Warning when max doc length significantly exceeds preprocessor split length"
**Is your feature request related to a problem? Please describe.**
When running a retriever-reader pipeline, we noticed that certain inference times were much longer than others, and were even running into timeout problems. We thought this was odd, since we had a preprocessor splitting files into 250-word docs in order to avoid this. However, since `split_respect_sentence_boundary` was set to `Tru

[2022-09-27 19:23] 8088boy opened #3286 "Cannot start service haystack-api: could not select device driver "nvidia" with capabilities: [[gpu]]"
**Describe the bug**
I can't start the Haystack Demo with GPU. But the demo without GPU is working well.
I followed the tutorial to setup the demo by docker.  I am pretty new to the haystack. After checking through most of docs and FAQ, googled a few hours, but haven't found the solution to this problem. Thanks.

**Error message**
ERROR: for haystack-api  Cannot start service haystack-api: could n

[2022-09-27 19:46] danielbichuetti opened #3287 "Bad Semaphore initialization in RequestLimiter"
**Describe the bug**
RequestLimiter takes a number as parameter and use it to set up a Semaphore. The issue is that the environment variable indicates the concurrent allowed requests per worker. When the semaphore is created (https://github.com/deepset-ai/haystack/blob/6790eaf7d8be05c5674d97a75cc5783e00a66875/rest_api/rest_api/controller/utils.py#L13), this value is set down by 1. This is clearly

[2022-09-27 20:14] JacdDev opened #3288 "Add filters param to MostSimilarDocumentsPipeline"
I tried to get the most similar documents given a document identifier, which is essentially the functionality of MostSimilarDocumentsPipeline. However, I would like the returned documents follow certain rules, for instance, only return documents which belongs to a category.

I think the easiest and most flexible approach is including a filter parameter to the run mehod in the pipeline, because thi

[2022-09-27 23:29] danielbichuetti opened #3289 "FARMReader parallelism issues"
**Describe the bug**
When running FARMReader, without a GPU, it spawns the inferencers, start processing, but suddenly all process goes to 0% CPU usage, and it never returns any results. I noticed that despise it spawning 7 inferencers, it's using just 1 CPU core.

This has been tested on a notebook, and on 3 Azure instances.

When using TransformersReader, the same setup (models, instances, docum

[2022-09-28 08:25] ugm2 opened #3291 "`FilterRetriever` doesn't have an `__init__()` function"
**Describe the bug**
`FilterRetriever` inherits from `BM25Retriever`, just like his predecessor and deprecated `ElasticsearchFilterOnlyRetriever` did. But `FilterRetriever` doesn't have an `__init__()` function and that messes up the config of the node when doing `node.get_config()` when the node it's within a pipeline.

**To Reproduce**

In order for this script to work, you need to have an Elast

[2022-09-28 08:54] ugm2 commented on #3291
Pending PR from me. Should fix the problem, but it may need adding tests

[2022-09-28 15:46] clharman commented on #1077
FYI in case it wasn't clear -- the ~6x slowdown I measured was with multiprocessing turned off (num_processes=0 or 1). Maybe your change affects more than just that argument though. I also tried some basic profiling and found that all the compute time was happening during inference, rather than postprocessing.
<img width="990" alt="image" src="https://user-images.githubusercontent.com/6020766/1928

[2022-09-28 19:13] sjrl commented on #3288
Hi @JacdDev, thanks for opening the issue! I think that is a great idea. Would you be willing to open a PR with the suggested changes? We'd be happy to help answer any questions you have about the process.

[2022-09-28 19:20] sjrl commented on #3289
Hi @danielbichuetti thanks for opening the issue. This may be related to the multiprocessing in the `FARMReader` causing problems with the multiprocessing in the `Inferencer`. When initializing the `FARMReader` could you pass the option `num_processes=0`? So
[code]
and see if that prevents this thread locking from happening?

[2022-09-28 19:43] sjrl commented on #3281
Hi @ugm2 thanks for bringing this to our attention! Would you be willing to open a PR for this issue?

[2022-09-28 19:59] danielbichuetti commented on #3289
Hello @sjrl Thank you for your suggestion. It worked. It seems to be not a thread locking but a deadlock because of the multiprocessing.

[2022-09-28 20:02] sjrl commented on #3289
@vblagoje @Timoeller This sounds like another good reason to remove multiprocessing from the `FARMReader`.

[2022-09-28 20:08] JacdDev commented on #3288
Sure, I'm going to read the Contributor Guidelines and try to help, thanks.

[2022-09-28 20:30] danielbichuetti commented on #3289
Just to keep as a note, after setting `num_processes=0`, these are the results for

**FARMReader**
[code]

**TransformersReader**
[code]

[2022-09-28 21:31] sjrl commented on #3289
@Timoeller @vblagoje Tagging you guys to check out the above timings in regards to issue https://github.com/deepset-ai/haystack/issues/3272

[2022-09-28 23:45] sjrl commented on #3272
Considering the findings of issue #3289 my guess is that the multiprocessing present in the `Inferencer` does not work properly when using the parallelism of the `FastTokenizers` from HuggingFace, which causes the substantial slow down. I haven't had a chance to test this specifically, but this would explain why @danielbichuetti still sees multiple CPUs being utilized when using the `TransformerRe

[2022-09-29 02:58] mingfang commented on #1249
I'm seeing this crashing issue when running inside a Linux Docker container.
Setting `num_processes=1` avoids the crash but what is the permanent fix?

[2022-09-29 07:02] sinchanabhat opened #3296 "devices takes two cudas even when set to one"
I am trying to fine-tune DPR and set the devices=['cuda':8]. But while running, it takes cuda 0 by default and also cuda 2. I want to use only one cuda. Kindly let me know if I am missing something?

INFO - haystack.modeling.utils -  Using devices: CUDA:0 - Number of GPUs: 1
INFO - haystack.modeling.utils -  Using devices: CUDA:8 - Number of GPUs: 1

[2022-09-29 10:14] vblagoje commented on #3272
Updated [notebook](https://colab.research.google.com/drive/129-VEBDzBc0RF3D0dg8b2wWumSw8RhkU#scrollTo=5S0t7ZdVfV6F) to include TransformersReader performance. TransformersReader is slightly faster than FarmReader (no multiprocessing). The performance difference in the colab seems a bit more than it actually is. I ran these simple performance tests several times in a more controlled environment, an

[2022-09-29 10:33] danielbichuetti commented on #3289
When I received the notification about the performance on the other topic, I started a new test using your notebook and same dataset. The only difference I could see at first is that I tested with GPU disabled, only CPU working. Tests are being done in an Xeon 8 CPU 56 GB RAM in Azure ML Studio.

As soon the tests finish (I'll run 10 times, just to be sure), I'll post the update.

[2022-09-29 13:50] danielbichuetti commented on #3289
@vblagoje These are the results (median):

**Hardware: 8vCPU Intel® Xeon® Platinum 8370C (Ice Lake) / 56 GB RAM / 400 GB SSD**
**Platform: Azure ML**
**Model: deepset/roberta-base-squad2**

### Individual document, multiple calls, CPU

FARMReader
[code]

TransformersReader
[code]

### List of documents, one call, CPU

FARMReader
[code]

TransformersReader
[code]

However, I got interesting results

[2022-09-29 15:52] ugm2 commented on #3281
@sjrl yes, of course! I will create one as soon as possible

[2022-09-29 16:42] sjrl commented on #3296
Hi @sinchanabhat sorry to hear about your troubles. Could you share all the code you are using to fine-tune the DPR model? This will help us debug the problem you are facing.

[2022-09-30 11:27] #3169 closed

[2022-09-30 12:40] ZanSara commented on #3291
@ugm2 I have also drafted a fix in #3300. Feel free to test the branch out and let me know if you can reproduce the fix or if you have any comments on that. I will add some unit tests in the following days.

[2022-09-30 16:23] ugm2 commented on #3291
@ZanSara hi! That change makes much more sense to me. I just tested it with my script and it seems to work fine! I will add a comment to my PR relating it to your Draft PR and then feel free to close it

[2022-09-30 20:58] sjrl commented on #3254
Yes, I think so and deletion is also recommended in the Discord discussion. @avijit9 Would you be willing to open a PR for this?

[2022-10-01 11:45] JacdDev commented on #3288
Created a PR https://github.com/deepset-ai/haystack/pull/3301

[2022-10-01 17:37] PierFio opened #3302 "Failed to launch the docker container"
**Describe the bug**
The docker container using image deepset/haystack-gpu:latest fails to initialize and the container shuts down.

**Error message**
[code]
Apparently an elastic search server is not found when expected:
[code]
The retries certainly take less than 30s to fail on my system.

**Expected behavior**
Correct serving of the API by the container

**Additional context**
compose.yaml used

[2022-10-01 17:46] danielbichuetti commented on #3302
Hi @PierFio!

In your docker compose file, I can't see the Elasticsearch container. Default pipelines use that container. It's an example.

If you are trying to run a standalone deployment which is not the demo, change the pipeline yaml file to use another DocumentStore.

That error basically say the DocumentStore is inaccessible.

[2022-10-01 21:17] PierFio commented on #3302
Hello @danielbichuetti , thank you for the heads up. I was wondering that everything was included in the docker image. My bad :-)

[2022-10-01 21:17] #3302 closed

[2022-10-01 21:29] danielbichuetti commented on #3302
Here you can get a full compose yaml file:

https://github.com/deepset-ai/haystack/blob/main/docker-compose-gpu.yml

I hope this can help.

[2022-10-03 03:24] creatorrr opened #3303 "Bump docker images to use python 3.8+"
The haystack docker [images](https://hub.docker.com/u/deepset) currently come with `python3.7`. Unfortunately, library support for <=3.7 is starting to wane. Is it possible to bump the python version for the images to 3.8 or greater? Maybe publish separate versions?

[2022-10-03 07:45] ugm2 commented on #3281
Hi @sjrl ! I've created a draft PR for this issue. There's also a script for reproducing in the PR, but I haven't developed any tests yet.

These are changes to core classes, so I strongly recommend close supervision.

Also, I think this problem appears in a lot of classes (checking if a variable is passed using `if var`, instead of `if var is not None`) so we should check them all.

[2022-10-03 08:02] creatorrr opened #3305 "Docker images re-download models despite running `cache_models` at build time"
_[EDIT] Simplified version of Dockerfile_

**Describe the bug**
Docker images re-download models despite having already run `haystack.utils.docker.cache_models` at build time. The docker image builds successfully but on starting up, it still downloads all the models from scratch and doesn't use the pre-cached models. I am guessing there may be a directory mismatch.

_Dockerfile:_
[code]

**Expecte

[2022-10-03 09:21] masci commented on #2812
This epic wasn't well defined in the first place, but we've completed some exploratory work in Q3 that added clarity and will let us continue the work around LLM in different, upcoming epics.

[2022-10-03 09:21] #2812 closed

[2022-10-03 09:21] #1953 closed

[2022-10-03 09:29] masci commented on #1952
The scope of the epic is too broad and Haystack's deployment is becoming a hot topic in the Community - I'm going to close this epic as done limited to the Helm chart work, following up on the remaining topics with different streams of work that will be tracked in different epics/tasks.

[2022-10-03 09:29] #1952 closed

[2022-10-03 10:11] masci opened #3306 "Expand LLM support"
Haystack can already work with LLM (see GPT-3 usage on answer generation) but it falls short in showing how the feature can actually help users. We can collect LLM related features under two large umbrellas:

- External usage of LLM
    - Haystack is used to communicate with a 3rd party service managing the LLM (e.g. OpenAI)
    - https://github.com/deepset-ai/haystack/pull/3453
    - https://gith

[2022-10-03 10:14] sud0x00 opened #3307 "ModuleNotFoundError: No module named 'haystack.retriever'"
[code]

I'm trying to use Embedding retriever in my search engine program and I'm getting an error.

**Error message**
[code]

**FAQ Check**
- [✓] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?

**System:**
I'm using Google Colab for my project

[2022-10-03 10:21] sud0x00 commented on #3307
```from haystack.nodes import EmbeddingRetriever```

Sorry y'all ! I just had to use this instead of         ```from haystack.retriever.dense import EmbeddingRetriever```

[2022-10-03 10:36] #3307 closed

[2022-10-03 10:37] masci opened #3308 "Improve document conversion"
File conversion and data extraction has proven problematic lately: we have several converters and parsers in Haystack but it’s not always clear which one (or which combination) to use; sometimes one tool is good for a task but not for another; special characters and text layout can easily make document ingestion fail.

## Desired outcome

- Fix the pain points with PDF layouts: special chars, mult

[2022-10-03 10:49] masci opened #3309 "Use telemetry to identify most common errors"
We often see `PipelineConfigErrors` coming from telemetry but we almost never investigate what's the problem underneath. During Q4 we want to leverage telemetry data to improve the user experience, analysing root causes, identifying common pain points and providing mitigations.

## Desired Outcomes

- [ ] Provide a list of root causes to the most recurring errors, sorted by frequency
- [ ] Detail

[2022-10-03 11:41] masci commented on #3303
Hi @creatorrr

with 1.9 we deprecated the old docker images (see [release notes](https://github.com/deepset-ai/haystack/releases/tag/v1.9.0)) and the [new ones](https://hub.docker.com/r/deepset/haystack/tags) already ship Python 3.10 in their `CPU` flavour.

The `GPU` version uses a [Pytorch base image](https://github.com/deepset-ai/haystack/blob/main/docker/docker-bake.hcl#L60) that unfortunately

[2022-10-03 11:44] creatorrr commented on #3303
Gotcha, thanks for the update @masci . Unfortunately, I do need the gpu variants. Can you please point me to any specific docker build instructions that I can use? I'll try to see if I can get it built on base images with a more recent python version.

[2022-10-03 14:10] pedrocolon93 opened #3310 "Document from_dict does not have the correct default"
**Describe the bug**
I was trying to run an update_embeddings method on a dataset that I have of dicts. However, after ingesting the data in elastic search and running the update method I kept getting a field cannot be None error, mind that this worked on my macbook, not on a linux server.

**Error message**
Error that was thrown (if available)
It was essentially that content-type cannot be none i

[2022-10-03 14:59] masci commented on #3303
Have a look at https://github.com/deepset-ai/haystack/tree/main/docker it contains the bakefile to build the new images, you can take inspiration from there and try locally

[2022-10-03 15:18] masci opened #3311 "Benchmark Haystack components"
We want to measure the performance of each "family" of Haystack components: Document Stores, Retrievers and Reader with different models, both standalone (when possible) and within pipelines. The goal is twofold:
- allow users to take informed decisions when they design Haystack pipelines
- identify bottlenecks and performance regressions

A possible solution might be hosting multiple real-world p

[2022-10-03 15:21] masci opened #3312 "QA pipeline deployment on Kubernetes"
We want to show that Haystack can be easily deployed in a production environment. The ideal output would be an “How To” article where we explain the steps needed to deploy a working instance of a QA pipeline in a Kubernetes cluster, including:

- Configuring the ingress and exposing the Rest API to the internet
- Configuring the pipeline in a way that can be easily edited
- Keeping the Haystack se

[2022-10-03 15:25] masci opened #3313 "Autosuggest queries to users"
Sometimes Haystack is rather used as an "exploration tool" for a corpus and it's then helpful to show users queries that are possibly meaningful to ask in that corpus. Especially the very first query is often hard as users don’t really know what could be asked in a corpus.

Showing “suggested questions” could either help them to kickstart their initial exploration, or if they already asked a quest

[2022-10-03 19:49] mattkallo opened #3315 "How to install only selected components?"
How do we install only selected components. For eg. I want to disable DocumentStore and Rest API  and need only the summarizer component. Is there a way to install individual components using pip?  It also seems to be running/listening on port 8000, how do I change this port? What starts on this port?

Below is the command I am using now

Thanks

[2022-10-03 19:55] mattkallo commented on #3315
Sorry. Added this to discussions since this is not an issue. Unable to delete.

[2022-10-03 19:55] #3315 closed

[2022-10-04 03:46] #3289 closed

[2022-10-04 08:20] chicuong209 commented on #17
Did you resolve the issue?

[2022-10-04 08:21] chicuong209 commented on #17
Did you resolve this issue? If yes, could you please share your solution?

[2022-10-04 12:08] #3272 closed

[2022-10-04 17:30] creatorrr commented on #3305
Any ideas? It would be reaaally useful to cache models at build time :-|

[2022-10-04 17:53] tstadel opened #3320 "`OpenSearchDocumentStore` script score query with filters is invalid"
**Describe the bug**
When using script score in OpenSearchDocumentStore with filters, the resulting query is invalid producing HTTP 400.

**Error message**
[code]

**Expected behavior**
`OpenSearchDocumentScore` script score works with filters

**To Reproduce**
1. index documents to `OpenSearchDocumentStore` (with embeddings and meta fields)
2. set `embeddings_field_supports_similarity` to `False`

[2022-10-04 21:16] anakin87 commented on #3258
Hey @ZanSara!

I think that this line is **superfluous** and indeed is probably wrong:
https://github.com/deepset-ai/haystack/blob/6cb4e939653719698764b2e0ad379b0859f862be/haystack/nodes/retriever/_embedding_encoder.py#L214

In fact, before calling that method, in the `embed_documents` method (of the `EmbeddingRetriever`), `_preprocess_documents` is called and the meta fields indicated by `embed_m

[2022-10-05 01:35] creatorrr commented on #3303
@masci opened a pr (wip) that uses `nvidia/cuda` as base and installs python3.10 manually on top of it

[2022-10-05 10:24] einarbmag opened #3327 "Using multiple indices in FAISS seems broken"
**Describe the bug**
I'm trying to use FAISS document store and want to store multiple use cases in the same document store, i.e. specify different "index" during writing and querying. Everything works as expected for the first index I create, but for the subsequent ones, the query results are unexpectedly limited.

I looked into it, and I think what's happening is:

in the FAISS db, documents in

[2022-10-05 14:14] sjrl commented on #1077
Hi, @clharman we believe we resolved the difference in time between the two reader types by finishing this PR https://github.com/deepset-ai/haystack/pull/3283.

There is also further discussion on this in issues https://github.com/deepset-ai/haystack/issues/3289 and https://github.com/deepset-ai/haystack/issues/3272.

[2022-10-05 14:49] spaschsva opened #3328 "Haystack Deployment on Air Gapped Openshift"
To deploy Haystack open source in our environment, we first have to build the docker images in a dmz (artifactory) with internet access. Once the build is complete, the image is then imported into the internal network where Openshift is deployed. During the build process, we did not experience any issues, i.e., we did not receive any error. However, when we try to run the image in our internal air

[2022-10-05 15:07] vblagoje commented on #1077
Hey @clharman also please have a look at this Colab [notebook](https://colab.research.google.com/drive/129-VEBDzBc0RF3D0dg8b2wWumSw8RhkU?usp=sharing) I am not getting such high variance in performance results (cpu only). Let us know either way.

[2022-10-05 15:07] julian-risch commented on #3327
Hi @einarbmag I was able to reproduce the bug that you described. Thank you for the detailed description. I think you are right about why the bug occurs, which already points to a way to fix it. 🙂 If you want, you would be more than welcome to try to create a pull request with a fix yourself. Otherwise, I'll discuss with the team how to address this issue in our next sprint.

[2022-10-06 04:19] jordanparker6 opened #3331 "RayPipeline | Error Loading YAML Config"
**Describe the bug**
Error loading RayPipeline.from_yaml_config().

**Error message**
[code]

**To Reproduce**
[code]

[code]
**System:**
 - OS:  macos
 - GPU/CPU: cpu
 - Haystack version (commit or version number): 1.8.0
 - DocumentStore: OpenSearch
 - Reader: FARMReader
 - Retriever: BM25Retriever

[2022-10-06 09:29] tstadel opened #3334 "schema generation seems to depend on dependencies/environment"
**Describe the bug**
Depending on which python env one's running `python .github/utils/generate_json_schema.py` this might produce schemas with arg types in different orders.

See run https://github.com/deepset-ai/haystack/actions/runs/3195756209/jobs/5216810534
of [this PR](https://github.com/deepset-ai/haystack/pull/3321). There was nothing changed between the failing run and the previously work

[2022-10-06 09:48] julian-risch commented on #3334
I have also seen this exact change in another PR: https://github.com/deepset-ai/haystack/pull/3318

[2022-10-06 13:41] #3320 closed

[2022-10-06 16:32] mathislucka commented on #3249
Here is a test case where the same error is triggered for a custom node:

[code]

[2022-10-07 08:23] vblagoje opened #3342 "Improve pipeline telemetry"
**Is your feature request related to a problem? Please describe.**
There are a couple of minor issues related to current pipeline telemetry:

- The pipeline event is currently named `pipeline` and it doesn't follow the Posthog naming convention of  "[noun][verb]".
- Not properly naming pipelines with multiple retrievers as they are now simply classified "Unknown pipeline"
- Potentially change how

[2022-10-07 09:19] julian-risch commented on #3191
Hi @chintanshrinath I tried to reproduce the issue you reported and uploaded 25 txt files. However, I didn't face any problems and all 25 files got uploaded successfully. Therefore, I assume that it has to do with the content or names of your text files. Could it be that some of the files have the exact same content? In that case they could get filtered out as duplicates. Or could it be that some

[2022-10-07 09:26] julian-risch commented on #3328
The following issue is related to this: https://github.com/deepset-ai/haystack/issues/3305

[2022-10-07 17:39] Goader opened #3348 "Move `document_store` argument to `retrieve` method instead of the Retriever's constructor"
**Is your feature request related to a problem? Please describe.**

Retrievers' constructors require the `document_store` parameter to be created. While this may be ok for sparse retrievers, DPR, for example, requires loading models. And then, when I want to use the same retriever, but with a different document store, I have to create a new instance of it making all the models load again, which do

[2022-10-07 23:58] sankalp-acl commented on #1801
Hi @ZanSara - has this been resolved? I'm still getting this error while trying to load a fine-tuned model (bert-base-uncased) from the local path.

My code:

[code]

I'm getting the following error:
[code]

[2022-10-08 03:41] chintanshrinath commented on #3191
Hi @julian-risch
Thanks for reaching out.

Yes, as you suggest, I converted txt in proper format,  now,I am able to upload the files.

Earlier it was longer name of the file and text file was not utf-8 format.

Thanks for your support.

We may close this issue.

Thanks

[2022-10-09 12:22] hsm207 opened #3352 "validate_config_strings() wrongly validate's schema for Weaviate"
**Describe the bug**
A clear and concise description of what the bug is.

The [validate_config_strings ](https://github.com/deepset-ai/haystack/blob/b84a6b17165dbf10665794b5decdefa113300749/haystack/pipelines/config.py#L103-L139) function will throw an exception if the `description` key contains spaces or apostrophes.

**Error message**
Error that was thrown (if available)

**Expected behavior**
A

[2022-10-09 18:29] hsm207 commented on #3352
The yaml validation also breaks if we specify a `dataType`  like `number[]`

[2022-10-10 06:57] sinchanabhat opened #3353 "Data pipeline parallelism doesn't work for multiple GPUs when trying to fine-tune DPR."
**Bug description**
Data pipeline parallelism doesn't work for multiple GPUs when trying to fine-tune DPR. This is because the biadaptive model instance is not called as a module. The bug disappears if you call the biadaptive model as module.biadaptive. This caused us to reuse and override unnecessary code from haystack in our code base.

**Error message**
It throws the error of "input and label i

[2022-10-10 08:36] julian-risch commented on #3353
Hi @sinchanabhat thank you for reporting this bug and also for sharing how you fixed it! 👍 I would like to invite you to make a pull request with your fix if you have the time to do it. Just let us know. 🙂

[2022-10-10 08:44] julian-risch commented on #3352
Hi @hsm207 thank you for reporting this issue. We are currently working on a solution for this issue and [a similar issue](https://github.com/deepset-ai/haystack/issues/3249) as well in the following PR: https://github.com/deepset-ai/haystack/pull/3345

[2022-10-10 08:47] julian-risch commented on #3352
My first guess is that we won't allow arbitrary strings as descriptions. There will be some limitations to what this string is allowed to look like. Once the PR https://github.com/deepset-ai/haystack/pull/3345 is merged, we need to improve the documentation to make these limitations more visible. @agnieszka-m @brandenchan

[2022-10-10 08:52] julian-risch commented on #3348
Hi @Goader thank you for making this suggestion and for describing it in so much detail. 👍 We thought about improving the current coupling of retriever and document store in our team too. What do you think about the suggestion here @ZanSara @masci ?

[2022-10-10 08:56] masci commented on #3348
@julian-risch I think the solution proposed here could be implemented right ahead: users would get immediate benefit but the overall logic would stay the same, without affecting the long-term plan of revisiting the retriever/docstore design

[2022-10-10 11:08] #3249 closed

[2022-10-10 13:17] bogdankostic commented on #3352
Hi @hsm207, we just merged #3345 which allows simple whitespaces and squared brackets, so `number[]` should work. However, having apostrophes in the description field still won't work.

[2022-10-11 01:57] jaehyeongAN commented on #17
@chicuong209 My exteral Elasticsearch IP was cloud service. So, access was only available by https. I added parameter of 'sheme'
[code]

[2022-10-11 08:48] julian-risch commented on #3310
Hello @pedrocolon93 thank you for creating this issue. I agree that the actual default value of `content_type` should be consistent with the schema. @bogdankostic I think we could set the `content_type` of all documents to `text` if it is not already set to "table", "image" or "audio". What do you think?

[2022-10-11 09:20] bogdankostic commented on #3310
Yes, I agree, the default content_type should be `text`. I'm just wondering how the ingested Documents ended up not having the `content_type` field, as we set it to `"text"` by default whenever we create a new Document object without specifying a content_type.

[2022-10-11 16:51] ZanSara commented on #3258
Hey @anakin87, wow, thank you for digging into this one.

So, although I don't believe this duplication benefits anyone, there might be parts of the code deep into the retriever that either assume the name will be in the first position of the list, and others that assume the name is already concatenated. My recommendation would be to proceed, remove the line, and then thoroughly test the resulting

[2022-10-11 17:12] julian-risch commented on #3258
Mayank is already working on this.

[2022-10-11 17:13] julian-risch commented on #3258
@mayankjobanputra

[2022-10-11 17:23] ZanSara commented on #3258
@julian-risch thanks! I wasn't aware yet :+1:

[2022-10-11 17:29] ZanSara commented on #1801
Hey @sankalp-acl, the original issue is very old and likely to be unrelated (that part of the codebase has been rewritten). Please open a new issue and reference this thread. In the new issue, please mention me and share the full stacktrace, so I can pin down exactly where the issue occurs. Thank you!

[2022-10-11 17:29] #1801 closed

[2022-10-11 18:56] sankalp-acl opened #3364 "EmbeddingRetriever doesn't load custom trained models"
**Describe the bug**
The `EmbeddingRetriever` does not load a custom-trained (fine-tuned) BERT-based model (`bert-base-uncased`) on providing a local path.

Creating this issue as per the discussion [here](https://github.com/deepset-ai/haystack/issues/1801#issuecomment-1275041078) cc: @ZanSara

**Error message**
[code]

**Expected behavior**
As per the [API reference documentation](https://haystac

[2022-10-12 07:29] julian-risch commented on #3286
Hi @8088boy This issue might point to problems with the docker installation. I have find this related issue here: https://github.com/NVIDIA/nvidia-docker/issues/1637#issuecomment-1130151618 Please have a look at the problem described there. The user was able to solve the problem by re-installing docker but using a different way to install docker then before.

[2022-10-12 07:53] sjrl commented on #3353
Hey @julian-risch I'd be happy to open a PR for this since this also affects the Pytorch AMP PR for multi-gpu training https://github.com/deepset-ai/haystack/pull/2827

[2022-10-12 08:08] julian-risch commented on #3353
That would be great! 👍 Please assign the issue to yourself once you start working on it and then remove the "Contributions wanted!" tag. Thank you!

[2022-10-12 13:41] AJ0287377 commented on #3310
Hello,
Also maybe it could be an idea to be able to specify the field name (in the document store). For example I had to change manually in the "from_dic" function the variable from "content_type" to "type", as defined in my mapping. Thanks.

[2022-10-12 15:09] Akshayextreme opened #3369 "Trying to load a YAML pipeline with a Retreiver using custom_query fails"
**Describe the bug**
I am trying to use `custom_query` field in `Retriever` and it works perfectly when I manually add nodes to pipeline. After I export the pipeline into YAML file then try to load it using `load_from_yaml` it fails.

Here is working code -
[code]
Here is saved YAML file -
[code]

But when I try to load the same YAML file, it fails -
[code]

**Error message**
[code]

**Expected be

[2022-10-12 17:56] MuatazMohammed commented on #925
could i make some discussion with you via zoom meeting? @brandenchan

[2022-10-12 21:52] anakin87 commented on #3327
Hey guys, as you know, I like to :pick: dig deep into code history.

### `vector_id` is unique
In  #556, `vector_id` was defined as unique:
https://github.com/deepset-ai/haystack/blob/db6e5754cd71dd822f466bebe3882dc61de00c44/haystack/document_stores/sql.py#L55

**Is this behavior still desired?** I don't see why `vector_id` with the same value cannot exist in different indexes. But I'm not aware o

[2022-10-13 02:23] youxingtian opened #3376 "when I use Milvus1DocumentStore,I get this error"
**Describe the bug**
A clear and concise description of what the bug is.
the demo is:
[code]

**Error message**
Error that was thrown (if available)
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here, like document types / preprocessing steps / settings of reader etc.

**To Reproduce**
S

[2022-10-13 02:53] hsm207 commented on #3352
@bogdankostic great! thanks for the update.

[2022-10-13 06:05] #3353 closed

[2022-10-13 07:43] sjrl commented on #3353
Hey, @sinchanabhat parallel training should now work for fine-tuning DPR models in the main branch of Haystack. Could you try it out and see if it works for you?

[2022-10-13 07:53] masci opened #3377 "Update Node version in Github Actions"
**Describe the bug**
Node 12 has been deprecated in favor of 16 and actions using the old runtime will eventually fail, see https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/

Actions that need to be updated:
- actions/checkout
- actions/setup-python
- actions/cache

**Expected behavior**
No warnings related to using Node 12 in all t

[2022-10-13 08:43] julian-risch commented on #3376
@youxingtian Thank you for reporting this bug. The error message indicates that `document_count = len(result)` can't be executed because result is of type 'generator', which has no `len()`.
To fix this bug, we would need to replace the line with something like

`document_count = self.get_document_count(index=index)`. However, `get_document_count` is not implemented yet for `Milvus1DocumentStore`.

[2022-10-13 08:48] youxingtian commented on #3376
Thank you for your reply,my haystack version is v1.9.0

[2022-10-13 08:51] julian-risch commented on #3369
Hi @Akshayextreme thank you for reporting this bug. When the YAML file is loaded, Haystack tries to validate the content of the file against a schema. I assume that this validation fails because the content of the `custom_query` field contains special characters that usually do not occur in other parts of a YAML file, such as {,",$,*,].
If you are on the latest version of the main branch, I think

[2022-10-13 09:10] bogdankostic commented on #3369
The value of `custom_query` parameter is actually validated differently than all the other parameters. For `custom_query`, we basically check if the provided value is valid JSON by trying to load it using `json.loads` (see [here](https://github.com/deepset-ai/haystack/blob/main/haystack/pipelines/config.py#L121)). My first guess would be that this doesn't work with the placeholder `${query}`.

[2022-10-13 09:27] sinchanabhat commented on #3353
This is pure joy! I will update you guys by tomorrow. Thanks!

[2022-10-13 09:40] ZanSara commented on #3327
Hey @anakin87! :blush: Thank you once more for this research! I believe your analysis is correct and I don't see why we should have such mismatch between the `vector_id` in FAISS and in SQL. I'd imagine this was an early oversight and, as you discovered, it was later worked around.

So:
1. Yes, let's remove the UNIQUE constraint on vector_id and revert #1961

2. Then, let's test. Can we add one or

[2022-10-13 09:53] #3076 closed

[2022-10-13 11:19] Akshayextreme commented on #3369
Thank you @julian-risch for the detailed explanation!

@bogdankostic yes, you are right. It is failing at `json.loads` because of `${query}` placeholder.

As a workaround, since `${query}` placeholder is mandatory I have commented out `JSON` validation check for `custom_query` and it is working as expected. I will see what else can be done for permanent fix and will post it here.

[2022-10-13 11:23] #3254 closed

[2022-10-13 15:53] ZanSara commented on #3348
Ok, after a review of the code I realized that this is doable if we don't want to affect Pipelines at all. I'll go ahead and give it a try to see if my idea is correct. I'll link a PR soon.

[2022-10-13 16:25] vblagoje opened #3380 "QuestionGenerator generates wrong document questions for non-default `num_queries_per_doc`"
**Describe the bug**
QuestionGenerator, for the non-default values of `num_queries_per_doc` parameter, generates questions that don't match the order of given documents. For example:

[code]

However, not all the questions[0] and questions[1] are guaranteed to come from the first and second documents, respectively, but are likely to be mixed up. For example, questions[0] and questions[1] are likel

[2022-10-13 20:19] danielbichuetti opened #3382 "Schema representation bug on Jupyter"
**Describe the bug**
While doing tests with WeaviateDocumentStore on a JupyterHub instance, I noticed the Document schema `__repr__` has issues.

**Error message**
[code]
**Expected behavior**
Schema should support correctly string representation for tests on Jupyter

**Additional context**
Add any other context about the problem here, like document types / preprocessing steps / settings of reader

[2022-10-14 07:55] #3327 closed

[2022-10-14 08:55] ugm2 opened #3386 "Bug: Load PreProcessor with `split_by: None` from config fails"
### The issue
When trying to load the PreProcessor node with `split_by: None` from config fails.

### Reproduce the issue
To reproduce the issue, execute this script with the latest Haystack version and python 3.8:

[code]

### The error

Where it fails:
https://github.com/deepset-ai/haystack/blob/7290196c32abf44e269caa03e1d2178c77992b0e/haystack/pipelines/config.py#L307-L331

The actual error:

[

[2022-10-14 09:17] ugm2 opened #3387 "Feature: allow decreasing dataset size in `eval_beir()`"
**Describe the solution you'd like**
It would be nice to allow the user to decrease the dataset when evaluating pipelines using [`eval_beir()`](https://github.com/deepset-ai/haystack/blob/7290196c32abf44e269caa03e1d2178c77992b0e/haystack/pipelines/base.py#L727) to do a quick or reduced test, for instance. Since the downloading and loading of the dataset is done inside `eval_beir()`, there's no pos

[2022-10-14 09:37] julian-risch commented on #3387
@ugm2 Thank you for this suggestion, Unai! I agree that this would be a nice additional feature. Some datasets are very large and running an evaluation on the full dataset would take a long time. Having the option to first do a quick evaluation run on a small subset would be great.
I think this is a good issue for community contributions. So if you or anyone else from the community would like to w

[2022-10-14 09:44] julian-risch commented on #3386
@ugm2 Thank you also for reporting this bug, Unai! The problem seems to be the type of the `split_by` parameter indicated here: https://github.com/deepset-ai/haystack/blob/main/haystack/nodes/preprocessor/preprocessor.py#L54 and the schema file generated based on that with the following line: https://github.com/deepset-ai/haystack/blob/7290196c32abf44e269caa03e1d2178c77992b0e/haystack/json-schemas

[2022-10-14 10:08] #3380 closed

[2022-10-14 12:41] julian-risch commented on #3386
Hi @ugm2 here is a PR that should fix the issue: https://github.com/deepset-ai/haystack/pull/3389 If you want you can try it out by checking out the branch of the PR even before we merge it into main.

[2022-10-14 13:05] anakin87 commented on #3085
Hey!
@ZanSara @masci for the `ui` package, is this update still desirable?
If so, I would be happy to try as soon as #3337 (slightly related) is merged!

[2022-10-14 13:30] danielbichuetti opened #3390 "Weaviate error when updating embeddings"
**Describe the bug**
After initializing Weaviate with dummy embeddings (just meta), and trying to update embeddings, it throws an error because of pagination limits.

**Error message**
[code]

**Expected behavior**
It's expected that embeddings get updated correctly.

**Additional context**
This error happens because of the pagination limit (10000) that was introduced on release 1.8.0.

Probably s

[2022-10-14 13:44] anakin87 commented on #3390
Similar to #2898

[2022-10-14 14:17] anakin87 commented on #3181
Hello @wochinge!

I'm trying to understand this issue...

If your proposal is implemented,
`label = Label(answer=Answer(answer="", context="some value"), query="test", document=Document("dasd"), is_correct_answer=True, is_correct_document=True, origin="user-feedback")`
immediately raises
`ValueError: Got no_answer == True while there seems to be an possible Answer: <Answer: answer='', score=None,

[2022-10-14 14:22] ugm2 commented on #3387
@julian-risch I have already drafted a PR, please check it out 😊

[2022-10-14 14:26] danielbichuetti commented on #3390
@anakin87 The error message is similar, but unfortunately the error is because of the used logic and the pagination limits in Weaviate.

[2022-10-14 14:35] ugm2 commented on #3386
Hey @julian-risch ! I just checked out to the branch of the PR and tried my script and it worked like a charm! So yeah, that'd work for me 🙂

[2022-10-14 15:55] julian-risch commented on #3386
Great to hear that. Thank you for trying it out. 👍

[2022-10-14 16:16] masci commented on #3085
@anakin87 yup, still something I'd like to do! Merging #3337 now as I got confirmation the fix is working on other environments besides mine.

[2022-10-14 16:36] #3334 closed

[2022-10-14 18:34] danielbichuetti opened #3393 "Feature[OpenSearchDocumentStore]: Allow custom values for primary and replica shards during index creation"
**Is your feature request related to a problem? Please describe.**
Today when we use Haystack to preprocess a large dataset and index it using the OpenSearchDocumentStore, Haystack uses as default a 1:1 sharding, one primary and one replica. While this may be reasonable for simple labs, when we are talking about billions of documents this turns extremely unefficient. Usually a shard is not recomme

[2022-10-15 14:41] bobvanluijt commented on #3390
@byronvoorbach / @dirkkul - can we help with this? Seems like a legacy issue which can be resolved now.

[2022-10-15 15:21] etiennedi commented on #3390
Hi all. From what I understand, a [Cursor API](https://github.com/semi-technologies/weaviate/issues/2302) in Weaviate would be helpful here? Feel free to upvote the linked issue to indicate demand for it.

[2022-10-15 15:35] danielbichuetti commented on #3390
Thank you, @bobvanluijt and @etiennedi for the support! :smiley:

 This would allow using Weaviate into Haystack production scenarios without complex solutions.

[2022-10-15 19:52] jamescalam opened #3397 "Pinecone datetime bug"
**Describe the bug**
Some content strings seem to be falsely recognized as datetime objects by the Pinecone client. In the past this didn't trigger any errors but as of v1.8 (maybe earlier) the `EmbeddingRetriever` class was updated to support table documents, to do that the function `_preprocess_documents` includes a line:

`doc.content = "\n".join(meta_data_fields + [doc.content])`

This trigger

[2022-10-15 19:56] jamescalam commented on #3397
I'm happy to submit a PR for this, I think (1) the Pinecone-client should be adjusted to not return datetime formats in this case and possibly (2) the format of doc.content should always be a string? So, could we convert to string or does this just cover potential bugs?

[2022-10-17 14:00] brandenchan opened #3403 "Make Summarizer work in indexing pipeline"
Currently, when the Summarizer is run at query time, its primary output is the summarized text, and the original, full text is stored in metadata as "context".

There should be support for the Summarizer to be used in an indexing pipeline. When run, the Summarizer should not change `Document.content` but should rather populate metadata with a `summary` field.

[2022-10-17 16:39] coryroyce commented on #2646
Is there an updated tutorial I can run in Colab with the latest methods to fetch results? [This demo](https://github.com/pinecone-io/examples/blob/master/integrations/haystack/nhs-search/notebooks/01_test_pipeline.ipynb) fails at the `no attribute 'results' at ['['received_data']']['results']` like you mentioned above.

[2022-10-17 16:58] #2857 closed

[2022-10-17 17:00] #3281 closed

[2022-10-18 08:24] ZanSara commented on #3397
Hey @jamescalam! Feel free to go ahead with the fix! Keep in mind though that the content of the `content` field can be either a `str` or a `pd.DataFrame` object, exactly to support tables. You can definitely serialize it to a str to store it in Pinecone, but make sure to deserialize it once it comes out of it :slightly_smiling_face:

[2022-10-18 08:31] ZanSara opened #3406 "Improve batching strategy for MultiModalRetriever"
See https://github.com/deepset-ai/haystack/pull/2891#discussion_r994593269

Currently `MultiModalRetriever` batches the documents without considering their type.
https://github.com/deepset-ai/haystack/blob/15a59fd04071dc1e13c256680407ba1b63e7b1f2/haystack/nodes/retriever/multimodal/embedder.py#L145

The way it is now, we cannot be sure how many Documents each embedding model will get at a time (on

[2022-10-18 08:34] ZanSara opened #3407 "Support other models than `sentence-transformer`s in MultiModalRetriever"
See https://github.com/deepset-ai/haystack/pull/2891#discussion_r996848341

Currently MultiModalRetriever works uniquely with SentenceTransformers models. We initially considered supporting other Transformers models too, but then realized there was close to no usecases for them, so we dropped it.

We should re-evaluate this choice in the future as different ways to perform inference (i.e. through

[2022-10-18 12:08] wochinge commented on #3181
Exactly 👍🏻

We should always run the validation _even_ if we are setting default values. Currently, we skip the validation when we set the default value for `no_answer`

[2022-10-18 12:26] anakin87 commented on #3403
@brandenchan it seems fair and reasonable to me!

How to distinguish if the Summarizer is used for queryies or for indexing?
Any suggestions/resources?

[2022-10-18 14:03] brandenchan commented on #3403
So `BaseDocumentClassifier.run()` takes `root_node` as an argument. When `root_node=="File"` it's indexing, and when `root_node=="Query"` it's querying. I'm sure that we could implement the same for `BaseSummarizer.run()`.

[2022-10-18 15:51] #3106 closed

[2022-10-18 16:03] ZanSara opened #3410 "Training and evaluation for `MultiModalRetriever`"
Currently there's no `train()` or `eval()` methods for `MultiModalRetriever`.

We should add them, taking inspiration from `EmbeddingRetriever`.

[2022-10-18 20:17] bobvanluijt commented on #3390
You're very welcome @danielbichuetti 👍

[2022-10-19 08:11] #3386 closed

[2022-10-19 08:25] ZanSara commented on #3403
To add my two cents, I believe it's better if Summarizer works consistently in both pipeline types though. In a query pipeline the fact that content is unchanged, and simply a `summary` field appears in the metadata, would be already great (and in  my opinion generally better).

[2022-10-19 08:52] ZanSara commented on #3331
Hello @jordanparker6! You point out a few valid issues and I plan to address them soon. In the meantime, try with the following YAML:
[code]

I'd recommend you to configure your editor to validate these YAML against our schemas. They help a lot catching typos and disallowed properties: https://docs.haystack.deepset.ai/docs/pipelines#validating-your-yaml

Let me know if the new YAML helps you!

[2022-10-19 09:39] ZanSara commented on #3246
Hey @nickchomey sorry for the very late reply here :smile: I guess this issue is being helped by your main PR (https://github.com/deepset-ai/haystack/pull/3274), or is this not being addressed? I believe it's not explicitly addressed, but it might be that this issue got solved among other changes.

If not, why it's important for `PDFToTextConverter` to preserve the number of `\n`? And why in that

[2022-10-19 09:40] robpasternak opened #3418 "Trouble with retriever filtering in dC"
**Describe the bug**
I had a standard retriever-reader pipeline on deepset Cloud with an embedding retriever (`top_k` = 10) and `roberta-large` reader model. The use case was standard QA, so lots of repeated queries filtering by various file IDs. When doing this we noticed that for many filtered queries the retriever wasn't returning any documents at all. After talking with @tstadel about this, he

[2022-10-19 09:54] masci commented on #3382
Fixed in https://github.com/deepset-ai/haystack/pull/2891

[2022-10-19 09:54] #3382 closed

[2022-10-19 10:03] ZanSara commented on #3305
Hey @creatorrr! Sorry for the late reply.

I don't seem to be able to reproduce this issue with the new Haystack Docker images. Could you try? I needed to modify your Docker file only in the first line:
[code]

[2022-10-19 10:08] ZanSara commented on #3328
Hey @spaschsva! You can have Haystack work in air gapped environments by creating your own image caching the models on top of our base image. As I recommended in #3305, try something like this:

[code]
I don't see the models being downloaded once the image starts, so I believe the cache is working. Let me know if it works for you as well.

[2022-10-19 10:22] ZanSara commented on #3231
Hey @lsamper, let's wrap up this issue. I'm not sure I understand exactly when we need to pin protobuf: which extras trigger this issue? You mention Question Generation models but we don't have a dedicated extra for them. Is this something that would need to be pinned among the core dependencies list?

[2022-10-19 10:31] ZanSara commented on #3418
Hey @robpasternak! Ok this is really a big issue, if that's reproducible I'm surprised it went unnoticed for so long. I need a snippet to reproduce this, could you (or @tstadel if he's more into the details) take the time to set one up? Thanks!

[2022-10-19 10:35] ZanSara commented on #2818
Hey @Squishy-33 and @espoirMur, do you still face problems here or can I close this issue?

[2022-10-19 10:37] ZanSara commented on #2931
Hey! I believe this issue is sorted in newer haystack version. Can someone here give it a try again and confirm me whether it's solved? I'll close the issue in that case.

[2022-10-19 10:41] ZanSara commented on #3114
Hey @Unn20, did you solve this issue eventually?

[2022-10-19 10:44] ZanSara commented on #3120
I believe this was related to a temporary issue we had with YAML schema a while ago. I'll close this for now, if I was wrong please re-open or open a new issue.

[2022-10-19 10:44] #3120 closed

[2022-10-19 10:45] ZanSara commented on #3072
Given that this seems to be a PyCharm specific issue, I'll close this one for now.

[2022-10-19 10:45] #3072 closed

[2022-10-19 10:46] ZanSara commented on #3216
Hey @tiwari93 I'll close this issue for now. Please open a new one if you have more questions :slightly_smiling_face:

[2022-10-19 10:46] #3216 closed

[2022-10-19 10:48] ZanSara commented on #3296
Hey @sinchanabhat are you still facing this problem? Have you found a workaround? If not, I'll close the issue in a few days.

[2022-10-19 10:50] ZanSara commented on #3187
Hey @rdubester let us know if you solved or worked around the issue somehow. If it's solved I would close the issue.

[2022-10-19 10:51] danielbichuetti commented on #3393
@ZanSara After reading the OpenSearchDocumentStore code, I found that despise the naming (custom_mapping), that variable allows to set up mapping and settings of the index.

https://github.com/deepset-ai/haystack/blob/16723bf1802c45e7e90336fd586f687a3f4b1ef6/haystack/document_stores/opensearch.py#L570-L581

Does it make sense to rename it to index_definition or something like it ?

[2022-10-19 11:02] Squishy-33 commented on #2818
No, I'm good, setting refresh type to false, worked for me and made it a lot faster.

[2022-10-19 11:21] ZanSara commented on #3393
I'm not sure adding a dedicated parameter just for shard fine-tuning would be too wise. I'd rather rename `custom_mapping` into something more general and clarify in the documentation what happens if its used. Feel free to go ahead with a PR for it!

[2022-10-19 12:35] lsamper commented on #3231
Hi @ZanSara
The extra "all" resolves the issue.
A plain `pip install farm-haystack` installs protobuf 4.x which doesn't work with QuestionGenerator()

[2022-10-19 12:38] ZanSara commented on #3286
Hey @8088boy, did @julian-risch suggestion help?

[2022-10-19 12:42] mayankjobanputra opened #3420 "Feature: Training tracking support with multiple loggers (i.e. Tensorboard, wandb)"
Haystack doesn't support any kind of training tracking today. The users who train the models can benefit if they can see the training progress and visualize some useful information (i.e. training/val loss). There're many different trackers like Tensorboard, wandb, etc. which can be supported but requires some structured planning.

Relevant discussion: https://github.com/deepset-ai/haystack/discuss

[2022-10-19 12:46] ZanSara commented on #3239
@minutolc for context, may I ask what is your usecase? I've rarely seen users use DataSilo directly with Haystack. That class comes directly from FARM where it had a much clearer scope. I'd dare saying DataSilo is in Haystack to support FARMReader and other related classes, not to be used as user-facing API.

By clarifying what's your goal, I might be able to recommend you other ways to achieve th

[2022-10-19 12:56] danielbichuetti commented on #2931
@ZanSara Pin should be updated to `>=0.3.1` as pyworld introduced support for Python 3.10.

The current pyworld pin was introduced to allow Haystack installation, as there as a dependency conflict between pyworld 0.3 and other modules (numpy related).

@nickchomey This is the reason you can now use, 0.3.1 update.

[2022-10-19 13:12] masci opened #3421 "Document OpenAI embedding retriever"

[2022-10-19 13:14] masci opened #3422 "Showcase OpenAI embedding retriever"

[2022-10-19 13:18] masci opened #3423 "Implement co:here retreiver"

[2022-10-19 13:23] masci opened #3424 "Collect document conversion pain points"

[2022-10-19 13:25] masci opened #3425 "Refine telemetry error analysis"

[2022-10-19 13:33] ZanSara opened #3428 "Add tutorial for `MultiModalRetriever`"

[2022-10-19 14:55] brandenchan commented on #3403
Yes I agree with this. It would bring it in line with the `DocumentClassifier` and also the `EntityExtractor`

[2022-10-19 15:58] robpasternak commented on #3418
@ZanSara Sorry for the slow response. I only looked at things through dC while @tstadel investigated the pipeline more directly. The pipeline was just dC's template English QA pipeline with a different model (`roberta-large-squad2`) and different retriever `top_k` (10 instead of 20 I think?)--I can send you a YAML if you'd like. I can also send you the bits of code that I used to make the API requ

[2022-10-19 20:13] anakin87 commented on #2931
pyworld 0.3.1 supports Python 3.10,
but seems not compatible with Python 3.7.

Using Python 3.7.13:
[code]

[2022-10-19 20:37] danielbichuetti commented on #2931
Bad news… :disappointed: Would it be a good exchange: 3.10 vs. 3.7? Docker images aren't using Python 3.7 anymore.

[2022-10-19 21:32] anakin87 commented on #3403
Count on me for this challenge! :smiley:

[2022-10-20 06:36] sjrl commented on #3420
Hey, @mayankjobanputra just to let you know we do support some tracking through MLFlow which was added in this PR https://github.com/deepset-ai/haystack/pull/2337. There is some mention of MLFlow in our docs [here](https://docs.haystack.deepset.ai/reference/pipelines-api#pipelineexecute_eval_run) (for Pipeline eval) and [here](https://github.com/deepset-ai/haystack/blob/3860bb9966d814a00612ec34890

[2022-10-20 07:32] ZanSara commented on #2931
We can support both I think! We just need a conditional statement in `pyproject.toml` to install the correct version of the package for the correct Python version :slightly_smiling_face: Something like:

[code]

I guess something similar could work?

[2022-10-20 08:01] ali-issa9 commented on #2604
Hello @julian-risch @bogdankostic  , I am facing the same issue , the result of document_store_FAISS.get_document_count(index="eval_document") is showing 0 , how we can solve it?

[2022-10-20 08:08] vijayirlapati opened #3434 "Metadata values are being dropped when list of values are provided"
**Describe the bug**
If document metadata has a list, the corresponding values are not being added to the documentstore. It is removing the metadata for that particular document during writing to documentstore.

**Error message**
The following code is being executed but it is throwing the following warning. As a result, some metadata is not added to the documentstore.
[code]

**Expected behavior**

[2022-10-20 08:09] vijayirlapati commented on #3434
Hi @ZanSara, Created an issue as discussed on the discord community.

[2022-10-20 08:36] tholor opened #3436 "Update warning for dot_product when using sentence transformers"
**Is your feature request related to a problem? Please describe.**

Is there any reason why we always recommend using cosine similarity when using sentence transformer models?
The warning is even issued when using a [model](https://huggingface.co/sentence-transformers/multi-qa-mpnet-base-dot-v1) that recommends usage of dot product in the model card:
[code]

![image](https://user-images.githubuser

[2022-10-20 08:52] anakin87 commented on #3434
Related to #2792 and #2868.

Simply put, the metadata for FAISS Documentstore is saved in an SQL database.
To be database-independent, lists are not accepted, as some databases do not manage them.

Possible workarounds:
- choose a Documentstore that can handle lists (such as Elastic...)
- represent your field as string (I imagine it can cause issues with filtering)

[2022-10-20 08:58] ZanSara commented on #3434
Hey @anakin87, great to see you jumping in already :grin:

I had the idea that this issue might be best addressed by serializing the field as JSON (basically a variant of the second option you list above), but I don't think that will work with filtering at all. Do you think we can make filtering work on JSON fields somehow? Do SQLAlchemy support a feature like this across SQL DBs? I have the impre

[2022-10-20 09:18] vijayirlapati commented on #3434
Thanks for you reply @anakin87
Yeah with elastic documentstore this might work but FAISS documentstore is doing well on my documents than elastic. So I am looking for some filtering mechanism that works with FAISS espeacially when we need to tag multiple values to a document

[2022-10-20 09:28] ZanSara opened #3437 "Pipeline Config file string validation is too strict for values in load_from_yaml()"
### Discussed in https://github.com/deepset-ai/haystack/discussions/3433

<div type='discussions-op-text'>

<sup>Originally posted by **mwade-noetic** October 20, 2022</sup>
I am building custom pipelines & nodes and putting various information for the nodes in the PARAMS of the pipeline.yaml file.
Recent updates have added key & value validation, but the latest (1.9.1) validation for values preve

[2022-10-20 10:11] ZanSara opened #3439 "Telemetry can't be fully disabled"
### Discussed in https://github.com/deepset-ai/haystack/discussions/3394

**Problem**
It seems like telemetry can't be completely disabled by setting `HAYSTACK_TELEMETRY_ENABLED` to `False`. See the discussion for more details and a preliminary analysis by @anakin87 @aschatzHM and @flawaetz

[2022-10-20 10:26] ZanSara commented on #3231
@lsamper alright! Sounds like we need to pin `protobuf<4` in the core dependencies list. I'll link the PR as soon as I have some time for it, feel free to go ahead and submit one if you want to contribute.

[2022-10-20 10:28] #2931 closed

[2022-10-20 10:54] mwade-noetic commented on #3437
The issue also seems to impact passing of the "custom_query" as is in the current documentation. In the standard_pipelines.py you have the following example pipeline config file.  This will not load as it throws an exception when loading due to the custom_query.  Your unittests also are too simple and don't actually test any of the validation or custom_query being loaded.

[code]

[2022-10-20 12:24] ZanSara commented on #3418
Ok I will try to reproduce locally and see how far I get :+1: @tstadel let me know if you have more insights on this topic.

[2022-10-20 13:12] ZanSara commented on #3437
Good catch! I'll fix the docs too :+1:

[2022-10-20 13:15] anakin87 commented on #3403
While working on this, I noticed that currently there is a `generate_single_summary` parameter (default value is False).

Based on my experiments and the [docs](https://docs.haystack.deepset.ai/docs/pipelines#example-creating-a-retriever-ranker-summarizer-pipeline), I can say that if `generate_single_summary` is True, the result is only one document.

It makes sense in querying pipelines.
But **ho

[2022-10-20 13:51] anakin87 commented on #3403
Generally speaking, I like your idea of ​​making the `Summarizer` simpler.

However, I think that most of the `Summarizer` use cases presented in the documentation for now, leverage this parameter: they use the `Summarizer` to do a sanity check of the search results.

In any case, if you think it is the best thing, I proceed to the simplification proposed by you.
No tutorials involved, but several

[2022-10-20 14:04] ZanSara commented on #3403
Ok this is interesting! I'm not too familiar with the Summarizer docs actually. If that's too much work to remove `generate_single_summary`, your original plan works too! Have a look and feel free to choose your way. Either is good for me :slightly_smiling_face:

[2022-10-20 14:05] brandenchan commented on #3403
So funnily enough I raised this issue in the first place because we wanted the docs to have real world use cases that are more realistic! The use case that we are aiming for is one where summaries are attached to all documents at index time so that after retrieval, documents can be displayed with their text or their summary.

[2022-10-20 14:09] ZanSara commented on #3403
Ah cool, so this is more about the docs than the Summarizer itself!

Now that we're at it, what do you think about the `generate_single_summary` removal? I think that would make also the docs way simpler, as the Summarizer won't have the ability to mess with the document count anymore and will only make summaries of the doc's own content in the metadata. But if you think aggregating results is sup

[2022-10-20 14:12] brandenchan commented on #3403
I think removing `generate_single_summary` and offloading it into a `DocumentMerger` node makes sense. Makes the behaviour of the Summarizer more consistent with other index compatible nodes

[2022-10-20 15:04] TuanaCelik opened #3444 "Milvus2DocumentStore with DPR in REST API"
A community member ( @OMGMoore ) has been experiencing issues while trying to run the REST API with `Milvus2DocumentStore` and `DPR`
The observed behaviour is that with a `.yml` pipeline configuration that does _not_ include DPR, the piepeline starts fine
But in the case that it is included, they are unable to connect to the document store.

We discussed this issue with @vblagoje and one idea is t

[2022-10-20 17:05] ZanSara commented on #3444
The configuration looks fine in Haystack. I could load this YAML unmodified from a script without issues. It must be, as mentioned, an issue with the REST API setup.

My code:
[code]

[2022-10-20 17:30] OMGMoore commented on #3444
Thanks for the response! The issue persists regardless of which retriever I use. I tried both BM25 and Embedding Retriever.
For Milvus, I have tried both using the docker compose file from the milvus documentation to launch as well as using the util function launch_milvus().

These are the contents of the docker compose file I've tried using:

[code]

[2022-10-20 18:07] OMGMoore commented on #3444
If it's at all relevant or helpful, this is the modified docker compose file I am using to launch the REST API

[code]

[2022-10-21 09:53] tholor opened #3447 "Add support for BM25Retriever in InMemoryDocumentStore"
**Is your feature request related to a problem? Please describe.**
Many of our tutorials are using the ElasticsearchDocumentStore. While this is a good choice for a production system, it can be quite cumbersome to set up and run during your "first minutes with haystack". It would be awesome to use the `InMemoryDocumentStore` instead for the first steps of users (Tutorial 1, Quick Start ...).  The

[2022-10-21 09:58] ZanSara commented on #3447
Some additional context (same idea from @bglearning): https://github.com/deepset-ai/haystack-tutorials/pull/44#issuecomment-1282170131

[2022-10-21 10:22] bogdankostic commented on #3447
BM25 was recently added to gensim: https://github.com/RaRe-Technologies/gensim/pull/3304, we might use this.

[2022-10-21 11:54] #3387 closed

[2022-10-23 19:10] sinchanabhat opened #3454 "pipeline.eval() returns no answer eventhough the retriever retrieves the correct documents in integrated evaluation"
Hi. I am trying to evaluate my QA using integrated pipeline. The pandas dataframe of retriever looks fine. But in the reader dataframe, most of the "answer" column is showing empty eventhough the retriever has retrieved the passages correctly in the retriever dataframe. It seems like pipeline is acting in isolated mode even in integrated mode. If the retriever dataframe shows the correct retrieved

[2022-10-24 09:24] ZanSara commented on #3444
I confirm this is reproducible. I tested it also on the new images and on the CPU flavor of them. In addition the timeout seems to occur fairly fast. We need to debug further.

My REST API `docker-compose.yml`:
[code]

[2022-10-24 09:45] ali-issa9 opened #3457 "How can i add my Faiss document store to the haystack Rest API"
I  am trying to create a rest API with haystack. I read this  [https://www.deepset.ai/blog/building-a-rest-api-for-question-answering-with-haystack](tutorial). It seems that they are using a docker image of ElasticSearch.But I want to use FAISS
 as my document store.

I have already created an instance of FAISS using these two lines of code :
from haystack.document_stores import FAISSDocumentStore

[2022-10-24 09:46] #3457 closed

[2022-10-24 09:49] ali-issa9 commented on #3457
sorry open this issue by mistake

[2022-10-24 09:51] ZanSara commented on #3454
Hello @sinchanabhat, can you share some code to reproduce this output? We'll be able to help you much faster with that. In the meantime, @tstadel do you have any suggestion?

[2022-10-24 09:57] sinchanabhat commented on #3454
Hi, apologies. It is resolved now. I missed to set False to return_no_answer variable.

[2022-10-24 13:03] ZanSara commented on #3454
Ok, great to hear! I'll close the issue then.

[2022-10-24 13:03] #3454 closed

[2022-10-24 14:21] julian-risch commented on #3439
I tried to reproduce this but disabling telemetry worked for me as expected. I ran the following to remove the existing config file, set the environment variable and then run Haystack without sending an event:
[code]

[2022-10-25 08:08] Clemens123 opened #3471 "TransformerTranslator.max_sequence_length cuts off documents"
**Describe the bug**
TransformerTranslator class has an attribute "max_seq_len" that when set cuts off documents instead of splitting them before translation and reattaching them afterwards again.
When I don't set the attribute "max_seq_len" for a TransformerTranslator, several translation models with a max_length of 512 generate nonsensical "translations" of only two words repeating again and aga

[2022-10-25 09:22] #3258 closed

[2022-10-25 10:11] #3439 closed

[2022-10-25 10:12] bogdankostic commented on #1723
Cool that you are working on this! We've seen quite some interest from the community lately on supporting larger tables.

[2022-10-25 11:07] #3181 closed

[2022-10-25 11:08] ZanSara opened #3472 "review and remove `Label.no_answer`"
- `Label` objects have a redundant field called `no_answer`
- Such field has been already transformed into a property by #3411
- The field should be safe to remove. Every check for `self.no_answer` can be replaced with `self.answer is None`

[2022-10-25 14:51] ZanSara commented on #3471
Hey @Clemens123, thanks for the report! `TransformerTranslator` was designed to be used in Pipelines, which usually deal with documents shorter than `max_seq_lenght`. However, there's no inherent reason for it not to do as you suggest.

Do you feel like contributing this fix? I can help you out if you're stuck or need some guidance. If not, I'll leave this issue open for other contributors to pick

[2022-10-25 15:00] #3436 closed

[2022-10-25 15:52] #3423 closed

[2022-10-26 08:35] ZanSara opened #3477 "`PDFToTextOCRConverter.convert()` write temp files into the package folder"
**Describe the bug**
- `PDFToTextOCRConverter.convert()` write temp files into the package folder: https://github.com/deepset-ai/haystack/blob/5ca96357ff526bf11aefa7fe4aa24fd11135cd0c/haystack/nodes/file_converter/pdf.py#L255
- This breaks the node in some contexts, i.e. conda on Windows, non-editable install.
- See https://discord.com/channels/993534733298450452/1034328904829247568/10347402961284

[2022-10-26 09:57] #3056 closed

[2022-10-26 10:51] vtharmalingam commented on #3447
@ZanSara: please advise me on how I can contribute to the haystack, in general, or to this issue, in particular. Thanks :)

[2022-10-26 11:01] ZanSara commented on #3447
@Hello @vtharmalingam! Start from here: https://github.com/deepset-ai/haystack/blob/main/CONTRIBUTING.md

[2022-10-26 12:44] ZanSara opened #3479 "Extract JSON Schemas into a separate repo"
**Problem**
- JSON schema generation is brittle and keeps causing issues.
- We want to have the schemas out of Haystack's repo.

**Process**
- [x] Add the missing versioned schemas into the Haystack repo: https://github.com/deepset-ai/haystack/pull/3480
- [x] Move out the versioned schemas into a separate repository: https://github.com/deepset-ai/haystack-json-schema
- [x] Implement schema generat

[2022-10-26 13:47] #3348 closed

[2022-10-26 15:50] OMGMoore commented on #3444
@TuanaCelik @ZanSara Any new updates on what the exact issue might be? With a bit more intel and some guidance on what's going on, I'd be down to try and contribute as I can to help patch the bug.

[2022-10-26 16:26] OMGMoore opened #3483 "Crawler error when crawling more than one webpage url"
**Describe the bug**
When I use the crawler in a For loop or use the filter_urls parameter with crawler_depth=1, the contents of the scraped files all match the contents of the last webpage to be crawled. The count of the webpages scraped is correct and the names of the .json files are also correct. It seems that the crawler might be overwriting its results with the most recently extracted webpage

[2022-10-26 16:26] ZanSara commented on #3444
Hey @OMGMoore, I've had a try with this but I'm still clueless about what might be going wrong. It seems like an issue with `pymilvus`, but I found no mention to any issue similar to this one and I am thinking it might be a race condition of some sort.

The next step to debug this should be to see if it's reproducible with `pymilvus` or if it gets introduced by Haystack. That's going to be a thoug

[2022-10-26 18:28] OMGMoore commented on #3444
Sure! Happy to help.

I am not sure if this is thorough enough, but I confirmed pymilvus is installed and ran this script to test the connection. There were not any errors so I believe it went through successfully.

[code]

[2022-10-27 12:38] mayankjobanputra commented on #3428
https://github.com/deepset-ai/haystack-tutorials/pull/52

Pull request created in Tutorials repo.

[2022-10-27 12:43] ZanSara commented on #3444
Was this running in the Haystack REST API, or in their place? Or ourside of docker-compose at all? I also found that if I just start Milvus and I run the API outside of a container, it seems to work. So I suspect it might be the interaction between the REST API container and pymilvus. But I'm far from sure this is the right lead.

[2022-10-27 14:04] vblagoje commented on #3421
@masci @brandenchan added a documentation section on [OpenAI embedding retriever](https://docs.haystack.deepset.ai/docs/retriever#embedding-retrieval-recommended) Should we add some more docs or would this addition suffice to close the issue?

[2022-10-27 16:15] OMGMoore commented on #3444
So, this was run outside of the Haystack REST API and outside of docker-compose. I guess a good next step for me to try will be how this runs from a docker container without the REST API.

[2022-10-27 17:57] anakin87 commented on #1634
While thinking about #3447, I decided to revamp this issue.

## Document store and retrievers
From what I understood, in Haystack:
- document stores: should store documents and their representations (such as embeddings)
- retrievers: should be used to query the document stores, in order to provide the most relevant documents
(currently, in some cases, they also build document representations that

[2022-10-27 18:26] OMGMoore commented on #3483
Thank you, @anakin87

I tried those snippets you shared and you are correct that they work perfectly. So, clearly it must be an issue with the website I am trying to extract data from.

I suspect it might have something to do with how the URLs are formatted?

"https://www.dau.edu/acquipedia/pages/articledetails.aspx#!313"
VS
"https://docs.haystack.deepset.ai/docs"

In my case, the URL for each ind

[2022-10-27 18:32] mariokostelac opened #3489 "BM25 retriever custom_query is difficult to work with"
I'm sorry if this it the wrong place to report this, but I haven't found a better one so far.

I've started playing with your library and found custom_query interface very difficult to work with. There are two main reasons behind it.

### Docs examples are confusing/broken
I've tried implementing the highlighting from https://docs.haystack.deepset.ai/reference/retriever-api#bm25retriever__init__,

[2022-10-27 18:40] anakin87 commented on #3483
I made some experiments with your site.
I don't think that the format of the URL can cause problems.

I see that also while navigating through the browser, the behavior is strange.
If for example, you opened https://www.dau.edu/acquipedia/pages/articledetails.aspx#!313 and then you manually change the final URL number to another (https://www.dau.edu/acquipedia/pages/articledetails.aspx#!191) and p

[2022-10-27 19:08] OMGMoore commented on #3483
That makes good sense and was sort of where I was thinking I'd have to go. It's definitely a weird website. I noticed the same odd behavior you described. Thank you for taking a look!

[2022-10-28 07:06] #3421 closed

[2022-10-28 07:56] mkkuemmel opened #3492 "document_store.get_document_count returns zero"
**Describe the bug**
When using `document_store.get_document_count` it returns zero even though the document store isn't empty.
Therefore, also `document_store.get_all_documents_generator` does not work.
The API call (via the documentation) returns a correct number, albeit slow.
@FHardow suspects that the stream request returns a 200 and an empty list before the documents are actually being fetche

[2022-10-28 08:20] ZanSara commented on #3489
Hey @mariokostelac, thank you so much for this feedback. Yes, `custom_query` is a field even we rarely use, so is not as well thought out as other parts of the library. I'm sorry it caused you trouble.

On the other hand, this sounds like an actionable plan! The situation can be fixed in two PRs, one for the docs and one for the fix to `${query}`. I recommend you start by the docs update as I have

[2022-10-28 08:26] ZanSara commented on #3483
Hey @anakin87, just wanted to say thanks for helping out with this one! :rocket: @OMGMoore if you think this is solved, you can close the issue :slightly_smiling_face:

[2022-10-28 08:28] ZanSara commented on #3492
@mkkuemmel how urgent is it? Is it blocking?

@tstadel do you think you can check this out? If not we'll have a look :+1:

[2022-10-28 08:35] mkkuemmel commented on #3492
It is blocking me from running QAG currently, which I'd like to try out for a customer. They're not waiting for it but I'd like to know if that's a way to move forward.

[2022-10-28 09:07] FHardow commented on #3492
Hey all
let me elaborate a little bit on
[code]

I've issued the same call through postman ([document-stream](https://api.cloud.deepset.ai/docs#/document_store/get_all_documents_stream_api_v1_workspaces__workspace_name__indexes__index_name__documents_stream_post)), the call immediately returned a 200, but the stream data was loaded after ~15s.
My guess is that the request is getting a 200 as respo

[2022-10-28 10:56] anakin87 commented on #3187
Probably related to #1634.

[2022-10-28 11:00] ZanSara opened #3494 "speed up YAML schema generation"
- Schema generation is fairly slow
- It seems like some nodes try to setup an SSL connection while the schema is being generated (@masci):
[code]
- Candidates:
  - ES or OS

[2022-10-28 11:28] vijayirlapati commented on #3027
Hi,
Is there any update on filtering with FAISS Documentstore

[2022-10-28 13:51] anakin87 commented on #3085
This issue can be closed now.

[2022-10-28 14:12] ZanSara opened #3496 "Rethink inputs to `run_batch` again"
**Premise**: https://github.com/deepset-ai/haystack/issues/2529

**Summary**:
Seems like the type of the inputs of `run_batch` were re-evaluated recently for the `queries` parameter. However, this needs to be followed up by similar considerations for all other parameters like `documents`, `file_paths`, etc... which now have a long and complex signature, probably fully redundant.

For example: http

[2022-10-28 14:32] ZanSara commented on #1634
Hey @anakin87! Great analysis, as usual! This is going to be useful even for me to explain the situation to others :rocket:

## Mandatory premise

So, first things first: I believe the current abstraction of Retrievers is fundamentally wrong. As you noticed, some Retriever rely fully on the docstore for the retrieval steps, others have their own internal representation stored (usually) in memory.

[2022-10-28 14:35] ZanSara commented on #3434
@vijayirlapati as a workaround, have you considered other vector document stores, like Weaviate or Milvus?

[2022-10-28 14:58] #3085 closed

[2022-10-28 15:23] jordanparker6 commented on #3331
@ZanSara Thanks for the response.

The above YAML was able to load.

However, it still appears to error with the following.

[code]

[2022-10-28 15:49] #3483 closed

[2022-10-28 15:53] ssingh1997 opened #3498 "Best Approach for Natural Language Inferencing"
### Discussed in https://github.com/deepset-ai/haystack/discussions/3464

@ZanSara

Summary: Add in a feature to the Haystack PreProcessor that will be able to split paragraphs in the way that they appear in the document, potentially by the`\n` or `\f` special characters or both. This  way, a document will get split not by a fixed split_length but rather by the length of the paragraph in the docum

[2022-10-28 15:54] ZanSara commented on #3331
I can't easily reproduce this one. What's your Haystack and Ray versions?

[2022-10-29 12:30] jordanparker6 commented on #3331
@ZanSara versions are below.

pyproject.toml
[code]

[2022-10-31 07:27] SAIVENKATARAJU opened #3502 "KeyError: 'index' in pipelines with combination of BM25Retriever, MultihopEmbeddingRetriever"
**Describe the bug**
I am getting the following Keyerror with following trace

[code]

**Error message**
KeyError: 'index'

**To Reproduce**
I have the following custom code one is **eshandler.py**

[code]
Now I have another file called pipelines.py where the error is getting.

[code]

**FAQ Check**
- [yes ] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?

**Sy

[2022-10-31 09:01] FHardow opened #3504 "End of search context not pointing to the end of a phrase"
**Describe the bug**
We see duplicated characters at the end of a highlighted passage from a search query in the dC UI.
It seems that there is an inconsistency in how the `end` value from `offsets_in_context` is calculated.

For some answers, the `end` value is indicating the **next** character in the `context` after the `answer`, while for others, it indicates the last character of the `answer` i

[2022-10-31 09:53] ZanSara opened #3505 "`pip install -U farm-haystack` does not trigger schema generation"
**Describe the bug**
- `pip install -U farm-haystack` does not trigger schema generation

**Error message**
- The file will be silently not generated
- At the first attempt to load a pipeline, it triggers a `FileNotFoundError: [Errno 2] No such file or directory: '/path/to/haystack/haystack/json-schemas/haystack-pipeline-main.schema.json'`

**Workaround**
- Install Haystack without the `-U` option

[2022-10-31 10:57] ZanSara commented on #3502
Hey @SAIVENKATARAJU, thank you for this bug report!

The issue is indeed very tricky. Explaining the nature of the issue is a bit complex, but what triggers it is the fact that `ESHandler` takes variadic arguments. By replacing:

[code]
with something like:
[code]
the problem will disappear.

## Some more context

This issue arises from the fact that Haystack is able to convert existing pipelines

[2022-10-31 11:36] vblagoje commented on #3309
Ideally, we would have error codes that we could use here and send back to the telemetry as single int. We can add that in the next release. For now, why don't we send the message along with the `PipelineConfigError` and perhaps other errors? The messages are very rich and contain detailed descriptions of root causes. Collecting these messages would be really helpful. Did I miss something @julian-

[2022-10-31 11:42] masci commented on #3309
I'm 👍, my only request would be to review the error messages to be sure that we don't collect any personal data

[2022-10-31 11:43] julian-risch commented on #3309
We have a few weeks until the next release so I'd prefer making a plan and considering alternatives, pros and cons. I like your ideas! I'd suggest the two of us have a call to do the refinement of the epic, which we already planned to do with this [issue](https://github.com/deepset-ai/haystack/issues/3425) (my responsibility). Later this week would be good.
One downside/challenge of the idea of co

[2022-10-31 11:46] vblagoje commented on #3309
Right, good points @julian-risch @masci - we can redact the sensitive data akin to the black marker used in those classified files.

[2022-10-31 11:48] #3477 closed

[2022-10-31 11:49] #3428 closed

[2022-10-31 13:07] mathislucka commented on #3504
Too add information:
I am not entirely sure that this is true but it seems to me like this happens only for some models. Deberta has the different end position while everything is fine for roberta.

[2022-10-31 13:58] mkkuemmel commented on #3492
Additional info: This issue only occurs when I run the script on my EC2 instance. When I run it locally, it works. (Unfortunately the script requires GPU later, so I can't just use it locally)

[2022-10-31 14:07] mkkuemmel commented on #3492
Now I cannot reproduce the behavior anymore, the script is running. Sorry for the inconvenience folks, I'll reopen it if it comes up again.

[2022-10-31 14:07] #3492 closed

[2022-10-31 14:09] vblagoje commented on #3504
Indeed, it seems model related.
<img width="729" alt="Screenshot 2022-10-31 at 15 08 27" src="https://user-images.githubusercontent.com/458335/199027723-2459134e-7115-4041-9020-9c138769ddf9.png">

[2022-10-31 14:54] brandenchan opened #3509 "Extend BM25Retriever to work with non-Elasticsearch based DocumentStores"
**Is your feature request related to a problem? Please describe.**
- In the coming rework of Tutorials, the first tutorial uses an InMemoryDocumentStore and a TFIDFRetriever. It would be preferable to use the BM25Retriever instead since it is an improvement over TFIDF but it is currently incompatible with the InMemoryDocumentStore.

**Describe the solution you'd like**
- Implement BM25 retrieval t

[2022-10-31 15:02] masci opened #3510 "[Test] testing the workflow"
**Describe the bug**
A clear and concise description of what the bug is.

**Error message**
Error that was thrown (if available)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here, like document types / preprocessing steps / settings of reader etc.

**To Reproduce**
Steps to reproduce the behav

[2022-10-31 15:43] ZanSara commented on #3509
I think this is a duplicate of https://github.com/deepset-ai/haystack/issues/3447. Let's keep that one only?

In practice many other document stores can hardly support BM25, and I'm not sure it's worth stretching the support too much right now. Implementing support for BM25 with the current arch in a docstore like, say, Pinecone is going to look quite ugly and, above all, very slow. This is becaus

[2022-10-31 18:00] #3057 closed

[2022-10-31 19:41] OMGMoore commented on #3444
Hey @ZanSara, I've been slowly working on debugging this further between things and it turns out the error occurs when I try to launch from a docker container.

[code]

Commands I used:
[code]

where the contents of ./TEST/TEST_2 directory are my dockerfile, my .py script that attempts to launch the connection, and my requirements.txt file that installs `pymilvus==2.1.0` and `protobuf==3.20.0`

[2022-11-01 02:49] OMGMoore commented on #3483
In case anyone in the future runs into a similar issue, the fix I went with was to modify the crawler.py implementation file by adding a .refresh() to the webpage directly after the URL is loaded and use the load_waiting_time parameter to allow a few seconds for the page to load properly. With both of these in place, it now works!

[2022-11-01 08:25] brandenchan commented on #3509
Ah I didn't see the other issues! Yes let's keep the discussion there

[2022-11-01 08:25] #3509 closed

[2022-11-01 13:22] wochinge opened #3514 "`PreProcessor` `FileExistsError` with parallel pipeline instantiation on same machine (noisy neighbor)"
**Describe the bug**
When a `PreProcessor` is initialized, it downloads the `punkt` sentence tokenizer ([see code here](https://github.com/deepset-ai/haystack/blob/fc077992067263a1a2c2d8bdf3ccfad02ea87ee6/haystack/nodes/preprocessor/preprocessor.py#L99)). When this is done by multiple processes in parallel then it can happen that both don't find the model data locally and hence start to download t

[2022-11-01 22:12] ofek commented on #3505
lmk if I can help

[2022-11-02 07:44] #3479 closed

[2022-11-02 07:49] masci commented on #2969
@sjrl was this resolved by #3154 ?

[2022-11-02 09:05] ZanSara commented on #3505
Hey @ofek thank you for jumping in! I didn't try to debug this one yet, is not very high priority. However I'm curious, is there any "obvious" reason why the flag `-U` might not trigger the execution of the hook? I'm not very knowledgeable of how Hatch works, but at a first glance I could find no mention to an issue like this in the `hatch-autorun` docs or repo.

This is how `pip install . -vvv` l

[2022-11-02 09:35] #3377 closed

[2022-11-02 09:59] bogdankostic commented on #3510
Did the test work? :)

[2022-11-02 10:05] ZanSara commented on #3444
Hey @OMGMoore, sounds good! That must be pymilvus issue then. Could you open an issue here https://github.com/milvus-io/pymilvus/issues and report your findings? Please tag me as well so I can receive updates about this weird timeout.

Thank you again for the investigation! :raised_hands:

[2022-11-02 10:07] ZanSara commented on #3444
For now I'll close this issue, but feel free to open a new one referencing this discussion later, when the PyMilvus team suggests you a workaround or you realize there's anything that can be done on our end.

[2022-11-02 10:07] #3444 closed

[2022-11-02 10:14] ZanSara commented on #3514
Hey @wochinge sorry for the dumb remark, but shouldn't this be considered a `punkt` issue? I'd rather contribute to their code to implement thread-safety rather than have a workaround in Haystack. Or is it more urgent than it looks and we need a patch right away?

[2022-11-02 10:16] #2621 closed

[2022-11-02 10:23] ZanSara commented on #3331
Ok I am trying again to reproduce this. Have you tried with a more recent version of Haystack (v1.10 for example)?

[2022-11-02 10:35] ZanSara commented on #3331
I still can't reproduce with:

- `farm-haystack[opensearch,ray]==1.8.0`
- `ray[serve]==2.0.0`
- Python 3.10.6
- Ubuntu 22.04

is there anything special about your setup that differs from mine? I understand you're on MacOS, I wonder if that means anything.

[2022-11-02 10:44] wochinge commented on #3514
I've only seen it once so doesn't seem that urgent.

Good question. One could argue in both directions in my opinion.
- View 1: As Haystack is initializing pipelines it should safely handle shared resources (or not share in them in the first place by e.g. using a temp dir for the download directory). I'm for example not entirely sure if we're using the parameters to `download` correctly (shouldn't

[2022-11-02 11:53] bogdankostic commented on #3514
I think we can fix this quite easily by using the following code:
[code]

What do you think?

[2022-11-02 12:39] wochinge commented on #3514
yes, that what I was thinking off. Maybe also add a debug log or something in addition to the `pass`

[2022-11-02 14:59] bogdankostic commented on #3514
@wochinge Do you want to create a quick PR for this? :) If not, I can take over.

[2022-11-02 15:01] wochinge commented on #3514
I'd be happy to become a contributor 🙂

[2022-11-02 17:01] #2809 closed

[2022-11-02 17:09] masci commented on #3510
No! Closing so I can test re-opening :)

[2022-11-03 09:35] bogdankostic commented on #2818
Closing this issue now, feel free to re-open if this is still an issue. :)

[2022-11-03 09:35] #2818 closed

[2022-11-03 09:38] bogdankostic commented on #3114
Closing this issue now, feel free to re-open if it still persists :)

[2022-11-03 09:38] #3114 closed

[2022-11-03 09:39] bogdankostic commented on #3296
Closing this issue now, feel free to re-open if you're still seeing this problem :)

[2022-11-03 09:39] #3296 closed

[2022-11-03 09:42] bogdankostic commented on #3328
Closing this issue now, feel free to re-open if it still persists :)

[2022-11-03 09:42] #3328 closed

[2022-11-03 09:42] #3191 closed

[2022-11-03 09:44] bogdankostic commented on #3286
Closing this issue now, feel free to re-open if you still have that problem :)

[2022-11-03 09:44] #3286 closed

[2022-11-03 09:45] bogdankostic commented on #3305
Hey @creatorrr, did @ZanSara's proposal solve the problem for you?

[2022-11-03 10:42] wochinge commented on #3514
@bogdankostic @ZanSara The above stack trace seems to have been a very peculiar one. I tried to reproduce with the following test and couldn't (I first tried without deleting the zip and then with deleting the zip but both don't reproduce this):

[code]

I could still apply Bogdan's fix but it would be very much based on assumptions. What do you think?

[2022-11-03 11:59] #3510 closed

[2022-11-03 11:59] masci opened #3518 "[Test] Sync with GH projects"
**Describe the bug**
A clear and concise description of what the bug is.

**Error message**
Error that was thrown (if available)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here, like document types / preprocessing steps / settings of reader etc.

**To Reproduce**
Steps to reproduce the behav

[2022-11-03 12:00] #3518 closed

[2022-11-03 12:29] espoirMur commented on #3472
I have worked with label objects before, If I get time, I can have a look into this.

[2022-11-03 14:19] julian-risch commented on #3447
Hi @vtharmalingam great to hear that you would like to contribute on this issue! Feel free to open a draft pull request early on so that we can help with feedback. Please let me know if you need any other help.

[2022-11-03 14:42] ZanSara commented on #3514
By running this test with `-s -vvv` and making it fail forcefully with `assert False` at the end, I see that NLTK is still using my actual home dir to store its models, not a PyTest temp path. I think that's the first thing to fix.

My output, for reference:
[code]

Second, it seems to me that the error above is triggered by the existence of the folder, rather than the contents. I think removing t

[2022-11-03 15:04] #3403 closed

[2022-11-03 15:22] ZanSara commented on #2011
Done in #2152

[2022-11-03 15:22] #2011 closed

[2022-11-03 16:27] ZanSara commented on #3504
@vblagoje I don't think what you observe is the cause of this issue. With this code:

[code]
I get
[code]
so transformers doesn't seem to cause issues, the offsets are consistent across models. I'm investigating further.

@FHardow @mathislucka it would be super-helpful if you could share a pipeline that shows this bug and one that doesn't, so I have a starting point. `FARMReader`'s code is vast an

[2022-11-03 16:34] ZanSara commented on #3504
Nevermind: replicating the code above with haystack shows that we are actually doing something weird to DeBERTa:

[code]

[code]

[2022-11-03 17:26] anakin87 commented on #3447
I am also interested in contributing to this feature!
Anyway, @vtharmalingam takes precedence.

After the discussions linked above, I want to bring **some ideas**.

- I tend to think that the retriever should only query the document store. On the other hand, the ds is responsible for storing documents and their representations (such as BM25). _Unlike the TF-IDF retriever implementation_
- To do th

[2022-11-04 07:44] mayankjobanputra opened #3521 "Better model security with new PyTorch version"
When loading PyTorch models from the modelhub, arbitrary code can be executed. See [here.](https://huggingface.co/docs/hub/security-pickle#pickle-scanning)

Seems like PyTorch already solved this:
- Issue on the PyTorch Repo: https://github.com/pytorch/pytorch/issues/52596
- By default, this is not available in torch==1.13. TORCH_FORCE_WEIGHTS_ONLY_LOAD needs to be set to True which allows global

[2022-11-04 08:43] masci opened #3523 "Bring feature parity to SQLDocumentStore"
**Is your feature request related to a problem? Please describe.**
The `SQLDocumentStore` was originally designed to support other vector databases storing additional data (e.g. metadata), still it implements the `BaseDocumentStore` interface and it is supposed to implement all the relative load/store/query capabilities.

Unfortunately the `SQLDocumentStore` behaves rather differently from the oth

[2022-11-04 08:48] anakin87 commented on #2904
@sjrl @ZanSara I believe that, to solve this issue, we can retrain the `SklearnQueryClassifier` model using the new version of scikit-learn.
This is probably not a permanent solution but I have no better ideas. WDYT?

_The original data and the training procedure can be found here: #611_

[2022-11-04 08:48] masci opened #3524 "Wrong Haystack version within docker images"
**Describe the bug**
The Haystack version wihin the `deepset/haystack` docker images always report the next unstable

**Expected behavior**
Haystack version is consistent with what stated in the docker tag.

**To Reproduce**
[code]

**FAQ Check**
- [ ] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?

**System:**
 - OS:
 - GPU/CPU:
 - Haystack version (commit or

[2022-11-04 09:08] ZanSara commented on #3447
Hey @anakin87! Sounds good :slightly_frowning_face:

Fully agree!

I also agree on this. It bring in no dependencies, which is a relief :smile: For now at least I imagine it would be a nice compromise. We should make sure that for workloads like the one in the tutorials it doesn't become too slow, however. Let's see after how many documents the 1s threshold for retrieval is reached.

`self.indexes

[2022-11-04 09:26] wochinge commented on #3514
I'd do that with module scoped fixture, okay? As it's the same for other tests in this module.

I've re-checked the stack trace and it must have been a really unfortunate race-condition.
It must have checked whether the directory exists (which returned `False`) and right when it then it tried to create missing directory a different process must have created it right before it ([see the code here](

[2022-11-04 13:46] DanyalKhaliqEMPG commented on #1801
is there a simple resolution for this ?

how can I use aubmindlab/bert-base-arabertv02 model hugging face repo with sentence-transformer as it cant find it ?

Want to use arabic embeddings model

[2022-11-04 13:46] DanyalKhaliqEMPG commented on #3364
is there a simple resolution for this ?

how can I use aubmindlab/bert-base-arabertv02 model hugging face repo with sentence-transformer as it cant find it ?

Want to use arabic embeddings model

[2022-11-04 14:40] ZanSara commented on #3364
Hey @DanyalKhaliqEMPG, next time open a new issue instead of commenting into old ones: your problem seems unrelated.

Do you have issues with `https://huggingface.co/aubmindlab/bert-base-arabertv02`? Try:
[code]
If you see errors please open another issue.

[2022-11-04 17:13] davletovb commented on #759
Hi, facing the same error.

[2022-11-05 20:04] vijusudhi commented on #3364
As a tweak, you could simply convert a Huggingface model to a SentenceTransformers model using the snippet below. Find more details here: [https://huggingface.co/blog/how-to-train-sentence-transformers](url).

[code]

Now you can use this SentenceTransformers model with the `EmbeddingRetriever` class from Haystack.

[2022-11-06 10:48] DanyalKhaliqEMPG commented on #3364
thank you , will try that surely

[2022-11-07 11:30] vblagoje commented on #3422
@TuanaCelik @bilgeyucel let's compare Cohere/OpenAI embeddings on a specific domain using https://haystack.deepset.ai/tutorials/06_better_retrieval_via_embedding_retrieval tutorials It doesn't have to be a game of thrones but something else I suppose. So we essentially use the same tutorial but focus on these two embedding retriever variants. The only "issue" I foresee is using API keys where cust

[2022-11-07 12:43] tstadel opened #3538 "`create_index=False` prevents `OpenSearchDocumentStore` from using fast ANN"
**Describe the bug**
When `OpenSearchDocumentStore` is initialized with `create_index=False`, fast ANN search is not used but exact KNN search.

**Expected behavior**
Even though `create_index=False` `OpenSearchDocumentStore` correctly infers whether ANN search can be used or not.

**To Reproduce**
- Create OS index with `OpenSearchDocumentStore()`
- Instantiate another `OpenSearchDocumentStore` w

[2022-11-07 15:34] TuanaCelik commented on #3422
@vblagoje what are we talking about here?
- Adding a showcase for these embedding retriever variants to this tutorial?
- How we showcase it at Contributor Cafe this week?
- Both?

For the purposes of showcasing it during Contributor Cafe I was thinking of creating environment variables before hand so that we can just mention to them 'we've got our keys in these vars, imagine replacing them with yo

[2022-11-07 15:51] bogdankostic commented on #1801
Hi @DanyalKhaliqEMPG! You should be able to use the `aubmindlab/bert-base-arabertv02` model with our `EmbeddingRetriever`. You can load it like this:
[code]
Please keep in mind that the `aubmindlab/bert-base-arabertv02` seems to be a general purpose language model that is not fine-tuned for the task of semantic search. It is likely that you won't get good results with it if your task is to do retr

[2022-11-07 16:43] anakin87 opened #3540 "Metadata are not written to SQL Document store when duplicate_documents!="overwrite""
**Describe the bug**
It seems that in `SQLDocumentStore`, if you call `write_documents` with skip/fail values for the `duplicate_documents` parameter, document metadata are not written to DB.

**Error message**
No error

**Expected behavior**
The metadata should be correctly saved.

**To Reproduce**
[code]

**Additional context**
Seems related to these lines of code:
https://github.com/deepset-ai/

[2022-11-07 17:45] anakin87 commented on #3540
IMO, the issue seems related to `self.session.bulk_insert_mappings(DocumentORM, docs_orm)`
From [SQLAlchemy docs](https://docs.sqlalchemy.org/en/14/orm/session_api.html#sqlalchemy.orm.Session.bulk_insert_mappings):

In the reported example, `docs_orm` is:
`[{'id': '1', 'content': 'content', 'content_type': 'text', 'vector_id': None, 'meta': [<haystack.document_stores.sql.MetaDocumentORM object at

[2022-11-08 08:21] anakin87 commented on #3540
I would like to open a PR that tries to refactor the way documents are saved to DB,
taking into account two aspects:

- correctness (all documents and metadata are properly stored)
- performance (bulk operations are preferable to single ones)

@ZanSara and Deepset team, I would like to know your opinion first and collect useful advice.

[2022-11-08 08:26] #3504 closed

[2022-11-08 13:56] masci commented on #2572
@julian-risch can you follow up here?

[2022-11-08 14:30] masci commented on #2606
Closing as this works now:
[code]
with
- Python 3.10.6
- Poetry 1.2.2
- Haystack [9539a20](https://github.com/deepset-ai/haystack/commit/9539a209ae35b14e2154aed75d971424ac24bea2)

[2022-11-08 14:30] #2606 closed

[2022-11-08 19:48] anakin87 commented on #3540
## News from SQLAlchemy planet

From [SQLAlchemy docs](https://docs.sqlalchemy.org/en/14/orm/persistence_techniques.html#bulk-operations-caveats), I discovered that bulk operations don't support

but in our case, that feature is needed when writing documents with related metadata (stored in two different tables).
So, we should discard the usage of `bulk_insert_mappings` (currently used) and `bulk_

[2022-11-09 08:40] vblagoje commented on #3422
Here is the Cohere/OpenAI [notebook](https://colab.research.google.com/drive/1jwwsxJsn_Ch9xU68K3rjYGDyL-Gs1-Km?usp=sharing) we'll use in the Contributor's cafe and hopefully also as a tutorial after @agnieszka-m reviews it.

[2022-11-09 09:12] i-Anshal opened #3545 "label are not correctly annotated"
**Describe the bug**
when i tag answer for a particular standard question it sometimes get annotated correctly and sometime for some question it  change the position in the export file by which export file get noise it shows perfect tag on frontend but in the backend means in export labels some labels are not correctly marked but when you check this label on document they are correctly annotated

[2022-11-09 09:33] vblagoje commented on #3309
Here is the list of sensitive data included in raised exceptions (HaystackError and its subclasses)

ModelingError:
https://github.com/deepset-ai/haystack/blob/main/haystack/modeling/model/feature_extraction.py#L116
https://github.com/deepset-ai/haystack/blob/main/haystack/modeling/model/language_model.py#L519

OpenAIError:
https://github.com/deepset-ai/haystack/blob/main/haystack/nodes/answer_gen

[2022-11-09 09:36] julian-risch commented on #3309
Thanks for creating this list! 👍
https://github.com/deepset-ai/haystack/blob/main/haystack/modeling/model/language_model.py#L519 is no problem in my opinion. It's just the model class but not the model name. Model name is only problematic because it could be a private model or a file path to a local model.

[2022-11-09 17:13] julian-risch commented on #2572
@anakin87 Hi Stefano, yes, you're right that the if-else block has been removed already. 👍 Regarding redundancy of the scaling: in the prediction head we get scores from a matrix of logits, which are not in the interval of 0 to 1 here: https://github.com/deepset-ai/haystack/blob/3319ef6d1c8f0b8a4d80d0f531c6ea0fd1c02e6e/haystack/modeling/model/prediction_head.py#L536
Confidence is calculated based

[2022-11-09 17:13] #2572 closed

[2022-11-10 02:12] youxingtian opened #3549 "TypeError: Object of type PosixPath is not JSON serializable"
**Describe the bug**
A clear and concise description of what the bug is.
when use fastapi to deploy server, I get the error，but I restart the service, It's OK. This bug has bothered me for a long time. Can you give me some advice?
[code]

**Error message**
Error that was thrown (if available)
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional

[2022-11-10 11:02] julian-risch commented on #3309
Now that https://github.com/deepset-ai/haystack/pull/3543 is merged, we will wait for two weeks and then create a list of root causes to the most recurring errors, sorted by frequency.

[2022-11-10 11:07] Benvii opened #3550 "FAQ CSV Indexing using YAML description, adding missing nodes"
**Is your feature request related to a problem? Please describe.**
Not really.

**Describe the solution you'd like**
As an Haystack user I would like to be able to import FAQ (as CSV files), index them though API endpoint using an indexing pipeline described as YAML.

**Describe alternatives you've considered**
I've added 2 nodes to do so :

- **Csv2Documents** : Takes a file input, parse it an FA

[2022-11-10 21:03] anakin87 commented on #3447
I'm starting to work on this... 🛠️

[2022-11-10 22:11] mayankjobanputra commented on #3521
Something that I have been struggling for a couple of days: https://github.com/python-poetry/poetry/issues/6409

[2022-11-11 07:49] masci opened #3553 "Weaviate: enable BM25 queries with filters"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When BM25 support was firstly introduced in 1.14, Weaviate didn't support passing filters along with the query and Haystack raises an exception when you call `query()` with both a query text and some filters.

**Describe the solution you'd

[2022-11-11 12:11] einarbmag opened #3554 "Can't save and load multiple indices in FAISSDocumentStore"
**Describe the bug**
The save function in FAISS Document Store only saves the default index called 'documents' :

https://github.com/deepset-ai/haystack/blob/main/haystack/document_stores/faiss.py#L639

Seems to me both the save and load functions need to be changed to work with multiple persisted FAISS index files.

**Error message**
Error that was thrown (if available)

**Expected behavior**
A c

[2022-11-11 15:38] tstadel opened #3556 "Readers break on empty documents"
**Describe the bug**
Both readers `FARMReader` and `TransformersReader` cannot handle empty document content inputs in `run()` and `run_batch`, which could be a valid but unlikely output of a retriever in a QA pipeline.
`run_batch()` also breaks when one of the document arrays of `documents` param is empty, which could be a valid output of a retriever (no documents found) in a QA pipeline.
`pipeli

[2022-11-14 12:14] Serbernari commented on #3364
This approach still does not create processor_config.json. Am I need to do something else?

[2022-11-14 15:48] sjrl commented on #2969
Hi @masci, PR #3154 partially resolves this issue. The PR did not add the training and evaluation of token classification models. I can edit the text of the main issue to better reflect the remaining tasks.

[2022-11-14 16:02] nicir opened #3570 "Might NSP be another method to retrieve documents?"
Hi there,

currently I am working with Haystack to train a Retriever for context retrieval in a custom domain. I am using the "DensePassageRetriever" that offers "dot_product" and "cosine" as similarity functions for training.

*Important Note: I am not interested in a QA-System with a Generator like RAG. It's all about the retrieval.*

--

I was wondering if it would be beneficial to use some kin

[2022-11-14 18:01] masci commented on #3420
@mayankjobanputra is this issue still relevant? In case it is, can we reformulate it to make it more actionable in light of @sjrl comments?

[2022-11-14 18:14] mayankjobanputra commented on #3420
imo it is relevant, but I will discuss it with you offline!

[2022-11-14 18:18] tstadel opened #3571 "Elasticsearch / OpenSearch brownfield function does not incorporate meta"
**Describe the bug**
`elasticsearch_index_to_document_store` incorrectly sets the metadata after calling the constructor of `Document`. That way, Document's `id` does not incorporate the `meta` even though `id_hash_keys` contains `meta` key.

**Expected behavior**
`meta` is incorporated if `id_hash_keys` contain `'meta'`.

**To Reproduce**
1. Ensure your source index contains docs with same conten

[2022-11-14 18:26] masci commented on #2608
A lot has changed in Haystack since we opened this issue and I can't see how we can debug this further, should we close it?

[2022-11-14 18:42] masci commented on #1173
@brandenchan is this still valid / up to date?

[2022-11-15 08:15] brandenchan commented on #1173
No its not ill close it now

[2022-11-15 08:15] #1173 closed

[2022-11-15 08:30] julian-risch opened #3575 "Reduce the number of raised PipelineConfigErrors"
The top 3 most frequent errors raised are:
[code]

This error message is triggered here: https://github.com/deepset-ai/haystack/blob/057a8c0b4f22ed858f2ac0a41a4f0dd2efa528e0/haystack/pipelines/base.py#L2005
which means that Haystack tries to load a component from the definition or just return it if the component object is already present in `components` dict. While Haystack tries to do that an Exc

[2022-11-15 09:04] #3540 closed

[2022-11-15 11:01] #3524 closed

[2022-11-15 11:13] #3571 closed

[2022-11-15 12:03] julian-risch commented on #3236
I tried to reproduce this issue with different Haystack versions and python version. The problem did occur with Haystack v1.8.0 but not with any version after that.
| Python/Haystack Version | 1.8.0 | 1.9.0 | 1.10.0 |
| :---         |     :---:      |          :---:  |          :---:  |
| 3.10   | ❌      | ✅     | ✅     |
| 3.9    | ❌        | ✅       | ✅     |
| 3.8    | ❌        | ✅       | ✅

[2022-11-15 13:08] TuanaCelik commented on #3570
Hey @nicir interesting!
I don't quite understand this though "a definition of something as query and a second sentence that specifies the subject"
In your example what would this second sentence be? Would this be something you expect the 'user' to input? Or are you suggesting NSP as a similarity function and we would apply it on the 'retrieval' candidates?

As a side note. Could you move this to t

[2022-11-15 13:38] TuanaCelik commented on #3554
Hey @einarbmag I wasn't able to reproduce this on my side. So let's just make sure you're using the `save` function properly. It's a function of the FAISSDocumentStore class. So this means that for it to work with a specific index, the class would have had to be initialized with that index name. E.g. the following works for me:

Let's say I have an index called 'bla':
`document_store = FAISSDocume

[2022-11-16 09:01] julian-risch commented on #3425
This issue can be closed as we have merged PR https://github.com/deepset-ai/haystack/pull/3543 to better understand what are the most common errors raised and will now work on reducing the number of PipelineConfigErrors in issue https://github.com/deepset-ai/haystack/issues/3575

[2022-11-16 09:01] #3425 closed

[2022-11-16 10:02] Benvii commented on #3550
Pushed 👍, thanks in advance for the review of #3587

[2022-11-16 11:20] #3019 closed

[2022-11-16 11:25] UmarEm opened #3589 "farm-haystack v1.8.0 and above not working with docker"
We have developed an api(FastApi) for question answer generation using farm-haystack.
The api with docker was working fine with farm-haystack version 1.4, but since the upgrade to (version 1.9.0), QuestionAnswerGenerationPipeline is stuck/not working. We have tried to let it resolve for 30minutes - 60 minutes but their are no results.

The QuestionAnswerGenerationPipeline is working without docker

[2022-11-16 14:34] tstadel opened #3590 "EvalationResult.calculate_metrics() returns `numpy.float32` instead of `float` as metric value for SAS"
**Describe the bug**
`EvalutionResult.calculate_metrics()` returns sas metric as `numpy.float32` type and not as `float`.

**Expected behavior**
Return type is `float` as the type hint of `EvalutionResult.calculate_metrics()`.

**Additional context**
`numpy.float32` cannot be used for storage in databases, e.g. with sqlalchemy.

**To Reproduce**
1. run tutorial 5 with sas metrics
2. look for sas m

[2022-11-16 21:48] Serbernari commented on #486
This really needs to be shown In the [examples](https://github.com/deepset-ai/FARM/tree/master/examples)/conversion_huggingface_models.py and in the documentation. I spent too much time looking for way to obtain processor_config.json for my custom huggingface model to work in haystack

Thank you @dkamalakar for asking this questuon and @tholor for showing the code example!

[2022-11-16 23:05] TuanaCelik opened #3593 "ParsrConverter invalid if statement"
**Describe the bug**
I _believe_ that there's a bug right here: https://github.com/deepset-ai/haystack/blob/dc26e6d43ef23c1746722c613347e28f05982eee/haystack/nodes/file_converter/parsr.py#L189

This if statement might just end up throwing an error because in the case that the pdf is only a table, text will remain text = ""

**Error message**
[code]

**Expected behavior**
Check that text is not emp

[2022-11-17 01:49] UmarEm commented on #3589
Hey @TuanaCelik
Thanks for the quick reply.
The DocumentStore used: InMemoryDocumentStore.

Docker Compose file.
[docker_compose.txt](https://github.com/deepset-ai/haystack/files/10027006/docker_compose.txt)

[2022-11-17 02:35] yspaik opened #3594 "Milvus without SQLite - Milvus can CRUD vector with metadata for himself as of today"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

SQLite used to be needed, but not true right now. Based on 2.0.0, Milvus does not have metadata features. However, it now supports string data for itself as well. So Milvus can store string data with vector data without any additional auxi

[2022-11-17 02:37] yspaik opened #3595 "Milvus that extends DocumentStore rather than SQLDocumentStore"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently class MilvusDocumentStore inherits SQLDocumentStore. However, Milvus itself is more like a document store than a SQL one. First, Milvus does not support SQL queries. Mainly, Milvus' queries are similar to the properties of a docu

[2022-11-17 08:25] #3236 closed

[2022-11-17 09:49] TuanaCelik commented on #3595
For reference, this issue was created after [a conversation on the Haystack Discord](https://discord.com/channels/993534733298450452/1040933687908368455).

PS to the other maintainers: I'm not sure to tag this with 'refactor' or 'breaking change'.

[2022-11-17 09:49] TuanaCelik commented on #3594
For reference, this issue was created after [a conversation on the Haystack Discord](https://discord.com/channels/993534733298450452/1040933687908368455).

[2022-11-17 10:11] masci commented on #3494
This become less critical after merging https://github.com/deepset-ai/haystack/pull/3533 as we generate it lazily instead of at startup. Leaving this open as it's still desirable to speed it up, just with a lower priority now.

[2022-11-17 10:14] masci commented on #3505
With https://github.com/deepset-ai/haystack/pull/3533 we changed strategy, generating the schema lazily instead of at startup, closing as not valid.

[2022-11-17 10:14] #3505 closed

[2022-11-17 10:57] julian-risch commented on #3590
Hi @tstadel would you like to contribute a PR for this issue yourself or should our core engineering team take over?  🙂 At first glance, it looks like a small issue. Either way, just let me know. Thank you!

[2022-11-17 13:30] mayankjobanputra commented on #3589
Hey @UmarEm,

Do I understand correctly that you install haystack inside this docker as a library and not run Haystack separately as a docker? and are you using a single document of 5k chars or a set of documents?

Maybe you're using proprietary data but it would be helpful if you can explain the scale a bit in detail. I am also assuming you're using just the CPUs for inference and not GPU.

And m

[2022-11-17 14:06] UmarEm commented on #3589
Hey @TuanaCelik
Yes, the haystack is installed inside the docer as a library. We have perfomed this test on 3 systems. The response/results were the same on all three
1: 16GB ram,  2 GB swap memory, 16 cores.(only CPU)
2: 40GB ram, 30GB swap memory, 8 cores.(only CPU)
3:  The configuration for the 3rd system is highlighted in this image attached below
![MicrosoftTeams-image](https://user-images.gi

[2022-11-17 14:29] mayankjobanputra opened #3597 "Remove possibly all mutable argument defaults across haystack"
**Describe the bug**
Haystack has too many functions where default arguments are mutable types (i.e., lists, dicts). This can create problems that are very hard to debug.

**Additional context**
This page contains both valid and invalid use cases of using mutable defaults:
https://web.archive.org/web/20200221224620id_/http://effbot.org/zone/default-values.htm

**List of all 68 problematic lines of

[2022-11-17 17:04] anakin87 commented on #3496
I just want to underline that this refactoring would really improve the experience for anyone designing a custom pipeline node.

In fact, as pointed out in https://github.com/deepset-ai/haystack/issues/2529#issuecomment-1127861906, it is difficult to manage several possible input types.
In my experience, it leads to redundant code developed only to make mypy happy.

[2022-11-17 17:47] MuatazMohammed opened #3600 "Error when importing FAISSDocumentStore"
**Describe the bug**
from haystack.document_stores import FAISSDocumentStore

**Error message**
AttributeError: module 'faiss' has no attribute 'swigfaiss'

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here, like document types / preprocessing steps / settings of reader etc.

**To Reproduce**
S

[2022-11-17 18:55] anakin87 commented on #3600
Same error of https://github.com/deepset-ai/haystack/pull/3561#issuecomment-1318902572.

[2022-11-17 23:31] mgoin commented on #3600
@anakin87 I also started seeing this error in our CI for deepsparse. Specifically it seems `faiss-cpu==1.7.3` causes this issue. If I manually downgrade to `faiss-cpu==1.7.2` there is no issue.

[2022-11-18 07:26] #3434 closed

[2022-11-18 15:38] anakin87 commented on #3593
I agree that this is a bug.
I reproduced it with the following code:

[code]

I used this document: https://github.com/camelot-dev/camelot/blob/master/tests/files/medicine.pdf

About the PDF provided by the user, it should be said that it is image-based.
So, even if I remove those 2 lines of code, I have an empty output:
`[<Document: {'content': '', 'content_type': 'text', 'score': None, 'meta': {

[2022-11-18 16:41] TuanaCelik opened #3606 "Docstrings Improvements"
@brandenchan I've collected some issues I've noticed with the API references into this one Issue. I hope some of these are helpful:

1. A simple one: I believe the reference to `DocumentMerger` is no longer valid. I think these should all be `JoinDocuments`. An example of a reference to this is [in the Summarizer API](https://github.com/deepset-ai/haystack/blob/c7e3483f62d4c8dce15d71d032fa49c8deba

[2022-11-18 18:09] anakin87 commented on #3606
About document merger: the node is fresh and good 😄.
But I put the wrong URL: it should be https://docs.haystack.deepset.ai/reference/other-api#module-document_merger

[2022-11-19 17:21] MuatazMohammed commented on #3600
it was solved automatically without any modifications, don't know why :D ?

[2022-11-19 17:21] #3600 closed

[2022-11-20 04:10] OMGAmici commented on #3600
Hey everyone, I am having the same issue now. For me, I tried installing and reinstalling haystack, but it is persistent. Specifically, it appears whenever I try to import certain (but not all) packages. For example, `from haystack.nodes import PreProcessor` causes the error.

What should I be doing to fix this?

[2022-11-21 02:55] hyunsir commented on #2081
pymilvus==1.1.2 !!!!
Don't set version  >= 1.2.0 , neither too low.
It's an unstable third-part lib, show be carefully piped

[2022-11-21 09:54] #3593 closed

[2022-11-21 15:14] ZanSara commented on #3597
Pylint should be able to point out such situation and provide a nice list that we can then address: https://pylint.pycqa.org/en/latest/user_guide/messages/warning/dangerous-default-value.html

[2022-11-21 15:23] ZanSara opened #3610 "Enhance YAML validation for incompatible argument subsets"
**Problem**
Right now YAML validation checks for the presence and type of every argument of nodes, but does not verify whether all arguments together make sense. For example PrePrpcessor has parameters that need to be present only of others are set to some specific values, and FAISSDocumetnStore can only be given a path to a save file or the parameters to create a new instance, but not both.

This

[2022-11-21 18:17] tstadel commented on #3590
@julian-risch I have to check again, because it seems like all metric values are returned as numpy types.

[2022-11-21 18:18] cathedralengine opened #3611 "Allow the installation of a minimal version of the library that only installs dependencies necessary for querying hosted models"
I really like the library, especially the new option to use `CohereEmbeddingEncoder`. However, if I am relying on this, or on my own hosted models and document store, then I don't need a lot of the heavyweight packages like `torch`, `transformers`, `sentence-transformers` that are installed by default. They make my environment bloated. It would be great if there was support for using the library w

[2022-11-21 18:31] tstadel commented on #3590
Yes, and for some SAS models it might be numpy.float32 and not numpy.64. So let's consolidate all outputs of `calculate_metrics()` to standard python `float`.

[2022-11-22 07:49] agnieszka-m commented on #3606
I fixed no 1.

[2022-11-22 08:05] #3590 closed

[2022-11-22 08:24] #3447 closed

[2022-11-22 08:46] ugm2 opened #3613 "`all_terms_must_match` in `BM25Retriever` should be able to be passed at runtime too"
`all_terms_must_match` should be able to be passed at runtime too
https://github.com/deepset-ai/haystack/blob/2fadcf2859dcdf7b7ce55dd7040d0955822f955e/haystack/nodes/retriever/sparse.py#L220

It's something that you may want to quickly change between searches avoiding having to reload the pipeline again (currently it can only be passed in the init function).

I can draft a PR if you guys want

[2022-11-22 09:23] thobson commented on #3236
Confirmed this is working in 1.10.0. Thanks everyone!

[2022-11-22 11:04] masci commented on #3595
Related to https://github.com/deepset-ai/haystack/issues/3594, which is the only reason why Milvus derives from `SQLDocumentStore`. The present issue would be implicitly resolved fixing #3594.

[2022-11-22 13:27] masci commented on #3611
@cathedralengine that's a good idea, could you post a snippet of code or a detailed use case I can use to test such a "minimal" installation?

[2022-11-22 13:41] Kadri-Saal commented on #17
I am using ElasticSearch version 8.5.1 and the latest python library of ElasticSearch concurrent with version 8.5.1.

I am also having trouble with `ElasticsearchDocumentStore`. After following the ElasticSearch instructions [here] for deploying an instance of a single node in a container using a docker image (https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html), I was able

[2022-11-22 13:50] masci commented on #2894
We now have the [base image](https://hub.docker.com/r/deepset/haystack) that could be used to run tests (indeed we already do this in the [tutorials repo](https://github.com/deepset-ai/haystack-tutorials/blob/5297d8bda2ff5627648f03bf0c40cf99699ca85d/.github/workflows/run_tutorials.yml#L12)) if we `pip install -U .[all]` as the first step of each job, that should work.

[2022-11-22 13:55] masci commented on #2775
Closing as we're running tests on Weaviate 1.16 using the client 3.9.0

[2022-11-22 13:55] #2775 closed

[2022-11-22 13:56] #2760 closed

[2022-11-22 13:58] masci commented on #2417
Done in Haystack 1.11

[2022-11-22 13:58] #2417 closed

[2022-11-22 14:03] masci commented on #1713
Not sure about the scope of the issue, I'm calling this resolved with https://github.com/deepset-ai/haystack/pull/3551 for now

[2022-11-22 15:27] TuanaCelik commented on #3606
@agnieszka-m I meant the URL in the docstring [here](https://github.com/deepset-ai/haystack/blob/c7e3483f62d4c8dce15d71d032fa49c8deba39a8/haystack/nodes/summarizer/transformers.py#L86)
I created a PR fixing it in #3615 - take a look. @anakin87 thanks for the heads up! I actually did not know about this node! I made that the url :)

[2022-11-22 15:37] ju-gu opened #3616 "Change answer coordinates to return row and column index in TableQA answers"
**Is your feature request related to a problem? Please describe.**
When doing tableQA the answer is provided together with [the answer offsets of the linearized table](https://github.com/deepset-ai/haystack/blob/2fadcf2859dcdf7b7ce55dd7040d0955822f955e/haystack/nodes/reader/table.py#L267-L276) (see example below). Though in tableQA it is not so helpful to the user to provide the offset of the line

[2022-11-22 21:50] mayankjobanputra commented on #3613
@ugm2 thanks for pointing out this optimization and change. I looked at the code and I think you're right.

I will check with the team for if there're any legacy reasons for doing this and get back to you tomorrow.

[2022-11-23 09:01] #3239 closed

[2022-11-23 09:31] masci opened #3618 "Provide a Docker image blueprint for air-gapped environments"
**Is your feature request related to a problem? Please describe.**
It's common to run Haystack behind its `rest_api` within a container that doesn't have access to the Internet. In these situations the solution would be creating a custom Docker image that incorporates any resource that Haystack would normally download as it's needed like models.

This approach is fully supported by the new Docker

[2022-11-23 12:00] JoanGi opened #3619 "Demo in docker not uploading PDF files"
**Describe the bug**
Hi, i'm using the current demo in the docker container, with a MAC M1. The demo returns an "ok" if you upload a PDF file, but the file is not indexed in ElasticSearch. Seems to be an issue related with the OS architecture and docker.

Related PR:
https://github.com/deepset-ai/haystack/pull/3354
More info about this: https://stackoverflow.com/questions/71040681/qemu-x86-64-coul

[2022-11-23 14:11] mayankjobanputra commented on #3613
@ugm2 I confirmed with the team. We agree with you that `all_terms_must_match` should also be allowed to change at the runtime.

Do you want to create a PR for this?

[2022-11-23 14:16] mayankjobanputra commented on #3613
Yeah that would be great :)

[2022-11-23 14:57] Benvii commented on #3550
Hi @masci and @vblagoje  I took a look at the proposal, the focus here is in having the ability to import CSV file (though rest API), embed them and use it for FAQ pipeline without having to develop any node. Something that any one willing to use FAQ will certainly need.

It introduces the idea of having an "embedding / indexing node" that simply calls the `run_indexing(docs)` of a retriever, clea

[2022-11-23 15:23] vblagoje commented on #3550
Thanks for this effort @Benvii , no @masci this is unrelated to https://github.com/deepset-ai/haystack/pull/3558

[2022-11-23 16:06] kaumanns opened #3621 "Cannot load FARMReader model from local disk"
**Describe the bug**

I would like to load the large FARMReader model from local disk, not from huggingface.co, in order to cut down on traffic and setup time when docker compose is invoked.

It does not work.

**Error message**
Error that was thrown (if available)

[code]

**Expected behavior**

Load the model from local disk without error message.

**Additional context**

I am aware of the worka

[2022-11-24 08:11] mayankjobanputra commented on #3554
@einarbmag I could also verify that it's possible to save and load multiple indices using steps provided by @TuanaCelik. If we misunderstood your requirement, please feel free to re-open this issue :)

[2022-11-24 09:55] anakin87 commented on #3410
@ZanSara this proposal sounds very interesting and challenging!

If you would like to provide some resources/pointers/examples to get started with the implementation, I think that they would be very helpful for me and the other contributors 😃.

Do you think that [this dataset](https://huggingface.co/datasets/jamescalam/image-text-demo) could be useful to test the implementation or do you have bett

[2022-11-24 10:24] ZanSara commented on #2866
Done, all document stores turned out to support this with no issues.

[2022-11-24 10:24] #2866 closed

[2022-11-24 10:25] ZanSara commented on #2867
Closing, turned out not to be necessary.

[2022-11-24 10:25] #2867 closed

[2022-11-24 10:28] ZanSara opened #3623 "Create a multi-modal demo"
Now that Haystack supports images, we should consider creating a demo similar to the Countries and Capitals Demo, but on an image dataset.

[2022-11-24 10:29] #2418 closed

[2022-11-24 10:44] ZanSara commented on #3410
Hey @anakin87! Nice one you've picked! So I should make a premise: I'm not the most knowledgeable in the team about evaluation and training of models, so take my input with a grain of salt :smile:

That said:

- The dataset looks fine to me! I can't say if this is the best one though. I'd say it's a good start in my opinion, so you can get started with it. There might be standard datasets to evalu

[2022-11-24 11:04] ZanSara commented on #1551
Closing as completed

[2022-11-24 11:04] #1551 closed

[2022-11-24 11:06] #1345 closed

[2022-11-24 11:07] ZanSara commented on #1010
Closing as support has started with MultiModalRetriever

[2022-11-24 11:16] anakin87 commented on #2444
As I was starting to familiarize myself with images/multimodal support, I ran into this issue.

Are these features still desirable?
Has any detail changed?

[2022-11-24 11:31] ZanSara commented on #3246
Closing as stale, let's open a new one if the problem is still relevant.

[2022-11-24 11:31] #3246 closed

[2022-11-24 11:32] ZanSara commented on #482
I think this was completed in https://github.com/deepset-ai/haystack/issues/3057. Let's re-open if it was not the case.

[2022-11-24 11:32] #482 closed

[2022-11-24 12:21] burtonrj opened #3625 "ZMQError: Address already in use when using the multiprocessing library and importing haystack modules"
**Describe the bug**

There seems to be some issue with multiprocessing in Python and haystack.

If I import the multiprocessing library and **don't** import any haystack modules, I can run the following code without any error:

[code]

If however, I import anything from haystack, say, the Document class at any point in my notebook like so:

[code]

Then the kernel dies and I get an error message:

[2022-11-24 12:21] ju-gu commented on #3616
@sjrl  I talked to core and it would be awesome if you could implement a fix here.  The easiest one (in my opinion) might be to just change the offset values to the table coordinates. Though long term we might also want it to be explicit stated and a new schema as we currently just support span.

@bogdankostic  Do you have any thoughts on this?

[2022-11-24 12:27] mayankjobanputra commented on #3621
@kaumanns Thanks for pointing out this issue. I am able to reproduce this issue as well. I will dig deeper to find the cause of the issue and get back to you.

In case you already have a solution and would like to work on it, please let me know here :)

[2022-11-24 13:37] burtonrj commented on #3625
I also tried reinstalling haystack using the instructions on GitHub i.e. cloning the repo and installing from source, but I'm still getting the same error when I run ```list(tqdm(pool.imap(func, list(range(10000))), total=10000))``` after importing anything from haystack.

[2022-11-24 16:55] masci commented on #2674
Fixed in https://github.com/deepset-ai/haystack/pull/2682

[2022-11-24 17:00] masci commented on #2016
Closing as the new images don't include models anymore by default, while we'll provide instructions about how to build a `-demo` kind of image in https://github.com/deepset-ai/haystack/issues/3618

[2022-11-24 17:00] #2016 closed

[2022-11-24 17:07] masci commented on #2799
Fixed in https://github.com/deepset-ai/haystack/pull/3194

[2022-11-24 17:07] #2799 closed

[2022-11-24 17:08] masci commented on #2535
Closing this as it's been a while since we've seen this issue, and the CI has sensibly changed in the meantime

[2022-11-24 17:08] #2535 closed

[2022-11-25 08:40] ugm2 commented on #3613
Hi @mayankjobanputra !
Find linked the PR I promised 😉
I wasn't able to run the tests locally and I already mentioned it in Haystack's Discord, but maybe I can share it with you if you want.

[2022-11-25 08:47] ugm2 commented on #3613
There's also one problem with `mypy` that suggests that `BM25Retriever.retrieve()` should have the same parameters as `BaseRetriever.retrieve()`, but then `DensePassageRetriever` class inherits from `BaseRetriever` too and it doesn't use that option (`all_terms_must_match`), so it would be weird to pass that parameter to `DensePassageRetriever.retrieve()` function

[2022-11-25 09:07] masci commented on #1897
- https://github.com/deepset-ai/haystack/issues/2641
- https://github.com/deepset-ai/haystack/issues/3523

[2022-11-25 09:31] masci commented on #2444
@anakin87 yes, still something we want to do. We'll keep this issue updated should we change anything.

[2022-11-25 09:34] masci commented on #3003
Part of https://github.com/deepset-ai/haystack/issues/3003

[2022-11-25 09:40] masci commented on #3312
The demo might be a good candidate to validate this work https://github.com/deepset-ai/haystack-private/issues/14

[2022-11-25 09:53] ZanSara commented on #3549
Hey @youxingtian, sorry for the very late reply. Seems like the bug is related to telemetry. Could you try to disable it and see if it helps? https://docs.haystack.deepset.ai/docs/telemetry#how-can-i-opt-out

[2022-11-25 10:26] TuanaCelik opened #3631 "Install tests with 'dev' installation"
Background: First asked by @ugm2 on Discord
Currently `pip install -e '.[dev]'` does not install tests, while `pip install -e '.[test]'` seems to install tests and also the dev installation.

Could it be an idea to install tests within the dev installation or even just have 1 'dev' installation for all?

[2022-11-25 10:51] bilgeyucel opened #3632 "Cohere medium embed model deprecation"
As of December 2, `medium` embedding model will be deprecated by Cohere.

With version 1.11, we started to provide `small`, `medium`, and `large` options for the `embedding_model` parameter of `EmbeddingRetriever` when Cohere embeddings are used. `medium` one should be removed from the list.

[2022-11-25 10:59] anakin87 commented on #3632
To better understand, I report the [official Cohere communication](https://docs.cohere.ai/changelog/improvements-to-current-models-new-beta-model-command).

[2022-11-25 11:16] ugm2 opened #3633 "PreProcessor from json config `{'split_by': null}` gives schema validation problem"
**Describe the bug**
We are using JSONs as configs for our pipelines. When loading the pipeline from JSON, at validation time the PreProcessor node gives a validation error when using `split_by: null`. Being able to use `split_by: null` or in python code `split_by=None` was added in this PR: #3389

**Error message**
![image](https://user-images.githubusercontent.com/25923343/203973567-0729f959-709

[2022-11-25 11:33] anakin87 commented on #3632
@bilgeyucel sorry, my mystake! 😃

[2022-11-25 13:48] julian-risch opened #3634 "Move public datasets & files to new S3 bucket"
Public datasets as used in the tutorials or other public files should be move to one central location, which is the `public` folder in our new S3 bucket: https://core-engineering.s3.eu-central-1.amazonaws.com/public/

The tutorials and documentation need to be updated accordingly.

In Haystack, changes are needed here to make sure telemetry on tutorials still works after moving and renaming the da

[2022-11-25 13:57] TuanaCelik commented on #3634
Note: While this is being done, we should make sure that the tutorials in [haystack-tutorials](https://github.com/deepset-ai/haystack-tutorials) get updated to use the correct URL for each one that uses a dataset.

[2022-11-25 13:59] julian-risch commented on #3634
Indeed, thanks Tuana. Here is the corresponding issue in the tutorials repo: https://github.com/deepset-ai/haystack-tutorials/issues/79

[2022-11-25 16:14] mayankjobanputra commented on #3554
@einarbmag can't you instantiate multiple instances of FAISSDocument store for that purpose? Can you maybe share your use-case?

[2022-11-25 16:26] einarbmag commented on #3554
Technically I could, but it's inconsistent that you can save and query against multiple different indices in a singe FAISSDocumentStore but you can only save abd load the default index.

The use case is that I want to create a very simple semantic search service where I can maintain several indices at once. Being able to use a single document store just simplifies the app building a lot.

[2022-11-25 17:28] anakin87 commented on #2834
To reproduce:

[code]

I agree with @sjrl's analysis.

IMHO, the problem is that `duplicate_documents` parameter of `write_documents` and `update_existing_embeddings` parameter of `update_embeddings` act in an uncoordinated way, because they are unaware of each other.

https://github.com/deepset-ai/haystack/blob/c6890c3e867cc5fdcf64431a5c4422764845d995/haystack/document_stores/faiss.py#L284-L290

[2022-11-25 19:48] sjrl commented on #3621
Hey @mayankjobanputra the PR https://github.com/deepset-ai/haystack/pull/2685 from @mathislucka may be related

[2022-11-25 20:02] mayankjobanputra commented on #3621
Hey @sjrl thanks for pointing it out! I will check it out and see if we can make progress here :)

[2022-11-25 20:03] sjrl commented on #3616
@bogdankostic @ju-gu I'd be happy to use something like
[code]
so we can continue using the`Span` schema.

---
Alternatively as Jul mentioned we could do one of the two options:
1. Create a `TableSpan` (or `TableLocation`) data class (I think I prefer this option)
2. Or maybe a `TableAnswer` data class

Looking at the schema for Answer https://github.com/deepset-ai/haystack/blob/c6890c3e867cc5fdcf

[2022-11-25 20:16] sjrl commented on #3616
I believe the breaking change label is needed here because this will change how the `Answer` is returned to the user. So after this change previously written code will return different Span outputs.

[2022-11-26 11:41] borhenryk commented on #1019
@Youmna-H try: `document_store = FAISSDocumentStore.load(index_path = "my_faiss") `

[2022-11-27 07:45] stefanqxb commented on #1894
Hi there,
     I think Im also in need with this feature, since in our cases, multi-span answers are quite common, similar to the table QA secnairo, so it would be great if we could include this asap :)

Brs

[2022-11-28 08:58] mayankjobanputra commented on #3554
@einarbmag if it simplifies your use case, we are more than happy to incorporate it.

Do you want to work on bringing this change to Haystack? If not, I will pick it up next.

[2022-11-28 09:12] vblagoje commented on #3422
@agnieszka-m has reviewed the [notebook](https://colab.research.google.com/drive/1jwwsxJsn_Ch9xU68K3rjYGDyL-Gs1-Km?usp=sharing), and I have made some corrections in the notebook. Perhaps, we should integrate this tutorial into our tutorials? If so, I am not sure how exactly, but perhaps @TuanaCelik, @bilgeyucel, and @brandenchan should know better.

[2022-11-28 09:12] #3422 closed

[2022-11-28 09:14] vblagoje commented on #3309
@julian-risch two weeks have passed; let's sync about this and decide how to proceed.

[2022-11-28 10:20] vblagoje commented on #3185
Update: no ability yet with 4.24.0. Most likely, this will be by design. Therefore we should always index devices, perhaps even mps?

[2022-11-28 10:30] azikoss commented on #2043
Hi @ZanSara, I used this example with version 1.3 and it worked fine. Upgrading to v1.11 ends up with having html and javascript in the crawled text. Just try it on any website - e.g. here https://www.bbc.com/news/live/world-asia-63776816. Am I doing something wrong or there is a bug?

[2022-11-28 11:35] masci commented on #3422
@vblagoje to create a new tutorial you can use the template from Aga https://github.com/deepset-ai/haystack-tutorials/blob/main/tutorials/template.ipynb and open a PR there

[2022-11-28 11:41] bilgeyucel commented on #3422
Hi @vblagoje, I am not sure if it should be a tutorial or a guide. We need to show how to use these new embeddings but [Better Retrieval with Embedding Retrieval](https://haystack.deepset.ai/tutorials/06_better_retrieval_via_embedding_retrieval) seems pretty similar to that one. WDYT?

[2022-11-28 13:36] #2631 closed

[2022-11-28 14:32] masci commented on #2794
@ZanSara ok to close?

[2022-11-28 14:40] masci commented on #2750
this would be solved indirectly by https://github.com/deepset-ai/haystack/issues/2894

[2022-11-28 14:47] masci commented on #2397
Leaving this open even if the title is a tad generic - it would still be helpful to show a "typical" deployment setup on a cloud provider.

[2022-11-28 14:56] masci commented on #2397
Actually closing as duplicate of https://github.com/deepset-ai/haystack/issues/2206

[2022-11-28 14:56] #2397 closed

[2022-11-28 14:59] masci commented on #2360
fixed in https://github.com/deepset-ai/haystack/pull/3204

[2022-11-28 14:59] #2360 closed

[2022-11-28 15:02] masci commented on #2208
Helm chart should be provider-agnostic, while the heavy lifting should be done here https://github.com/deepset-ai/haystack/issues/2206, closing.

[2022-11-28 15:02] #2208 closed

[2022-11-28 15:20] masci commented on #1669
Closing as inactive, feel free to reopen if #1548 isn't helpful.

[2022-11-28 15:20] #1669 closed

[2022-11-28 15:23] masci commented on #1491
This doesn't seem to be a common pain point, I'm going ahead and close as 'won't do' but feel free to re-open and we'll re-evaluate priority.

[2022-11-28 16:00] #2794 closed

[2022-11-28 18:33] masci commented on #1432
Closing as the codebase has changed a lot since

[2022-11-28 18:33] #1432 closed

[2022-11-28 18:34] masci commented on #1390
Closing as the FARM migration can be considered done

[2022-11-28 18:34] #1390 closed

[2022-11-28 18:36] masci commented on #1392
Closing as we're not working on FARM migration anymore, feel free to reopen with more details if this is something we still have to do.

[2022-11-28 18:36] #1392 closed

[2022-11-28 18:36] masci commented on #1391
Closing as we're not working on FARM migration anymore, feel free to reopen with more details if this is something we still have to do.

[2022-11-28 18:36] #1391 closed

[2022-11-28 18:50] masci commented on #1277
Closing as superseded by #1036

[2022-11-28 18:50] #1277 closed

[2022-11-28 18:59] masci commented on #1511
We're tracking multiprocessing issues within containers in https://github.com/deepset-ai/haystack/issues/3093

Regarding the warning, I don't think we should do it because it might get really noisy and users can easily use `deepset/haystack` images as base and add their own implementation this feature if needed.

[2022-11-28 18:59] #1511 closed

[2022-11-28 23:20] mayankjobanputra commented on #3633
Hi @ugm2 ,

Thanks for raising this issue. There's already a new PreProcessor in PR state. Maybe you can look at it?

https://github.com/deepset-ai/haystack/pull/3557

[2022-11-29 06:57] stefanqxb commented on #1894
Any updates for this tickets ? :)

[2022-11-29 08:00] #2930 closed

[2022-11-29 10:46] bogdankostic commented on #3616
@tholor I think we should involve you in this discussion as you designed the primitives in #1398 and changes in the schema are major changes.

I think the reason why we use the current format was to have consistent `Answer` objects, no matter which node they come from. I would definitely vote against using the current `Span` objects to represent table coordinates as using `start` for the row index

[2022-11-29 11:14] tholor commented on #3616
This sounds to me like it's worth a proposal process and documenting this decision properly. Would be curious to hear from you @bogdankostic how you would rate this decision in terms of impact + "how hard to reverse"?

Regarding the content:
I am especially lagging the "why" in this thread. We should have a clear understanding of the current user pain points and how big this pain is.

[2022-11-29 12:18] danielfleischer opened #3642 "Error loading pipeline yaml with empty strings"
YAML supports empty strings as "" or ''. I need to provide an empty string as a parameter to one of the classes. When loading a pipeline from that YAML file using `haystack.Pipeline.load_from_yaml` I get an exception. This is due to the following code: https://github.com/deepset-ai/haystack/blob/af06519fc4eb646ba77d97da261a7dd5ec3fc7f3/haystack/pipelines/config.py#L136 because the regex for valid

[2022-11-29 12:30] danielfleischer commented on #3642
Suggestion: change the pattern to `re.compile(r"^[-\w/\\.:* \[\]]*$")`.

[2022-11-29 17:35] humane-barry opened #3643 "Allow Documents to have raw bytes as content"
**Is your feature request related to a problem? Please describe.**
Haystack is amazing for running inference on natural language.  The core Component and Pipeline classes can also be used to process other media types like images and audio and video, but the runtime type validation on Document prevents passing raw bytes.

**Describe the solution you'd like**
I would like to be able to store bytes i

[2022-11-29 18:51] sjrl commented on #3616
Hi, @tholor I'd be happy to open a proposal process for this. But to give you a brief explanation on the why:

The current `Answer` object returned by the `TableReader` returns the original table as a pandas data frame, which is in 2 dimensions but the `Span` of the answer cell is returned as if the table was flattened into 1 dimension. As the end user it would be easier for me to access the cell

[2022-11-29 19:30] anakin87 commented on #3231
I tried to reproduce this issue with the following installation commands:
- `pip install farm-haystack`
- `pip install farm-haystack==1.8.0`
- `git clone https://github.com/deepset-ai/haystack.git`
`cd haystack && pip install -e '.[all]'`

I can't reproduce it because of these Transformers PRs: https://github.com/huggingface/transformers/pull/17440 https://github.com/huggingface/transformers/pull/

[2022-11-29 21:25] zoltan-fedor commented on #3553
Hi @masci,
I was the one who originally wrote the Haystack code for the BM25 Weaviate support and added that exception about not having filter support with BM25 in Weaviate.

Unfortunately the filter support with BM25 is still NOT THERE (even in 1.16), as it was confirmed by testing and [the Weaviate core devs](https://github.com/semi-technologies/weaviate/issues/2134#issuecomment-1331240848).

In

[2022-11-30 08:27] ZanSara commented on #3553
Hey @zoltan-fedor ! Thank you for the heads-up! There must be an issue with our test suite then. I'll perform some manual tests to see what's happening.

[2022-11-30 09:28] vblagoje commented on #3550
@masci I take back this statement because at the time of writing the comment above, our proposal  https://github.com/deepset-ai/haystack/pull/3558 didn't have the changes regarding separating Embedder and EmbeddingRetriever outlined in #2403 that @ZanSara suggested. Now that Sara's recommendations have been accepted into the [proposal](https://github.com/deepset-ai/haystack/commit/394b1f08c213a23a

[2022-11-30 10:44] vblagoje commented on #2403
Resurrecting this discussion as it is relevant for #3558 - @julian-risch @bogdankostic would your concern be alleviated if we have some sort of an identifier field identifying `Embedder` that created embeddings? During querying, we can perform a check that the embedder used in the retriever is the same embedder used in indexing. Looking forward to your feedback.

[2022-11-30 10:44] vblagoje commented on #2403
Resurrecting this discussion as it is relevant for #3558 - @julian-risch @bogdankostic would your concern be alleviated if we have some sort of an identifier field identifying `Embedder` that created embeddings? During querying, we can perform a check that the embedder used in the retriever is the same embedder used in indexing. Looking forward to your feedback.

[2022-11-30 13:02] bogdankostic commented on #3616
I'd say this would be easy to reverse from our side but has quite a high impact as this would result in a schema change and affect every user using TableQA, so having a proposal for this would be great!

[2022-11-30 13:58] zoltan-fedor commented on #3553
Hey @ZanSara,
I have already looked into that and explained at https://github.com/deepset-ai/haystack/pull/3628#issuecomment-1331269953

But in summary there were two issues:
1. [This line](https://github.com/deepset-ai/haystack/pull/3628/files#diff-d4e4f2566db6c2fbe852debffcf7830447ecb969d4cdcce6d796fd773eba379bL999) wasn't put under the `else:` of the uncommented `if` -- which resulted in the qu

[2022-11-30 14:15] masci commented on #3597
Let's make a checkist in this issue and tackle the problem one package at a time

[2022-11-30 14:39] masci commented on #3632
Closing as we're not using `generate` models in Haystack.

[2022-11-30 14:39] #3632 closed

[2022-11-30 16:09] ZanSara commented on #3643
Hey @humane-barry! I'm afraid allowing Documents to contain bytes might lead to a large amount of problems with DocumentStores.

Document Stores are designed to handle text, and most of the vector stores we use (Milvus, Pinecone, Weaviate, etc...) handle all the document attributes as metadata. Such backends will probably not accept bytes along with their embeddings: even Elasticsearch recommends

[2022-11-30 17:58] tstadel opened #3647 "Execute dense searches in parallel in OpenSearchDocumentStore when in batch mode"
**Is your feature request related to a problem? Please describe.**
If we call `run_batch` `OpenSearchDocumentStore` makes use of `msearch` if it is a sparse query. That is, it executes the searches in parallel. For dense searches this is not the case, all searches are executed in sequence.

**Describe the solution you'd like**
`OpenSearch`'s `msearch` supports dense searches as well, so let's:
- c

[2022-11-30 19:28] lefnire opened #3650 "Add passthrough args for huggingface models (specifically Summarizer)"
**Is your feature request related to a problem? Please describe.**
I'd like to add huggingface pipeline arguments to nodes which use HF pipelines. Or at least specifically for the [Summarizer node](https://github.com/deepset-ai/haystack/blob/main/haystack/nodes/summarizer/transformers.py#L116). It currently accepts min_length, max_length (and of course the model_name_or_path). There are a few *rea