[2021-11-05 10:23] tstadel commented on #1281
https://github.com/deepset-ai/haystack/issues/1508 replaced FARMClassifier with TransformersDocumentClassifier, so it would look more like this:

[code]
Probably it makes more sense to do it after using the PreProcessor, but we might want to keep the flexibility to use it right after the converters or after further preprocessing (e.g. document splitting).

There's a small hurdle to take, as prepro

[2021-11-05 10:53] brandenchan commented on #1687
@ErenChan Ok interesting. I will be looking deeper into this early next week. Will report back here when I have any news.

[2021-11-05 11:01] tstadel commented on #1281
In order to support custom content fields, it's better to keep the "Document only way" as only client code can provide this information. This means we have to convert the dicts to Documents within the preprocessing logic.

[2021-11-05 11:30] tstadel commented on #1281
Should be better to introduce a new tutorial instead of extending the existing Tutorial8_Preprocessing. So we can show how the classification results dynamically added at index time can be used at query time in one tutorial.

[2021-11-05 14:59] bradyneal opened #1698 "Make FAISSDocumentStore work with yaml format (used by REST API folder)"
**Is your feature request related to a problem? Please describe.**
I'm trying to get the DensePassageRetriever (DPR) working with a FAISSDocumentStore and into a REST API using the rest_api/ folder in the haystack repo. This rest_api/ folder requires me to use the yaml formatting. I use the code in the [DPR tutorial](https://haystack.deepset.ai/tutorials/dense-passage-retrieval) to load the FAISSD

[2021-11-05 15:49] shainaraza opened #1699 "fetch data"
I have difficulty fetching data in other format, other than the games of throne text files.
Any guide?

[2021-11-06 07:43] cvgoudar commented on #1630
@julian-risch : Can something be done by modifying the query. If all the records without embedding are preeliminated then it can restrict to the documents which have embeddings and possible avoid code complexities downstream as well.

![image](https://user-images.githubusercontent.com/13920855/140602095-466e74ee-247a-43d6-bd67-fd10566f6407.png)

[2021-11-06 07:45] cvgoudar commented on #1630
I feel it is important issue to be addressed, is there a plan to fix this issue. This issue may be present across multiple document_store and not specific to elasticsearch itself.

[2021-11-06 16:44] lambdaofgod opened #1701 "Confusing behavior of document store update_embeddings with EmbeddingRetriever"
I try to use EmbeddingRetriever for embeddings for my documents

I supply `docs` as a list of dicts with the following fields: `dict_keys(['repo', 'tasks', 'Unnamed: 0', 'repo_name', 'path', 'function_name', 'text', 'content'])`

When I run the code
[code]
It outputs (here I used fewer documents because it takes some time)

Currently no support in Processor for returning problematic ids
ML Logging

[2021-11-08 03:37] bradyneal opened #1702 "Support Hugging Face Accelerated Inference API"
**Is your feature request related to a problem? Please describe.**
I don't want to have to handle model hosting and deployment. I want to pay someone like Hugging Face (HF) to do that for me to improve our iteration speed, and also speed up the model to a lot faster than I could an any reasonable amount of time. For example, I recall some HF person saying that it should take a couple engineers sev

[2021-11-08 08:38] cvgoudar commented on #1410
On debugging the issue seems to be related to not having embeddings in the indexed documents. This is also observed with another issue #1630 and needs a generic fix where write to document_store and retrieval to document store can happen with concurrent requests. As embeddings creation is expensive the processing time required can create situations where the embeddings may not be available for a c

[2021-11-08 08:38] #1410 closed

[2021-11-08 10:10] ZanSara commented on #1538
I tried running a few tutorials and with the changes in #1696 I can see those lines of output again.

----

As a general note: when I implemented the pipelines debug function, I modified how the loggers behave in such a way that all loggers are set to DEBUG, but their handlers filter out all messages below WARNING (See the block above this line: https://github.com/deepset-ai/haystack/blob/892ce4a7

[2021-11-08 12:47] julian-risch commented on #1699
Hi @shainaraza we have a documentation page about data preprocessing and converting different input data, such as docx or pdf, to the document format that haystack uses internally: https://haystack.deepset.ai/docs/latest/preprocessingmd
There is even a paragraph about web crawling to get input data.
As already mentioned in our haystack slack community, there is a tutorial on using external data in

[2021-11-08 12:47] #1699 closed

[2021-11-08 13:05] julian-risch commented on #1695
Hi @cvgoudar I understand the concerns and agree that we should think about a different solution than the one we have in place at the moment.
The document stores handle the documents without embeddings differently. ElasticsearchDocumentStore indeed raises an error message if you try to query by embedding and there are documents without embeddings: https://github.com/deepset-ai/haystack/blob/892ce4

[2021-11-08 13:25] julian-risch commented on #1701
Hi @lambdaofgod I see the message `Duplicate Documents: Document with id 'eafc79d9ec2b51963d47475c73c84fc9' already exists in index 'document'` so there is definitely at least one document stored in your document store. Could please post one document as an example? You can abbreviate the content in the different fields. I'm just wondering why there is `text` and `content`. With one of the most rec

[2021-11-08 13:27] ZanSara commented on #1698
Hello @bradyneal, thank you for this bug report! f I understand your description correctly:
- You have a populated FAISS document store
- You previously called `document_store.save("my_faiss_index.faiss")` from Python and it worked
- You verified that you can load it back in Python with `FAISSDocumentStore.load("my_faiss_index.faiss")`
- But when using a `pipeline.yaml` that contains the snippet y

[2021-11-08 13:32] bradyneal commented on #1698
Yes, that all sounds right 👍

[2021-11-08 14:09] tholor commented on #1695
Related to https://github.com/deepset-ai/haystack/issues/1630#issuecomment-962413324

@cvgoudar I like your suggestion and I can see that we restrict the search in ElasticsearchDocumentStore to docs that already have an embedding. Are you interested in creating a PR that modifies the query that you mention in https://github.com/deepset-ai/haystack/issues/1630#issuecomment-962413324?

[2021-11-08 14:10] ZanSara commented on #1698
So, I didn't manage to replicate your issue exactly, but I spotted a potential issue.

In your snippet, the node name is `FAISSDocumentStore`. If the rest of the `pipeline.yaml` file is untouched, then it won't work: the rest of the nodes refer to a node called only `DocumentStore`, so you have to change the definition of your FAISS doc store to:
[code]
However, with your original snippet my appli

[2021-11-08 15:07] bradyneal commented on #1698
Thanks for volunteering the in-depth help @ZanSara; very awesome. Let me give a bit more context before I go recreate these issues on our server (we switched away from using haystack's rest_api folder and changed to our own API code because we were getting slowed down too much by issues we were having with the rest_api folder).

More context: I created this issue after @brandenchan told me the fol

[2021-11-08 15:36] cvgoudar commented on #1695
The solution ideally should be generic and some additional parameter may have to be passed as well. The change may have to be beyond elasticsearch itself. I can possibly make the change for elasticsearch.  However, we need to think carefully about the parameters as it has implications for other document store types as well.

[2021-11-08 15:55] julian-risch commented on #1695
@cvgoudar if you could create a PR with the changes to elasticsearch that would be great. 👍  Regarding the parameter: skipping documents without embeddings or failing if there are any are the two main options I see. Calculating missing embeddings on the fly is possible in theory but does not seem practical to me.

[2021-11-08 16:46] JurajMa commented on #577
This seems to persist still.
For me, to reproduce it:
1. Have ElasticSearch instance with index A, with embedding in 768 dimensions
2. Create a new ES DocumentStore with new index B, with different embedding in 384 dimensions
3. `document_store.upadte_embeddings(retriever) throws error`:
`RuntimeError: Embedding dim. of model (384) doesn't match embedding dim. in DocumentStore (384).Specify the ar

[2021-11-08 16:56] julian-risch commented on #577
Hi @JurajMa thanks for reporting this issue. I will try to reproduce it in a colab notebook and report back here. If you can share your code, for example, in a google colab notebook that would speed up the process. 👍

[2021-11-08 17:11] tholor commented on #1695
Nice, let's start with elasticsearch then. We can later take over and extend it to other documentstores if meaningful.
I also only see the two options @julian-risch mentioned. So probably a param like `skip_missing_embeddings=True/False` is enough :thinking:
We should cover the case though where no embedding at all is present after the first indexing of documents. Instead of returning an empty lis

[2021-11-08 18:02] JurajMa commented on #577
Hi Julian. Thanks for the quick response.

I found the problem. The issue was that I was specifying `embedding_dim = "384"` (string), rather than `embedding_dim = 384` (integer), when initiating the document store.
This caused the test in line 977 of document_stores/elasticsearch.py to fail (`if embeddings[0].shape[0] != self.embedding_dim:`).

I suggest updating line 134 in document_stores/elasti

[2021-11-08 18:14] ZanSara opened #1706 "`EntityExtractor` can't deal well with out-of-vocabulary words"
Currently, the `EntityExtractor` uses BERT by default (`dslim/bert-base-NER`). However, without fine-tuning this model is very likely to find named entities that are out of its vocabulary. Out-of-vocabulary words pose an issue, because they are split into syllables or single letters and therefore are hardly recognized as entities down the line.

Example output of an extractive QA pipeline on the G

[2021-11-08 18:29] tholor commented on #1702
Hey @bradyneal,
We actually received a couple of similar requests like this and we are currently building a commercial SaaS product that will allow the hosting of whole Haystack pipelines (incl. autoscaling, documentstore etc.) and will accelerate many workflows from prototyping to production (incl. labeling, running experiments, getting feedback from end-users ...).
The beta is planned for early

[2021-11-08 18:32] ZanSara opened #1707 "Filter out entities by a threshold on their score"
If one wants to use `EntityExtractor` to add metadata to documents, they might want to consider only entities which have a high score. Currently there is no easy way to filter out entities the model is unsure on.

We could add a parameter `ignore_below_score` or similar, that cleans up all entities below the given score and helps filtering out uncertain entities.

[2021-11-08 18:35] ZanSara opened #1708 "Make `EntityExtractor` work on Answers too"
Currently `EntityExtractor` works only on `Documents`, which can be slightly confusing when used on an extractive pipeline.

We could make `EntityExtractor` work also on `Answers`, either on the `answer` attribute itself, or on the `context` (in which case we would then do the same procedure as is currently done in `simplify_ner_for_qa`).

[2021-11-08 18:48] bradyneal commented on #1702
That's great! Do you think you might support just a call to the Hugging Face API like this in the meantime? Example:
Current: `TransformersSummarizer(model_name_or_path="google/pegasus-xsum")`
Supporting Hugging Face API: `TransformersSummarizer(api_url="https://api-inference.huggingface.co/models/google/pegasus-xsum", API_TOKEN)`

[2021-11-08 21:59] lambdaofgod commented on #1701
I've deleted `text` field and it still doesnt' work.
My hypothesis is that something is wrong with the model - it's a Roberta model for language modeling, it wasn't trained for NLI or anything that explicitly makes it output a vector for sentence.

Documents (note that I used pprint so the `content` field got split by line:
[code]

[2021-11-09 08:05] tholor commented on #1528
Implemented in #1670

[2021-11-09 08:05] #1528 closed

[2021-11-09 08:50] julian-risch opened #1711 "Eval pipeline on multiple queries and aggregate results"
In https://github.com/deepset-ai/haystack/pull/1691 we created a first draft of how to run `pipeline.eval()` with one Query and one MultiLabel and store the output of each pipeline node in addition the to the expected ground truth output in a DataFrame.
This issue is about extending that functionality so that we can:

- Run `pipeline.eval()` with a list of queries and labels and aggregate the resu

[2021-11-09 09:11] stphnthiel opened #1712 "Multiple filters not supported in MilvusDocumentStore?"
I am trying to use `get_all_documents` and `delete_documents` with filters.

Adding on filter arg, e.g. `{"my_filter_arg": ["value"]}` gives the correct results, but using two (`AND` expected) gives an empty result, e.g. `{"my_filter_arg_1": ["value1"], "my_filter_arg_2": ["value2"]}`

Is this known behaviour? And if so, what is a possible roadmap adding that functionality? The docs suggest this i

[2021-11-09 10:53] tholor commented on #1698
Hey @bradyneal, we will pick this up in the next sprint. From a quick look, it might already be enough to add the params `faiss_index_path` and `faiss_config_path` to the init of `FAISSDocumentstore` to allow loading an existing index from disk. These params could then also be specified in the yaml.

@tstadel We should make sure to add a few checks to make sure that no invalid parameter combinatio

[2021-11-09 11:03] tholor commented on #1681
Let's add these methods to `BaseStandardPipeline`:
- `save_to_yaml()`
- `load_from_yaml()'
- `get_nodes_by_class()`
- `get_document_store()`

@MichelBartels They can simply forward the call to the respective methods of the `Pipeline`class. Similar to the already existing functions here: https://github.com/deepset-ai/haystack/blob/5ac89332a29f2e75c7859f481976ba2137c28489/haystack/pipelines/standard

[2021-11-09 11:07] tholor opened #1713 "Support TableQA in REST API"

[2021-11-09 11:24] ZanSara opened #1714 "Simplify logs management"
After the introduction of the logs capture in the Pipeline's debug function, the loggers have a rather complex configuration that can he hard to debug and understand from the outside. Specific issues are:

- Changing the logger level does not affect the logs output, due to the handlers
- A bit of logs duplication in some scenarios
- Code duplication in the Haystack modules that need a lower log le

[2021-11-09 11:30] julian-risch opened #1715 "Adapt tutorial 5 (eval) to new way of evaluating pipelines"
Tutorial 5 uses EvalDocuments and EvalAnswers nodes, which we will deprecate in favor of the new `pipeline.eval()` method. Therefore, the tutorial should should be adapted to use `pipeline.eval()`. It should further explain different evaluation styles, such as closed-domain/open-domain evaluation.

We could have something like:

One cell that runs pipeline.eval() with default settings, which inter

[2021-11-09 11:32] hugoperrin opened #1716 "Make all transformers and torch dependencies optional?"
**Is your feature request related to a problem? Please describe.**
Whenever there is the need to only use the datamodels for documents stored, or ElasticSearch queries directly using text queries only, there is the need to have large dependencies in pytorch and transformers. It would make sense to me to put them as optional, as many parts of the code actually does not explicitly depends on those l

[2021-11-09 11:37] julian-risch commented on #577
Hi @JurajMa great to hear you found the problem and fixed it. To catch problems like the one you describe with `int` versus `str` type, we have included type annotations:
https://github.com/deepset-ai/haystack/blob/5ac89332a29f2e75c7859f481976ba2137c28489/haystack/document_stores/elasticsearch.py#L40
Therefore, I think we should not need `self.embedding_dim = int(embedding_dim)`. It could cause ad

[2021-11-09 11:37] #577 closed

[2021-11-09 11:41] julian-risch opened #1717 "Deprecate old pipeline eval nodes: EvalDocuments and EvalAnswers"
With the new `pipeline.eval()` method, we now have two ways to evaluate a pipeline: either with the new method or with the
older EvalDocuments and EvalAnswers nodes. As there is no reason to keep and maintain both ways, let's deprecate EvalDocuments and EvalAnswers. This issue is connected to https://github.com/deepset-ai/haystack/issues/1715

Related larger issue: https://github.com/deepset-ai/ha

[2021-11-09 11:42] ZanSara commented on #1716
Hello @hugoperrin, this is a long-standing issue (#1070), and we plan to address this very soon. Can I close this one? Please feel free to comment on the original issue though :slightly_smiling_face:

[2021-11-09 11:44] #1538 closed

[2021-11-09 11:51] julian-risch opened #1718 "Calculation of metrics and presentation of eval results"
With the new `pipeline.eval()` method, we calculate some basic metrics but we would like to extend the number of supported metrics, which are already implemented [here](https://github.com/deepset-ai/haystack/blob/master/haystack/modeling/evaluation/metrics.py).

Based on these metrics, we would like to generate exportable evaluation reports. For example, these reports should support users at ident

[2021-11-09 11:52] #1687 closed

[2021-11-09 12:00] julian-risch opened #1719 "Closed-domain/open-domain eval in pipeline.eval()"
`pipeline.eval()` on an extractive QA should support running the evaluation under the assumption that the retriever always returns the relevant document as top 1 result. In that case, the reader can be evaluated in closed-domain style.

In addition, the evaluation, more precisely, the calculation of evaluation metrics, should allow to switch between string-based and index-based evaluation of the r

[2021-11-09 12:11] hugoperrin commented on #1070
@ZanSara to recap what I was saying on the other issue that is going to be closed: I guess here I would have to add the subtelty of having the deps for pipelines separated from document stores alone, in order to avoid having torch and hugging face for no reason in the minimal case, and I would like to help however I can to make the dependencies rework happen :) What can I do that would be the most

[2021-11-09 13:39] tarhann opened #1720 "IndexError if query_emb is empty (haystack/retriever/dense.py:540)"
**Describe the bug**

During load tests I encountered that roughly 2-3% of the requests I'd sent to our Haystack providing service crashed with an IndexError. At first I thought it may be related to our code/ data, but that was not the case since I unified and minimized the data so that only identical requests have been executed. Still there has been the same error / request ratio. Perhaps its cau

[2021-11-09 14:09] #1595 closed

[2021-11-09 14:12] #1716 closed

[2021-11-09 14:37] julian-risch opened #1721 "Implement Phrase Retrieval based on DensePhrases"
**Phrase Retrieval**
@jhyuklee and I had a quick chat regarding the integration of phrase retrieval into haystack. More precisely, the idea is to include a retriever that can retrieve text on different levels of granularity, such as short phrases, sentences, paragraphs or full documents. This change in granularity becomes possible to a much larger index that works on a token basis. Figure 4 in [hi

[2021-11-09 14:43] brandenchan commented on #1720
Hi @tarhann , sorry this issue has been coming up for you! I wonder if you could send me a script and perhaps also some data so that I can replicate this issue?

[2021-11-09 14:49] bogdankostic commented on #1587
[This spreadsheet](https://docs.google.com/spreadsheets/d/1Uz8GjymZ5eBGq61QY7wdPugvy2SqxirLCXcj-cSeOl0/edit?usp=sharing) created by @ju-gu shows some evaluation metrics on the tools we looked at. On the tables we looked at, the Azure Form Recogniser produced the best results.

[2021-11-09 15:02] bogdankostic opened #1722 "Meaningful confidence scores and no_answers for `TableReader`"
The models used by the `TableReader` introduced in #1446 return an answer for each table, even if the question is not answerable by a given table. Also, the models always return a very high confidence score, even in the aforementioned case. We should add models that are ably to return `no_answer` and return meaningful confidence scores.

[2021-11-09 15:23] bogdankostic opened #1723 "Support of longer tables in `TableReader`"
The `TableReader` introduced in #1446 possesses the limitation of not allowing more than 512 tokens (query + table) as input. We would need some method that allows applying the `TableReader` to tables exceeding the token limit. One approach could be [MATE](https://arxiv.org/abs/2109.04312), a sparse-attention transformer model for tables.

[2021-11-09 15:30] bogdankostic opened #1724 "TableExtraction node based on Azure Form Recogniser"
In #1587 we explored different solutions for the extraction of tables out of PDF documents and saw that Azure Form Recognizer performs quite well. To allow searching on tables inside a PDF document, we should add a TableExtraction node that sends PDF documents to Azure Form Recognizer and converts the output to `Document` objects such that the tables can be indexed into one of the document stores.

[2021-11-09 15:30] brandenchan commented on #1712
Hi @stphnthiel , I tested out the MilvusDocumentStore with Milvus 1.1.1 and I found that filtering doesn't seem to be working for querying or for deleting documents

[code]

[2021-11-09 15:52] jhyuklee commented on #1721
Thanks @julian-risch for opening the issue! I'll first try to do migration to the newer version of transformers. This will take some time since I would need to reproduce the results from scratch as well.

[2021-11-09 15:57] tholor commented on #1712
Yes, delete and get documents should work with filters. Let's work on it in the upcoming sprint.
Filtering at query time is not supported in Milvus and we are actually raising already a warning here (filtering will come with Milvus 2.0).

[2021-11-09 16:26] tholor commented on #1721
Nice! Really looking forward to this @jhyuklee. I already know a handful of users who would really like to configure the granularity of retrieved content (particularly on phrase / sentence level).

In terms of migrating from the old transformers version: I don't remember much of it but in FARM the migration from 2.x to 3.x involved very few changes (see [here](https://github.com/deepset-ai/FARM/pu

[2021-11-09 17:00] stphnthiel commented on #1712
Hey both,

Thanks for getting back so quickly and confirming this (and providing
Haystack as open source in the first place!)

What’s the rough timeline for Milvus 2.0? For my use case, filtering on
query is quite essential, so I am wondering whether I should switch to
using a different store. I moved away from FAISS because I thought Milvus
would be better suited for larger collections, but it’s

[2021-11-09 17:16] shainaraza opened #1725 "Haystack and FastAPI in Colab"
**Question**
Put your question here
How to use FastAPI, haystack with Colab
**Additional context**
Add any other context or screenshots about the question (optional).

**FAQ Check**
- [ ] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?
Yes

I have this piece of code, and I am unable to have run haystack on Colab.
There is no syntax error but fastAPI does not pi

[2021-11-09 17:27] ZanSara commented on #1712
One more thing to notice: I think this bug actually comes from the `_query` function of `SQLDocumentStore`, and indeed I found that FAISS seems to be affected by this as well (just use the snippet above and replace MilvusDocumentStore with FAISSDocumentStore). There are probably other functions affected, like `update_embeddings`, which also uses `_query`. I'm quite surprised this issue went unnoti

[2021-11-09 17:34] tholor commented on #1712
We are just waiting for their official release ;)
It was initially planned for September, I believe, but they have a few open tasks they want to get straight.

We already have an experimental version in Haystack to support it here: https://github.com/deepset-ai/haystack/pull/1473
However, the Milvus side is not stable yet and only allows certain filters. I wouldn't recommend it for production.

Ho

[2021-11-09 17:43] #1281 closed

[2021-11-09 18:59] stphnthiel commented on #1712
@ZanSara I didn't do a full test but was rather trying to figure out an alternative for now.

My guess why this might not have come up is that many users are separating their document collections via indices? I am working with one index only and instead rely heavily on using filters to group documents. But I only discovered it now as implementation became more specific to adding/removing docs to/f

[2021-11-09 19:36] JurajMa commented on #577
Fine, but the type annotations are not caught in any way and don't throw an error, they are just like a comment in Python.

[2021-11-09 22:31] iravkr commented on #293
for index, row in tqdm(dff.iterrows()):
    print(index)
    print(row)
    dicts = {}
    dicts['text'] = clean_text(row['full_text'])
    doc_len.append(len(dicts['text']))
    corpora.append(dicts['text'])
    dicts['meta'] = {}
    dicts['meta']['name'] = clean_text(row['index'])
    docs.append(dicts)

document_store.write_documents(docs)

TypeError: __init__() missing 1 required positional a

[2021-11-10 08:52] julian-risch commented on #1561
Duplicate issue. closing in favor of https://github.com/deepset-ai/haystack/issues/1589

[2021-11-10 08:52] #1561 closed

[2021-11-10 09:22] tholor commented on #1608
Closing this one as it seems stale and we were not able to reproduce it.
Feel free to re-open if the problem persists.

[2021-11-10 09:22] #1608 closed

[2021-11-10 09:28] tholor commented on #1011
In "qas" you will find a list of question and answer pairs that belong to a certain Wikipedia article (in this case one with `title: "Normans"`). You can also find the related text of this article within the `paragraphs` list that can be used to answer the questions.  `answer_start` is the offset / position of the answer in this text when you count the characters. This is also the key difference t

[2021-11-10 09:29] brandenchan commented on #1725
Hi @shainaraza , in the colab notebook that you provide, I don't see any line that handles writing documents into the document store. Our recommendation is that you index your documents using Haystack via the `document_store.write_documents(docs)` method. If you have an existing Elasticsearch Database that you would like to use with Haystack, you will have to ensure that the fields in ES are named

[2021-11-10 10:16] brandenchan commented on #1701
Hi @lambdaofgod , I am using the latest master, and running this code.

[code]

My console output looks like this:

[code]

And when I call `document_store.get_all_documents(return_embeddings=True)` I see 2 documents.

Could you try this and see if you get the same results?

[2021-11-10 12:35] iravkr opened #1728 "prob with document_store.write_documents(docs)"
for index, row in tqdm(dff.iterrows()):
print(index)
print(row)
dicts = {}
dicts['text'] = clean_text(row['full_text'])
doc_len.append(len(dicts['text']))
corpora.append(dicts['text'])
dicts['meta'] = {}
dicts['meta']['name'] = clean_text(row['index'])
docs.append(dicts)

document_store.write_documents(docs)

TypeError: init() missing 1 required positional argument: 'content'

Can anyone check thi

[2021-11-10 12:52] brandenchan commented on #1728
Hi @iravkr , we made a change recently to the structure of the input document. Instead of "text" it is now called "content". This should work if you change
`dicts['text'] = clean_text(row['full_text'])`
to
`dicts['content'] = clean_text(row['full_text'])`

[2021-11-10 13:37] iravkr commented on #1728
Thank you so much.

[2021-11-10 13:37] #1728 closed

[2021-11-10 14:13] tarhann commented on #1720
I am sorry, but I cant. Would mean to extract it from our service and construct data that triggers it and I currently do not have the time for that, I am honestly sorry.
But hey, its just a try-except block that catches an exception occurring because there is an attempt to directly access a list element on an sometimes empty list. Another simple solution would be to check if the list has any eleme

[2021-11-10 14:26] tholor commented on #1724
- Implementation should be on a FileConverter level
- Input probably PDFs
- Output is List of Documents that should be configurable (either Tables only, or Tables+Text)

[2021-11-10 20:41] julian-risch opened #1732 "Tutorial 5 fails on reader.eval() call"
**Describe the bug**
The google colab version of [tutorial 5 (evaluation)](https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial5_Evaluation.ipynb) fails on executing the line:
`reader_eval_results = reader.eval(document_store=document_store, device=device, label_index=label_index, doc_index=doc_index)` with the following type error:

**Error message**
[code]

[2021-11-10 20:51] bogdankostic commented on #1732
It seems that I introduced this bug in #1683. It should be fixed as soon as #1696 is merged.

[2021-11-10 20:57] julian-risch commented on #1732
Oh, okay. That's good news. 👍

[2021-11-11 09:16] #1597 closed

[2021-11-11 09:17] ZanSara commented on #1732
Merged, should be solved! :+1:

[2021-11-11 09:25] ZanSara commented on #1651
Additional tasks:
- Create a document store with a different dataset (not GoT)

[2021-11-11 09:56] bogdankostic commented on #1587
In #1724, we'll add a Table Extraction based on Azure Form Recognizer.

[2021-11-11 09:56] #1587 closed

[2021-11-11 10:02] #1698 closed

[2021-11-11 11:05] ZanSara commented on #1714
Closed by #1696

[2021-11-11 11:05] #1714 closed

[2021-11-11 12:33] ZanSara opened #1736 "RAGenerator returns `dict` instead of `Answer` objects"
Seems like `RAGenerator` is still returning old-style answers in form of dictionaries, rather than the new Answer object. This causes trouble to `print_answers()`, which as the name implies is designed to handle `Answer` objects.

Two actions to take:
- Make `RAGenerator` return `Answer`s
- Make `print_answers` more robust against unexpected inputs.

[2021-11-11 14:02] ZanSara opened #1737 "Disable `UserWarning`s triggered by dependencies"
While running the tutorials is not rare to meet with `UserWarning`s that are caused by underlying dependencies like `transformers` or `pytorch`. I think UserWarnings that are triggered by Haystack's or the user's code should stay visible, but those coming from dependencies could be hidden, as there's nothing we or the final users can do about it.

Examples:
- Tutorial 1: `/home/sara/work/haystack/

[2021-11-11 14:10] MichelBartels opened #1738 "Dev split in preprocessing not working when not using multiprocessing"
**Describe the bug**
When disabling multiprocessing, preprocessing is done in one huge chunk:
https://github.com/deepset-ai/haystack/blob/8082549663f741d966791625ed7b78f0e2113c3b/haystack/modeling/data_handler/data_silo.py#L156
However, the dev split method does not divide up chunks:
https://github.com/deepset-ai/haystack/blob/8082549663f741d966791625ed7b78f0e2113c3b/haystack/modeling/data_handler

[2021-11-11 14:53] julian-risch opened #1739 "Support ranges of top-k in evaluation"
When users evaluate a pipeline, we would like to list evaluation metrics for different values of top-k, e.g., 1, 5, and 10. This issue is about calculating these metrics and presenting them in a tabular format. In future, we could draw plots based on the calculated metrics.

When we evaluate a pipeline with a specific value of `top-k` and store the result in a dataframe, this result also contains

[2021-11-11 14:59] bogdankostic opened #1740 "Unify `vector_dim`/`embedding_dim` parameter in DocumentStores"
In `MilvusDocumentStore` and `FAISSDocumentStore` we are using the parameter `vector_dim` to determine the size of the vectors that will be stored in the DocumentStores, wheras in `ElasticsearchDocumentStore`, `InMemoryDocumentStore` and `WeaviateDocumentStore`, we call this parameter `embedding_dim`.

I think, we should decide for either `vector_dim` or `embedding_dim` and make all DocumentStores

[2021-11-11 15:15] lambdaofgod commented on #1701
I tried both installing from master (`pip install git+https://github.com/deepset-ai/haystack`) and package from pip, and for both of them

`document_store.get_all_documents(return_embeddings=True)` gives

[2021-11-11 16:04] julian-risch commented on #1701
Hi @lambdaofgod I think that should be `return_embedding` without the `s`: https://github.com/deepset-ai/haystack/blob/8082549663f741d966791625ed7b78f0e2113c3b/haystack/document_stores/memory.py#L326

[2021-11-11 16:18] #1732 closed

[2021-11-12 07:56] gak97 commented on #1732
Hi @ZanSara, I'm still seeing this error on colab. I'm not sure if this issue is solved by the latest merge mentioned above.

[2021-11-12 07:58] gak97 commented on #1732
Hi @ZanSara, I'm still seeing this error on colab. I'm not sure if this issue is solved by the latest merge mentioned above.

[2021-11-12 09:33] ZanSara commented on #1732
@Hello @gak97, I did a test right now and I see it working on Colab. Maybe your runtime is outdated? Try to force pip to reinstall Haystack and see if that helps, or completely factory-reset your runtime.

[2021-11-12 10:09] gak97 commented on #1732
@ZanSara, I tried both forcing pip reinstall and factory reset the runtime, either way, it isn't working.

[2021-11-12 10:22] bogdankostic commented on #1732
I just tried it myself and for me it is also working. Did you reload the file on Colab? In #1734 we made some changes to the tutorial.

[2021-11-12 10:41] gak97 commented on #1732
@bogdankostic, Yes, now it is working! `device=device[0]` was the change I didn't notice in the new tutorial. Thanks!

[2021-11-12 10:58] sasaadi commented on #769
Hello,
Is it possible to add a license text **file** to the models gbert-large and gbert-base? Or is there any other repository than HF, where these models are published along with their license files, so that if the model is downloaded for use, its license file is also included there?
Thanks

[2021-11-12 13:05] nishanthcgit opened #1748 "Error in docs/error in documentsearch pipeline node name"
**Describe the bug**
The documentation describes using documentsearch pipeline with:
`result = pipeline.run(query, params={"retriever": {"top_k": 2})'`
However, in the [code](https://github.com/deepset-ai/haystack/blob/master/haystack/pipelines/standard_pipelines.py#:~:text=self.pipeline%20%3D%20Pipeline()-,self.pipeline.add_node\(component%3Dretriever%2C%20name%3D%22Retriever%22%2C%20inputs%3D%5B

[2021-11-12 13:12] nishanthcgit commented on #1748
If you tell me which of the two to change I can submit a pull request

[2021-11-12 13:18] bogdankostic commented on #1748
Hey @nishanthcgit, thanks for raising this issue! Great to see that you also want to submit a pull request to fix this issue right away. I think the best way here would be to change the doc string from `"retriever"` to `"Retriever"`, given that the standard case is to have capitalized node names.

[2021-11-12 13:37] nishanthcgit commented on #1748
Great! Will submit one in an hour or two.

[2021-11-12 14:34] maxupp opened #1749 ""Duplicate Document" error messages report incorrect index when not using default index."
`_handle_duplicate_documents` and `_drop_duplicate_documents` in the elastic search document store will always report `self.index` as the index with the conflict, which is obviously incorrect.

Edit: Upon further investigation, this is actually a lot worse. Using multiple indices with the ElasticSearch DocumentStore is completely broken due to the fact, that this is used in `_handle_duplicate_docu

[2021-11-12 15:04] nishanthcgit commented on #1748
have opened pull requests for this on this repo as well as the website repo, there may be a few more places where the same capital letter changes have to be made, not too sure about where else.

[2021-11-12 15:41] bogdankostic commented on #1720
Hi @tarhann! I am trying to understand where this error comes from.

Given your error message, I suspect that in some cases the `embed_queries` method returns an empty list, so this issue seems to arise from the `EmbeddingRetriever`. Which embedding model are you using with the `EmbeddingRetriever`?

Also, you say that this error arises in 2-3% of the cases even in your test case where you used th

[2021-11-12 15:44] #1736 closed

[2021-11-13 10:14] #1701 closed

[2021-11-14 01:33] dhollier opened #1753 "No module named 'haystack.nodes'"
**Describe the bug**
Running this errors out:
from haystack.nodes.connector import Crawler

**Error message**
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-15-d85f8bad8285> in <module>
----> 1 from haystack.nodes.connector import Crawler

ModuleNotFoundError: No module named 'haystack.nodes'

**Expected behavior**
The command should import Crawler

**To

[2021-11-14 20:16] DJokes opened #1754 "Modify HTTP header for retriever request"
**Is your feature request related to a problem? Please describe.**
Currently our ODFE has some plugins to handle authentication and the authorization of documents based on JWT tokens. With the Elasticsearch-, OpenSearch- and OpenDistroElasticsearchRetriever I can't add this token from a user to the retriever request. This would be awesome. There might be other use cases to modify the HTTP header.

[2021-11-15 11:47] bogdankostic commented on #1748
Resolved in #1750.

[2021-11-15 11:47] #1748 closed

[2021-11-15 12:24] bogdankostic commented on #1753
Hi @dhollier! In #1624 we refactored the package structure of Haystack.This is not yet represented in our latest release, but will be in our next release. In the meantime, you can either use the new package structure by installing Haystack from the current master branch using the following commands:
[code]

or you use the old package structure with our latest release. In this case, the import stat

[2021-11-15 13:51] #1711 closed

[2021-11-15 18:12] angelopf commented on #1011
Thanks a lot for the clarification.

I could get the position for each answer within the context, but right now I am struggling with using [this ](https://github.com/deepset-ai/haystack/blob/master/haystack/utils/squad_data.py) to convert a dataframe into SQuAD. In particular, I am getting the error below when calling the appropriate function:

`AttributeError: 'DataFrameGroupBy' object has no att

[2021-11-15 18:23] cvgoudar commented on #1695
Does this change make sense. I did sanity check on one test case and it seems to work fine.

From:

`"query": {"match_all": {}}`

To:
[code]

[2021-11-16 08:06] tholor commented on #1695
Sounds reasonable to me. What was your test case? I am not sure if the current `exists` also excludes docs that do have the embedding field (i.e  the key) but no value set (i.e. null or empty array)

[2021-11-16 08:16] cvgoudar commented on #1695
The test case I checked is as follows:
1. Indexed 8 records with embeddings
2. Added 2 more records without embeddings
3. Checked the documents in Elasticsearch with 8 records having embedding + 2 docs without embeddings
4. Ran Retriever and observed that only 8 records where fetched for top 10 matches with filtering condition added

[2021-11-16 08:17] cvgoudar commented on #1695
As per my understanding, Elasticsearch doesn't index keys where the value is null. Please confirm. I can add that test case as well and check

[2021-11-16 09:44] bogdankostic commented on #1749
Hi @maxupp! Thanks for raising this issue, it's true that the wrong index is reported if we don't use the index of `self.index`. A fix for this could be to pass the `index` argument from `_handle_duplicate_documents` further on to `_drop_duplicate_documents` and change the logging statement there. Do you want to create a PR for this and fix this? :)

About the second problem you mentioned: I am no

[2021-11-16 09:51] ArzelaAscoIi opened #1764 "Migration from elasticsearch to the opensearch module within OpenSearchDocumentStore"
**Is your feature request related to a problem? Please describe.**
The elasticsearch client of version >7.14.0 does not support opensearch. If we want to upgrade the the elasticsearch client, there will be breaking changes.

**Describe the solution you'd like**
Once we want to update the elasticsearch client, we need to create a separate documentstore that uses the opensearch-py module. Since the

[2021-11-16 09:54] julian-risch commented on #1695
@cvgoudar I checked the documentation and I agree with you.
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-exists-query.html:

[2021-11-16 10:30] cvgoudar commented on #1695
Thanks @julian-risch @tholor for the inputs and review comments.

Following is the test code I used:
[code]
Got the following response as output with 8 records which had embeddings.

![image](https://user-images.githubusercontent.com/13920855/141968972-f0db8c92-d055-4b55-b0d6-c4df5d15919d.png)

[2021-11-16 10:30] bogdankostic commented on #1754
Hi @DJokes! I think this might be useful also for other users. Not sure what would be the best way to implement this, though. We could either have custom headers as optional instance variable when initializing an `ElasticsearchDocumentStore` or have an optional argument in the query methods and then pass these header (either from instance variable or argument) to elasticsearch's [`search`](https:/

[2021-11-16 12:37] tholor commented on #1754
If I understood you correct @DJokes , you want to change the auth params dynamically for every request? In that case, passing custom headers when initializing the `ElasticsearchDocumentStore` wouldn't be an option and I'd see two options:
a) passing it as an optional `token` param to `Retriever.run()` and from there down to the doc store's query methods
b) adjusting the state of the doc store from

[2021-11-16 12:51] cvgoudar commented on #1695
Should we live with this as the behaviour or support previous option of failing if documents do not contain embeddings

[2021-11-16 14:25] DJokes commented on #1754
Hi @tholor @bogdankostic thanks for the quick responses!
According to [elasticsearch python docs](https://elasticsearch-py.readthedocs.io/en/v7.15.2/api.html#elasticsearch.client.EqlClient.search) its possible to pass headers for example in the `client.search` method. Thats also what I use.

Same as I can pass filters to the document_store query [here](https://github.com/deepset-ai/haystack/blob/0

[2021-11-16 22:33] awilsonTorch opened #1767 "Flask app and model cache loading multiple times"
**Describe the bug**
I am wrapping haystack in a flask api that is standard for the microservice architecture we use. All Haystack functionality gets loaded into service.py file. When I launch the flask server. The model cache loads and connections to elastic are made as expected. However, before a request is ever even made, the model cache will reload again multiple times until it attempts to sta

[2021-11-17 10:17] jaehyeongAN commented on #17
Hi, I have the same issue!

`
from haystack.document_store import ElasticsearchDocumentStore

ES_HOST = 'host ip' # my host ip
document_store = ElasticsearchDocumentStore(ES_HOST)
`

The above code works normally when connecting to 'localhost' after docker runs on a local PC, but an error occurs when accessing an external Elasticsearch IP!

and below is the full error logs.
`
Traceback (most recen

[2021-11-17 10:43] bogdankostic commented on #1767
Hi @awilsonTorch! I'll look into this, could you maybe send ma a script to replicate the issue?

[2021-11-17 14:15] julian-risch opened #1769 "Batch Mode for Metrics Calculation"
Calculating the evaluation metrics can be slow in particular because of semantic answer similarity. We would like to speed up the evaluation process by using a batch mode for the cross-encoder as mentioned in this todo statement in the code:
https://github.com/deepset-ai/haystack/blob/13510aa753d4e390f244398cc50654185dddbcde/haystack/nodes/evaluator/evaluator.py#L384

Further, we don't make use of

[2021-11-17 14:55] awilsonTorch commented on #1767
@bogdankostic Thank you so much! I will see if I can get one together.

[2021-11-17 15:41] #1647 closed

[2021-11-17 17:47] maxjeblick opened #1771 "AssertionError when using EmbeddingRetriever with FAISSDocumentStore"
**Describe the bug**
When using  `FAISSDocumentStore` + `EmbeddingRetriever` (with `sentence_transformers` model format), I ran into
a dimension mismatch issue.

**Error message**
[code]

**Expected behavior**
`document_store.update_embeddings(retriever)` runs without an error.

**To Reproduce**
- Run tutorial6_better_retrieval_via_dpr with default DPR retriever replaced by
[code]
[This colab note

[2021-11-17 18:06] tholor commented on #1754
Ok perfect, then let's just pass `headers` all the way down from pipeline params. Are you interested in creating a PR here or should we take over?

[2021-11-17 21:04] DJokes commented on #1754
Would be nice if you take over.

[2021-11-18 01:57] jaehyeongAN opened #1773 "An error occurs when I try to connect to external Elasticsearch."
**Describe the bug**
hi, I have the Elasticsearch connection issue.
[code]
The above code works normally when connecting to 'localhost' after docker runs on a local PC, but an error occurs when accessing an external AWS Elasticsearch IP!

But, as shown in the code below, when connected directly to Elasticsearch, it worked fine.
[code]

**Error message**
[code]

**Expected behavior**
I expect to th

[2021-11-18 05:33] jaehyeongAN commented on #1464
As you said, currently `update_embeddings()` is not currently performed by multiprocessing/threading.
It's temporary, but I found a good way.
you just insert `torch.set_num_threads(4)` to your code. and then `update_embeddings()` will be performed by muti-threading.

[2021-11-18 06:06] jaehyeongAN commented on #1773
oh, I fix it!
My external Elasticsearch protocol was 'https', so, I add `schema='https'` parameter  to `ElasticsearchDocumentStore`.
and my docker es port is 9200, but aws es port was 443!, so I add `port=443`

[code]

thanks!

[2021-11-18 06:06] #1773 closed

[2021-11-18 08:05] tholor commented on #1754
Sure, no problem!

[2021-11-18 08:43] tvaisanen commented on #993
Hi, has there been any progress on this?

[2021-11-18 10:04] tholor commented on #1702
We think the hosting and autoscaling of full Haystack pipelines will be more meaningful for users in the long run and we want to focus in the next weeks on building this out. That's why we decided to not prioritize your proposed node as a "bridge solution".
Happy to include you in the early preview phase of our SaaS product if that's helpful for you! I believe you were already in touch with @PiffP

[2021-11-18 10:55] bogdankostic commented on #1771
Hi @maxjeblick! I suspect that the vector size of the DocumentStore and the EmbeddingRetriever does not match. The `sentence-transformers/all-MiniLM-L6-v2` model produces embeddings of size 384. When initializing a `FAISSDocumentStore`, the `vector_size` parameter is set by default to 768.

Did you change the `vector_dim` parameter of the `FAISSDocumentStore` to 384?

[2021-11-18 11:12] ZanSara commented on #1464
That's nice indeed! It should become a feature of DPR. We could do this by either adding a parameter to `update_embeddings` or to the init method of DPR itself... Would you mind contributing this feature? Shouldn't take much time to implement :slightly_smiling_face:

[2021-11-18 11:36] maxjeblick commented on #1771
Thanks for the answer! Yeah, I missed that, sorry!

[2021-11-18 11:36] #1771 closed

[2021-11-18 13:00] tholor commented on #993
Hey @tvaisanen, no we haven't kicked off work on this as we saw higher priorities for other tasks and not much demand from the community. What's your use case for it?

[2021-11-19 08:02] cvgoudar opened #1777 "How to setup documentsearch pipeline with minimal overheads across multiple indexes in same Elasticsearch client"
**Question**
We have a scenario where the documentsearch pipeline has to be setup for different indexes on same ES client. However the pipeline setup with document store, retriever and document search pipeline is taking 10-20 seconds which is not acceptable. The problem becomes acute if one wants to do this in autoscaling setup as the object is not shared across multiple instances. The primary cha

[2021-11-19 09:57] jaehyeongAN commented on #1464
Sounds good!
Sinece `update_embeddings()` is used in both 'EmbeddingRetriever' and 'DensePassageRetriever', It would be better to add a parameter to `update_embeddings()`.

ps.
As a result of testing the speed through my dataset, when I set it to `torch.set_num_threads(psutil.cpu_count(logical=False))` (only use physical cores, not logical cores), it improved by about 80% compared to not using mul

[2021-11-19 10:10] ZanSara commented on #1464
Wow, sounds great! :rocket: Let me know about the PR when you open it, so I can review it quickly. This is going to be really useful for me too, so I'm really happy you decided to take the time! Looking forward to it :+1:

[2021-11-19 10:34] #1651 closed

[2021-11-19 12:27] tholor commented on #1777
Hey @cvgoudar ,

If I understood you correctly, the problem is twofold:

**1. Switching the index between queries on the same machine**
This should be possible at query time without any re-loading of the pipeline. Have you tried using this `index` param? You can simply pass it to the pipeline.run() as any other node parameter. For example:
```pipe.run(query="some", params={"RetrieverNodeName": {"i

[2021-11-19 13:50] #1695 closed

[2021-11-19 13:59] maxupp commented on #1749
I don't have time to contribute currently, sorry.

The second issue I was talking about appears to be fixed in the current version.

[2021-11-19 14:29] chaalic commented on #1145
Hello,

I would like to know if there have been any advances on this topic. Currently, I am working on long document retrieval by query, and dense retrieval doesn't seem to be the optimal solution for this task. Hence, I want to test its combination with sparse retrieval methods like BM25, but I'm kind of lost on the aggregation method.

Thank you.

[2021-11-19 14:31] sasaadi opened #1779 "Add license file to the trained models"
Hello,
Is it possible to add a license text **file** to the models gbert-large and gbert-base on HF? Or is there any other repository than HF, where these models are published along with their license files, so that if the model is downloaded for use, its license file is also included there?
Thanks

[2021-11-19 16:13] tstadel commented on #1464
Hey guys, just stumbled upon this issue: I'm not quite sure if it's a great idea to set global pytorch settings within specific haystack methods like `update_embeddings()`. This might affect following code as well.

Anyway, I'm a little confused that `torch.set_num_threads(psutil.cpu_count(logical=False))` actually works. According to the [pytorch docs](https://pytorch.org/docs/1.9.1/notes/cpu_thr

[2021-11-19 17:20] Krak91 commented on #1070
It would also be good if there were versions that don't install support for all alternatives of the same module. For example, there's no need to install FAISS when using ES.

[2021-11-19 19:40] DJokes opened #1782 "Trying to verify certs although 'verify_certs' is set to 'false'"
**Describe the bug**
Currently we are using self signed certificates to handle https communication inside a K8s cluster network. Path to cert is added to `ca_certs`. Because using self signed ca cert, I've set `verify_certs` to `false`. Also in the logs it says, that it's advised to put `verify_certs` to `true`. Haystack starts successfully and waits for requests.
But when actually running a query

[2021-11-20 04:00] cvgoudar commented on #1777
Thanks for the suggestions. I shall experiment and update as well.

I shall create some test setup and share the situation / current setup with more details.

[2021-11-20 04:02] cvgoudar commented on #1630
@tholor @julian-risch @chandana01 : I think the issue is addressed with PR in #1762.

We can possibly close this issue as well.

[2021-11-20 06:05] jhillhouse92 opened #1784 "Milvus 2.x Support"
Current `MilvusDocumentStore` requires python client `pymilvus 1.x` compatible with Milvus 1.x. Milvus 2.x is currently in 2.0.0rc8 status. Backwards compatibility can be maintained by introducing a new class `Milvus2DocumentStore`. Being able to incorporate the client sooner than later would support the release candidate process allowing greater adoption.

[2021-11-21 10:04] cvgoudar commented on #1777
@tholor : The concern is more related to point 1. I explored the suggestion and need some more inputs.

Unfortunately, we are currently using 0.9.0 version which doesn't support index as parameter for index in DocumentSearchPipeline. and we cannot upgrade the version immediately. It reverts to initialized to the default index in document_store object

[code]

[2021-11-21 10:25] cvgoudar commented on #1777
@tholor @julian-risch : The below comments are with respect to 0.9.0 version

Just for supporting the DocumentSearchPipeline I updated the code to include index argument for run method. It seems to work but I am not confident if the change has any side effect as well. It now started returning results from the index passed as the argument

![image](https://user-images.githubusercontent.com/13920855

[2021-11-22 03:26] JustAaron opened #1786 "Error while attempting to run Tutorial1 on Google Colab"
**Describe the bug**
While running Haystack's Tutorial 1 on Google Colab, an error occurs while importing. The exact error line is `from haystack.utils import clean_wiki_text, convert_files_to_dicts, fetch_archive_from_http, print_answers`.

**Error message**
[code]
**Expected behavior**
The modules are imported successfully and the rest of the tutorial also executes successfully

**To Reproduce**

[2021-11-22 04:23] jaehyeongAN commented on #1464
When I checked, I also confirmed that `torch.set_num_threads()` and `torch.set_num_threads(psutil.cpu_count(logical=False))` work the same way. Therefore, if applied, I think we can just use `torch.set_num_threads()`.

As you said, I also don't think the best way is to apply the above code.  However, in my experience, the method was simple and influenced performance improvement.

[2021-11-22 07:20] tvaisanen commented on #993
I'm researching into potential solutions on how to extract classification results from FARM reader results. These are often questions that require an answer in `yes/no/na` format. It seems that currently the best approach would be to use a pre trained classifier on the FARM result set and do some fine tuning?

[2021-11-22 09:40] superchargez opened #1787 "OSError: libtorch_cuda_cpp.so: cannot open shared object file: No such file or directory. In Tutorial 14"
Tutorial 14 when I run in colab the above error is thrown.

If it is run on local machine the following error occours.
`ImportError: cannot import name 'fetch_archive_from_http' from 'haystack.utils'`

I am trying to run it on windows with haystack upgraded to latest version (I think the first cell in the tutorial upgrades to latest version automatically).

[2021-11-22 09:58] ZanSara commented on #1464
@tstadel I had a look at this too. On my machine, `torch.get_num_threads()` returns the number of physical cores I have, but when I run `update_embeddings`, it's always a single core that works. I'm starting to suspect this might actually be a pytorch issue somehow...

[2021-11-22 10:33] bogdankostic commented on #1784
Hi @jhillhouse92! We already have a `Milvus2DocumentStore`, see [here](https://github.com/deepset-ai/haystack/blob/master/haystack/document_stores/milvus2x.py).

[2021-11-22 11:21] tstadel commented on #1464
@jaehyeongAN thanks for checking.
Just checked myself, that it isn't a specific pytorch version issue. On my device pytorch runs on all cores, no matter if I'm using 1.9.1 or the coming 1.10. However @ZanSara runs an AMD CPU and pytorch 1.9.1 seems to only use one core per default, maybe that's a hint as I'm running on Intel. Anyways, it looks like an environment issue.
@jaehyeongAN could you plea

[2021-11-22 11:28] tholor commented on #1777
From a very quick look that should do the job, but I cannot test this now in-depth for 0.9.0. You should try upgrading to 0.10 (or the soon-to-be-released 1.0) - there are a lot of nice features that would help you debug your pipelines ;)

[2021-11-22 11:35] bogdankostic commented on #1786
Hi @JustAaron! Thanks for reporting this error. We are working on fixing this. In the meantime, you can add the following line after the  installation statement of Haystack (`!pip install git+https://github.com/deepset-ai/haystack.git`) in order to use Haystack inside Google Colab:

[code]

[2021-11-22 11:36] bogdankostic commented on #1787
Hi @superchargez! Thanks for reporting this error. We are working on fixing this. In the meantime, you can add the following line after the installation statement of Haystack (`!pip install git+https://github.com/deepset-ai/haystack.git`) in order to use Haystack inside Google Colab:
[code]

[2021-11-22 13:29] jaehyeongAN commented on #1464
oh yes, below is my environment information
`
OS : Ubuntu 18.04
CPU : i7-8565U (1.8GHz)
RAM : 8GB
torch version : 1.9.1
`

I tested all versions of 1.8.0, 1.8.1, 1.9.0, 1.9.1, and 1.1.0.
In my case, when 'torch' was not imported, all of them run as single core. however, when 'torch' was imported, all of them runs as multi cores.

I think it depends on whether you `import torch` before embedding or

[2021-11-22 15:05] AhmedIdr commented on #1779
Hey, the models are published in this paper https://aclanthology.org/2020.coling-main.598.pdf, hope this helps.

[2021-11-22 15:47] bpquestion opened #1788 "Tutorial 15 - Different CUDA versions"
Hello,

When running tutorial 15, an error occurs during Elasticsearch start on Colab:

`RuntimeError: Detected that PyTorch and torch_scatter were compiled with different CUDA versions. PyTorch has CUDA version 10.2 and torch_scatter has CUDA version 11.1. Please reinstall the torch_scatter that matches your PyTorch install.`

I tried to reinstall torch scatter with cuda 10.2:

`!pip install torc

[2021-11-22 15:49] bogdankostic commented on #1779
Hi @sasaadi! We provide the license information of the models in their README.md files, for example [here](https://huggingface.co/deepset/gbert-base/blob/main/README.md#L3). Is there a specific reason why you need a separate license file?

[2021-11-22 19:02] jhillhouse92 commented on #1784
Excellent, will make pull request to documentation site to include reference to this.

[2021-11-22 19:02] #1784 closed

[2021-11-23 05:00] cvgoudar commented on #1777
Thanks. It currently supports the issue

[2021-11-23 06:45] #1777 closed

[2021-11-23 10:49] #1786 closed

[2021-11-23 10:52] bogdankostic commented on #1788
Hi @bpquestion! Thanks for raising this issue, it should be resolved by #1789. Closing this issue now, feel free to re-open it if you still face problems with using Haystack inside Google Colab notebooks.

[2021-11-23 10:52] #1788 closed

[2021-11-23 10:53] bogdankostic commented on #1787
This issue should be resolved by #1789. Closing this issue now, feel free to re-open it if you still face problems with using Haystack inside Google Colab notebooks.

[2021-11-23 10:53] #1787 closed

[2021-11-23 10:55] bogdankostic commented on #1786
This issue should be resolved by #1789. Feel free to re-open it if you still face problems with using Haystack inside Google Colab notebooks.

[2021-11-23 11:48] lawliet19189 opened #1790 "what is the input format for the predict_batch function of QA FARMReader?"
**Question**

I am trying to use haystack for standalone QA model inference. I have a FARMReader QA model that I would like to use, to use for extraction of answers from set of documents. I have been using FARMReader.predict_on_texts() till now but I wasn't sure whether this function actually extracts questions in batch manner. Since performance is important to me, I was searching for other functi

[2021-11-23 13:01] tholor commented on #1702
Closing this for now. Feel free to re-open if there are further things you want to discuss!

[2021-11-23 13:01] #1702 closed

[2021-11-23 13:17] leeivan opened #1792 "How to define 'index', 'search_fields', 'content_field' of ElasticsearchDocumentStore for REST API"
**Question**
How to define 'index', 'search_fields', 'content_field' of ElasticsearchDocumentStore for REST API

**Additional context**
I tried to define parameters of ElasticsearchDocumentStore in the pipeline.yaml  for REST API, look like:
[code]

** REST API Result**
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/starlette/middleware/errors.py", line 159, in _

[2021-11-23 13:20] AhmedIdr opened #1793 "Add batch_size and max_seq_length params to EmbeddingRetriever"
Hey,

Creating Embeddings when using EmbeddingRetriever is quite slow when model_format ist set to farm or transformers, since the default batch_size param is set to 4.

If there is an option for batch_size in the EmbeddingRetriever, it will be useful.

Using Sentence-Transformers as model_format makes the process faster, since batch_size for this option is default set to 200, unfortunately you ca

[2021-11-23 13:22] ZanSara opened #1794 "Restructure the tests"
The current tests suite has a number of issues which is slowly growing. Some notable ones are:
- GitHub runners often run out of resources during the execution of the tests
- Large test suites are flaky and Windows tests are even more flaky, sometimes outright not runnable
- The CI takes a very long time to complete (around 10-20 minutes)
- The setup is not optimized (sometimes document stores are

[2021-11-23 13:59] doh10002 commented on #1007
Hi @brandenchan

i think there was a massive upgrade since.
i tried to approach the same way to get reader prediction for evaluation.
I see there is a way to add "eval_reader" node on pipeline after reader node.
Does this work similar like adding debug=True to get the prediction?
is there simpler way to get the prediction for eval file?
Thank you.

[2021-11-23 14:27] tholor commented on #1679
Fixed with #1774

[2021-11-23 14:27] #1679 closed

[2021-11-23 15:16] sasaadi commented on #1779
Thanks for your reply.
The acronym in the README file is not sufficient for the use of open-source software in industry applications and the explicit licensing text is required to avoid ambiguity. A simple way is to add the license file (i.e., [text for the MIT license](https://opensource.org/licenses/MIT)) next to the README file, just as done in your framework https://github.com/deepset-ai/hayst

[2021-11-23 15:17] chaalic opened #1796 "Combining multiple retrievers results calculation"
**Question**
I'm currently working on a search engine for business descriptions. To this end, I would like to use an approach in which I combine both Embedding Retriever & BM25 Retriever. I saw that this was made possible while creating a customized pipeline. However, I understood that there were 2 modes for doing this : "concatenate" and "merge", so my question is the following : how are the merg

[2021-11-23 15:48] tholor commented on #1478
Currently being implemented in #1760. Duplicate of #1718. Let's close this one

[2021-11-23 15:48] #1478 closed

[2021-11-23 15:49] #82 closed

[2021-11-23 15:50] tholor commented on #1109
I guess we have this by now (at least a small section [here](https://haystack.deepset.ai/guides/optimization#metadata-filtering))

[2021-11-23 15:50] #1109 closed

[2021-11-23 16:01] #1681 closed, assigned to MichelBartels

[2021-11-23 16:05] RiccardoTOTI opened #1797 "Problems with markdown module"
After pulling the image I recive this error:

`  File "/usr/local/lib/python3.7/site-packages/streamlit/script_runner.py", line 354, in _run_script
ui_1             |     exec(code, module.__dict__)
ui_1             |   File "/home/user/webapp.py", line 11, in <module>
ui_1             |     from markdown import markdown
ui_1             | ModuleNotFoundError: No module named 'markdown'`

the modu

[2021-11-23 17:52] tstadel commented on #1464
Thanks @jaehyeongAN for your research.
As this seems to be an environment issue and as long as we cannot assess whether this is a widespread problem or pin down what actually causes this, we currently recommend to use @jaehyeongAN's workaround:

If you experience single core behaviour in CPU-mode of `update_embeddings()` please explicitly set `torch.set_num_threads(psutil.cpu_count(logical=False))

[2021-11-23 18:07] ZanSara commented on #1797
Hello @RiccardoTOTI, we should have fixed the issue right now with this PR: #1798

Sorry for the hiccup! Please remove the image you downloaded with `docker rmi` and make sure to pull a fresh one in 10-20 minutes from now. If it's fixed (it should) please close the issue :slightly_smiling_face:

[2021-11-24 02:19] doh10002 opened #1799 "evaluation prediction"
Hi,

i think there was a massive upgrade since i asked similar question last time.
while i am using reader.eval() to get reader evaluation in a closed domain setting.
meanwhile, i want to get the prediction on evaluation dataset.
and the old way of adding debug=True does not work anymore.
is there another way to get the prediction for eval file?
Thank you.

[2021-11-24 03:17] #1792 closed

[2021-11-24 04:45] Mukalingam opened #1800 "Regarding the limitation in the Context of the squad format of JSON file"
**Question**
Is there any limitation for the context in the squad format of JSON file?

**Additional context**
I wanted to give context of around 10Million words in my context file and I have annotated the same with around 2000 questions and generated a  squad format  JSON file to train my chatbot model and it is giving multiple errors like if the answer for the question is there in context also i

[2021-11-24 04:51] sumanthp opened #1801 "Embedding Retriever: unable to load finetuned bert model from local folder"
**Question**
Unable to load fine tuned bert model from local folder  for embeddingRetreiver

**Additional context**
I have finetuned bert-base-cased transformers model and trying to use it with Embedding Retriever in haystack, but getting Error as Exception [Errno 2] No such file or directory: '/tmp/test-bert-cases-mlm-10/processor_config.json'. (path mentioned here is local folder path). Need hel

[2021-11-24 08:52] tholor commented on #1740
Good point. Let's go for `embedding_dim` as we use this naming in other parts of haystack as well (e.g. `document.embedding` or `embedding_field`). I'd suggest we keep the old param for one release and add a deprecation warning to ease the transition of users.

[2021-11-24 11:01] tholor commented on #1782
Hey @DJokes ,

Ok as we are just forwarding the params from Haystack to the elasticsearch client to establish the connection let's try to understand what might be a solution on the elasticsearch client level. If we have something working there, we can adjust the haystack params.
Does the workaround with the ssl_context mentioned [here](https://github.com/elastic/elasticsearch-py/issues/712#issueco

[2021-11-24 11:01] bogdankostic commented on #1793
Hi @AhmedIdr! I think it makes sense to have the option to set custom max_seq_len and batch_size parameters for the EmbeddingRetriever. Would you be interested in working on this and contributing to Haystack?

[2021-11-24 11:10] Threepointone4 opened #1804 "Different records with same text field is getting removed."
**Question**
If the "text" field of 2 records are same but other fields are different. How can we index it ?
**Additional context**
Currently when we use 2 or more records with same text field but different other fields, its getting dropped due to same hash value created by `Document`.
The `Document` has a param called `id_hash_keys` is present, but how can we leverage it during write_documents.
E

[2021-11-24 11:13] bogdankostic commented on #1796
Hi @chaalic! Yes, the "merge" mode takes a linear combination of the embeddings similarity score and the normalized BM25 score. By default, each of the retrievers gets equally weighted.

[2021-11-24 11:15] AhmedIdr commented on #1793
Hey @bogdankostic, okay, I look into it this weekend and see if I manage to implement it in a clean way. Should I use a specific branch to work on it? Or just master?

[2021-11-24 11:18] VinayChaudhari1996 opened #1805 "OSError: libtorch_cuda_cpp.so: cannot open shared object file: No such file or directory"
Hey Team,

I m getting errors while installing haystack on google colab. It was working fine before till week.
But not getting this error after importing required packages.

### Enviorment Details:

-- Google Colab
-- GPU Enable

### Installation Steps

[code]

### Packages Imported

[code]

### Error Message

[code]

[2021-11-24 11:19] bogdankostic commented on #1790
Hi @lawliet19189! Currently, the `predict_batch` method takes as input a list of Dictionaries where each Dictionary contains the keys `"query"` and `"docs"`. The value to the `"query"` key is expected to be a [`Label`](https://haystack.deepset.ai/components/primitives#label) object and the value to the `"docs"` key is expected to be a list of [`Document`](https://haystack.deepset.ai/components/pri

[2021-11-24 11:34] bogdankostic commented on #1799
Hi @doh10002! Could you maybe share some sample code to replicate your issue

Also, we are currently refactoring the evaluation of pipelines, the `EvalAnswers` and `EvalDocuments` nodes will be soon deprecated. The `Pipeline` object now contains an `eval` method that lets you evaluate the pipeline and returns the predictions inside pandas DataFrames.

[2021-11-24 11:38] bogdankostic commented on #1800
Hi @Mukalingam! Can you maybe share some more details with regard to your problem, like a sample script and the error messages that you get? Is my assumption right that you have a SQuAD formatted training file and you are trying to train a Reader model with this?

[2021-11-24 11:40] bogdankostic commented on #1801
Hi @sumanthp! How did you train your embedding retrieval model and what value are you using for the `model_format` parameter when initializing the `EmbeddingRetriever`?

[2021-11-24 11:50] tholor opened #1806 "Improve Colab setup experience by simplifying dependencies"
When starting a tutorial in colab, the installation process is quite annoying (especially for first-time haystack users). Let's try to make it smoother and ideally avoid the need of "restarting the runtime" after the haystack installation.

1. Let's verify which of our dependencies does not match with the preinstalled Colab env. From a quick look it seem:
[code]
It then only complains about PIL be

[2021-11-24 11:53] bogdankostic commented on #1805
Hi @VinayChaudhari1996! The Google Colab environment changed and our latest release does not work out-of-the-box there anymore. You have two options to use Haystack inside Google Colab:
1. Installing current master using the following command:
[code]
2. Installing the latest release and torchaudio==0.9.0
[code]

[2021-11-24 12:01] bogdankostic commented on #1804
Hi @Threepointone4! In order to make use of the `id_hash_key` parameter, you can directly create `Document` objects and pass those to the `write_documents` method instead of dictionaries, for example:
[code]

[2021-11-24 12:18] Mukalingam commented on #1800
Hi @bogdankostic  the assumption of yours in absolutely correct and the error what I am getting is as follows:
Example will not be converted for training/evaluation.
11/24/2021 10:11:45 - WARNING - farm.data_handler.processor -   Answer 'Real world applications of hypothesis testing include:
like this many errors I am getting even though the answers are present in the context of the JSON file whic

[2021-11-24 12:18] VinayChaudhari1996 commented on #1805
Thanks lot :)
It works for me

[2021-11-24 12:18] #1805 closed

[2021-11-24 12:38] scibite-oliverg opened #1807 "DPR retriever.train() seems to get stuck in a loop"
**Describe the bug**
[DPR training tutorial](https://haystack.deepset.ai/docs/latest/tutorial9md)

I am using the code from the above tutorial almost exactly (to create a DPR model from scratch). I have changed the paths to files and used a different base model. When running the function, it successfully initialises workers and finds the model online, but then when loading data it throws the follo

[2021-11-24 12:42] lawliet19189 commented on #1790
Thank you for the response @bogdankostic!

[2021-11-24 12:42] #1790 closed

[2021-11-24 13:38] DJokes commented on #1782
Hi @tholor, using the ssl_context works fine for me.

[2021-11-24 13:57] sumanthp commented on #1801
I'm using model format as transformers and AutoModelForMaskedLM is used to finetune bert model

[2021-11-24 14:26] doh10002 commented on #1799
hi @bogdankostic

i saw the pipeline method that can be used when i evaluate both retriever and reader.
i wanted to only get the answer from when i evaluate only reader.

this is the code that i got from Tutorial5_Evaluation.py.

[code]

[2021-11-24 14:42] tholor commented on #1782
Ok, then I'd suggest that we create the `ssl_context` object within the `ElasticsearchDocumentStore` and pass it down to the elasticsearch client for the connection.

For context, this is the example for them elastic thread:
[code]

So we could probably pass the path in `ca_certs` to `create_ssl_context` and set the context attributes.

The alternative would be to just add a `ssl_context` paramete

[2021-11-24 14:56] DJokes commented on #1782
Also here it would be nice if you take over. Im currently writing my thesis, so theoretically I could help out in some months.

[2021-11-25 08:38] Arnavmishra219 commented on #1720
There will be any error in your list or where you execute the list, or in any function or where you use the list...
So check it out carefully or you can send me file or you can tell me the file is in which folder???
Please tell me

........

[2021-11-25 09:55] Threepointone4 commented on #1804
Generally indexing people do directly on list or records, is there any other way where this will be done using only write_documents ?
Will supporting document params part of write document will be a good option ? ( I would love to create PR if this is required )

Right now as workaround , we have pre-populated the ids and then we have done the indexing.

[2021-11-25 13:47] julian-risch commented on #1807
Hi @scibite-oliverg I have an idea what might be the problem. During multiprocessing, it can happen that every spawned subprocess import your script and thus executes all of it again if there are no guards against this. Have a look at the solution described here: https://github.com/deepset-ai/haystack/issues/709#issuecomment-758106623 and please let me know if it solves your problem.

[2021-11-25 13:59] Threepointone4 commented on #1737
In both the tutorials does adding :

[code]
will help ?

[2021-11-25 14:15] julian-risch commented on #1630
I agree. This issue is closed by https://github.com/deepset-ai/haystack/pull/1762 Thank you! 👍

[2021-11-25 14:15] #1630 closed

[2021-11-25 15:15] scibite-oliverg commented on #1807
Got past the broken loop and am now successfully training. Thank you!

[2021-11-25 15:15] #1807 closed

[2021-11-25 16:04] fcakyon opened #1811 "How to integrate annotation tool with haystack question generation pipeline?"
**Question**
How to import the generated questions into haystack annotation tool?

**Additional context**
[In this blog post](https://www.deepset.ai/blog/generate-questions-automatically-for-faster-annotation), question generation capabilities of the haystack are detailed, and says `The human annotator reviews automatically generated question-answer pairs and makes corrections as necessary. When i

[2021-11-25 16:54] julian-risch opened #1812 "Train distilled QA models"
Using our newly implemented model distillation functionality, we would like to train distilled models with "large" teacher models and "base" student models. In addition to training these distilled models, we need an evaluation comparing the distilled models to the "base" models trained before. If the performance improves, we need to write model cards and finally upload the models to the model hub:

[2021-11-26 09:25] julian-risch opened #1814 "Add documentation page about model distillation"
We need a new page in the documentation about model distillation. The page be can be similar to https://haystack.deepset.ai/guides/table-qa and should explain when to use model distillation, how to distill a model, a very brief summary of the student-teacher training concept we use, how to choose parameters, and what results to expect. A tabular overview of distilled models with links to the model

[2021-11-26 10:20] LorenzBuehmann opened #1815 "REST API fails when embeddings returned flag is enabled in document store"
Good morning Haystack devs. Not sure if this is really a bug or I'm doing something wrong, so feel free to change the type if this issue to something else if it's not a bug.

**Describe the bug**
When the document store is forced to return the embeddings the REST API request fails because the type of the embedding is a Numpy array (`dtype=float32`) but the Pydantic dataclass of `DocumentSerialized

[2021-11-26 11:53] julian-risch commented on #1811
Hi @fcakyon great to see your interest in this very recent blog post! While the post describes the process of a "human in the loop" approach, we don't have a seemless integration between haystack and the annotation tool for that yet. You would need to manually make sure that the data format of haystack's output is in a format that can be imported in our annotation tool.

This comment describes the

[2021-11-26 12:02] julian-risch opened #1818 "Export generated QA pairs as csv formatted files for annotation tool"
**Is your feature request related to a problem? Please describe.**
Our recent[ blog post on the generation of question-answer pairs](https://www.deepset.ai/blog/generate-questions-automatically-for-faster-annotation), describes how to use generated pairs as a training dataset and how to modify generated pairs with a human in the loop process.
However, the integration of haystack and the annotation

[2021-11-26 12:13] fcakyon commented on #1811
This issue is perfect: https://github.com/deepset-ai/haystack/issues/1818

[2021-11-26 12:24] ZanSara commented on #1737
Hello @Threepointone4, to some degree, but as it is, it would hide too many warnings.

What I try to achieve here is to hide only the UserWarnings that are generated by Haystack dependencies, not the ones triggered by Haystack itself. So for example, it the `transformers` library misuses `pytorch` and triggers a UserWarning, I would like it to be hidden (as we can't do anything to remove it from H

[2021-11-28 16:07] Threepointone4 commented on #1737
I agree. Can we use **warnings** package with filters?
This is one of the option.
`module is a string containing a regular expression that the module name must match. The expression is compiled to be case-sensitive.`

https://docs.python.org/3/library/warnings.html

Something like this maybe @ZanSara ?

[2021-11-28 16:09] Threepointone4 commented on #1737
In this we can add specific package strings to avoid warnings from specific package.

[2021-11-28 20:04] mapapa opened #1819 "JFROG XRAY - Vulnerability Scanning is blocking installation of farm-haystack"
Ever since xray is enabled in our jfrog/artifactory server we cannot download farm-haystack version 0.9.0 and onwards with the following errors:

Fix version 2.8.0
colorama:0.4.4
ray_dist.jar
commons-io:commons-io:2.7
Summary
Apache commons io input/infinitecircularinputstream.java infinitecircularinputstream::read() function buffer handling divide-by-zero dos
Description
Apache commons io contain

[2021-11-28 23:27] ShoRit opened #1820 "Error while Training Your Own "Dense Passage Retrieval" Model"
**Describe the bug**
Encounter an error while trying out the tutorial 9 for running a pre-existing DPR model on a custom dataset.

**Error message**
File "/projects/mrqa_jars/emanual/emanual/code/run_dpr.py", line 30, in <module>
    retriever.train(
  File "/usr0/home/rdutt/anaconda3/envs/dpr/lib/python3.9/site-packages/haystack/nodes/retriever/dense.py", line 412, in train
    trainer.train()

[2021-11-29 00:04] angelopf commented on #1011
Hi again @tholor and sorry for bothering you again on the df to JSON topic again, but I have been looking up solutions to address my case and everything redirects to Haystack (cdqa, for example), but I am not able to use the [squad_data](https://github.com/deepset-ai/haystack/blob/master/haystack/utils/squad_data.py) file in my case. I'm trying to adapt the function to resolve the previous error,

[2021-11-29 11:14] ZanSara commented on #1737
Yes, looks like it could work. Do you think you can contribute this feature? I will be glad to review your PR.
I think it would fit nicely in `haystack/__init__.py`, somewhere in the first 15 lines (that is, above the "old imports" patch).

Let me know! :slightly_smiling_face:

[2021-11-29 12:47] tstadel opened #1823 "`Pipeline.components` is always empty"
**Describe the bug**
`Pipeline`'s `component` field is actually never used and thus empty even though the pipeline actually has components in its graph.
https://github.com/deepset-ai/haystack/blob/84147edcca7c3d9cb510ac39d861533e0112c803/haystack/pipelines/base.py#L187

This is irritating if you look at the pipeline during debugging. This falsely gives the impression that the pipeline is empty.

*

[2021-11-29 13:28] Threepointone4 commented on #1737
@ZanSara Sure. I would love to. Just confirming one thing, showing this in a production setup make sense right. Only during Tutorials it doesn't. so the change should be such that it should not show only during Tutorials files.
Does adding this in Tutorials files makes more sense ?

[2021-11-29 13:36] ZanSara commented on #1737
You're right, it's probably better to add it to the tutorials only. In this case, please ignore my suggestion above and modify only the tutorial files :+1:

[2021-11-29 15:35] ZanSara opened #1825 "Create ID of the feedback labels server side"
In the current REST API, the `POST /feedback` endpoint expects the request to contain the ID of the Label to create.

It should be instead the server responsibility to create these labels, and indeed the `Label` constructor does not require the ID at construction time. However, immediate solutions like adding an optional `id` parameter to `LabelSerialized` did not work right away.

We should make

[2021-11-30 14:34] tstadel commented on #1719
With the above here are 3 requirements to support:
- string based / index based (spans) evaluation of reader -> we have string based implemented, no real need for index based
- string based / index based (document ids) evaluation of retriever -> already implemented with `doc_relevance_col`
- evaluate reader as if there was a perfect retriever sitting in front of it. There are multiple ways to achi

[2021-11-30 15:23] julian-risch commented on #1815
Hi @LorenzBuehmann you're right that the embeddings are calculated as a numpy array
https://github.com/deepset-ai/haystack/blob/56e4e8486f346ba899dcf8231857c8e20bed9643/haystack/document_stores/elasticsearch.py#L937
whereas the `DocumentSerialized` defines the embedding as a List of float
https://github.com/deepset-ai/haystack/blob/c0892717a061eef0d9a0a185b0ec1b53f0b467d3/rest_api/schema.py#L34
I

[2021-11-30 16:54] dlicari commented on #1801
Hi @sumanthp
haystack doesn't support transformers models from local disk, so you must convert into 'farm'.
Try this
[code]

[2021-11-30 16:55] julian-risch commented on #1815
Hi @LorenzBuehmann I was able to reproduce your error.
I am working on a fix and tried adding the following two lines
`from numpy.typing import NDArray`
`from numpy import float32 as np_float32`
in `haystack/rest_api/schema.py` and change the line with the type of `embedding` in `DocumentSerialized` to:
`embedding: Optional[NDArray[np_float32]]`
However, that change doesn't fix the problem yet.

[2021-11-30 17:05] tholor commented on #1819
Hey @mapapa ,

Thanks for flagging this and sorry to hear that you face such an annoying dependency problem. What python version are you using? After a quick look into it, it seems that this is a general python issue and the most severe XML vulnerabilities have been fixed since python 3.6. See python [docs](https://docs.python.org/3.10/library/xml.html) and this [thread](https://github.com/network

[2021-11-30 17:34] mapapa commented on #1819
Hi Malte, many for your detailed response, makes sense and much appreciated.  FYI, we're using python 3.8 and 3.9. Thanks Manos

[2021-11-30 17:34] #1819 closed

[2021-11-30 18:26] #1718 closed

[2021-12-01 00:34] #1793 closed

[2021-12-01 08:34] LorenzBuehmann commented on #1815
Hi,

yes, forgot to say that I also tried this as a quick fix - but then the JSON encoder/decoder (of I think Pydantic) got into trouble. Looks like a custom

Just to clarify why I enabled the embeddings, I added another pipeline but with generative QA, and that one takes the existing embeddings of the retrieved documents into account, so it's necessary to return those by the document store. Techn

[2021-12-01 08:44] tholor commented on #1815
@julian-risch  Numpy arrays are not supported in json and therefore also not in the API responses.
Actually the `NumpyEncoder` should take care of this conversion from ndarray to list[float]: https://github.com/deepset-ai/haystack/blob/c5540d05ed7b62f08b0be9a9ea20ad4d46e21086/haystack/schema.py#L172

Probably it's not used correctly when generating the FastAPI response :thinking:

[2021-12-01 15:16] #1712 closed

[2021-12-01 16:18] stphnthiel commented on #1712
Thanks so much @ZanSara ! Will check this out until EaoW and give feedback.

Much appreciated!

[2021-12-02 00:39] ArminBaz opened #1833 "Tutorial 2 - RuntimeError: CUDA error: device-side assert triggered"
When I try running tutorial 2 on Colab I run into this error message:
[code]

This problem occurs from this line of code:
[code]

Here's the output before the error occurs:
[code]

Interestingly, the reader is loaded properly when using a CPU in the notebook settings.

**EDIT**
I solved the above issue by including this code in the notebook:
[code]

But, I still run into the same error message, no

[2021-12-02 07:51] julian-risch commented on #1833
Hi @ArminBaz my first guess is that the notebook is running out of GPU memory. This can sometimes happen when you rerun some of the cells but the memory is not properly released beforehand.
I will try to reproduce the error and investigate what's causing the issue.

[2021-12-02 08:13] julian-risch commented on #1833
For debugging purposes I added the following to lines at the top of the notebook of tutorial 2.
[code]

I also get the CUDA error: device-side assert triggered with the very first training batch:
[code]

Maybe it has to do with our recent torch upgrade. I will try an earlier release of haystack via replacing the line
`!pip install git+https://github.com/deepset-ai/haystack.git`with
`!pip install f

[2021-12-02 13:23] LorenzBuehmann opened #1835 "error when using other SQL backend than SQLite, e.g. Postgres"
Hello Haystack devs,

Using Postgres as SQL backend for e.g. the Milvus document store leads to an error because of the primary key definition of the ORM objects. The `ORMBase` class has `id` defined as primary key and so do have other classes like `DocumentORM` an additional primary key field, like `index`. This makes by definition a combined primary key for the table `document`.
The issue is now

[2021-12-02 13:51] ZanSara commented on #1835
Hello @LorenzBuehmann, interesting issue! I'm going to have a look at this one very soon. Thanks for the analysis btw, that surely saved me some time already :slightly_smiling_face:

[2021-12-02 13:53] LorenzBuehmann commented on #1835
Well, not sure how helpful my analysis is. At least it's strange that PostgreSQL behaves different from SQLite here. Dropping the primary key on `index` field in `DocumentORM` avoids the error and leads to the next and same error for `label` vs `meta_label` tables.

[2021-12-02 15:54] julian-risch commented on #1815
Let's address this issue in the next sprint.

[2021-12-02 17:09] #1717 closed

[2021-12-02 17:52] rpaletes opened #1838 "Error when using df_to_data"
**Describe the bug**
When using the [df_to_data feature](https://github.com/deepset-ai/haystack/blob/master/haystack/utils/squad_data.py) in the latest Haystack version and with all dependencies installed, I get an attribute error.

**Error message**
AttributeError: 'DataFrame' object has no attribute '_aggregate_answers'

**Expected behavior**
I expected the cell to output a JSON file with my que

[2021-12-03 08:05] LorenzBuehmann commented on #1835
Just to give you an idea how it works:

[code]
As you can see i) because the primary key is a composite one we ii) have to reference all those columns which iii) in fact means we also have to add another column for the index name then. Analogous for the `label` vs `meta_label` tables indeed

[2021-12-03 09:24] julian-risch commented on #1811
@fcakyon You're right. There is no option to upload answers to the haystack annotation tool.

[2021-12-03 10:19] #1715 closed

[2021-12-03 16:16] nishanthcgit opened #1842 "Error while saving faiss document store"
**Describe the bug**
When you call

[code]
while there are actual documents present in the index (number of documents should be nonzero) (there has to be a faiss index)
It can also happen if you pass an existing faiss index into the faiss_index field and try to save it.

it DOES NOT happen if you do a

[code]
**Error message**
Object of type IndexFlat is not JSON serializable

**Expected behavior*

[2021-12-03 16:16] nishanthcgit commented on #1842
If you can tell me where you want the change to be made (I suspect in the config), I would be happy to submit a pull request :-)

[2021-12-06 08:25] julian-risch commented on #1833
Hi @ArminBaz I think the problem is caused by our upgrade to pytorch 1.10. I can get rid of the problem by downgrading the torch dependency to 1.9 (and also downgrading torch-vision). For example, you can do that by changing the following line in the requirements.txt before installing haystack's dependencies in a virtual environment:
`torch>1.5,<1.11` to
`torch>1.5,<1.10`
That solved the problem f

[2021-12-06 08:40] bogdankostic commented on #1724
Implemented in #1813

[2021-12-06 08:40] #1724 closed

[2021-12-06 11:20] tholor commented on #993
Currently: Yes, that's probably the simplest and most pragmatic option. Also quite flexible, as you can run this in combination with any of the existing reader models out there. Biggest downside: you "waste" quite some compute when running a second transformer "just for classification".

Future: The reader could get a second, optional prediction head for classification (as stated above). We did a

[2021-12-06 12:38] arater opened #1844 "Haystack Rest Api Unwanted Query Response"
**Haystack is unsure whether any of the documents contain an answer to your question**

I am using haystack rest API in my machine and I am using its UI to test my model. When I ask question it gives as response in the UI 'Haystack is unsure whether any of the documents contain an answer to your question' even if it has highest score as a response but I could not see the answer. How can I solve th

[2021-12-06 14:10] #1833 closed

[2021-12-06 15:00] julian-risch commented on #1833
Hi @ArminBaz the problem is now fixed on the master branch and a new release of haystack will follow soon. Thanks again for reporting this issue. 👍

[2021-12-06 15:15] tstadel commented on #1719
Results from sync with @julian-risch and @tholor
- no index based eval for reader needed
- for `doc_relevance_col` we have to check if it's intuitive enough. For now it's fine
- "perfect retriever mode for reader":
   - first option is not what we want
   - it should be as simple and intuitive as possible from caller view (best would be to set a flag in pipeline.eval)
   - two prediction runs in r

[2021-12-06 15:29] ZanSara commented on #1844
Hello @arater, this is a feature of the Reader for which we recently changed the default. It can be disabled by removing:
[code]
from `rest_api/pipeline/pipelines.yml` (or your custom REST API pipelines definition if you have one).

This is the line to remove:
https://github.com/deepset-ai/haystack/blob/8b7b51f0f58f5d1b72a3d51fd20d541d41cd7faf/rest_api/pipeline/pipelines.yaml#L18

Let us know how

[2021-12-06 16:07] julian-risch commented on #1838
Hi @rplates I just tested the `df_to_data` functionality and it seems to work fine for me. I ran the following lines of code:
[code]
You can have a look at the outputs in this notebook I have just created: https://colab.research.google.com/drive/1q0t927zisN5lHNRgrFwQ0SabZEEhPKlg?usp=sharing

Maybe your data is in a different format and that's the problem? Feel free to share the dataframe if you wo

[2021-12-06 17:08] tstadel opened #1847 "Support more than one answer/document output per node in pipeline.eval()"
According to #1719 we need to support multiple outputs per node and type (answer/document).
Needs to be done:
- introduce new column in eval dataframes (e.g. 'eval_mode')
- set default value to new column during `pipeline.eval()`
- extend `EvaluationResult` for receive eval_mode and filter for it, also set default value

[2021-12-06 17:14] julian-risch commented on #1842
Hi @nishanthcgit thanks for bringing this to our attention. I agree with you that there shouldn't be a need for storing the index itself in the config file. The line of code that you linked [here](https://github.com/deepset-ai/haystack/blob/bab05c7677657d01df8ce31c5438d958941a776b/haystack/document_stores/faiss.py#L105) is used for enabling a pipeline to be saved as a yaml file [here](https://gith

[2021-12-06 17:32] tstadel opened #1848 "Support perfect retriever evaluation in Reader nodes"
According to #1719  in pipeline.eval(), we want to evaluate reader nodes besides the usual pipeline evaluation as if there was a perfect retriever sitting in front of them. Needs to be done:
- extend pipeline.eval() to receive a parameter that enables perfect retriever evaluation
- extend Reader.run() to receive the parameter enabling perfect retriever evaluation and the labels
- implement a secon

[2021-12-06 17:35] tstadel opened #1849 "Extend eval tutorial and documentation to support perfect retriever evaluation for reader nodes"
According to #1719 in pipeline.eval(), we want to evaluate reader nodes besides the usual pipeline evaluation as if there was a perfect retriever sitting in front of them. We want to show how it works in the tutorial and the eval guide. Needs to be done:
- extend tutorial to run pipeline.eval() with "perfect retriever" flag
- extend guide to explain what "perfect retriever" flag does
- The name of

[2021-12-06 17:44] tstadel commented on #1847
Unfortunately, Made an epic out of it -> closing

[2021-12-06 17:44] #1847 closed

[2021-12-06 17:45] tstadel opened #1850 "Support more than one answer/document output per node in pipeline.eval()"
According to #1719 we need to support multiple outputs per node and type (answer/document).
Needs to be done:
- introduce new column in eval dataframes (e.g. 'eval_mode')
- set default value to new column during `pipeline.eval()`
- extend `EvaluationResult` for receive eval_mode and filter for it, also set default value

[2021-12-06 17:50] Timoeller opened #1851 "Add Evaluation tutorials for other Nodes"

[2021-12-06 17:59] Timoeller opened #1852 "Add k fold cross validation for QA Reader models"
We did not migrate cross validation from FARM yet.

I often make use of it to evaluate customer QA data - especially because there often are not many labels.

[2021-12-06 19:08] rpaletes commented on #1838
Hi! Thanks a lot for your answer.

I don't think I understand the way you called the SquadData class: `SquadData.from_file("/content/sample_data/dev-v2.0.json")`.

In my case I already have the dataframe and I am unsure how to call the class directly. Attached is an example from my dataframe so that you can apply the method. If you can, please refer the right way to call it.

Thank you again!
[exa

[2021-12-06 19:19] julian-risch commented on #1838
Hi @rpaletes my code was just an example to show that the `df_to_data` method works given the data in the expected format. I will have a look at your data and report back here. :)

[2021-12-06 19:30] rpaletes commented on #1838
Sure thing, thank you! It's great to know the method works, my problem is probably just the way I'm calling the class, just because you do so when importing the SQuAD file while I obviously don't :)

[2021-12-06 19:33] julian-risch commented on #1838
Your data format looks good to me. The group by statements are just for datasets with multiple annotated answers to the same questions, which does not seem to be the case for you. The problem is something else:
`_aggregate_answers` is a static method of the SquadData class. So the `self` in `self._aggregate_answers).rename("answers")` in `df_to_data` does not refer to a dataframe but `SquadData`.

[2021-12-06 19:41] angelopf commented on #1838
Okay, I think I got the reason why, but how exactly should I use `SquadData._aggregate_answers` then? I mean, where should I pass the df?

[2021-12-06 20:16] julian-risch commented on #1838
As I see it, the `df_to_data` should also be made a static method. In that case, you could call:
[code]
However, at the moment, this won't work although I think we should make that work.
At the moment, you would need an object of class `SquadData` because `df_to_data` is a method that you could call on that object. Problem is that you need to initialize this object with some data. As a hack around

[2021-12-06 20:44] ArminBaz commented on #1833
Great! Thank you so much for your quick response @julian-risch

[2021-12-06 21:03] arater commented on #1844
I have deleted return_no_answer: true  line from both pipelines.yml or pipelines_dpr.yml files. But still I am getting this warning.

[2021-12-06 22:53] #1011 closed

[2021-12-06 22:56] rpaletes commented on #1838
The workaround worked a charm, thanks a lot.

By the way, one last thing: you've mentioned one can annotate more than one answer for the same question, but I did not find any instructions on the format of the dataframe if that is the case... Would it work by having the same the same id, or is it something else? Maybe the same exact question?

[2021-12-07 08:57] julian-risch commented on #1838
Yes, you can have multiple annotated answers for the same question by adding them as multiple rows in the dataframe with the same question, id, context, etc. but a different answer. This is what the `_aggregate_answers` and the groupby is for. The following line of code shows which columns need to have the same value for the groupby to work: https://github.com/deepset-ai/haystack/blob/13510aa753d4

[2021-12-07 10:06] rpaletes commented on #1838
That's great. Thank you very much!

[2021-12-07 10:06] #1838 closed

[2021-12-07 10:31] arater opened #1853 "Not to use default documents in Haystack Rest Api"
**How can I disable Haystack rest API default country data from Wikipedia?**

I upload my file and when I ask question if model founds better result in other documents it brings its result but these files are already uploaded haystack country Wikipedia files. And I do not want that model uses these files. How can I disable these files when I run docker?

[2021-12-07 10:51] julian-risch commented on #1853
Hi @arater I am assuming your running the docker demo as described here: https://github.com/deepset-ai/haystack#beginner-quick-demo?
One way to change the demo on your side is to use an empty document store by changing the docker compose file here: https://github.com/deepset-ai/haystack/blob/983b20f28d89b869a3f1096425eaef1ad97552b3/docker-compose.yml#L27
If you replace that line with `image: "elas

[2021-12-07 11:38] arater commented on #1844
I have also set return_no_answer: false bt still getting same issue. Can anyone help me?

[2021-12-07 14:47] ZanSara commented on #1844
Hello @arater, you're right! I tried too and I see that disabling `return_no_answer` is not sufficient to stop the "no answer" answer to come through. I'm working on a fix. In the meantime, you can filter the answers yourself by modifying `ui/utils.py`, this line: https://github.com/deepset-ai/haystack/blob/8cb513c2c6178092e48406407842f55e4bf69bfd/ui/utils.py#L62

Replace it with:
[code]
Keep in m

[2021-12-07 15:06] bogdankostic commented on #1820
Hi @ShoRit! Thanks for raising this issue. The Problem was that we were wrapping an already existing DataParallel model in another DataParallel model. This should be fixed by #1855.

[2021-12-07 15:50] ZanSara commented on #1844
Hello again @arater, although removing `return_no_answer` does not reliably work, I found that setting `return_no_answer: false` works quite well. However, you said that in your case it did not work. In order to understand what's going on, can you share:
- Which Haystack version you're using
- The `pipelines.yaml` you're using
- Anything else you might have modified in the code

[2021-12-07 15:56] #1853 closed

[2021-12-07 16:05] arater commented on #1844
I am sharing my haystack/docker-compose.yml file
<img width="577" alt="Screen Shot 2021-12-07 at 16 57 24" src="https://user-images.githubusercontent.com/12005291/145063323-0ac1c975-00fd-43a3-b1e3-9c651cd2a631.png">

And also my haystack/rest_api/pipeline/pipelines.yaml file below.
<img width="404" alt="Screen Shot 2021-12-07 at 16 58 19" src="https://user-images.githubusercontent.com/12005291/145

[2021-12-07 16:11] ZanSara commented on #1844
Very interesting. A couple more questions:
- How do you start the system? Do you use `docker-compose up`, or you do `docker run` on the separate containers, or you run the entire stack without Docker?
- If you're using Docker, have you tried to remove all images and pull the new ones from the Hub?
There are a few things we can try to make this all work for you, so let me know these two things and

[2021-12-07 16:14] arater commented on #1844
I followed the steps provided https://haystack.deepset.ai/guides/rest-api from here. So I run command docker-compose pull
docker-compose up respectively.
I do not understand this answer actually => If you're using Docker, have you tried to remove all images and pull the new ones from the Hub?

[2021-12-07 16:21] ZanSara commented on #1844
No problem, I think I understood what's going on.

I think I mislead you a bit with my first reply. It's likely that the `pipelines.yaml` that I told you to modify is not being picked up by Haystack, because you're using the image from the Hub. Sorry for that...

What I'd recommend in here is to modify your `docker-compose.yml` file. Here is the procedure:
1) Make sure your Haystack is up to date

[2021-12-07 16:47] arater commented on #1844
I applied all steps that you said but before docker-compose up I did not run docker-compose pull. Still it does not work same warning exist.

[2021-12-07 17:21] ZanSara commented on #1844
Hm strange.

- When you executed `docker-compose up`, have you seen the image being built?
- Can you share your `docker-compose.yml` again?

By the way, if you still have them at hand, can you share the logs of the `docker-compose up` command?

[2021-12-07 20:53] arater commented on #1844
Hmm I solve the issue right now I forgot to comment out "image: deepset/haystack-cpu:latest" in docker-compose.yml file but normally, when I ask same question to the same document, model gives me best related three answers and the first answers was hidden due to return_no_answer=true and its relevance was 66 and the second most relevance answer was seen with 54 relevance. This time there is no ans

[2021-12-08 08:37] arater commented on #1844
And also I want to ask that when I upload one document then ask questions. I stop the docker. Then I upload another documents and ask questions, the model try to give answer from the documents uploaded below. But I do not want this how can I prevent this happen?

[2021-12-08 08:41] tholor commented on #1739
@julian-risch Isn't this covered by now with the new `simulate_top_k` parameters?

[2021-12-08 08:49] julian-risch commented on #1739
@tholor Yes, that's correct. I wouldn't recommend to use it and rely on it though because we haven't tested how much the numbers of the simulated scores differ from the real scores. https://github.com/deepset-ai/haystack/blob/8cb513c2c6178092e48406407842f55e4bf69bfd/haystack/schema.py#L664

[2021-12-08 08:49] #1739 closed

[2021-12-08 08:51] ZanSara commented on #1844
You can delete the document store's docker container and start fresh. In general I'd recommend you to get more familiar with the basics of Docker, for example here: https://docs.docker.com/get-started/ before going further with Haystack. I'm sure it's going to clarify many of your doubts :slightly_smiling_face: Also, you might want to have a look at Haystack documentation: for example here (https:

[2021-12-08 08:53] #1844 closed

[2021-12-08 08:56] #1820 closed

[2021-12-08 09:21] bogdankostic opened #1858 "Add File Converter based on Parsr"
We want to add another File Converter capable of extracting both text and tables from PDF-documents based on the Parsr repository (https://github.com/axa-group/Parsr).

[2021-12-08 09:25] bogdankostic opened #1859 "Change return type of File Converters to `List[Document]`"
Currently, the file converters are returning `List[Dict]`.  We should make use of our `Document` primitive here and return `List[Document]` instead.

[2021-12-08 09:52] arater commented on #1844
Thanks for your all support

[2021-12-08 13:48] fcakyon commented on #1811
@julian-risch do you have any plans to add feature so that `context`, `question` and `answer` pairs can be imported to haystack annotation tool?

Scenario:
I have a squad formatted Q/A dataset with some of the text annotated, I want to import it to Haystack Annotation Tool, then I want to annotate the unannotated texts.

[2021-12-08 14:44] julian-risch commented on #1811
Adding these features is not planned for the next sprints but we are discussing improvements/integration of the annotation tool for the longer term roadmap. Learning about your use cases and needs in a discussion here or in an issue helps us a lot in planning! So thank you for that! However, I can't promise that we will work on the features you described in the near future.

[2021-12-08 16:01] ZanSara commented on #1835
Hey @LorenzBuehmann, just a quick update on my progress on this one. It was easy to reproduce and as you correctly pointed out, there is a composite PK being misused in SQLDocumentStore as a simple PK.

I discovered, to my surprise, that SQLite does not enforce FK contraints in general (https://docs.sqlalchemy.org/en/14/dialects/sqlite.html#foreign-key-support), but can support them, so I'm going

[2021-12-08 17:47] oryx1729 opened #1863 "REST API for Query breaks for document retrieval Pipelines"
In the current implementation, we expect `answers` to be present in the [QueryResponse](https://github.com/deepset-ai/haystack/blob/ea5aab23ec5bbc88e51e00cca239a8feb88aaab3/rest_api/schema.py#L44) model.

This breaks the validation of document search Pipelines when no answer is present.

[2021-12-08 17:53] oryx1729 opened #1864 "Support generic `params` for file-upload REST API"
In the current REST API for file-upload, we expect `fileconverter_params` & `preprocessor_params`. It is somewhat inconsistent with the Query Pipelines, which support [generic](https://github.com/deepset-ai/haystack/blob/ea5aab23ec5bbc88e51e00cca239a8feb88aaab3/rest_api/schema.py#L16) `params` in the request body.

Additionally, with the support of `params`, users can pass parameters for other Pip

[2021-12-09 07:42] SubhransuSekharBhattacharjee-01 commented on #182
Hi, @tholor, I am stuck with the same problem as @anirbansaha96, would you mind putting up the latest version that acts as a complete replacement of his very first request.

[2021-12-09 13:57] ZanSara commented on #1842
Hello, I'll just add a detail on top of @julian-risch's recommendations. Actually we have tests for FAISS save/load feature here: https://github.com/deepset-ai/haystack/blob/ea5aab23ec5bbc88e51e00cca239a8feb88aaab3/test/test_faiss_and_milvus.py#L27

They do not test for the case you reported though, so please feel free to add tests in this suite and/or modifying the existing ones.

[2021-12-09 14:14] ZanSara commented on #1804
Hello @Threepointone4, sorry for the late reply. I'm not sure I understand your proposal actually. I don't see an easy way to add `id_hash_keys` to `write_documents`, neither other `Document` params, but I might have misunderstood you entirely.

It would be best if you could share an example of API for `write_documents` that would support your usecase. Or, if you think it's be easier, you can also

[2021-12-09 14:20] ZanSara commented on #1801
Hello @sumanthp, technically Haystack now supports transformers models from local storage.

However, in order to understand if this is a bug in Haystack or a misconfiguration, I need to see the code you used to train your embedding retrieval model and to initialize `EmbeddingRetriever`. Could you please share it?

[2021-12-09 14:27] ZanSara commented on #1800
Hello @Mukalingam, sorry for the late reply. In the error you share, I see a log from FARM, not from Haystack. Therefore I would suggest you to retry on the latest release of Haystack: you're probably using an outdated version, and we can't help you too much with that.

If the issue occurs again on Haystack 1.0, then please share the entire execution logs, so that we can see clearly what happened.

[2021-12-09 14:49] StoyanVenDimitrov opened #1865 "haystack_api cannot connect with elasticsearch"
**Question**

Hi,

I'm trying to run the [REST API demo](https://haystack.deepset.ai/guides/rest-api) as-is, but run into this problem:

haystack-api_1   | urllib3.exceptions.NewConnectionError: <urllib3.connection.HTTPConnection object at 0x7f28f8bb4150>: Failed to establish a new connection: [Errno 111] Connection refused
haystack-api_1   | WARNING - elasticsearch -  HEAD http://elasticsearch:92

[2021-12-09 14:55] ZanSara commented on #1796
Hello @chaalic, do you need any more information on this topic? If so feel free to ask. Otherwise in a few days I'll close this issue.

By the way, @brandenchan do you think this information can be added to the docs somewhere, or made clearer?

[2021-12-09 14:56] #1797 closed

[2021-12-09 15:05] ZanSara commented on #1720
Hi @tarhann, I'd like to pick this issue up, but until we can replicate it somehow it will be hard for us to figure out what's happening. If you could share which embedding model you're using with EmbeddingRetriever, that might be enough for us to track down the source of this problem. Otherwise in a few weeks I'll have to close the issue as stale, which would be a shame as it looks like a serious

[2021-12-09 15:12] ZanSara commented on #1767
Hello @awilsonTorch, just checking, are you still experiencing this issue? Did you find a solution in the meantime?

If you still have this issue, I'd recommend upgrading. We recently release version Haystack 1.0, so make sure to try again with the new version and let us know if anything changed.

[2021-12-09 15:19] ZanSara commented on #1753
Hello @dhollier, if Bogdan's suggestions solved your problem, please let us know and close this issue :slightly_smiling_face:

[2021-12-09 15:23] ZanSara commented on #1725
Hello @shainaraza, did you find a solution to your problem in the end? If so, please let us know :slightly_smiling_face:

[2021-12-09 15:24] shainaraza commented on #1725
Yes @ZanSara  I found, will update this thread.

[2021-12-09 15:26] ZanSara commented on #1686
Hello @Omarnabk, do you need more help on this topic? If so, please feel free to ask. Otherwise in a few days I'll close this issue :+1:

[2021-12-09 15:38] ZanSara commented on #1640
Hello @Omarnabk, it seems to me that @julian-risch suggestions were useful to you. If it's all clear, I'd close this issue in a few days :slightly_smiling_face:

[2021-12-09 15:39] #1615 closed

[2021-12-09 15:40] #1640 closed

[2021-12-09 15:40] #1686 closed

[2021-12-09 15:52] shainaraza commented on #1865
Are you working in Colab? I had same issue then I keep the elasticsearch directory default with /content/ and all data at same place then it worked , It is not giving me connection refuse error anymore.

[2021-12-09 15:58] shainaraza commented on #1725
Colab was blocking the API address so I used [ngrok](https://ngrok.com/) to have a public address from colab, below he code (its little mixed, apologies for that but it worked)

Here is code snippet

`!pip install fastapi nest-asyncio pyngrok uvicorn
!pip install git+https://github.com/deepset-ai/haystack.git
# In Colab / No Docker environments: Start Elasticsearch from source
! wget https://artif

[2021-12-09 15:59] fabiolab opened #1866 "JSONDecodeError during haystack_is_ready()"
**Describe the bug**
While launching the `docker-compose up`, the ui component fails in communicating with the haystack-api.
In my opinion there is a problem with the `haystack_is_ready` function from the utils package.
Indeed, it expects a json response from the api server :
[code]

But the api response is a single boolean (not json valid) :
[code]
Patching the condition `if requests.get(url).jso

[2021-12-09 16:01] tstadel commented on #1799
Hey @doh10002,
the new piepline.eval() currently does not support reader only evaluation in a retriever-reader-pipeline yet. But we're actively working on that. It should be available soon (next week, I hope).
If I understand you correctly, you want to get / store the predictions from the evaluation run? Is that right?

That's something reader.eval() does not support.
We know that that's an import

[2021-12-09 18:41] tstadel commented on #1866
Hey @fabiolab,

thanks for reaching out! Unfortunately I couldn't reproduce this problem locally. Furthermore the response of your api seems to be correct. The python json module is able to deserialize it to the python primitive `True`. I verified that by debugging it locally. Is it possible, that the api wasn't up yet when you were starting the ui?
Btw, are you running them on the same device?

[2021-12-09 18:42] ZanSara commented on #1725
Thank you very much! I'll close this thread now, but this solution will be a good reference for the future :slightly_smiling_face:

[2021-12-09 18:42] #1725 closed

[2021-12-09 18:53] tstadel commented on #1865
Hi @StoyanVenDimitrov,

thanks for reaching out!
As @shainaraza already mentioned, please provide some basic information which environment you're using.
Anyways, it looks like there is a problem with your elasticsearch container. It would be great if you could check the elasticsearch container logs for some error and post them here.

[2021-12-09 19:47] fabiolab commented on #1866
Thanks @tstadel for your answer.
I run haystack from the docker-compose-gpu file.
At first, I thought like you that the api was not already up, but more tests show that it was ok when I got the error message from the ui. Furtheremore, patching the utils.py file and building the ui image again made it work ...
But if you can't reproduce, I guess there is a mistake from my own side.

[2021-12-09 21:46] amotl commented on #573
Dear @tholor,

we just arrived here via [1] and would like to salute you and the other authors of this framework for their efforts.

In the context of what @flozi00 was asking for above, like »_Raw query: Please tell me what's the weather in Berlin_«, we would like to share our little experimental project [2] with you. Andrew Wigmore (@visualcrossing) might be interested in this topic as well [3].

[2021-12-09 21:49] StoyanVenDimitrov commented on #1865
I was able to overcome the problem by increasing the Docker Memory to 12GB. It's still unable to give me the answers, apparently due to resources issues. Is it even possible to run the demo reasonably on CPU?  What resources do you allocate when running it on a laptop?

P.S. what I do is simply
git clone https://github.com/deepset-ai/haystack.git
cd haystack
docker-compose pull
docker-compose up

[2021-12-09 21:51] shainaraza commented on #1865
I only use Google Colab pro on a dataset of 4GB. I am not much aware of CPU or other docker memory issues

[2021-12-10 09:11] StoyanVenDimitrov commented on #1865
I guess Colab has a whole lot of performance more than a MacBook. I close this issue and open another one about resources.

[2021-12-10 09:11] #1865 closed

[2021-12-10 09:46] ZanSara commented on #1866
Hello @fabiolab, I also could not reproduce it locally, but your analysis makes sense. I see no reason to decode that boolean to JSON: we should rather check the status code. Better yet, the condition could be `<400`, rather than `==200`, so that we make full use of HTTP status code semantics.

If you feel like contributing, either me or @tstadel will be happy to review your PR :slightly_smiling_f

[2021-12-10 10:03] fabiolab commented on #1866
Thanks @ZanSara and yes of course ! Glad to be helpfull, I do the PR !

[2021-12-10 10:06] tstadel commented on #1866
@fabiolab, I just changed the title to be a little more descriptive. Hope, you don't mind :-)

[2021-12-10 10:45] StoyanVenDimitrov opened #1870 "haystack api does not provide answers"
**Describe the bug**
I get no answers when running the REST API demo locally with Docker. Asking question in the UI results in:

haystack-api_1   | INFO - haystack -  {"request": "query=\"What's the capital of France?\" params={'filters': {}, 'Retriever': {'top_k': 3}, 'Reader': {'top_k': 3}, 'Query': {'debug': False}} debug=False", "response": {"answers": [], "documents": [], "root_node": "Query"

[2021-12-10 10:49] fabiolab commented on #1866
You're right, it's much clearer like that

[2021-12-10 12:03] ZanSara commented on #1870
I usually get this behavior when the document store is empty. Did you check that the document store contains something?

[2021-12-10 17:05] #1866 closed

[2021-12-11 11:08] #1658 closed

[2021-12-11 15:07] SjSnowball opened #1872 "Support Highlighting feature in Elasticsearch"
When we enable the highlighting feature via a custom query in Elastic Search Retriever, Elastic Search returns the highlighted text in the "_highlight_" field. But in the results, only items under the __source_ field are added to the "_meta_data_" fields.
![image](https://user-images.githubusercontent.com/49642223/145681333-8a928007-033c-415b-befb-17b977e1b898.png)

**Suggestion**:
Need to add _hi

[2021-12-11 16:44] StoyanVenDimitrov commented on #1870
Apparently I had some resources issues with docker. When using the empty elasticsearch image elasticsearch:7.9.2 and adding some two small files, everything worked out.

[2021-12-11 16:44] #1870 closed

[2021-12-13 10:43] MichelBartels opened #1873 "Implementing distillation loss functions from TinyBERT"
**Is your feature request related to a problem? Please describe.**
A basic version of model distillation was implemented with #1758. However, there is still room for improvement. The TinyBERT paper (https://arxiv.org/pdf/1909.10351.pdf) details an approach for finetuning an already pretrained small language model.

**Describe the solution you'd like**
The distillation loss functions in the TinyBER

[2021-12-13 10:46] MichelBartels opened #1874 "Implementing data augmentation from TinyBERT"
**Is your feature request related to a problem? Please describe.**
A basic version of model distillation was implemented with #1758. However, there is still room for improvement. The TinyBERT paper (https://arxiv.org/pdf/1909.10351.pdf) details an approach for finetuning an already pretrained small language model.

**Describe the solution you'd like**
Adding the functionality to generate more data

[2021-12-13 10:51] sasaadi commented on #1779
Hi @bogdankostic, I am wondering if you found any ways to add the license text file to the trained models...?

Thanks.

[2021-12-13 10:59] akkefa commented on #1749
@ZanSara It is still an issue, I will contribute to it.

[2021-12-13 11:18] tstadel commented on #1872
Hey @SjSnowball,

thanks for submitting this issue. Highlighting would be a great feature to have.
If you like to work on this, feel free to create a PR. If not, no worries, then we'll put it into our backlog.
Just let me know :-)

[2021-12-13 13:27] ZanSara commented on #1749
Hello @akkefa, thank you! I haven't yet had the time to look into this issue in more depth, so your help is welcome :slightly_smiling_face:

[2021-12-13 13:31] nishanthcgit commented on #1842
Great! Haven't found the time to properly work on this yet, will put together a draft pull request in a few days.

[2021-12-13 15:40] SjSnowball commented on #1872
@tstadel Thanks and  I will push the changes.

[2021-12-13 17:16] chaalic commented on #1796
Hello @ZanSara

I actually also wanted to know if there was any way to change the weights of the retrievals, and also if there is a way to optimize these weights.

Thank you for your precious help!

[2021-12-13 19:18] albertovilla opened #1880 "convert_ipynb UnicodeEncodeError"
**Describe the bug**
When executing `python convert_ipynb.py` to generate the Markdown documentation the converter halts with an error.

**Error message**
[code]

**Expected behavior**
The Markdown documentation should be generated without errors.

**Additional context**
Executing on Windows 10 with a newly created conda Python 3.9 environment; installation of the packages with the recommended com

[2021-12-13 19:20] albertovilla commented on #1880
The issue can be easily solved, in fact, I have already a solution for it so I could make a PR if you need to.  The solution is just as simple as change the code line 29 to include the `encoding` as follows:

[code]

[2021-12-13 20:02] albertovilla opened #1882 "Wrong argument for `print_answers` in tutorials 6 and 11 (notebooks)"
**Describe the bug**
The notebooks for the tutorials 6 and 11 call the function `print_answers` with the argument `details="minimal"` which is wrong. It should be  `details="minimum"`.

**Error message**
[code]

**Expected behavior**
The `print_answers` function should execute without errors and minimum details should be shown.

**Additional context**
N/A

**To Reproduce**
1. Open the tutorial in

[2021-12-13 20:03] albertovilla commented on #1882
This issue is really straightforward to solve. I could create a PR for it.

[2021-12-14 08:58] ZanSara commented on #1880
Hello @albertovilla, thank you! Let's make sure it works on the CI too: we use that script almost exclusively there. By the way, if I may ask, how come you found yourself building our documentation locally?

[2021-12-14 09:00] ZanSara commented on #1882
Than you very much! Yes that's most likely a typo :+1: Feel free to ask me for a review as soon as you submit your PR, so I can merge it right away.

[2021-12-14 09:21] StoyanVenDimitrov opened #1885 "When using REST API: ImportError: cannot import name 'custom_component' from 'rest_api.pipeline' (unknown location)"
**Describe the bug**
I use the default docker-compose.yaml with removed build sections and with enabled volume for haystack-api for custom pipelines:

volumes:
      - ./rest_api/pipeline:/home/user/rest_api/pipeline

The custom pipeline is a copy of the default pipeline, but with:

model_name_or_path: deepset/gelectra-base-germanquad

**Error message**
haystack-api_1   |   File "/home/user/rest_a

[2021-12-14 09:23] albertovilla commented on #1880
Hi @ZanSara initially I planned to correct the issue with the documentation but before doing the commit I tried to rebuild the documentation, that's when I saw that bug.

[2021-12-14 09:24] albertovilla commented on #1882
Sure, I'll make the changes and send a PR

[2021-12-14 09:34] #1850 closed

[2021-12-14 09:42] albertovilla commented on #1882
Hi @ZanSara, I have issued a PR for you to review it.

[2021-12-14 09:43] ZanSara commented on #1885
Hello @StoyanVenDimitrov, this is really interesting. I'm gonna look more into it.

Just a trivial question: if you use an unmodified pipeline definition, do you get the same error? I'm trying to understand if the bug is caused somehow by the volume definition, or by the different model (even if I can't readily see why either one would cause issues).

[2021-12-14 09:50] #1880 closed

[2021-12-14 09:58] albertovilla opened #1887 "Wrong implementation of `print_answers`"
**Describe the bug**
Current implementation of the function `print_answers` in `haystack/utils/export_utils.py` has two issues:
1. (bug) The argument `max_text_len` is not used properly
2. (improvement) The warning error is fixed and cannot cope with additional detail levels.

The bug can be seen below, where the `50` should be changed to `max_text_len`:
[code]

The improvement would be necessary

[2021-12-14 10:44] ZanSara commented on #1887
Hello @albertovilla! Wow you're finding plenty of bugs lately, that's great! Again, your suggestion makes total sense, so please feel free to submit a PR and I'll review it :slightly_smiling_face:

[2021-12-14 11:02] ZanSara commented on #1796
According to the documentation, it's possible: have a look here https://haystack.deepset.ai/reference/other

You can see that `JoinDocuments` takes a `weight` parameter that you can use in combination with `join_mode=merge` to assign a weight to the outputs to merge. I hope it helps :slightly_smiling_face:

[2021-12-14 12:45] ZanSara commented on #1885
So, I am unable to replicate your issue. We do run a different OS though, so it might be an older Docker version or something similar. I'm running with this setup:
[code]
With the following `docker-compose.yml:
[code]
And this `pipelines.yaml`:
[code]
Let me know if you can find where's the difference between my setup and yours, and I'll try again to replicate.

[2021-12-14 13:14] albertovilla commented on #1887
Sure, I can do that.

[2021-12-14 16:18] #1885 closed

[2021-12-14 17:35] MichelBartels commented on #1814
This has been fixed in deepset-ai/haystack-website#213. You can now find a guide about model distillation on: https://haystack.deepset.ai/guides/model-distillation

[2021-12-14 17:35] #1814 closed

[2021-12-14 17:37] MichelBartels commented on #1812
The models have been trained and uploaded as described on: https://haystack.deepset.ai/guides/model-distillation

[2021-12-14 17:37] #1812 closed

[2021-12-15 00:02] timpal0l opened #1892 "Low "score" for semantic search with exact string"
**Question**
I followed the [FAQ tutorial](https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial4_FAQ_style_QA.ipynb) to perform semantic search on a dataset with questions and predefined answers.

The whole pipeline works, it embeds the documents with `sentence-transformers/all-MiniLM-L6-v2`, updates the document store that in my case is hosted at elastic cloud. And also performs

[2021-12-15 04:06] cjb06776 opened #1893 "WeaviateDocumentStore.get_all_documents does not return all documents"
**Describe the bug**

Doing some experimenting with Weaviate+Haystack and running into what looks like a problem with the way `WeaviateDocumentStore.get_all_documents` is implemented. Does not look like it is actually retrieving all documents, but rather only the first 100.  This results in subsequent calls to `document_store.update_embeddings(retriever, ...)` that does not generate embeddings for

[2021-12-15 07:02] SjSnowball commented on #1872
@tstadel I can see there are two approaches.
1. Highlighting can be enabled by  Custom Query by the user via Elasticsearch. The change needed for this is,  we have to add the highlighted field along with the _source field while processing the results. <br>

2. Enabling the _highlight_ key in Elastic Search retriever initialization itself and extending the default query like below. <br>
And add the

[2021-12-15 09:26] ZanSara commented on #1893
Hello @cjb06776, thank you for this bug report. I'm going to try replicate this and be back with some feedback asap.

[2021-12-15 10:19] ZanSara commented on #1893
Yes, I confirm I can replicate this issue. Unfortunately I don't have a quick fix for it, but I'll let you know when a patch is out. In the meantime I can only recommend you to temporarily choose another document store, if it's feasible.

[2021-12-15 10:26] dominiqueblok commented on #1282
Hi Branden, I have a similar issue: I'm unable to run the Haystack demo on my M1 Macbook Pro (11.6).

Error: Exception in thread "main" java.io.IOException: Cannot run program "/usr/share/elasticsearch/jdk/bin/java": error=0, Failed to exec spawn helper: pid: 285, exit value: 1

Steps to reproduce:

    cd haystack
    docker-compose pull
    docker-compose up

I'm new to Haystack and also fairly

[2021-12-15 11:58] tstadel commented on #1872
@SjSnowball I would suggest to first support the `custom_query` way only, which is just about propagading the highlight results from the elasticsearch response to our meta field. This will be needed for the "usual" query anyway. So you can start with this. Btw, I would prefer to not extend the `_source` object here, but add the highlighting results explicitly to `meta_data`.

For the usual query (

[2021-12-15 12:53] julian-risch commented on #1282
Hi @dominiqueblok unfortunately the Haystack demo is not yet ready to run on Apple M1. The error message you reported is because of the elasticsearch image with pre-indexed documents that the demo is using. It is not available for arm64 because it's using elasticsearch version 7.9.2. You can overcome this problem by replacing the image in the docker compose file with a more recent version (without

[2021-12-15 13:01] julian-risch commented on #1282
`inotify` is mentioned in the docker documentation as not working with our prebuilt Intel-based ui image https://docs.docker.com/desktop/mac/apple-silicon/

[2021-12-15 13:47] ZanSara commented on #1893
As I expected, this is a "feature" of Weaviate: https://weaviate-python-client.readthedocs.io/en/latest/weaviate.data.html?highlight=100#weaviate.data.DataObject.get. I'll have to work it around.

[2021-12-15 14:23] lalitpagaria opened #1894 "Support for answering multi-span questions"
Currently Haystack support single space QA. It would be great to add support for multi-span QA. Adding recent research in this field -

http://arxiv.org/abs/1909.13375

[2021-12-15 14:34] tstadel commented on #1892
Hey @timpal0l,
the default similarity function of ElasticsearchDocumentStore is `dot_product`. As the dot product can take any positive or negative value we scale it with [expit](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.expit.html) to a value between 0 and 1. Note, that this does not guarantee a perfect match to receive a value of 1 as the value depends on the magnitudes

[2021-12-15 14:44] timpal0l commented on #1892
I see, but even if we use plain dot_product, the query = "What is a novel coronavirus?" and the content="What is a novel coronavirus?" does have the exact same embeddings, hence their dot_product would be 1.0 aswell. Do you have any clue why the dot product between the same texts get `0.6059359910992558`?

The second question was probably just me mixing up context and content... 😆

[2021-12-15 14:49] tholor commented on #1872
@tstadel I agree, let's start with supporting it in `custom_query`.

We can later extend it to regular queries if we see the value. In that case, I would probably also re-think the syntax of the returned highlights to maybe make it not so elasticsearch specific but rather go into the direction of more general `offsets` or similar that can be returned by any retriever (e.g. thinking about a dense r

[2021-12-15 15:29] chaalic commented on #1796
Thank so much you for your answer! :slightly_smiling_face:
You can close the issue if you want.

[2021-12-15 15:34] ZanSara commented on #1893
So, quick summary: the issue is solvable, but it will require a bump of both Weaviate and `weaviate-client` to 1.8.0 and 3.3.0, respectively. Unfortunately this means that this is a breaking change, so I'm not sure I will be able to merge it right away.

[2021-12-15 15:38] tstadel commented on #1892
To answer your first question, the raw dot product here produces a value of sum 40ish (I previously saw that during debugging). As mentioned before, this value coming from the dot product can be anything from -verybignumber to +verybignumber depending on the magnitudes of the vectors (they are not normalized before calculating the dot product). Afterwards we scale this value to something between 0

[2021-12-15 15:44] timpal0l commented on #1892
I see, but why use this option as default? I mean the number 0.6 isnt that intuitive for a perfect match. I think its a "better practice" to use cosine similarity normalized to the [0, 1] range for interpretation. If I query to empty strings I get 0.5 isch, as a number, meaning that there is a very small range where I would need to find a good threshhold for a application.

[2021-12-15 15:58] tstadel commented on #1892
I totally get your point. In your case (finding a good threshold) interpretability of the score is the leading factor. However, (according to our docstrings) dot product simply performs better in some settings like Dense Passage Retrieval, where interpretability is not of special concern. Most of the time we just want to have some order. So we had to make a decision here on the API level.

On the

[2021-12-15 17:22] tstadel commented on #841
@Ierezell can we close that issue?

[2021-12-15 17:51] ZanSara opened #1897 "Rethink Document Stores"
The current implementation of Haystack's document stores seems to be unsuitable to take into account the great differences that exist between every document store's implementations.

This can be observed in several places:
- Introducing custom parameters for one single document store is borderline impossible to do cleanly (#1861)
- The current implementation of `BaseDocumentStore` pushes on the ac

[2021-12-15 19:05] pallie97 opened #1898 "1.0.0 Elasticsearch Retriever Returns Empty List"
**Describe the bug**
In 1.0.0, when I go to retrieve documents using the ElasticsearchRetriever.retrieve() method, an empty list is returned: []. Similarly, when using the ready-made ExtractiveQA pipeline, I get the following:
`{'answers': [],
 'documents': [],
 'root_node': 'Query',
 'params':  {'Retriever': {'top_k': 10}, 'Reader': {'top_k': 1}},
 'query': 'My question here',
 'node_id': 'Reader

[2021-12-16 09:10] #841 closed

[2021-12-16 09:32] julian-risch commented on #1894
Interesting idea. For Table QA, we actually needed multi-span QA too, so @bogdankostic has done some work there.

Section 3 in the paper reminds me of Named Entity Recognition because it is also a BIO Sequence Tagging task. We could make use of our old NER implementation in FARM: https://github.com/deepset-ai/FARM/blob/master/examples/ner.py
We didn't migrate it into Haystack because we did not se

[2021-12-16 09:32] tstadel commented on #1898
Hey @pallie97,

thanks for reporting!
For further analysis, could you please execute `pipeline.run()` from your notebook instance with the `debug=True` param and post the result from the `_debug` entry of the dict that is being returned?

Another thing that would be helpful is to execute `get_all_documents()` on your OpenSearchDocumentStore and see if there's something coming back or an exception

[2021-12-16 09:36] lalitpagaria commented on #1894
@julian-risch @tstadel I don't have any use case. I thought it could be useful to community hence created placeholder ticket. So not an priority thing. 🙂
From design wise I think reader also need changes as it provides single span.

[2021-12-16 10:05] julian-risch commented on #1894
Agreed, could be definitely useful and would be a nice-to-have feature. Let's put it in our backlog then for now.

[2021-12-16 10:13] tstadel commented on #1898
[A related issue has been posted on haystack slack channel](https://haystack-community.slack.com/archives/C01J3TZM9HT/p1639474469382000) with slightly different environment:

Python version:- 3.7
OS:- Ubuntu
Haystack version (commit or version number): 1.0.0
DocumentStore: ElasticsearchDocumentStore
Reader: FARMReader -- deepset/roberta-base-squad2
Retriever: ElasticsearchRetriever

[2021-12-16 13:49] pallie97 commented on #1898
Thank you so much for the help! Here's the result of the pipeline with `debug=True`:
[code]

Upon executing `get_all_documents()`, I get the following ValueError:
[code]

[2021-12-16 14:22] tstadel commented on #1898
Ah ok,

according to https://haystack.deepset.ai/overview/migration we renamed the "text" index field to "content. So if you're reusing a pre-1.0 index you have to set `search_fields` and `content_field` of your DocumentStore to `"text"`. That should resolve it.

[2021-12-16 14:39] pallie97 commented on #1898
Thank you so much, that was the fix.

[2021-12-16 14:39] #1898 closed

[2021-12-16 15:03] #1796 closed

[2021-12-16 15:03] #1887 closed

[2021-12-16 15:03] #1882 closed

[2021-12-16 15:48] tholor commented on #1859
Same refactoring is needed for the other nodes in our indexing pipeline (e.g. `Preprocessor`).

When working on this, we should take into account that we create the document's `id` at the moment when we instantiate the `Document`. If this now happens within different nodes, we probably need to add a param there to control the way how these ids are created (default: hash of `content`). For example,

[2021-12-16 17:18] fadi212 commented on #1898
@tstadel In haystack 1.0.0,
I created a new index with content as a field for text and it was returning empty results.
Then I added `search_fields='text'` , `content_field='text'` in Document store and it worked.
Why is that the case ?

[2021-12-16 17:33] tstadel commented on #1898
@fadi212 how did you create a new index?
My best guess here would be, that there was already an existing pre-1.0 index. Existing indexes will not be overriden by instantiating a new DocumentStore.

[2021-12-16 18:23] fadi212 commented on #1898
@tstadel
No I created a new index and I was getting the error.
Then I made the above changes and it started working.

[2021-12-16 18:42] tstadel commented on #1898
@fadi212 Hm, then I would recommend to open a new issue.

[2021-12-17 08:56] Taekyoon opened #1903 "FAISSDocumentStore: number of documents present in the SQL database does not match the number of embeddings in FAISS"
**Describe the bug**

After I created FAISSDocumentStore, it could not recreate FAISSDocumentStore, because it reports "documents are not presented in SQL database" error.

**Error message**
[code]

**Expected behavior**
Loaded saved documents in SQL DB and created FaissDocumentStore object.

**Additional context**
None

**To Reproduce**
[code]

**FAQ Check**
- [x] Have you had a look at [our new

[2021-12-17 10:35] akmalmasud96 opened #1904 "Elasticsearch Retriever Returns Empty List"
**Describe the bug**
I am working with the latest version, v1.0.0 and I have no pre-built index, created a new index with "content" field. and while retrieving, I am getting the issue that the ElasticsearchRetriever.retrieve() is giving me an empty list.

{
  "message": "success",
  "data": [],
  "timestamp": "2021-12-17T08:39:16.301661Z",
  "level": 7,
  "handler": "handlers/search.py:search_disp

[2021-12-17 10:42] tstadel commented on #1903
Hey @Taekyoon,
FAISSDocumentStore is a little special here. Under the hood it contains a sql database and a FAISS in memory database. The sql database needs to be backed by file storage all the time, so it is stored automatically. The FAISS database on the otherhand lives entirely in memory and there is no automatic saving to disk. That's why FAISSDocumentStore has the `save()` method. This will w

[2021-12-17 11:04] tstadel commented on #1904
@akmalmasud96
thanks for reaching out!
Can you please share some code how to reproduce it (especially how you create and fill the index)?

[2021-12-17 14:00] tstadel commented on #1904
As this seems to be a pattern throughout users at sometime having tried haystack previous to 1.0
and now want to use haystack 1.0:

If you are using ElasticsearchRetriever, the index that once was created with haystack previous to 1.0 might still be there in your elasticsearch instance (if you haven't explicitly deleted it through the elasticsearch API or deleted the whole elasticsearch instance).

[2021-12-17 15:31] akmalmasud96 commented on #1904
I have followed option 1.
Afterward, I again created the index.
Now, I don't get anything by ElasticsearchRetriever.retrieve(), and the obtained result is "empty_list", with both of the methods, defined earlier.

I suppose that the problem is due to the reason that the search index is not properly created in es.

I am creating the index as follows.
Please point out where I am making the mistake.

[2021-12-17 15:45] dmigo commented on #1310
I had simillar problems with haystack on M1 with python version 3.9.9.
1. `ray==1.5.0` wasn't available
2. `grpcio` package failed to install
3.  `sentencepiece` failed to install

Fixed with the following:
1. Unpinned version of `ray` [PR](https://github.com/deepset-ai/haystack/pull/1906) and installed from the branch
2. Used `GRPC_PYTHON_BUILD_SYSTEM_ZLIB=true` variable to make `grpcio` happy.
3

[2021-12-17 16:13] tstadel commented on #1904
Yep, looks like that. Please make sure you also set the index name properly in the curl statement like `curl -X DELETE "ELASTICSEARCH_DOMAIN:9200/ES_INDEX_NAME"`. Sorry, I wasn't really precise about that.
If that also doesn't work please share the output of `curl -X GET ELASTICSEARCH_DOMAIN:9200/ES_INDEX_NAME` after creation. I suppose the type of the content property is wrong.

[2021-12-17 16:31] akmalmasud96 commented on #1904
Yes, I ran the command with my ES_Search name.

The response of the GET command is as follows after index creation.

[code]

[2021-12-17 16:54] tstadel commented on #1904
Ok, the mapping looks good.
What you can try, is to call `get_all_documents()` on `DOCUMENT_STORE` and see if there's an error popping up or if the documents come back as intended. If not I'm afraid we would have to look into the traffic between haystack and elasticsearch by using mitmproxy or equivalent.

[2021-12-17 17:02] akmalmasud96 commented on #1904
I am able to get my all the documents using `get_all_documents()`, one of the sample looks like this,

[code]

[2021-12-17 17:10] MichelBartels opened #1908 "Implementing Generative Pseudo Labeling (GPL)"
UKPLab has recently released a paper and the codebase on Generative Pseudo Labeling. It seems like this could be a useful feature for haystack.

It allows to fine-tune a dense retrieval model on unlabeled data by 1) generating synthetic questions using T5, 2) mining hard negatives using an existing dense retrieval pipeline and 3) creating soft labels using a cross encoder. Step 3) is important bec

[2021-12-17 17:34] tstadel commented on #1904
That looks good too.
Sorry, but then I'm quite out of ideas provided you search for something that really matches one of the contents in your index. As there is no exception thrown during the query, I would suggest to place some proxy like mitmproxy between haystack and elasticsearch and inspect the traffic. Maybe something suspicious appears there.

[2021-12-17 17:40] tstadel commented on #1904
Maybe another idea: Which language are your documents?
Could be that the elastic search standard analyzer is not working with it.

[2021-12-17 17:51] akmalmasud96 commented on #1904
The data is in the English language and is working fine with the version of  `farm-haystack==0.10.0` completely fine.

[2021-12-18 02:07] Taekyoon commented on #1903
@tstadel
As long as I followed your guides, it works! :)
But, what if I intend to not saving faiss index on disk? The sql database file still causes the error message above.
Can we consider the situation, when we just create the FAISSDocumentStore and not to save the index file.

[2021-12-19 08:16] lalitpagaria commented on #719
Hugging face already working on PR. So let's wait for it. Adding this comment to remove stale marker.

[2021-12-19 08:20] lalitpagaria commented on #1897
Nice idea.
You may refer #1004 and #1148 to check embedding storage related discussion.

[2021-12-19 22:36] Omarnabk opened #1911 "None score for some files"
**Question**
I'm using Haystack for searching documents.  I inserted all the documents into a document store (ES) and used embedding with cosine similarity.
When I run the prediction pipeline, it returns an error saying that one document has "None" score. when I retrieve this document from the documents store, it shows a score, but I don't know why it gives None when the pipeline executes.

I trie

[2021-12-20 09:36] tstadel commented on #1911
Hey @Omarnabk,

It looks like you're using the `JoinDocuments` node.  Could you please provide a little more information, how your pipeline looks like and especially which node you're getting the None score from?

[2021-12-20 09:38] Omarnabk commented on #1911
Thanks for replying. Here is my piepline

[code]

[2021-12-20 09:45] tstadel commented on #1904
Hm, I see. I'd like to exclude that there's something wrong with the elastic instance you're using. Could you try to use a fresh elastic docker instance instead?
Just run `launch_es()` with `from haystack.utils import launch_es` and default ElasticsearchDocumentStore params.

[2021-12-20 10:37] tstadel commented on #1911
Ok, just to get an idea what you've tried so far: you called `bm25_retriever.retrieve()` and `emb_retriever.retrieve()` with the same query and found no `scoe=None` in the results?

[2021-12-20 10:47] Omarnabk commented on #1911
Yes, correct, but not for all the documents the score is None. In my datastore I docs from several languages. All English docs are ok, the problem appeared when I added other languages, Ar, Ru, Es.  I don't know yet if this is related.

[2021-12-20 10:53] tstadel commented on #1911
OK, so you can see the actual `None` values outside of the pipeline. The language pattern is already a good finding. Do the None values appear if your calling `bm25_retriever.retrieve()` or `emb_retriever.retrieve()` or both?

[2021-12-20 11:55] akmalmasud96 commented on #1904
yes, I  solved the issue. I redeveloped my environment by resetting all dependencies.
Thanks for your time and support.

I am closing the issue, also

[2021-12-20 11:55] #1904 closed

[2021-12-20 12:26] Omarnabk commented on #1911
Regardless of the type of retriever, I get the same error .

[code]

[2021-12-20 12:42] Omarnabk commented on #1911
The exception is in the run function in the pipeline.py code, line 1031:

[code]

If I replace the None score by zero, it works:

[code]

[2021-12-20 13:15] tstadel commented on #1911
Hmm, the pipeline gets the results of both retrievers as input if I got it correctly. So the None values might come only from one retriever. Why I point that out is that there might be a good reason to return None for the score, signaling that something is not working as expected. I think we should find that reason first rather than fixing the `JoinDocument` code.

[2021-12-20 14:27] Omarnabk commented on #1911
I think the issue is related to **JoinDocument**, and not related to the metadata of the documents.

I tried to print the IDs of the documents that have None score and then I limited the search to these documents only, using the filters option. When I use any individual retriever, it works ok and these documents get assigned scores but when using JoinDocuments they get a score of None.

[code]

[2021-12-20 15:43] MichelBartels commented on #1738
This has been fixed with #1758 the way described in this issue. However, as explained it would probably still make sense to overthink random_split_ConcatDataset.

[2021-12-20 18:36] Timoeller commented on #1070
quick update here, we will also start with simplifying the dependency management from January on, as you can see in our public roadmap: https://github.com/deepset-ai/haystack#workspaces/open-source-5f4fd244079454000f05f047/roadmap (you will need the zenhub plugin installed to see our roadmap...)

[2021-12-20 19:19] tstadel commented on #1911
That worries me, too. I just can't see any reason the scores get lost inside of JoinDocuments. Especially in the path that has been taken, when the exception occurs. All that's being done here is making a deepcopy of the document. Simply setting the score to 0 if it's None would only workaround the actual problem: scores getting lost.

So please run your problematic pipeline with the `debug=True`

[2021-12-21 11:08] albertovilla opened #1915 "Pinecone document store"
**Is your feature request related to a problem? Please describe.**
I think it would be great to have a document store which makes use of **[Pinecone](pinecone.io)** in a similar way to the Milvus document store already implemented.

**Describe the solution you'd like**
A seamless Pinecone document store which integrates with deepset, same functionalities than `MilvusDocumentStore`

**Describe alte

[2021-12-21 15:58] bogdankostic commented on #1915
Hi @albertovilla, thanks for raising this feature request! As there exist dozens of different databases and we cannot support all of them, we would need to assess the advantages of a new database compared to the existing ones. What would be, in your opinion, the advantages of Pinecone compared to Milvus?

[2021-12-21 16:15] albertovilla commented on #1915
Hi @bogdankostic, Pinecone is a fully managed service which simplifies infrastructure setup and maintenance even as you scale up. Pinecone also supports metadata filtering for better control over results, and hybrid storage.

I understand this may not be a priority for you. I was using Pinecone already for a use case that's why I have identified the need 😄.

Depending on how the use case progresse

[2021-12-21 16:19] apohllo opened #1917 "Print output_loading_info when loading models with Transformers AutoModel."
**Is your feature request related to a problem? Please describe.**
When loading a model using Transformers AutoModel Haystack does not report any mismatches between the names of the keys expected in the model and the keys in the loaded file. As a result, if the loaded model has a prefix or keys incompatible with the instantiated model, there isn't any output suggesting that there might be an issue

[2021-12-21 16:43] bogdankostic commented on #1915
We will assess this internally and post our decision in this issue. If we decide to support Pinecone in Haystack, this will probably take some time, just so you know.

BTW, we are more than happy to help you getting familiar with Haystack and answering your questions in [our community slack](https://haystack.deepset.ai/community/join). :)

[2021-12-21 17:10] gkogan commented on #1915
@bogdankostic Hi, I'm from the Pinecone team. We'll be happy to help: greg@pinecone.io

[2021-12-21 17:57] tstadel commented on #1917
Hey @apohllo,

sounds very useful! Would you like to work on this in a PR?

[2021-12-22 11:33] ArzelaAscoIi opened #1920 "Property id_hash_keys of documents never set"
**Describe the bug**
The attributes of objects of type `Document` always have `id_hash_keys = None`.

**Context**
Documents have a property called `id_hash_keys` which is used to generate the id. Before merging this [pr](https://github.com/deepset-ai/haystack/pull/1910) Haystack used strings to generate the id. Now we pass attributes on which the hash should be generated, i.e. `content`, `meta`, .

[2021-12-22 14:39] julian-risch commented on #1657
Closed by https://github.com/deepset-ai/haystack/pull/1906
In particular, ray 1.7.1 is allowed now thanks to the changed line `ray>=1.5.0,<=1.8.0` in `requirements.txt`

[2021-12-22 14:39] #1657 closed

[2021-12-23 07:45] ajay-sreeram opened #1921 "Update Ray to 1.9.1"
because the older versions are using an older version of Log4j

https://github.com/ray-project/ray/releases/tag/ray-1.9.1

[2021-12-23 14:27] mathew55 commented on #1740
@tholor @bogdankostic - Created a PR for this issue here, Will you be able to check if these changes look good. This is also my first PR in haystack, bear with me as I understand the process. Thanks.

Also, it looks like I need some sort of approval to start the workflows as its my first time.

[2021-12-23 18:47] roebbert92 opened #1924 "FaissDocumentStore + EmbeddingRetriever: Numba TypingError when update_embeddings()"
**Describe the bug**
I get the following error, when I try to create a FAISSDocumentStore with embeddings for cosine similarity comparison.

**Error message**
[code]

**Expected behavior**
Updating embeddings with cosine similarity on FAISSDocumentStore works.

**Additional context**
[code]

**To Reproduce**
Steps to reproduce the behavior

**System:**
 - OS: macOS Monterey
 - GPU/CPU: 2,3 GHz Qua

[2021-12-23 19:08] roebbert92 commented on #1924
I tried other similarity measures ('l2', 'dot_product') and they worked just fine.
Please take a look into it.

Numba version:
[code]

[2021-12-24 13:26] lalitpagaria commented on #1915
@albertovilla It is very easy to integrate pinecone with Haystack, you may try on your own fork and see if this works then possibly raise PR if Deepset team agrees on it.

As I see Pinecone provides APIs to create, list and delete indexes as well as add, remove, and query records. Hence it is easier to integrate as done in Milvus or Weaviate case.

Pinecode API ref: https://www.pinecone.io/docs/ap

[2021-12-24 14:21] dominiqueblok commented on #1282
Thank you for your reply! I'll use the pre-built image for now and see if I can get it to work with your suggestion later. :)

[2021-12-24 14:23] lalitpagaria commented on #1142
Adding repo where BPR is implemented
https://github.com/studio-ousia/bpr

Also based on table mentioned there for Flat index it does reduce query time (apart from storage) as well -
![image](https://user-images.githubusercontent.com/19303690/147358804-586e587a-f136-4e57-b59f-3ef22a549ed4.png)

[2021-12-24 19:11] AlonEirew opened #1925 "Running training triggers many UserWarning: Creating a tensor from a list of numpy.ndarrays is extremely slow"
**Describe the bug**
Running training using:
DensePassageRetriever.train(), triggers many UserWarning.

**Error message**
haystack/modeling/data_handler/dataset.py:65: UserWarning: Creating a tensor from a list of numpy.ndarrays is extremely slow. Please consider converting the list to a single numpy.ndarray with numpy.array() before converting to a tensor. (Triggered internally at  ../torch/csrc/

[2021-12-24 19:41] AlonEirew opened #1927 "RuntimeError when loading data using data_silo"
**Describe the bug**
Getting RuntimeError when loading data using data_silo, this error seems related to the multiprocessing sharing strategy, which opens many file descriptors. trying to increase the ulimit on my machine to 2048 does not help (cannot increase further).

A solution to the issue might be to further increase file descriptors limit (following this https://github.com/fastai/fastai/iss

[2021-12-25 22:34] RobinVds opened #1929 "UnboundLocalError: local variable 'content_type' referenced before assignment"
**Describe the bug**
When trying to retrieve documents of an instance of Weaviate that already contains data I get an error.

**Error message**
[code]

**Expected behavior**
I am able to connect to Weaviate (as a document store)

**Additional context**
Add any other context about the problem here, like document types / preprocessing steps / settings of reader etc.

**To Reproduce**
[code]

**FAQ C

[2021-12-26 23:09] mathew55 commented on #1312
This looks interesting, I will try to spent some time on this in the coming days...!

[2021-12-27 16:05] apohllo commented on #1917
I will look into that and inform you about my decision.

[2021-12-27 17:00] bogdankostic commented on #1929
Hi @RobinVds! Thanks for raising this issue, I will look into it in the following days. Just two questions for me to be able to reproduce this: Which version of Haystack are your currently using and which version did you use when initially adding your documents to Weaviate?

[2021-12-27 17:06] bogdankostic commented on #1924
Hi @roebbert92, thanks for raising this issue! Just letting you know that I will have a look at it in the following  days. :)

[2021-12-29 08:34] akmalmasud96 commented on #1835
Hi @ZanSara,
I want to ask that whether work is in active progress on this issue?

[2021-12-29 09:26] AlonEirew opened #1932 "TypeError: Object of type IndexFlat is not JSON serializable"
**Describe the bug**
Index fail to be saved after retrieval training and embedding update, getting `TypeError: Object of type IndexFlat is not JSON serializable`. This also corrupt the existing index json configuration file which is more severe in case not backed-up.
Behaviour is same also if loading the trained model and updating the index and saving.

This issue seems to be related to whether FA

[2021-12-29 16:12] bogdankostic commented on #1924
I had a closer look at this issue and found the reason for the bug. The PR #1933 should fix it. :)

[2021-12-29 17:04] bogdankostic commented on #1921
Hi @ajay-sreeram, thanks for raising this issue! Once #1934 is merged, this should be resolved.

[2021-12-30 09:15] #1858 closed

[2021-12-30 10:44] yorickvanzweeden opened #1935 "The `duplicate_documents` argument for Milvus is overwritten by SQLDocumentStore"
The `duplicate_documents` argument is overwritten by SQLDocumentStore. The argument is missing in the `super().__init__(..)` call. Applies to Milvus2 too

MilvusDocumentStore:
https://github.com/deepset-ai/haystack/blob/39573cf0a94b00464cb2b9f063b574fb0c50de2c/haystack/document_stores/milvus.py#L128-L133

SQLDocumentStore
https://github.com/deepset-ai/haystack/blob/39573cf0a94b00464cb2b9f063b574fb

[2021-12-30 12:06] bogdankostic commented on #1935
Hi @yorickvanzweeden, thanks for raising this issue! The same seems to apply for the `FAISSDocumentStore`.

Do you want to raise a PR to solve this issue? Otherwise, we will work on this in the next weeks.

[2021-12-30 12:47] yorickvanzweeden commented on #1935
@bogdankostic I made a PR that fixes the issue in Milvus, Milvus2, and FAISS.

Let me know if you want to remove the assignment (Line 128) in the subclass, as the assignment occurs in the base class too (hence the overwrite)
https://github.com/deepset-ai/haystack/blob/39573cf0a94b00464cb2b9f063b574fb0c50de2c/haystack/document_stores/milvus.py#L128

[2021-12-30 12:53] bogdankostic commented on #1932
Hi @AlonEirew! Thanks for raising this issue. The problem was not about training of the retriever, but rather saving a loaded `FAISSDocumentStore`. This should be fixed once #1937 is merged.

[2021-12-30 14:55] bogdankostic commented on #1935
Thanks for your Pull Request! Yes, I think it would make sense to remove the assignment in the subclass given that this would be redundant.

[2021-12-30 15:42] bogdankostic commented on #1929
I think I have found the reason for this bug and fixed it in #1938. Maybe you can check if this solves your issue?

[2021-12-30 17:49] bogdankostic commented on #1417
Since the way we evaluate Pipelines changed  significantly, I will close this issue. Fell free to re-open it if you need more clarifications.

[2021-12-30 17:49] #1417 closed

[2021-12-31 11:05] yorickvanzweeden commented on #1935
@bogdankostic Updated!

[2021-12-31 22:56] Omarnabk opened #1939 "Filter results by the creation date"
I'm using ES to index and search a website. Each page has a creation date. However, the website has thousands of pages so I want to reduce the search space to focus on the most recent pages.

My question is how to use the filter to select the pages which are created after a specific date?

[code]

I want something like this:

`filters= {'type': ['IT Pages'], 'lang': ['en'], 'creation_date_from': X

[2021-12-31 23:21] Omarnabk commented on #1226
@tholor have you added this filter feature?

[2022-01-03 05:41] eldhoittangeorge opened #1940 "Small grammatical errors in documentation"
There is a small grammatical error on the documentation page [https://haystack.deepset.ai/guides/optimization](). It should have been "we split documents".
<img width="760" alt="Typo" src="https://user-images.githubusercontent.com/7940237/147902163-8b220c77-9c42-4449-afe3-12c38b3ce3e1.png">

[2022-01-03 05:42] eldhoittangeorge commented on #1940
Can I create a pull request with the fix?

[2022-01-03 07:33] #1925 closed

[2022-01-03 10:38] #1754 closed

[2022-01-03 11:54] yorickvanzweeden opened #1943 "How should data be formatted for retriever evaluation without answers?"
Hi,

I want to evaluate different retriever pipelines without answers using [MRR](https://en.wikipedia.org/wiki/Mean_reciprocal_rank). So I have a `query - passage` dataset, but no answers. I am struggling to get the right format for evaluation data. There are no Reader or Generator nodes in my pipeline.

I am evaluating the pipeline as follows:
[code]

This comment seems to suggest that index-bas

[2022-01-03 12:37] julian-risch commented on #1932
Hi @bogdankostic did you have a look at https://github.com/deepset-ai/haystack/issues/1842 while working on this?

[2022-01-03 14:58] tholor opened #1944 "Add `devices` to FARMReader to manually select GPU, CPU etc"
**Is your feature request related to a problem? Please describe.**
Currently, we only have the arg `use_gpu` to configure if the FARMReader should use a GPU. If this is set to true and there's no GPU, we'll fallback to running on a CPU. This is convenient for many dev scenarios, but in production setups there are cases where we need more granular control (e.g. which cuda device to run on, or throw

[2022-01-03 16:02] bogdankostic commented on #1929
This issue should be fixed by #1938, so I'm closing it. Fell free to re-open it if the problem still persists for you. :)

[2022-01-03 16:02] #1929 closed

[2022-01-03 16:14] #1924 closed

[2022-01-03 17:31] bogdankostic commented on #1939
Hi @Omarnabk! As far as I know, we don't support filtering of Documents based on date ranges. Would a working solution for you be to generate all possible dates after your specific date as a python list and pass this to the `filters` parameter like this:

`filters={'type': ['IT Pages'], 'lang': ['en'], 'date': ['2022-01-03', '2022-01-02', ...]}`

[2022-01-03 17:34] bogdankostic commented on #1940
Thanks for finding this and fixing it right away! Closing this issue as it is fixed in #1941.

[2022-01-03 17:34] #1940 closed

[2022-01-03 18:15] Omarnabk commented on #1939
Hi @bogdankostic
I understood your proposal, it's possible. I don't know if having all these filters on the date would affect the response time.
Also, another problem is that I have the data stored with date and time, like 2022-01-02 10:12:23.43. if I'm going to apply your solution, I have to update all the records, but there is no update method in Haystack. I can only re-insert the record but the

[2022-01-04 10:31] mathislucka opened #1945 "UserWarning in Tutorial2 finetuning notebook"
**Describe the bug**
This is not really a bug but there is a UserWarning when training the model because a list is directly converted to a tensor:
`haystack/modeling/data_handler/dataset.py:65: UserWarning: Creating a tensor from a list of numpy.ndarrays is extremely slow. Please consider converting the list to a single numpy.ndarray with numpy.array() before converting to a tensor. (Triggered int

[2022-01-04 11:22] #1932 closed

[2022-01-04 11:41] julian-risch commented on #1945
We had this issue here: https://github.com/deepset-ai/haystack/issues/1925 maybe it's fixed by now thanks to the PR we merged yesterday? https://github.com/deepset-ai/haystack/pull/1926 If not, maybe it still helps?

[2022-01-04 12:03] mathislucka commented on #1945
My locally installed version is at https://github.com/deepset-ai/haystack/commit/a846be99d165221790f70568651ecfcbf0c734b6 so the merge is already included. From the PR it looks like this is in a different place though.

I just realized that my test script isn't entirely accurate though and the warning actually indicates that it's a list of numpy arrays whereas I assumed a list of ints, I'll make s

[2022-01-04 12:29] #1927 closed

[2022-01-04 12:35] mathislucka commented on #1945
Ok, I've updated the script and it should now reflect the data structures used in this place:

[code]

This yields:
[code]
The UserWarning disappears and as using `torch.as_tensor` brings some performance improvements over `torch.tensor` as the memory between the np.array and the tensor is shared (https://pytorch.org/docs/stable/generated/torch.as_tensor.html).

I think it would be save to change

[2022-01-04 13:19] julian-risch commented on #1945
I agree that we should do that change, yes. Getting rid of the warning is nice so that users are not confused. The actual speed improvement doesn't seem big though. Thanks for bringing it up and testing the performance! 👍 If you create a PR I'd be happy to review it.

[2022-01-04 13:47] mathislucka commented on #1945
Alright, thanks. I'll create a PR. For the performance I wouldn't be so sure. I didn't backtrack the code entirely so I'm not very sure, but if there is a lot of training samples this could still save some time because this code would run many times and there's roughly a 7x speed-up when changing it. Might accumulate to something meaningful.

[2022-01-04 14:04] #1935 closed

[2022-01-04 14:21] bogdankostic commented on #1943
Hi @yorickvanzweeden! I guess you are adding your labels to your document store using the `add_eval_data` method? This method relies on SQuAD-formatted data, which is a Question-Answering dataset and therefore requires to have an answer field.

You can also create `Label` objects yourself where you don't need to supply an answer (see [here](https://haystack.deepset.ai/components/primitives#label))

[2022-01-04 14:43] yorickvanzweeden commented on #1943
Thanks, this seems like a good solution to me!

[2022-01-04 14:43] #1943 closed

[2022-01-04 14:52] bogdankostic commented on #1939
Okay, I see where your problem is. We are planning to extend meta data support in this quarter, I could see that we then also support filtering for date ranges.

For now, you could try the following: The `get_all_documents` and `get_all_documents_generator` methods of the `ElasticsearchDocumentStore` have a parameter called `return_embedding`. You could set this parameter to `True`, update  the Do

[2022-01-04 15:03] Omarnabk commented on #1939
Hopefully to see this new feature supported soon.

I will use the way you mentioned. Many thanks.

[2022-01-04 15:03] #1939 closed

[2022-01-04 15:05] julian-risch commented on #1873
closed by https://github.com/deepset-ai/haystack/pull/1879

[2022-01-04 15:05] #1873 closed

[2022-01-04 15:23] julian-risch opened #1947 "Create distilled models based on TinyBERT"
With #1873 and #1874 we implemented loss functions and data augmentation for knowledge distillation based on the TinyBERT paper. This issue here is about training distilled models with that technique for question answering.

**Tasks:**
* Create two distilled models with augmented versions of GermanQuAD and SQuAD
* Compare their performance to our other distilled models and experiment with distilla

[2022-01-04 16:41] tstadel opened #1949 "Experiment tracking"
### What?
We want to track result of experiments in mlflow or w&b

### Why?
Make it easy to compare experiments over time, enable "Experiments" in DC

### To be refined

- Which experiment tracking frameworks do we want to support?
- Are there experiments to be supported besides evaluation (pipeline.eval())?
- Should we introduce something like experiments from a conceptual view or is this all mag

[2022-01-04 16:54] tstadel opened #1950 "Basic python interface to interact with DC"
### What?
Seamless interaction with remote DC components from python code: Implement
- DCDocumentStore
  - will be used locally and in DC jupyter Notebook
  - could also be used within DC (not focus)
  - DC currently only supports OpenSearchDocumentStore, but we should not restrict us here
  - DCDS communicates via HTTP with DC-Backend
  - data will be transfered on-the-fly
  - DC-Backend manages

[2022-01-04 16:56] julian-risch opened #1951 "Investigate core conceptual differences OSS <-> DC"
In order to align concepts of deepset Cloud and Haystack Open Source, we first need to investigate their core conceptual differences.

Differences we already know:
* "File" vs. "Document"
* Document stores and notion of "index"

**Open Questions**
* How to we want to keep track of differences? Create issues for aligning them? Notion?
* This issue is obviously preparation for a next step. How will

[2022-01-04 17:00] tstadel opened #1952 "Simpler deployment"
### What?
Guide / template to deploy on AWS / Kubernetes

### Why?
Road to production from an experimental environment should be simplified.

### How?
- create a simple helm chart for AWS EKS that anybody can deploy via AWS console
- this helm start works as a starting point to make more complex deployments happen (e.g. scaling, different k8s flavour, different ingress)
- find a way to deliver hel

[2022-01-04 17:17] julian-risch opened #1953 "Align and re-use REST APIs"
To ease transition of users from OSS to DC, we would like to align their REST APIs.

**Open Questions**
* This might be a re-occurring topic. I am wondering what a good process is to check that the APIs are aligned to a large extent, etc.

# List of all Haystack REST API endpoints and their counterparts in DC (if available)

## Search
**Execute query**
- Haystack Endpoint: POST /query with single

[2022-01-04 17:34] #1874 closed

[2022-01-04 21:52] yorickvanzweeden opened #1954 "Vector_IDs collide when using two document indexes and updating the embeddings (FAISS)"
**Describe the bug**
I have two document indexes: `document` and `eval_document`. The document store is FAISS.

When I update the embeddings as follows:
[code]
I get the stacktrace below on the second line. If I switch the order, this remains to be the case.

**Should I not be updating the embeddings of the documents in my evaluation set?**

---

**Error message**
[code]

**Expected behavior**
Vec

[2022-01-05 06:20] venuraja79 opened #1955 "Align QA models with human feedback"
**Is your feature request related to a problem? Please describe.**
Haystack already has a feature to collect human feedback for the answers generated. This feedback can be used to improve the transformer based QA models by fine tuning them further.

**Describe the solution you'd like**
The framework proposed in this paper (https://openai.com/blog/learning-to-summarize-with-human-feedback/) helps t

[2022-01-05 08:21] robertaistleitner opened #1956 "Python outdated elasticsearch dependency"
**Question**
Is there a valid reason why newer python elasticsearch dependencies (> 7.10) are not supported according to requirements.txt?

**FAQ Check**
- [x] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/overview/faq)?

[2022-01-05 09:43] bogdankostic opened #1958 "Extend meta data support"
Right now, we only allow strings to be used as meta data for filtering. In order to get better search results, we want to add the following:

- filtering for data types other than string, e.g. dates, ints, floats, bools
- filtering not only for exact match, but also comparisons (<, >, <=, ...), ranges of values (e.g. dates) etc.
- combining multiple filters with logical AND / OR operations

Relate

[2022-01-05 09:51] bogdankostic opened #1959 "Support Haystack on existing Elasticsearch indices"
In order to facilitate users with existing Elasticsearch deployments to start using Haystack, we need to create some migration wizard that copies the data into a Haystack compliant index.

Related issues: #1621

[2022-01-05 09:55] MichelBartels commented on #1954
Hi @yorickvanzweeden, thanks for notifying us about this issue.
It seems like you have already identified its cause and your proposed solution looks good to us. Would you perhaps like to work on this in a a PR?

[2022-01-05 10:02] julian-risch commented on #1956
Hi @robertaistleitner elasticsearch versions >7.10 have a different license than the versions before that. Here is the difference explained: https://www.elastic.co/pricing/faq/licensing I am closing this issue now but feel free to open another one if you have any questions we can help with.

[2022-01-05 10:02] #1956 closed

[2022-01-05 11:39] yorickvanzweeden commented on #1954
@MichelBartels Thank you for accepting the solution. I have opened a PR: https://github.com/deepset-ai/haystack/pull/1961

[2022-01-05 13:04] tholor commented on #625
Closing in favor of epic #1958 where we will plan & track the work

[2022-01-05 13:04] #625 closed

[2022-01-05 13:08] tholor commented on #1618
The original issue seems resolved. The missing support & documentation for DocumentSearch pipelines is definitely good feedback and should be handled together with #1863.

[2022-01-05 13:08] #1618 closed

[2022-01-05 13:10] tholor commented on #1863
In addition, let's make sure that the use case of DocumentRetrieval pipelines as mentioned in #1618 is properly documented.

[2022-01-05 13:41] tholor commented on #1226
@Omarnabk No, it's not implemented yet. We will kick off the required work soon (see #1958) to extend metadata types (incl. dates) and provide a more powerful syntax that will allow similar filter queries as above.

[2022-01-05 14:06] tholor commented on #1722
Way forward: Convert one of the newer TAPAS models published in tf format that support confidence scores.
Down sides: Needs custom prediction head to be implemented and won't support "aggregation" operations. So you have to choose between either "aggregation support" and confidence scores.

[2022-01-05 14:39] benjamin-klara opened #1963 "Requirements use sklearn instead of scikit-learn"
**Describe the bug**

The [requirements](https://github.com/deepset-ai/haystack/blob/0b0b9689a494ae8f6e24ea2dd73717adba13e2a0/requirements.txt#L14) use `sklearn` but the official repo on pypi is [`scikit-learn`](https://pypi.org/project/scikit-learn/). Although it looks like [`sklearn`](https://pypi.org/project/sklearn/) was created by some sklearn folks to protect name squatting and is thus not m

[2022-01-05 14:53] tholor commented on #1963
Thanks for spotting! Makes totally sense. Do you want to create a PR and fix it?

[2022-01-05 15:01] tholor opened #1964 "Fix multiprocessing sharing_strategy for Windows"
**Describe the bug**

Our windows CI is failing after introducing a new "sharing_strategy" in  https://github.com/deepset-ai/haystack/pull/1928.
Seems like the default `file_descriptor` is not valid on Windows.
See: https://github.com/deepset-ai/haystack/runs/4705444152?check_suite_focus=true

Potential fix: Let's detect if we are on windows and adjust the default value to a valid option.

**Error

[2022-01-05 15:28] AlonEirew commented on #1964
Hi @julian-risch and @tholor, I thought that there's only 2 possible strategies, I think by changing the default `multiprocessing_strategy = 'file_descriptor' to something like `multiprocessing_strategy = None` and set the strategy only if this is set can solve this issue. I will create a PR for a fast fix.

[2022-01-05 17:06] palle-k opened #1968 "Tutorial projects do not work in Colab because of dependency conflict."
**Describe the bug**
When launching the example projects in Google Colab (tested with basic example without elasticsearch and knowledge base example), importing haystack results in a ContextualVersionConflict.

**Error message**
[code]

**Expected behavior**
Haystack should import without error.

**Additional context**
Google Colab with GPU runtime

**To Reproduce**
1. Open [colab example](https:/

[2022-01-05 17:10] #1954 closed

[2022-01-05 17:13] julian-risch commented on #1557
Closing because we already have two issues about batch processing mode in pipelines https://github.com/deepset-ai/haystack/issues/1239 and https://github.com/deepset-ai/haystack/issues/1589

[2022-01-05 17:13] #1557 closed

[2022-01-05 17:13] tstadel commented on #1903
Hm, I'm not too sure if I understand it correctly. So you don't want to save the documents to SQL database either? Or do you just want to calculate the embeddings (again) from the data that's already stored in the SQL database?

[2022-01-05 17:22] #1964 closed

[2022-01-05 17:39] julian-risch commented on #1968
Hi @palle-k thanks for creating this issue. It will work after restarting the notebook ("restart and run all" for example).

Unfortunately, this dependency conflict and the need to restart the notebook is something we weren't able to resolve in the last weeks although we are already aware of the problem. We have an open issue for that here: https://github.com/deepset-ai/haystack/issues/1806 We wil

[2022-01-05 17:39] #1968 closed

[2022-01-05 20:57] kormoczi opened #1970 "LFQA example question"
**Question**
Hi,
I started to play with the LFQA example (https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial12_LFQA.py).
Is there any example, how it is possible to use the generator alone (providing the context "manually", and not using the retriever results internally)?

Thanks for any comment or suggestion!

[2022-01-05 21:02] MichelBartels commented on #1955
Hi @venuraja79.
What you are describing sounds really interesting! Although we suppose that it's less useful for extractive QA, there could be interesting use cases for generative QA and summarization.

Sadly, it ins't currently on our roadmap and at this point we would like to focus on other things. However, if you would like to take a closer look at this, we would be happy to discuss your ideas.

[2022-01-05 21:10] kormoczi commented on #1970
Almost immediately after I wrote this question, I found the "Running a stand-alone Generator" code-snippet in the documentation (https://haystack.deepset.ai/components/generator).
I will check how that works...

[2022-01-05 21:42] #1945 closed

[2022-01-05 21:48] kormoczi commented on #1970
Ok, so I was able to use the generator this way...
But I have another question. I thought, that the generative answer will be based on the provided document/context. But sometimes I get totally out-of context answers. Sometimes really good answers, by the way, but still it is strange for me. How is it possible? This model ("yjernite/bart_eli5") has text generation capabilities as well?

[2022-01-06 05:30] vijayirlapati opened #1971 "Multi GPU support for FARM reader inference"
**Is your feature request related to a problem? Please describe.**
Please provide multiple GPU support for FARM reader inference in Extractive QA.

**Describe the solution you'd like**
Based on the number of GPUs detected, it would be better if inference time reduces when changing from 1 to 2 GPUs.

**Describe alternatives you've considered**
I have tried to change num_processes to check if the co

[2022-01-06 07:39] mathislucka opened #1972 "__str__ and __repr__ not ideal in MultiLabel dataclass"
**Describe the bug**
While running some code using haystack I stumbled upon an issue where I always had a list of seemingly empty dicts when getting aggregated labels from a document store. Turns out the issue is just that __repr__ and __str__ are broken on MultiLabel because the data class is missing annotations.

**Expected behavior**
I'm not sure but I think for `asdict()` to work we need annot

[2022-01-06 08:12] jhyuklee commented on #1721
Hi @julian-risch and @tholor ! Happy New Year :) I'm almost at the end of migrating from the old transformer version (2.x) to 4.13.0 (see [here](https://github.com/princeton-nlp/DensePhrases/tree/lib-update) if interested). Below are the current requirements for DensePhrases.
[code]

 If you don't see any other version mismatches, I'll start working on making the draft pull request!

[2022-01-06 08:25] julian-risch commented on #1721
Hi @jhyuklee , happy New Year! 🥳 That's great news! I can't spot any other version mismatches. Looking forward to your draft pull request!

[2022-01-06 08:34] julian-risch commented on #1971
Hi @vijayirlapati thanks for creating this issue. It's related to some other performance improvements we plan in this issue #1239 . At the moment, each query is processed individually in the pipeline. In particular, the `predict_batch()` method is not used by pipelines. https://github.com/deepset-ai/haystack/blob/db76a5c5c64ee16f2f68e330da980999506faa90/haystack/nodes/reader/farm.py#L528
Once we u

[2022-01-06 08:51] julian-risch commented on #1970
Hi @kormoczi you're right. The models have text generation capabilities and especially if your provided documents are not closely related to the provided question, it might look like the comes up with out-of-context answers. If you want to read about more details, the first page i'd recommend is this https://yjernite.github.io/lfqa.html#generation but also the [BART](https://arxiv.org/abs/1910.134

[2022-01-06 08:51] #1970 closed

[2022-01-06 10:10] julian-risch commented on #1955
Hi @venuraja79 I agree with @MichelBartels that it's an exciting topic! Could you share some more details already how you think this could be applied to (generative?) QA? I understand that a key component of the approach is to train and use a reward model. Could you please describe in more detail how would you imagine that for QA? I think I have a rough idea about that but I haven't heard anything

[2022-01-06 13:34] Nakkhatra commented on #1894
Hi @lalitpagaria, how did you annotate your training/ test set with multiple spans for single question? I tried haystack but couldn't do it. My domain requires multi span annotation for answers, which I intend to merge for the final output answer.

[2022-01-06 15:59] cjb06776 opened #1973 "Provider parameter needs to be set when instantiating InferenceSession in ONNXAdaptiveModel"
**Describe the bug**
More recent versions of Onnx require the provider parameter to be explicitly set when creating a `onnxruntime.InferenceSession`, which results in errors currently when loading an `ONNXAdaptiveModel`.

**Error message**
[code]

I've made the below change to `ONNXAdaptiveModel.load` in my local environment to workaround the problem, the change:
* Sets a default CUDAExecutionProv

[2022-01-07 08:45] julian-risch commented on #1973
Hi @cjb06776 thanks for pointing out that issue and for suggesting a fix already. We'd really appreciate it if you could create a PR, yes please. 👍 Would these changes be backwards compatible in the sense that users with an older ONXX version could also work with the changed code? Could you please check that in your PR? Thank you!

[2022-01-07 15:03] Omarnabk commented on #1911
Hi @tstadel ,

I put Debug=True in the pipeline.run function. However, the execution stops before getting any output.

Here is the error I get:

[code]

Then here it prints the text of all the documents of the query

Finally shows this part:

[code]

[2022-01-07 16:20] mathislucka commented on #1310
I also had to install rust because `tokenizers` needed a rust compiler. So my full installation routine was:

[code]

[2022-01-09 03:38] venuraja79 commented on #1955
Thank you @MichelBartels and @julian-risch for your views. I agree that it's a challenging framework to box into a solution because that involves multiple steps. For now, I also feel that it's applicable for generative QA because of its subjective nature. PPO is new to me too :) especially applying RL in NLP domain. I'll try to share a detailed approach for QA soon.

[2022-01-09 22:45] arater opened #1977 "Using Tika Converter"
**Question**
How can I run haystack docker container with default file converter as tika?

**Additional context**
And also built in tika converter can convert and process ppt files? If no how can I add tika ppt converter to haystack? To process also from ppt files.

[2022-01-10 08:59] julian-risch commented on #1963
closed by https://github.com/deepset-ai/haystack/pull/1974

[2022-01-10 08:59] #1963 closed

[2022-01-10 13:30] ZanSara opened #1979 "Improve dependency management"
The current handling of dependencies is quite monolithic: users must install them all regardless of the subset of features they want to use. We should make Haystack more modular at install time.

### Options

Nowadays there are several ways to properly handle dependency groups:
- several `requirement.txt` files: quite old fashioned by now and a bit harder to manage
- `extras_require` in `setup.py`

[2022-01-10 13:40] ZanSara commented on #1979
@tholor @oryx1729 @julian-risch @tstadel @askainet @brandenchan @bogdankostic @lalitpagaria: Let me know what do you think about the dependency groups and if you have any opinions about the topic :slightly_smiling_face:

[2022-01-10 13:45] Omarnabk commented on #1911
@tstadel that was the problem.

Commenting that part out solved the issue.

score = hit["_score"] ######  if hit["_score"] else None

[2022-01-10 13:49] ZanSara commented on #1835
Hello @akmalmasud96, sorry for the very late reply. Yes, it's still being worked on, although non continuously. I probably found a fix, but I am unable to run tests properly on it, so I have to figure out what's wrong with our testing setup first :slightly_smiling_face:

If it's blocking for you I can share the potential fix, otherwise I'll rather wait until I test it before saying anything more.

[2022-01-10 14:15] tstadel commented on #1911
Thanks @Omarnabk for reporting, we'll fix that in #1980

[2022-01-10 14:20] ZanSara opened #1981 "YAML Pipeline Validation"
### Rationale

Pipelines can be defined as YAML files. However right now it's nearly impossible to understand if the supplied pipeline is actually valid and if not, and if not, what's the reason.

Providing validation can be extremely useful to users, especially less experienced ones, or users with very complex pipeline designs.

### Main Goals

 - [x] Investigate YAML schema possibilities
 - [ ]

[2022-01-10 14:37] tstadel opened #1982 "Introduce DCDocumentStore and allow it to read documents"
In order to communicate with DocumentStores in DC we need a readonly DocumentStore implementation that is compatible with all retrievers incl. `ElasticsearchRetriever`.

First we want it to be initialized and able to retrieve all documents without actually querying.
It should be initialized like that:
`doc_store = DCDocumentStore(api_key="apikey", index="my_index", workspace="default")`

The follo

[2022-01-10 14:38] tstadel opened #1983 "Make DCDocumentStore queryable"
In order to communicate with DocumentStores in DC we need a readonly DocumentStore implementation that is compatible with all retrievers incl. `ElasticsearchRetriever`.

Here we want to make it queryable.

The following methods need to be implemented:
| method | API Call |
| ---------- | ----------- |
| query_by_embedding | POST api/v1/workspaces/{workspace_name}/indexes/{index_name}/document-quer

[2022-01-10 15:40] tstadel opened #1985 "Allow DCDocumentStore to read labels"
In order to communicate with DocumentStores in DC we need a readonly DocumentStore implementation that is compatible with all retrievers incl. `ElasticsearchRetriever`.

Here we want to make it support getting all labels.

The following methods need to be implemented:
| method | API Call |
| ---------- | ----------- |
| get_all_labels | GET /api/v1/workspaces/{workspace_name}/indexes/{index_name}/

[2022-01-10 15:40] tstadel opened #1986 "Allow DCDocumentStore to efficiently retrieve document and label counts"
In order to communicate with DocumentStores in DC we need a readonly DocumentStore implementation that is compatible with all retrievers incl. `ElasticsearchRetriever`.

Here we want to allow it to efficently retrieve document and label counts by calling the respective API.

The following methods need to be implemented:
| method | API Call |
| ---------- | ----------- |
| get_document_count | GET

[2022-01-10 17:10] #1740 closed

[2022-01-10 18:46] akmalmasud96 commented on #1835
Hello @ZanSara

Thanks for replying. I am waiting for the Milvus 2.1, and not in such a hurry. I am waiting for the next release for the Milvus.

[2022-01-11 06:15] robertaistleitner commented on #1956
Thanks for pointing this out.

[2022-01-11 08:35] #1911 closed

[2022-01-11 11:19] mapapa opened #1988 "Upgrade pillow version to 9.0.0"
Pillow:8.3.2 for python pil/pdfparser.py pdf parsing improper regular expression dos

Pillow package for python contains a flaw in pil/pdfparser.py that is triggered as carriage return characters are not properly handled in a regular expression. this may allow a context-dependent attacker to hang or slow down a python process using the library.

Security source: CVSS V3 from RBS

Fix version: 9.0.

[2022-01-11 13:21] lalitpagaria commented on #1979
I feel many groups may confuse the users. Small options might be good like `core`, `minimal`, `all` etc. So if anyone likes their customization for example mentioned in #1716 they can use `minimal` and then install whatever they like.

Not related to this task but how about a CLI utility that takes pipeline YAML as input and list or installs required dependencies to run that pipeline smoothly.

[2022-01-11 13:36] tholor commented on #1979
I agree with @lalitpagaria and would reduce the groups a bit:

minimal: basic Haystack on CPU with one single document store (inMemory maybe)
gpu: for running Haystack on GPU
~~rest: install also the REST server API deps
ui: install Streamlit deps~~
demo: rest + ui
~~ci: for GitHub runners~~ => Not sure, but we can probably use `dev` or `all` in the CI
win: for Windows installs (if possible)
colab

[2022-01-11 13:40] lalitpagaria opened #1989 "Dependency license checker with CI step"
As the number of contributors is increasing better to add a CI step to avoid any dependency with non-compliant or conflicting licenses like StrongCopyLeft, GPLv3, etc.

Few requirements maybe -
- CI step only runs if the hash of requirements.txt, setup.py, or something related file changes (this may be used https://github.com/deepset-ai/haystack/blob/master/.github/workflows/linux_ci.yml#L72)
- CI

[2022-01-11 13:54] lalitpagaria commented on #1950
How about having [client library](https://github.com/deepset-ai/haystack-client-py) which abstract following complexity -
- backward/forward complexity
- rate-limiting
- session/security/authentication
- If people like to use DC then they don't have to use it via Haystack
- batching / streaming / error handling / retry logic
- client will do heavy lifting, haystack only call it's function similar

[2022-01-11 13:58] tholor commented on #1989
We are currently using FOSSA internally (for Haystack only ad-hoc, when needed - but for our commercial products it's part of the CI).
Integration in the Haystack CI at some point in the next months sounds reasonable, but probably not the highest urgency at the moment.

[2022-01-11 14:02] lalitpagaria commented on #1981
It would be great to build it as a CLI utility. CLI utility can -
- performs pipeline validation
- install required dependencies (https://github.com/deepset-ai/haystack/issues/1979#issuecomment-1009959376)
- convert YAMLs to different version if required
- view a YAML file

[2022-01-11 14:07] lalitpagaria commented on #1989
If FOSSA can be used for the Haystack OSS version then it would be great. It will save the hassle of maintaining CI code :)

[2022-01-11 14:15] mapapa commented on #1988
I was trying to push the respective change but I am getting the following error:
remote: Permission to deepset-ai/haystack.git denied to mapapa.

What am I missing here?

Thanks

[2022-01-11 14:16] ZanSara commented on #1117
Related:  #1776

[2022-01-11 14:45] julian-risch commented on #1988
Hi @mapapa you need to create a fork of the haystack repository and do a pull request from this fork. Here is a GitHub guide on creating the pull request from a fork: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork but I think once you have created a fork with your changes you won't need

[2022-01-11 15:17] ZanSara commented on #1979
Thank you both for the feedback! I'm ok reducing the groups of course. I like @tholor's list except for the demo related deps: I think many people would like to use the REST API with their own frontend, so I'd rather keep `rest` and `ui` and remove `demo`.
Regarding `preprocessing`, I agree many weird deps will go here so probably it makes sense. On the other hand, if it ends up being fundamental

[2022-01-11 15:28] ZanSara commented on #1981
I'm not sure what the benefit of a CLI tool would be here to be honest:

- **performs pipeline validation**: it could be done with a method call, rather than a CLI tool, but I see that it might be handy for some.
- **install required dependencies**: a good error message can tell the user what to do without having to maintain code that handles pip from Python (like: `This YAML requires the 'faiss'

[2022-01-11 15:37] #1652 closed

[2022-01-11 16:15] lalitpagaria commented on #1981
With view, I mean pipeline visualisation.

I agree with your view. Anyway `click` is part of haystack as transitive dependency hence suggested it. Yes I think haystack as CLI utility can provide good value to the users.

[2022-01-11 16:54] #1769 closed

[2022-01-11 17:25] ZanSara commented on #1981
I see! I totally misunderstood the last one, sorry. I would say we could open a separate issue for a future CLI tool. As soon as we see there are enough features to justify the cost, we'll plan for it. It would be a shame to forget about these smaller features later on.

I think it's better if you open the issue, you may know about other proposals that came out in the past. If so please gather the

[2022-01-11 18:20] lalitpagaria commented on #1981
Sure. Let me gather my thoughts, I will create an issue.

[2022-01-11 18:42] mapapa commented on #1988
Hi @julian-risch, the issue I am currently facing is that I cannot push my changes to GitHub:
git push -u origin upgrade_pillow
remote: Permission to deepset-ai/haystack.git denied to mapapa.
fatal: unable to access 'https://github.com/deepset-ai/haystack.git/': The requested URL returned error: 403

I am using access token and https as per latest GitHub setup but with no luck.

Any ideas why?

Th

[2022-01-11 19:56] mapapa commented on #1988
Amazing, I finally raised the pull request. Thanks.

[2022-01-12 06:02] kingafy opened #1993 "Error in haystsack install on windows"
I tried to install haystack using the doc manual as well as through normal pip but nothing works out. I tried to follow below instructions:-
git clone https://github.com/deepset-ai/haystack.git
cd haystack
pip install --editable .

I created a new env and installed this but while Installing I am getting issue:-

ERROR: Could not find a version that satisfies the requirement scikit-learn>=1.0.0 (fr

[2022-01-12 08:59] #1988 closed

[2022-01-12 09:58] MichelBartels commented on #1993
Hi @kingafy!
Could it be that you are using an older python version? haystack only supports python 3.7 or newer.

[2022-01-12 11:33] ZanSara commented on #1897
Related: #1990

[2022-01-12 14:16] ZanSara commented on #1993
Also `scikit-learn==1.0.0` requires Python 3.7, that's why pip doesn't find it. See here https://pypi.org/project/scikit-learn/

[2022-01-12 15:21] ZanSara opened #1996 "Refactor Document Store fixtures"
Following #1853 and #1990, the fixtures for running document stores related tests got more way more complicated to read and debug. I propose a refactoring of such fixtures and, possibly, a refactoring of DocumentStore's tests as well (most of them are very long and repetitive).

This issue is related to #1897, and might be better to address as part of the refactoring detailed there.

[2022-01-12 18:28] #672 closed

[2022-01-12 18:28] #1537 closed

[2022-01-13 09:55] tstadel opened #2002 "pipeline.load_from_dc()"
In order to enable smooth experimentation with existing pipelines, we want to load deployed pipelines from DC:
- load YAML from DC
  - API exists for downloading YAML: /workspaces/{workspace_name}/pipelines/{pipeline_name}/yaml
  - Params: workspace_name, pipeline_name, api_key
- create Pipeline
  - Pipeline has already DCDocumentStore
  - we have to pass api_key to DCDocumentStore

[2022-01-13 10:25] dmigo commented on #2002
## Examples

Explicit:

[code]

With env variable:

[code]

## API

Let's use the same API as the frontend uses.

[2022-01-13 15:04] tstadel opened #2004 "pipeline.save_to_dc()"
In order to enable smooth experimentation with existing pipelines, we want to save "experimented with" pipelines to DC:
- save YAML to DC
  - API exists for saving YAML: PUT /workspaces/{workspace_name}/pipelines/{pipeline_name}/yaml
  - Params: workspace_name, pipeline_name, api_key
- remarks
  - Pipeline has already DCDocumentStore
  - we must not pass api_key of DCDocumentStore within YAML
  -

[2022-01-13 15:17] tstadel commented on #1950
Hey @lalitpagaria,
I think these are good ideas for a client library. This epic however focuses on bringing the pipelines and data you already have in DC to your local haystack environment in such a way that you can experiment with them.

[2022-01-13 16:37] ZanSara commented on #1897
Another idea: during the dependencies refactoring, it became rather evident that not many users would ever want to have more than one or two document stores backends. For the time being, having different extras_require groups could be sufficient, but like in the case of Milvus1/2 and FAISS CPU/GPU, in some cases separate groups are not really sufficient.

An even cleaner solution would be to have

[2022-01-13 21:51] mumtazcem commented on #1952
Hello,

I have been deploying my simple fastapi app which includes haystack API to aws EC2 instance. So far I was able to run  PDFToTextConverter, PreProcessor, ElasticsearchDocumentStore, FARMReader without any problem. Yet Crawler is not working for some reason, I suspect that it might be related to the chromedriver. It does not raise any errors. It gets the url, creates the json file under craw

[2022-01-14 08:59] MichelBartels commented on #1993
Hi @kingafy. Are you still experiencing this issue? If so, could you perhaps share the output of `python --version`? Otherwise, we would close this issue for now.