[2021-06-01 16:12] SAIVENKATARAJU commented on #1103
Thank you for kind reply. it worked.

[2021-06-01 16:12] #1103 closed

[2021-06-01 16:42] gavishpoddar commented on #1057
Hi @oryx1729,

I cloned and recreated the entire build with 6GB of RAM.

Below is the entire CLI output:

[code]

[2021-06-01 18:57] tholor commented on #1011
As the position in the text is really a requirement here, you will also need this in the dataframe and our helper methods won't help here, I am afraid.
Maybe there is a way to find the answers that you have again in the original text and "locate their position"?

Well, this really depends on your domain and the type of questions. For example, if your questions are rather similar you could also see

[2021-06-01 19:09] lalitpagaria commented on #1057
@gavishpoddar Please make sure to remove private information before sharing logs. I have redacted your public IP.
[code]

[2021-06-01 19:15] gavishpoddar commented on #1057
hi @lalitpagaria, I forgot to do that, thank you so much 👍🏻

[2021-06-01 20:14] lalitpagaria opened #1123 "Improve SQL stores indexing performance"
This is placeholder ticket to discuss ideas about improving SQL stores bulk insert performance.
If we see various document stores [benchmarks](https://haystack.deepset.ai/bm/benchmarks), SQL based store have very low indexing speed. Let's discuss how to achieve it.

Few idea which I have are -
1. Use SQLAlchemy Core insert/update instead of ORM. Refer [link](https://stackoverflow.com/questions/117

[2021-06-02 07:35] akkefa commented on #688
@oryx1729 Ray Serve provide both solutions we can use HTTP calls and ray python interface to the community with the remote machines.

I will prefer the incremental approach to start with Ray serve if there are blockers then we will move to Ray Core.

[2021-06-02 08:12] rremani opened #1125 "Uploading pre-labelled json with squad format"
**Question**
Can we upload pre-labelled dataset in annotation tool with squad format?

[2021-06-02 08:56] julian-risch opened #1126 "Check Re-ranking Performance"
After the introduction of a Ranker node in #1025 we need to verify that the calculation of similarity scores works correctly with the following model from https://www.sbert.net/docs/pretrained-models/ce-msmarco.html :

- cross-encoder/ms-marco-MiniLM-L-12-v2

The model might not be loading correctly at the moment as the similarity scores are always 1. We need to make sure that the similarity score

[2021-06-02 09:32] julian-risch opened #1129 "Check Re-ranking Performance"
After the introduction of a Ranker node in #1025 we need to verify that the calculation of similarity scores works correctly with the following model from https://www.sbert.net/docs/pretrained-models/ce-msmarco.html :

- cross-encoder/ms-marco-MiniLM-L-12-v2

The model might not be loading correctly at the moment as the similarity scores are always 1. We need to make sure that the similarity score

[2021-06-02 09:32] Timoeller commented on #1125
Hey, unfortunately not. But this is a pretty cool feature and we see increasing demand for it. It is on our road map. To be honest we dont have much focus on developing the annotation tool currently but are hiring for this explicitly.

[2021-06-02 09:37] monika1800 opened #1130 "Is there a way to load retriever directly once created for set of documents?"
**Question**
Is there a way to load retriever directly once created for set of documents after         docstore.update_embeddings(retriever=retriever).

**Additional context**
We are trying to achieve the functionality of utilising the document_store, retriever and pipe from pre stored db/location once first time setup is done.

[2021-06-02 09:56] monika1800 commented on #1091
[code]

[2021-06-02 11:08] tholor commented on #1005
@akkefa We had another discussion in the team about the use cases for it and how to keep the scope of this PR manageable.

Let me try to summarize our thinking about this:
- Let's treat pipelines as the core object here and not think more granularly about nodes that we want to add or params that we want to change. So there's no need right now to update a pipeline config and thus no need for additi

[2021-06-02 11:49] brandenchan commented on #933
Hey @lewtun, we've solved this with #1119!

[2021-06-02 11:49] #933 closed

[2021-06-02 11:51] tholor commented on #1130
What documentstore are you using? The embeddings (generated via `update_embeddings`) will be kept in this documentstore. So if you start your application the next time, there should be no need to call `update_embeddings()` again.

If you use e.g. Elasticsearch, the embeddings are stored in elastic. If you are running elastic in a container you can see here how to make elasticsearch persist the dat

[2021-06-02 11:52] tholor commented on #1126
Seems like a duplicate of #1129

[2021-06-02 11:52] #1126 closed

[2021-06-02 11:57] brandenchan commented on #968
Solved by #1127 with the solution coming from [this discussion thread ](https://github.com/milvus-io/milvus/discussions/4939)

[2021-06-02 11:57] #968 closed

[2021-06-02 11:58] brandenchan commented on #1031
Solved by #1119

[2021-06-02 11:58] #1031 closed

[2021-06-02 11:59] brandenchan commented on #1023
Solved by #1121

[2021-06-02 11:59] #1023 closed

[2021-06-02 12:03] brandenchan commented on #778
The benchmarking of Milvus was accomplished with #1127. The documentation side of things has been shifted to #992

[2021-06-02 12:03] #778 closed

[2021-06-02 12:05] brandenchan commented on #1007
Seems to be solved so am closing this for now

[2021-06-02 12:05] #1007 closed

[2021-06-02 12:06] brandenchan commented on #847
Seems to be solved for now so am closing this. Feel free to reopen if you have a follow up Q

[2021-06-02 12:06] #847 closed

[2021-06-02 12:07] brandenchan commented on #899
This seems to be solved so am closing this now. Feel free to reopen if you have any follow up questions!

[2021-06-02 12:07] #899 closed

[2021-06-02 12:54] tholor commented on #1057
@gavishpoddar  I still cannot reproduce this, but let's try to narrow it down together:

Hypothesis 1: Is your elasticsearch starting up correctly?
- Can you please do a  `curl -X GET "localhost:9200/_cluster/health?pretty"` directly after you see starting the first error messages from "haystack-api_1" and share the output?
- Are there any error messages from elasticsearch that you see in the logs

[2021-06-03 06:31] tholor commented on #1058
It's pretty clear to me that we will eventually add other data types to Haystack. The vision here is really to build natural language interfaces to all kinds of data. This includes texts, images, tables, databases, logs ...

However, we want to nail the text case first and optimize it really end-to-end instead of allowing 5 formats with "50% solutions". TableQA is probably one of the bigger next a

[2021-06-03 06:36] tholor commented on #1102
Hey @SAIVENKATARAJU ,

Can you try to set `num_processes=0` when initializing the `FARMReader`? Might be that you spawn too many processes for your system's memory

[2021-06-03 07:03] lalitpagaria commented on #1058
@tholor I am align with the vision. My only concern is prioritization. Hence suggested if we have process around it. In my view these are two most time consuming steps and of-course critical: Design Discussion and Code Review. Now able to come up with solution to resolve it.

Regarding experimental stream, I mean separate to have module `experimental` and branch `experimental`. Which will daily re

[2021-06-03 07:11] akkefa commented on #1005
@tholor Right now, I have pretty much a good sketch in my mind, how this feature will work.  Thanks for the detailed clarification.

Just needs to clear one thing when we are going to save a pipeline in the YAML file it contains a single pipeline with a unique name identifier.

Right now in  `rest_api/pipelines.yaml` file.  There are two pipelines mentioned **query** & **indexing**.

[2021-06-03 08:42] oryx1729 commented on #1005
Hi @akkefa @lalitpagaria @tholor, the discussed solution sounds good so far! 🚀

Have you already thought about the payload format for the POST request for uploading new pipelines?

An option is to support uploading YAML files(or as a string) directly with the request body. With this, we can avoid JSON <-> YAML conversion and have the Pipelines always be in the YAML format. Additionally, we lose th

[2021-06-03 09:28] tholor opened #1135 "Catch Elastic's search_phase_execution_exception (dense retrieval if not all documents have an embedding)"
**Describe the bug**
When you run dense retrieval (via `query_by_embedding`) in ElasticsearchDocumentStore without running `update_embeddings()` before you get an exception as not all documents in elastic have an embedding associated.

The current error message is quite cryptic. Let's catch it and make it more descriptive so that the user knows why the query failed.

**Error message**
Error Reques

[2021-06-03 13:07] akkefa commented on #1005
@oryx1729 I like the idea of upload YAML files rather than JSON format.

[2021-06-03 13:45] julian-risch opened #1137 "Optional device parameter in Reader eval method"
**Is your feature request related to a problem? Please describe.**
Reader methods `eval()`, `eval_from_file()`, and `calibrate_confidence_scores()` have a mandatory parameter `device`. This should not be necessary as the device the Reader is on is already decided in its `init()`method.

There is no other reason to have this as a mandatory parameter right now than that `device` is used to initializ

[2021-06-03 13:49] #1032 closed

[2021-06-03 15:22] dfhssilva opened #1139 "Filters in K-NN similarity search query not working (Open Distro Elastic Search)"
**Describe the bug**

Specifying a filter in a query made with dense vectors while working with OpenDistroElasticsearchDocumentStore and EmbeddingRetriever throws a `KeyError: 'script_score'.`

**Error message**
[code]

**Expected behavior**
I was expecting the following behavior according to this article [https://opendistro.github.io/for-elasticsearch/blog/odfe-updates/2020/04/Building-k-Nearest-

[2021-06-03 16:20] SAIVENKATARAJU commented on #1102
Hi @tholor
it worked. is it the permanent solution. should I use every time?

[2021-06-03 16:47] tholor commented on #1102
Ok great, then your system has not enough RAM to launch many parallel processes. That doesn't matter too much as it's only relevant for the preprocessing bits in the Reader - the main workload will be handled by your GPU and is unaffected from this parameter.

So you can keep `num_processes=0` or if you want to squeeze out the max slowly try to increase it to 1, 2 or 3 processes. At some point you

[2021-06-03 16:47] #1102 closed

[2021-06-03 16:51] brandenchan opened #1140 "Give warning when labels are overwritten in DocumentStore.write_labels()"
If two `Label` objects with the same `id` field are written into a `DocumentStore`, one seems to overwrite the other silently. It would be good to have at least a warning message printed when this happens.

As a side note, I saw this occur because a user populated `Label.id` with the id of the question instead of the annotation as it should be. Since the `Label` object is a pairing of question and

[2021-06-03 17:11] brandenchan opened #1141 "Speed up MilvusDocumentStore querying through batching"
As suggested by [this comment](https://github.com/milvus-io/milvus/discussions/4939#discussioncomment-818891) in a Milvus discussion thread, we can speed up querying by batching queries

[2021-06-03 18:51] vblagoje opened #1142 "Add Binary Passage Retriever"
New research [paper](https://arxiv.org/abs/2106.00882) describing a novel retrieval approach has just been published yesterday. Essentially, it's a neural retrieval model for ODQA that integrates a learning-to-hash technique into DPR to represent the passage embeddings using compact binary codes rather than continuous vectors. The biggest selling point is that it compresses the storage requirement

[2021-06-03 20:03] #725 closed

[2021-06-04 01:41] svjack opened #1143 "Can the annotation tool support text classification task ?"
As the annotation tool’s manual say,  the tool good at produce “squad” style dataset.
And have give me some guidelines.
So how about use it to deal with text classification dataset produce process ?

[2021-06-04 06:55] tholor commented on #1143
Hey @svjack, the tool is not made for labeling text classification datasets. There is a bunch of other great tools out there for this task (e.g. https://prodi.gy/ ) so we didn't feel the need to reinvent the wheel here :)

If you want to just label spans out of a bigger document for text classification, you could probably hack our annotation tool to use it for that purpose and export the labels as

[2021-06-04 06:55] #1143 closed

[2021-06-04 07:09] Prabhav55221 opened #1144 "Textual Overlap in Context"
**Observation**
I have been using haystack to build an end-to-end CDQA system for some time now, and while everything seems to be working perfectly, I have noticed a small issue with the context of answers. Using a deep retriever (DPR) and Albert, whenever I view the context for an answer I notice an overlap of sentences in the beginning. I have added an example below of this.

**Example**

Questi

[2021-06-04 07:11] #1051 closed

[2021-06-04 11:33] julian-risch commented on #895
Logging can be disabled on a global level with the following two lines:
[code]
I would recommend to use `logging.disable(logging.INFO)` to keep showing warnings.
Here is an example notebook with outputs, where you can see that there were no log messages generated: https://colab.research.google.com/drive/1Dl8g2WCOdz7LZ9vjq6tBMujbfJKUbyBt?usp=sharing
I don't think that there are any code changes nee

[2021-06-04 11:51] julian-risch commented on #753
Closing this issue as the Evaluator can be used to calculate metrics, including metrics on a training dataset, and evaluation in Haystack now relies on [evaluation nodes](https://haystack.deepset.ai/docs/latest/pipelinesmd#Evaluation-nodes).

[2021-06-04 11:51] #753 closed

[2021-06-04 14:12] Timoeller commented on #895
This is slightly embarrassing. I always had trouble with logging and because I tried changing logging on individual level.

This seems to be a very simple solution and I dont see the need for putting this into Haystack. @lewtun I think this should also work for your case. So can we close this issue?

[2021-06-04 14:33] lewtun commented on #895
Hey @julian-risch and @Timoeller, apologies on my end for letting this slip too. I just checked Julian's solution and indeed it solves the issue perfectly!

Closing the issue and thanks for your help!

[2021-06-04 14:33] #895 closed

[2021-06-04 16:23] Timoeller opened #1145 "Make scores comparable accross retrievers"
Scores for our different retrievers (BM25, DPR, EmbeddingRetriever) are all on different scales.
Lets find a way to make them comparable.

Potential use-cases:
1. rank docs coming from different retrievers
2. combine scores of same documents coming from different retrievers

### ES
For ES I found this issue, which seems to offer some solutions but not the real thing? https://github.com/elastic/ela

[2021-06-05 00:55] shamanez opened #1147 "How to use fine-tuned DPR model checkpoint and tokenizer with HuggingFace Transformers DPR class?"
Hi,

I fine-tuned a DPR with domain-specific data, by following the given Colab notebook example.  How can I use the checkpoint with the HuggingFace Transformers  DPR class ?

Thanks a lot.

[2021-06-05 10:54] liquidcowgithub opened #1148 "Unable to overwrite the pipelines YAML configuration with environment variables for parameters containing an underscore '_' in the parameter name"
**Describe the bug**
When trying to overwrite the tika_url parameter in the TikaConverter file converter through a yaml pipeline configuration file via an environment variable, the parameter is not set. An error occurs, then exiting the app.

**Error message**
File "/home/user/haystack/pipeline.py", line 294, in _overwrite_with_env_variables
definition["params"][param_name] = value
KeyError: 'para

[2021-06-05 10:58] liquidcowgithub commented on #1148
For a bit more context, I'm not very familiar with python, it's entirely possible I'm doing something silly.

Looking at the other converters and example pipelines, should tika_url not be modified to be a bit more explicit with a host, ssl, port etc. parameters rather than having all that information in a single string value?

Alternatively, the overwrite_with_env_variables logic needs to take int

[2021-06-05 18:17] venuraja79 commented on #957
Hi @LarsAC, thanks for your help earlier. We have made a few design changes from the last version and have updated the code & tests. Except for query and update embeddings methods, others have been validated. Any review / tests from your side will be great when you get a chance.

[2021-06-07 10:33] brandenchan commented on #1144
Hi @Prabhav55221, that's odd but let's try to debug this!

My instincts say that this has something to do with the preprocessing. There are about 20 words that are repeated. Are you by any chance setting `split_by='word'` and `split_overlap=20` when initializing the `PreProcessor`?

Also, can you confirm that this repetition doesn't exist in your original documents (i.e. before Preprocessing)? And

[2021-06-07 12:59] guillim opened #1150 "Outsourcing Reader (and other highly resource consuming component)"
**Question**
Hello, I am wondering if there is a way to outsource the Reader, or any other highly resource consuming component.

**Additional context**
The point is you can use a 2Go RAM server for 99% of any pipelines. It will fit most use-cases. However, the Reader part will require very specific hardware/RAM and can't scale. So instead of having to scale the Haystack server, we could simply hav

[2021-06-07 15:39] tholor commented on #1004
Hey @lalitpagaria ,

This is a very thoughtful suggestion and actually a topic that actually also came up in some discussions in our team in the last months. I thought about it quite a lot in the last days and discussed it with @oryx1729 .

Let me try to summarize our key thoughts here:

Pros:
- Cleaner code
- Easier combination of new docstores and embeddingstores (e.g. allowing mongoDB + milvus)

[2021-06-07 16:34] tholor commented on #1142
Thanks for sharing! It's an interesting approach for compression.
I can see the memory advantage. However, so far, I haven't seen any cases where this was really a huge pain point in practice.

=> If you have a machine with 8x V100 GPUs you can usually afford 64 or 128 GB RAM :thinking:. If you use less GPU power, I am wondering how the latency changes for BPR.  If you can't fit it into a single m

[2021-06-07 17:55] calderma opened #1153 "large dataset preprocessing"
Hello thank you for this great library. In attempting to train the Tutorial9 DPR model I've noticed that with my dataset (which is quite large) it's going to take well over 100 hours to preprocess the dataset, which it seems that it has to do every time I do training. I'm using an 8xV100 32GB GPU setup. I tried changing some of the parameters in the dense retriever script's usage of the DataSilo o

[2021-06-07 18:55] lalitpagaria commented on #1153
@calderma It seems you want to refer this pull request :)
https://github.com/deepset-ai/FARM/pull/790

[2021-06-07 18:59] calderma commented on #1153
Yes that's what I meant apologies.

[2021-06-07 19:04] lalitpagaria commented on #1004
@tholor Yes agree with you as it is big ticket item also involve educating community about new naming.
So let's close it for now, we can revisit this in future based on need. WDYT?

[2021-06-07 19:08] tholor commented on #1004
Yes, let's close it for now and if we see more evidence for need from the community we can reconsider it :)

[2021-06-07 19:08] #1004 closed

[2021-06-07 19:14] lalitpagaria opened #1154 "Qdrant as document store"
[Qdrant](https://github.com/qdrant/qdrant) is a Rust based vector similarity search engine with extended filtering support.

Few pros are -
- As of now none of vector similarity based document stores (faiss, milvus, weavite) provide filtering support, hence it will be nice addition to Haystack
- It is rest based search engine which provide [OpenAPI](https://github.com/qdrant/qdrant) interface, hen

[2021-06-07 19:37] shahrukhx01 opened #1155 "Add documentation for query classifier"
Add documentation for query classifier added in #1099

PS:
created this issue to document this requirement for adding tutorial and documentation for the feature I added.

[2021-06-07 19:37] shahrukhx01 commented on #1155
@tholor could you please assign me this issue.

[2021-06-07 20:18] lalitpagaria commented on #1150
In my view it is nice idea. It will help in building scalable pipeline (for example scaling individual component and putting it behind load balancer with caching support)

There are multiple ways to achieve this but one quick hack I see to add operation mode `remote` and `local` with  few [components](https://github.com/deepset-ai/haystack/blob/master/rest_api/pipelines.yaml#L3). For remove mode

[2021-06-07 21:31] lalitpagaria commented on #1148
@liquidcowgithub You have duplicate keys in pipeline yaml. This is causing `TikaFileConverter` key values being overwritten. Following are duplicate -
[code]

@tholor How about throwing error when there is duplicate naming in pipelines.yaml along with documenting it in comment?

[2021-06-07 22:18] liquidcowgithub commented on #1148
Oh my, how silly of me, will fix that and test again in the morning. :)

[2021-06-08 04:55] hieudion123123 opened #1156 "Docker issue"
**Question**
I have this error when I build docker and run it. How can I fix this? Thanks for answering my question :)))

  File "/home/user/rest_api/application.py", line 8, in <module>
    from rest_api.controller.router import router as api_router
  File "/home/user/rest_api/controller/router.py", line 3, in <module>
    from rest_api.controller import file_upload, search, feedback
  File "/hom

[2021-06-08 06:17] Prabhav55221 commented on #1144
Hi @brandenchan. Thanks for helping!

I am using ```split_by='word'``` for the preprocessing but I am not using ```split_overlap```. For your convenience, I am adding the code for my preprocessing.

[code]

I double-checked the documents I am using. They are just Wikipedia articles and don't have the repetition. I will test the ```Preprocessing.process()``` output and add that soon.

Thanks a lot!

[2021-06-08 06:53] guillim commented on #1150
I agree with the URI first implementation. That will be the fastest way to make it happen !

[2021-06-08 07:14] tholor commented on #1150
Yep, definitely a good idea and direction. We are exploring Ray for the purpose of parallelizing our pipelines and allowing distributed execution (https://github.com/deepset-ai/haystack/issues/688). For our deployments, I could see a mix of Ray and Kubernetes to distribute our pipeline nodes to the right machines, but we are still in the phase of sorting out a good design here. open for any ideas

[2021-06-08 07:15] #1150 closed

[2021-06-08 07:24] tholor commented on #1156
How do you start the docker? Do you use our docker-compose (see [readme](https://github.com/deepset-ai/haystack#quick-demo))?
It seems that the elasticsearch container has not started yet.

[2021-06-08 10:42] Timoeller commented on #1153
I understand that there is still ongoing activities for getting BigBird into FARM and then Haystack, so currently it is not possible to train DPR with BigBird - but why did you close the issue?

I think the issue is also in general related to train massive DPR datasets, right?
Is the massive size due to many (possibly unused) positive, negative and hard_negative examples? You can configure how man

[2021-06-08 13:23] julian-risch commented on #1147
Hi @shamanez great to hear that you managed to fine-tune a DPR model! In order to load the model in HuggingFace Transformers, you need to convert the format with the convert_to_transformers() method in the BiAdaptiveModel class: https://github.com/deepset-ai/FARM/blob/1f1fe4c89affb38775d6aad061a3e60bcddc5699/farm/modeling/biadaptive_model.py#L449 We have an example how to convert an AdaptiveModel

[2021-06-08 13:25] julian-risch commented on #1116
Hi @monika1800 did you manage to resolve your problem?

[2021-06-08 16:28] calderma commented on #1153
Oh I closed it because I thought the reference to the FARM pull request meant I should be asking it over there. But yes the issue seems to be with training on large datasets. I'm currently using 2 negative, 2 hard negative, and 1 positive example per training example. My dataset is quite large on its own partially because there are a lot of training examples and partially due to how long each exam

[2021-06-08 16:44] calderma commented on #1153
For additional context the way I got it to train was just to reduce my dataset to about 40% of its original size (less than the % it was at when it ran OOM) just to see if it works end2end. The only issue that I found at least so far was that it did not seem to work with Apex. I was also originally using a larger number of negatives however i got CUDA OOM even with a batch size of 1 on 32GB GPUs.

[2021-06-08 17:16] venuraja79 opened #1159 "Improve Update Embeddings in Weaviate store"
Had to create a workaround in Weaviate to update embeddings because of this defect - https://github.com/semi-technologies/weaviate/issues/1591

This issue is to track and improve the "Update Embeddings" method once this fix is released.

[2021-06-08 18:36] Timoeller commented on #1153
@lalitpagaria s link to the respective PR was of course a good reference to how to use BigBird for DPR.
I see the dataset preprocessing issue as separate - you should also encounter it with BERT based DPR models (you do, right?).

### bigbird DPR

Exactly, its not merged yet. Happy that it works out of the box. Another interesting aspect will be saving and loading the DPR style models that is abou

[2021-06-08 18:58] calderma commented on #1153
Thank you for your quick response. I do encounter the same issue with the BERT based models but I was more interested in the BigBird style models so I didn't pursue that one. I haven't gotten to the point that I'm worried about conversion yet but yes that seems like it might be an issue down the road. I will look into the issues with the dataset you mentioned. Hopefully those can help with the tok

[2021-06-08 22:51] shamanez commented on #1147
Hi, thanks a lot. Actually, after the training, I got my checkpoints in the following order (passage encoder checkpoint).

![image](https://user-images.githubusercontent.com/16892570/121267498-61a82000-c910-11eb-9d32-1ef11e1781d3.png)

After changing the name "language_model.bin" to "pytorch_model.bin", I was able to load the checkpoint directly to HF class. Actually, I did not use any conversion

[2021-06-09 08:38] lalitpagaria opened #1161 "Breaking changes in newer mypy version"
With recent mypy release it is require to install stub definition for third party lib. Refer http://mypy-lang.blogspot.com/2021/06/mypy-0900-released.html

Few PRs are now started failing https://github.com/deepset-ai/haystack/pull/1160

There are two ways -
1) Install require type stubs. `mypy --install-types` will list them and add them to ci.yml
2) Pin mypy to older version

[2021-06-09 09:40] brandenchan commented on #1144
Hmmm so I wasn't able to reproduce your error in my runs. I also tested to see whether having a `context_window_size` larger than `split_length` could cause this repetition but no luck there. I just want to point out that `context_window_size` is in terms of chars while `split_length` is the number of whitespace tokenized words.

I wonder if you would be able to send me a minimal script and the si

[2021-06-09 10:30] monika1800 opened #1164 "max_bytes_length_exceeded_exception', 'reason': 'bytes can be at most 32766 in length; got 48198' while using elastic search documentstore"
**Describe the bug**
Unable to index the data to elastic search documenstore. Facing the below error with max_bytes_length_exceeded_exception exception.

**Error message**
'status': 400, 'error': {'type': 'illegal_argument_exception', 'reason': 'Document contains at least one immense term in field="Simpplr__Text_Intro__c" (whose UTF8 encoding is longer than the max length 32766), all of which were

[2021-06-09 10:36] monika1800 commented on #1130
Thanks @tholor. It is working fine with ES documentsore and Embedding Retriever configurations.

[2021-06-09 10:37] monika1800 commented on #1116
Hi @julian-risch, Thank you. I am able to run now the update method with previous version of haystack.

[2021-06-09 10:38] monika1800 commented on #1091
@Timoeller I have added the relevant piece of code. Thank you.

[2021-06-09 11:09] rremani commented on #1125
Thanks for the info,  indeed it's a cool & useful feature for people trying to pseudo-label their data.

[2021-06-09 11:45] #1130 closed

[2021-06-09 11:49] tholor commented on #1091
Thanks for sharing! I will keep this issue open, as I think we should simplify this in Haystack with something like a "MostSimilarDocumentsPipeline" that gets IDs as input and returns for each ID the most similar top_k docs.

[2021-06-09 13:56] SAIVENKATARAJU opened #1167 "RequestError: RequestError(400, 'search_phase_execution_exception', 'runtime error')"
I am getting RequestError while using ExtractiveQAPipeline like below.
[code]
I  have gone through previously raised but it did not help me to understand.  I am using elasticsearch 7.10 version.
Full log here.

[code]

[2021-06-09 14:24] tholor commented on #1167
This exception typically comes up if you are using a dense retriever (DPR or EmbeddingRetriever) but not all of your indexed documents have embeddings. Make sure to call `retriever.update_embeddings()` - especially after adding new docs to the document store.

See also https://github.com/deepset-ai/haystack/issues/1135

[2021-06-09 14:24] #1161 closed

[2021-06-09 14:54] brandenchan opened #1168 "Allow for batch indexing when using Pipelines"
Currently, the `BaseConverter` and `PreProcessor` classes only work on single files when used as nodes in a Pipeline. This means that we write documents one at a time to the DocumentStore which can significantly slow down performance.

We should fix this by allowing the `run()` methods of `BaseConverter` and `PreProcessor`  to processes batches of documents rather than just single docs.

To do:
-

[2021-06-09 14:57] brandenchan opened #1169 "Create Tutorial on GermanQuAD and GermanDPR"
We recently created a German Question Answering Dataset and also a German Dense Passage Retrieval dataset, along with trained models for each.

It would be great to have a tutorial (something along the lines of Tutorial 1) that allows users to start playing around with these models!

[2021-06-09 14:58] brandenchan commented on #1169
The only open question right now for me is what data we might want to index, and how we host / download it.
@Timoeller

[2021-06-09 15:21] brandenchan opened #1170 "Investigate using Carbon for Code Snippets in Documentation"
[Carbon](https://carbon.now.sh/) produces very nice embeddable code snippets. We should see if this is a good option for our own documentation website.

This would also be a good time to think about creating a code snippets / recipes section in our documentation.

[2021-06-09 15:25] brandenchan opened #1171 "Collapse Left Side Bar in Documentation Website"
We've been adding a lot of new pages to our Documentation Website! Let's collapse the left side bar

[2021-06-09 15:28] brandenchan opened #1172 "Revamp Benchmarks Page"
- [ ] Merging maP of DPR/Elastic and DPR/FAISS(Flat) (We need a script to do this so its not manual each time)
- [ ] Adjust scale of speed and performance so their trade off is clearer
- [ ] Change colours in graphs so they are better contrasted
- [ ] Give some interpretation of results
- [ ] Consider switching from passages/sec to docs/sec

This is probably best tackled when the new website is re

[2021-06-09 15:32] brandenchan opened #1173 "Documentation Backlog"
- [x] Reformat code examples so that they don't contain |when copying/pasting them
- [x] Usage of REST API (depends on #1158)
- [ ] Non-escape charactered doc string urls (e.g. pipelines SKLearn query classifier)
- [ ] question generation - docs and tutorials and doc strings
- [ ] classification node
- [ ] Indexing pipelines
- [ ] Crawler output
- [ ] RAY
- [ ] Show full range of what's possible w

[2021-06-09 15:32] #992 closed

[2021-06-09 15:32] brandenchan commented on #1173
This is the follow up to #992

[2021-06-09 15:35] tholor commented on #1170
I used carbon a lot in the past, but it produces images, right? I think a copy/paste mechanism is a must in the docs

[2021-06-09 15:37] tholor commented on #1172
Another thought: shall we switch from passages/sec to docs/sec . This seems easier to communicate and we can still clarify in the description that this is docs of a certain length

[2021-06-09 16:36] brandenchan commented on #1170
I believe it can be embedded to create a code snippet that is scrollable and highlightable (See carbon section [here](https://medium.com/pythoneers/9-different-ways-to-embedded-code-in-medium-9213cb4c0a2e#:~:text=Embedded%20Code%20Directly%20on%20Medium&text=Windows%20%3A%20ctrl%2Balt%2B6,Mac%20%3A%20command%2Boption%2B6))

[2021-06-09 16:40] brandenchan commented on #1172
Sure, that sounds good

[2021-06-10 08:29] guillim opened #1174 "new API endpoint for Feedbacks"
**Question**
I am looking at the _ExtractiveQAFeedback_ Class and from what I read, it allows to record feedbacks for one answer, provided by a Reader.

Do you think it would be useful to add a new kind of feedback, we can call it _RetrieverFeedback_, that let users report if the answer was part of the top 5 results provided ? (or top X it doesn't matter)

**Additional context**
We can think of it

[2021-06-10 09:34] AymericSallet commented on #1046
Hello @julian-risch

I just saw that the issue have been solved in FARM. Is it now working with Haystack ?

[2021-06-10 09:53] Timoeller opened #1175 "add haystack.__version__"
Lets add a version tag to Haystack : )

Similar to https://github.com/deepset-ai/FARM/pull/761

[2021-06-10 10:14] julian-risch commented on #1046
Hi @AymericSallet Yes 👍 It is working in Haystack if you use the new FARM release 0.8.0 and Haystack branch `dpr_without_bert_tokenizer`. If you try it out, please let me know if it works for you! It is working on my side. Please make sure to set `infer_tokenizer_classes=True`when you initialize DensePassageRetriever with `etalab-ia/dpr-question_encoder-fr_qa-camembert`. We will merge the branch i

[2021-06-10 11:59] AymericSallet commented on #1046
I confirm, everything is working perfectly.

Thank you very much for all the work you have done.

[2021-06-10 13:24] #1116 closed

[2021-06-10 16:48] shahrukhx01 commented on #687
Firstly, thanks @lalitpagaria for pointing this issue to me over slack!

Hi @tholor, I have been exploring the best way of answering questions from tables as well for some other work. Yes, even if we split the table when passing to TAPAS / TaBERT, in the worst-case scenario when the answer is not in the table or i.e., is in the last batch of the table, it'd considerably slow it down and generally,

[2021-06-11 07:17] Nobiic opened #1176 "KeyError: "'text'""
**System:**
 - OS: Windows 10
 - Haystack version (commit or version number): 8.0.0

[def find_answer():
# Set your path to pdf directory
converter = PDFToTextConverter(remove_numeric_tables=True, valid_languages=["en"])
doc_pdf = converter.convert(file_path=r"~C:\Users\Nobic\Desktop\programing\API\PDFS",  meta=None)
retrieve = format(doc_pdf)
cdqa_pipeline = ExtractiveQAPipeline(reader='models/be

[2021-06-11 08:34] #658 closed

[2021-06-11 09:28] bogdankostic commented on #687
Hi @shahrukhx01, thanks for sharing your experiences with TableQA!
It would definitely be interesting to compare seq2seq models generating SQL queries with models that directly extract answer cells from the table.
Also, regarding the sequence limit for extractive TableQA models, the TAPAS team just released [this paper](https://arxiv.org/pdf/2106.00479.pdf), where they use a pruning model prior to

[2021-06-11 09:41] shahrukhx01 commented on #687
@bogdankostic, thanks for your response, I just skimmed the paper, the technique they are proposing is the usage of two neural networks, this is my opinion as I'm not an experienced DL researcher so I could be wrong but if we use two neural nets  (Tapas style QA) compared to single (SQL generator) we would have more uncertainty and more chance of an error as compared to a single one and also avera

[2021-06-11 09:51] cvgoudar opened #1178 "Can we change the behaviour of use_gpu = True to default to cpu incase gpu is not present"
**Question**
In some parts of the code, the checks for use_gpu=True fails if GPU is not present. In some other parts of code, it gracefully defaults to CPU in case GPU is missing. Can graceful default to CPU be standard behavior

**Additional context**
Attaching sample codes with different behaviors:
[code]

For Embedding Retriever the behavior is as follows:

[code]

[2021-06-11 09:54] Timoeller commented on #1178
Good catch. Of course we want that behaviour. Would you like to contribute?
Happy to create a PR myself otherwise...

[2021-06-11 10:04] cvgoudar commented on #1178
Yes. I would like to contribute.

[2021-06-11 10:04] lalitpagaria commented on #1178
Exactly same thing come up during code review https://github.com/deepset-ai/haystack/pull/1086#discussion_r648110318.
It would be great to make it utils function and use that common function to everywhere.

[2021-06-11 10:18] vblagoje commented on #1178
Ok @lalitpagaria I'll merge the fix in case this PR gets integrated first. Otherwise, don't forget to replace the necessary code you reference above.

[2021-06-11 10:25] lalitpagaria commented on #1178
@vblagoje Let's leave your changes as it is and address use_gpu related changes in separate PR. WDYT?

[2021-06-11 10:32] cvgoudar opened #1179 "Merge behavior of multiple search requests in pipeline.py"
**Is your feature request related to a problem? Please describe.**
Currently, the merge functionality mostly supports the weighted average of scores of multiple retrievers. One of the issues is each retriever throws a different set of candidates. In most cases, the candidate documents are not overlapping across multiple retrievers which forces the weighted average to be lower than the ideal desire

[2021-06-11 11:26] #1176 closed

[2021-06-11 19:38] cvgoudar commented on #1178
I edited the code in the pull request below:
https://github.com/deepset-ai/haystack/pull/1182

[2021-06-13 06:17] SAIVENKATARAJU opened #1183 "Could not able to start elastic search with python approach"
Hi
I am using GCP. I am trying to start ES using python approach as mentioned in tutorials.
[code]

[code]

Please suggest me how to do.

[2021-06-13 11:09] cvgoudar opened #1184 "question field has None value from retriever"
**Question**
If an original list of documents has **question** as one of keys it is not being preserved either in document store or having issues with retriever. This is causing some side effect until question field is renamed to some other name.

**Additional context**
I have created a sample notebook to reproduce the issue:
https://colab.research.google.com/drive/1uXWwqAvq9mioF-vTfT7elxMB5c9yTwZ

[2021-06-13 12:17] ghnlptest opened #1185 "Haystack api: Worker with pid 101 was terminated due to signal 4"
Trying to run the docker demo on the readme page. I got the UI to load but for some reason I keep getting this error from the haystack api container/image:

 Worker with pid 101 was terminated due to signal 4

I dont think its a memory issue. System monitor  shows plenty of memory available. The system is a VM running on virtualbox.

Its a cpu system

[2021-06-13 16:19] psorianom opened #1188 "Model version for each DPR model"
## Context
I am trying to match the results I obtain using a DPR model with the hash version of the model in the HuggingFace repo, to allow for some level of reproducibility later on.
This is possible because while loading a DPR model, in order to choose a specific version, we can use the parameter `model_version` to select one.

## Problem
The DPR architecture consists on two models, (e.g., faceb

[2021-06-13 18:20] #759 closed

[2021-06-13 18:59] tholor commented on #611
Implemented in #1099

[2021-06-13 18:59] #611 closed

[2021-06-13 19:13] x110 opened #1189 "More detailed output when running extractive QA pipeline"
i am using the extractive question answering pipeline and would like when running the pipeline (performing a prediction) to have access to the results of the intermediate nodes such as the returned hits by the retriever subsystem.

[2021-06-14 08:33] brandenchan commented on #1188
Hi @psorianom, I believe that `model_verison` (called `revision` in HF Transformers) can refer to either the model hub commit hash OR the model hub commit tag. Is it an option for you to tag both models with the same tag name?

I want to explore this option first before implementing two `model_version` arguments because I think DPR query and context encoders should always be paired with the same m

[2021-06-14 08:41] brandenchan opened #1193 "Return Intermediate Node Output"
Many users in our community have been asking to have easier ways to return the output of intermediate nodes. I can see that this could be very useful for debugging and also qualitative evaluation.

I think this feature would be very useful, though the exact design is not yet fully clear.

[2021-06-14 08:42] brandenchan commented on #1193
@oryx1729 @tholor Do either of you have strong thoughts on this topic?

[2021-06-14 08:45] brandenchan commented on #1189
Hi @x110 , returning intermediate node outputs is not something we have explicit support for yet but I can see the value of that. I've opened #1193 to deal with the topic.

In the meantime, there are a few work arounds for your issue. If you set your logger level to `debug`, you should see retriever output being written to the console [here](https://github.com/deepset-ai/haystack/blob/master/hayst

[2021-06-14 08:48] psorianom commented on #1188
Hi @brandenchan, thank you for your answer.
Yes indeed! I missed the fact that we can refer to a commit tag. Indeed, it would not make sense to have different versions for each model...
I will check the tag option. We can close this issue and then re-open it if needed.

[2021-06-14 09:11] #1188 closed

[2021-06-14 10:23] Subhashree-Tripathy opened #1194 "Can we use the pre-trained model on any other dataset for SPARQL query generation?"
**Question**
In the Question Answering on Knowledge Graph, can we use the pre-trained model for any other dataset for SPARQL query generation?
**Additional context**
Add any other context or screenshots about the question (optional).

[2021-06-14 10:34] julian-risch commented on #1194
Hi @Subhashree-Tripathy the pre-trained model can only generate questions about resources it has seen during training. Otherwise, it cannot translate the name of the resource to the identifier used in the knowledge graph. For example, it can translate "Harry" to "hp:Harry_potter" only because we trained it to do so.
We don't support the training of a custom model for Text2SPARQL in haystack but th

[2021-06-14 10:47] brandenchan commented on #1112
Hi @wolfsbane9513, I ran Tutorial2 using SQuAD's train set and I also found that the loading bar was not totally smooth. The bar seemed to only update at 3%, 23% and then about every 5-10% after that. This seems to be regular behavior to me. To give you a sense of the scale, there are 130K questions in SQuAD train, coming from 19K paragraphs, from 442 documens.

Is your dataset on a similar scale

[2021-06-14 10:58] wolfsbane9513 commented on #1112
Hi @brandenchan , Thank you for the clarification the scale of our dataset is very small about 512 question answer pairs and just about 20 json files in the Squad format. So I just wanted to understand if its just tqdm behavior that the progress bar shows only 23% but all the files are ideally getting processed ? Attaching the screenshot of the behavior that I see when I am trying to run the reade

[2021-06-14 12:50] brandenchan commented on #1112
Ok I see. Yes I am quite confident that that is just tqdm behavior. If you are getting to the lines starting `Train epoch 0/2` you can expect that your full train dataset was processed already.

If you'd like to verify this, you can provide the same dataset as `dev_filename` and set `evaluate_every=10` when calling `Reader.train()`. Every 10 steps an evaluation will be performed on the model being

[2021-06-14 12:53] julian-risch commented on #1147
Hi @shamanez in this particular scenario the renaming approach seems to work, yes. 🤞 However, that's a rare case. There is no prediction head, which would require conversion. The prediction head in FARM takes the embeddings of the language model and return logits for a given task, e.g., classification task. As we work with the raw embeddings from the language model in DPR, there is no prediction h

[2021-06-14 12:53] #1147 closed

[2021-06-14 14:10] julian-risch commented on #1046
After upgrading FARM to 0.8.0 in Haystack, current Haystack master solves this problem.

[2021-06-14 14:10] #1046 closed

[2021-06-14 16:02] tholor commented on #1159
Fixed in #1181

[2021-06-14 16:02] #1159 closed

[2021-06-14 16:02] tholor commented on #1148
Seems resolved. Feel free to re-open if not :)

[2021-06-14 16:02] #1148 closed

[2021-06-14 16:06] tholor commented on #1065
Seems resolved. Feel free to re-open if not.
FYI we are also currently working on a blog series about speed optimizations in Haystack. You will find it on twitter / linkedin in the next weeks.

[2021-06-14 16:06] #1065 closed

[2021-06-14 16:08] wolfsbane9513 commented on #1112
Hi @brandenchan Thanks a lot for the direction this was what I was looking for. Greatly appreciate your assistance and guidance

[2021-06-14 16:08] #1112 closed

[2021-06-14 16:11] tholor commented on #1093
@julian-risch  Ok, so let's remove the lines in Haystack then :)

[2021-06-14 16:19] tholor commented on #1154
We just added weaviate which can do vector similarity + filtering.
I would not prioritize the integration of Qdrant unless we see a clear USP in contrast to the other DocumentStores as we don't want to confuse users with too many options.

[2021-06-14 16:19] #1154 closed

[2021-06-14 16:23] tholor commented on #1164
Hey @monika1800 ,
Seems like you have one very long field in one of your documents. Can you maybe try to narrow it down to the document that throws this error? From the elasticsearch logs it seems to be a field named `Simpplr__Text_Intro__c` but not sure if you one that is really named like this :thinking: ?

[2021-06-14 16:26] tholor commented on #1174
Do you mean for a pure "RetrieverPipeline" that just returns top X documents OR for an "ExtractiveQAPipeline" where you want to give feedback on the shown passages (not the "extracted answers")?

[2021-06-14 16:27] tholor commented on #1167
Seems resolved. Feel free to re-open if not :)

[2021-06-14 16:27] #1167 closed

[2021-06-14 16:33] tholor commented on #1183
It's probably related to the combination of flask  + launching ES from there.

If you have access to the shell of your GCP instance, it will be the easiest to start elasticsearch via docker before you launch your flask app.

If that is not possible for you, you should launch the daemon directly from the shell (and not via python from your flask app).

See [our docs](https://haystack.deepset.ai/doc

[2021-06-14 16:34] guillim commented on #1174
Exaclty !

[2021-06-15 05:48] SAIVENKATARAJU commented on #1183
Hi
Thanks for the reply. But my requirement is I am creating docker container with flask app.py , models and  other needed files. If I Opt for docker way I need to run docker inside docker container, That's why I Choose python approach for this.

[2021-06-15 05:54] tholor commented on #1183
Elasticsearch is really a heavy dependency. So best practice would really be running two containers - one with elastic and one with your flask app. If that doesn't work you can change the docker CMD to not only launch flask but also elasticsearch.

[2021-06-15 06:03] SAIVENKATARAJU commented on #1183
Okay..Thanks for the updte.

[2021-06-15 06:03] #1183 closed

[2021-06-15 07:30] julian-risch commented on #1194
@Subhashree-Tripathy Do you have any other question regarding Question Answering on Knowledge Graphs? If not, I will close this issue. Feel free to open a new one if anything else comes up.

[2021-06-15 07:42] #1194 closed

[2021-06-15 07:46] #1093 closed

[2021-06-15 08:08] guillim commented on #1174
Does it sound useful for the project (I am about to start working on e PR) ?

[2021-06-15 08:18] tholor commented on #1174
Yes, I think storing feedback for retrieved documents is generally useful!

I am still wondering which of the two options you have in mind here ;)
Also: Do you envision one feedback per document or something like "the right document was somewhere within the top 5"

In terms of design, I see quite a few question marks that we need to tackle:
- New class vs. making `ExtractiveQAFeedback` more genera

[2021-06-15 08:21] guillim commented on #1174
Sorry for not being very explicit... this picture will better sumup my thoughts :
![Screenshot 2021-06-15 at 10 19 54](https://user-images.githubusercontent.com/13087916/122018525-3c5d5b00-cdc3-11eb-8ab6-029f0d2d9a47.png)

Basically, we do a classic retriever-reader pipeline, but we need to provide some "result page" feedback to measure the global satisfaction of our users

[2021-06-15 08:22] guillim commented on #1174
So yes it's more about  _"The right document was somewhere within the top 5"_

[2021-06-15 08:29] guillim commented on #1174
To answer in detail your previous list of points:

Not sure. I think would go for a different class, because it's more about measuring weeks after weeks the satisfaction rates. I don't easily see a new dataset out of this feedback endpoint.

[2021-06-15 09:31] stphnthiel opened #1197 "Crawler does not write JSON, but serializes the result dict to a string written in a .json file"
First of all, great work on Haystack! It’s an incredible library and I really enjoy playing around with it!

I noticed an odd behavior of the Crawler as in this example:

[code]

The resulting file looks like this:

[code]

which is not valid JSON, as described in the docs. The Crawler rather simply serializes the data dict to string and writes it into a JSON file.

A working import to load the re

[2021-06-15 09:33] stphnthiel commented on #1197
In addition, it would be a great addition to work with the results directly, e.g. from a depth=0 crawl, without writing files to disk.

[2021-06-15 11:55] oryx1729 commented on #1185
Hi @ghnlptest, can you share the complete logs when you run `docker-compose up`?

[2021-06-15 13:31] Timoeller commented on #1179
Sorry for the late reply. The longer I read your description the less I understand what you want :D

I think we first need to make scores comparable acress retrievers. See #1145 and then we can do some proper weighted merging. Would you agree, or is your proposed solution going into a different direction?

[2021-06-15 13:50] cvgoudar commented on #1179
Let me explain with an example:

R1, R2, R3 are 3 retrievers

Let us say we have 3 retrievers with top 3 candidates from each retriever.  Let us say collectively they have 5 unique documents across 3 retrievers. The first table shows results with current method.

![image](https://user-images.githubusercontent.com/13920855/122063885-46587b80-ce0e-11eb-935e-e355095b2901.png)

 In case we populated t

[2021-06-15 13:50] tholor commented on #1057
Closing the issue for now, as I can't reproduce it and there's no way forward without further information.
Feel free to re-open if the problem persists and you want to debug it together.

[2021-06-15 13:50] #1057 closed

[2021-06-15 13:52] cvgoudar commented on #1179
Also, the proposed method is complementary to the suggestion in #1145 as well. Both are required in some way if merge needs to be done in a sensible way.

[2021-06-15 13:53] tholor commented on #957
Implemented in #1064

[2021-06-15 13:53] #957 closed

[2021-06-15 14:02] tholor commented on #914
Implemented in #1086

[2021-06-15 14:02] #914 closed

[2021-06-15 14:07] tholor commented on #1156
@hieudion123123 Are you still facing this problem after using the docker-compose from my above comment?

[2021-06-15 15:06] SAIVENKATARAJU opened #1200 "Performance issues while there is little change in question"
Hi.

I am trying to implement Extractive QA for my own dataset. do we need to perform additional pre-processing for question? My model is not able to find the answer when there is a little change in the question like below:

[code]
There are many cases like this. How can I get the question intent properly?. Do I need to prepare train data with every possible question form for a Single answer?

Tha

[2021-06-15 15:36] Timoeller commented on #1179
Ah thanks for clarification, I now understand what you mean and it makes a lot of sense. Your suggestion would be an addition to comparable scores.

What would be your suggestion for implementing it? I guess a function that can fetch scores related to a query and multiple doc ids would be good, with a default to 0 score. You could hijack the retrieve function and apply filters.

Would you like to

[2021-06-15 15:50] #1111 closed

[2021-06-15 16:12] cvgoudar commented on #1179
One potential is to implement a function which gets the score between the query and the specific document from the retriever.

![image](https://user-images.githubusercontent.com/13920855/122086775-a60c5200-ce21-11eb-9126-89b4ee40d480.png)

There are complexities with passing the parameters as well. Also my proposal is incomplete as document object needs to be populated as well if missing for the f

[2021-06-15 23:45] DavidSilva98 commented on #1139
A quick solution that I found was to override the `query_by_embedding` method in the `OpenDistroElasticsearchDocumentStore` class as the problem originates from the way the method is defined on the parent class `ElasticsearchDocumentStore`.
[code]
Also, note that I changed the input type of the `filters` parameter as previously it only accepted "terms" filters. This is unrelated to this issue and

[2021-06-16 06:56] tholor commented on #1174
Ah ok, in that case of more "general user satisfaction", I would actually rather leave this feature out of Haystack for now.
We rather want to focus on the feedback that can be also be used for training. I think mixing this now with other metrics that we store in elasticsearch, could easily end up in a mess and creating confusion for the end-user.

[2021-06-16 08:29] cvgoudar commented on #1178
This issue can be closed as it is fixed in #1182

[2021-06-16 08:38] Timoeller commented on #1178
Good point.

Btw when you write "fixes #issuenumber" in the PR description it automatically closes the associated issue.

Thanks for the contribution.

[2021-06-16 08:38] #1178 closed

[2021-06-16 08:58] Timoeller commented on #1200
Hey normally the models should be general enough to answer those questions, regardless of small changes in the question.

Could you give more details of how you load the model and paste the text you are asking the question on?

[2021-06-16 12:58] tholor commented on #1062
Seems stale. Closing it now. Feel free to re-open if the problem still persists

[2021-06-16 12:58] #1062 closed

[2021-06-16 14:38] tholor commented on #1026
Seems resolved. Feel free to re-open if not

[2021-06-16 14:38] #1026 closed

[2021-06-16 14:39] tholor commented on #1061
Seems resolved. Feel free to re-open if not

[2021-06-16 14:39] #1061 closed

[2021-06-16 14:39] tholor commented on #1068
Seems resolved. Feel free to re-open if not

[2021-06-16 14:39] #1068 closed

[2021-06-16 14:39] tholor commented on #1011
Seems resolved. Feel free to re-open if not

[2021-06-16 14:40] #1098 closed

[2021-06-16 14:52] guillim commented on #1174
True. I figured out using Matomo or any other analytic tool could do the job for now. Closing this for now

[2021-06-16 14:52] #1174 closed

[2021-06-17 13:17] liquidcowgithub commented on #1148
Yes this did resolve the issue, apologies for the delayed reply.
Thanks for the assistance :)

[2021-06-17 19:23] wolfsbane9513 opened #1206 "How does Squad to DPR script work"
**Question**
I am trying to convert the dev-2.0.json file present on the Squad website to a DPR file and trying to fine tune the DPR.
Using the squad_to_dpr.py python script.
1) Is Title necessary for this?
2) Although the file is getting processed without the title and generating the dpr file logically the title score won't get generated but the score field itself is not getting generated and the

[2021-06-18 01:26] HighDeFing commented on #1185
I get the same error using windows 10 docker dekstop.
![docker_error_signal](https://user-images.githubusercontent.com/39177022/122491748-8eb09e80-cfb2-11eb-87a7-68266610f7de.png)
![docker_ps](https://user-images.githubusercontent.com/39177022/122491757-92dcbc00-cfb2-11eb-81d4-614d42c4d91d.png)
[haystack_elasticsearch_1.log](https://github.com/deepset-ai/haystack/files/6674005/haystack_elasticsear

[2021-06-18 06:01] #1200 closed

[2021-06-18 06:34] SAIVENKATARAJU opened #1207 "PDFToTextConverter doesn't working on PDF's that are generated using microsoft print to pdf"
**Describe the bug**
PDFToTextConverter not working on PDF's that are generated using Microsoft print to pdf. I have sample PDF, I have created sub-pdf using print to PDF by specifying page numbers. But when I am trying to read the sub-pdf I see only some characters
**Error message**
[code]
**Expected behavior**
It should read the sub-PDF

**Additional context**
Add any other context about the pro

[2021-06-18 08:57] SAIVENKATARAJU commented on #1207
It works when I split the PDF using pdftk package

[2021-06-18 08:57] #1207 closed

[2021-06-18 09:40] Timoeller commented on #1200
Hey is your issue fixed and did you find out why the model predicted different answers?

[2021-06-18 19:05] bhadreshpsavani commented on #1175
Can I work on this?

[2021-06-21 09:01] jenka13all opened #1213 "ModuleNotFoundError: No module named haystack.ranker"
When I try to reproduce the example for using the FARM ranker (https://haystack.deepset.ai/docs/latest/rankermd), I get an error on the import line

from haystack.ranker import FARMRanker

--> ModuleNotFoundError: No module named 'haystack.ranker'

I've used the following command to install hastack on my Windows laptop:

pip install farm-haystack -f https://download.pytorch.org/whl/torch_stable.ht

[2021-06-21 10:52] #1213 closed

[2021-06-21 10:52] jenka13all commented on #1213
ranker apparently only available from master branch, i.e. via git clone

[2021-06-21 15:29] brandenchan commented on #1175
@bhadreshpsavani Yes you're welcome to! Let us know if you need any tips / pointers!

[2021-06-21 16:05] tholor commented on #1155
Hey @shahrukhx01 ,

Would be great if you could add a first draft of the documentation. We are soon releasing Haystack 0.9.0 and would be cool to have up-to-date docs coming with it.

[2021-06-21 16:53] #1078 closed

[2021-06-21 17:05] julian-risch commented on #1206
Hi @wolfsbane9513 the title field is not mandatory, if there is no title, an empty string is assumed to be the title: https://github.com/deepset-ai/haystack/blob/4dd5a7a744f8e2271a6b1256c9045e86b230dfe7/haystack/retriever/squad_to_dpr.py#L171

It's also fine that there is a passage_id field that is empty. Here is where it comes from: https://github.com/deepset-ai/haystack/blob/4dd5a7a744f8e2271a6b

[2021-06-22 06:49] HeChengHui commented on #1049
Hi, I am currently having a problem with faiss as well. I installed haystack and faiss(through conda-froge as mentioned above)
![image](https://user-images.githubusercontent.com/84503515/122877058-c465d680-d368-11eb-9b6b-2a261b43af85.png)

But currently got an error: AttributeError: module 'faiss' has no attribute 'swigfaiss' when trying out tutorial 1.
![image](https://user-images.githubuserconte

[2021-06-22 08:20] AymericSallet opened #1218 "Confidence score"
**Question**
Hello,
I just saw the documentation for the confidence score. But when I use print_answers(), the probability is still here instead of the confidence score. Is it available in haystack ?
If it is only available in FARM, how can i use it with a FARMReader ?

[2021-06-22 09:29] shahrukhx01 commented on #1155
@tholor I'm sorry lately I have been busy preparing for my upcoming exams, if I get time this weekend I will try pushing an initial draft, otherwise, there can be a delay till next month.

[2021-06-22 09:48] akkefa commented on #1175
@brandenchan Is there anything I missed in the pull request? 🙈

[2021-06-22 10:37] brandenchan commented on #1175
Hey sorry, my mistake! No nothing missed!

[2021-06-22 10:37] #1175 closed

[2021-06-22 14:08] #1108 closed

[2021-06-23 07:50] julian-risch commented on #1049
Hi @HeChengHui could you please try to uninstall faiss but keep faiss-cpu? Could that be a fix to your problem?

[2021-06-23 08:22] HeChengHui commented on #1049
Hello @julian-risch
![image](https://user-images.githubusercontent.com/84503515/123062512-2db81900-d43f-11eb-8e70-1462aaa974db.png)

After conda remove only faiss package, I got another error as seen below:
![Uploading image.png…]()

Should I remove the other faiss packages besides faiss-cpu?

[2021-06-23 08:38] crossoveranx opened #1219 "Score vs Probability ordering"
**Question**
I see that the order of answers for Farm is sorted by score instead of probability (confidence). Why is it the case that sometimes the probability of an answer can be higher, yet have a lower score? If this is the case, which one should be used in terms of establishing a threshold of how confident the model is that the answer is relevant?

Thanks!

[2021-06-23 08:42] AymericSallet commented on #1218
Thank you @julian-risch for your answer.

I just tried the new function `calibrate_confidence_scores` but I have an error when `open_domain = True` in the` add_eval_data ` function.
The error is:

`IndexError: Cannot choose from an empty sequence`

When `open_domain = False` the error doesn't appear. Do you know why ? the json used has been generated from the annotation tool of haystack

![error](

[2021-06-23 09:40] akkefa commented on #1168
@brandenchan I will be working on this. Can you share the Pipeline yaml code to run and evaluate the changes?

[2021-06-23 10:02] #955 closed

[2021-06-23 10:26] julian-risch commented on #1049
There still seems to be a problem with the FAISS installation. I would recommend to remove all faiss packages and then re-install only `faiss-cpu`with conda forge.
Even better would be if you create a new virtual environment and install the dependencies as defined in https://github.com/deepset-ai/haystack/blob/master/requirements.txt
After you installed Haystack's requirements as described in the

[2021-06-23 10:53] julian-risch commented on #865
The link to the notebook changed. It's here now: https://github.com/huggingface/nn_pruning/blob/main/notebooks/00-using-pruned-transformers.ipynb

[2021-06-23 11:32] guillim commented on #955
tks for the job

[2021-06-23 13:01] julian-risch commented on #1219
Hi @crossoveranx answers in FARM are sorted by confidence score. Sorry for the confusion with the different terminology of scores, probabilities and  confidence.
If you are interested, here is the line of code in FARM where the score is set: https://github.com/deepset-ai/FARM/blob/47dfa4f9377b57fc0343f6ecc5321a497b1ef884/farm/modeling/prediction_head.py#L1431

And here is the line where the answer

[2021-06-23 13:07] julian-risch opened #1220 "Drop score field from answers to prevent confusion with probability/confidence"
Answers contain two fields `score` and `probability`, where `probability` is the confidence score calculated and optionally calibrated in FARM. `probability` takes into account only the start index of the answer but is guaranteed to be in range 0 to 1. `score` was previously used as confidence score and has no upper range limitation. It has no advantage over `probability` except for taking into ac

[2021-06-23 15:03] SAIVENKATARAJU opened #1221 "sqlite3.OperationalError: no such table: document error with Flask"
Hi ,

I am using FAISSDocumentStore with DPR for ExtractiveQA. Everything running smoothly whenever I am running the flow in the jupyter notebook. but surprisingly, the following error is occurred when inferencing through FLASK RESTAPI.
error below:

[code]

[2021-06-23 15:30] julian-risch commented on #1219
Another reason why answers sometimes would be ranked differently with regard to `probability` and `score` is about no_answers. `probability` takes into account how confident the model is that there is no answer to the question and balances the `probability` accordingly. In contrast, `score` does not take into account no_answers properly.

[2021-06-23 15:44] julian-risch opened #1515 "allow switching between confidence scores in reader"
Let's have only one score in answers but support switching between the two options: `probability` and `score`
To this end, the prediction head needs to sort based on a switch here:
https://github.com/deepset-ai/FARM/blob/cf6f96ffcedeb7b1341278dcdd6437e99efaa75b/farm/modeling/prediction_head.py#L1467
Right now, answers contain both `probability` and `score`:
[code]

Related issue in Haystack https:

[2021-06-23 16:17] brandenchan commented on #1168
Awesome thanks! You can find an example indexing pipeline yaml [here](https://github.com/deepset-ai/haystack/blob/master/rest_api/pipeline/pipelines.yaml)!

[2021-06-23 20:31] RameshArvind opened #1222 "Pytorch Native AMP support"
**Question**

I was wondering if there are plans for adding support for [Pytorch Native AMP](https://pytorch.org/docs/stable/amp.html). I can see that currently Nvidia apex is supported.

A slightly unrelated question would it be fine for me to perform training without mixed precision and use it only during inference. Would this affect the performance in any way?

**Additional context**
I'm curren

[2021-06-24 07:17] HeChengHui commented on #1049
1) I copy-pasted the requirements.txt file and commented out the faiss installation:
`# for using FAISS with GPUs, install faiss-gpu # faiss-cpu>=1.6.3`
2) In a new VE in conda, I pip installed the requirements, then install faiss-cpu via: `conda install -c conda-forge faiss-cpu`
3) Import faiss works
4) Followed tutorial 1 [https://colab.research.google.com/github/deepset-ai/haystack/blob/master/

[2021-06-24 07:22] #1137 closed

[2021-06-24 09:13] julian-risch commented on #1049
After your third step, I think you have a working setup. Step 4 might break the setup again. When you install Haystack via pip install git+https://github.com/deepset-ai/haystack.git the faiss-cpu dependency might again be installed from pypi, which does not work well on Windows.
After Step 4, I suggest that you check again that the installed faiss-cpu version is from conda forge and not from pypi.

[2021-06-24 09:29] HeChengHui commented on #1049
In that case after step3, do i only just pip install farm-haystack and grpcio-tools==1.34.1? After step 3, i realised that there is only farm installed and no farm-haystack.

[2021-06-24 10:37] tholor commented on #1122
Hey @JakubPatrik ,

Sorry for the late response here. I just investigated your problem and was able to replicate it.
Even though we don't allow filtering on any other types of meta data yet, I see no reason why we should limit the type of meta data that is returned with documents in other queries.

It should be fixed with #1224. Can you please give it a try after installing from the latest master

[2021-06-24 10:42] julian-risch commented on #1049
You would do the following to install Haystack from GitHub on Windows:
`git clone https://github.com/deepset-ai/haystack.git`
`cd haystack`
remove faiss-cpu from requirements.txt in your text editor
`conda install -c conda-forge faiss-cpu`
`pip install --editable .`

If you would like to install via `pip install farm-haystack` on Windows then the steps are a bit different:
`pip install farm-haysta

[2021-06-24 11:06] tholor commented on #1222
Hey @RameshArvind ,

Yes, we will eventually migrate but it doesn't really have a high prio at the moment as we are rather focusing on other features like making the `Pipeline` more scalable and user-friendly.

Would you be interested in contributing here? We have already an issue in FARM for it (https://github.com/deepset-ai/FARM/issues/618) and could guide you along the way.

[2021-06-24 12:18] tholor commented on #1080
Fixed by #1223

[2021-06-24 12:18] #1080 closed

[2021-06-24 13:33] SAIVENKATARAJU commented on #1221
Hi,

I am able to create REST end point with FASTapi. Could not able to figure out the issue with flask.

[2021-06-24 14:59] oryx1729 commented on #1221
Hi @SAIVENKATARAJU, can you share the code for the API to help reproduce the issue?

[2021-06-25 01:12] #804 closed

[2021-06-25 05:33] monika1800 opened #1226 "Feature to delete documents after expiry in Elastic Search Document Store."
**Is your feature request related to a problem? Please describe.**
Is there a way during indexing we can index the set_expiry date and Elastic Search document store handles the deletion of these documents after the expiry?

**Describe the solution you'd like**
If not, can such a feature be added in the elastic search document store where we can define the expiry date column during indexing the dat

[2021-06-25 05:41] SAIVENKATARAJU commented on #1221
Hi ,

Sorry for late reply, Please find the code
[app.zip](https://github.com/deepset-ai/haystack/files/6713780/app.zip)

[2021-06-25 06:05] oryx1729 commented on #1221
Hi @SAIVENKATARAJU, some quick thoughts on your API code:

- the `write_documents()` call should be separate from the API. With the current approach, each API worker will write to the document store, creating duplicate documents.
- the `FAISSDocumentStore` by default uses an in-memory SQLite instance. For the API, a file-based SQLite instance would be a better choice. You can do that by initializi

[2021-06-25 06:16] SAIVENKATARAJU commented on #1221
Hi Thanks for your answer;

Can you please shed some light on this?. I am iterating over length of each clean_doc and trying to add it to document store. Also every time I am using delete_documents to delete every text that was previously added. what do you mean by I should separate the code.

Okay I will do that.

No Specific reason. I regularly use flask to write apis

[2021-06-25 06:22] oryx1729 commented on #1221
With the current approach, if your API has say n workers, then each of the workers are deleting the documents and writing them again. Since, they'd be doing it all concurrently, the document store might end up in an inconsistent state.

You could have the writing of documents in a separate Python script that you can run once, before you start the API for the first time. For all subsequent use of t

[2021-06-25 09:58] julian-risch commented on #1218
Hi @AymericSallet great to hear that you tried out the `calibrate_confidence_scores` method. Unfortunately, I think running the calibrate_confidence_scores method together with the `open_domain=True` setting is something we do not support at the moment. The problem might be in the differences in processing the evaluation data in open domain and closed domain evaluations : https://github.com/deepse

[2021-06-25 12:36] Timoeller opened #1227 "Make Evaluation / Benchmarks more prominent and modular"
Currently the usage of evaluation for benchmarking is hidden within haystack/test/benchmarks
It should become more prominent (an own high level folder) and in the future more flexible and modular.

We could integrate other evaluation frameworks, like https://github.com/UKPLab/beir/tree/main/beir
and/or connect it to tracking frameworks like MLflow, wandb etc

[2021-06-25 12:59] JakubPatrik commented on #1122
Thanks for the heads up, I will try this feature and let you know in case
some other error pops up.

št 24. 6. 2021 o 12:37 Malte Pietsch ***@***.***> napísal(a):

[2021-06-25 14:48] guillim opened #1228 "4 concurrent request"
Hello,

Is there any reason why we restrict to 4 the number of concurrent request ? Could it become an env variable ?

https://github.com/deepset-ai/haystack/blob/2c964db62d127448ee102cf678d20216ff91624d/rest_api/controller/search.py#L49

Tks,

[2021-06-25 16:50] #1122 closed

[2021-06-25 17:53] guillim opened #1229 "RuntimeError: Already borrowed"
**Question**
I am encountering a strange issue when I try to send multiple request at the same time (I am doing sort of a stress test). I see in the Haystack FAST_API this in the logs:
`RuntimeError: Already borrowed`
Anyone got this before ?

**Additional context**
I am using a single machine: 32Go CPU, no GPU.

[2021-06-25 17:58] INF800 opened #1230 "Multimodal search with text and image"
Hi,

I am planning to implement multimodal search with text and image with networks like CLIP
    - Input: combination of text description and image.
    - Output: similar images matching the description.

- I think haystack is meant only for NLP but I saw some implementations like Milvus which can help me with embedding search. Can haystack help me avoid doing some major heavy lifting?
- Are buil

[2021-06-25 18:09] HeChengHui commented on #1049
Thank you! I followed the steps in the upper half and it worked.

[2021-06-25 20:32] julian-risch commented on #1049
Great to hear that!

[2021-06-26 23:51] bappctl commented on #1077
@oryx1729 No worries. I tried with 1 worker too. It didn't help. After failed tries, I dismantled that instance and moved on unfortunately I couldn't verify it now. I will take a look into the last option, there is no preference flask or fast api at my end, all I wanted is to get it running successfully. So far no luck. I will give another try and update you.

[2021-06-27 01:23] #807 closed

[2021-06-27 06:29] Always-prog commented on #81
Hi @adjouama.
I also need to refactor the work haystack to it will work with Solr.
But, did you do it? And if you refactored haystack for Solr, can I use your code?
Thanks.

[2021-06-28 07:38] tholor commented on #1228
Hey, we limit the concurrent requests here to avoid an overload slowing down the latency of each single request (especially relevant for CPU machines). There's however no reason to keep this one static as it should be adjusted depending on the individual set up or use case. Let's make it an env variable and add it to the config.py. Do you want to create a PR here?

[2021-06-28 08:55] tholor opened #1232 "Re-design primitives"

[2021-06-28 09:08] tholor opened #1233 "Refactor how args are passed between pipeline nodes (First design)"
As of now:
- we pass a big dictionary from node to node
- each node picks the args defined in its `run()` method
- the rest goes to kwargs
- some nodes also access kwargs for further optional input during `run()`
- everything else is kept in kwargs and in the end the node combines it's own output with the content of kwargs and passes it on to the next node

Problems:
- Not easy to understand for n

[2021-06-28 09:18] tholor opened #1234 "Support more pipeline types in REST API"

[2021-06-28 09:24] tholor commented on #1229
Haven't seen this one before. Can you share more of the logs? Is it anyhow related to the limitation of  concurrent requests (#1228 )?

[2021-06-28 09:49] guillim commented on #1228
Yes let me do that for you !

[2021-06-28 10:12] tholor commented on #1228
merci beaucoup :)

[2021-06-28 13:37] guillim commented on #1229
Yes it is linked to the concurrent requests (#1228 ). It's actually part of a **stress test**

Here is what I see in my logs when I try simultaneous requests:

[code]

It could be related to the Transformers library, but I haven't digged that far yet :)

[2021-06-28 18:16] lalitpagaria commented on #1234
Awesome! This one I will be eagerly looking forward to be added to Haystack.

How about adding all such pipelines at here https://github.com/deepset-ai/haystack/tree/master/rest_api/pipeline, each will different file names like EQA.yaml, DR.yaml, GQA.yaml, RR.yaml etc. And user will be able to choose via config parameter.
So user only need to update PIPELINE_YAML_PATH and get required pipeline wit

[2021-06-28 18:20] Threepointone4 opened #1236 "Score understanding"
**Question**
when I was using retriever the score for one the result was low, but for some reason the probability was high. How does probability calculated from score. ( I was using cosin embedding retriever )

When I computed cosin similarity  from sentence transformer and same through haystack where the method was sentence transformer and model was same there was a difference in value, any reaso

[2021-06-28 18:23] lalitpagaria commented on #1230
@INF800 Thank you for suggesting this. This thing already under discussion at https://github.com/deepset-ai/haystack/issues/1058. Let us keep discussion at one place.

[2021-06-29 05:44] tholor commented on #1228
Closed by #1235

[2021-06-29 05:44] #1228 closed

[2021-06-29 05:51] tholor commented on #1230
From these options, I'd say "modules can be extended" but will require quite some effort from your side. The indexing in a documentstore should be relatively easy, but you will need to implement the CLIP model yourself to create embeddings and probably hack around a few datatypes that are currently tied to text rather than images (e.g. mapping in elasticsearch / Milvus /FAISS). For everything else

[2021-06-29 05:51] #1230 closed

[2021-06-29 06:35] dktemp888 opened #1237 "Haystack docker-compose UI demo issue"
**Describe the bug**
Following the docker-compose.yaml to build Haystack Demo on an intranet Ubuntu machine that has internet access through proxy, got JSONDecodeError on UI.

**Error message**

Below Error Message was displayed on UI.

[code]
**Additional context**
docker-compose pull & docker-compose up was running successfully till the end, see logs below.

[code]

$ curl -X GET "localhost:9200

[2021-06-29 08:38] #1219 closed

[2021-06-29 08:44] INF800 commented on #1058
Can you please share reference link for the one you've tried. I'd like to see results as well.

Thanks,
Rakesh.

[2021-06-29 08:46] julian-risch commented on #1236
Hi @Threepointone4 the terms score and probability can be a bit confusing here, I agree. It's something we are discussing here: https://github.com/deepset-ai/haystack/issues/1219 and here: https://github.com/deepset-ai/haystack/issues/1220 too. However, you are saying you only used the embedding retriever and not the FARMReader?

It would be great if you could provide a colab notebook for the seco

[2021-06-29 08:50] julian-risch commented on #1206
Hi @wolfsbane9513 did you find out which of the dictionaries is causing the error?

[2021-06-29 13:19] julian-risch commented on #1105
Hi @ShoubhikBanerjee I am sorry that it took us some time to get back to your issue. Unfortunately, longformer models are currently not supported in Haystack/FARM. When the model is loaded from the model hub, FARM tries to infer the type of the model here: https://github.com/deepset-ai/FARM/blob/c144c5cb29466eeac744d4abf72fbd64c12fe97e/farm/modeling/language_model.py#L181
However, longformer canno

[2021-06-29 14:09] kruthikakr opened #1238 "Support for Images in the Document"
Hi
Is there option to retrieve the image + text based data in the document . ie Text-to-Image / Image-To-Text / Image-to-Image / T Search options in the haystack.  If no , any inputs how to include image part here in Haystack.

[2021-06-29 14:57] Timoeller commented on #1153
Hey @calderma were you already able to test out suggestions for faster preprocessing?

Converting 20GB of text should not take too long honestly, I rather think there are some other issues. Are you running your app inside a docker?

If you fixed the preprocessing issue, please report back here with the solution and/or close the issue. Thanks

[2021-06-29 15:02] Timoeller commented on #1179
Hey @cvgoudar do you want to work on it? Please dont feel obliged, we can also implement this feature in one of our upcoming sprints ourselves.

If you already coded something, please open a preliminary PR (Work in progress) so we can give feedback on your design choices.

[2021-06-29 15:25] calderma commented on #1153
Yes! I believe there was some issue with the node it was running on. After that was fixed it takes about 45 mins or so. Sorry for not closing the loop on this. Thanks!

[2021-06-29 15:25] #1153 closed

[2021-06-29 15:36] brandenchan opened #1239 "Allow for batch querying when using Pipelines"
Same larger goal as #1168 but for querying instead of indexing.

As discussed with @oryx1729 and @tholor, we'd like to design the node and Pipeline APIs so that batches of queries can be processed together. This will allow for a better user experience but also allows in future for batch optimizations to speed up querying. Note that we're here focusing first on designing the interfaces. The optimiz

[2021-06-29 15:42] cvgoudar commented on #1179
Thanks for the note. I was planning to take up but haven't started. In which sprint (target date) you are likely to take up. I shall add a PR in case I get started.

[2021-06-29 15:44] cvgoudar commented on #1236
I have seen merit in using both score and probability scores. Specifically, when the score is based on cosine similarity it can act as an absolute threshold for filtering out low-quality matches.

[2021-06-29 19:18] lalitpagaria commented on #779
Milvus now supports filtering with their 2.0 release. https://milvus.io/docs/v2.0.0/release_notes.md

Milvus 2.0 supports storing scalar data. Operators such as GREATER, LESS, EQUAL, NOT, IN, AND, and OR can be used to filter scalar data before a vector search is conducted. Current supported data types include bool, int8, int16, int32, int64, float, and double. Support for string/VARBINARY data wi

[2021-06-29 19:37] tholor commented on #779
Awesome! Let's get it into Haystack (hopefully none of the breaking changes affect us)

[2021-06-29 19:39] lalitpagaria commented on #1238
Please refer discussion in https://github.com/deepset-ai/haystack/issues/1058 and https://github.com/deepset-ai/haystack/issues/1230

[2021-06-29 19:39] #1238 closed

[2021-06-29 19:43] lalitpagaria commented on #779
Missed last line (this one scheduled in 2.1 release) :)

This version 2.0 is completely rewritten and refactored, hence include many breaking changes. So I would suggest to wait for one more release ie 2.1 to stablize it's code base.

[2021-06-29 22:56] VETURISRIRAM commented on #1234
Hey! I have been using ExtractiveQA Pipeline in a Flask Endpoint that I wrote. The latency is very high. It takes about more than 3 minutes to return a response. Below is my code.

Is there a way to make it faster?

`import json
import datetime
import netifaces
import pandas as pd
from flask import Flask
from flask import request
from flask import jsonify
from flask import Response
from haystack i

[2021-06-30 00:09] VETURISRIRAM opened #1240 "Too High Latency for Pipeline using DensePassageRetriever"
Hey! I have been using ExtractiveQA Pipeline in a Flask Endpoint that I wrote. The latency is very high. It takes about more than 3 minutes to get a response from the endpoint. Below is my code. I do `update_embeddings()` after retriever is initialized.

Reader: `FARMReader`
Pipeline: `ExtractiveQAPipeline`
Retriever: `DensePassageRetriever`
Document Store: `ElasticsearchDocumentStore`

I think th

[2021-06-30 03:12] Threepointone4 commented on #1236
@julian-risch Yes there is no FARMReader as this is only semantic search. So I using only docstore + retriver.

[cosin_expt.zip](https://github.com/deepset-ai/haystack/files/6737751/cosin_expt.zip)

I have added colab setup.

1. You can see the score from sentence transfer is different from haystack.

2. when I calculated similarity between **cat** and **appendix** it was higher in probabilty whic

[2021-06-30 04:37] julian-risch commented on #1236
Thank you for providing the colab notebook. I will look into that.

[2021-06-30 05:52] cvgoudar commented on #1236
@julian-risch  @Threepointone4 : I have updated the notebook to try out more combinations for semantic similarity more easily. One can use the below colab notebook for trying different models

https://colab.research.google.com/drive/1raqbJuG1lj_Af2cXBfWh02yQANVdt1PM?usp=sharing

[2021-06-30 05:53] cvgoudar commented on #1236
Also is there any recommendation on which model to use for semantic similarity with higher throughput and embedding time is reasonable

[2021-06-30 07:08] Timoeller opened #1241 "Semantic Answer similarity evaluation"
Common metrics for evaluating QA like Exact Match or f1 score are very strict. They can be better applied to settings where an exact entity (name, date or number) needs to be extracted.
For more complex answers we want a more loose evaluation.

Inspired by other domains like machine translation we have started experiments with a semantic textual similarity metric between ground truth answer and pr

[2021-06-30 08:15] brandenchan commented on #1144
Hi, I'm assuming you've figured it out! Closing this for now but please feel free to reopen if you have any follow up questions

[2021-06-30 08:15] #1144 closed

[2021-06-30 08:16] brandenchan commented on #1189
Hi just want to check in and see if this worked for you!

[2021-06-30 09:34] akkefa commented on #1168
@brandenchan What does the last task means (**Add indexing pipeline example to preprocessing tutorial**)?

[2021-06-30 10:14] oryx1729 commented on #1185
Hi @ghnlptest and @HighDeFing,

I suspect it could be a memory issue. What's the allocated memory for your Docker Desktop? You can follow [the documentation](https://docs.docker.com/docker-for-windows/#resources) to configure.

[2021-06-30 12:13] #1168 closed

[2021-06-30 13:04] brandenchan commented on #1241
Let's also discuss documentation strategies - Would be great to have a usage page, to sneak this into a tutorial and maybe even a blog article!

[2021-06-30 13:16] brandenchan commented on #1232
Am very much in favor of this! Please keep me in the loop with progress so we can make sure we have this well documented

[2021-06-30 13:58] jenka13all opened #1243 "How do you call methods on YML pipeline components?"
**Question**
I want to create a semantic search pipeline for use in the rest_api/pipelines.yml in order to integrate some current code into the rest-api. However, I don't see how to connect the nodes in the pipeline to specific instances of their components.

**Additional context**
The current code works and invlolves the following:

[code]

I can represent the FAISSDocumentStore and EmbeddingRetr

[2021-06-30 18:08] akkefa commented on #1140
@brandenchan I will be working on this issue. I didn't use the Haystack labelling tool. Can you guide me through steps to replicate the behaviour mentioned above?

[2021-07-01 09:03] brandenchan commented on #1140
Hi @akkefa, that's great to hear! This actually isn't to do with the labeling tool. Rather, this has to do with the `Label` object found at a `haystack.schema`.

In many datasets, the one question might have multiple correct answers. In this case, we create multiple `Label` objects and write these into the document store so that they can be used later for evaluation. These `Label` objects are a pa

[2021-07-01 10:33] Mushahid2521 opened #1244 "Get all Documents filtering error"
How can I filter or narrow down the documents?

`document_store.get_all_documents(filters={"customer_id" : "Anfactor"})`

I was trying to filter the documents based on an additional key. I get the following error:

`RequestError: RequestError(400, 'x_content_parse_exception', '[terms] query does not support [customer_id]')`

[2021-07-01 12:35] julian-risch commented on #1236
The reason why the cosine similarity calculated with `util.pytorch_cos_sim(each_model.encode(query), each_model.encode(passage))` (embeddings from Sentence Transformers) and the score given in Haystack is that the embedding of the passage differs. I tested this with the provided notebook after making some changes. The torch implementation and the scikit implementation both return the same cosine s

[2021-07-01 12:40] julian-risch commented on #1236
Maybe you'll find this overview of different models, speed, and avg. performance to be helpful: https://www.sbert.net/docs/pretrained_models.html#sentence-embedding-models

[2021-07-01 13:07] monika1800 opened #1246 "Changing Elastic Search Docstore index=false with Embedding Retriever, resulting in error during query time"
**Describe the bug**
Unable to run query_by_embedding after indexing the documents with Elastic Search Docstore index=false with Embedding Retriever.

**Error message**
A document doesn't have a value for a vector field.

` {"error":{"root_cause":[{"type":"script_exception","reason":"runtime error","script_stack":["org.elasticsearch.xpack.vectors.query.ScoreScriptUtils$DenseVectorFunction.getEncod

[2021-07-01 14:19] julian-risch commented on #1236
The reason why the passage embedding differs for Haystack and Sentence Transformer in your example code is that slightly different texts are encoded. In your example, Haystack does not encode the text "appendix" but the text "appendix" AND an empty string as a placeholder for the title of the passage.
To reproduce the internal behavior of Haystack, I ran the following code:
[code]
With this code y

[2021-07-01 14:49] cvgoudar commented on #1236
Thanks, @julian-risch. It helps a lot. Any pointers on the implication of creation of embedding of (title, passage) vs ("", passage). Which one is better. Internally what does it imply to create an embedding of (title, passage) as it generates a single embedding vector for comparison purposes

[2021-07-01 15:13] julian-risch commented on #1236
My understanding is that (title,passage) can be helpful if documents in a dataset have a descriptive title, such as headlines of sections and subsections on wikipedia pages. In that case, it makes sense to join, i.e., concatenate the title and the passage and encode both of them together.
In contrast to that, if the title is also mentioned in the passage again with the exact same words or at least

[2021-07-01 15:19] cvgoudar commented on #1236
Thanks @julian-risch . This helps. Just for confirmation embedding of following should be identical

("", "How are you")
            vs
" How are you" : This has space as first character

[2021-07-01 18:34] julian-risch commented on #1236
No, it's a bit different. Instead of "text" as input to the embed() method, a list ["title","text"] is the input to the embed() method. It's mentioned in the description of the embed() method here: https://github.com/deepset-ai/haystack/blob/17dcb8c23e2e79391965f84c80eff58522c65c52/haystack/retriever/dense.py#L643 SentenceTransformers then processes both elements of the list as sentences, includin

[2021-07-01 18:43] julian-risch commented on #1236
Here is the tokenization step that handles a list of [title,text]: https://github.com/UKPLab/sentence-transformers/blob/d6c2b956ce946af3ddf75373d41944c07dc7f343/sentence_transformers/models/Transformer.py#L86
It distinguishes strings and list of two strings:
[code]

[2021-07-01 18:58] HighDeFing commented on #1185
As @ghnlptest said I don't think is a memory issue, I'm using WSL2 backend
![Screenshot_2](https://user-images.githubusercontent.com/39177022/124176035-5dd56c80-da7c-11eb-839c-6b90a654dfc6.png)
![Screenshot_1](https://user-images.githubusercontent.com/39177022/124176088-6fb70f80-da7c-11eb-9c93-68cbd19fbca4.png)
And even after configuring this file according to [the documentation](https://docs.micr

[2021-07-02 03:48] Threepointone4 commented on #1236
Thanks @julian-risch. One last thing which was missed, the probability, when score was low the probability was high any inputs for that ?. Score should be used during retriever and during reader probability should be used, is the understanding correct ?
![image](https://user-images.githubusercontent.com/22583613/124217496-16032380-db16-11eb-9bf3-0603a0f024ab.png)

[2021-07-02 04:19] Threepointone4 commented on #1246
Hey, when i tried i was able to make it work. In the above case it looks like embedding field was not indexed in elastic. Was update embedding called ?
When I tried with independent colab i was able to make it work with refresh_type='False'.

[2021-07-02 04:23] Threepointone4 commented on #1246
Or one of the document vector generation failed maybe, Can you see whether all records have embedding. Maybe that is also one possibility. Maybe indexing 1 document and  seeing whether it got embedding or not and testing might help

[2021-07-02 04:39] Threepointone4 commented on #1246
https://colab.research.google.com/drive/1pom2rA1tqhhsrJL5EZRnPOnHyaABd8-Z?usp=sharing

I have done a small setup for this, let me know if some changes required in this.

[2021-07-02 04:40] #1244 closed

[2021-07-02 06:18] julian-risch commented on #1236
Yes, that's correct for now. Unfortunately, we created some confusion here with "probability" and "score" (and "confidence" within FARM). We are aware of this problem and will refactor that. Here is one of the corresponding issues: https://github.com/deepset-ai/haystack/issues/1220 The idea is to have only one field in future, which is then called "score". Users will be able to switch between two

[2021-07-02 08:00] MichaelBitard commented on #1229
It seems related to https://github.com/UKPLab/sentence-transformers/issues/794 and https://github.com/huggingface/tokenizers/issues/537

I'm digging into haystack code to see if we can instantiate the tokenizer in each FastAPI thread instead of globally like it seems to be done right now.

[2021-07-02 09:52] oborchers commented on #1229
@MichaelBitard : If you find a solution I'd be highly interested as well. Loading the tokenizer on each call doesn't work for me, cause it takes between 20ms to 1s 👍

[2021-07-02 15:31] MichaelBitard commented on #1229
I found a really ugly ~~solution~~hack: instanciate multiple pipelines, and ensure they are not used concurrently via mutex.

in rest_api/controller/search.py I replaced the PIPELINE and /query code by:

[code]

I needed a quick fix because my client has some tests coming soon, but that's really not a valid workaround.

[2021-07-02 17:04] shahrukhx01 opened #1248 "Add OCR based PDF to Text Parser"
@tholor Based on your suggestion, I'm creating this issue. I can start implementation starting in August.
https://github.com/shahrukhx01/multilingual-pdf2text

[2021-07-02 17:14] tholor commented on #1248
Awesome! Looking forward to it :)

[2021-07-02 22:19] ivanmkc commented on #1237
I have this issue too, on a MBP

[2021-07-03 01:21] ivanmkc commented on #1237
Turns out I need more memory for Docker. Increased to 8 and it worked.

[2021-07-03 08:25] cvgoudar commented on #1236
Thanks @julian-risch. Appreciate your prompt response.

[2021-07-03 09:16] HeChengHui opened #1249 "FARMReader crashes computer"
**Describe the bug**
As stated in the title, using FARMReader crashes my computer, regardless of the retriever used. Using TransformersReader instead runs without any problems.

**Error message**
The following is the console output that I can grab before crashing:

![image](https://user-images.githubusercontent.com/84503515/124349209-a62d8f80-dc20-11eb-9355-625fbdb5d26f.png)

**Expected behavior**

[2021-07-03 09:49] HeChengHui opened #1250 "Question on Faissdocumentstore warnings"
**Question**
Got warnings when trying to write, delete or get_all_documents. Tried Googling but couldn't find anything useful.

Example:
[code]
console output:

[code]
To see if anything is written into the store, I tried a get_document_count and got a 0 with more warnings.

**Additional context**
Was using Elasticseach previously before deciding to try out Faiss+DPR combo.

**FAQ Check**
- [x] Ha

[2021-07-03 15:46] lalitpagaria commented on #1249
@HeChengHui Can you please share full stacktrace when your system crashes. Can you please also try running Haystack in docker container. My hunch is this one could be memory issue.

[2021-07-03 15:52] lalitpagaria commented on #1250
@HeChengHui Can you please tell which sqlalchemy version installed on your system?

[2021-07-04 05:33] HeChengHui commented on #1250
@lalitpagaria According to `conda list ` is
sqlalchemy                1.4.19                   pypi_0    pypi
sqlalchemy-utils          0.37.7                   pypi_0    pypi

[2021-07-04 07:25] HeChengHui commented on #1249
@lalitpagaria I have tried using `stdoutOrigin=sys.stdout ` , `$ python myscript.py > myoutput.txt` from https://stackoverflow.com/questions/25023233/how-to-save-python-screen-output-to-a-text-file and
[code]
to try save console output to a text file, but is not working. Any suggestions on how to get the stacktrace information?

I am currently running it in a Conda virtual environment and do not w

[2021-07-04 07:37] Threepointone4 commented on #1246
@tholor when refresh_type is false ( during soft commit ) . document gets indexed in background, inside update embedding , when get all document is called , only document which were indexed at that time will be updated. This understanding is correct right ?

So should there be a feature which accounts refresh_type and calls update embedding  after some data gets indexed or once all data is done.

[2021-07-04 07:37] #1236 closed

[2021-07-04 08:18] Threepointone4 commented on #1140
@brandenchan There are two ways to solve this , one is pre-check during writing , one is post check. The post check is easy as we just have to see the length and add a assert. I will add PR. Can you please tell me how ? This is my first time so.

[2021-07-04 20:42] dktemp888 commented on #1237
Thanks @ivanmkc . I don't think in my case it's related to memory for docker as i have much larger.

@oryx1729 can you reproduce it? let me know if any additional information is needed.

[2021-07-04 20:59] oryx1729 opened #1254 "Have you had a look at our new FAQ page?"

[2021-07-05 07:25] #1254 closed

[2021-07-05 07:53] julian-risch commented on #1184
Hi @cvgoudar my suggestion here would be to include your "question" field within the "meta" field as follows:
[code]
a prediction output then is as follows:
[code]

Thanks for providing the notebook! I just needed to add `!pip install grpcio-tools==1.34.1` before installing haystack to prevent some version conflicts within google colab.

Does including your "question" filed in the "meta" field wor

[2021-07-05 08:00] cvgoudar commented on #1184
Thanks @julian-risch. Usually we are converting a tabular data (pandas dataframe) to haystack Document structure. We have been using code something like below for the same:

[code]

This kind of code seems to have problem as `from_dict()` function has issues with question field

[2021-07-05 08:21] julian-risch commented on #1184
Okay, got it. Let me have a look. "question" is one of the keywords that are filtered out before filling the "meta" field. https://github.com/deepset-ai/haystack/blob/8e117f5e113c19cdfa372b0ca973f0d726167afa/haystack/schema.py#L75

[2021-07-05 10:00] julian-risch commented on #1184
Using the debugger I saw that the "question" field is filled for the documents indexed in the document store. However, when the retriever assembles the output document, the "question" field is not populated:
https://github.com/deepset-ai/haystack/blob/8e117f5e113c19cdfa372b0ca973f0d726167afa/haystack/retriever/sparse.py#L204

I think that's the behavior, we would like to have. The "question" field

[2021-07-05 13:32] oryx1729 commented on #1243
Hi @jenka13all, thank you for raising the issue!

With the current Pipeline implementation, the interaction between components depends on the pipeline_type, which could be `Query` or `Indexing`.

In your case, I believe you want to use a Pipeline for indexing documents? For that, you will have to create an `Indexing` Pipeline. You can find a sample indexing Pipeline [here](https://github.com/deeps

[2021-07-05 13:54] oryx1729 commented on #1237
Hi @dktemp888, from the error stack trace, it seems you modified the UI code for working with proxies? The error seems to be originating from that code at:

[code]

Could you try adding a debug log statement there to inspect the value of `requests.post()`? That might be helpful to see what's going wrong.

[2021-07-05 14:53] jenka13all commented on #1243
I'm not sure how that should look. How can I call write_documents() on a pipeline? I can only add, get and set nodes, draw, load from yaml, set to yaml, and run.

[2021-07-05 15:28] oryx1729 commented on #1243
With Pipelines, you can call the `run()` method with inputs to the Pipeline. Depending on the type of Pipeline(Query or Indexing), the corresponding methods get called on the nodes. For instance, in this case, for a document_store node, `write_documents()` will get called for an Indexing Pipeline.

If it's an Indexing `Pipeline`, the document_store's `write_documents()` will be called when you do

[2021-07-05 17:24] oborchers commented on #1229
Thank you very much for posting that @MichaelBitard! Will try it out.

[2021-07-05 17:56] guillim commented on #1229
This quick fix works in my case. Not sure we can close this issue though...

[2021-07-05 18:03] tholor commented on #1229
Let's keep it open until we have a nicer fix

[2021-07-06 06:26] SAIVENKATARAJU commented on #1240
I had the same issue, what i have done is move this line `app = Flask(__name__)` to after `pipeline = ExtractiveQAPipeline(reader, retriever) ` it will only take time initially , later on for every hit it takes time only for inferencing

[2021-07-06 08:08] jenka13all commented on #1243
OK, I didn't know that. I'll try that out!

[2021-07-06 08:08] #1243 closed

[2021-07-06 08:44] brandenchan commented on #1240
Hi @VETURISRIRAM, 3mins does sound pretty long to me and I'm pretty sure Haystack can do better. So to start, you have a lot of transformers models being used in this pipeline. Could you just confirm that you have a GPU engaged? (You can use `nvidia-smi -l 1` in the command line to see GPU usage)

My biggest suspicion for why it's taking this amount of time is that your documents might be very lon

[2021-07-06 09:07] MichaelBitard commented on #1229
A nicer way to fix that would be to implement this mutex around the tokenizer instead of duplicating the whole pipeline.

But the real fix should be made in the tokenizers

[2021-07-06 09:09] oryx1729 commented on #1243
@jenka13all feel free to re-open this thread if you face any issues 🙂

[2021-07-06 13:22] tholor commented on #1226
Hey @monika1800,

Such an expiration schedule is currently not supported in Haystack. We are open for community contributions here, but I am wondering what equivalent you have in mind on the plain elasticsearch side. There was something like `_ttl` in earlier versions but it seems deprecated and replaced by something else (https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-ttl

[2021-07-06 13:33] tholor commented on #1246
I could see two things that might cause the problem here due to the chosen refresh_type:
1) `update_embeddings()` is called before `write_documents()` has finished the commit in elasticsearch => update_embeddings could miss out on a document and not create an embedding at all for it
2)  `query_by_embedding` is called before `update_embeddings` has finished updating all docs in elasticsearch => que

[2021-07-06 13:52] lalitpagaria commented on #1249
@HeChengHui Can you please initialise FarmReader with few workers and try same code -
[code]

[2021-07-06 14:02] monika1800 commented on #1246
Hi @tholor,

Thanks for giving more understanding on this issue.

In the first case, I shall experiment with adding a sleep command of 10secs between write_documents() and update_embeddings() and report the findings here.

In the second scenario, I tried calling query_by_embedding after 24 hours but it still gave the same error.

[2021-07-06 14:42] monika1800 commented on #1246
Thanks @tholor. Adding 10sec delay between write_documents() and update_embeddings() has made it work as expected for 1k document.

[2021-07-06 14:51] monika1800 commented on #1226
Hi @tholor ,

One of the approach I could think of using Elastic Search is -

In Elastic Search there is a delete_by_query API available which performs a deletion on every document that matches a query.

It also have range queries, where a date range can be provided to query some data.

If we just combine these both, then we can create a query which can delete the documents if it matches the date

[2021-07-06 14:52] tholor commented on #1246
Ok nice, then we isolated the root cause. I guess you could even decrease this sleep to 1 sec as this is usually the default refresh interval of elastic.

Is there any particular reason why you use `refresh_type=false`?

If we want to fix this for future users, we could probably add a mandatory call to elastic's [refresh API](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-

[2021-07-06 14:53] monika1800 commented on #1164
Hi @tholor, This issue was observed due to lot of html tags present in the original content. After cleaning the html tags the size of the content has reduced and it was no more throwing this error. This issue can be closed.

[2021-07-06 14:59] #1164 closed

[2021-07-06 15:02] monika1800 commented on #1246
@tholor I wanted to experiment with refresh_type = False, to reduce the response time while indexing a large set of content on Elastic Search document Store.

Based on the findings refresh_type=wait_for was looking quite expensive.

These were the findings,

with 1k (100kb) data, it was able to finish indexing & update embeddings in 30 sec.

But when I tried with  10k (5MB) and 50k (11MB) data, th

[2021-07-06 17:42] Threepointone4 commented on #1246
Hey @tholor  we should do something like this right ?
![image](https://user-images.githubusercontent.com/22583613/124644126-88298e80-deaf-11eb-806f-53c6e558413d.png)

[2021-07-06 18:04] dktemp888 commented on #1237
okay, it turned out to be internal proxy issue for local web service instead of haystack.

[2021-07-06 18:04] #1237 closed

[2021-07-06 18:08] tholor commented on #1246
Yep, I believe that should work (haven't checked elastic's refresh API though). Maybe @monika1800 can confirm that this fix works as intended and has the same outcome as the artificial sleep command?

[2021-07-07 09:51] monika1800 commented on #1246
@Threepointone4 @tholor  I think it can be added in write_documents function.

Just wondering what in case update_embeddings, write_labels, update_document_meta is called. This may need to be refreshed at these places as well?

[2021-07-07 12:05] shrinivasait opened #1258 "Input to FarmRanker model"
**Question**
Can you please tell me what and how an input is passed to the ranker model?.  searched on web but there is no result related to that. It would be helpful if you provide me proper way of training the FARMRanker.

[2021-07-07 13:19] Threepointone4 commented on #1246
I was able to reproduce the issue and the solution as well. when 20k records are indexed and  called update embedding right after.
![image](https://user-images.githubusercontent.com/22583613/124763536-b495e700-df51-11eb-878a-516791c2b48a.png)
As you can see only 15k around records are sent
With the solution i have added ,
![image](https://user-images.githubusercontent.com/22583613/124764600-c1670a

[2021-07-07 15:31] #1129 closed

[2021-07-07 15:56] julian-risch commented on #1258
Hi @shrinivasait a few minutes ago we merged this PR: https://github.com/deepset-ai/haystack/pull/1209 which adds also a SentenceTransformersRanker to Haystack. Maybe one of the models here is helpful for you so that you don't need to train a new model? https://huggingface.co/cross-encoder

If you would like to train a new model for the FARMRanker, what you are looking for is TextPairClassificatio

[2021-07-07 16:17] Threepointone4 commented on #1246
@tholor Sorry that was mistake from my side, I didn't call delete document on that run.
I have tried again and here are the results, adding colab also for reference
![image](https://user-images.githubusercontent.com/22583613/124794335-8540a380-df6c-11eb-8f1a-7c7b5a601109.png)

https://colab.research.google.com/drive/1pom2rA1tqhhsrJL5EZRnPOnHyaABd8-Z?usp=sharing#scrollTo=jUQ1mqD9CKAi

Let me know i

[2021-07-07 16:36] aqsa27 opened #1260 "model to obtain well formed answered Reading Comprehension"
Hi,

I have a use case in which I have documents containing passages, and I have a list of question that has answer in the Document.
When I run Haystack model, the answers given by the model is the exact answer from the passage, but I am more looking for finding well formed completed answers.

For Example:
Question: Has your xyz policy been tested in the last year?
Expecting answer: Yes, it has be

[2021-07-07 20:52] krzim commented on #1125
The README states that one can import labels from an existing SQuAD style dataset. Perhaps that line should be removed? I agree that this would be a very cool feature and would love to see it.

Is there a plan to open-source the annotation tool so that the community can assist in feature development like this?

[2021-07-08 04:59] shrinivasait commented on #1258
If I have corpus document of say 1000 to 10,000 lines. I need to sort out the similar text in the given documents and rank it accordingly. Can it be done using farm ranker.?

[2021-07-08 05:02] shrinivasait commented on #1258
And please can you please provide a document or file for the sentencetransformerranker u mentioned.

[2021-07-08 07:19] tholor commented on #1226
This will be possible when we extend the capabilities of `filters` in haystack. We already have an issue for this, but haven't found the time to work on it yet (https://github.com/deepset-ai/haystack/issues/625).

The idea is to support range queries on dates (and much more). Once we have this, we can use something like `document_store.delete_documents(filters={"expires_at":{"gte":"2020-07-20"}}).

[2021-07-08 08:22] clarahohohoho commented on #1258
I have the same issue too! Wanted to include the FARMRanker into my pipeline, and I received the error: "Exception: Input does not have the expected format". Would be helpful to know what is the input format, thank you!

[2021-07-08 08:41] clarahohohoho opened #1261 "Model for FARMRanker"
**Question**
In the example code of the FARMRanker, the given example is:
[code]
However, it throws me an error that "saved_models/roberta-base-asnq-binary" is not a valid model in the huggingface repository. Which models from the huggingface repository am I supposed to parse through this parameter? Thank you!

[2021-07-08 09:09] JackHopkins opened #1262 "No handler for type [dense_vector] declared on field [embedding]"
**Describe the bug**
A clear and concise description of what the bug is.

I've had some problems setting up ElasticDocumentStore. I'm using AWS Elasticsearch Service, and my instance is on version 7.10

**Error message**
Failed loading pipeline component 'elasticsearch': RequestError(400, 'mapper_parsing_exception', 'No handler for type [dense_vector] declared on field [embedding]'): runtime excep

[2021-07-08 09:09] JackHopkins commented on #1262
Thanks in advance for any help.

[2021-07-08 09:14] julian-risch commented on #1261
Hi Clara, the model in the example code has not been uploaded to the model hub. The following code example in FARM shows how to train such a model, which is then stored in the directory `saved_models`. https://github.com/deepset-ai/FARM/blob/master/examples/text_pair_classification.py
There are only a few models on the model hub that can be used with the FARMRanker. For example, these models here:

[2021-07-08 09:15] julian-risch commented on #1258
Hi @clarahohohoho I replied to your issue here: https://github.com/deepset-ai/haystack/issues/1261

[2021-07-08 09:21] julian-risch commented on #1258
@shrinivasait If your documents are 1,000 to 10,000 lines, would you like to find similar shorter passages within these documents? Is this open issue here what you are looking for? https://github.com/deepset-ai/haystack/issues/1091

Here is a link to the SentenceTransformersRanker with some exemplary code: https://github.com/deepset-ai/haystack/blob/dbb9efbd39b1acd136a62e54a5f7beefe9bb4fb5/haystac

[2021-07-08 09:40] clarahohohoho commented on #1261
Hi Julian,

Thank you so much for the detailed response, I finally managed to integrate the Ranker into my pipeline and the predictions are already looking more decently accurate! Really appreciate your response :)

[2021-07-08 09:45] julian-risch commented on #1261
Great to hear that!

[2021-07-08 09:45] #1261 closed

[2021-07-08 11:38] shrinivasait commented on #1258
See, my question is simple let me expand it. I have some query given i need the to sort out the documents related to that query.  second thing i need to check the similarity of the one document with the other given documents. can u please help me on this.

[2021-07-08 11:45] julian-risch commented on #1258
For the first step, you can definitely use FARMRanker or SentenceTransformersRanker in the following way:
[code]

[2021-07-08 11:55] julian-risch commented on #1258
However, for your second use case you need a different approach. The Ranker models are trained to compare the similarity of a query and a document but not to compare the similarity of two documents.
I think what makes sense here is to use the EmbeddingRetriever https://haystack.deepset.ai/docs/latest/retrievermd#Embedding-Retrieval

[2021-07-08 12:25] tholor commented on #1262
Hey @JackHopkins,
Please try the `OpenDistroElasticsearchDocumentStore` as AWS is not using the regular elasticsearch anymore. See https://haystack.deepset.ai/docs/latest/apidatabasemd#Class-OpenDistroElasticsearchDocumentStore

[2021-07-08 12:43] shrinivasait commented on #1258
ok thank you for answering. It helped alot

[2021-07-08 13:01] julian-risch commented on #1258
You're welcome! I will close this issue for now. If there is still something unclear about FARMRanker, feel free to reopen it.

[2021-07-08 13:01] #1258 closed

[2021-07-08 15:44] SAIVENKATARAJU opened #1264 "Support for sentence_transformers embedings (https://www.sbert.net/docs/pretrained_models.html)"
Hi,
 I have trained my data on the sentence transformers and planning to use it in EmbeddingRetriever. but EmbedingRetriever is not able to load  the model from the folder. I see there is some performance improvement if  I use sentence-transformers . P

Please see the files generated by model.

![sentence](https://user-images.githubusercontent.com/46083296/124951597-1b3e0200-e031-11eb-821c-373da53

[2021-07-08 18:50] Threepointone4 commented on #1264
@SAIVENKATARAJU
1. Loading custom model I am not aware, I have to try maybe.
2. which docstore you are using. I will assume elastic and will tell you how to do it. When you initialise **docstore** there is a param called `  embedding_field: str = "embedding",`. This says that in your indexing records, it assume the field `embedding` to be a vector. So what you can do is, create vector for each rec

[2021-07-08 18:58] Threepointone4 commented on #1264
Adding example :
[code]

[2021-07-08 19:02] Threepointone4 commented on #1260
Maybe this can help : https://github.com/deepset-ai/haystack/issues/899

[2021-07-08 19:03] Threepointone4 commented on #1260
But to reformat I believe you have to use abstractive QA or use extractive and train a custom model to do this task from the output of extractive.

[2021-07-08 19:14] Threepointone4 commented on #1264
Just double checking, during init of `EmbeddingRetriver` are you passing param called `model_format = sentence_transformers`

[2021-07-09 00:38] HighDeFing commented on #1185
Ok I've been trying to do what you say for a week now, I get this errors:
![haystack_ananconda](https://user-images.githubusercontent.com/39177022/125006298-c9df4400-e02b-11eb-96c4-cebe225bad6b.png)
![haystack_api](https://user-images.githubusercontent.com/39177022/125006300-cb107100-e02b-11eb-8a4a-38ca7df3aa0b.png)
I'm trying to run in in anaconda, the dll issue always appears even after I do [th

[2021-07-09 14:23] brandenchan opened #1268 "Better document the inputs and outputs of pipelines"
Since our prebuilt pipelines wrap around existing components, its not always clear what the inputs and outputs of these pipelines are. We should document them more so that users know how to use them and know what outputs to expect

[2021-07-09 14:42] tholor commented on #1268
Duplicate of https://github.com/deepset-ai/haystack/issues/1016?

[2021-07-10 12:34] prafgup opened #1269 "delete_documents_by_id method in the InMemoryDocumentStore"
**Is your feature request related to a problem? Please describe.**
One can not delete a single document from the InMemoryDocumentStore if required

**Describe the solution you'd like**
Addition of delete_documents_by_id in InMemoryDocumentStore Class

**Describe alternatives you've considered**
Currently, I have to extend InMemoryDocumentStore class and implement the delete_documents_by_id by myse

[2021-07-10 12:40] tholor commented on #1269
Makes sense. Let's add it. Would be amazing if you could work on this @prafgup

[2021-07-10 12:49] prafgup opened #1270 "[Suggestion] Random document generator for testing and profiling."
We can have a random document generator like this prebuilt into haystack to help us easily generate random documents at runtime for testing and profiling, along with some different generation parameters
A minimal example is shown here ->
[code]
or like this for using random strings
[code]

I can work on this issue if it's relevant for this project.

[2021-07-11 16:51] nithinreddyy opened #1272 "ModuleNotFoundError: No module named 'haystack'"
I've created new pip virtualenv and installed the library with the help of **pip install git+https://github.com/deepset-ai/haystack.git**. After installing i opened the jupyter notebook and while running the code it's returning No module named haystack

![1111](https://user-images.githubusercontent.com/56256685/125203520-4ecd9600-e296-11eb-8e8f-c96c259b0024.PNG)

I'm trying to run the code in loca

[2021-07-12 06:10] prafgup commented on #1272
Try using
[code]
or
[code]

[2021-07-12 07:32] HeChengHui commented on #1249
@lalitpagaria FarmReader now works when i changed `num_processes=0 or 1`. Setting it to None crash as usual and setting it to 2 just cause Haystack to keep looping through the same output.
Do you happen to know why can't I have more than 1 worker?

[2021-07-12 07:55] edanweis opened #1273 "cannot import name 'ElasticsearchDocumentStore' from 'haystack.document_store'"
**Describe the bug**
Error when creating a document store of any kind

**Error message**
`cannot import name 'ElasticsearchDocumentStore' from 'haystack.document_store'`

**Expected behavior**
Initialise a new DocumentStore.

**Additional context**
In memory document store, FAISS and Elasticsearch also unsuccessful

**To Reproduce**
`pip install farm-haystack -f https://download.pytorch.org/whl/to

[2021-07-12 09:41] julian-risch commented on #1184
Hi @cvgoudar just checking whether we can close this issue or whether you have a use case in mind, where you would need the"question" field of a Document returned by the retriever?

[2021-07-12 09:48] julian-risch commented on #1105
I close this issue for now, noting that haystack and FARM currently do not support this particular model architecture. If you are interested in
Long-Form Question Answering check out our recent tutorial: https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial12_LFQA.ipynb @ShoubhikBanerjee just let me know in case you are interested in contributing here with a pull request.

[2021-07-12 09:48] #1105 closed

[2021-07-12 10:54] edanweis commented on #1273
I created a new conda environment and it worked.

[2021-07-12 10:54] #1273 closed

[2021-07-12 11:24] julian-risch commented on #1206
Hi @wolfsbane9513 Unfortunately, I was not able to reproduce the problem. I converted the `dev-2.0.json` file from SQuAD and then ran FARM's `read_dpr_json()` method in `farm.data_handler.utils`. In your screenshot I see that you are trying to load a file called `merged_80_dpr_file.json`. Maybe the data format got broken by this merging? Could you please provide your file so that I check that?

[2021-07-12 11:45] wolfsbane9513 commented on #1206
Thanks a lot for all the inputs, I was able to resolve the problem by passing all command line arguments to the script

[2021-07-12 11:54] #1206 closed

[2021-07-12 12:38] cvgoudar commented on #1184
In our use case, we can rework by renaming the "question" key name. As the original Document object is having the question field I felt it should not be forcefully dropped by the retriever. In my opinion, the retriever should align to the document object structure and return the field value as None if it is not populated.

I am closing the issue. It can be possibly reopened as well in the future.

[2021-07-12 12:39] #1184 closed

[2021-07-12 14:23] lalitpagaria commented on #1249
@tholor @Timoeller Do you have any solution about this?
I feel we need to relook Farm logic about number of workers.

[2021-07-12 15:51] julian-risch commented on #1184
Thank you for your feedback. Yes, I think I agree that as a user I would expect that the retriever returns documents with all their fields and meta information as stored in the document store. I will discuss this with my colleagues @tholor and we will consider that change in case we refactor input/output formats.

[2021-07-12 16:27] Timoeller commented on #1249
Preprocessing inside the FARMReader uses Python multiprocessing and Rust multithreading at the same time, which might cause issues especially on Windows - we havent tested this much.
We can think of disabling Python multiprocessing by default (setting `num_processes=1`) since the speedup is marginal and expert users could still opt in.

[2021-07-13 01:37] HeChengHui commented on #1249
@Timoeller I see, so is like a Windows thing. In that case, if I would turn off `num_processes` (shouldn't it be `=0 `instead of `=1`?) it will only affect the speed of the system slightly and not the accuracy right?

[2021-07-13 04:19] HeChengHui commented on #1250
@lalitpagaria Hi, any updates on this? Just initialising the FAISSdocumentstore seems fine:
[code]
and gave this console output:
[code]

[2021-07-13 07:30] Timoeller commented on #1249
I am not sure since we havent tested this thouroughly. We also saw problems when using dockerized versions on Linux.

Both 0 and 1 turns off multiprocessing.

Accuracy isnt affected, only speed.

[2021-07-13 07:44] HeChengHui commented on #1249
@Timoeller I see thank you for the help! I guess I can close this until there is some kind of fix.

[2021-07-13 07:44] #1249 closed

[2021-07-13 08:20] oborchers commented on #1229
Can confirm that wrapping the transformers model into a mutex acquire/release block does the trick. Thanks @MichaelBitard

[2021-07-13 09:37] stphnthiel opened #1276 "MilvusDocumentStore using Milvus MySQL throws SQL ProgrammingError on get_all_documents"
I am running Milvus and MySQL on Ubuntu 18.04. using the following docker compose config:

[code]

I symlinked `/tmp/mysql.sock` to `/tmp/mysql.sock` for the MilvusDocumentStore to find the socket.

With this I can successfully init the store

[code]

I can write documents and delete documents (verified the docs exist in table `document` in MySQL).

But getting docs throws a SQL ProgrammingError:

[2021-07-13 09:39] stphnthiel commented on #1276
The SQL query also fails when run directly against MySQL. So this seems to be a MySQL interop error.

[2021-07-13 10:00] youxingtian opened #1277 "FARMReader.train() throws out of bounds error for labels on WebQA dataset (max_answers limit)"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/49486786/125432060-0ae5d6bf-dbe4-4306-9397-f8e75b7a6b3d.png)

The datasets is chinese Baidu webqa

my demo:
from haystack.reader.farm import FARMReader
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "6"
reader = FARMReader(model_name_or_path="uer/roberta-base-chinese-extracti

[2021-07-13 10:56] demarant opened #1278 "update ui streamlit and st-annotated-text, adapt results display for various lenghts"
**Is your feature request related to a problem? Please describe.**
stay up-to-date with streamlit features.
Context returned by haystack-api comes in various lenght and the annotated text library was using a fixed height, which sometime did not show entire context/answer and the layout was not optimal. With the latest st-annotated-text we can pass a dynamic height based on the result context lengh

[2021-07-13 11:04] oryx1729 commented on #1233
# High-level API design

## `Pipeline.run()` method

a) pipe.run(query="something", top_k=10, filters={...}, ...) ⇒ these args are global and will be passed to all nodes
b) pipe.run(query={"retriever_a:": "something"}, top_k={"retriever_a": 10, "reader": 20} labels={"evalnode_a": ...}) ⇒ If you want to direct an argument to a specific node only

⇒ Pro: very easy user interface + easy to explain; C

[2021-07-13 14:18] tholor commented on #1272
You can also run `! pip freeze` in your jupyter notebook to check if haystack was really installed in that virtual env. I could imagine that something went wrong here with the installation - haven't seen this issue, however, before. Sometimes restarting the kernel is also worth a try.

[2021-07-13 14:23] tholor commented on #1260
Yep, @Threepointone4 is totally right here. Maybe also check out our tutorials on [Generative QA with RAG](https://haystack.deepset.ai/docs/latest/tutorial7md) and [Longform QA](https://haystack.deepset.ai/docs/latest/tutorial12md).
These can create "well-formed answers" - however, you might need to be a bit more careful about the quality of these answers when going to special domains. Extractive

[2021-07-13 14:23] #1260 closed

[2021-07-13 14:34] tholor commented on #1277
Hey @youxingtian,
Is it possible that this dataset contains more than 6 labels per question?
We currently limit it in FARM to this maximum value per default and it might be the reason for the error that you see: https://github.com/deepset-ai/FARM/blob/81d1b31791a213be17709cf9d46f9c9981579e34/farm/data_handler/processor.py#L1839

If you confirm that your dataset has more than 6 labels for some ques

[2021-07-13 14:48] milan-dasgupta opened #1280 "Solr Support"
As ElasticSearch has moved under SSPL, any support for Apache Solr as DocumentStore in the works

[2021-07-13 17:53] julian-risch opened #1281 "Indexing Pipeline with Document Classifier"
https://github.com/deepset-ai/haystack/pull/1265 introduced a document classification node `FARMClassifier`.
We should check whether this new node can be used in an indexing pipeline (mentioned here: https://github.com/deepset-ai/haystack/pull/1265/files#r668842533). In that case, the classifier could be used to enrich the meta data of documents at indexing time, for example, with zero-shot classi

[2021-07-13 20:07] rgex opened #1282 "haystack_elasticsearch does not run on Apple M1"
<img width="1017" alt="Screenshot 2021-07-13 at 22 04 27" src="https://user-images.githubusercontent.com/3996942/125517735-46aabc7f-54b3-405b-9ce1-f7a7d6f9f21d.png">

[2021-07-14 05:25] SAIVENKATARAJU commented on #1264
I did not know this option was there `model_format = sentence_transformers` . it worked

[2021-07-14 05:25] #1264 closed

[2021-07-14 06:51] youxingtian commented on #1277
Thank you!  I solved this problem by modifying the dataset with no more than 6 answers,but in the future,I hope that this parameter can be flexibly configured in the function FARMReader.train()

[2021-07-14 08:23] brandenchan commented on #1280
Hi Milan, yes we also saw that Elasticsearch has changed its license. You can use the hard fork called Open Distro for Elasticsearch. This was recently renamed as OpenSearch. We already have an `OpenDistroElasticsearchDocumentStore` in the master branch. In #1225, there is an `OpenSearchDocumentStore` which also features Approximate Nearest Neighbours vector search. We don't have any plans at the

[2021-07-14 08:23] #1280 closed

[2021-07-14 08:36] tholor commented on #1270
Great idea @prafgup. I think it could be a helpful addition for testing purposes and we would love to see a PR from you here :slightly_smiling_face:

Ideally, these docs still contain some semantically meaningful and syntactically correct sentences. This would allow testing for things like sentence segmentation in the preprocessing and creates probably a more meaningful distribution of document em

[2021-07-14 08:39] tholor commented on #1278
Implemented by #1279. Thanks again @demarant !

[2021-07-14 08:39] #1278 closed

[2021-07-14 09:13] oryx1729 opened #1283 "Add test cases for the Crawler module"
A [web crawler](https://github.com/deepset-ai/haystack/blob/4e6f7f349d2a9de5b8011927a497b72d76556f59/haystack/connector/crawler.py#L10) was added by #775, but the test cases are missing.

[2021-07-14 09:23] oryx1729 opened #1285 "Add code formatting and linting"
Evaluate and implement code formatting and lint tests in the Github Action CI.

[2021-07-14 11:16] #1197 closed

[2021-07-14 11:17] oryx1729 commented on #1197
Hi @stphnthiel, apologies for the delay on this. It should now be resolved with #1284. Please feel free to reopen this thread if you face any issues.

[2021-07-14 11:29] oryx1729 commented on #1185
Hi @HighDeFing, do you plan to use FAISS with Haystack? If not, it is an optional dependency that you can remove from the `requirements.txt` file.

If you plan to work with FAISS:
- What version of `faiss-cpu` do you have installed?
- Did you try installing with `pip install faiss-cpu>=1.6.3`?

[2021-07-14 12:03] #1120 closed

[2021-07-14 12:55] stphnthiel commented on #1197
Thanks!

[2021-07-14 13:28] oryx1729 commented on #1052
Hi @Raldir, apologies for the delay on this. We still plan to work on this in the next weeks.

[2021-07-14 14:21] #1140 closed

[2021-07-14 17:54] akkefa commented on #865
@tholor What is the status of this issue?

[2021-07-14 19:07] julian-risch commented on #865
@akkefa We haven't done any coding yet but had a closer look at https://github.com/huggingface/nn_pruning/blob/main/docs/HOWTO.md Next steps would be to train a question answering model with a sparse trainer following this notebook https://github.com/huggingface/nn_pruning/blob/main/notebooks/01-sparse-trainer.ipynb and compare performance with a standard model. Further, we need to understand what

[2021-07-15 05:56] akkefa commented on #865
@julian-risch Ok. I am working on this issue.

[2021-07-15 09:17] FarhatAdam commented on #1282
I'm facing the same problem. I even installed JDK and this still happens. Hopefully someone chimes in!

[2021-07-15 09:45] SAIVENKATARAJU opened #1288 "Pytorch memory issues while using custom sentence-transformers embeddings"
Hi
I am using custom trained embeddings using sentence transformers. used sentence-transformers/paraphrase-mpnet-base-v2 as a base model. getting memory error while using this statementdocument_store.update_embeddings(retriever).
Tried orch.cuda.empty_cache(), gc.collect() but none of them woked.
[code]

[2021-07-15 10:33] #1288 closed

[2021-07-15 11:18] akkefa commented on #1070
@tholor Assign.

[2021-07-15 11:18] akkefa commented on #1091
@tholor Assign.

[2021-07-15 11:30] tholor commented on #1070
Thanks for working on it @akkefa. You can have a look at HF transformers' [setup.py](https://github.com/huggingface/transformers/blob/master/setup.py) as a good starting point for the usage of extras_require.

[2021-07-15 13:06] oryx1729 commented on #1276
Hi @stphnthiel, you're using MySQL version 5.7 that might not have support for [windowed queries](https://github.com/deepset-ai/haystack/blob/8dae8444479d319111577310e3825998d6dc9092/haystack/document_store/sql.py#L519) that happen in the SQLDocumentStore.

I tried with the latest MySQL version and there it works.

If you cannot upgrade to the latest MySQL, you can set `store.use_windowed_query =

[2021-07-15 13:52] lalitpagaria commented on #1070
@tholor Can you please review the list.

[2021-07-15 13:58] tholor commented on #1070
Sounds quite reasonable to me. I'd only prefer to make the "haystack [gpu]" the default (pip install haystack) as most users want to use a gpu and you can always run cpu workloads there,too.

I'd probably also let the default one contain a few more helpful packages than "minimal" so that it reflect the average setup and is somewhere between "minimal" and "all" .

I'd also add the following tags:
-

[2021-07-15 15:14] brandenchan commented on #1282
Hey sorry that it's not working out for you right now! We have one developer in our team with an Apple M1 but they are currently on holiday. But let me see if I can help.

I am pretty sure that some version of Elasticsearch will have support for M1. That at least is what I can infer from [this thread](https://stackoverflow.com/questions/65962810/m1-mac-issue-bringing-up-elasticsearch-cannot-run-jd

[2021-07-15 19:00] stphnthiel commented on #1276
Thanks!

Milvus seems to recommend MySQL 5.7 (I took the version from their docs)

Which version are you recommending to store both, embeddings and content in
the same db? (Ubuntu)

If none particular, I’ll go for disabling windowed queries. Very helpful!

On Thu 15. Jul 2021 at 15:07 oryx1729 ***@***.***> wrote:

[2021-07-16 05:48] FarhatAdam commented on #1282
I tried your suggestion but unfortunately the same error popped up. The strange thing is that I actually can get ES 7.9.2 outside of the demo package. Could it be that the jvm that comes with the image is incompatible with my current architecture? When I launch ES and play around with the tutorials it works fine.

P.S. Sorry if this isn't making any sense, I'm fairly new to github and do not yet u

[2021-07-16 07:37] oryx1729 commented on #1276
Haystack uses Milvus only to store the vector embeddings. The documents and their corresponding metadata are managed by Haystack in a separate `SQLDocumentStore` instance. This means you can use any SQL database(e.g., PostgreSQL, SQLite, or MySQL) as long as it's compatible with SQLAlchemy.

[2021-07-16 07:44] akkefa commented on #1070
@lalitpagaria @tholor I think, There is no need for **pip install haystack[minimal]** and **pip install haystack[rest]**, All minimal packages should be part of install_require.
Those are mandatory packages that come with **pip install haystack**.

The other extras option look good to me.

[2021-07-16 07:44] oryx1729 commented on #1250
Hi @HeChengHui, thank you for raising the issue. It should now be resolved with #1289. Feel free to re-open the thread if you still get any warnings.

[2021-07-16 07:44] #1250 closed

[2021-07-16 07:46] HeChengHui commented on #1250
@oryx1729 Thank you for resolving the issue. Sorry to ask but may I know what should I do on my end to get it working?

[2021-07-16 08:14] stphnthiel commented on #1276
Ok, got it. The docs mention you could use the same MySQL for Milvus and
Haystack. Which I liked (only on DB instance instead of two)

But fair enough if two are better. Might even make sense to not have both
parts in one DB

On Fri 16. Jul 2021 at 09:37 oryx1729 ***@***.***> wrote:

[2021-07-16 12:25] oryx1729 commented on #1250
@HeChengHui did you install Haystack from the source? If yes, you can do a run `git pull` inside the Haystack directory to get the latest changes.

If you haven't installed it from the source, then follow the "Installing from GitHub" section [here](https://github.com/deepset-ai/haystack/#installation).

In any case, this issue was only a warning. The document store would still work as intended.

[2021-07-16 16:49] tholor opened #1290 "Setting `timeout` for ES via yaml not working"
**Describe the bug**
Configuring the `timeout` for elasticsearchDocumentStore via the YAML pipeline definition doesn't seem to work as it is still timing out after the default 30s:

[code]

**Expected behavior**
Increased timeout of 120.

**FAQ Check**
- [x] Have you had a look at [our new FAQ page](https://haystack.deepset.ai/docs/latest/faqmd)?

**System:**
 - OS: Ubuntu 18.04
 - GPU/CPU: CPU
 -

[2021-07-16 17:33] HighDeFing commented on #1185
Ok, I uninstalled faiss `pip uninstall faiss-cpu` and seems to be running now,
![image](https://user-images.githubusercontent.com/39177022/125985772-374993bd-7bca-404f-b57b-54356f82d04b.png)
But the queries I do don't work.

What I'm trying to do is accessing the web the [annotation tool](https://github.com/deepset-ai/haystack/tree/master/annotation_tool) trough docker, I want to have this in my a

[2021-07-16 19:53] bappctl commented on #1077
@oryx1729 went with your fastapi suggestion . It works.

I have another question, does FarmReader train() auto save the model or should  .save() be explicitly invoked to save the trained model?

[2021-07-17 14:03] #857 closed

[2021-07-19 04:46] HeChengHui commented on #1250
@oryx1729 Thank you for the help, it works now but it seems like the document store is not able to retain data.

Example:
write doc -> run -> comment out write doc -> print doc count -> run -> get "0"
BUT
write doc + print doc count -> run -> get correct amount

[2021-07-19 07:29] oryx1729 commented on #1077
Hi @bappctl,

`save()` [is called inside the](https://github.com/deepset-ai/haystack/blob/3f58d4c13be0a53831843a0af9b716938ba46906/haystack/reader/farm.py#L250) `train()`, so you do not need an explicit call.

Can you provide more details of the use case here? An instance of `ElasticsearchDocumentStore` must have an `index` assigned. Based on the `create_index` parameter, it will try to create a n

[2021-07-19 07:37] HeChengHui opened #1292 "name 'JoinDocuments' is not defined when testing multiple retrievers"
**Describe the bug**
Wanted to try out multiple retrievers but was met with an error message.

**Error message**
  File "QA\Haysatck\Haystack_QA.py", line 144, in <module>
    p.add_node(component=JoinDocuments(join_mode="concatenate"), name="JoinResults", inputs=["ESRetriever", "DPRRetriever"])

NameError: name 'JoinDocuments' is not defined

**To Reproduce**
Followed https://haystack.deepset.ai/

[2021-07-19 09:39] oryx1729 commented on #1276
@stphnthiel apologies for the confusion. Yes, you're right, in theory, you should be able to use the same MySQL instance for both Milvus & Haystack. You could consider using separate "databases" on the MySQL server to avoid any table namespace conflicts.

[2021-07-19 09:52] oryx1729 commented on #1221
Hi @SAIVENKATARAJU, is this issue resolved on your side? I'm closing this thread, but please feel free to re-open if still face any issues.

[2021-07-19 09:52] #1221 closed

[2021-07-19 10:57] oryx1729 commented on #1185
Hi @HighDeFing, it seems the header is missing in the curl request. Could you try with:

[code]

[2021-07-19 11:21] tholor commented on #1292
Hey, did you import it via `from haystack.pipeline import JoinDocuments`?

[2021-07-19 12:56] rremani commented on #1125
Btw for people looking for alternative meanwhile this feature is built, use doccano ner project, use questions as entities. It solved my problem.

[2021-07-19 12:56] #1125 closed

[2021-07-19 13:23] HeChengHui commented on #1292
@tholor Oh yeah that fixed it. Thought that just `from haystack import Pipeline` would be enough. Thank you!

[2021-07-19 13:23] #1292 closed

[2021-07-19 14:17] zbrnwpu opened #1295 "Why does FARMReader() report such an error"
![image](https://user-images.githubusercontent.com/34335281/126174631-7806a1f9-63e4-4021-8022-52c49115c9a9.png)
What should I do if such an error occurs? I saw that there is no such file in the huggingface library.

[2021-07-19 14:19] zbrnwpu commented on #1295
@tholor thanks

[2021-07-19 17:50] tholor commented on #1295
Hey, seems like you want to load a model from disk that was trained via Hugging Face transformers?
We currently only support loading models from disk that are in FARM format or from the remote model hub that are in HF format.
So you have three options:
a) you upload your model to the model hub
b) keep it local and convert it to FARM format via this Converter class [here](https://github.com/deepset

[2021-07-19 21:37] HighDeFing commented on #1185
It does work with the queries now. Though is the elasticsearch-game-of-thrones data so it made sense to make another query about game of thrones.
`curl --request POST --url 'http://127.0.0.1:8000/query' -H "Content-Type: application/json"  --data '{"query": "Who is Arya Stark father?"}'
`
![image](https://user-images.githubusercontent.com/39177022/126230346-756ecfd6-59e6-43d0-b3cf-a41d7ce44e13.png

[2021-07-20 12:25] oryx1729 commented on #1185
Can you provide more details for the use case? How do you plan to integrate the Search API with the annotation tool?

[2021-07-20 16:00] brandenchan opened #1296 "TransformersSummarizer crashes if given long input"
If the TransformersSummarizer is given an input that is longer than the model's max_seq_len, an error will be thrown. Instead, I think a warning message should be printed to console and the input text should be truncated so that the Node can still run.

[2021-07-20 16:28] clarahohohoho commented on #1219
Hi Julian,

May I ask what is the exact line for FARM's internal calculation of probability from score? Thank you!

[2021-07-20 16:35] Timoeller commented on #1219
Hey Julian is currently on holiday but here is the correspoing PR in FARM with the line highlighted where the conversion takes place: https://github.com/deepset-ai/FARM/pull/710/files#diff-999218147863bd4bd4110bc3fe932d8321ce4baf01eaae92c7d4b4f4de3bfef4R1215
Hope that helps?

[2021-07-20 16:39] clarahohohoho commented on #1219
Hi Timo,

Thanks for the quick reply and the reference link! It helps a lot :)
So is it right to assume that the score is not proportionate to its corresponding probability, is due to the softmax function only being applied to the start_idx? Thank you!

[2021-07-20 16:42] Timoeller commented on #1097
Any progress on this?

I think the initial issue about the category in the annotation tool is answered.

If the problem of different results per export still persist, please open another more dedicated issue.
Closing this now.

[2021-07-20 16:42] #1097 closed

[2021-07-20 16:44] Timoeller commented on #1179
Hey @cvgoudar any progress on the merging? We cannot commit to an exact date for this feature on our side, but will let you know once it is planned.

[2021-07-20 16:45] Timoeller commented on #929
Hey @giguru were you able to replicate the QuReTec model in the end?

[2021-07-20 16:52] Timoeller commented on #1219
Hi Clara,

I guess that depends on what you mean by proportionate? There is no linear relation between the two, and no simple inversable function from score to probability.

Some details about the softmax:
The softmax goes over all start logits (start_idx is a vector) so also balances start logits for other possible start locations as well as the "no answer logit" at index 0 of start_idx.

We also

[2021-07-20 17:07] HighDeFing commented on #1185
Yes, the original problem was the **api container** since I got the same error _I still do_ but at least I can access the search API, but I was just trying to use the demo and the web interface for the annotation tool.

But my use case is to integrate the annotation tool in my program that is a web application, so that experts can label new data.

May I know where the app for the annotation tool i

[2021-07-21 01:01] clarahohohoho commented on #1219
Hi Timo,

Apologies, I meant there are situations that the highest probability of an answer does not have the highest score and vice versa. Is there a possible reason for this behaviour? Thank you!

[2021-07-21 07:45] Timoeller commented on #1219
Understood, thanks for the clarification.

As you said, the ordering will be different when sorting by score vs probability - thats why we are implementing a switch in https://github.com/deepset-ai/FARM/issues/808

As I said, the probability is based on the softmax of all start_logits and then selects the highest value, the score is just based on the value of the highest start_logit. If you should

[2021-07-21 07:55] tholor commented on #1272
Seems resolved - feel free to re-open if the problem persists.

[2021-07-21 07:55] #1272 closed

[2021-07-21 08:21] youxingtian opened #1298 "I use Flask Server,get the error,sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) no such table: document"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

### my demo is:
[code]

**Error message**
Error that was thrown (if available)

**Expected behavior**
A clear and concise description of what you expected to happen.
Can you give me some advice on how to modify my code

**Additional context**
Add any other context about the problem here, like document types / preproc

[2021-07-21 09:43] guillaumecherel opened #1299 "Leading space in answers since haykstack 0.9.0"
**Question**
After updating haystack from version 0.8.0 to 0.9.0, I'm noticing a leading space with each answer coming out of the TransformersReader. I'm trying to understand where they come from and how to properly remove them.

My pipeline consists in an ElasticsearchRetriever with an ElasticsearchDocumentStore and a TransformersReader with a RoBERTa based model (camembert) and the associated to

[2021-07-21 09:56] brandenchan commented on #1282
Hmmm that's odd. I wonder if @tanaysoni has any pointers here. Otherwise I would like to wait for our M1 developer to return so that we can out the images!

[2021-07-21 10:14] tholor commented on #1299
Ok interesting.
Let's try to narrow it down together:
- Do you have the same issue when using the FARMReader instead of TransformersReader?
- With haystack 0.9.0 with upgraded transformers from 4.5.0 to 4.6.1 - could you maybe install 4.5.0 again and see if this makes any difference?
- Do you have the same issue when using the plain transformers pipeline like this:
[code]
If yes, then this is prob

[2021-07-21 13:20] guillaumecherel commented on #1299
Thanks for your help!

I tried each of your suggestions:

- Using the FARMReader eliminates the issue.
- The issue persists after installing transformers 4.5.0.
- There also is a leading space when using the plain transformers pipeline, both with versions 4.5.0 and 4.6.1.

So, the leading space clearly comes from transformers, but it was already the case with transformers 4.5.0 that was used by ha

[2021-07-21 15:31] srevinsaju commented on #1139
Can reproduce on OpenDistro.

@DavidSilva98 do you want to create a PR for the same? I think it would be useful

[2021-07-21 15:53] srevinsaju commented on #1139
Awesome! Thanks a lot ✨

[2021-07-21 17:16] cvgoudar commented on #1179
Haven't got a chance to take this up. I did a quick workaround for forcing the score of missing records across retrievers by choosing the minimum value and then doing the weighted averaging stuff. This is not the ideal solution but worked as quick fix.

I shall keep things posted on this thread on any progress.

[2021-07-22 08:19] brandenchan commented on #1299
Hey I can try and follow up on this to help out. Is there any chance you can send me a minimal example with data? Perhaps one document, one question and a script to reproduce this error?

[2021-07-22 09:09] oryx1729 commented on #1298
Hi @youxingtian, `MilvusDocumentStore` by default uses in-memory SQLite instance. Since multiple API workers cannot access the same database instance, it could possibly cause this error.

Could you try again by using a file-based SQLite? You can do that by setting the `sql_url` param as:

[code]

[2021-07-22 10:02] SAIVENKATARAJU opened #1302 "AttributeError: _prepare_passage_embeddings need a DPR instance as self.retriever to embed document"
Hi,
I am using Elasticstore, DPR and RAG generator on my custom data for extractive QA task. My code is below:
[code]
I am passing DPR retriever, but still its showing error.

[2021-07-22 10:04] guillaumecherel commented on #1299
Hi, thanks!

Below is a minimal script that reproduces the error and a small data set to put in a file `sample.json`.

At the end, the script prints the following answers with the leading spaces.
[code]

The script:
[code]

The dataset:
[code]

[2021-07-22 10:27] SAIVENKATARAJU commented on #1302
[code]

[2021-07-22 12:57] lalitpagaria commented on #1282
@FarhatAdam You need to use ARM based ES image. Check this out https://discuss.elastic.co/t/my-docker-elasticsearch-keeps-failing-looking-for-java/272334

[2021-07-23 07:47] youxingtian commented on #1298
Thank you! I solve the problem.

[2021-07-23 08:09] #1298 closed

[2021-07-23 11:12] brandenchan commented on #1299
Hi @guillaumecherel , thanks very much for that example! Helped a lot in figuring out what's going on.

So I just want to state first that [Haystack 0.8](https://github.com/deepset-ai/haystack/blob/v0.8.0/requirements.txt) requires [FARM 0.7.1](https://github.com/deepset-ai/FARM/blob/v0.7.1/requirements.txt) which in turn requires Transformers 4.1.1. With these packages installed, there was no lea

[2021-07-23 13:04] guillaumecherel commented on #1299
Hi @brandenchan, thanks!

I can confirm your results with haystack 0.9 and transformers 4.6.1, and with haystack 0.8 and transformers 4.1.1.

I can't figure out how to run any other combination of versions together though. Pip won't let me install any other pair of versions together unless I use `pip install --no-deps`, but if I do that I get an error when I try to run the test script: `ModuleNotF

[2021-07-23 13:55] brandenchan commented on #1299
I ran into this same issue as well. That error comes from another package called haystack. Maybe you installed it because you called `pip install haystack` instead of `pip install farm-haystack`?

I was calling something like this in my python env.
[code]

[2021-07-26 07:43] guillaumecherel commented on #1299
Thanks @brandenchan, I could finally reproduce your results. I can confirm that the problem appears between transformers 4.2 and transformers 4.3, with `farm-haystack==0.9`. I'm going to open an issue on transformers' repo.

[2021-07-26 07:44] HeChengHui opened #1303 "Get outputs between components"
**Question**
Was testing out having multiple retrievers (ElasticsearchRetriever + DensePassageRetriever) when I observed that the answer isn't a combination of both, with new answers appearing. Hence, I was wondering if it is possible to somehow look at the output before going into the reader to see which retriever is retrieving what context.

**FAQ Check**
- [x] Have you had a look at [our new FA

[2021-07-26 09:10] brandenchan commented on #1303
Hi @HeChengHui , we have it on our roadmap to implement a clean solution to this (See #1193). However, in the mean time, I would recommend adding an `EvalDocument` node after each retriever and set `debug=True` in its initialization. `EvalDocument.log` now keeps track of each prediction that is made during inference. Just let us know if you'd like any help getting this set up!

[2021-07-26 09:35] HeChengHui commented on #1303
@brandenchan Thank you so much for the tip! I will try it out and let you know.

[2021-07-26 10:32] SAIVENKATARAJU opened #1304 "TypeError: object of type 'NoneType' has no len()."
Hi ,
I was trying to create embeddings for a random sentence using DPR, but ended up with the following issue. Tried differently however none of the is worked. Can you please provide other way of implementing the same if it's not the correct way.

[code]
and the error is

[code]

[2021-07-26 15:26] brandenchan commented on #1299
Great! I'm going to close this issue for now but will be following your progess on the issue in the piaf-ml repo :)

[2021-07-26 15:26] #1299 closed

[2021-07-26 16:11] brandenchan commented on #1304
Hi @SAIVENKATARAJU , thanks for the script to reproduce the error! It really helped me figure out what's wrong here. Could you try setting `text` as a string rather than a list of strings? i.e.
[code]
I'd recommend using this dict to populate the haystack `Document` object which is the class expected by `Retriever.embed_passages()`. i.e.
[code]

[2021-07-26 22:53] sergeyf opened #1305 "Document store `update_embeddings` fails with DPR"
**Describe the bug**
If you train a `DensePassageRetriever` with `num_hard_negatives` > 0, then doing the following:

[code]

will trigger this assert: https://github.com/deepset-ai/haystack/blob/c5138655660b047d37e6628115af1315ca5c782e/haystack/document_store/faiss.py#L261

**Error message**
[code]

[2021-07-26 22:57] sergeyf commented on #1305
By the way, if you load the retriever from disk after training it works fine:

[code]

Seems like the issue is actually using the instance that was trained.

[2021-07-27 06:56] SAIVENKATARAJU commented on #1304
Hi @brandenchan

It worked if we change to str rather than list[str].

[2021-07-27 06:56] #1304 closed

[2021-07-27 07:13] SAIVENKATARAJU commented on #1167
There is no update_embedings for retriever object( I see document store has this attribute).Also, what if we want to print similar kind of sentences using query_by_embedings. I am getting the same error for the below kind of example.

[code]

[2021-07-27 07:16] HeChengHui commented on #1303
@brandenchan Hello, I would like some assistance on how to implement the `EvalDocument` node. Below is the part on the custom pipeline:

[code]

[2021-07-27 07:20] SAIVENKATARAJU commented on #1135
Can you please look into the new comment . #1167

[2021-07-27 09:55] oryx1729 commented on #1185
Hi @HighDeFing,

You can use a hosted version of the annotation tool here: https://annotate.deepset.ai/login

If you want to set up your own instance, you can follow this [README](https://github.com/deepset-ai/haystack/tree/master/annotation_tool).

[2021-07-27 10:12] brandenchan commented on #1305
Hi @sergeyf , thanks for reporting the issue! This is something we'll be looking in to. Just wondering if this is blocking your task or whether the work around you found is enough for what you're trying to achieve?

[2021-07-27 12:56] brandenchan commented on #1303
Hi sure, you'll want something like this
[code]

You can call `p.draw()` to save this pipeline graph as a png file.

You should run your pipeline as you did before. But at the end of the run, `eval_es.log` and `eval_dpr.log` will contain the retrievers' predictions for each sample. Let me know how this goes for you!

[2021-07-27 13:16] akkefa commented on #1296
@brandenchan You are talking about model tokens length. By default, the transformer model triggers an error if the token length is greater than 512.

[2021-07-27 13:42] sergeyf commented on #1305
Howdy. The workaround is working just fine! Thanks.

[2021-07-27 13:49] brandenchan commented on #1296
Yup that's right. But the idea is that we could implement something that will shorten the input text that is going into the Summarizer. This way, we get a summary on the first 512 tokens, a warning message is printed to the console and the pipeline doesn't crash

[2021-07-27 13:52] Timoeller commented on #1179
Ah sounds like a good but hacky solution that should work for most cases.

Any experience on merging candidates from different document stores where the scores are not comparable (e.g. Elasticsearch vs DPR)?
If you think your solution is added value and in presentable state (it is never :), we are more than happy about your contribution and would base future work on your code.

[2021-07-27 14:01] #1079 closed

[2021-07-27 14:07] cvgoudar commented on #1179
Merging scores where they are not normalized to a scale doesn't work. One possible option is to normalize (optional parameter) by the highest score value of each retriever and then do weighted average could be a solution. Secondly for cases where the score is expected to be between 0-1 (for ex: cosine similarity) we can use them as-is. Also, the scores from dot_products have significant variation

[2021-07-27 14:18] lalitpagaria commented on #1296
Exactly same issue we faced in Obsei and currently truncating it to [`max_position_embeddings`](https://github.com/obsei/obsei/blob/master/obsei/analyzer/classification_analyzer.py#L44) instead of fixed 512 chars.

Currently we have [open issue](https://github.com/obsei/obsei/issues/164) to truncate input based on tokens instead of chars. Following idea suggested by @akar5h . I think similar can b

[2021-07-27 14:28] lalitpagaria commented on #1179
@Timoeller and @cvgoudar How about adding `PostProcessing` Node? Which is kind of `JoinNode` but more related to prediction part.
We have recently added it in Obsei, which perform `[Inference Aggregation](https://github.com/obsei/obsei/blob/master/obsei/postprocessor/inference_aggregator.py)`. User can supply function (or choose from pre-existing one like weightage avg or max voting etc) based on

[2021-07-27 14:35] lalitpagaria commented on #1305
@sergeyf Can you please try this code? Mainly I changed the initial document store to retriever from InMemoryDocumentStore to FAISSDocumentStore

[code]

[2021-07-27 15:31] HeChengHui commented on #1303
@brandenchan I got the following error:
**ImportError: cannot import name 'EvalDocument' from 'haystack.eval' (...\haysatck\haystack\haystack\eval.py)**

my code snippet:
[code]

I previously tried using `EvalDocuments` from https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial5_Evaluation.py didn't work for me as well.

[code]

Error message:

[code]

[2021-07-27 16:49] sergeyf commented on #1305
I tried it and it's still got the same issue. I think the issue is related to `num_hard_negatives` because when I set that to 5, the actual number of embeddings that's produced is 6x what it should: 1 for the positive and 5 for each of the negatives. When `num_hard_negatives` was set to 1, the number of embeddings produced was 2x.

[2021-07-27 17:51] x110 commented on #1189
Hi Branden,
Thank you. I used the logger approach.

I have tried `evalDocuments(debug=True)`, but this node requires labeled data:
`TypeError: run() missing 1 required positional argument: 'labels'`

[2021-07-27 20:22] AntonioLopardo opened #1307 "Loading in HuggingFace a DPR model trained from scratch with Tutorial 9"
**Question**
Can I train from scratch a DPR model and then convert it in some way to a hugging face model?

**Additional context**
I have followed the notebook Tutorial 9, training from scratch a DPR with context encoder and question encoders set to 'bert-base-uncased'. The model trains and can be used in FARM-haystack but I want to use it with RAG on huggingface, so I've been trying  for a couple

[2021-07-28 03:15] bappctl commented on #1077
@oryx1729
Ignore my question on index. It's no more relevant. The other question I have is sometimes during training for some reason the model save fails and I run into below issue and no more it trains and throws same error.

It happens only time when save() fails. How to overcome it

OSError: Unable to load weights from pytorch checkpoint file for language_model.bin

[2021-07-28 08:00] oryx1729 commented on #1077
Hi @bappctl, can you share the full error stack trace that you get when the process is killed? What version of PyTorch are use using?

[2021-07-28 09:21] julian-risch commented on #1307
Hi @AntonioLopardo, the method `convert_to_transformers` should do the trick. https://github.com/deepset-ai/FARM/blob/3828782e64419aa8b71aff81d05453769ab8ae80/farm/modeling/biadaptive_model.py#L449 I am not sure why it is not working for you.

The error message that you posted on slack (`config_class = CONFIG_MAPPING[config_dict["model_type"]]
KeyError: 'text_similarity'`) indicates that there is

[2021-07-28 10:14] SAIVENKATARAJU opened #1308 "Same kind of answers are not generating from similar kind of documents"
Hi,
I am trying to build extractive QA for watersoftner , I have product manuals for 4 different models. each of the manual contains some info about the WS , do's and dont's.  most of the info is same across all the docs, but regarding specifications it may vary from doc to doc. I was trying to pull the answer from every doc. but exact answers are returning from only one or two docs, even though t

[2021-07-28 10:15] akkefa commented on #1296
@lalitpagaria Thanks for sharing. I will look into this solution.

Right now we are using the transformer pipeline module I think they aren't flexible to modify. I am looking into the documentation If we can provide `truncation=True` to the Summarizer module.

@brandenchan Can we rewrite the TransformersSummarizer class without using the Pipeline module.  The pipeline module is just an abstraction

[2021-07-28 10:29] AntonioLopardo commented on #1307
In save_dir I have two directories, passage_encoder and query_encoder and two files prediction_head_0.bin  prediction_head_0_config.json.
In prediction head config I have this content ```{"training": false, "similarity_function": "dot_product", "task_name": "text_similarity", "model_type": "text_similarity", "ph_output_type": "per_sequence", "global_loss_buffer_size": 150000, "label_tensor_name":

[2021-07-28 14:03] giguru commented on #929
Hi @Timoeller - In the end, I have only been able to reproduce, meaning retrain from a BERT base, the model only partly. I have created a Processor and Pipeline Component in [this folder](https://github.com/giguru/haystack/tree/conversational/haystack/query_rewriting) in my fork.

Fortunately, my supervisor + professor have managed to get the original author to finally share his work and I have up

[2021-07-28 14:54] Timoeller commented on #929
Nice work!

Would you like to clean it up and try to integrate it into Haystack in the coming weeks?

However you decide, could you add some example code snippets to the model card to show how this model can be used please?

If you want to integrate this I have a couple of thoughts: I understand that it combines text with SEP + current question, so the processor needs to be custom and we cannot ta

[2021-07-28 16:16] nisrj10 opened #1310 "Haystack not running on Mac M1"
Description:
I had the library working fine about 2 months ago. Suddenly it is giving me this error. I tried installing again in new conda env, but scipy installation is stopping installation, as an alternative looked at using miniforge3 but there faiss-cpu won't install. So, I am back to start trying to figure out how to fix this.

error:
----------------------------------------------------------

[2021-07-28 16:28] Timoeller commented on #1179
Hey thanks for the valuable input from both @cvgoudar and @lalitpagaria
A PostProcessing Node could be useful for normalizing preds coming from one retriever to make them comparable across different retrievers. Then we still need a JoinNode, because we want to find scores for question-document pairs not currently retrieved (Lalit, for details see the [comment further up](https://github.com/deepset

[2021-07-28 17:26] bogdankostic commented on #1307
Hi @AntonioLopardo!

I had a look at the model conversion and could not replicate your issue, however, I found another one. I already created a PR (https://github.com/deepset-ai/FARM/pull/833) in FARM to fix this. When this is merged, using the latest FARM master, you should be able to convert your models to transformers format like this:

[code]

I hope this will fix your issue! :)

[2021-07-28 18:32] calderma opened #1311 "Big Bird models for DPR"
Hello, I was wondering if there were plans to integrate bigbird style models (https://arxiv.org/pdf/2007.14062.pdf) into haystack? It seems to be implemented in FARM but has not made it over here yet. It would be very useful for longer sequence encoding. I gave integration a brief try but had the issue that the output shape did not appear to match what was expected by the library. Also it seems th

[2021-07-28 19:06] AntonioLopardo commented on #1307
With your changes in the BiAdaptiveModel and your code, everything seems to be working, thank you very much!!!

[2021-07-28 21:59] bappctl commented on #1077
@oryx1729

04:58:03 +0000] [282] [ERROR] Exception in ASGI application
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/uvicorn/protocols/http/httptools_impl.py", line 398, in run_asgi
    result = await app(self.scope, self.receive, self.send)
  File "/usr/local/lib/python3.7/dist-packages/uvicorn/middleware/proxy_headers.py", line 45, in __call__
    return await

[2021-07-28 22:01] bappctl commented on #1077
pytorch 1.7.1 + cu110

[2021-07-29 06:20] #1307 closed

[2021-07-29 07:30] oryx1729 commented on #1077
Hi @bappctl, could it be possible that you're using an older PyTorch version? Can you try with torch v1.8.1?

[2021-07-29 07:56] lalitpagaria opened #1312 "Add Google Vertex nearest neighbour search based document store"
Google vertex based document store will add value to Haystack users.

https://cloud.google.com/blog/products/ai-machine-learning/vertex-matching-engine-blazing-fast-and-massively-scalable-nearest-neighbor-search

Sample notebook: https://github.com//GoogleCloudPlatform/ai-platform-samples/blob/master/ai-platform-unified/notebooks/unofficial/matching_engine/matching_engine_for_indexing.ipynb

Match

[2021-07-29 08:42] brandenchan commented on #1303
Ahhh when you run the pipeline, you will need to add a `labels` argument which should be of type `haystack.Label`. Could you try something like this?|
[code]

[2021-07-29 08:52] brandenchan commented on #1308
Hi @SAIVENKATARAJU , my first suspicion would be that each of the product manuals might be split up differently by the PreProcessor. Maybe for one manual, the answer comes at the very beginning of a passage and in another, it is at the end. This can influence the model's predictions.

If you are using an ElasticsearchRetriever, one thing you could try to resolve this would be to increase the PrePr

[2021-07-29 09:13] brandenchan commented on #1310
Hi @nisrj10 , sorry that it's not running for you at the moment. My first instinct is to say this could be a versioning problem. Am I right in saying that you are installing the latest master by cloning the repo? (I'm making this guess because I see this line which is quite a recent addition `7 from haystack._version import version`)

If so, could you try installing an official release version of

[2021-07-29 09:18] HeChengHui commented on #1303
I tried adding the argument and got the following errors:

[code]

My code:

[code]

[2021-07-29 09:41] brandenchan commented on #1312
Awesome to see so much interesting in vector storage engines right now. Clearly this is a very active area of research and development. We're always open to contributions for new components.

I think I would like to understand what this solution offers over our other document stores before deciding to investing time into it. Our current collection of Document Stores already cover approximate neare

[2021-07-29 10:01] julian-risch commented on #1311
Hi @calderma great to see you're interested in bigbird models 👍 You're right that bigbird models can be used in FARM. @tanmaylaud trained a bigbird model with FARM on SQuAD. [Here is the mlflow link](https://public-mlflow.deepset.ai/#/metric/Dev_EM_question_answering?runs=[%2240a887dac3e24e75b891a0b050aba3dc%22]&experiment=2&plot_metric_keys=[%22Dev_EM_question_answering%22]). It's not part of the

[2021-07-29 10:42] SAIVENKATARAJU commented on #1302
will open another fresh issue

[2021-07-29 10:42] #1302 closed

[2021-07-29 10:59] brandenchan commented on #1303
Ahh yes my bad. It needs to be a MultiLabel object. Here's a script

[code]

[2021-07-29 12:32] brandenchan commented on #1189
Great thanks for the update!

[2021-07-29 12:32] #1189 closed

[2021-07-29 17:17] oryx1729 commented on #1185
Could you tell us more about the use case and what do you plan to build with the Flask application? Are you looking to create custom APIs for the annotation tool?

[2021-07-29 20:43] bappctl commented on #1077
@oryx1729  I don't see it happening frequently if I reduce the # workers to 1. Though not frequent at times I see the process get killed during save.

[2021-07-29 21:50] calderma commented on #1311
Thank you for your response. What I am specifically interested in is training a DPR based model where the context encoder is using a pretrained Bigbird-Roberta model. I don't believe that would require the QuestionAnswering head. I'm not intimately familiar with the internals of haystack but theoretically for a DPR model just being able to use it as a raw encoder should be enough no? Sorry for bei

[2021-07-30 02:52] HeChengHui commented on #1303
Thank you for the script. I was able to run it successfully but I wasn't able to find the 2 log files. May I know where would the files be stored at?

[2021-07-30 06:08] SAIVENKATARAJU commented on #1308
Hey @brandenchan
Thanks for your suggestions. I will check that

[2021-07-30 06:38] julian-risch commented on #1311
You're right. That should work indeed! Please let us know how it goes. If there are no further questions at the moment, I think we can close this issue, right?  However, feel free to open it if anything else comes up. 👍

[2021-07-30 07:53] Timoeller commented on #1311
I changed the issue title so people can find it better.

[2021-07-30 10:07] oryx1729 commented on #1077
Hi @bappctl, model training is a long-running task, so doing it within the REST API is not a recommended approach.

Could you share more details about the use case for triggering model training via an API?

An alternate approach is to train the model with a separate script & later use it for inference with the API.

[2021-07-30 16:28] calderma commented on #1311
I'll try it again today but when I tried it before (about a month ago) there was an issue where i needed to go into the huggingface library and make some changes to get it to run and then eventually hit a wall. If it works fine out of the box I'll close this otherwise I'll post the details of errors I get.

[2021-08-01 18:31] nisrj10 commented on #1310
@brandenchan I had it installed with pip . And I am getting different error due to scipy and other dependencies not installing through requirements.txt when pip install for farm-haystack is done.

[2021-08-02 06:46] HeChengHui commented on #1303
@brandenchan Hello, I am still unable to find the location of the 2 log files. It is also not in the same directory of the custom pipe picture when using `p.draw()`.

[2021-08-02 07:50] brandenchan commented on #1303
The logs are actually stored as attributes of the `EvalDocuments` objects. You can access them as follows:
[code]

[2021-08-02 08:58] HeChengHui commented on #1303
Oh I see. Thank you for the help!

[2021-08-02 08:58] #1303 closed

[2021-08-02 13:04] shahrukhx01 commented on #1155
@tholor I have created the tutorial for using the different query classifiers that we had trained, could you please take a look at it, if it looks good, then I will create the PR.
[Colab Link](https://colab.research.google.com/drive/1usDGUMGkjQS0JkpLI476jSMLcFj8TD_t?usp=sharing)

[2021-08-02 14:51] shahrukhx01 commented on #1248
@tholor could you please tell me about the design of this file parser, should I create a new class for this in this [file](https://github.com/deepset-ai/haystack/blob/master/haystack/file_converter/pdf.py) or would we create a separate script for OCR based parsing?

[2021-08-02 16:02] #1296 closed

[2021-08-03 06:04] SAIVENKATARAJU commented on #1308
Hi @brandenchan

I don't see much improvement with that parameters. I am planning to create different index in elastic store for tabular data, and will try to search in the same. please letme know is this a good idea?

[2021-08-03 07:54] Harshit1011 opened #1316 "Unable to connect Open Distro for elasticsearch"
**Describe the bug**
I ran the docker image of the open distro for elastic search using WSL2 in windows the image is working perfectly fine and running on the localhost 9200 but I am unable to connect to this elastic search service using haystack.
Haystack works perfectly fine with the elastic search but it doesn't work with open distro for elastic search. Can you please suggest any solution for t

[2021-08-03 10:34] Harshit1011 commented on #1316
version: '3'
services:
  odfe-node1:
    image: amazon/opendistro-for-elasticsearch:1.13.2
    container_name: odfe-node1
    environment:
      - cluster.name=odfe-cluster
      - node.name=odfe-node1
      - discovery.seed_hosts=odfe-node1
      - cluster.initial_master_nodes=odfe-node1
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:

[2021-08-03 14:31] #1139 closed

[2021-08-03 15:09] brandenchan commented on #1316
Hmmmm I see, could you also provide for me the version of Haystack that you're using? OpenDistroForElasticSearch has been replaced by the OpenSearch framework and we have an OpenSearchDocumentStore in the latest versions which we are still actively maintaining.

[2021-08-03 16:13] Ierezell opened #1317 "Upgarde requirements"
**Is your feature request related to a problem? Please describe.**
Installing haystack with pip leads to a torch dependency >1.5 <1.9.

This creates other dependencies and leads to transformers 4.6.1 but I would rather use the 4.9

**Describe the solution you'd like**
Update the `requirements.txt` with a looser or higher versions.

**Describe alternatives you've considered**
Still use old versions

[2021-08-04 04:39] HighDeFing commented on #1185
The use case is using it for the instructional repository http://saber.ucv.ve/ of UCV, and improve the search bar in that site, and use QA haystack and other forms of neural search to improve queries. I'm doing this for my university thesis.
I want to host it with my own annotation tool, but I don't want to start from scratch, that's why I'll appreciate the help in getting to know how to yes creat

[2021-08-04 05:32] Harshit1011 commented on #1316
Currently, I am using haystack v0.9.0 .

[2021-08-04 05:57] shihabrashid-ucr opened #1318 "Does DPR document store "update embeddings" utilize multiple GPUs?"
I am trying to create DPR embeddings for the whole Wikipedia dataset (11 million documents).
First I ran the code on a single 16GB GPU and 61 GB ram. In tqdm I can see that the whole "document_store.update_embeddings()" with a batch size of 32 would take total 30 hours. However, after  20 hours the process gets "killed" everytime, I am guessing due to low RAM.
So, I again ran the code, but this ti

[2021-08-04 16:22] SAIVENKATARAJU commented on #1308
Hey @brandenchan ,

No good improvement with parameters tuning. is it good idea to create different index for different files?

[2021-08-04 18:03] tholor commented on #1318
Hey @shihab3252 ,

DPR's `update_embeddings()` is currently not supporting multiple GPUs. However, it makes totally sense to enable multiple GPUs (at least via `DataParallell`)  - I'll add it to our next sprint unless you want to provide a PR yourself here.

Regarding your problems with the single GPU: The GPU memory shouldn't be a problem here. Can you share the error message you get there? As a

[2021-08-04 23:07] shihab3252 commented on #1318
The error I am getting is `killed` after around 25 hours.
It would be great if you can add `DataParallel` to `update_embeddings()`.
Let me try out the temporary workaround and see if it works.
Thanks for all your help!

[2021-08-05 10:59] shahrukhx01 commented on #1248
@lalitpagaria could you give me a little starting direction on this, the goal is to add a new PDF file converter based on OCR approach. This would help me add the initial draft PR.

[2021-08-05 11:39] tholor commented on #1248
Hey @shahrukhx01,
Great that you want to work on this. Really appreciated!

I see two options:
1) New class `OCRPDFtoTextConverter` in file_converter/pdf.py which does the whole job

2) New class `ImageToTextConverter` in new module file_converter/image.py plus a `PDFtoImageConverter` in pdf.py - we would chain those two together in a pipeline to get the desired PDF->Image-> OCR -> Text .

I think

[2021-08-05 13:13] lalitpagaria commented on #1248
My vote for (2), which is more powerful and later add more value.
Anyway we have plan to support Image as well so this issue could be first starting point to think about how introduce image into document structure.
I dont have much idea but how about supporting `bytes` object along with `str`. But we need to change name of `text` variable in `Document` to `data` or something meaningful.
[code]

[2021-08-05 13:54] tholor commented on #1155
Hey @shahrukhx01,

Thanks for providing the colab tutorial. I initially rather thought about a "usage" page (like [here](https://haystack.deepset.ai/docs/latest/pipelinesmd)), but a tutorial is also helpful. Either you add also a usage page on top or if your time doesn't permit @brandenchan might do it from our side later on.

Regarding the tutorial:
- I like it overall
- I would try to "shorten"

[2021-08-05 15:20] tholor commented on #809
Let's reactivate the discussion here and move forward :)
We still hear from many users that this would be helpful and some of them already created their own workarounds. [This nice blog article](https://sarita-padoshi.medium.com/interactive-q-a-bot-using-rasa-haystack-67c04021793) describes one approach that is not too different from our previous discussions here.

@prasunanand I guess you still d

[2021-08-06 09:51] shahrukhx01 commented on #1155
@tholor I have updated the tutorial according to the points you mentioned. Once you take a look at it I will create a PR for this, and I will also add the "usage" page too. Please check the notebook [here](https://colab.research.google.com/drive/1usDGUMGkjQS0JkpLI476jSMLcFj8TD_t?usp=sharing)

[2021-08-06 11:04] Harshit1011 commented on #1316
@brandenchan any feedback

[2021-08-06 12:08] tholor commented on #1155
Great! Thanks for the updates. I think they improved the tutorial quite a lot. One comment about the very last section where you show the individual usage of the classifiers: I think we could simplify this section a lot by just using the classifiers without any pipeline or custom "output nodes". Something like this:

[code]

This would transport the same educational message without any further dis

[2021-08-06 12:53] oryx1729 opened #1322 "Add Crawler support for Indexing Pipelines"
In the current implementation, `Crawler.crawl()` writes documents to JSON files and returns their paths.

Adding an option to return documents will enable connecting a Crawler in an Indexing Pipeline where crawled documents can be indexed directly to a document store.

[2021-08-06 14:47] tholor commented on #1317
We put the hard restrictions in here as we faced unexpected compatibility issues in the past with newer torch and transformer versions that were often quite hard to find & debug as things were "failing" silently.

With the next Haystack release, we will upgrade to the latest torch and transformers again (after having tested them thoroughly for compatibility). Until then you can of course install t

[2021-08-06 14:47] #1317 closed

[2021-08-06 14:54] tholor commented on #197
We use our slack channel for such news / content now. Whoever is reading this: come and [join us there](https://haystack.deepset.ai/community/join/)

[2021-08-06 14:54] #197 closed

[2021-08-06 14:59] tholor commented on #1033
Seems resolved by now

[2021-08-06 14:59] #1033 closed

[2021-08-07 03:24] lalitpagaria commented on #1248
@tholor @oryx1729
What do you think about this? Ideally better to brainstorm about changes related to `Document` class. So it can support future use cases of multi model search. I don't have much idea how python keep image/audio/video data (or how machine learning model accept these data?). What I understood from HF models that image models need `Image` object and speech models need path to `wav`

[2021-08-09 07:29] tholor commented on #1248
@lalitpagaria Yes, I think it makes sense to widen the scope of the `Document` class.  We plan a refactoring in #1232 anyway and it's one of the things we want to improve before the 1.0 release. I think we should rather use `data` for the binary data and keep the file path separate in the object. While the full integration of image/audio is further down the road, we could still prepare the first s

[2021-08-09 09:13] shahrukhx01 commented on #1155
@tholor Colab links seem broken for tutorials 13 and 14.

[2021-08-09 09:23] tholor commented on #1155
Fixed it :+1:

[2021-08-09 10:59] shahrukhx01 opened #1327 "Auto suggest filters and potentially corresponding queries"
Based on the Slack discussion with @julian-risch, below is the relevant excerpt from that discussion:
When users are in a search session where they interactively make changes to the question and the filter. Maybe one could also suggest filters based on the size of the result set. For example, one could suggest a filter that drastically shrinks the number of returned documents instead of a filter t

[2021-08-10 09:53] SAIVENKATARAJU opened #1330 "issue with docker-gpu. could not find version file"
Here is the docker file with little modifications that suite to my requirement.

[code]

Error:

[code]

[2021-08-10 09:57] tholor opened #1331 "Deletion of Docs via REST API"

[2021-08-10 09:59] #1331 closed

[2021-08-10 10:43] #1330 closed

[2021-08-10 11:50] tholor commented on #1330
@SAIVENKATARAJU Were you able to resolve it yourself? What was the issue? Others might be interested in case they come across a similar problem

[2021-08-10 11:52] tholor commented on #1295
Seems resolved. Feel free to re-open if not

[2021-08-10 11:52] #1295 closed

[2021-08-10 12:06] PiffPaffM opened #1332 "Add Annotation FAQ to read.me"
At the moment, it is difficult for users to find our annotation faqs. You can find them in our [GermanQuAD and GermanDPR](https://arxiv.org/pdf/2104.12741.pdf) paper. Let's add them to the annotation tool read.me.

[2021-08-10 12:55] #1332 closed

[2021-08-11 08:46] brandenchan commented on #1308
Hi @SAIVENKATARAJU , what's your intention with creating an index for each file? Is it that you would like to perform your query on just one of your files? (In this case I would recommend using [metadata filtering](https://medium.com/deepset-ai/metadata-filtering-in-haystack-95052f56367))

The next thing I would recommend would be to actually see the output of the retriever. To do this you want to

[2021-08-11 09:46] jyotikhetan commented on #687
hi @tholor, I am really looking forward for approach about how we could query from table..!! TAPAS seems like a great idea..since i worked on it..!! It would be great ,if we can include it in Haystack Pipeline....Please shed some light on it..!!

[2021-08-11 11:55] julian-risch commented on #1311
Hi @calderma did you have a chance to try it out and could you please give an update whether it worked or what errors occurred?  Thank you 👍

[2021-08-11 12:44] tholor commented on #687
@bogdankostic has been working on this topic in the last months and I can already say that there will be a paper coming up and an integration in Haystack is planned for Sep/Oct

[2021-08-11 13:01] tholor commented on #859
Done

[2021-08-11 13:01] #859 closed

[2021-08-11 13:46] brandenchan opened #1335 "Documentation Backlog (August)"
- [x] New pipelines docs
- [x] New rest API docs
- [x] improve FAQ regarding seeing retriever predictions
- [x] Generate Ranker api page
- [ ] Points from external audit
- [x] question generation - docs and tutorials and doc strings
- [x] Pipelines yaml
- [x] Make sure headers are at right level so they can be linked (##)
- [ ] Clean docstrings

[2021-08-11 16:18] mathislucka opened #1337 "Add cosine similarity as similarity metric for FAISS document store"
**Is your feature request related to a problem? Please describe.**
FAISS is a really nice and fast indexing solution for dense vectors. Using it for semantic similarity search works very well. However, currently only dot product and L2 are supported when it comes to distance metrics for FAISS. In https://github.com/deepset-ai/haystack/blob/7569ab97dde4e116ba9e24fcffcf6276c0dbd370/haystack/document

[2021-08-12 12:20] #864 closed

[2021-08-12 12:31] #1241 closed

[2021-08-12 13:03] lalitpagaria commented on #1337
@tholor we reverted this in https://github.com/deepset-ai/haystack/pull/467 refer https://github.com/deepset-ai/haystack/pull/422  for more discussion. Referring comment -

[2021-08-12 13:41] tholor commented on #1337
This was a different type of normalization. If I recall correctly we used L2+Phi normalization back then to enable inner product in HNSW. This was then later on natively supported by FAISS and the trick was not required anymore. This issue here however is about supporting cosine similarity (just requiring L2 normalization).

[2021-08-12 13:56] lalitpagaria commented on #1337
Oh okay now I know that I already implemented L2 normalisation but we closed that PR for future reference. We can bring some of these idea now 🙂

You had one comment about L2 normalisation
https://github.com/deepset-ai/haystack/pull/385#issuecomment-704155469

[2021-08-12 16:23] mathislucka commented on #1337
You are right @tholor there will probably only be changes in the document store and not in the retriever. I didn't look at it properly before. I'll make sure to read through the referenced issues when implementing the feature.

What do you think about the case when someone loads an existing faiss index from a file. As far as I can see, no initialization parameters are saved alongside the file so s

[2021-08-12 17:48] Timoeller opened #1341 "Migrate QA+DPR FARM components to Haystack"
## Motivation
We want to accelerate development on the underlying QA/DPR related parts and realized the release cycle of: implement in FARM, release FARM, update Haystack, release Haystack" is slowing us down a lot. Also we want to create a central repository containing all question and knowledge about search and QA. We have many duplicate explanations in issues in FARM and Haystack as well as dir

[2021-08-13 10:31] tholor commented on #1337
Good point. It might make sense to add the `similarity` arg to the `load` method. Then it's still the users responsibility to check that the right one is set, but at least it's possible to set it.
Optionally, we could also do a check after the index is loaded and similarity = cosine - We could verify that a sample of vectors has length = 1 and was therefore normalized.

[2021-08-13 11:10] julian-risch commented on #1310
I am currently executing FARM and haystack in an Intel python version and not Apple M1 ARM python version. Without breaking my current setup it's hard to replicate the problem, sorry. 😕 However, I am sure that the problems reported here are not about haystack itself but its requirements. Miniforge is the way to go, in my opinion, e.g., have a look [here](https://towardsdatascience.com/yes-you-can-

[2021-08-13 13:10] chrk623 opened #1343 "Cannot updating embeddings on a Wikipedia dump"
Might relate to #1318.

I'm currently using the `enwiki-latest-pages-articles.xml.bz2` Wikimedia dump. I tried several methods of updating the embedding for the entire dump but still no luck. I've removed all redirects which comes to around 6,311,807 documents, and after i split them up with sliding window (`split_by="word"`, `split_length=512`, `split_overlap=258`), right now the total number of

[2021-08-14 13:01] DARK-art108 commented on #1335
Can I work upon this issue? @brandenchan

[2021-08-14 14:11] tholor commented on #1343
I am pretty confident that this is not related to haystack's `update_embeddings` but rather your FAISS index growing out of RAM.
See:
- https://github.com/facebookresearch/faiss/issues/758
- https://github.com/facebookresearch/faiss/issues/1326

Possible workarounds:
- increase RAM of your server
- move to another docstore that e.g. allows simpler distribution across machines ( milvus, opensearch

[2021-08-14 18:21] nisrj10 commented on #1310
@brandenchan no not anymore.

[2021-08-14 18:23] nisrj10 commented on #1310
@julian-risch I will try compiling faiss-cpu and check if that fixes it.

[2021-08-15 10:30] chrk623 commented on #1343
Make sense.
Thank you for the references.

[2021-08-15 10:30] #1343 closed

[2021-08-16 18:29] julian-risch commented on #1310
Hi @nisrj10 I had a look today and managed to install most of haystack's dependencies but not all. Currently, I am still working on installing the following:
  - ray==1.5.0
  - sparqlwrapper
  - more_itertools
  - sqlalchemy_utils
  - faiss-cpu[version='>=1.6.3']
  - weaviate-client==2.5.0

It seems that all of them would need to be compiled if you want to use them. Most of them are optional, whic

[2021-08-16 19:32] nisrj10 commented on #1310
<img width="669" alt="Screenshot 2021-08-16 at 20 29 14" src="https://user-images.githubusercontent.com/79926445/129619271-bdfc2030-fc88-4639-b620-590f1833913e.png">

Got Same issue trying to run farm.
 Then tried to install farm in the miniforge3 env where I have pytorch and got this error

[2021-08-17 08:09] julian-risch commented on #1310
I installed sentencepiece via `conda install -c conda-forge sentencepiece`

[2021-08-17 08:27] #1220 closed

[2021-08-17 09:52] ehsanVIP opened #1345 "PDFToTextConverter: [WinError 2] The system can't find the specified file"
Hi guys, I think what you are doing is very interesting. I am currently struggling with data Preprocessing(Tutorial 8).
When I open my own pdf file in function PDFToTextConverter, I get the following error:

[WinError 2] The system can't find the specified file

Unfortunately, I have not yet found a specific solution for it. Can you guide me?

[2021-08-17 10:07] #1316 closed

[2021-08-17 13:31] julian-risch commented on #1310
Hi @nisrj10 let me list the steps that I followed to get haystack running on Mac M1 aka Apple Silicon in more detail:
1. Install brew and miniforge [simple steps are described in this tutorial](https://towardsdatascience.com/yes-you-can-run-pytorch-natively-on-m1-macbooks-and-heres-how-35d2eaa07a83)
2. Create a virtual environment. I decided to go with python3.9: `conda create --name py39 python=3

[2021-08-17 13:33] nisrj10 commented on #1310
Thanks @julian-risch  I will try this out. Appreciate the help.

[2021-08-17 15:53] sriprad opened #1350 "write_documents() returns AttributeError: 'str' object has no attribute 'to_dict'"
**Question**
Hi Team,
This is a great stuff you have built. I am facing few challenges in using this.
Objective - I am trying to use my own .txt file for building the Q&A system.
Please find below the code. Can you please help me with that? thanks

from haystack.document_store import ElasticsearchDocumentStore
document_store = ElasticsearchDocumentStore()
document_store.delete_all_documents()

# H

[2021-08-17 22:09] mathislucka commented on #1337
I didn't get to writing any code but I manage to think a bit more about the issue of embedding mismatch when loading a faiss document store by calling its `load` method:

As far as I can see, the `load` method does not take the same arguments as the `__init__` method. Isn't this problematic because the document store will always be initialized with the default values when using the `load` method?

[2021-08-18 02:32] nisrj10 commented on #1310
@julian-risch Farm installation worked fine. Haystack installation didn't work as grpcio installation caused issues.

[2021-08-18 06:45] ADwightPilani opened #1351 "ContextualVersionConflict when I try to run Colab notebook #6"
When I try to run the tutorial 6 colab notebook I get this error due to some kind of a version conflict which I am not sure how to solve. I've been experimenting with the colab notebooks from last 2 days and it was working fine until this morning it suddenly
 started having this issue. My first instinct was to check if there has been any new commits, but even using the  commits 2 days ago, it stil

[2021-08-18 07:14] #1351 closed

[2021-08-18 07:14] julian-risch commented on #1310
I don't think I had to install `grpcio`. Can you tell which of the dependencies tried to install `grpcio`? Did you uncomment `faiss-cpu` and `ray` from the `requirements.txt`?

[2021-08-18 07:27] julian-risch commented on #1310
Anyway, `conda install -c conda-forge grpcio` works for me. If it works for you too, I will add it to the list above. @nisrj10

 What does not work is to install `grpcio-tools` but it should not be needed if you uncomment `faiss-cpu` and `ray` from the `requirements.txt`.

[2021-08-18 12:05] #1283 closed

[2021-08-18 14:31] julian-risch commented on #1351
Hi @ADwightPilani I was able to reproduce the error that you reported. My best guess is the following. colab comes with a pre-installed version 1.39.0 of grpcio. Even if we explicitly install a different version of grpcio and grpcio-tools, e.g., with the following two commands, it seems we need to restart the notebook after the installation so that the newly installed version of grpcio and grpcio-

[2021-08-18 16:16] mathislucka commented on #1337
I have added a first draft of the proposed changes. It just contains the bare minimum code that will be needed to support cosine similarity.

I'm having issues to get the tests to run though. It seems as if some requirements are missing in the `requirements.txt` and the `requirements-dev.txt`. I could not find documentation on setting up the project and getting the tests to run. Could you give me

[2021-08-18 17:14] tholor opened #1353 "Simplify setup of local tests & update contributor docs"
**Is your feature request related to a problem? Please describe.**
Our CI works nicely, but it's currently quite cumbersome to run all tests locally. Especially, as they require running some document stores in the background.

**Describe the solution you'd like**
- Cleaner option to launch required document stores locally
- Remove unused fixtures
- Review if we can make better use of the `--docume

[2021-08-18 17:15] tholor commented on #1337
Yes, that's absolutely right. We store the params in a the attribute `config` anyway. Should be easy to store it as json and load it back when needed. Let's tackle it separately. Can you please create an issue?

Can you please share more details about the problem that you are facing (e.g. error msgs)? If you want to run all tests locally, you will need to run a couple of documentstores in the back

[2021-08-19 07:35] tholor commented on #1350
Hey @sriprad ,

The method `write_documents()` expects a list of documents or a list of dicts. You are passing just a single dict here,  so you should adjust it to `document_store.write_documents([doc_txt])`

[2021-08-19 08:50] julian-risch opened #1356 "Tutorial 5 requires sentence_transformers (not installed)"
**Describe the bug**
Tutorial 5 breaks with a ModuleNotFoundError because it requires sentence_transformers for the newly added SAS metric but sentence_transformers is not automatically installed through the requirements.txt. It's optional.

**Error message**
[code]

**Expected behavior**
Tutorial 5 should install sentence_transformers so that it runs without errors.

**To Reproduce**
Run tutorial

[2021-08-19 13:50] sriprad commented on #1350
Thank you @tholor . very helpful. Sure i will paste the error rather than a screenshot. Also can you please let me know if there is webapp developed for this Q&A? currently its cli based. thanks

[2021-08-19 14:04] tholor commented on #1350
@sriprad Have you seen our docker-based "quick demo" [here](https://github.com/deepset-ai/haystack#quick-demo)? Besides the Haystack REST API it also launches a minimal webapp based on streamlit.

[2021-08-19 14:20] sriprad commented on #1350
@tholor  thank you. I tried that but when i run the docker compose up. its giving me the below error
![image](https://user-images.githubusercontent.com/8103667/130085193-452a2886-4cd4-4406-9ab0-61fdedeccb48.png)

Error :   raise ConnectionError(e, request=request)
ui_1             | requests.exceptions.ConnectionError: HTTPConnectionPool(host='haystack-api', port=8000): Max retries exceeded with u

[2021-08-19 14:21] sriprad commented on #1350
@tholor  this is my own laptop so i am not sure of any firewall. Please let me know your thoughts

[2021-08-19 14:25] tholor commented on #1350
Please create a new issue with the full error stack trace and the description of your system (RAM, OS, free disk space ...)

[2021-08-19 14:25] #1350 closed

[2021-08-19 14:30] sriprad opened #1357 "Connection error"
**Describe the bug**
I am trying to replicate the docker (demo) with the webapp (streamlit) version of the code. When i run docker compose up i am getting the below error

**Error message**
Error : raise ConnectionError(e, request=request)
ui_1 | requests.exceptions.ConnectionError: HTTPConnectionPool(host='haystack-api', port=8000): Max retries exceeded with url: /query (Caused by NewConnectionEr

[2021-08-19 14:38] tholor commented on #1357
As mentioned in #1350, please share:
- the full logs from docker-compose  ( in a code block - not as a screenshot)
- The RAM of your machine
- The free disk space you have

Otherwise it will be impossible to debug / replicate.

[2021-08-19 14:57] sriprad opened #1358 "- cannot import name 'finder' from 'haystack'"
**Describe the bug**
I am trying to replicate the below link code
https://haystack.deepset.ai/docs/latest/tutorial3md

**Error message**
ImportError                               Traceback (most recent call last)
<ipython-input-3-c0157b0c21c8> in <module>
----> 1 from haystack import Finder
      2 from haystack.preprocessor.cleaning import clean_wiki_text
      3 from haystack.preprocessor.utils

[2021-08-19 15:23] julian-risch commented on #1358
@sriprad We recently updated the tutorials and removed the Finder class. Please find an updated version of the code here: https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.ipynb
@PiffPaffM We need to update https://haystack.deepset.ai/docs/latest/tutorial3md before we can close this issue.

[2021-08-19 15:34] sriprad commented on #1358
@julian-risch  thank you. 👍 It worked. I am trying to follow the documentation in the tutorial and faced few issue.

[2021-08-19 15:37] julian-risch commented on #1358
You're welcome. We need to update the code on the document page. Thank you for pointing this out!

[2021-08-19 20:31] Zajano commented on #809
Not adding anything except to say my team is beginning to explore this and would find it immensely helpful! We are testing whether we want to use Haystack or AWS Kendra currently, and are unsure of how to best fit it into the conversational/dev framework.

I am considering using retrieval intents similar to FAQ, but since this would just be submitting a query regardless of the sub-intent it seems