[2021-03-26 12:27] giguru opened #925 "Additional metrics: MRR, nDCG and ROUGE for Pipeline evaluation"
Hi everyone!

In a meeting with @Timoeller , I had proposed to add more evaluation metrics commonly used in Information Retrieval *(IR)* (MRR, nDCG) and in Query Rewriting *(QR)* (ROUGE-1). This would make Haystack more suitable for researchers researching *QR* in Question Answering pipelines like in this publication by [Vakulenko](https://arxiv.org/pdf/2101.07382v1.pdf).

**Proposed solution**
In

[2021-03-26 12:34] Timoeller commented on #766
Hey @Graduo
you seem to be having quite some issues with our haystack code. It is very cool that you try out a lot of things.

Nevertheless please make sure you use the Tutorial versions on colab so that you can make sure it is not an issue with your local python or DB setups. If the problems still persist please open a dedicated issue (this one seems rather unrelated to Evaluation Tutorial 5) and

[2021-03-26 12:59] Timoeller commented on #925
Hey @giguru thanks for creating this detailed concept about adding eval metrics.

About metrics for ranking: [metric-eval](https://github.com/AmenRa/metrics_eval) seems cool, Im unsure if it is battle tested enough. I really like your suggestion for pytrec-eval. It is based on the metrics used at TREC conference IR workshops, so I would assume those metrics are correct.

The ROUGE project by googl

[2021-03-26 13:03] Graduo commented on #766
Hey，thank you for your enthusiastic reply！I realize my stupid operation. I still need time to figure the awesome work out。

[2021-03-26 13:37] Timoeller commented on #766
Haha, no problem. Encouraging people to explore and learn haystack is actually very rewarding. Just next time test a bit more before posting a question. You have to keep in mind that this conversation will stay online forever ;)

[2021-03-26 17:15] giuliodz opened #928 "Packing with PyInstaller rises error"
## Environment info
- `transformers` version: 4.1.1
- Platform: Linux-5.8.0-48-generic-x86_64-with-glibc2.27
- Python version: 3.8.8
- PyTorch version (GPU?): 1.7.1 (False)
- Tensorflow version (GPU?): not installed (NA)
- Using GPU in script?: <fill in>
- Using distributed or parallel set-up in script?: <fill in>
-

## Information
I am trying to create an executable for a flask application that u

[2021-03-26 17:19] giguru opened #929 "Extending for Conversational QA with QueryRewriting"
I think Haystack can be made suitable for Conversational Systems with little adjustments.
- [Open-Retrieval Conversational Question Answering](https://arxiv.org/abs/2005.11364)
Conversation history is prepended to the current question and the result is encoded using BERT-based model.
- [Query Resolution for Conversational Search with Limited Supervision](https://arxiv.org/abs/2005.11723)
Used a BE

[2021-03-26 23:26] lalitpagaria commented on #895
@lewtun can you please try this (I have not tested, this solution based on my understanding of python logging) -
[code]

[2021-03-27 10:39] venuraja79 commented on #779
Milvus supports the capability to tag the partition with a friendly name while inserting data. While querying this tag can be used to filter the search. Should we use this feature to implement "filters"? Please advise.

https://www.milvus.io/docs/v1.0.0/storage_concept.md
Quoting from this page - "A partition is identified by a tag. When inserting vector data, you can use the tag to specify which

[2021-03-27 11:18] lalitpagaria commented on #779
I feel we can first try `term` and `range` queries supported by Milvus DSL.
https://milvus-io.github.io/milvus-sdk-python/pythondoc/v0.3.0/query.html

Not sure about support for String field type though.

[2021-03-28 11:09] UmerTariq1 opened #930 "Reader prediction consuming too much Vram"
**Environment Infor**
farm-haystack==0.7.0
Platform: Linux
Python version : 3.7.10
Using GPU in script?: Yes

**Question**
Haystack's Reader's prediction function consumes "way more" vram than I think it should.  How do i know its taking more than necessary vram? I used a simple function (from huggingface website, link below) to directly use the huggingface model and it takes about 82% less memory

[2021-03-28 15:35] giuliodz commented on #858
I am having the same issue but it is not going away.
I saved my transformer locally like this:
[code]

And I am trying to access it in my local flask API with:

[code]

But, when I run my api and make a post to the endpoint that loads the reader I am getting this error:
[code]

And I noticed that in my `./trained_model` folder there is no `config.json` file.

Can you see what the problem is?

[2021-03-28 15:38] giuliodz commented on #858
The weird thing is that it was working up to few days ago...

[2021-03-29 10:16] Timoeller commented on #930
Hey @UmerTariq1 thanks for raising such a detailed issue.
Unfortunately we cannot confirm your issues. We do not see much RAM usage when doing inference only with our models.

Also judging your notebook you are using
`reader = TransformersReader(model_name_or_path=model , tokenizer=tokenizer)
` which just loads the transformers pipeline.

If you are moving this to production could you try this ana

[2021-03-29 10:22] Timoeller commented on #858
Hey @giuliodz are you sure that you have the correct current directory specified and the folder is residing there?

For sanity you could try saving and loading the model as you posted above outside your API:
[code]
If that works it should be a path problem related to your configs.

[2021-03-29 11:33] Timoeller commented on #929
Hey @giguru I am super excited about those features :rocket:

### conversational NLP tests
To be honest I am not an expert in conversational QA but the methods you proposed seem be of good quality (sigir publications) and are recent methods that work well.
From reading the benchmark paper it seems that QuReTeC (your second proposition about query resolution by classifying keywords) seems to be pro

[2021-03-29 12:24] brandenchan commented on #924
Hi @Graduo, can you give me some more details on what you are trying right now? Are you using tutorial 3? A copy of the code that you're running would greatly help us debug!

[2021-03-29 13:12] brandenchan commented on #925
Hi @giguru, this is a great suggestion. I am currently working on evaluation nodes at #904  and my focus is on open domain QA (ODQA). The idea is to build a pipeline like this:
Query --> `Retriever` --> `EvalRetriever` --> `Reader` --> `EvalReader`

`EvalRetriever` would be the place to put the IR style metrics. It has as input the documents that have been retrieved as well as the label for a sing

[2021-03-29 13:14] Graduo commented on #924
Hi @brandenchan ,thanks for your reply!  I'm trying to build  a QASystem base on Faiss + DPR with the dataset NQ(like biencoder-nq-train.json/biencoder-nq-dev.json..). I always face some bugs when i was a beginner for Haystack.Now I have learn it better, then I will try it more.When I encounter a problem that I cannot solve，I'll give my code and bug here.
And a small question, how I write "biencod

[2021-03-29 13:17] PiffPaffM commented on #859
After some more research I would suggest the following setup:

Vulnerability checks:
We need to decide between vulnerabilities within in the project/repository and docker image:
1. repository:
I activated for all relevant repos: "Dependency graph", "Dependabot alerts" and "Dependabot security updates". This way, Github check if all dependencies are up-to-date and if there are any vulnerabilities.

[2021-03-29 13:31] brandenchan commented on #924
So `biencoder-nq-dev.json` is the natural questions dev set in `dpr` format. If you are looking to train a Reader model using the natural questions dataset, you will need it in `squad` format.

You could get this [here](https://github.com/mrqa/MRQA-Shared-Task-2019#datasets) though this is in a slightly different jsonl format. You would have to make some adjustments to convert it into true `squad`

[2021-03-29 13:35] tholor commented on #902
Hey @F95GIT ,

Sure, that's possible. It should work pretty similarly to the "multiple retriever examples" in the docs.
Let me try to give you some pointers:

1) Route Query (Run only one branch)
[code]

2) Combine results (Run both branches)
Ideally we should be able to define some pipeline like this:
[code]
However, I just realized, that the FAQPipeline has one extra step needed to convert the r

[2021-03-29 13:52] tholor commented on #809
Hey all,

Sorry for my late reply here. I was offline for a while as I recently became a dad and the "onboarding" of my son kept me busy.

It's really great to see so many people suggesting ideas here! Let's try to bring them together and proceed together on the actual implementation.

## High-level components

@tomgun132 makes sense. For the last part, I would suggest adding it to the existing Ha

[2021-03-29 14:36] Graduo commented on #924
OK,get it! I'll follow your advice and try it！

[2021-03-29 15:25] Armbruj opened #932 "filter parameter ignored in search post /models/{model_id}/doc-qa"
**Describe the bug**

We are making an qa request with the following example.

![Screenshot 2021-03-29 at 17 13 35](https://user-images.githubusercontent.com/32538701/112858389-1a9ce380-90b2-11eb-8e30-41b1c4f5f6cf.png)

Except the filter parameter everything works fine. it seems like the filter parameter is never mapped to the Question object.

![Screenshot 2021-03-29 at 17 13 13](https://user-ima

[2021-03-29 17:20] Timoeller commented on #932
We are currently refactoring the rest API in https://github.com/deepset-ai/haystack/pull/922 which is about to be merged in the next days.

When looking at the changes the filter should be applied now but also the "doc-qa" endpoint will be replaced by a "query" endpoint.
Would you like to test your code on the branch already to see if the filter problem persist?
Otherwise I would ask you to wait u

[2021-03-29 18:52] prasunanand commented on #809
@tholor , I will start working on a draft PR. Sorry for no updates yet. I was caught up with my workplace.

[2021-03-30 06:49] Armbruj commented on #932
I did checkout the revamp-api branch. Seems not to work yet. When docker compose up it fails to load pipeline. I see there also is this branch pipeline_eval under construction. Maybe it belongs together. I will probably have to wait some time until everything is finished merged into Master.

[2021-03-30 07:56] Timoeller commented on #932
Hey thanks for testing the revamp-api branch. What caused the problem? @oryx1729 this might be interesting before we merge into master!

[2021-03-30 10:46] giguru commented on #925
Hi Branden, thank you for your reponse. My focus is on Conversational QA (ConvQA) and Conversational Search, but very often working with open-domain datasets (e.g. Wikipedia dump).

Do you mean replacing  [`Label`](https://github.com/deepset-ai/haystack/blob/32050fdce3cc6d55ed744e2475b8c2dcee2edd4b/haystack/schema.py#L80) properties 'answer' and 'document_id' with `reader` and `retriever` respecti

[2021-03-30 12:42] giguru commented on #929
**conversational NLP tests**
Then I'll start with coding the term classification model QuReTec and do some tests.

**conversational data structure**
If users would design a new pipeline with a structure like this:
`QueryRewriter` -> `Retriever` -> `Reader`
In order to evaluate this new pipeline, the test data could be a conversational query rewriting datasets like from TREC Cast in which the input

[2021-03-30 13:19] UmerTariq1 commented on #930
By "our models" do you mean only Farm models or Farm AND Huggingface models?

Yes I plan on moving this to production but I dont think I will be provided with more than 6-8gb Vram just for inference. After all I think i think this much vram usage is bizarre since I fine-tuned the same model with 13gb vram so it shouldnt take same amount of ram just for inference. I ran this script (the one in the

[2021-03-30 13:41] Armbruj commented on #932
If you need it here is the terminal output
[haystack_docker_logs.txt](https://github.com/deepset-ai/haystack/files/6229402/haystack_docker_logs.txt)

[2021-03-30 15:46] Timoeller commented on #929
Perfect. Out of the top of my head I imaging the solution to look like: train a NER model on CANARD or co in either FARM or Transformers and integrate this into haystack. I believe it fits best under haystack.reader.transformers and then a new TransformersTokenClassifier (or something more snappy) class. For predicting it should give a list/set of words given a history string. The conversion from

[2021-03-30 16:04] Timoeller commented on #930
Unfortunately I am talking about any models : ) We could not reproduce the heavy RAM usage during inference. If you can create a small code snippet that replicates the problem on a dedicated GPU server we of course need to fix this. It might be that there is a memory leak somewhere and you have found it. In the colab I see some other strange code floating around that could be the reason and you al

[2021-03-30 16:12] Timoeller commented on #932
Hey, thanks for posting the error logs.

It could be that the pipeline is not yet correctly specified in that branch. Though when I look at the logs it rathers seems to be an Elasticsearch issue:
[code]
Are you sure your started the ES instance correctly? Maybe try starting it separately?

[2021-03-30 16:17] Timoeller commented on #588
Are you using a custom SQLite instance? Normally you do not need to adjust these settings.
Could you try our colab tutorial, if the error persist there we will be able to help you.

[2021-03-30 16:18] Timoeller commented on #881
Hey, can we close the issue? It seems resolved.

[2021-03-30 16:20] Timoeller commented on #900
Issue seems resolved? Closing now. Feel free to reopen.

[2021-03-30 16:20] #900 closed

[2021-03-30 16:21] Timoeller commented on #921
Hey @dsvrsec were you able to use our crawler on your webpage? Do you need any more help on following QA code? Feel free to reach out

[2021-03-30 16:26] brandenchan commented on #925
Hey @giguru, I have a working draft of the evaluation pipeline in #904. It might be a bit easier to explain what I mean by referring to this. The starting point is the `haystack/pipeline_eval.py` file. As previously mentioned, the pipeline looks like this
[code]
`EvalRetriever` expects 2 arguments when its `run()` method is called: `documents` and `labels`. Sorry if I confused you a little earlier

[2021-03-30 16:30] Armbruj commented on #932
yes I thought so too, but no problem on the master branch.
Same issue, when I start Elastic search separately

[2021-03-30 16:42] Timoeller commented on #932
Strange, I linked this issue here and we will look into it. Thanks for posting!

[2021-03-30 17:13] giguru commented on #925
Sorry for misunderstanding. It is clear now. Your proposed solution is perfect then! Your `labels` argument will give the flexibility   to expand it later. I'm working on a QueryRewriter in #929, which would require another key in that dict.

[2021-03-30 19:53] lewtun opened #933 "Reader evaluation merges questions with the same text"
**Describe the bug**
Some QA datasets are review-based (e.g. [AmazonQA](https://arxiv.org/abs/1908.04364) and [SubjQA](https://arxiv.org/abs/2004.14283)), where the question-answer pairs concern the reviews about a _single_ product. What can happen in these datasets is that the question _text_ can be the same for _different_ products, e.g. in SubjQA the question "What do you think about headphone?

[2021-03-31 06:39] Graduo commented on #588
Hi ,I just follow the tutorial ,and here are details [https://github.com/Graduo/myhaystack_turorial6](code).When I set `dicts = convert_files_to_dicts(dir_path=doc_dir, clean_func=clean_wiki_text, split_paragraphs=False)`or reduce the amount of txt in "wiki_gameofthrones_txt",the code work well.

[2021-03-31 06:43] lalitpagaria commented on #588
As per this https://www.sqlite.org/limits.html you have to update to SQLite versions higher than 3.32.0

Or can you please update following line -
[code]
to this -
[code]

[2021-03-31 06:57] lalitpagaria commented on #859
Thanks @PiffPaffM

Docker scanning is pain even my company we tried N number of tools still not fixed on one. We now tested [Unikernel](https://en.wikipedia.org/wiki/Unikernel) which have lesser footprint for security vulnerability. But it is not battle tested yet.

This indirectly use Snyk under the hood. I used Snyk, and it reported 20 vulns on Debian based python base image. I don't want to use

[2021-03-31 07:14] Graduo commented on #588
Haha ,when I update sqlite to `SQLite version 3.32.0 2020-05-22 17:46:16`,it still have has the problem above which confuses me a lot.  But set batch_size does work!  Thanks for your advice!

[2021-03-31 07:38] Graduo commented on #588
Ah, I have tried `SQLite version 3.35.2 2021-03-17 19:07:21` before  3.32.0 .
<img width="862" alt="image" src="https://user-images.githubusercontent.com/18713443/113107935-0b936e00-9237-11eb-8277-0f77e2e270f2.png">

[2021-03-31 07:46] Graduo commented on #588
I just find that when I set "split_paragraphs=True", it return the same bug..
`dicts = convert_files_to_dicts(dir_path=doc_dir, clean_func=clean_wiki_text, split_paragraphs=True)`

[2021-03-31 09:31] Timoeller commented on #925
Hey @giguru lets work with flexible dicts for now and test the usage of additional metrics and conversational features. IF you start coding please open up Work In Progress PRs early on, even if they do not fully work, so we can discuss the changes better.

In the long run it makes sense to create more fixed structures like the Label class introduced in our schema.py. From a quick glance we will ne

[2021-03-31 20:45] lalitpagaria commented on #588
@Graduo I am not able to reproduce it locally. Can you please again after upgrading to 3.5.8 or higher. As limits page mentioned this -

[2021-03-31 20:53] lalitpagaria commented on #932
@Armbruj looks like your have two node elastic search setup. And your one node is running on 9300 and another on 9200 port. From logs I see that 9300 is elected as master hence connection to 9200 port is failing.
[code]

Can you please try running as follows and test if you see again same error or not -
[code]

[2021-04-01 03:05] predoctech commented on #881
Yes it does.  Thanks.

[2021-04-01 03:05] #881 closed

[2021-04-01 06:54] Graduo commented on #588
OK~  I ‘ll try it again.

[2021-04-01 07:44] Rob192 commented on #809
Hello everyone,

I just wanted to mention that at the LabIA of Etalab we have also worked on a chatbot to display results to the french citizens that would visit the website [service-public.fr](https://www.service-public.fr/). We developped a prototype with L'Usine à Chatbot. Maybe you guys can check it out [here](https://github.com/fabnumdef/chatbot-template/tree/service_public).

I thought the e

[2021-04-01 12:34] Timoeller opened #937 "Add documentation on how to save and load a FAISS index"

[2021-04-01 13:37] PiffPaffM commented on #859
@lalitpagaria: Thanks for the insights! I think we will stay with this setup for now and see how it will work for us. Happy to share my findings.

Regarding license compliance, I see a few different solutions which need to be tested.
- Github Enterprise (https://github.blog/2020-07-16-securing-your-open-source-dependencies-with-github-dependency-insights/)
- Fossa looks promising (https://fossa.co

[2021-04-01 13:59] lewtun commented on #933
The merging of duplicate questions also appears to occur in `BaseDocumentStore.add_eval_data` because the documents and labels that are extracted via `eval_data_from_json` [here](https://github.com/deepset-ai/haystack/blob/32050fdce3cc6d55ed744e2475b8c2dcee2edd4b/haystack/document_store/base.py#L185) use the question string as an attribute in each `Label` instance.

For reference, the test set of

[2021-04-01 16:24] #909 closed

[2021-04-01 19:14] lalitpagaria commented on #779
@tholor I asked Milvus slack channel about this and following response I got from them -

So either we need to wait. Or use hackish way: increase top_k value and  then filter.

[2021-04-02 19:38] xavierdurawa commented on #886
Hi @brandenchan, I'm assuming you're working on this, is that right?

[2021-04-02 21:53] jdagdelen opened #939 "FAISSDocumentStore.update_embeddings() outputs too many progress bar lines in juypter notebooks. Fix suggested."
**Is your feature request related to a problem? Please describe.**
When building embeddings for a FAISSDocumentStore large number of documents in a jupyter notebook, the tqdm output takes up many thousands of lines which can cause the browser to freeze.

**Describe the solution you'd like**
Give the option to either suppress the progress bar or use the tqdm.notebook version when calling document_s

[2021-04-03 04:30] HighDeFing opened #940 "Does it work with spanish?"
**Question**
I was wondering if it works with Spanish document databases?

**Additional context**
Also is it possible to use mongodb?

[2021-04-04 07:31] MathiasKrill commented on #932
hi, i tried it also and got error:
` Exception: Failed loading pipeline component 'ElasticsearchDocumentStore': Initial connection to Elasticsearch failed. Make sure you run an Elasticsearch instance at `[{'host': 'localhost', 'port': 9200}]` and that it has finished the initial ramp up (can take > 30s).`

I see the opiton in config.py  "DB_HOST" and "DB_PORT" is gone. How does haystack now know t

[2021-04-04 16:12] jachicaiza opened #941 "Documentation for using the annotation tool"
**Question**
I am using the annotation tool (available on https://annotate.deepset.ai/) to create a SQUAD file. I am implementing a domain-specific QA system, and I need to fine-tune the reader. I have more than 10,000 documents and about 2,000 questions. I try to import the question file but I got the error 400 without a description. What is the correct format to import questions and documents?

[2021-04-04 16:17] tholor commented on #940
Hey @HighDeFing
I suppose you mean a spanish question answering / reader model? There a couple of those available on HF's model hub. For example: https://huggingface.co/mrm8488/bert-base-spanish-wwm-cased-finetuned-spa-squad2-es

However, one word of caution: I think most of these models are trained on automatically translated versions of SQuAD. I don't know for Spanish, but for german we didn't g

[2021-04-04 17:08] HighDeFing commented on #940
Oh thank you yes, I was wondering if BETO (Spanish BERT) could work with haystack, I'd give this a try.

[2021-04-04 17:08] #940 closed

[2021-04-05 11:18] Timoeller commented on #941
Hey @jachicaiza thanks for using the annotation tool.
And agreed better documentation or error messages would be great.

Thanks for the detailed example.
From a quick glance it seems you have unnecessary whitespaces before document_identifier and question_identifier. Could you try removing those and uploading again? Otherwise your csv looks good. Did you create it with pandas.to_csv(filename,index

[2021-04-05 12:07] DCRepublic opened #942 "How to train on ["text", "questions"] (api format) data."
**Question**
I was wondering what the correct procedure is to train ["text", "questions"] (api format) data. I found the function in processor.py `def convert_qa_input_dict(self, infer_dict):`(line 1937). According to the comments it is supposed to convert my dataset into a SQUAD like one when called. My question is, am I supposed to call when running the `Tutorial2_Finetune_a_model_on_your_data.p

[2021-04-05 14:29] jachicaiza commented on #941
Thanks Tim, but the error continues though I eliminated the whitespaces and try to import again.

I am using the online annotation tool (https://annotate.deepset.ai), and the error 404 appears when I import your example or my csv file of questions. I attach the two files (with txt extension), I don't understand the problem with them.

[My example.txt](https://github.com/deepset-ai/haystack/files/6

[2021-04-05 15:38] jachicaiza commented on #878
Hi Julian,

I have the same problem of duplicate answers for a QA system based on DPR, but the above lines do not solve my problem.

### I created the document store using the next lines:
---------------------
text_path = "../QA/corpora"
all_docs = convert_files_to_dicts(dir_path=text_path)

preprocessor = PreProcessor(
    clean_empty_lines=True,
    clean_whitespace=True,
    clean_header_footer

[2021-04-05 16:50] Timoeller commented on #941
Hey, I can import your [question](https://github.com/deepset-ai/haystack/files/6258628/My.example.txt) when I change the name to `something.csv`. I know you cannot attach csvs here in github, maybe zip a small sample file so I can try on my machine if your problem persists.

[2021-04-05 16:52] Timoeller commented on #942
Hey @DCRepublic for training you will need to convert the data into SQuAD format.

How did you create your data?

[2021-04-05 20:22] DCRepublic commented on #942
Thanks for the quick reply @Timoeller! I am using a dataset provided to me by someone else. I assumed it was in SQuAD format but I realize now that is not the case. Is there any way to convert the .json file into the right format, or would I have to start over with the raw data.

If it helps I also have a csv with questions and answers that I could use.

[2021-04-06 06:56] DanielGlickmanTAU opened #944 "Dense Passage Retrieval Fails to retrieve from elasticsearch. RequestError(400, 'search_phase_execution_exception', 'runtime error')"
After training DPR and updating the passages embedding(I am using elasticsearch), mostly following tutorials 6 and 9,
when trying to retrieve I am getting the error:
`RequestError(400, 'search_phase_execution_exception', 'runtime error')`

Snippet from my code:
[code]

[2021-04-06 07:09] lewtun commented on #944
Hey @DanielGlickmanTAU, did you update the embeddings after loading the DPR retriever? E.g.

[code]

[2021-04-06 07:27] Timoeller commented on #893
Issue seems fixed, closing now. feel free to reopen.

[2021-04-06 07:27] #893 closed

[2021-04-06 07:28] Timoeller commented on #894
The original issue seems fixed, closing now. Feel free to reopen or open a dedicated issue about different top-k values for eval.

[2021-04-06 07:28] #894 closed

[2021-04-06 07:30] julian-risch commented on #878
Hi @jachicaiza my best guess is that the document store contains duplicate documents. Have you tried deleting the file `repoQA44.db` and starting from scratch?
Another thing that could cause problems are index names. If you experimented with different index names, you might want to pass that index name as a parameter in the methods, e.g., in `update_embeddings(index="...")` or in `delete_all_docum

[2021-04-06 07:32] Timoeller commented on #930
Hey @UmerTariq1 any progress on the RAM consumption? If you find any memory leak it would be very important for us to fix.

[2021-04-06 07:34] Timoeller commented on #942
Hey, since I do not know which format you data has it is rather difficult to give advice.
Could you post the first example here?

About your CSV, to train a model we would need the question, answer and surrounding text. Only question and answer wont work.

[2021-04-06 08:30] brandenchan commented on #886
Hi @xavierdurawa, it is in our backlog but we have not started on it yet. Is this something that you might be interested in working on?

[2021-04-06 08:33] Timoeller commented on #599
Saving of pipeline handled in #741
Rest is implemented, closing now.

[2021-04-06 08:33] #599 closed

[2021-04-06 08:44] Afrisson opened #945 "Error in tutorial 6"
**Describe the bug**
When launching the 6th tutorial cell creating the embedding. I am getting an error about a query tokenizer.

**Error message**
TypeError: __init__() missing 1 required positional argument: 'query_tokenizer'

**Expected behavior**
Embedding being created and the document store being updated

**Additional context**
The tutorial was exeuted without any modification

**System:**

[2021-04-06 08:52] Timoeller commented on #945
We recently updated the underlying FARM version in our requirements.txt. The error should be related to this update.

Do you also use the most recent haystack master code? Since I cannot reproduce your issue in our [colab DPR tutorial](https://colab.research.google.com/github/deepset-ai/haystack/blob/master/tutorials/Tutorial6_Better_Retrieval_via_DPR.ipynb) with the latest haystack master install

[2021-04-06 08:57] Afrisson commented on #945
Thanks for the quick reply,
I usually let the cell who upgrade haystack running
`!pip3 install git+https://github.com/deepset-ai/haystack.git
!pip3 install urllib3==1.25.4
!pip3 install torch==1.6.0+cu101 torchvision==0.6.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html`
so i think i got the latest version

[2021-04-06 09:00] Timoeller commented on #945
Mhh, please make sure the latest version is installed. Maybe by uninstalling haystack and reinstalling.

Since I cannot reproduce the error in colab I am rather certain it is a version mismatch... Otherwise, please post the exact code you use and try on ubuntu instead of windows?

[2021-04-06 09:02] Afrisson commented on #945
I will try to uninstall it and keep you informed, thanks

[2021-04-06 09:13] #945 closed

[2021-04-06 09:31] datalee opened #946 "InMemoryDocumentStore must init everytime？can it saved in path？"
InMemoryDocumentStore is very time costing，so can it saved?

[2021-04-06 10:31] DanielGlickmanTAU commented on #944
I did after training. Then I saved the retriever.
The embeddings do exists in elastic. For example if I retrieve by query, the documents I get back have a populated embeddings field. But I can not search by embedding.
Should I call update embedding again, after each time I load the retriever? Calling update_embeddings the first time took a very long time, so doing so again makes no sense.

[2021-04-06 10:38] Timoeller commented on #944
Indexing with DPR can take quite some time depending on how many documents you want to index, because you use a BERT model to convert text into vectors. Do you use a GPU? How many documents are you indexing? See the retriever performance in our [benchmarks](https://haystack.deepset.ai/bm/benchmarks/) for indexing speeds.

If you train your DPR retriever you should, as @lewtun mentioned correctly,

[2021-04-06 10:46] Timoeller commented on #939
Hey @jdagdelen this large jupyter output is really inconvinient.
Have you seen the `progress_bar=False` parameter of our FAISSDocumentStore? That should do the trick hopefully.

[2021-04-06 11:25] DanielGlickmanTAU commented on #944
To clarify I did update the embedding after training.

What I am doing is
[code]

retriever.retrieve or document_store.query_by_embedding fails. But the embedding seem to exist, as when I fetch using document_store.query("some text") the documents are returned with embeddings

[2021-04-06 13:05] UmerTariq1 commented on #930
Yes. Sorry I didnt get the time to do detailed testing, I thought I would get time in the coming weekend but unfortunately I dont think I will. so perhaps later.
But yes I did some basic  test on my local gpu with uncased distillbert and deepset roberta. [This drive link](https://drive.google.com/drive/folders/1qDDDpJuUJXbEC_sVCduVPS6bU7ZO8Uoi?usp=sharing) contains the output of nvidia-smi command

[2021-04-06 13:32] brandenchan commented on #946
Hi @datalee, the `InMemoryDocumentStore` was created as a lightweight prototyping option for those who do not want to install the dependencies required for the other document stores. It is not our most efficient Document Store and sadly there is no save / load feature.

If you are looking for a document store which is faster and scales better, I'd recommend you try the `ElasticsearchDocumentStore`

[2021-04-06 13:43] lewtun commented on #914
There's a very nice implementation by Yacine Jernite at 🤗 that could be used as a foundation to work from: https://yjernite.github.io/lfqa.html

He uses raw Elasticsearch for the retriever, so Haystack would certainly simplify a lot of that analysis!

[2021-04-06 13:43] lewtun commented on #914
There's a very nice implementation by Yacine Jernite at 🤗 that could be used as a foundation to work from: https://yjernite.github.io/lfqa.html

He uses raw Elasticsearch for the retriever, so Haystack would certainly simplify a lot of that analysis!

[2021-04-06 14:03] Timoeller commented on #930
Hey thanks for posting more tests.

## Prerequisite
As haystack-pipeline you used a `TransformersReader` and your custom pipeline is the `DlModelDocumentAndQuestion`?

## Possible Solution
So I looked at your method in modelRun() and it doesnt really aggregate the answer in the way that Transformers or FARM does. You use:
[code]
Huggingface Transformers as well as FARM compute the best joint score

[2021-04-06 14:35] Timoeller commented on #793
I love the usage example snippets and would love to see more there. Its extremely helpful to code things fast.

Could we also add import statements to those usage examples?

[2021-04-06 14:47] jachicaiza commented on #941
In my previous message, I loaded files with the txt extension because Github don't allow me to load the csv files.

Finally, I imported the questions file into my project. I think the problem is with the Internet navigator tool. When I use Safari, the 404 error appears. But when I use Firefox, the file is imported successfully.

[2021-04-06 16:13] brandenchan commented on #793
Adding imports is a good idea for sure. I think I like having code snippets inside the Usage pages, but I can also imagine it would be useful to have all of them on one page so you can quickly get to them.

[2021-04-06 16:48] DCRepublic commented on #942
Here is an excerpt from my train set. It is meant to be Jeopardy style Q&A, so the questions are not always straight forward.

I also have a json file which contains only Wikipedia pages for answers in the dataset. However I think its just straight page dumps with page titles as labels.

[2021-04-06 23:42] #202 closed

[2021-04-07 06:44] datalee commented on #946
SQLDocumentStore can't support Embedding type。
ElasticsearchDocumentStore can't support high tps。

i do it like this：
1、save
`document_store = InMemoryDocumentStore()
document_store.write_documents(data_list, index="xxx")
output = open("xxx.pkl", "wb")
pickle.dump(document_store.indexes, output)`

2、load
`document_store = InMemoryDocumentStore()
pkl_file = open('xxx.pkl', 'rb')
document_store.inde

[2021-04-07 08:29] brandenchan commented on #946
Ah I didn't think about pickle. Great work! Seems like this is this is resolved now. Feel free to reopen if you have any follow up issues.

[2021-04-07 08:29] #946 closed

[2021-04-07 11:19] piecurus opened #948 "Downloaded models from HuggingFace not working locally"
**Describe the bug**
I tried to download 2 of your models from HuggingFace ([xlm-roberta-large-squad2](https://huggingface.co/deepset/xlm-roberta-large-squad2) and [bert-large-uncased-whole-word-masking-squad2](https://huggingface.co/deepset/bert-large-uncased-whole-word-masking-squad2)) to be used locally offline, but they both do not work.

**Error message**
FileNotFoundError: [Errno 2] No such

[2021-04-07 11:26] Timoeller commented on #948
Hey have you already seen https://github.com/deepset-ai/haystack/issues/858
There might be a potential solution to your loading problems

[2021-04-07 11:32] piecurus commented on #948
OK, the saving and reloading worked.

Thanks a lot!

[2021-04-07 11:32] #948 closed

[2021-04-07 13:36] angelopf opened #950 "Changing the returned context"
_**Question**_
**Is it possible to change the returned context to not only include the surrounding characters of the answer but also specific information over each document?**

_**Additional context**_
I am using Haystack on a Portuguese-case project that is intended to help users understand Portuguese law by asking the model questions about it. However, not only do I want an answer to the questio

[2021-04-07 13:42] brandenchan commented on #801
Closed because it is now merged with #778

[2021-04-07 13:42] #801 closed

[2021-04-07 13:45] brandenchan commented on #777
Closing this and merging it with #778

[2021-04-07 13:45] #777 closed

[2021-04-07 13:49] RicardoLuisAraujo commented on #950
Yup, I have the same problem. Is it possible to change the way the answers or context are structured?

For example, right now the model & context is like this:

**Context:**

" **https://www.amazon.es/**

Amazon.com, Inc.[8] (/ˈæməzɒn/ AM-ə-zon) is an American multinational technology company based in Seattle, Washington, which focuses on e-commerce, cloud computing, digital streaming, and artific

[2021-04-07 14:20] guillim opened #951 "search_fields not accepting array values in pipelines.yaml for ElasticsearchDocumentStore"
**Describe the bug**
I am trying to set up two _search_fields_ for my ES retriever, but if I set up more than one I am having this issue

Here is the .yaml part we are interested in :
[code]

**Error message**
[code]

**Expected behavior**
It should be working like a charm :) just like it does when `search_fields = text`

**Additional context**
I am using the REST API with `docker-compose up` comm

[2021-04-07 15:05] oryx1729 commented on #950
Hi @angelopf and @RicardoLuisAraujo,

If the "context" for the answers is directly associated with the indexed documents, then you could consider adding `meta` fields to the documents.

`meta` fields allow adding custom key-value pairs to documents indexed in Haystack. For instance, the link of an article, author, or the purchase link for a product can be added as metadata.

Would that work for yo

[2021-04-07 15:40] oryx1729 commented on #951
Hi @guillim, thank you for raising the issue.

When loading a Pipeline, we check if any of the `params` reference another component. For instance, a Retriever instance can refer to a DocumentStore instance defined within the YAML.

This reference check throws an error in the case of a list as it tries to create a hash of it.

It should be resolved with #952.

[2021-04-07 15:57] oryx1729 commented on #932
Hi @Armbruj and @MathiasKrill, can you try again with the master branch and see if it works?

There are breaking changes in the API, so the queries would need to be adjusted. Please feel free to update here if you face any issues.

[2021-04-07 15:58] oryx1729 commented on #882
should be resolved by #649.

[2021-04-07 15:58] #882 closed

[2021-04-07 16:37] angelopf commented on #950
Thanks a lot, that would most likely work! Is there any predefined way of adding meta fields to the documents through Haystack?

[2021-04-07 17:43] oryx1729 commented on #950
You can add meta fields in document dicts before writing them to a document store. For instace,

[code]

[2021-04-07 17:50] #951 closed

[2021-04-07 19:25] F95GIT commented on #902
@tholor  thank you for your detailed answer.
I managed to run the first option (route query), which works well for my use case. If I find the time, I will experiment a bit with second option.

[2021-04-07 19:25] #902 closed

[2021-04-08 07:22] guillim commented on #951
tks !

[2021-04-08 10:37] alex-ji-repo opened #954 "Not able to import haystack library in both Mac and Linux"
Hi,

Sorry if this seems really basic, but I have been trying to install haystack for the past few hours with no avail. I have tried both of the following methods and verified that the library is in the site-package folder, but I encounter the module not found error each time when trying to load up the modules. Is there something I am doing wrong? All the pip installation was successful and I am u

[2021-04-08 12:05] #917 closed

[2021-04-08 14:05] brandenchan commented on #954
Hey @alex-ji-repo, environment setup issues are so frustrating! Let's try to figure this out for you.

So just some first checks - did you run these installation commands when you were in the Anaconda environment? If so, run `pip list` or `pip3 list` in your environment to make sure that `pip` can show you the installed package. There should be a line in the output that says something like `farm-h

[2021-04-08 14:38] julian-risch commented on #918
closed with #934

[2021-04-08 14:38] #918 closed

[2021-04-08 14:38] julian-risch commented on #919
closed with #934

[2021-04-08 14:38] #919 closed

[2021-04-08 16:28] rhasan commented on #919
Hi @Timoeller, do you have any details or papers on what the Bart model does and how you train it? I am new to haystack and haven't been able to find documentations related to how to train Text2SparqlRetriever and what it does.

[2021-04-08 16:34] julian-risch commented on #919
Hi @rhasan haystack does not support the training of a Text2SparqlRetriever yet. There is no documentation about it because knowledge graph QA is a very recent,  experimental feature in haystack. Maybe I can give some intuition here. The training is as with any sequence-to-sequence model. You could phrase it as a translation problem. Given a text question what is the corresponding SPARL query? The

[2021-04-08 18:06] lalitpagaria commented on #914
@lewtun would you like to work on it?
I think @Timoeller would be happy :)

[2021-04-08 20:13] alex-ji-repo commented on #954
Hi, @brandenchan. Yes, the  `pip list` output does show `farm-haystack 0.7.0`.

[2021-04-09 06:40] Timoeller commented on #895
Hey @lewtun sorry that I respond so late on this issue.

Have you tried setting the progress_bar=False parameter in our FARMReader?

[2021-04-09 08:22] lewtun commented on #895
Hey @Timoeller, yes that works quite well for the inference step!

[2021-04-09 09:30] MathiasKrill commented on #932
hello yes sure i will test again, thank you for reaching out

________________________________
Von: oryx1729 ***@***.***>
Gesendet: Mittwoch, 7. April 2021 17:57
An: deepset-ai/haystack ***@***.***>
Cc: MathiasKrill ***@***.***>; Mention ***@***.***>
Betreff: Re: [deepset-ai/haystack] filter parameter ignored in search post /models/{model_id}/doc-qa (#932)

Hi @Armbruj<https://github.com/Armbruj>

[2021-04-09 10:27] brandenchan commented on #954
It seems to me then that your `pip` and `python` are misaligned. What I mean is that when you `pip install` a package, you are installing it for a specific installation of `python`. When you run the script, you might be using a different installation of `python` that also exists on your computer. Could you try with all the permutations of installing via `pip` and `pip3` and then importing haystack

[2021-04-09 12:31] guillim opened #955 "Custom Components in Pipelines with REST API"
**Problem**
I am handling multiple instances of Haystack, because I have multiple customers with their own knowledge base, and therefore custom needs.

Since the _pipelines PR_ #922, I am seeing a new possibility : having one file _rest_api/pipelines.yaml_ for each one of our customer, keeping the same code base among all of them. It will ease the maintenance, a lot.

However, we have sometimes to

[2021-04-09 12:53] guillim commented on #955
One suggestion that I had from @psorianom is to create some pip packages to deal with custom nodes.

[2021-04-09 13:04] kruthikakr opened #956 "huggingface model locally downloaded is giving error"
Hi I am trying to run this
https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.py

here i am downloading the model from https://huggingface.co/deepset/roberta-base-squad2  and giving the model path

reader = FARMReader(model_name_or_path="model/roberta-base-squad2", use_gpu=True)

**the error is**
OSError: Unable to load weights from pytor

[2021-04-09 13:19] rhasan commented on #919
Hi @julian-risch,
Thanks for the reply. Thanks for the info about the model. I am familiar with that line of work from a research perspective. My question was more on the specifics within haystack. But I can wait until you guys make the details available online.

Thanks for brining the knowledge graph question answering line of work into haystack, btw. I think you guys have really nice abstraction

[2021-04-09 14:59] Timoeller commented on #956
Hey have you already seen #858?
There might be a potential solution to your loading problems, although your error looks strange. Are you sure you fully downloaded the model? Maybe try saving and loading the FARMReader model as suggested in #858

[2021-04-10 02:54] datalee commented on #472
Move to a GPU. This will give you a 30-45x speed up and is highly recommended for production.

how many GPU needs? have some suggestions?tks @tholor

[2021-04-10 05:11] tholor commented on #472
@datalee depends on your pipeline and dataset (see specs above around character size etc). For most cases a single GPU is sufficient. If you are working on a larger dataset in production you might wanna add more, but, again, really depends on your actual specs

[2021-04-10 10:04] lalitpagaria opened #957 "Integrate weaviate as another DocumentStore"
**Is your feature request related to a problem? Please describe.**
Haystack already support Vector search via FAISS and Milvus. In this both solution document/data reside in SQL store.
So main idea is what if we have data and embedding close to each other which [Weaviate](https://github.com/semi-technologies/weaviate) do (Yes Elasticsearch as well have this capability but not performant). Hence re

[2021-04-10 12:28] datalee opened #958 "how to convert a dpr Retriever model to onnx?"
**Question**
i train a dpr model like this
[code]

[code]
how can i convert it into onnx model,and use it in haystack Retriever stage
thks

[2021-04-12 04:17] xavierdurawa commented on #886
Yah, I'd like to take a swing at it!

[2021-04-12 07:31] Timoeller commented on #942
Sorry for the late reply @DCRepublic
The format you have seems OK, it is lacking offset information (`answer_start` below) at which character the answer starts (to disambiguate multiple occurrences).

Here is a sample json format for training - it is the official SQuAD format. Note that "context" seems to be your page "text"
[code]

[2021-04-12 10:03] brandenchan commented on #886
Great! I could imagine that this could be a something like a `SquadDataset` class that is initialized by passing in the data. Then each bit of functionality is a method of this class. Looking forward to your PR! And just ask me if you have any questions or would like any pointers

[2021-04-12 13:01] benscottie commented on #135
hey @Timoeller thanks for your response. I am saving and loading in one environment and having the issue. Ultimately I would like to be able to save and load in separate environments. I will open a separate issue

[2021-04-12 13:09] benscottie opened #961 "Issue saving and loading DPR embeddings with FAISS document store"
**Question**
Is there a proper way to save and load DPR embeddings once they have been created?
**Additional context**
I am attempting to save my DPR embeddings to save the multiple hours it requires to create them for my large corpus. I am using the code provided in Issue # 135, as shown below. However, when I attempt to load the embeddings, the retriever returns 0 candidate documents, indicating

[2021-04-12 16:57] Timoeller commented on #961
Hey @benscottie thanks for creating a dedicated issues with more infos. I see your `index=None`, that should not be:
[code]

We apparently need a solid example for saving and loading stored embeddings in our FAISS docstore. Issue already created at #937

[2021-04-12 16:59] Timoeller commented on #958
Hey @datalee you already created https://github.com/deepset-ai/FARM/issues/750
We can discuss the conversion there.

[2021-04-12 16:59] #958 closed

[2021-04-12 17:00] Timoeller commented on #916
Any updates on this @Viveka-S ?

[2021-04-12 17:01] Timoeller commented on #851
Issue seems fixed

Closing now, feel free to reopen

[2021-04-12 17:01] #851 closed

[2021-04-12 17:02] Timoeller commented on #921
Seems fixed, closing now.

[2021-04-12 17:02] #921 closed

[2021-04-12 17:04] Timoeller commented on #941
Nice. As a node, **please use the chrome browser for the tool**. Also in Firefox there might be some other bugs.

Closing now, feel free to reopen.

[2021-04-12 17:04] #941 closed

[2021-04-12 17:06] Timoeller commented on #939
Tested the parameter and it should fix the problem. Closing now.
Feel free to reopen.

[2021-04-12 17:06] #939 closed

[2021-04-12 17:12] Timoeller commented on #874
Issue seems fixed. Closing now. Please feel free to reopen if the problem persist @MathiasKrill

[2021-04-12 17:12] #874 closed

[2021-04-12 17:25] Timoeller commented on #739
We merged in the new FARM version that has better confidence scores and assigned them to the answer field "probability".

[2021-04-12 17:25] #739 closed

[2021-04-12 17:29] Timoeller commented on #956
Hey @kruthikakr any updates on the issue? Could you save and load the FARMReader?

[2021-04-12 17:43] benscottie commented on #961
Hey @Timoeller thanks for your response. So would it work if I included an index when initially creating the document store and then called that same index when loading the saved embeddings?
For example:

[code]

[2021-04-12 21:34] jdagdelen commented on #939
Looks good, thanks!

On Mon, Apr 12, 2021 at 10:06 Timo Moeller ***@***.***> wrote:

[2021-04-13 02:11] Graduo commented on #588
OK👌.I just solve it by setting batch_size as lalitpagaria said
`document_store.update_embeddings(retriever, batch_size=999)`
thanks for all your patient assistance!

[2021-04-13 07:55] PiffPaffM opened #963 "Generate docstrings and tutorials on all plattforms in the same way"
The docstrings and tutorials are generated by scripts that you can run locally. Moreover, there is a Github Action that runs this script so that the docstrings and tutorials always up-to-date.
The output of the scripts differs depending on the way you are executing them. If the scripts are executed locally, tabs are ignored. During the build process, everything works fine. This results in a lot of

[2021-04-13 10:24] Graduo commented on #387
Hi, I'm coming again.There may be still a bug need to be fixed~
[code]

[2021-04-13 11:58] Timoeller commented on #387
Hey @Graduo do you use latest haystack master?

Because there we removed the doc-qa endpoint:
/doc-qa & /faq-qa endpoints are replaced with a more generic POST /query endpoint. This new endpoint uses Pipelines under-the-hood, that can be configured at rest_api/pipeline.yaml.

[2021-04-13 11:59] #588 closed

[2021-04-13 12:00] Timoeller commented on #961
Nice, I changed the title so other people might find it as well.

Thanks for trying out @benscottie !

[2021-04-13 12:00] #961 closed

[2021-04-13 12:10] Graduo commented on #387
OK I'll try it ~

[2021-04-13 14:07] alex-ji-repo commented on #954
I got it working. Thank you for your help.

[2021-04-13 14:07] #954 closed

[2021-04-14 03:13] Graduo commented on #387
And by the way , is there any way that I can fix it just by use such as  "filter" without updating the latest haystack master?

[2021-04-14 05:52] kruthikakr commented on #956
no still getting same error , i am downloading the model files from this git clone https://huggingface.co/deepset/roberta-base-squad2 locally . and same error

[2021-04-14 07:33] Timoeller commented on #387
Sorry I do not understand what you mean by "it".
You can use an older version of haystack and your old curl command or you update to current master but then you have to use the /query endpoint instead of /doc-qa endpoint.
Why would you not return embeddings now?

[2021-04-14 07:34] Timoeller commented on #956
How to you download the model files exactly? Please post the code.

[2021-04-14 08:04] Graduo commented on #387
I'm sorry I didn't explain my expectation clearly. I want to use the older version of haystack. I meet a bug as describe above, it's appears to be like as #387.The problem may be that the returned value in ‘’result‘‘ must be a string, but in my result :
`"meta": {"emb": [0.07882298529148102, ...,-0.08937514573335648], `the value of the key "emb" is a list.
Now I solve it ~

[2021-04-14 08:16] jacksbox opened #966 "Usage with AWS SageMaker and an AWS Elasticsearch domain"
I'm trying to use haystack with AWS SageMaker and an separated AWS Elasticsearch domain (so not both running in an single docker container). In order to connect to the Elasticsearch domain, I need to use aws request signing (https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html).
This functionality is already provided in the `Elasticsearch` client, but not in haystacks `Elast

[2021-04-14 08:23] brandenchan opened #967 "Ensure that SQLDocumentStore.get_documents_by_vector_ids is compatible"
In #850 the `SQLDocumentStore.get_documents_by_vector_ids()` method was reverted to an older version since we saw that its speed had significantly dropped. It is not clear whether this change in isolation is ok and whether it affects the functionality of any other methods.

It would be good to do a proper analysis to ensure that this reversion has not broken any other methods

[2021-04-14 09:05] brandenchan opened #968 "Double Check Milvus Benchmark Results"
When the speed benchmarks are run using `haystack/test/benchmarks/run.py`, the results of DPR with FAISS and Milvus seem to diverge quite significantly.

When initializing the HNSW models, we have tried to align the parameters so they are comparable.

[code]

The number below show queries per second given a certain document store, when loaded with a certain number of documents.

  | FAISS Flat | F

[2021-04-14 11:06] kruthikakr commented on #956
I did this to get the models  git clone https://huggingface.co/deepset/roberta-base-squad2
[roberta-base-squad2.zip](https://github.com/deepset-ai/haystack/files/6310378/roberta-base-squad2.zip)

[2021-04-14 14:12] Timoeller commented on #956
Hey I think you are still downloading the model incorrectly:
In the linked issue #858 the solution is to use the FARMReader to download and save + load the model like:

[code]

[2021-04-14 15:25] Timoeller commented on #966
Thanks for the valuable addition/
Fixed by #965 - closing now.

Btw @jacksbox when you add "fixes #965" to the PR description it automatically [closes the related issue](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) once the PR is merged.

[2021-04-14 15:25] #966 closed

[2021-04-14 15:48] Timoeller commented on #944
Hey @DanielGlickmanTAU I believe this has nothing to do with training the DPRRetriever but just saving and loading.
Unfortunately I cannot reproduce your issue with neither FAISS nor ES doc store using this code:
[code]
Are you using latest master? Are you using the correct index when writing, updating and querying?

[2021-04-14 15:51] Timoeller commented on #944
Hey @DanielGlickmanTAU I believe this has nothing to do with training the DPRRetriever but just saving and loading.
Unfortunately I cannot reproduce your issue with neither FAISS nor ES doc store using this code:
[code]
Are you using latest master? Are you using the correct index when writing, updating and querying?

[2021-04-14 19:09] bappctl commented on #924
Question. I am new to this and  trying to follow tutorial 2 (fine tune a model on your data).

- It seems dev-v2.0.json uses DPR format.
- For below if I use the train_data created by haystack annotation tool (**exported as squad format**) will it work as it is without changing the reader line of code FARMReader(model_name_or_path="distilbert-base-uncased-distilled-squad", use_gpu=True) or any cha

[2021-04-14 19:39] bappctl commented on #942
Have a similar question as above and I am new to this.  I am trying to follow tutorial 2 (fine tune a model on your data).

- It seems dev-v2.0.json uses DPR format
- For below if I use the train_data created by **_haystack annotation_** tool (exported as **_squad_** format **_not dpr_** ) will it work as it is without changing the reader line of code FARMReader(model_name_or_path="distilbert-base

[2021-04-14 20:18] julian-risch commented on #942
Hi @bappctl I am not sure but maybe you are mixing up the files dev-v2.0.json and biencoder-nq-dev.json? The first is in official SQuAD format and starts with:
{"version": "v2.0", "data": [{"title": "Normans", "paragraphs": [{"qas": [{"question": "In what country is Normandy located?",
while the second is in DPR format (as shown in your post). Any file in SQuAD format can be used right away with t

[2021-04-14 21:02] bappctl commented on #942
Hi @julian-risch Thanks for the quick response. Good catch. Seems I was mixing it.

**Follow-up question**, if I had to use the biencoder-nq-dev.json I assume I have to use this converter script?

`https://github.com/deepset-ai/haystack/pull/765`

[2021-04-14 21:21] julian-risch commented on #942
Well, that script converts SQuAD to DPR format and it seems that you want to do the reverse direction.

If you are interested: Theoretically, you could come up with a script that converts DPR format to SQuAD format. At least it would work if the answer string occurs exactly once in the passage. If it occurred multiple times, you would not know which mention of the answer string needs to be selecte

[2021-04-14 21:25] bappctl commented on #942
Thank you, very much. It helps.

[2021-04-15 08:50] Armbruj commented on #932
the docker compose up works fine again.

I changed the post request to the query like

curl -X POST "http://127.0.0.1:8000/query" -H "accept: application/json" -H "Content-Type: application/json" -d "{\"questions\":[\"Welche Leistungen bekomme ich?\"],\"top_k_reader\":3,\"top_k_retriever\":3}"

but it seems like this structure has now changed. It's not working like this. Is there an example how to

[2021-04-15 09:41] Timoeller commented on #924
Hey, the issue seems fixed. Closing now, feel free to reopen

[2021-04-15 09:41] #924 closed

[2021-04-15 10:03] Timoeller commented on #932
Thanks for testing @Armbruj .

The new query endpoint now needs:

{"query": "Welche Leistungen bekomme ich?", ...}

Btw when spinning up the docker-compose you have an example format as well as pointers to the Swagger API documantation:
[code]

[2021-04-15 11:53] kruthikakr commented on #956
Working fine .Thank you

[2021-04-15 11:53] #956 closed

[2021-04-15 12:35] Armbruj commented on #932
The query works, but the filter still seems to be ignored. When I use all your setup and send

curl --request POST --url 'http://127.0.0.1:8000/query' --data '{"query": "Did Albus Dumbledore die?", "filter": {"category": ["Welcome"]}}'

I would expect to return an empty answer, because i added some filter with a category that does not exist. Instead it always returns a full answer as without any f

[2021-04-15 13:43] oryx1729 commented on #932
Hi @Armbruj, the query expects a `filters` string instead of `filter` in your example. Could you try again to see if that's the issue?

[2021-04-15 14:09] Sputniza opened #972 "docker-compose up: Name or service not known (macOS)"
**Describe the bug**
When running docker-compose up haystack-api throws error "Name or service not known"
My guess is, some connection can't be established...

**Error message**
[code]
**Expected behavior**
docker demo case works 🙂

**To Reproduce**
[code]
**System:**
 - OS: MacOS 10.15.7
 - GPU/CPU: 2,6 GHz 6-Core Intel Core i7
 - Haystack version (commit or version number): commit 4dd5a7a744f8e2

[2021-04-15 14:17] Sputniza commented on #972
Quick follow-up - same is true for empty Elasticsearch-Image
[code]

[2021-04-15 14:17] oryx1729 commented on #972
Hi @Sputniza, it seems from the logs that the Elasticsearch Docker had some error: `haystack_elasticsearch_1 exited with code 137`.

Can you share the logs from the Elasticsearch coontainer?

[2021-04-15 15:02] Armbruj commented on #932
Thanks :D That was it.
Closing the ticket now 👍

[2021-04-15 15:02] #932 closed

[2021-04-15 15:14] Sputniza commented on #972
Hi @oryx1729 , thanks for your ultra fast response. You were right: allocating more memory in the docker preferences solved the problem!

[2021-04-15 15:14] #972 closed

[2021-04-15 17:19] guillim opened #973 "root_path for the Fast_API"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I set up a Haystack project using the Fast_API and I have a reverse-proxy. For instance, let's say I have multiple instances of Haystack on my server, on dedicated path, like /app1 and /app2

**Describe the solution you'd like**
It should be a config option for the API

**Describe alternatives you've cons

[2021-04-15 22:04] arnabhik opened #974 "DensePassageRetriever SQLite Issue"
Hi,

I am facing this weird issue, (not in colab) in my local centos 7 gcp server

cursor.execute(statement, parameters)
sqlalchemy.exc.OperationalError: (sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT anon_1.document_id AS anon_1_document_id
FROM (SELECT document.id AS document_id, row_number() OVER (ORDER BY document.id) AS rownum
FROM document) AS anon_1
WHERE rownum % 10000=1]

[2021-04-16 04:25] bhadreshpsavani commented on #830
This seems to be useful,
I wanted to do exactly the same.
I will let you know if I implement this functionality

[2021-04-16 07:51] kruthikakr opened #975 "support for long answers"
Hi

Haystack is for granular answers.
Q: Which parameter determines the length of the answer ?
Q: can we extend to obtain the long answers say in case getting the definitions in general long answers.

I have a reference to FinBert where it gives out long answers - https://github.com/yuanbit/FinBERT-QA .
Q: How to use this similar FinBERT model here.

Also i am trying to use this model google/bigbi

[2021-04-16 08:56] Timoeller commented on #830
@bhadreshpsavani a contribution would be very much appreciated.

If you start working on it please raise an early "work in progress" PR so we can discuss the addition early on.

[2021-04-16 09:10] Timoeller commented on #975
Hi, I hope that haystack can do more than "granular answers" :smile:

## Granular Answers
I think what you mean is "Extractive QA Models trained on short answers" are giving short granular answers.

So if you want to have longer answer or even answer passages please just use the retriever, either BM25 within Elasticsearch or a DPR based retriever, see [Tutorial 6 Better retrieveal with DPR](https:

[2021-04-16 09:10] oryx1729 commented on #974
Hi @arnabhik, let's work together to narrow down the issue.

1. Are you using the latest versions for Haystack & SQLAlchemy?
2. Can you try if you get an error if you call `document_store_faiss.get_all_documents()`?

[2021-04-16 09:11] MathiasKrill commented on #932
I got a question: are the filters combined by "AND" logic or "OR" logic ?

[2021-04-16 09:34] oryx1729 commented on #955
Hi @guillim, thank you for raising the issue.

I think the fundamental premise here is that the `Pipeline` class should be aware of custom node definitions before a Pipeline can be loaded. This implies that the code for custom nodes has to be packaged with Docker.

I agree with you that the proposed solution with defining nodes in `haystack/custom.py` & adding imports in `haystack/init.py` could b

[2021-04-16 09:42] kruthikakr commented on #975
Thank you for the quick reply.
I tried using this got the error

Traceback (most recent call last):
  File "/home/kruthika/Projects/haystack/haystack/pipeline.py", line 122, in run
    node_output, stream_id = self.graph.nodes[node_id]["component"].run(**node_input)
  File "/home/kruthika/Projects/haystack/haystack/retriever/base.py", line 180, in run
    output, stream = run_query_timed(**kwargs)

[2021-04-16 10:20] kruthikakr commented on #975
Thank you for quick reply. I will try this. and model preference for extractive QA  trained on long answers from deepset or huggingface ?

Is the pdf to text convertor handles the page layout ? say image and tables. Any referees to look for it ?

[2021-04-16 10:24] kruthikakr commented on #975
How to use - https://github.com/yuanbit/FinBERT-QA  model in Haystack ?

[2021-04-16 12:03] tholor commented on #975
From a quick look it seems like this is a re-ranker rather than an extractive QA model. We are planning to add support for re-rankers soon (#423 ). We can ping you once it is available :)

[2021-04-16 12:20] guillim commented on #955
The `custom_nodes` folder sounds like a cleaner version of what I am doing at the moment with `custom.py`. I would say it's the best option of this brainstorming at the moment.

I understand (and agree) that most of you users would feel a bit overwhelmed by the need to develop a dedicated pip packeage for this specific purpose.

[2021-04-16 12:28] oryx1729 commented on #932
Hi @MathiasKrill,

The filters are _**combined**_ with an "AND" logic. For instance, ```"filters": {"author": ["Tim", "Will"], "year": ["2019", "2020"]}``` will return all documents where author is (Tim or Will) **AND** year is (2019 or 2020).

[2021-04-16 15:26] tholor commented on #955
Yeah I would also imagine a solution where we mount a `custom.py` (or folder) together with the `pipelines.yaml` into the container. Maybe allowing to specify a path like `source_file` in the yaml definition of the node :thinking:

[2021-04-16 16:27] arnabhik commented on #974
Hi @oryx1729

Thank You for the reply.

Here is the details:

sqlite3 - 3.31.1 2020-01-27 19:55:54

SQLAlchemy==1.4.2
SQLAlchemy-Utils==0.37.0
sqlparse==0.4.1

farm==0.7.1
farm-haystack @ git+https://github.com/deepset-ai/haystack.git@4dd5a7a744f8e2271a6b1256c9045e86b230dfe7

Observation:

I saw that the index is created i mean the sqlite file with all the passages.

Its only when i try to call th

[2021-04-17 18:42] MathiasKrill commented on #932
Thank you that answer was very welcome. Can i ath that filters like "author" and "year" when i upload the file ? Or do i have to modify the upload modell as well ?

[2021-04-19 05:55] lalitpagaria commented on #125
This repo also solving ranking differently.
https://github.com/terrier-org/pyterrier

[2021-04-19 11:48] tholor commented on #973
Do you mean we should add a parameter `root_path` to the pipeline config which in your example would then be set to `"/app"` ?

[2021-04-19 13:51] MathiasKrill commented on #932
@oryx1729
Thank you that answer was very welcome. Can i ath that filters like "author" and "year" when i upload the file ? Or do i have to modify the upload modell as well ?

[2021-04-19 14:17] oryx1729 commented on #932
Hi @MathiasKrill, are you using the REST APIs to upload a file, or do you manually extract the text from files?

For the REST APIs, you can add a `meta` field when uploading a file. It is expected to be a JSON serialized string with key-value pairs of metadata.

For manually inserting documents in a document store, you can add a `meta` dict in the document. For instance,

[code]

[2021-04-19 14:26] oryx1729 commented on #974
Hi @arnabhik, can you set `document_store_faiss.use_windowed_query=False` before calling `update_embeddings()` to see if that resolves this issue?

[2021-04-19 14:32] arnabhik commented on #974
Hi @oryx1729

I actually went ahead and took the raw function like
dpr_retriever.embed_queries(texts=[query]) and
vector_id = document_store_faiss.faiss_indexes['document'].ntotal
document_store_faiss.faiss_indexes['document'].add(a) # add to faiss index

Still i will check and update you on the above

Thank You

[2021-04-19 15:37] julian-risch opened #980 "Implement alternative to GraphDBKnowledgeGraph that works on Colab"
GraphDB is sheer impossible to run in colab notebooks and our [tutorial notebook](https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial10_Knowledge_Graph.ipynb) cannot be run on colab in its current form (only works locally). Further, licensing reasons complicate the setup: users are required to fill out a form before receiving a link to an installer via email.
Therefore, it would

[2021-04-19 15:52] MathiasKrill commented on #932
Thank you , the answer i seeked for.

[2021-04-19 16:44] guillim commented on #973
I don't think the pipelines should be concerned by any `root_path` configuration. To me it makes more sense to set it up as an environment variable for `haystack-api` in `docker-compose.yml`, since it has nothing to do with the application as such. I see it more as server-side requirements to match an nginx configuration for instance

[2021-04-19 18:01] MathiasKrill opened #981 "Slow query with multipages expected ? How to get the filename from result?"
How to get the filename out of the query result?
Is there a trick to speed up multi-page documents

Setup:
master branch: #971
i replaced the modle with the german model:
model_name_or_path: Sahajtomar/GELECTRAQA

docker-compose.yml has for the image of the database:
image: "elasticsearch:7.9.2"  instead of game of thrones.

I used for upload media the swagger api two files:

uploaded the file "mu

[2021-04-19 18:07] MathiasKrill commented on #981
One addion: i tried it with an 80 page document and when than there was a question query, the search was like lost forever.

[2021-04-19 18:10] guillim commented on #973
Here is a PR that could solve this #982

[2021-04-20 08:34] tholor commented on #973
You are right. That's way better.

Thanks for the PR!

[2021-04-20 09:59] #973 closed

[2021-04-20 10:10] sophgit opened #983 "Retriever & Pipeline Evaluation"
**Question**
Hey :)
I have been evaluating my pipeline with your updated [evaluation tutorial](https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial5_Evaluation.ipynb) in Colab. Great tutorial, thanks!!
However, I noticed that the retriever recall is different when evaluating it separately from the retriever recall in the pipeline evaluation. Shouldn't the value be the same? Top_k_

[2021-04-20 10:45] brandenchan commented on #983
Hi @sophgit, cool to see you're already using the new evaluation nodes!

So I do expect a difference in Retriever eval stats when run using `Retriever.eval()` vs a `EvalRetriever` node but actually I would have expected `Retriever.eval()` to do worse. The reason is that `Retriever.eval()` is doing a **Closed Domain** retrieval evaluation, meaning that a successful retrieval is based on whether the

[2021-04-20 10:49] brandenchan commented on #983
Also, do you know if there are any duplicated questions in your dataset? I am wondering if something similar to this (#933) is happening

[2021-04-20 14:02] tholor commented on #950
Seems resolved. Feel free to re-open if not :)

[2021-04-20 14:02] #950 closed

[2021-04-20 14:38] sophgit commented on #983
Hi @brandenchan,

thank you for your detailed and fast reply!
Now I understand the exact difference between open and closed domain.
Yes, I am using a different dataset, as I am using manually annotated German data. I checked, although some questions are similar, there are no duplicate questions in the dataset.

I think I found the issue: white spaces.
When I compared the "False" results from eval_

[2021-04-20 16:46] sadakmed opened #985 "TypeError: unsupported operand type(s) for /: 'str' and 'str'"
I know this related to farm, however this is triggered in haystack.tutorials.DPR_training

**Describe the bug**

training DensePassageRetriever

[code]
don't you think `os.path.join` would be simpler to join dir and file

**To Reproduce**
tutorial dpr training notebook on colab

**System:**
 - environment: colab
 - Python 3.7.10
 - Haystack installed by `!pip install git+https://github.com/deepset

[2021-04-21 07:56] #885 closed

[2021-04-21 08:29] brandenchan commented on #983
@sophgit Great work figuring that out! This is going to help us a lot in finding the exact source of the problem. It's definitely possible that our contexts are being processed differently to the answers.

I will look into this in the coming sprint and post my findings and progress in this issue.

[2021-04-21 08:34] tholor commented on #649
Fixed

[2021-04-21 08:34] #649 closed

[2021-04-21 09:21] sanyogthescholar opened #986 "Service haystack-api failed to build on Windows 10"
**Describe the bug**
When I run ```docker-compose up```, the docker image doesn't run and stops at ```pip install -r requirements.txt```
It throws error ```service haystack-api failed to build```

**Error message**
[code]
**Expected behavior**
The Docker image should run without any errors

**Additional context**
It worked fine on the same PC on Linux Mint 19

**To Reproduce**
Clone the repo and r

[2021-04-21 09:31] tholor commented on #986
Does pulling the image via `docker pull deepset/haystack-cpu:latest` help? Then you can avoid building it yourself on Windows...

[2021-04-21 13:28] prtk1910 opened #988 "How do I save and load embeddings when using the Rest API via the yaml file?"
**Question**
How do I save and load embeddings when using the Rest API via the yaml file?

**Additional context**
I am using document_store.save(output) to save my embeddings. However, how can I load my database into my rest api application, via the yaml file?

[2021-04-21 14:44] oryx1729 commented on #928
Hi @giuliodz, I'm not familiar with PyInstaller but from the logs, it seems the error is probably coming from the Transformers package? It could be worth creating an issue there.

I'd be curious to know more if you can share details of your use case with PyInstaller.

[2021-04-21 14:52] oryx1729 commented on #988
Hi @prtk1910, what document store are you working with? If it is `FAISSDocumentStore`, then loading an existing index from a file is not supported in `FAISSDocumentStore.__init__()`, hence, currently not compatible with the Pipeline YAML.

 The `FAISSDocumentStore` has a `load()` method and its functionality can be added in the `__init__` to enable loading embeddings from the REST APIs.

 Would yo

[2021-04-21 15:05] prtk1910 commented on #988
Yup it's a FAISSDocumentStore. I will try adding the load functionality in the __init__ function. However, even when I try loading a saved document store via a regular python file (separate project, not using the REST APIs), I get an error message as well.
My project has the following: FAISSDocumentStore, DensePassageRetriever, RAGenerator.
https://github.com/deepset-ai/haystack/issues/961#issueco

[2021-04-21 15:23] oryx1729 commented on #988
I suspect the `RAGenerator` instance is missing the `retriever` argument? Can you share a code snippet to reproduce the issue?

[2021-04-21 16:24] prtk1910 commented on #988
The inference works fine as long as I do not load the doicument store i.e. it works when I initialize it.
[code]

[2021-04-21 20:36] sadakmed commented on #985
@tholor could you please check out this one!

[2021-04-22 07:00] prtk1910 commented on #988
Just checked. When I load the data store and print the retrirver_results, the embeddings dict is empty. However, when I initialize a datastore instead of loading it, the embeddings are populated.

[2021-04-22 07:34] Timoeller commented on #985
Hey @sadakmed good catch.

We should actually convert the data_dir str to a pathlib.Path object. Then it automatically uses the join method with the "/" operator.
Should be fixed in current master with #989
Please report back if it doesnt!

[2021-04-22 07:35] #985 closed

[2021-04-22 08:26] tholor opened #990 "Add option to filter out similar answers from results"
**Is your feature request related to a problem? Please describe.**
In extractive QA, a model sometimes returns several highly similar answers (e.g. "Eiffeltower" and "the Eiffeltower").
We should give an option to filter out those similar ones to have more variety in the top_k answers.

**Describe the solution you'd like**
We already have an option for it in FARM for filtering based in positional

[2021-04-22 09:49] tholor commented on #740
Fixed by #904

[2021-04-22 09:49] #740 closed

[2021-04-22 11:01] bhadreshpsavani commented on #830
Hi @Timoeller and @tholor,
I have made changes in the code and I was able to show the upload button in UI and I wrote code to handle file using post API, There was an error with backend code related to serializing file so I am working on it to fix it

[2021-04-22 11:26] Timoeller commented on #830
Nice, looking forward to this addition.
If you can, please create an early "Work in Progress" (WIP) PR so we can give feedback on the general approach. And no worries we wont be very picky on details in a WIP PR.

[2021-04-22 11:53] sanyogthescholar commented on #986
That worked. Thanks!

[2021-04-22 12:37] tholor commented on #986
Awesome :)

[2021-04-22 12:37] #986 closed

[2021-04-22 13:49] sanyogthescholar commented on #721
I am facing the same issue but I have already installed pdftotext using the wget link. Still the same error shows up for me. I am trying to run the GPU version though using ```sudo docker run deepset/haystack-gpu``` on an Azure VM. The GPU attached to it is a Tesla K80 and the OS is Ubuntu server 18.04 LTS
Do you have any solution?

[2021-04-22 14:06] tholor commented on #981
Hey @MathiasKrill ,

Happy to tackle your questions one by one:

the search in the past by far. This helped with 80-pages documents in the past for example. - Is there any other trick?

This seems too long. In general you have three levers to increase speed:
**a) Model size**
 -> Try a smaller model. You are using an electra-large model here. electra-base or even better miniLm or distilbert would

[2021-04-22 14:17] brandenchan opened #992 "Documentation Backlog"
The next set of features to be added to the website:

Usage
  - [x] Introduce a FAQ section (probably as a subpage of "Overview")
  - [x] Dedicated section about optimization of speed (this question comes up a lot and would be great to just help users with a single link. Besides document length, it should contain the levers model size and GPU / CPU) (Revamp Optimization page)
  - [ ] Reformat code

[2021-04-22 14:45] #793 closed

[2021-04-22 22:09] MathiasKrill commented on #981
Thank you @tholor that was awesome answer - everytghing clarified for me 👍

[2021-04-22 22:09] #981 closed

[2021-04-23 04:33] #540 closed

[2021-04-23 22:14] vladgets opened #993 "Yes/No question QA model"
Do you have example/pretrained model to support Yes/No boolean questions?

[2021-04-25 05:43] bhadreshpsavani opened #994 "UI crashes when filename for answer is not accessible via meta["name"]"
**Describe the bug**
After setting up backend API, uploading document and running UI when i hit run button in UI i was not getting any response in UI and getting below error.

**Error message**
[code]

**Expected behavior**
It should return answers with context and relevance score

**Additional context**
When we change the below line
https://github.com/deepset-ai/haystack/blob/cf8a622e359859c2780f

[2021-04-26 14:05] cregouby opened #997 "FARMReader please allow additional networking kwargs to be passed through to tranformers/modeling_utils"
## Enterprise environment with strong Interent security or air-gapped network
Running haystack reader in enterprise environment requires either complex `proxies` setup with `resume_download` and sometimes even the `local_files_only`.

## the solution I'd like
All those flags are available in the underlying `transformers/modeling_utils.py` script and should be

## alternatives considered
In the mea

[2021-04-26 14:25] nyxpho opened #998 "What is the difference between the formula for recall for retriever and the formula for top n accuracy for reader?"
**Question**
What is the difference between the formula for recall for retriever and the formula for top n accuracy for reader?

**Additional context**
It seems that the underlying formula for both is the same. For each question we check if a correct answer (or document containing the answer) is in the top k, we mark false or true correspondingly. Then we compute the percentage of questions for wh

[2021-04-26 20:09] Timoeller commented on #998
Hey @nyxpho good question, both metrics are somewhat similar though there is a difference in granularity. Recall is for retrievers retrieving documents, top n accuracy is for readers producing short, precise answers.

**Recall for retriever** is 1 if anywhere in the document the correct answer is located (= correct document retrieved)
**Top n accuracy** is 1 if the granular QA model prediction (a

[2021-04-26 23:55] bappctl opened #1001 "squad export answer_end attribute"
**Question**
While exporting labels from annotation UI as squad I don't see the answer_end offset in the JSON. Is answer_end not required?
[code]

[2021-04-27 01:18] vteja11 opened #1002 "Alias support for Elasticsearch document store"
**Is your feature request related to a problem? Please describe.**
In the current version there is no support for Alias in Elasticsearch.

**Describe the solution you'd like**
1. Adding an alias parameter in the constructor of Elasticsearch document store.
2. Associate the operations to the given alias, if it is present in the constructor.

[2021-04-27 06:45] nyxpho commented on #998
Thank you for the answer, @Timoeller ! And when we have more than one document (for retriever)/answer (for reader), we say that for that question we have 1 if any of the documents retrieved contains the answer, or if any of the answers have an overlap with the correct answer? I was confused, as especially the recall metric seems to be exactly the same as top k accuracy as defined for classificatio

[2021-04-27 10:00] SiddeshSambasivam commented on #961
Thanks, @benscottie ! This saved a lot of time

[2021-04-27 10:01] tholor commented on #1002
Hey @vteja11 ,

I could see that we add in addition to the `index` parameter either an `alias` (string) or a `is_alias` (boolean) to the constructor.
However, this will only work, if your alias is based on indices that are compliant with the format / mapping haystack expects.

Can you maybe elaborate a bit on your use case so that we understand better if this design would fit and in what cases it

[2021-04-27 10:21] tholor commented on #997
Hey @cregouby ,

Good point. Let's add it to the `FARMReader`!

Would the `proxies` param ([here](https://github.com/huggingface/transformers/blob/88ac60f7b5f6d4b62245dc21653ea3d5db7d4935/src/transformers/modeling_utils.py#L939)) be enough or would you still also require `local_files_only` and `resume_download` in your environment?

[2021-04-27 10:39] lalitpagaria opened #1004 "[Proposal] EmbeddingStore in Haystack"
Currently haystack have notion of DocumentStore (SQL, FAISS, Milvus, In-memory and ES).

These document stores can be classified in three categories -
- Pure document store (SQL and In-memory): Which store text and meta data. Querying is based on full text search.
- Pure embedding store (FAISS and Milvus): Which store text, meta data and embedding. Querying is based on vector search.
- Hybrid stor

[2021-04-27 10:50] lalitpagaria commented on #980
Just adding few in the list for future purpose -
- https://github.com/totogo/awesome-knowledge-graph (List of KG resources)
- https://github.com/vaticle/typedb

[2021-04-27 11:02] lalitpagaria opened #1005 "Support for rest endpoints for pipelines"
Creating placeholder ticket to include `/pipelines` endpoints in haystack rest interface to get, add, update, list and remove pipeline(s).

[2021-04-27 11:50] sathish346 commented on #830
is this issue resolved now?

[2021-04-27 11:57] bhadreshpsavani commented on #830
Hi @sathish346,
No, I am still working on fixing the backend issue

[2021-04-27 12:04] cregouby commented on #997
Hello @tholor,

I would say `proxies` would be a major improvement first,  and `local_file_only` then,  as you don't want a server hosted app to run of fail based on your proxy credentials...

[2021-04-27 15:10] Timoeller commented on #998
Exactly : )

For recall@10 you look if any of the first 10 retrieved documents is correct.
For Top-3-Accuracy you look at the first (most likely) 3 QA model predictions and if they overlap with the answer label.

[2021-04-27 16:22] nyxpho commented on #998
Thank you for the clarification! Together with @Rob192 , @psorianom, @AbdenourCh  we were considering adding more metrics and doing a pull requests.  Would that be something interesting for you? In particular we want to add for the retriever mean reciprocal rank, mean P@k, mean R@k and mean F1@k. For the reader, I think it can be interesting also to consider the position in which the correct answe

[2021-04-27 17:37] tholor commented on #993
Hey @vladgets ,

Interesting question and definitely a valuable feature in QA pipelines - especially for conversational use cases!

We don't have a pre-trained model for yes/no questions yet. We added some basic functionality in FARM a while ago to train such models on the natural questions dataset. You can find an example script [here](https://github.com/deepset-ai/FARM/blob/master/examples/natur

[2021-04-27 18:50] lalitpagaria opened #1006 "Release Haystack to conda channels (preferably on conda-forge)"
Currently Haystack is available on pypi but releasing Haystack on conda channel will unlock following benefits -
- Few users still using conda as their primary  development env so it will  help them to use Haystack easily
- Resultant binary/environment will be small which in turn helpful in reduction in docker image
- Tomorrow there is plan to migrate to Rust or using [Rust based transformer](http

[2021-04-27 19:13] doh10002 opened #1007 "question about the haystack evaluation"
**Question**
Is there a way in haystack, eval to print out all the answers in dev data?
i want to add/fix training data by analyzing predicted answers and the questions.
I could only find the method that just gives me the overall accuracy or f1-scores etc.
i need to see predicted answers for all questions in dataset.
Is that provided in haystack?
Thank you

[2021-04-28 06:34] sathish346 commented on #830
is there any other possibilities ? I am also working on similar use case.

[2021-04-28 06:51] tholor commented on #830
@bhadreshpsavani can you describe the issue in the PR (what's the error? how to reproduce? what did you already try to fix it? ...). I am sure @oryx1729, @sathish346 or someone else is happy to help you on the last mile :)

[2021-04-28 07:47] tholor commented on #1006
Makes sense. Not highest priority, but quite useful. Adding it to our backlog

[2021-04-28 07:54] bhadreshpsavani commented on #830
Hi @sathish346, @tholor, and @oryx1729,
I have added a description of the issue I am facing along with an image of UI and Error in the PR,
Please let me know If any suggestion!

[2021-04-28 07:55] tholor commented on #994
Thanks for reporting!

This seems to happen because the file_upload endpoint doesn't store the filename into `meta["name"]`, therefore the UI will currently only work if you add your documents from a python script via `write_documents()` and including the name as meta data.

Potential fixes:
a) make displaying of "name" in the UI optional (if there's no meta["name"] show something like "Unknown fi

[2021-04-28 07:59] bhadreshpsavani commented on #994
Hi @tholor,
Sure I can work on it!

[2021-04-28 08:23] tholor commented on #1001
Hey @bappctl ,

There's no need for `answer_end` as you can infer it from the combination of `text` and `answer_start`:
`answer_end` = `answer_start + len(text)`

This is similar to the original SQuAD format. In your example "text" seems empty, but you should see values in there for real annotations where you marked actual answer spans.

Hope this helps!

[2021-04-28 08:28] tholor commented on #997
Ok got it, we will work on it and ping you once we have a draft. Would be great if you can test it then in your environment!

[2021-04-28 10:30] oryx1729 commented on #988
Hi @prtk1910, I think the issue is when you "load" the document_store, the `return_embedding` parameter is set to `False` by default, while, in the case of "initializing" it, the `return_embedding` is explicitly set to `True`.

To get documents with the embeddings, you can call `get_all_documents(return_embedding=True)`.

[2021-04-28 12:19] osmanshaikhSystemsltd opened #1009 "Incomplete context with first letters and last cut off"
**Question**
I have a document with 1 answer per line, upon running a query from the model, it return the appropriate answer of that line along with other not related text. Is there any way to get around with it?

I actually wanna use context, but it has a lot of extra data that is not in that specific line of the answer. I have tried using `context_window_size=500` but doesn't help.

[2021-04-28 16:15] brandenchan commented on #1007
Hi @doh10002, yes there definitely is a way!

If you're using the `Retriever.eval()` method, you just need to add the `return_preds=True` argument.
i.e. `res = retriever.eval(return_preds=True)`
`res` is now a dictionary and `res["predictions"]` returns the predictions.

If you're using evaluation nodes for open domain evaluation (i.e. `EvalRetriever` or `EvalReader`), add debug=True when initiali

[2021-04-28 18:51] doh10002 commented on #1007
Yess!! Thank you so much for your help.
i was able to run it with debug=True argument.
but after the run, i didn't see any `eval_reader.log ` file.
where does that get save?

[2021-04-28 20:30] bappctl commented on #1001
@tholor Thank you

[2021-04-29 05:48] #1001 closed

[2021-04-29 08:53] brandenchan commented on #1007
`eval_reader.log` is actually a python list which contains one dictionary for each input sample. You'll want to do something like
[code]

[2021-04-29 10:19] kruthikakr opened #1010 "Document VQA"
Hi
 Just to know any plans to incorporate this type of data and model here
https://rrc.cvc.uab.es/?ch=17&com=tasks

[2021-04-29 10:34] cregouby commented on #997
Great ! sure I'll come back to you with test results !

[2021-04-29 11:36] angelopf opened #1011 "Training a Hugging Face model through haystack"
**Question**
What is the format of the training file that must be passed into the `retriever.train()` method, for the purpose of training a model? Are there any guidelines on how to create it?

**Additional context**
In the tutorial notebook, the model is referred to as a Dense Passage Retrieval model. Does this method of fine-tuning work the same for all Hugging Face models?

P.S: Thanks a lot fo

[2021-04-29 11:43] angelopf opened #1012 "Only answers attaining a probability/score threshold are returned"
**Question**
I'd like to know what/where one would need to do changes in order for Haystack to be able to return only the answers to a question for which either the probability or the score surpasses a pre-defined level for those.

**Additional context**
I'm trying to return (and the present to the user) not only one answer but also all of those that are relevant enough. This is probably a recurre

[2021-04-29 12:24] osmanshaikhSystemsltd commented on #1011
Hi, you can use `train_data = "data/squad20"
# train_data = "PATH/TO_YOUR/TRAIN_DATA"
reader.train(data_dir=train_data, train_filename="dev-v2.0.json", use_gpu=True, n_epochs=1, save_dir="my_model")
reader.save(directory="my_model")`
And the use this new model. The entire steps are taken from their own documentation at [Haystack official docs](https://haystack.deepset.ai/docs/latest/tutorial2md)

[2021-04-29 12:28] osmanshaikhSystemsltd commented on #1012
Well, you can use logic after this piece of code `prediction = pipe.run(query="Who is the father of Arya Stark?", top_k_retriever=10, top_k_reader=5) ` where prediction var has a dictionary data returned, from here you can access the elements and do the score comparison for threshold.

[2021-04-29 15:18] Timoeller commented on #998
Hey sure, contributions are always welcome!
There is already an issue with very good ideas about additional retrieval metrics: https://github.com/deepset-ai/haystack/issues/925

About additional Reader metrics, I think if you create something completely new you will have to educate and introduce it a lot. Currently we are thinking a lot about softer metrics than EM, f1 or even TopkAcc. We would be

[2021-04-29 20:33] akkefa opened #1014 "Rest api not returning any answers"
**Describe the bug**
 Rest API interface not working properly while running this command

Everything download but while loading the hugging face model  deepset/roberta-base-squad2 its generate this log.
**
Some weights of RobertaModel were not initialized from the model checkpoint at deepset/roberta-base-squad2 and are newly initialized: ['roberta.pooler.dense.weight', 'roberta.pooler.dense.bias']

[2021-04-30 07:52] prtk1910 commented on #988
Just tried this, but the issue remains. Even tried using get_all_documents_generator.

[2021-04-30 08:47] oryx1729 commented on #994
Hi @bhadreshpsavani, this should be now resolved with #995.

[2021-04-30 08:47] #994 closed

[2021-04-30 08:54] oryx1729 commented on #988
Hi @prtk1910, I am trying to reproduce the issue. The following script creates embeddings in FAISSDocumentStore, saves FAISS Index to the disk, and loads it up. In the loaded instance of `FAISSDocumentStore`, the embeddings are still there.

Could you try this script in a clean environment? Ensure that you don't have existing file called `dpr_document_store` or `haystack_test_faiss.db`.

[code]

[2021-04-30 10:23] #741 closed

[2021-04-30 11:21] tholor opened #1016 "Document examples of response format of pipelines"
Let's somewhere in the docs document the response format of our pipelines, i.e. what are the key, values of the returned dict.

Could either be in the [usage section ](https://haystack.deepset.ai/docs/latest/pipelinesmd#Default-Pipelines-replacing-the-Finder)or in the [API reference](https://haystack.deepset.ai/docs/latest/apipipelinesmd#Class-ExtractiveQAPipeline).

[2021-04-30 11:45] tholor commented on #1009
Hey @osmanshaikhSystemsltd ,

Is the `answer` field in the prediction not giving you the wanted single line answer?
The `context` is basically just the predicted `answer` plus a fixed number of characters before and after it (the number of chars is set via `context_window_size`.

If `answer` is not what you want (e.g. because it only contains a part of the full line that you want), you can of cour

[2021-04-30 13:58] venuraja79 commented on #957
Found this notebook that uses python client to connect to Weaviate. https://github.com/semi-technologies/Getting-Started-With-Weaviate-Python-Client/blob/main/Getting-Started-With-Weaviate-Python-Client.ipynb

[2021-04-30 17:17] lalitpagaria commented on #957
@venuraja79 Would you like to contribute and create PR?
You can take a check ElasticSearchDocumentStore which use elasticsearch client or MilvusDocumentStore which use milvus client to sample integration with Haystack.

Obviously Haystack community can support you in this journey.

[2021-04-30 23:26] osmanshaikhSystemsltd commented on #1009
Thanks for replying, I will give it a try, while this makes complete sense and I understand. But what bothers me is that can the context not be an entire line from documentstore? My only scenario is this:

1- Document is structured like, each line has one answer.
2- I want to grab that that complete line whether it be 10 words or 255 words or more. The answer should come complete.

I am going to g

[2021-05-01 07:14] akkefa commented on #1014
Facing the same error while running the first tutorial.

[code]

Complete log

[2021-05-01 07:25] tholor commented on #1014
Hey @akkefa ,

Is it possible that you are running with an empty elasticsearch instance (i.e. without any documents in there)?

You can check this via

[code]

You can see from the tutorial logs that it was skipping the part of launching elasticsearch and indexing new docs because there was already an elasticsearch instance running.

If you still want to do this call: document_store.write_document

[2021-05-01 07:33] tholor commented on #1014
Hey @akkefa ,

You can safely ignore the warning about model weights loading. This seems to be an artifact of HF transformers and we load the weights to a later points (@julian-risch  let's validate this and suppress the warning).

Are you sure you have documents in your documentstore (e.g. elasticsearch)?

You can check this via

[code]

In the tutorial it seema from the first line of your logs t

[2021-05-01 07:56] akkefa commented on #1014
Yeah, It solved the issue with the first tutorial.  I was not adding the docs in the documentstore. 🙏

[2021-05-01 07:56] #1014 closed

[2021-05-01 09:26] venuraja79 commented on #957
sure @lalitpagaria. Just started reviewing the Weaviate docs.

[2021-05-01 22:25] vteja11 commented on #1002
Hey @tholor ,

Yeah adding an alias parameter to the constructor works.

My specific case was I will update my index every 2 days and index name would contain the date eg: "actors-05-01-2021", so after the updating index the name changes to "actors-05-03-2021". While creating these indices I associate them to the alias "actors" so every time when I need to query the index I use the alias instead o

[2021-05-02 05:26] bhadreshpsavani commented on #830
We can close this issue, right? Since it has been fixed

[2021-05-02 06:10] tholor commented on #1002
Ok makes sense. Thanks for elaborating on your use case.
We will probably tackle this in our next sprint.

[2021-05-02 06:11] #830 closed

[2021-05-02 06:24] bhadreshpsavani opened #1017 "Error in UI while running Evalution Mode"
**Describe the bug**
While running Evaluation mode the button is giving the below error. Ideally, the Stramlit button has a `help` attribute i cross-checked it in the [doc](https://docs.streamlit.io/en/stable/api.html#display-interactive-widgets)

I am not very sure why this issue is coming

**Error message**
[code]

**Expected behavior**
It should show evaluation mode and works without error

**A

[2021-05-02 16:17] #315 closed

[2021-05-02 19:58] thenewera-ru opened #1019 "Reload FAISS doc store ?"
**Question**
How to save and reload afterwards documents and embeddings info with `document_store` be `FAISSDocumentStore`?

[code]

**Additional context**
Previously the documents were saved to the correct location using:
[code]

[2021-05-03 08:24] Timoeller commented on #1019
#937

[2021-05-03 09:37] brandenchan commented on #798
Fixed by #991

[2021-05-03 09:37] #798 closed

[2021-05-03 09:53] osmanshaikhSystemsltd commented on #1009
@tholor Thanks for all the help! You helped solving this issue! I am going to leave the code underneath just in case if anyone else faces the same problem.

`test = prediction
#print(test['answers'][0]['context'])
test2 = test['answers'][0]['context']
#print(test2)
x = (test2[test['answers'][0]['offset_start']:test['answers'][0]['offset_end']:])
split_text = test2.split('\n')
data =  [ i for i in

[2021-05-03 09:59] #1009 closed

[2021-05-03 10:28] oryx1729 commented on #1019
Hi @thenewera-ru, `FAISSDocumentStore` has two components: a SQL store that contains documents with their associated meta data and a FAISS Index with the embeddings.

When saving & reloading, both components need to be restored. In your case, the `sqlite:///` is an -in-memory SQLite instance that is not persisted. It needs to be a file-based SQLite instance, e.g., `sqlite:///my_doc_store.db`.

Her

[2021-05-03 10:30] brandenchan commented on #886
Hi @xavierdurawa , just wondering how you're doing with this. Do you have a PR to share? I think I might have some contributions to make to this!

[2021-05-03 11:00] tholor commented on #1009
Great! Thanks for sharing your code snippet 👍

[2021-05-03 11:06] brandenchan commented on #983
Hi @sophgit, I had a chance to look into this issue again. I replicated your situation by creating a single sample where both the document and the answer contained a double whitespace. But in both closed and open domain eval, the retrieval was considered correct.

I have a couple small hypotheses about what might be going wrong but I am wondering whether it would be possible for you to send us thi

[2021-05-03 11:08] brandenchan commented on #983
As a side note, since you are working on German, I thought I'd bring this to your attention! We trained a German QA model and also a German Dense Passage Retrieval model using a hand annotated dataset that we created. All of it is open sourced now so feel free to try them out if they might be helpful in your use case!

https://deepset.ai/germanquad

[2021-05-03 11:49] xavierdurawa commented on #886
Hi @brandenchan, I have been working on this though progress has been a bit slow.  Don't have a PR yet.

[2021-05-03 12:29] tholor commented on #1011
Hey @angelopf ,

Do you want to train a reader or a retriever model (or anything else)?

For a reader: have a look at the above code snipped from @osmanshaikhSystemsltd (thanks!) and let us know if you have any further questions about it. We support there most (but not all) of the model architectures that you find in Huggingface's transformers.
We prefer to "curate" a list of model architectures t

[2021-05-03 12:32] brandenchan commented on #886
That's no problem. I ask just so that we don't each end up implementing the same feature twice.

If you have something that you can push, feel free to open a work in progress PR and I can build on top of that.

Otherwise, I can open a PR and you can incorporate changes into that.

[2021-05-03 12:39] tholor commented on #1012
@angelopf Does this solve your problem?

In the long run we could also think about adding a parameter in the reader to handle such a "threshold-based" limit internally.

[2021-05-03 12:46] sophgit commented on #983
Hi @brandenchan,
thanks for looking into the problem. These are the three examples (text from https://onlinemarketing.de/lexikon/definition-customer-relationship-management-crm). Would you prefer them as txt file? Can't upload json here.

{
    "paragraphs": [
      {
        "qas": [
          {
            "question": "Wie wird CRM bezeichnet, das das Internet nutzt?",
            "id": 34132,

[2021-05-03 14:39] #990 closed

[2021-05-03 15:25] Timoeller commented on #983
Hey @sophgit I remember you helping also to fix some issue with the annotation tool and other interesting conversations.

Wow, so it seems you have created 272 domain datapoints for German QA and used them already for eval.
Can we actually have a call about this? I would be highly interested in interacting, maybe also seeing how a model trained on GermanQuAD oder GermanDPR could improve your perfo

[2021-05-03 15:28] brandenchan opened #1023 "Document splitting based on word count can cause whitespace normalization"
When the Preprocessor is used to split Documents by word count, sequences of multiple whitespaces might be normalized as a side effect. This is problematic in evaluation, especially for open domain retrieval (see #983). With #1022, a warning is logged, but the problem is not truly fixed.

[2021-05-03 15:36] brandenchan commented on #983
Just as an update, it seems that the step of splitting Documents into Passages can cause whitespace normalization if `PreProcessor.split_by == "word"`. Hence why your Document text has no duplicate whitespaces, but your answers do have them.

We will want to fix it (#1023) but it is at a very low level in the code and probably won't be a quick fix. For now, I have opened a PR to raise a warning (#

[2021-05-03 15:43] oryx1729 commented on #1017
Hi @bhadreshpsavani, thank you for raising the issue. It's due to using an older version of Streamlit. It should get resolved with #1024.

[2021-05-03 15:44] #1017 closed

[2021-05-03 20:19] aqsa27 opened #1026 "Reading Comprehension: Questions on model choice, context_window_size and preprocessing"
I have a Use case in which i have documents containing paragraphs of text and list of questions whose answers are in the paragraphs.
I started with tutorial 3, my questions are
1) which model should i use for better accuracy?I dont want to use elastic search.
2) I followed the tutorial 3 and the answers I got were pretty accurate but i could not understand what should i keep the context_window_siz

[2021-05-04 04:21] vteja11 opened #1027 "Duplicate and empty results from TransformersReader"
**Describe the bug**
I'm using the basic QA pipeline https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial1_Basic_QA_Pipeline.ipynb. But I encounter duplicates and empty documents in my results (I have verified that my document store doesn't have duplicates).  I am using Transformer reader and Elasticsearch retriever. The query is pipe.run(query = 'How to integrate twilio ?', top_k

[2021-05-04 06:56] julian-risch commented on #1027
Hi @vteja11 I am not sure about the null results yet but I can say something about the duplicates. In fact, they are no exact duplicates. The first ends with "number." while the second only ends with "number". Note that the offset_end values are also slightly different. I see that you are using the Transformer reader. You could try using the FARM reader after checking out the latest master of Hays

[2021-05-04 07:12] tholor commented on #1027
Regarding the "empty" answers: This is the way the model represents a "No answers found". This can be helpful in scenarios where you want to avoid returning an answer in every case - even when the model is very uncertain. You can configure the sensitivity for this, i.e. how often the no answer option is returned, via the param `no_ans_boost` in the FARMReader or completely disable it via `return_n

[2021-05-04 10:25] RORO-ML commented on #974
Same problem here, could you fix it? `document_store_faiss.use_windowed_query=False` resolves the issue :/

[2021-05-04 11:53] Timoeller commented on #916
Closing because of inactivity, feel free to add details and reopen if the problem persists.

[2021-05-04 11:53] #916 closed

[2021-05-04 11:53] Timoeller commented on #929
Hey @giguru any progress on the contributions?

[2021-05-04 11:55] Timoeller commented on #930
Hey @UmerTariq1 could you verify my explanation for the different RAM usage? Would be interested to see.

[2021-05-04 11:56] Timoeller commented on #942
@DCRepublic is your issue fixed as well and can we close this issue?

[2021-05-04 11:57] Timoeller commented on #975
we have the reranking PR coming up in #1025

[2021-05-04 11:59] Timoeller commented on #944
Hey @DanielGlickmanTAU any updates here? Unfortunately we could not reproduce your issues, so closing now. Feel free to reopen if the error persists. If you found the problem please report back here. Thanks

[2021-05-04 11:59] #944 closed

[2021-05-04 12:00] Timoeller commented on #925
Hey @giguru any progress on the contributions? Do you need help with concepts or implementation?

[2021-05-04 15:30] Timoeller commented on #482
Maybe we can test out: https://github.com/axa-group/Parsr for getting structural information

[2021-05-04 15:42] brandenchan commented on #886
Hey, I have opened a PR that introduces the SquadDataset class, which converts squad data to a pandas dataframe and back. I think that working on the dataframe is actually the easiest way to manipulate squad data.

I can still imagine having methods that could merge sets of annotations, return unique questions, return unique documents and perhaps various slicing operations (e.g. give me 10 no_answ

[2021-05-04 17:33] brandenchan commented on #933
This should be solved by #1030!

[2021-05-05 08:43] tholor opened #1031 "Simplify evaluation for filtered search cases (e.g. product search)"
A search query in Haystack's retriever-reader pipeline can run "globally" against all docs or only on a filtered subset.

However, when we run eval we usually do it globally, i.e. running a set of questions without filters, comparing predictions with gold answers and returning metrics.
When you want to run eval for something like product search, where your pairs of question and gold answers are cl

[2021-05-05 08:52] tholor opened #1032 "Simplify usage of confidence scores & add documentation"
With # we introduced an option to get more reliable confidence scores for predictions from a QA model / reader.

So far the usage in Haystack seems not well documented and calibrating scores is not easily accessible.
Calibration would probably look something like this:

[code]

Or you set it manually to:
[code]

Proposed changes:
1. Let's simplify the calibration by introducing a new "high-level"

[2021-05-05 10:32] sathish1357 commented on #1027
Hi,
can it work for elastic search document store with duplicates. And if not how can I prevent duplicates from elastic search document store.
thank you in advance.

[2021-05-05 11:01] julian-risch commented on #1027
HI @sathish1357 the problem that is described here is not about the retrieval of duplicate documents but the prediction of near-duplicate answers (not exact duplicates). The solution is independent of the underlying document store and would also work with elastic search document store, yes.
If you are having problems with duplicates returned from elastic search, I suggest that you take a look here

[2021-05-05 11:03] brandenchan opened #1033 "docker-compose up doesn't work"
When running `docker-compose up`, this error keeps showing
[code]

This seems tied to the fact that the images are not up to date. As suggested by @oryx1729, I ran `docker-compose --build haystack-api` and this workaround worked.

[2021-05-05 16:15] Threepointone4 opened #1034 "SQUAD format"
**Question**
I have a doubt regarding the SQUAD format.

**Additional context**
[code]

When I did the same from the haystack annotation tool the whole text from the pdf was considered as context. Right now I am using only the chunk of text which supports the answer. Will this have any impact? Is there any issue with my SQUAD format?

[2021-05-06 03:02] thenewera-ru commented on #1019
Hi @oryx1729, thank you for providing the code snippet, it worked without any problems.

[2021-05-06 03:02] #1019 closed

[2021-05-06 06:15] Threepointone4 commented on #1034
Just to add, during inferencing I am passing the whole text.

[2021-05-06 08:56] AymericSallet opened #1035 "squad_to_dpr error"
**Describe the bug**
I'm trying to convert a squad format json to a dpr format json, taken from the haystack's annotation tool but I have this error each time I try to do it

**Error message**
[code]

**System:**
 - OS:
 - GPU/CPU: GPU
 - Haystack version (commit or version number): Master branch
 - DocumentStore: FAISSDocumentStore
 - Reader:
 - Retriever: DPR

[2021-05-06 09:49] brandenchan opened #1036 "Increase maximum number of labels per question"
Currently Haystack limits the number of answer labels per question to 6, since this is also a limitation on the side of FARM. Let's increase this so that any number of labels can be handled by Haystack. This will be particularly important as users generate more label data from our feedback mechanism.

_Originally posted by @tholor in https://github.com/deepset-ai/haystack/pull/1030#discussion_r626

[2021-05-06 12:58] tholor opened #1037 "Make logging of update_embeddings() more useful"
**Is your feature request related to a problem? Please describe.**
When calling `document_store.update_embeddings()`, the current logs are very verbose and not really helpful.
Particularly the progress bars are indicating just the progress within a batch of documents (here: 10k) and not the overall progress / estimated time.

[code]
**Describe the solution you'd like**
- Let's suppress the elastic

[2021-05-06 14:20] MathiasKrill opened #1038 "Uploading file again broken"
**Describe the bug**
Uploading file again broken

**Error message**
`05/06/2021 14:13:46 - WARNING - haystack.preprocessor.preprocessor -   During PreProcessor.split(), white space normalization has occurred. This can cause issues during evaluation if an answer span contains multiple whitespaces. This problem may be solved by initializing the PreProcessor with split_by='passage'(Problematic doc_id

[2021-05-06 17:02] #886 closed

[2021-05-06 17:41] MathiasKrill opened #1039 "How to delete the entries in the elasticsearch db?"
**Question**
Hi,
How to delete the entries in the elasticsearch db?  (when i have already added some documents)

**Additional context**
Havent seen a delete api yet.

[2021-05-06 19:54] aqsa27 commented on #975
Does haystack now support long answers? If so, can some one help me with which model or retriever should I use?

[2021-05-06 19:54] vteja11 commented on #1027
Yeah ok got it

[2021-05-06 22:34] bappctl opened #1041 "'utf-8' codec can't decode byte 0xa0 in position 1530: invalid start byte"
I am trying haystack within flask app on docker (gpu). When the container starts it always gives below error w.r.t FARMReader. Tried varies approach but getting same issue

[code]
main.py
[code]
Dockerfile
[code]

[2021-05-07 01:05] bappctl commented on #1041
The issue was introduced by editor. Closing it.

[2021-05-07 01:05] #1041 closed

[2021-05-08 08:09] venuraja79 commented on #1039
Please refer delete_all_documents method in ElasticsearchDocumentStore.

[2021-05-09 07:43] Prabhav55221 opened #1043 "How to save the pipeline in a format that can be accessed by a Flask Web App?"
**Question**

I have been recently using Haystack to build a QA System and I was wondering if I could save the pipeline in a file that can be directly loaded when deployed to a local Flask Application. For reference, currently, I am using colab and every time I run the code, it loads the model (ALBERT XXL V1) and updates the embedding according to the documents. What I wanted was to skip this and

[2021-05-09 09:06] Raldir opened #1044 "Input batch size does not match target batch size when using more than one positive context when training DPR"
**Describe the bug**
When fine-tuning DPR on a custom dataset with parameter num_positives being larger than one, I get a batch size mismatch error when starting training. Training works perfectly fine when num_positives=1. The list of 'positive_ctxs' is set to always be equal to num_postives. I have also tried out the default dataset (i.e. biencoder-nq) -- same issue.
So when I train with a batch

[2021-05-10 02:32] venuraja79 commented on #957
Few design decisions -
1. Haystack Index == Weaviate class
2. Haystack Document meta (dict) - to be stored as a property in weaviate
3.  text2vec-transformers to create the vectors, it will be configurable though

Just a quick update -
have made some progress in creating schema, writing docs and querying the system. With this, I can start implementing the document store and will post further progr

[2021-05-10 06:49] lalitpagaria commented on #957
Awesome! @venuraja79
Can you please create WIP PR so people can review and provide early feedback on design.

[2021-05-10 07:21] tholor opened #1045 "Rename delete_all_documents() -> delete_documents"
The method in the document stores started with the pure functionality to really delete *all* documents. Since a while it's also used for deleting of single docs or a subset providing a `filters` attribute:
https://github.com/deepset-ai/haystack/blob/5d31e633cef1e22b4ddbc57aba7b34c80f36e8ec/haystack/document_store/elasticsearch.py#L928

Let's add a new method `delete_documents` and add a deprecatio

[2021-05-10 08:34] AymericSallet opened #1046 "Unable load a local French DPR model (etalab-ia/dpr-question_encoder-fr_qa-camembert)"
**Describe the bug**
I tried to save the french DPR model (retriever.save), that's working but i have an error after when i try to load it (retriever.load).

The exact same code work fine with the facebook/dpr-question_encoder-single-nq-base model.

I want to do that to fine-tune the french DPR model.

[code]

[code]
[code]

ERROR:
`TypeError: stat: path should be string, bytes, os.PathLike or int

[2021-05-10 08:35] #1035 closed

[2021-05-10 11:37] #1045 closed

[2021-05-11 05:36] bsathish11 opened #1049 "FAISS load error"
**#FAISS Indexing**
_from haystack.document_store.faiss import FAISSDocumentStore_

ImportError: DLL load failed while importing _swigfaiss: The specified module could not be found.

Any thoughts from anyone?

[2021-05-11 08:19] vteja11 commented on #1002
@tholor Update on this thread.

I passed the alias in the index parameter. It seems to be working fine

[2021-05-11 08:47] tholor commented on #1002
Ok that's great to hear! What type of operations did you test? Indexing and querying?

[2021-05-11 09:21] julian-risch commented on #1049
Hi @bsathish11 I was able to reproduce your problem and I also found a fix. I would recommend to start with a fresh environment. I used `conda create --name py37faiss python 3.7 -y`.
After you installed Haystack's requirements via `pip install -r requirements.txt`, please uninstall faiss-cpu via
`pip uninstall faiss-cpu` (or don't install it at all).
Then, install faiss-cpu via: `conda install -c

[2021-05-11 10:12] bsathish11 commented on #1049
@julian-risch thanks much julian.. even after the above steps, still end up with same error in notebook. though even i can _import faiss_ in Python. PFA the screenshots.
![faiss screenshot](https://user-images.githubusercontent.com/59523621/117798733-0a5e5380-b26f-11eb-85ea-58c49b484e7b.jpg)
[Haystack - Doc search.txt](https://github.com/deepset-ai/haystack/files/6458389/Haystack.-.Doc.search.txt)

[2021-05-11 10:27] julian-risch commented on #1049
I could imagine that the problem is now specific to running the code in the notebook. Looking at the file that you posted, it seems that faiss-cpu is still being installed via pip install based on the requirements.txt

[2021-05-11 10:32] julian-risch commented on #1049
Also, keep in mind that you are using a different python version in your terminal than in your notebook. One is 3.8 and the other is 3.7. These are not the same python environments.

[2021-05-11 12:36] julian-risch commented on #1046
Hi @AymericSallet I was able to reproduce your problem and I think the problem is that this French model uses a different tokenizer. Most likely, the CamembertTokenizer is not recognized/loaded correctly. We had this problem earlier: #840
Let me have a closer look.

[2021-05-11 12:51] julian-risch commented on #1046
It seems there is a typo in the model card, where it says "DPRQuestion**t**Encoder" : https://huggingface.co/etalab-ia/dpr-question_encoder-fr_qa-camembert/blob/main/config.json#L3 @guillim @psorianom This typo prevents the tokenizer from being recognized by FARM: https://github.com/deepset-ai/FARM/blob/bec0a9aeecd696d94e42c72bef6e8b6788a381e0/farm/modeling/tokenization.py#L180 However, I am not s

[2021-05-11 19:42] giguru commented on #929
Hey Timo - sorry for the slow response. It has been difficult to reproduce the QuReTec model. Some implementation details have been missing. I'm trying to get in touch with the original author, but for now the F1 score is 50.4 where it should be 68.7, so there is still quite a gap...

- I have immediately starting using classes/functions from FARM like Processor, DataSilo, initialize_optimizer, et

[2021-05-11 20:08] vteja11 commented on #1002
When you pass alias name in the index parameter.

For indexing:
1. If alias is present it doesn't create a new index, it writes the documents or mapping to the existing index associated to alias.
2. If alias is not present it creates a new index (not a alias) with the given parameter(alias name)

For Querying:
1. If alias is present it retrieves the documents from the index associated with the giv

[2021-05-12 04:56] Threepointone4 commented on #1034
Thanks for the explanation.
The format you are telling : 1 record = filename1 : question1 question2
The format i am using to train : filename1 : question1
                                                  filename2 : question2

Right now each question is new row with repeated context. Will it have any impact on model accuracy ?

[2021-05-12 05:18] bsathish11 commented on #1049
Thank you so much Julian.. I

Thank you so much Julian..this is an issue..now resolved.. Thanks for ur immediate reply..

[2021-05-12 05:23] bsathish11 opened #1050 "Do we really need GPU?"
**Question**
Facing a runtime error while firing a query with the below message. I don't have GPU installed. Do we really need a GPU?

_RuntimeError: Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/index.aspx_

How can we make it run in CPU itself?

[2021-05-12 05:24] bsathish11 commented on #1050
How can we make it run in CPU itself?

[2021-05-12 06:31] #1049 closed

[2021-05-12 06:41] Prabhav55221 opened #1051 "How to store ElasticSearch DataStore?"
**Question**
I am using ElasticSearch on Windows as my preferred DataStore Type in a QA System. Since I am using a Deep Retriever and I have to update the embedding every time I run the code, I was wondering if there was any way to save the updated datastore locally or have it persist in elasticsearch permanently.

[2021-05-12 08:24] Raldir opened #1052 "Reading and Writing from Faiss Document Store slow (>5,000,000 passages)"
**Describe the bug**
Writing documents with the write_documents function as well as reading documents using get_all_documents_generator is surprisingly slow (using Faiss Document Store 'Flat'). Writing around 5Million passages (around 4.6GB) takes up to an hour. Considering, that CPU and Memory load is practically zero, I suspect that some other issue is going on here.

**Expected behavior**
For c

[2021-05-12 09:01] Timoeller commented on #929
Thanks for the update.
Sure it makes sense to replicate their models first.

The model would be a tokenclassification model, right?
An integration through FARM is possible and would simplify if we need to change the underlying implementation. An integration through other frameworks is also possible. HF transformers of course, but maybe it makes sense to use flair for NER?
Disclaimer: we prefer to

[2021-05-12 09:08] julian-risch commented on #1034
No, for training a question answering model it should have no impact on model accuracy. 👍

[2021-05-12 11:40] samehfrihat opened #1053 "Error: cannot import name 'Document' from 'haystack'"
**Describe the bug**
cannot import name 'Document' from 'haystack' while running "from haystack.document_store.elasticsearch import ElasticsearchDocumentStore"

**Error message**
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-19-c1d5e5fc0f0b> in <module>
----> 1 from haystack.doc

[2021-05-12 15:57] julian-risch commented on #1046
Great, thank you for your quick response @psorianom ! You are right that we have another problem here. It's an issue of haystack and transformers. `model_type` is not correctly stored as `camembert` but as `dpr`, indeed. transformers automatically overwrites it [here](https://github.com/huggingface/transformers/blob/64e78564a519cda2b4408803e2781c604e1e3bdd/src/transformers/configuration_utils.py#L

[2021-05-12 23:34] azseza commented on #356
Hello,
I'm having the same problem.
I managed to build a Django Q&A app with the farm haystack package, it runs perfectly when I run the app locally with an ElasticSearch docker instance, but when I wanted to fuse the app into a single docker image I get the same error ; her's my docker-compose.yaml file

version: '3.7'

services:
  es:
    image: elasticsearch:7.8.1
    environment:
      - clust

[2021-05-12 23:41] azseza opened #1054 "How can I run ElasticSearch and a farm-haystack Django app with docker compose"
Hello,
Sorry for posting this question in multiple threads, but I'm kind of hopeless
I'm having the same problem as the issue  #356 ([Errno 111] Connection refused)
I managed to build a Django Q&A app with the farm haystack package, it runs perfectly when I run the app locally with an ElasticSearch docker instance, but when I wanted to fuse the app into a single docker image I get the same error ;

[2021-05-13 03:05] azseza commented on #1054
Just had to change the host in ElasticsearchDocumentStore to "es" as  mentionned in the docker-compose

[2021-05-13 03:05] #1054 closed

[2021-05-13 07:41] kucukagan opened #1055 "Very Slow for very long document"
Hİ,
I've put harry potter series book as a data at my system than I have predicted them without Elasticsearch for QA (Tutorial3_Basic_QA_Pipeline_without_Elasticsearch.py)..

prediction = pipe.run(query="Who is Dursley?", top_k_retriever=10, top_k_reader=5)
This line return answer very slow. What am ı doing ?

Thank you.

[2021-05-13 09:46] drellxor opened #1056 "Pip install from requirements fails for python 3.6"
**Describe the bug**
I try to install haystack 0.8.0 dependencies from requirements.txt
According to setup.py it's compatible with python 3.6
https://github.com/deepset-ai/haystack/blob/a06e4450d1f039a48d06ca6b9345d50fbc0fbf79/setup.py#L63

However pip during installing this package:
https://github.com/deepset-ai/haystack/blob/a06e4450d1f039a48d06ca6b9345d50fbc0fbf79/requirements.txt#L20

Tries to

[2021-05-13 12:11] gavishpoddar opened #1057 "docker-compose demo failed to run"
**Describe the bug**
I was trying to setup the demo from the Readmd Page but for some reason it failed to connect to Elastic Search

**Error message**

haystack-api_1   | Exception: Failed loading pipeline component 'ElasticsearchDocumentStore': Initial connection to Elasticsearch failed. Make sure you run an Elasticsearch instance at `[{'host': 'elasticsearch', 'port': 9200}]` and that it has fin

[2021-05-13 13:30] flozi00 opened #1058 "CLIP semantic image search"
**Is your feature request related to a problem? Please describe.**
No, it would be just cool

**Describe the solution you'd like**
Indexing and searching for images by text

**Describe alternatives you've considered**
Jina already does, but since CLIP is in latest huggingface release it would be cool have it here too

**Additional context**
I did some runs locally with my own photos and the result

[2021-05-13 13:57] khadkechetan commented on #1050
I guess you can try following code to dodge that. It is working on CPU.

`from haystack.document_store.faiss import FAISSDocumentStore
from haystack.retriever.dense import EmbeddingRetriever

document_store_faiss = FAISSDocumentStore( faiss_index_factory_str="Flat",return_embedding=True,
                                          progress_bar=True)

retriever_faiss = EmbeddingRetriever(document_sto

[2021-05-13 22:47] DCRepublic commented on #942
@Timoeller yes my issue is fixed. We can close this thread.

[2021-05-13 22:48] #942 closed

[2021-05-14 07:13] tholor commented on #1010
Hey @kruthikakr,

We don't have immediate plans to add these models as we are currently pretty busy with other key features in Haystack (TableQA, Re-ranking, better evaluation, distributed pipelines, speed improvements..), However, we do think these models would be an interesting addition and are open for contributions from the community (and can help along the way)! Would you be interested in add

[2021-05-14 07:30] tholor commented on #1026
Hey @aqsa27 ,

Sorry for the late reply. Let me try to help you here.

This depends a bit on your use case. What language are you working with? Is it from a special domain (e.g. finance)? What is more important to you speed or accuracy? How many documents do you have?
Without knowing more about your use case, I'd in general recommend a roberta (`deepset/roberta-base-squad2`) or MiniLM (`deepset/mi

[2021-05-14 07:41] tholor commented on #1038
Thanks for reporting @MathiasKrill !

Let's divide this into two problems:

This is a UI issue. The UI should ideally not allow the user to choose a combination of `split_by='passage'` and `split_respect_sentence_boundary=True`.

Do you just see a warning here or is the file upload throwing a real error? The warning is expected and will be removed once a fix is implemented for https://github.com/d

[2021-05-14 07:45] tholor commented on #1039
To make it more intuitive we will deprecate `delete_all_documents()` in favor of `delete_documents()` (https://github.com/deepset-ai/haystack/pull/1047). In both methods, you can supply a filter to delete only a subset of docs or a single one.

Closing this now as it seems resolved. Feel free to re-open if not.

[2021-05-14 07:45] #1039 closed

[2021-05-14 07:56] tholor commented on #1043
Hey @Prabhav55221 ,

Sure, that is possible.

If I understand your use case correctly, there are three things that you want to save:

1) Reader model (Albert XXL)

Just call `reader.save(Path("some-file-path"))`. You can later load this local model by simply calling `FARMReader('some-file-path')`

2) DPR model
Similar to above: `retriever.save('some path')`

3) Embeddings for your docs

The embedd

[2021-05-14 09:30] tholor commented on #1027
Seems resolved. Feel free to re-open if not :)

[2021-05-14 09:30] #1027 closed

[2021-05-14 09:32] tholor commented on #1050
Yep, running on CPU is totally possible - it will just be significantly slower. Setting ` use_gpu=False` in the EmbeddingRetriever should do the job.

Feel free to re-open if this is not solving your issue :)

[2021-05-14 09:32] #1050 closed

[2021-05-14 09:38] tholor commented on #1051
Hey @Prabhav55221 ,

Yes, this is absolutely possible. How are you running Elasticsearch? Are you using Docker?
If yes, there are two options:
1) the data will automatically be persisted in the container. If you start the **same** container again, the data should still be there. (If you create a new container instance from the image, the data won't be there of course). For prototyping purposes you

[2021-05-14 09:45] tholor commented on #1052
@Raldir Happy to investigate this. A few questions to clarify your setup here:
- Are you running the FAISSDocumentStore with postgres or sqlite?
- Do your documents that you pass to `write_documents()` contain embedding or is this "pure text"?
-  Do you mean with "lastest Haystack version" the latest pypi release (0.8.0) or the latest master branch?

[2021-05-14 09:53] tholor commented on #1055
Please see my comment here that lists different options to speed it up: https://github.com/deepset-ai/haystack/issues/981#issuecomment-824873009

In your case splitting the book into smaller passages should be the biggest lever. You can do this via our `PreProcessor` class. See [this tutorial](https://haystack.deepset.ai/docs/latest/tutorial8md) for usage instructions.

[2021-05-14 09:58] julian-risch commented on #1053
Hello @samehfrihat The error seems to be that the Document class cannot be imported. This class is in [haystack/schema.py](https://github.com/deepset-ai/haystack/blob/a06e4450d1f039a48d06ca6b9345d50fbc0fbf79/haystack/schema.py#L7). When haystack's [init.py](https://github.com/deepset-ai/haystack/blob/a06e4450d1f039a48d06ca6b9345d50fbc0fbf79/haystack/__init__.py) is executed, it runs `from haystack

[2021-05-14 10:11] julian-risch commented on #1053
I tried to reproduce the issue to no avail on Ubuntu 20.04.1 LTS by running:
[code]
It works for me.

[2021-05-14 10:15] samehfrihat commented on #1053
I install it using:
`pip3 install farm-haystack`

[2021-05-14 10:19] Prabhav55221 commented on #1043
Hey @tholor

Thanks a lot for your reply!

I did try the first two steps and I succeeded in saving the Reader and DPR. I just had a doubt about the Document Store part. Yes, I am using ElasticSearch on an AWS Ubuntu Virtual Machine. In that, I have installed and started ElasticSearch 7.1.12 using the deb file and not the docker version.

My doubt is, once I update the embeddings once using:

`docu

[2021-05-14 11:03] MathiasKrill commented on #1039
thank you

[2021-05-14 11:56] lalitpagaria commented on #1058
@flozi00 nice suggestion. I also wanted to suggest the same. It is nice to support image documents which will suite VQA, Image search and other use cases.

Fews concerns I have are -
- Breaking changes in existing framework where 'text' is hard-coded ie in Document class and other places
- Long term support to maintain these features and without active volunteers, deepset will find difficult to ma

[2021-05-14 12:54] julian-risch commented on #1053
Does this problem also occur when you execute [Tutorial 1](https://github.com/deepset-ai/haystack/blob/master/tutorials/Tutorial1_Basic_QA_Pipeline.py) or only if you use some custom code?

[2021-05-14 16:37] aqsa27 commented on #1026
Thank you for helping me out

Accuracy matters more for my use case, regarding the no. of documents, the range can be from 1 -20 documents if the model allows.

Thank you, i will try this

my data is in pdf and docx

Thank you, I will try it and get back to you

[2021-05-14 19:37] tholor commented on #1043
If you are running ES directly on the host machine, the data will be stored on disk automatically. See https://stackoverflow.com/questions/33303786/where-does-elasticsearch-store-its-data

You can also verify this in haystack. For example, just call `docunent_store.get_document_count()` to see if your docs are still there.

[2021-05-14 19:48] Prabhav55221 commented on #1043
This works perfectly well!

Thanks a lot for the help! I just did not know where it stored the data. Found it with the help of that stack overflow answer.

Closing the issue now since I guess this solves it!

[2021-05-14 19:48] #1043 closed

[2021-05-14 20:57] vteja11 opened #1061 "Elasticsearch client fails to create mappings for a index"
**Question**
When I try to initialize a document store with a new index, it raises the following error
elasticsearch.exceptions.RequestError: RequestError(400, 'mapper_parsing_exception', 'No handler for type [dense_vector] declared on field [embedding]')

Elasticsearch version of the Server: 7.10
Provider: Aws

Complete Logs

`self.document_store = ElasticsearchDocumentStore(host=self.es_host, po

[2021-05-15 05:27] tholor commented on #1061
I suppose you are using the OpenDistro of Elasticsearch (mainly maintained by AWS)?
In that case just use our `OpenDistroElasticsearchDocumentStore()` class. It handles dense vector fields a bit differently. The rest is the same.

[2021-05-15 05:58] tholor commented on #1053
@samehfrihat do you see any error messages during the installation? I remember I saw a similar import problem after the installation signaled some incompatible versions of dependency packages. Maybe also try to install it in a fresh conda environment / virtual env

[2021-05-15 06:22] khadkechetan opened #1062 "Integration of Flask with haystack for semantic search"
**Question**
How can we use haystack with Flask for semantic search with multithreading?

[2021-05-15 07:49] Raldir commented on #1052
Thanks!

Sqlite

Only text

Latest master branch

[2021-05-15 10:41] akkefa commented on #647
@tholor Is this still issue?

[2021-05-15 11:23] tholor commented on #647
We haven't benchmarked it recently. There were a few changes to the ORM since the creation of the issue, but it's very likely still slow.

It would be a great help in case you want to tackle it!

[2021-05-15 12:00] akkefa commented on #647
I will be working on it.

[2021-05-15 16:56] kucukagan commented on #1055
Thanks a lot  for your answer.

[2021-05-15 16:57] kucukagan commented on #1055
Thanks a lot  for your answer.

[2021-05-15 18:39] #1055 closed

[2021-05-16 07:11] venuraja79 commented on #957
All - raised a WIP PR. Write, get and query methods have been tested offline. I'll create automated tests and update during the next iteration.
There are a few design question and the exact status (pending items etc.,) is in the PR itself. Please feel free to review.

[2021-05-16 07:53] bsathish11 commented on #1050
@tholor @khadkechetan
Guys, In the above code, I am facing a **"OperationalError: too many SQL variables"** in the last step. Attached the ipynb file for your reference. Can you please have a look at it and guide me?
[Haystack - Faiss16may.txt](https://github.com/deepset-ai/haystack/files/6488847/Haystack.-.Faiss16may.txt) ---> Convert it to ipynb

[2021-05-16 21:03] LarsAC commented on #957
Great idea. Weaviate / haystack looks like a good fit. Happy to support / test, if help is needed ?

[2021-05-17 04:58] akkefa commented on #1037
@tholor Please review this pull request?

[2021-05-17 05:51] bsathish11 commented on #1050
@tholor @khadkechetan
Just included batch size parameter here. Now it is working. Thank You!!
document_store_faiss.update_embeddings(retriever=retriever_faiss, batch_size = 100)

[2021-05-17 06:24] kruthikakr commented on #1010
I meant to say , Document Visual QA .. instead of PDF ,Txt files.. if the document is in images . Any plans to bring these kind of data ?

[2021-05-17 06:53] tholor commented on #1050
Glad to hear that it's working now!
Regarding "OperationalError: too many SQL variables" : upgrading sqllite to 3.5.8 or higher or switching to MySQL / PostgreSQL might also help (see #588)

[2021-05-17 07:08] Prabhav55221 opened #1065 "Faster Inference for Larger Models."
**Question**
Hi!
I have been using Haystack to build a CDQA QA System and I am facing a bit of a problem in increasing the inference speed. I am currently using a combination of 2 retrievers - Elastic and DPR along with ALBERT XXL V1 for prediction. I have deployed this using NGINX and Flask.

Right now, it takes around 4-5 seconds to give the result for a question that I think could be improved.

[2021-05-17 07:10] tholor commented on #1010
Yep, that's how I understood you. The answer remains the same: it's super interesting, and I am sure we will eventually add it to Haystack, but don't expect it soon as were are busy with other features.

If you are interested in supporting here and creating a pull request let us know! Happy to support you along the way

[2021-05-17 11:08] samehfrihat commented on #1053
Thank you @julian-risch and @tholor
I tried to run the same command without changing anything and it works.

[2021-05-17 11:08] #1053 closed

[2021-05-17 13:21] tholor opened #1067 "Version conflicts in Colab Tutorials"
**Describe the bug**
There seem to be version conflicts of Haystack dependencies and the new, default Colab environment.

**Error message**
Executing Tutorial 7 yielded:

[code]
**Additional Context**
The error disappears after restarting the colab runtime (after having installed haystack once).
Probably the new, proper package version is only loaded after this restart.

**To Reproduce**
Run Tutor

[2021-05-17 13:56] HerrKrishna opened #1068 "Stacking Multiple Retrievers"
I have a dataset consisting of Customer Support Tickets. I want to use an Embedding Retriever to find the most similar tickets to a query ticket. However, i want to empose a further restriction on the retrieved tickets. I only want to retrieve the tickets that are about the same product and version as the query ticket.
AFAIK i can use an ElasticSearch Retriever to retrieve all documents that share

[2021-05-17 15:57] tholor opened #1069 "Improve handling of duplicate documents during write_documents()"
**Is your feature request related to a problem? Please describe.**
In #1000 we introduced a hashing mechanism that creates the file id depending on document content (default: the text).

The current behaviour:

If you call  `write_documents()` with a batch of documents and one of them is already existing in the document_store (determined by the ID), the request is failing:

Memory store - ValueErr

[2021-05-17 16:10] brandenchan commented on #968
Ran more experiments. Figured it is not related to a persisting Milvus docker container, and running multiple times on the same docker container does not effect performance.  Did runs using both L2 and dot product similarity but the performance difference between Milvus and FAISS is still very suspicious.

All experiments were done with 100K documents.

Similarity FN | Retriever | Document Store |

[2021-05-17 16:30] venuraja79 commented on #1069
Just noticed this, will include this for Weaviate store once the new method signature is decided.

[2021-05-17 18:42] lalitpagaria opened #1070 "Standardization of dependency management"
**Is your feature request related to a problem? Please describe.**
Issue raised on stack [thread](https://haystack-community.slack.com/archives/C01J3TZM9HT/p1621267033292700) by Sam Joy. Currently there many optional dependencies are installed via setup.py. For example flask, fastapi, uvcorn etc packages installed by default even if doesn't want to use rest interface. There are few like tox, cover

[2021-05-17 19:03] lalitpagaria opened #1071 "Add binder playground"
**Is your feature request related to a problem? Please describe.**
Currently all tutorials can be run on colab, but some time it gives version conflicts error like https://github.com/deepset-ai/haystack/issues/1067

**Describe the solution you'd like**
Idea to provide [binder](https://mybinder.org/) playground to user so user can play with it without much worry about dependencies.

**Additional co

[2021-05-18 07:26] Prabhav55221 commented on #1067
I ran into the same problem recently. For me doing this fixed it:

`pip install grpcio==1.32.0`

Rerunning the cell then fixes it. It gives some warnings but works perfectly well post that.

[2021-05-18 13:12] tholor commented on #1034
Seems resolved. Feel free to re-open if not :)

[2021-05-18 13:12] #1034 closed

[2021-05-18 13:24] ufert opened #1072 "Error importing a .csv"
![image](https://user-images.githubusercontent.com/82882042/118658512-bf9f8700-b7ec-11eb-9ac2-619a0b4dbe7e.png)
Everytime I try to import a .csv File I get this "Error". I don't have any problems with a .txt though.

[2021-05-18 14:56] sophgit commented on #1072
Hey @ufert :)
Are you using the same format and names suggested to the right of the csv upload section?
And is your csv is separated by comma and not semicolon?
For me, when I used the exact same names and separated the csv by commas, the upload worked. For example:

document_text,document_identifier,order
this is my text,1234,1
wow this is another cool text,12345,2

Is this working for you?
Howev

[2021-05-19 06:41] Timoeller opened #1073 "Adding GermanQuAD and GermanDPR to HF datasets"
Lets add our data to HF datasets with info from our landing page and links to haystack

[2021-05-19 06:45] Timoeller opened #1074 "Adding proxies to Inferencer"
We want to pass proxies to our inferencer so that we can use them in haystack as well.

Related to https://github.com/deepset-ai/haystack/issues/997

[2021-05-19 06:47] Timoeller commented on #1074
Sorry, wrong board. Will open this issue in FARM and close this one

[2021-05-19 06:47] #1074 closed

[2021-05-19 07:55] ufert commented on #1072
Yes thank you the semicolons were the problem.

[2021-05-19 07:55] #1072 closed

[2021-05-19 09:20] HerrKrishna opened #1075 "Distractor documents during evaluation"
If i understand the evaluation tutorial correctly, there is a way to have questions without answers during evaluation. But is it also possible to have documents that don't contain an answer to any of the questions? These documents would serve as distractors.

[2021-05-19 09:35] HerrKrishna commented on #1075
I think i found the answer. It is possible. All i need to do is prepare a squad file, where the value for the "qas" key is an empty list.

[2021-05-19 09:43] vblagoje commented on #914
@lalitpagaria @lewtun @tholor  I'd like to take this one. I implemented a quick-and-dirty prototype using Yacine's models and it seems to be working ok. Although I don't have any metrics yet, I can see that the seq2seq model is indeed generating answers conditioned on documents given by the retriever.

What would be the ideal set of deliverables for LFQA? Perhaps we can implement LFQA in a few sta

[2021-05-19 12:59] brandenchan commented on #1023
Check if there's a quick alternative to `str.split()` which can maintain whitespaces. This would be an ideal quick fix

[2021-05-19 13:11] Timoeller opened #1076 "Add docker-compose to our CI"
We need to make sure our docker-compose and prebuild images are working correctly and should add automated tests in our CI.
Should automate problems described in #1057

[2021-05-19 16:26] Timoeller commented on #930
Hey @UmerTariq1 could you verify my explanation for the RAM usage?
If this changes the RAM usage I would like to close this issue. Feel free to reopen if the problem persists.

[2021-05-19 16:26] #930 closed

[2021-05-19 20:50] LarsAC commented on #957
Confirmed working for a simple scenario, very nice. If there is something specific you would like me to test, please let me know.

[2021-05-19 20:51] bappctl opened #1077 "FARMReader slow"
**Question**
I am running one of the samples in K8 pod.  It get stuck in FARMReader for long (30+ mins) before it completes. Any reason?

document_store = ElasticsearchDocumentStore(host=app.config["host"],
                                                    port=app.config["port"],
                                                    username=app.config["username"],

[2021-05-19 21:11] shahrukhx01 commented on #611
@tholor @stefanondisponibile I have trained a simple Gradient Boosting based classifier using Scikit-learn on the dataset by @stefanondisponibile. I'm getting an f-1 score of 0.99 on the same test set given on Kaggle, the good thing is the model is roughly 420 KB in size. Please review and let me know if I improve this model, can this be used as a baseline for QueryClassification? Here's the link

[2021-05-19 22:32] bappctl commented on #635
Running into same issue. The FARMReader is stuck for 30+mins. IIt's in a GPU instance, gunicorn using multiple workers and roberta-base-squad2

[2021-05-19 22:43] bappctl commented on #858
@Timoeller
Followed exact steps as below the model is not getting saved to trained_model local folder

[code]

[2021-05-20 06:02] bsathish11 commented on #1050
@tholor , How can we fire a list of queries(say 100 queries) at the same time and each having top 10 responses in faiss?

[2021-05-20 07:14] Timoeller commented on #858
Strange technology :see_no_evil:
What do you mean by the model is not saved to the folder? Do you get an error message or do you just not see the folder?
Which is your current working directory and which Operating System do you use?

You could try specifying the full path instead of a relative path (./trained_model), e.g. on Linux /home/user/foo/bar/trained_model

[2021-05-20 07:28] stefanondisponibile opened #1078 "Preprocessor sentence tokenization language."
**Is your feature request related to a problem? Please describe.**
When using the Preprocessor's sentence splitting feature ([here](https://github.com/deepset-ai/haystack/blob/f46b09c756ff6241648cb8ea6138d1f6544b38b1/haystack/preprocessor/preprocessor.py#L177) and [here](https://github.com/deepset-ai/haystack/blob/master/haystack/preprocessor/preprocessor.py#L218)) the language is not passed to th

[2021-05-20 07:54] tholor commented on #1078
Yes, this makes total sense. Would you be interested in raising a PR?

[2021-05-20 08:30] tholor commented on #611
@shahrukhx01 super nice! I only had a quick look at the notebook, but seems promising.
I am wondering a bit what the model actually learns. As it's using n-gram features, it might mainly learn strong keywords like "what, how ..." and maybe the query length. However, I think even that could be a helpful first baseline. We can check how well it transfers to other datasets and domains. I think it wou

[2021-05-20 09:02] julian-risch commented on #1073
@Timoeller could you please review this so that we can close this issue?

Both datasets are uploaded, have dataset cards with links to our landing page and to haystack, and are linked to the models we trained on them. Main effort was to code a generate_examples method that yields records from the datasets, e.g., here: https://huggingface.co/datasets/deepset/germanquad/blob/main/germanquad.py

* Ge

[2021-05-20 09:12] shahrukhx01 commented on #611
@tholor Sure! I will raise the PR this coming weekend, also, I can also train a plain (Bi)LSTM, which would be more robust, and then we can compare results with this and @stefanondisponibile's model. Do we have a threshold for how much memory can a model take without considerably taking too many resources. Would a model of size 5-10 MBs be okay provided it gives significant robustness? Please let

[2021-05-20 10:12] tholor commented on #611
Awesome!

I am more concerned about latency than memory. I think even a model of ~50-100 MB would still be okay if the latency is not slowing down the whole pipeline. A forward pass of a distilbert model takes roughly 0.05 seconds on a CPU (batch size 1, seq_len=256, see [here](https://docs.google.com/spreadsheets/d/1sryqufw2D0XlUH4sq3e9Wnxu5EAQkaohzrJbd5HdQ_w/edit#gid=0)) and I would probably con

[2021-05-20 10:31] shahrukhx01 commented on #611
Ah, I see, in that case, I will then fine-tune a small transformer model and push it on the hugging face model hub and subsequently, create a separate PR for that once done.

[2021-05-20 12:15] tholor opened #1079 "Compatibility with NMSLib of OpenDistro for ANN"
**Is your feature request related to a problem? Please describe.**
- Would be great to leverage OpenDistro's ability to use NMSLIB for approximate nearest neighbour search
- Would be another alternative to FAISS and milvus for large datasets and dense retrieval

**Describe the solution you'd like**
- Check steps needed to create index with vector field for ANN
- Implement it in Haystack
- Verify q

[2021-05-20 13:27] SasikiranJ opened #1080 "Top_K_options in streamlit UI broken"
**Question**
Hello Everyone, In latest version of haystack , while using streamlit ui slider options for setting top k reader and retriever not working. Kindly look into this once

**Additional context**
Add any other context or screenshots about the question (optional).

[2021-05-20 13:49] vblagoje commented on #914
Hey guys, here is LFQA implementation preview https://github.com/vblagoje/haystack/tree/lfqa_h and the you can also checkout the [notebook](https://colab.research.google.com/drive/1UvT8WjIaecsbaaQXSljKpFpy0q1SxNAd?usp=sharing)
LMK what is the best way to proceed from here. I'd love to hear your feedback.

[2021-05-20 15:30] oryx1729 commented on #974
Hi @arnabhik, I'm closing this thread, but feel free to re-open if you still face any issues.

[2021-05-20 15:30] #974 closed

[2021-05-20 15:31] oryx1729 commented on #928
Hi @giuliodz, I'm closing this thread, but please feel free to reopen if you need any support for the Haystack part with PyInstaller.

[2021-05-20 15:31] #928 closed

[2021-05-20 15:33] #749 closed

[2021-05-20 15:34] #988 closed

[2021-05-20 16:55] tholor commented on #914
Awesome, thanks for working on it @vblagoje!
A few thoughts on how to slice this work into meaningful stages / pull requests:
1. As you already proposed, having a first example implementation for inference only is a good first step
2. Adding the option to train (from plain language models) or fine-tune (take retribert and continue on your smaller domain dataset). Even if ELI5 is the dominant LFQA

[2021-05-21 04:56] lalitpagaria commented on #914
Awesome work @vblagoje.

I had looked into your code also checked https://yjernite.github.io/lfqa.html. I have same comments as @tholor -

- I think we can leverage existing retrievers (sparse, dense and single encoder) as [seq2seq](https://github.com/deepset-ai/haystack/compare/master...vblagoje:lfqa_h#diff-38f701ec62ffc9bfff8c89b8bd59590ece3f7b40402cadb48e32da3968d4c859R114) model is doing encod

[2021-05-21 05:18] SasikiranJ opened #1081 "Combining FAQ and ExtractiveQA in a pipeline with conditions"
**Question**
Hello everyone, I have some use case where i have to provide both FAQ and ExtractiveQA functionalities in single search. I want to know is there way that i can define pipelines.yaml file so that I can switch from FAQPipeline to ExtractiveQA and viceversa based on some condition.

**Additional context**
Add any other context or screenshots about the question (optional).

[2021-05-21 08:57] julian-risch commented on #1073
Good points, thanks. I added the picture and removed the section question.

[2021-05-21 08:57] #1073 closed

[2021-05-21 09:12] sophgit commented on #1081
Hi  #@SasikiranJ,
I think you may be looking for the QueryClassifier class. It allows you to define a condition, in which cases the extractive pipeline should be called and in which the FAQ pipeline. Maybe #902 is helpful to you?

[2021-05-21 09:13] #1075 closed

[2021-05-21 10:19] tholor opened #1082 "update_embeddings() doesn't use filters when update_existing_embeddings=False"
**Describe the bug**
While reviewing some other PR, I stumbled across our update_embeddings() method. It seems that the filters there are ignored when update_existing_embeddings=False

We set the filters first but then overwrite them with the embeddings filter:

https://github.com/deepset-ai/haystack/blob/f46b09c756ff6241648cb8ea6138d1f6544b38b1/haystack/document_store/elasticsearch.py#L612-L624

[2021-05-21 11:48] SasikiranJ commented on #1081
Thank you for the suggestion. But I have already gone through that still not able to frame solution to my use case. I will just explain my use case:-
Given a Query
I want to run FAQ pipeline first and if similarity between user query and stored query(contains answer) is less than some threshold. I want to switch to extractiveQA and display answer of ExtractiveQA. If similarity is greater then i wi

[2021-05-21 11:55] SasikiranJ commented on #902
@tholor is Document2Answer class available?

[2021-05-21 11:58] tholor commented on #1081
Hey @SasikiranJ ,

That's actually a cool use case and should be possible in Haystack. The QueryClassifier is just one example of a "Decision Node". You are free to write your own custom one. See [this](https://haystack.deepset.ai/docs/latest/pipelinesmd#Custom-nodes) for an example. You can place your node in your pipeline after the FAQPart, write a condition in the node that checks the similarit

[2021-05-21 12:01] SasikiranJ commented on #1081
@tholor Ok. I will try . Thank you

[2021-05-21 12:02] tholor commented on #1068
Hey @HerrKrishna ,

In general stacking retrievers is totally possible: You can concatenate their results or merge the score. See the [docs](https://haystack.deepset.ai/docs/latest/pipelinesmd#Multiple-retrievers) for an example.

Just be aware: filtered queries are currently not supported by FAISS or Milvus DocumentStores, but if you use ElasticsearchDocumentStore this should work.

[2021-05-21 12:04] SasikiranJ commented on #1081
@tholor is Document2Answer class available? one you mentioned in other issue.

[2021-05-21 12:12] tholor commented on #1065
Just to make sure I understood you correctly you use ES+DPR, join their results and feed that to a Reader with ALBERT XXL?

The model you chose is pretty big. If it's not an option to go for a smaller one here, you probably want to reduce the amount of text that your reader model needs to process (either lower top_k for the retrievers or smaller documents by splitting them beforehand). See https:/

[2021-05-21 12:14] lalitpagaria commented on #779
@tholor I have hackish idea to achieve this. Please let me know how this sound -
- Create embedding of meta data (converting it into sorted json, and adding filer for None) and storing it along with text in vector store
- For query with filter append filter json and perform search based on it. It will return documents more closer to filter params
- Perform final filtering in memory on returned doc

[2021-05-21 12:18] #1037 closed

[2021-05-21 12:18] #1082 closed

[2021-05-21 12:25] tholor commented on #1077
Hey @bappctl,

How long were your two txt documents?
I assume you are running this on CPU nodes in k8?
What happened before `2021-05-19 23:34:10 +0000] [1] [CRITICAL] WORKER TIMEOUT (pid:8)`?

One thing that you can try to narrow down the root cause: Disable the multiprocessing for inference. You can do that via
passing `num_processes=0` to the `FARMReader`.

As a side note: With only two docs the

[2021-05-21 12:37] tholor commented on #779
That's an interesting, creative idea @lalitpagaria .

I think it could work if your filters were kinda static (e.g. always querying for filter `company=a` or `company=b`). However, if you have sometimes queries without any filter or a filter on another field (e.g. `year=2019`), I think it might affect the quality of your search results. With that I mean: the filtering might work but at the cost of

[2021-05-21 12:51] tholor commented on #902
Nope. You are right this would still be necessary for your case in #1081.

Would you be interested in raising a pull request for it? I can help you with the implementation if needed. Should be rather straight forward...

[2021-05-21 13:26] tholor commented on #1080
Thanks for reporting. We will have a look at it - probably in the next sprint.

[2021-05-21 15:42] Prabhav55221 commented on #1065
Yes, I am using JOIN on the retrievers and the ALBERT XXL Model.

I will try those suggestions and will update the results here. I am already using a split based on words (150 words). Will try experimenting with the top_k parameter. The model, unfortunately, is the only one that I found to work best for my particular use case.

Thanks for your answer!

[2021-05-22 02:49] SasikiranJ commented on #902
@tholor I will try to do PR for that. You have mentioned JoinAnswers class as well. Both Document2Answer and JoinAnswers should be implemented right?

[2021-05-22 08:26] akkefa commented on #1069
@tholor There is _**update_existing_documents**_ arg in every document_store constructor, Which looks like added to handle the duplicate functionality.  It's conflicting with the current implementation **_handle_duplicates_** I m working on.

E.g
If self.update_existing_documents = True and doc_store.write_documents(handle_duplicates="Fail") then Which option to used?

[2021-05-22 09:28] tholor commented on #1069
Yep, good point. I'd suggest we rename both arguments to `duplicate_documents` with options skip, overwrite + fail and use a similar pattern as for  some of the other arts (e.g top_k). You can set the behavior when initializing the documentstore and overwrite it optionally in the method (e.f. for top_k in query())

[2021-05-22 19:05] akkefa commented on #1069
@tholor There are two types of duplicates. The first one when hash ID exists in the Database and 2nd are those when we are creating a list of Document object from Dicts.

E.g

`{'text': '\n==References==', 'score': None, 'probability': None, 'question': None, 'meta': {'name': '133_Game_of_Thrones__Season_5__soundtrack_.txt'}, 'embedding': None, 'id': '7ed12f389f7f085bb30c7d00abd26f81'}
{'text': '\

[2021-05-22 20:04] vblagoje commented on #1069
Hey guys, I just noticed that the notebook tutorial with game of thrones documents started to fail on `write_documents`. Is there a workaround for the time being?

[2021-05-22 20:19] lalitpagaria commented on #1069
add following lines before `document_store.write_documents(dicts)` till proper fix -
[code]

[2021-05-23 06:02] venuraja79 opened #1084 "Weaviate as a Knowledge Graph"
**Is your feature request related to a problem? Please describe.**
Leverage Weaviate as a Knowledge Graph.

**Describe the solution you'd like**
Haystack supports knowledge graph using GraphDB. Don't know enough about the future direction for KG in haystack, however this could be a useful addition.

**Describe alternatives you've considered**
Weaviate brings in semantic learning with its vector ba

[2021-05-23 08:18] jqJordan opened #1085 "Load pre-computed embedding into document store object"
**Question**
I may miss something here. Is there a way to directly load pre-computed embedding(e.g. DPR on Wikipedia dump) into the document store object? I see FAISSDocumentStore has two components, documents, and their embeddings. It seems that all tutorials first write the document with write_documents(dicts), and then call update_embeddings(retriever). But if I already have the pre-computed em

[2021-05-23 08:33] tholor commented on #1085
Hey @jqJordan ,

Yep, that's absolutely possible.
Just put your embedding in the dict using the key `embedding`. It will then be converted to Haystack's `Document` object where the embedding is one of the attributes: https://github.com/deepset-ai/haystack/blob/4ab1bc3c3ec0f7f2bb86625e4a71b231c034f5dd/haystack/schema.py#L41

[2021-05-23 08:45] jqJordan commented on #1085
Thank you so much for the speedy response. I did a small test and it worked very well.

[code]

[2021-05-23 08:50] #1085 closed

[2021-05-23 15:33] shahrukhx01 commented on #611
I have finetuned a mini-bert classifier using first 100K train samples, I'm getting a test accuracy of .997, however, when I test the model on random phrases (not taken from dataset) it doesn't perform as intended. Although, If I take any random phrase from test set at the same time, the model classifies it correctly, I suspect there could be a data leak the way data is split, however, I could be

[2021-05-24 10:06] #1002 closed

[2021-05-24 10:09] pascalhuszar opened #1089 "sqlite3 IntegrityError"
**Describe the bug**
Tthe faiss.loader is starting and after and when calling the write_documents(docs) method the below error message wil raise

**Error message**
[code]

**Expected behavior**
The doc object or in general the docs would be written in the doc_store

**Additional context**
Using the ARC corpuss

**To Reproduce**
Steps to reproduce the behavior

**System:**
 - OS: Red Hat Enterprise

[2021-05-24 10:55] lalitpagaria commented on #1089
@pascalhuszar Your DB already have documents with these docs ids -
[code]
Currently document store will throw error in case of duplicate documents. We are working towards to properly handle this scenario in https://github.com/deepset-ai/haystack/issues/1069

[2021-05-24 14:58] raghav-menon opened #1090 "Error when using InMemoryDocumentStore()"
I had installed haystack and was trying to use inMemoryDocumentStore(). After initializing the document store, when I try to index it I receive the following error

--------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-37-b04f4f16577b> in <module>()
----> 1 document_store.write_documents

[2021-05-24 15:40] tholor commented on #1090
Hey,

We recently introduced in #1000 a basic hash mechanism that prevents writing duplicate documents to the documentstore. This was a common source of error and confusion for users in the past. Per default we generate the ID by hashing the documents text - you can customize this to other fields  (see #1000).

In #1088 we will improve the user options to specify what happens in the case of duplic

[2021-05-25 07:55] monika1800 opened #1091 "MostSimilarDocumentsPipeline -Functionality to get top n documents by document Id rather than a query"
**What**

Is there an existing functionality to get top n documents by document Id rather than a query or is it possible to combine existing functionality  to achieve this?

[2021-05-25 09:52] angelopf commented on #1011
Hi! Thanks a lot for the answers. Yes, I believe I only need to train a reader, and therefore my previous question on the DPR is not applicable.

To generate the training data, it seems like the appropriate method would be through the annotation tool. However, I already have an extensive list of questions and expected answers, and would like to incorporate them all in one go, without having to man

[2021-05-25 09:58] angelopf commented on #1012
I believe it does, will give it a try :)

That would be awesome, will keep an eye out for that. Cheers!

[2021-05-25 09:58] #1012 closed

[2021-05-25 11:30] #1069 closed

[2021-05-25 12:44] Timoeller commented on #975
Sure, using DPR would be an option for having longer answers. You would actually just get a text passage where the answer should be located.

Do you have firewall constraints or why dont you load the model by just initializing the DPR as shown in our tutorial like:
[code]

If you should encounter bugs related to loading DPR, please open a separate issue with detailed error messages. Thanks.

Btw c

[2021-05-25 12:46] kruthikakr commented on #975
yes,Thank you

[2021-05-25 12:46] #975 closed

[2021-05-25 14:11] #1089 closed

[2021-05-25 14:35] pascalhuszar opened #1092 "Installation from master"
**Question**
How exactly can we install haystack from the master branch?
`pip install git+https://github.com/deepset-ai/haystack.git` doesn't install directly from master right?
I also added `@master` to the command above but it seems like no changes were made.
In the readme there is this introduction
[code]
but the pip install command raises me  `ERROR: You must give at least one requirement to i

[2021-05-25 15:26] julian-risch opened #1093 "Remove quick fix to avoid applying DataParallel twice?"
**Is your feature request related to a problem? Please describe.**
Issue #224 reported problems with a multi-GPU setup and #234 introduced a quick fix. However, commenting out the fix, I cannot reproduce the earlier problems anymore.

**Describe the solution you'd like**
I wonder if the quick fix to avoid applying DataParallel twice can be removed by deleting the following [three lines of code](ht

[2021-05-25 15:39] julian-risch commented on #1092
Hi @pascalhuszar `pip install git+https://github.com/deepset-ai/haystack.git`installs the default branch, which is currently the master branch. That explains why adding `@master` to the command does not change anything.

Regarding the steps in the readme and your error message, for some reason your pip install command does not process `--editable .`. If I run `pip install --editable .`it works fin

[2021-05-25 16:00] pascalhuszar commented on #1092
I managed it.. the problem was that some newly added features were not present in my project. Even the pip install didn't update my version, as it should be.. i then uninstalled farm-haystack and reinstalled via `pip install git+https://github.com/deepset-ai/haystack.git`

[2021-05-25 16:00] #1092 closed

[2021-05-25 16:53] AlviseSembenico opened #1094 "PDFTOTEXT does not seem to be installed on GPU Docker"
**Describe the bug**
pdfto text does not seem to be working from the GPU Docker

**Error message**

                   File "/home/user/rest_api/controller/router.py", line 3, in <module>
                      from rest_api.controller import search, file_manager
                    File "/home/user/rest_api/controller/file_manager.py", line 20, in <module>
                      pdf_converter = PDF

[2021-05-25 21:02] bappctl commented on #1077
@tholor
- Just a one pager document (two them)
- Running in GPU nodes
- It times out in FARM Reader
- Agree on side note, it's next step after seeing overcoming above issue

TransformersReader  works but FARMReader couldn't get it to work.

[2021-05-26 03:17] bappctl opened #1096 "TransformersReader train"
**Question**
What function to be invoked to train TransformersReader (similar to train() in FARMReader)

[2021-05-26 04:07] bappctl commented on #1077
@tholor With TransformersReader how to train on custom data?  (similar to FARMReader train())

[2021-05-26 04:44] Threepointone4 opened #1097 "Category in Annotation tool"
**Question**
what is the difference between Default and Answer_category mode in the annotation tool?

**Additional context**
When I trained the model in answer category mode the accuracy dropped a lot. None of the answers was more than 90%. But when I used default mode the model was performing better. Anything which I am missing or which one should I use?

Secondly, the **Answer not given** option

[2021-05-26 05:47] tholor commented on #1077
@oryx1729 have you seen such an issue in our kubernetes deployment or have an idea what might cause the deadlock here?

[2021-05-26 05:50] tholor commented on #1096
It's not implemented yet for TransformersReader, but you could use this standalone script https://github.com/huggingface/transformers/blob/master/examples/pytorch/question-answering/run_qa.py

[2021-05-26 05:56] #647 closed

[2021-05-26 06:07] bappctl commented on #1077
@tholor Finally made it work. It's something to do with gunicorn threads. When I faced issue I had it set to to 3 threads (very minimum) now I removed it and went with workers and worker-connections then it started working with FARMReader. But threads didn't cause any issue with TransformersReader it  happens only with FARMReader.

[2021-05-26 08:33] Timoeller commented on #1097
Hey @Threepointone4 thanks for using the annotation tool.

### Annotation modes
TLDR: So there are no big differences between the two modes.

In "Answer_category" you have more answer categories including short, long, yes, no and other. Furthermore you can select "answer not given" for a predefined question.

### Performance
I dont understand what you mean with training the model in answer categor

[2021-05-26 09:08] Threepointone4 commented on #1097
@Timoeller  Thanks for the quick response. Yes with the same labelling the results where differed , I can double check and get back.

There is a labelling for yes/no questions , how to utilise that during inferencing, after training for yes/no the aim was the model will rephrase the answer to yes/no which seems not happening.

[2021-05-26 09:58] akkefa commented on #688
@tholor Is this still under progress?

[2021-05-26 11:53] Timoeller commented on #1097
Looking forward to your analysis, we would need to debug here. If the results differ, could you either give me (through pm) access to your annotation account so I can check or post both JSON files here on github (or through PM) please?

How many QA pairs have you created btw?

## yes/no

currently there is no support for yes no answers in the FARMReader. You would need to train a separate model, m

[2021-05-26 12:27] tholor commented on #688
We have it on our roadmap but not really kicked off work except initial exploration of options to parallelize (and distribute pipelines). The hottest candidate is the ray Framework: https://ray.io/

@oryx1729 had an initial look at it. Maybe he can share his early impressions here :)

[2021-05-26 12:51] akkefa commented on #688
Ray seems to be a good option.

[2021-05-26 13:42] SAIVENKATARAJU opened #1098 "Have a couple of doubts on model inference"
I Have a PDF document, basically which is manual book for a product. I thought to create a Knowledge base system using that PDF. So I gathered some Q&A  from that PDF  and tried to fine tune the model. I have the data in SQUAD format.
 My questions are:
 if I want to inference what will be the documents in this line.
`reader.predict(question="Who is the father of Arya Starck?", documents=**documen

[2021-05-26 14:14] Threepointone4 commented on #1097
Hey @Timoeller, Yes there was a difference. I have just completed training the model. Below scores are populated by giving train set only has dev set. I have started inferencing on all the text. It will take some time. Will share that as well.

**With Answer_category :**
05/25/2021 13:10:36 - INFO - farm.eval -   loss: 0.000823736575294681
05/25/2021 13:10:36 - INFO - farm.eval -   task_name: ques

[2021-05-26 14:18] Threepointone4 commented on #1097
Each question has 5 examples. There are 16 questions.

[2021-05-26 14:55] Timoeller commented on #1097
Interesting, we might be on to something - might be a slight difference in how the export works. But it could also come from other parts of the code.

Could you post the data (both JSON exports) and the code you used for training + eval the models so we can look into it?

[2021-05-26 16:01] bappctl commented on #1096
thanks

[2021-05-26 16:05] #1096 closed

[2021-05-26 16:13] oryx1729 commented on #1077
Hi @bappctl, can you share the parameters that you're using for running Gunicorn? We have been using [this](https://github.com/deepset-ai/haystack/blob/94f1a2b5c907ee6f5d3eb57dd2478dd4993fccbf/Dockerfile#L34) for our deployments. It might be possible that you need a higher `timeout` value here?

[2021-05-26 18:13] bappctl commented on #1077
Hi @oryx1729
**[PREDICT]**
Even with this gunicorn config I see issues - first request returns fine with predict, then subsequent request it stalls and get stuck

[code]
The deploy pod has 4 CPUs, 10GB RAM, 1 GPU. Just tried with 2 documents no more than 2 pages.

`CMD ["gunicorn", "--name", "hs", "--timeout", "1800", "--workers", "5", "--worker-connections","2","--worker-class", "gevent", "--bind

[2021-05-27 05:31] Threepointone4 commented on #1097
@Timoeller Sorry I can't upload the data, due to privacy. But when I saw the export of both, apart from answer_category=null in default and Sepcifc value in answer_Category there was no change. Maybe some code issue I am suspecting.

[2021-05-27 05:34] Threepointone4 commented on #1097
Code which i used to train data :

reader = FARMReader(model_name_or_path="deepset/roberta-base-squad2", use_gpu=True,context_window_size=500,return_no_answer=True)

reader.train(data_dir="/content/", train_filename="train_data_default_v2.json", use_gpu=True, n_epochs=20, save_dir="qa_model13",dev_filename="train_data_default_v2.json",evaluate_every=6900)`

Here only the file was changing, one fro

[2021-05-27 06:24] oryx1729 commented on #1077
@bappctl are you using FastAPI for the APIs? In that case, the Gunicorn worker class should be `uvicorn.workers.UvicornWorker`.

Can you share the complete code for your API endpoint?

[2021-05-27 06:30] shahrukhx01 commented on #611
@tholor @stefanondisponibile since we were generating statements by removing some tokens from questions and keeping the text as same, the ML models are learning that mapping, however, not the actual goal we are trying to achieve. I have compiled another dataset which is curated by human knowledge, here I combined [the SPAADIA dataset](http://martinweisser.org/index.html#Amex_a) which provides ~81K

[2021-05-27 07:25] Threepointone4 commented on #1098
Here document will be a list of dicts, each dict containing the context key with the whole pdf text contains.
If you have a mechanism to load and extract contains, then maybe using code like below may help.
        m = DotMap()
        m.text = context ( whole text of pdf )
        answer = reader.predict(query=query, documents=[ m ], top_k=3)
One option is to use **haystack.file_converter** and t

[2021-05-27 08:06] raghav-menon commented on #1090
Thank you. Tried the workaround and it worked.

Regards.

[2021-05-27 08:42] Timoeller commented on #1090
Nice, can we close this issue then?

[2021-05-27 09:05] Timoeller commented on #1097
If you say there was no difference except for values in `answer_category` then the annotation tool should be fine. As a sanity check you could compare also the `answer_start` values per annotation. If the annotations are the same it must be related to random restarts or other parameters you are setting.

Are the documents very long (I suspect so, because you set evaluate_every to a very large valu

[2021-05-27 09:16] raghav-menon commented on #1090
Sure we can close the issue. Thanks and Regards

[2021-05-27 09:16] #1090 closed

[2021-05-27 09:17] Threepointone4 commented on #1097
Yes, I have checked the `answer_start` that also was exactly the same.  Yes, the Documents are very large.
Why do you evaluate and train on the same data? : This was just an experiment to see the report on the train set, and has nothing much value.

I have tried **deepset/roberta-base-squad2** out of the box and the results were really poor, so I have finetuned with the annotation tool SQAUD expor

[2021-05-27 09:25] julian-risch commented on #1084
Hi @venuraja79 Thank you for brining this up. 👍 Currently, haystack's knowledge graph functionality is limited to GraphDB, knowledge stored in the form of triples (subject, predicate, object), and SPARQL queries that can either be created manually or automatically translated from natural language questions.
I had a [brief](https://www.semi.technology/developers/weaviate/current/more-resources/faq.

[2021-05-27 09:27] Timoeller commented on #1094
Hey @AlviseSembenico thanks for using our dockerized version.

### usage
How are you using the docker? Are you interacting with code through a jupyter notebook or do you just use the APIs?

### install pdf2text
Since the pdf2text is an optional package and not installed, have you tried installing it yourself with the mthods proposed in the printouts?

### alternative through tika pdf conversion
We

[2021-05-27 09:41] lalitpagaria commented on #1094
@Timoeller But it seems in dockerfile for GPU it's being installed.
https://github.com/deepset-ai/haystack/blob/master/Dockerfile-GPU#L17
So might be some issue on building and releasing these docker images

[2021-05-27 09:42] Timoeller commented on #1091
Hey @monika1800

If you just want to get documents I would not use our query functionality of the retrievers. Retrievers always want to combine a search query to retrieve relevant documents.

What you are looking for is the inside our document store directly.
We have `document_store.get_document_by_id()`
and `document_store.get_all_documents()`.

I guess you are splitting up your documents and wan

[2021-05-27 10:17] Timoeller commented on #1097
Makes sense.

So when running QA on long documents you will run into the problem that there are often multiple correct answers per question. I presume your current annotations currently only mark one of those possibilities, right? Even for datasets like SQuAD with small reference text, there are 3 way annotations per answer for evaluation.

Have you looked into the actual predictions and evaluated

[2021-05-27 10:22] Timoeller commented on #1094
Thats a good point @lalitpagaria , pdf2text should be installed.

I was trying to replicate the issue by building the CPU version which uses the same code for installing pdf2text. When trying to use pdf2text there it works:
[code]

So @AlviseSembenico how do you build the images and use them? Could you post the code please?

[2021-05-27 13:55] SAIVENKATARAJU commented on #1098
I am done with fine-tuning the model. but if I want to inference on a single query, I am using the following lines.
[code]
but you know its taking lot of time to load the model. If I want to do  the same in real time how can achieve speed.

[2021-05-27 15:02] stefanondisponibile commented on #1078
hi @tholor, yep, I'll raise a PR soon.

[2021-05-27 15:15] stefanondisponibile commented on #611
good point @shahrukhx01.
I guess with this dataset we could see it more like "*is this a question?*".

[2021-05-27 15:24] SAIVENKATARAJU opened #1102 "OSError: [Errno 12] Cannot allocate memory"
Getting cannot allocate memory . I am using Jupyter notebook in GCP 4 vCPUs, 15 GB RAM and NVIDIA Tesla K80 x 2. I need to restart the keranl every time. cannot do more than two inferences without restarting the kernal

[code]

[2021-05-27 16:11] AlviseSembenico commented on #1094
Hi @Timoeller thank you for your reply!
My current usage is starting from your Docker image, add my code to it and run the REST API.
During the debugging process, I isolated the error, in the same way, to were able to replicate it.

Furthermore, I tried to install the pdf2text directly in my Docker but with no success.

[2021-05-27 16:39] AlviseSembenico commented on #1094
According to [this post](https://stackoverflow.com/questions/45912641/unable-to-install-pdftotext-on-python-3-6-missing-poppler), I added the following packages to the image and the problem seemed solved.

`RUN apt-get install libpoppler-cpp-dev pkg-config -y --fix-missing`

Shall I do a PR?

[2021-05-27 16:42] julian-risch commented on #1093
With Timo I just saw that the optimize_model method is not called anymore in the Inferencer in FARM but the import is still there. @tholor your commit here removed the call of optimize_model in the Inferencer. That's why I could not reproduce the error, I guess. https://github.com/deepset-ai/FARM/commit/94c6b8d88486359a9aae694d094783e7baff07b1#diff-8a98ef73f1fa756ee7fdc0cd3a2f8bdc07f4e2eb490111356

[2021-05-28 06:17] bappctl commented on #1077
@oryx1729

I am not using FastAPI. No luck with both train and predict

[code]

[2021-05-28 06:43] oryx1729 commented on #1077
Hi @bappctl, in the `/haystack/predict`, the model is reloaded each time a question is being asked. It would be more efficient to declare the pipeline outside the `predict()` method, so as to load it only once when the Flask app starts.

[2021-05-28 07:49] #573 closed

[2021-05-28 08:34] SAIVENKATARAJU opened #1103 "Can I load fine tuned model using FARMReader to Automodel in transfromers"
**Question**
I have finetuned my model on using Farmreader().train. I have a model files like this **language_model.bin,prediction_head_0.bin,        special_tokens_map.json,language_model_config.json ,rediction_head_0_config.json,tokenizer_config.json,processor_config.json          vocab.txt**, How do I load this model to transformers Automodel.from_pretrained()?

[2021-05-28 08:34] Timoeller commented on #1094
Nice one, yes, we would appreciate a PR.

[2021-05-28 08:50] pascalhuszar opened #1104 "Slow performance with FAISSDocumentStore and DPR"
**Question**
How to speed up the process? Is there something wrong?

**Context**
I experience a slow performance when using FAISSDocumentStore and DensePassageRetriever. As documents i use the ARC Corpus from AI2 Reasoning Challenge (ARC). The dataset consists of 14.431.800 docs (sentences).
It takes about ~3h for writing the doc in the document store. After that the document embeddings are update

[2021-05-28 08:50] ShoubhikBanerjee opened #1105 "Failed to load model : "allenai/longformer-base-4096""
**Describe the bug**
Failed to load model : "**allenai/longformer-base-4096**"
Model Description : [https://huggingface.co/allenai/longformer-base-4096](https://huggingface.co/allenai/longformer-base-4096)

**Code I Tried**

`from haystack.retriever.dense import EmbeddingRetriever`
`retriever = EmbeddingRetriever(document_store=document_store,
                              embedding_model="allenai

[2021-05-28 09:56] lalitpagaria commented on #1104
Can you please try with `duplicate_documents='skip'` and compare speed (Let's say only write 10.000 docs)

[2021-05-28 10:12] pascalhuszar commented on #1104
Now i get the message for different ids `WARNING - haystack.document_store.base -   Duplicate Documents: Document with id 'd8631ec55781b8ee775ae28d39f4fc70' already exists in index 'document'` like very 1-2 seconds

[2021-05-28 10:25] lalitpagaria commented on #1104
Yes it seems you have lot of duplicate text/docs. It would be better to clean them first then try.

[2021-05-28 10:45] AlviseSembenico commented on #1094
Sure, here the related PR https://github.com/deepset-ai/haystack/pull/1107

[2021-05-28 10:49] pascalhuszar commented on #1104
Like ` doc_store_faiss.delete_documents()`? But that doesn't work. Could you provide me an example how to clean up the doc store

[2021-05-28 12:16] vblagoje opened #1108 "Improve document stores unit test parametrization"
**Is your feature request related to a problem? Please describe.**

I noticed that, from developer's perspective, it is not trivial to invoke document/retriever/generator unit tests for a subset of document stores. Most of the document store related unit tests test certain functionality on **all** document stores which in turn require **all** document store setup on a local machine etc. Moreover,

[2021-05-28 12:41] venuraja79 commented on #1084
Thank you @julian-risch for your thoughts on this. I see that Weaviate's schema requirement as a limitation in this case.
I raised this because #957 Haystack will support weaviate as a document store in future and may be able to leverage it as a graph also. No other use cases in mind currently. Thank you!

[2021-05-28 14:27] brandenchan opened #1109 "Add Usage Page about Metadata and Filtering"
As requested by a community user, it would be great to have more documentation regarding how to use metadata fields and how to filter

[2021-05-28 16:42] julian-risch commented on #1084
Alright. Let's wait for the pull request and see what functionality it provides: https://github.com/deepset-ai/haystack/pull/1064 It's definitely a cool idea to query the new WeaviateDocumentStore with GraphQL. For now, I'd say we wait and see whether we come across a use case that would benefit from having a Weaviate-based knowledge graph in haystack. If it's okay with you, I would close this iss

[2021-05-28 19:05] akkefa commented on #688
@oryx1729 Can you share with me whats your thoughts?

[2021-05-28 19:30] tholor commented on #1091
@monika1800 Let us know if the above comment already resolved your issue or if you are maybe rather looking for a way to find the n most similar document for a given document with id ABC. That would be a slightly different use case, but definitely achievable with a retriever (e.g. EmbeddingRetriever).

[2021-05-28 19:42] tholor commented on #1108
@vblagoje Good point. I think this would definitely be helpful.
I guess you saw that we have some markers on the test level that allow you to select a subset of tests you want to run (see https://github.com/deepset-ai/haystack#heart-contributing and https://github.com/deepset-ai/haystack/blob/master/test/conftest.py#L48). However, we don't have anything to select a subset on a more granular level

[2021-05-28 20:06] bappctl commented on #1077
@oryx1729
irrespective the same code (even when model called every predict) is not stuck with TransformersReader. I will give a try with your suggestion.

[2021-05-29 08:52] shahrukhx01 commented on #611
baseline model update:
I have trained the same gradient boosted model however this time on the newer data, here are the scores:
spaadia/squad test set: 95% [Kaggle Notebook](https://www.kaggle.com/shahrukhkhan/questions-v-statement-gradient-boosting-classifier)
quora test set (this is the dataset Stefano created): 83% [Kaggle Notebook](https://www.kaggle.com/shahrukhkhan/question-v-statement-detec

[2021-05-29 09:15] stefanondisponibile commented on #611
hi @shahrukhx01, I'd wait @tholor's opinion on this, too. Just wanted to say great job. And interesting idea using one dataset for the training and a totally different one for testing.

[2021-05-29 09:36] akkefa commented on #1005
@tholor @lalitpagaria Do _/pipelines_ endpoints will update the YAML file mentioned in the config.py file?

`PIPELINE_YAML_PATH = os.getenv("PIPELINE_YAML_PATH", "rest_api/pipelines.yaml")`

[2021-05-29 10:54] tholor commented on #611
Hey @shahrukhx01

Great work! From your description it sounds like your first transformer was kinda over fitting on dataset 1 / the pattern that was used for creating the keyword samples in there.
I will have a look at your second dataset and play around with the models on Monday. What version of the spaadia dataset did you use? Can you maybe just post 3-5 samples here or a direct download link? F

[2021-05-29 11:55] lalitpagaria commented on #1104
I think `doc_store_faiss.delete_documents()` should work.
@akkefa Do you have any idea as recently you have worked on it.

[2021-05-29 11:57] lalitpagaria commented on #1005
@akkefa I think @oryx1729 might have more understanding of these part of the code

[2021-05-29 12:33] shahrukhx01 commented on #611
@tholor thanks for your response I used the spaadia dataset version 2, you can download the raw dataset [here](http://martinweisser.org/amex_a_corpus.zip) and parsed dataset [here](https://www.kaggle.com/shahrukhkhan/questions-vs-statementsclassificationdataset). I was under the impression we want to distinguish between statements vs questions. If the goal is to distinguish between keyword queries

[2021-05-29 12:53] tholor commented on #1005
@akkefa No, I don't think we should update the pipeline.yml .

[2021-05-29 12:59] tholor commented on #611
Yes, the main goal is keywords vs. questions/statements. However, the other case is also useful. I will have a quick look at the models on Monday and test them on a few random samples. If all look promising we can also add all, as there are other use cases for the statement classifier as well (e.g. to decide if we run QA or not)

[2021-05-29 16:04] venuraja79 commented on #1084
sure, thank you @julian-risch

[2021-05-29 21:25] akkefa commented on #1005
@tholor When we remove or add a new pipeline we are maintaining everything on ram?

[2021-05-29 21:34] bappctl commented on #1077
@oryx1729
As a first step I am just trying to save the model to local and load from there. Below is what i get, anything missing I need to do. Doing nothing special very straight forward.

docker
`CMD ["gunicorn", "--name", "haystack", "--timeout", "1800", "--workers", "5", "--worker-connections","2","--worker-class", "gevent", "--bind", ":8091", "main:app"]`

main.py
[code]

05/29/2021 21:19:32 -

[2021-05-31 07:28] #1084 closed

[2021-05-31 07:46] julian-risch commented on #1067
I found out that grpcio is pre-installed with version 1.34.1 and should match with the version of grpcio-tools that will be installed. That's achieved with the following line added prior to installing haystack:

[code]

Feel free to try out here in colab:
https://colab.research.google.com/drive/1xiGy5FuaIkK-Ittxl3kMFLyqleANbGT4#scrollTo=o-0-KQtPCr1y

[2021-05-31 07:50] julian-risch commented on #1067
@tholor I could add this line to the colab notebooks. What do you think?

[2021-05-31 09:14] AymericSallet commented on #1046
Is the problem solved @julian-risch ?

[2021-05-31 09:24] julian-risch commented on #1046
@AymericSallet unfortunately not yet. Working on it here: https://github.com/deepset-ai/FARM/pull/765 I am sorry that this is taking so long.

[2021-05-31 09:31] julian-risch commented on #1046
When I load the model from disk, the processor returns the same dataset as the processor of the model from the model hub. That's why I assume the tokenization is working fine now after I made some changes to the code in FARM. However, the forward pass of the model loaded from disk still fails:
[code]

[2021-05-31 09:49] tholor commented on #1067
Yes, I think that's an acceptable short-term fix and enough for this issue.
I think a next step would be to have an extra installation option for colab: see https://github.com/deepset-ai/haystack/issues/1070.

[2021-05-31 10:34] akkefa commented on #1104
@lalitpagaria It's working for me.

[2021-05-31 13:31] #423 closed

[2021-05-31 13:59] PiffPaffM opened #1111 "Add API docs for Re-ranker"
We introduced [here](https://github.com/deepset-ai/haystack/pull/1025) the module ranker. The API docs need to be extended for this module by adding a new file pydoc-markdown-ranker.yml to the docs. Moreover, we need to add the generated page to our website.

[2021-05-31 14:12] wolfsbane9513 opened #1112 "Preprocessing of json files"
**Question**
Why does the Preprocessing of a  large json file shows only 20% progress

**Additional context**
I have a set of 20 files to train when I train them individually the Preprocessing step shows 100% but while i train a combine json file it only shows 20% as though only 20% of the dataset has been preprocessed.

Preprocessing Dataset data/merged_file.json:  20%|██        | 4/20 [00:03<00:

[2021-05-31 14:46] vblagoje commented on #1108
@tholor I have a solution but it is a bit of a kludge. I have asked pytest community for advice. I will update the issue as new info comes in.

[2021-05-31 16:44] tholor commented on #611
Hey @shahrukhx01, I had a look at the models and played around with some sample queries.

**Models on Dataset 1**
- Gboost and Transformer both seem to give meaningful results
-  In my very small test set the transformer made 2 errors, the gboost model 3:
[code]

=> It seems that they are both slightly overfitting a bit on certain stopwords rather than the grammatical correctness / structure of a

[2021-05-31 16:57] brandenchan commented on #968
In this branch, I implemented support for l2 and also created a simplified benchmarking script that matches the performance reported elsewhere with the hope that the folks at Milvus might be able to look into our work and double check that we haven't missed anything. (https://github.com/deepset-ai/haystack/tree/milvus_simplified_script)

[2021-05-31 17:01] #1094 closed

[2021-05-31 17:08] shahrukhx01 commented on #611
@tholor thanks for the detailed feedback, yes I will train a mini bert on the spaadia dataset as well soon, before raising the next PR. Also I'd look forward to your comments on the current PR and the way forward there.

[2021-05-31 17:09] #1067 closed

[2021-06-01 06:32] julian-risch opened #1115 "colab json error"
Merge of #1113 is causing failure to some of the ipynb notebooks. Not opening in colab. There is a syntax error caused by the last element in a list having a comma.

![image](https://user-images.githubusercontent.com/13920855/120227621-24d08f00-c267-11eb-8c50-a079a63538f1.png)

_Originally posted by @cvgoudar in https://github.com/deepset-ai/haystack/issues/1113#issuecomment-851617104_

[2021-06-01 09:25] monika1800 commented on #1091
Thanks  @Timoeller.

@tholor Yes my use case was to find the n most similar document for a given document with id ABC.

I was able to achieve this with get_all_documents filtering for a given Id embedding using query_by_embedding.

[2021-06-01 09:27] monika1800 opened #1116 "Unable to update data"
**Question**
When I am trying to run the same document through the pipeline with update_existing_documents: True. I am seeing two versions of the same document with different ids created through ElasticSearchDocstore.

**Additional context**
Wanted to understand what is the best approach to update the existing documents, add new documents in the existing pipeline.

[2021-06-01 09:37] julian-risch commented on #1116
Hi @monika1800 The document that is already stored in the document store will only be updated if the new document has the same id. Otherwise it will be added as a new document with a different id and thus you see multiple documents with the same text but different id.
I recommend to have a look at this test: https://github.com/deepset-ai/haystack/blob/b76ed4c5a4cac54b92e6cad2dc8ce9da07935bc6/test/

[2021-06-01 09:59] monika1800 commented on #1116
@julian-risch I am  trying to run  document_store.write_documents(updated_docs, duplicate_documents="overwrite") with duplicate_documents="overwrite". Getting an error TypeError: write_documents() got an unexpected keyword argument 'duplicate_documents'. Is it part of current elasticsearch.py.

[2021-06-01 10:10] julian-risch commented on #1116
Sorry for the confusion, 7 days ago there were some [changes](https://github.com/deepset-ai/haystack/commit/b76ed4c5a4cac54b92e6cad2dc8ce9da07935bc6#diff-38b6f48f249064e86347342f95a9006fbb51097b48510fe3232d2c0838ef4891) to the handling of duplicate comments and I guess you don't have the latest version of the code at the moment. You could either check out the latest version from GitHub:
[code]
or

[2021-06-01 10:42] oryx1729 commented on #688
Hi @akkefa, apologies for the delay in getting back.

I had a quick look into [Ray Serve](https://docs.ray.io/en/master/serve/index.html#) for deploying a Pipeline as a distributed graph of components, wherein, each component can be running on a different machine(or on the same machine for development). For instance, a Pipeline can have the retriever running on a CPU machine, while the reader runn

[2021-06-01 11:57] Timoeller commented on #1091
Nice.

Would you like to share the code that you used here on github so others can find it? I think this is a pretty common use case, so people will be interested in your solution.
Can we close the issue then as well?

[2021-06-01 12:21] lalitpagaria opened #1117 "SQLAlchemy 2.0 migration changes"
Placeholder ticket to prepare haystack for SQLAlchemy 2.0 migration as it will have few major breaking changes.
Refer [link](https://docs.sqlalchemy.org/en/14/changelog/migration_20.html) for more detail.

Brief information about migration by SQLAlchemy -

[2021-06-01 13:01] #1104 closed

[2021-06-01 13:24] #1056 closed

[2021-06-01 13:35] tholor commented on #1011
Yes, you could also bring your own data. Just bear in mind that for training a reader you need samples of "question + answer + position of that answer in a given text". So just a list of question + answer is not enough for training.

The format for the training data is SQuAD 2.0. You can see the original dataset [here](https://rajpurkar.github.io/SQuAD-explorer/dataset/dev-v2.0.json). It's basical

[2021-06-01 13:42] tholor commented on #1081
@SasikiranJ No, you are right. We don't have it yet. But you can see how it is "manually" converted (without a node) here: https://github.com/deepset-ai/haystack/blob/master/haystack/pipeline.py#L525

Let me know if you need any further help on this.

[2021-06-01 13:51] angelopf commented on #1011
Hi, thanks a lot for the (very complete) answer.

 I only have the answers, yes, not the position in the text. Both uploading the questions/answers via CSV and creating the format through a dataframe would actually work very well. Will try out some of [these methods](https://github.com/deepset-ai/haystack/blob/master/haystack/squad_data.py) and ask if I have troubles.

 By the way, I have a follow

[2021-06-01 13:58] tholor commented on #1057
I could unfortunately not reproduce this issue on my Linux machine. Startup takes a while as the UI image is built on the fly + the API container downloads the model from remote - but after that initial loading time, it worked well for me.

@oryx1729 can you quickly test it on your mac?

[2021-06-01 14:02] Timoeller commented on #998
I will close this issue for now because of inactivity, but lets work on additional metrics in the linked issues.

Feel free to reopen if you need the additional metrics and/or want to start working on the contribution yourself @nyxpho

[2021-06-01 14:02] #998 closed

[2021-06-01 14:05] tholor commented on #1098
Are you concerned about the time it takes to load the model (`FARMReader('./models/')`) or to run inference (`reader.predict('Something here')`) ?

[2021-06-01 14:09] Timoeller commented on #1103
IF you want to load a model trained with the FARMReader in HF Transformers you first have to convert it.
Please have a look at our conversion script in FARM for this: https://github.com/deepset-ai/FARM/blob/master/examples/conversion_huggingface_models.py#L39

[2021-06-01 14:45] Timoeller opened #1120 "change naming of vars in tutorials"
Tutorial 2
Change name of “train_data” variable to “data_dir”

Tutorial 5 in python and colab
Change parameter top_k_per_candidate into top_k

[2021-06-01 15:00] SAIVENKATARAJU commented on #1098
Hi Thanks for the reply,

its taking time for both the cases and I am using

[2021-06-01 15:19] oryx1729 commented on #1057
Hi @gavishpoddar, I'm unable to reproduce it on a Mac. Could you delete your existing Docker Images and try again?

[2021-06-01 15:19] tholor commented on #1098
Regarding loading the model: yes, this takes time. worst case it needs to download the model from the web to disk, then load it from disk to RAM and then place it on your GPU. You could speed up if the model is already available locally (either via cache or via saved model files) and you should make sure that this operation is only done once at the beginning of your script or startup of the REST A

[2021-06-01 16:03] JakubPatrik opened #1122 "Unsupported `meta` document field of type `array<any>`"
### Description
The ability to store custom meta-information about the document led me to use this feature fully. I am trying to save a key-value pair of ` "categories" : [1,2,3] ` as a field that holds a value of type ` array<any>`. Upon asking a question which browses this document, I get this error:

**Error message**
[code]

**Expected behavior**
According to the original documentation of the